body.landingpage {
     .c-main-nav{
     	.style2{
     		.c-header-landing-raq{
     			font-size:14px;
     		}
     	}
     } 
		
	.o-section--callbox {
	    font-size: 20px;
	    font-family: @f-lato;
	}
	
	.lp17__footer {
	   .footer-v2 {
		    font-family: @suisse;
		    .footer-v2-contact-raq {			    
			   .footer-v2-contact {
    				font-size: 12px;    				
    				strong {
					    font-size: 28px;
					}    				
    				span.mobile, span.desktop {
					    font-size: 20px;
					}					
					.callbox-little{
						font-size:16px;
					}					
				}
				.footer-v2-raq {					
					.btnlp17 {						
					    font-size: 14px;
					}
				}
			}
		}
		
		.style3{
			.title{
				font-family: @f-lato;
			    font-size: 37px;
			    @media (max-width: @screen-md-min){
			    	font-size:32px;	
			    }
			    @media (max-width: @screen-sm){
			    	font-size:26px;	
			    }
			}					
					.btnlp17 {
					    font-size: 14px;
					}
		}

		.style6 {
			.title{
				font-family: @f-lato;
			    font-size: 34px;
                @media (max-width: @screen-sm) {
				    font-size: 24px;
				}
			}
					
					.btnlp17 {
					    font-size: 14px;
					}
            .btn {
                font-size: 13px;
            }

		}
	    
	    	
	}
}
.landingpage-dmp-destination , .landingpage-destination {
	.btnlp17 {
		font-family: @suisse !important;
		font-size: 14px !important;
		span {
			font-size: 14px;
		}
	}

	.c-hero-banner-landing-dmp {
		.c-hero-banner-landing__title {
			font-family: @f-theano_didot;
			.preOffer , .postOffer {
				font-family: @suisse;
				font-size: 18px;
			}
		}
	}
	.btn-lgr {
		span {
			font-family: @suisse !important;
			font-size: 14px !important;
		}
	}
	.c-footer .c-list--legal__group .c-list--legal a {
		font-size: 10px;
	}
	
	@media (max-width:@screen-sm){		
		 .btn-lgr span,  .btn-lgr span{
			font-size:12px !important;
		}
		 .btnlp17 span,  .btnlp17 span {
			font-size: 12px !important;
		}
	}
}
@media only screen and (max-device-width: 320px) {
	.landingpage-dmp-destination , .landingpage-destination {
		.herobannerLanding  {
			.c-hero-banner-landing-dmp {
				.c-hero-banner-landing__title {
					.preOffer , .postOffer {
						font-size: 14px !important;
					}
	
					b {
						font-size: 32px !important;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: @screen-sm) {
	.landingpage-dmp-destination , .landingpage-destination {
		.c-hero-banner-landing-dmp {
			.c-hero-banner-landing__title {
				font-family: @f-theano_didot;
				margin-top: 12px;
				.preOffer , .postOffer {
					font-size: 17px !important;
				}

				b {
					font-size: 35px !important;
				}
			}
		}

		.landingBackgroundContainer {
			.lp17__section_header_subtitle {
				font-size: 26px !important;
			}
		}
	}
}

