.modal-content {
	.modal-body{
		.LB-EO{			
			 @media screen and (min-width: @screen-sm) {
				.offerTitle {font-size:30px}
				}
			@media screen and (max-width: @screen-sm) {
			 .offerTitle {font-size:26px}
			}			
			.new-eo-modal-textblock{
					h1,h2{
						    font-family: @f-theano_didot;
					}
					.new-eo-modal-greybox{
						font-family: @f-theano_didot;
						i{
							    font-family: @f-theano_didot;
						}
					}
				}
				.new-eo-modal-description {
				    font-family :  @f-open_sans;
				}				
				.new-eo-modal-footnotes {
					font-size: 11px;
					font-family :  @f-open_sans;
				}
				
				.new-eo-modal-cta{
				    .btn_base{				    	
					    font: 600 12px @f-open_sans;					    
					    font-size: 12px;
				    }
			}
		}
	}
}