.modal-content {
	.modal-body{
		.LB-EO{			
			 @media screen and (min-width: @screen-sm) {
				.offerTitle {font-size:@h3-desktop-fontsize-30}
				}
			@media screen and (max-width: @screen-sm) {
			 .offerTitle {font-size:@h3-mobile-fontsize-24}
			}			
			.new-eo-modal-textblock{
					h1,h2{
						    font-family: @freight;
					}
					.new-eo-modal-greybox{
						font-family: @freight;
						i{
							    font-family: @freight;
						}
					}
				}
				.new-eo-modal-description {
				    font-family :  @suisse;
				}				
				.new-eo-modal-footnotes {
					font-size: @footnote-desktop-fontsize-11;
					font-family :  @suisse;
				}
				
				.new-eo-modal-cta{
				    .btn_base{				    	
					    font: 600 @button-desktop-fontsize-12 @suisse;					    
					    font-size: @button-desktop-fontsize-12;
				    }
			}
		}
	}
}