<div class="container"
    data-sly-use.footer="com.silversea.aem.components.included.FooterUse"
    data-sly-use.pageHelper="com.silversea.aem.helper.PageHelper">
    <section class="o-section o-section--callbox">
        <div class="hidden-xs hidden-sm o-section--callbox--logo text-center">
            <a href="${pageHelper.homePage.path @ extension='html'}">
                <img class="spritelogo-dark" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="  alt="${pageHelper.homePage.title || currentPage.title}" />
            </a>
        </div>
        <p data-sly-use.countryHelper="com.silversea.aem.helper.CountryHelper">
            <span class="hidden-xs">
                ${'call-reservations-team-1' @ i18n}: <a href="tel:${countryHelper.clickableLocalizedPhone}"><strong>${countryHelper.localizedPhone}</strong></a><br/>
                ${'call-reservations-team-2' @ i18n}
            </span>
            <span class="visible-xs-block">
				<sly data-sly-use.googleForwardingNumberTemplate="/apps/silversea/silversea-ssc/components/included/googleforwardingnumber/googleforwardingnumber.html" />
            	<sly data-sly-call="${googleForwardingNumberTemplate.clickToCall}" />            
           	</span>
        </p>
    </section>
    <section class="o-section o-section--legal">
        <sly data-sly-use.legalTemplate="legal.html" data-sly-call="${legalTemplate.default @footer=footer}" />
    </section>
</div>