<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body" data-sly-use.exclusiveOffer="com.silversea.aem.components.page.ExclusiveOfferUse">

<div style="float: left;height: 100.0%;width:100%" class="LB-EO"> 
	<sly data-sly-test.imageUrl="${exclusiveOffer.exclusiveOfferItem.imageLBPath}" data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = imageUrl}"/> 
	<div  class="new-eo-modal-imageblock col-md-4 hidden-xs hidden-sm" style="background: url(${assetHelper.imageUrl @ context='unsafe'}?wid=540) no-repeat center center;">&nbsp;</div>
	<div class="new-eo-modal-textblock col-md-8 col-md-offset-4" style="padding: 60.0px 10px 30px 12px;min-height: 500.0px;">
		<h1 style="font: normal 24.0px theanodidot;text-align: center;margin-bottom: 10.0px;"><b>${exclusiveOffer.exclusiveOfferItem.title @ context='html'}</b></h1>
		<div class="new-eo-modal-position-${exclusiveOffer.exclusiveOfferItem.positionDescriptionDesktopLB} new-eo-modal-position-${exclusiveOffer.exclusiveOfferItem.positionDescriptionMobileLB}">
			<sly data-sly-test=${exclusiveOffer.exclusiveOfferItem.isLBGreyBoxActivated}>
				<sly data-sly-include="/apps/silversea/silversea-ssc/components/editorial/eoBoxes/eoBoxes.html"/>
				<sly data-sly-include="/apps/silversea/silversea-ssc/components/editorial/exclusiveOfferBoxes/exclusiveOfferBoxes.html"/>
			</sly>
			<p class="new-eo-modal-description" style="text-align: justify;">${exclusiveOffer.exclusiveOfferItem.longDescription @ context='html'}</p>
		</div>
		<span class="new-eo-modal-footnotes" style="text-align: justify;">${exclusiveOffer.exclusiveOfferItem.eoFootnotes @ context='html'}</span>
	</div>
	<div class="new-eo-modal-cta col-md-8 col-md-offset-4"><a href="${exclusiveOffer.requestQuotePagePath @ extension='html'}" class="btn_base btn_base-red upcase">${'request-quote' @ i18n }</a></div>
</div>

</div>