@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'opensans';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'opensans';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'theanodidot';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Theano-Didot/TheanoDidot-Regular.woff');
}
@font-face {
    font-family: 'fontawesome';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fontawesome-webfont.woff');
}
@font-face {
    font-family: 'feature-icon';
    src: url('../fonts/feature-icon.eot?f8zan9');
    src: url('../fonts/feature-icon.eot?f8zan9#iefix') format('embedded-opentype'), url('../fonts/feature-icon.ttf?f8zan9') format('truetype'), url('../fonts/feature-icon.woff?f8zan9') format('woff'),
        url('../fonts/feature-icon.svg?f8zan9#feature-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feature-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adventure:before {
  content: "\e900";
}
.icon-binoculars:before {
  content: "\e901";
}
.icon-bow-tie:before {
  content: "\e902";
}
.icon-camera:before {
  content: "\e903";
}
.icon-chef-hat:before {
  content: "\e904";
}
.icon-crown:before {
  content: "\e905";
}
.icon-diving:before {
  content: "\e906";
}
.icon-driver-cap:before {
  content: "\e907";
}
.icon-food:before {
  content: "\e908";
}
.icon-globe:before {
  content: "\e909";
}
.icon-grappe:before {
  content: "\e90a";
}
.icon-headphone:before {
  content: "\e90b";
}
.icon-heart-hand:before {
  content: "\e90c";
}
.icon-lys:before {
  content: "\e90d";
}
.icon-mark-c:before {
  content: "\e90e";
}
.icon-mark-new:before {
  content: "\e90f";
}
.icon-mark-p:before {
  content: "\e910";
}
.icon-mark-s:before {
  content: "\e911";
}
.icon-meditation:before {
  content: "\e912";
}
.icon-moon:before {
  content: "\e913";
}
.icon-opera:before {
  content: "\e914";
}
.icon-parrot:before {
  content: "\e915";
}
.icon-safari-hat:before {
  content: "\e916";
}
.icon-seat:before {
  content: "\e917";
}
.icon-shield-v:before {
  content: "\e918";
}
.icon-spade:before {
  content: "\e919";
}
.icon-stairs:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e91b";
}
.icon-walk:before {
  content: "\e91c";
}
.icon-wheelchair:before {
  content: "\e91d";
}
.icon-wheelchair-2:before {
  content: "\e91e";
}
.icon-shorex:before {
  content: "\e91f";
}
.icon-asian:before {
  content: "\e920";
}
.icon-Ballet:before {
  content: "\e921";
}
.icon-explorer:before {
  content: "\e952";
}
.icon-whale:before {
  content: "\e927";
}
.icon-black:before {
  content: "\e922";
}
.icon-gray .path1:before {
  content: "\e923";
  color: rgb(128, 128, 128);
}
.icon-gray .path2:before {
  content: "\e924";
  margin-left: -4.10546875em;
  color: rgb(128, 128, 128);
}
.icon-gray .path3:before {
  content: "\e925";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray .path4:before {
  content: "\e926";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray .path5:before {
  content: "\e928";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray .path6:before {
  content: "\e929";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-black2:before {
  content: "\e92a";
}
.icon-gray2 .path1:before {
  content: "\e92b";
  color: rgb(128, 128, 128);
}
.icon-gray2 .path2:before {
  content: "\e92c";
  margin-left: -4.10546875em;
  color: rgb(128, 128, 128);
}
.icon-gray2 .path3:before {
  content: "\e92d";
  margin-left: -4.10546875em;
  color: rgb(128, 128, 128);
}
.icon-gray2 .path4:before {
  content: "\e92e";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray2 .path5:before {
  content: "\e92f";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray2 .path6:before {
  content: "\e930";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray2 .path7:before {
  content: "\e931";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-black3:before {
  content: "\e932";
}
.icon-gray3 .path1:before {
  content: "\e933";
  color: rgb(128, 128, 128);
}
.icon-gray3 .path2:before {
  content: "\e934";
  margin-left: -4.10546875em;
  color: rgb(128, 128, 128);
}
.icon-gray3 .path3:before {
  content: "\e935";
  margin-left: -4.10546875em;
  color: rgb(128, 128, 128);
}
.icon-gray3 .path4:before {
  content: "\e936";
  margin-left: -4.10546875em;
  color: rgb(128, 128, 128);
}
.icon-gray3 .path5:before {
  content: "\e937";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray3 .path6:before {
  content: "\e938";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray3 .path7:before {
  content: "\e939";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray3 .path8:before {
  content: "\e93a";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-black4:before {
  content: "\e93b";
}
.icon-gray4 .path1:before {
  content: "\e93c";
  color: rgb(128, 128, 128);
}
.icon-gray4 .path2:before {
  content: "\e93d";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray4 .path3:before {
  content: "\e93e";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray4 .path4:before {
  content: "\e93f";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-gray4 .path5:before {
  content: "\e940";
  margin-left: -4.10546875em;
  color: rgb(0, 0, 0);
}
.icon-new:before {
  content: "\e941";
}
.icon-private .path1:before {
  content: "\e942";
  color: rgb(0, 0, 0);
}
.icon-private .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-private .path3:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-private .path4:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-silversea:before {
  content: "\e946";
}
.icon-swim:before {
  content: "\e947";
}
.icon-tasting-food:before {
  content: "\e948";
}
.icon-tasting-liquor-WINE:before {
  content: "\e949";
}
.icon-transfer-wheelchair:before {
  content: "\e94a";
}
.icon-unesco:before {
  content: "\e94b";
}
.icon-warning:before {
  content: "\e94c";
}
.icon-clock-moon:before {
  content: "\e94d";
}
.icon-food-cap:before {
  content: "\e94e";
}
.icon-free:before {
  content: "\e94f";
}
.icon-golf:before {
  content: "\e950";
}
.icon-limited-space-book:before {
  content: "\e951";
}