<sly data-sly-use.brochureTeaserListUse="${'com.silversea.aem.components.editorial.BrochureTeaserListUse' @ countryIdParam='FR-FRA-250'}"/>
<section class="o-section">
    <div class="aem-Grid aem-Grid--12">
        <div class="aem-GridColumn aem-GridColumn--default--12">
            <div class="row">
                <div class="brochureteaserlist__header">
                    <div class="brochureteaserlist__header__label">
                        ${'select-language' @ i18n}
                    </div>
                    <div class="brochureteaserlist__header__select">
                        <select id="selectBrochureListLangId" class="chosen">
                            <dl data-sly-list.child="${brochureTeaserListUse.langMap}">
                                <dt>
	                                <sly data-sly-test.currentlang="${brochureTeaserListUse.currentLanguageSelector == child}">
	                                    <option selected value="${currentPage.path @ selectors=[brochureTeaserListUse.currentCountrySelector, child]}">
	                                </sly>
	                                <sly data-sly-test="${!currentlang}">
	                                    <option value="${currentPage.path @ selectors=[brochureTeaserListUse.currentCountrySelector, child]}">
	                                </sly>
                                </dt>
                                    <dd>${brochureTeaserListUse.langMap[child] @ i18n}</dd>
                                </option>
                            </dl>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="o-section">
    <div class="aem-Grid aem-Grid--12">
        <div class="aem-GridColumn aem-GridColumn--default--12">
            <div class="row">
                <dl data-sly-list="${brochureTeaserListUse.brochureList}">
                    <sly data-sly-use.brochureTeaserUse="${'com.silversea.aem.components.editorial.BrochureTeaserUse' @ brochurePathParam= brochureTeaserListUse.brochureList[itemList.index] }">
                    <sly data-sly-resource="${itemList.index @ resourceType='/apps/silversea/silversea-com/components/editorial/brochureteaser'}" />
                </dl>
            </div>
        </div>
    </div>
</section>

<script>
// brochures list component - select language code
$('#selectBrochureListLangId').on('change', function() {
    console.log($(this));
    window.location.href = this.value + ".html";
})
</script>