<sly data-sly-use.brochureTeaserListUse="${'com.silversea.aem.components.editorial.BrochureTeaserListUse'}" />
<section class="o-section">
    <div class="row">
        <div class="col-sm-12">
            <div class="brochureteaserlist__header">
                <div class="brochureteaserlist__header__label">
                    ${'select-the-brochure-language' @ i18n}
                </div>
                <div class="brochureteaserlist__header__select">
                    <select id="selectBrochureListLangId" class="chosen" data-sly-list.child="${brochureTeaserListUse.langMap}">
                        <sly data-sly-test.isCurrentLanguage="${brochureTeaserListUse.currentLanguageSelector == child}" />
                        <option selected="${isCurrentLanguage ? 'selected' : ''}"
                            value="${currentPage.path @ selectors=[brochureTeaserListUse.currentCountrySelector, child], extension='html'}">
                            ${brochureTeaserListUse.langMap[child] @ i18n}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="o-section">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <dl data-sly-list="${brochureTeaserListUse.brochureList}">
                    <sly data-sly-use.brochureTeaserUse="${'com.silversea.aem.components.editorial.BrochureTeaserUse' @ brochurePathParam= brochureTeaserListUse.brochureList[itemList.index] }">
                    <sly data-sly-resource="${itemList.index @ resourceType='/apps/silversea/silversea-com/components/editorial/brochureteaser'}" />
                </dl>
            </div>
        </div>
    </div>
</section>