<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Brochure thank you component"></div>
<div class="c-brochure" data-sly-use.brochure="com.silversea.aem.components.editorial.BrochureThankYouUse">

    <div class="col-sm-12 c-brochure__thankyou">  
       <div class="table-responsive">
           <table>
                <tbody>
                    <tr>
                       <img class="" alt="${brochure.brochure.assetTitle}" src="${brochure.brochure.cover}"/> 
                    </tr>
                    <tr>
                        <td> <h2 class="c-brochure__title"> 
                            ${brochure.brochure.assetTitle} </h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                         <p class="c-brochure__description">${brochure.brochure.assetDescription}</p>
                         </td>
                    </tr>
                    <tr>
                        <td>
                            <a data-sly-test="${brochure.brochure.onlineBrochureUrl}" href="${brochure.brochure.onlineBrochureUrl}" target="_blank" class="btn btn-dark effect" type="button">
                                ${'view-online' @i18n}
                                <i class="fa fa-lg fa-angle-right"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
       </div>
    </div>

   
</div>