<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Brochure thank you component"></div>
<div class="c-brochure row" data-sly-use.brochure="com.silversea.aem.components.editorial.BrochureThankYouUse">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 c-brochure__thankyou datalayer-brochurecode" data-brochurecode="${brochure.brochure.brochureCode}">
    <sly data-sly-test="${brochure.brochure.onlineBrochureUrl}">
        <a href="${brochure.brochure.onlineBrochureUrl}" target="_blank">
	        <img class="o-img" alt="${brochure.brochure.assetTitle || currentPage.title}" src="${brochure.brochure.cover}" />
        </a>
    </sly>
    <sly data-sly-test="${!brochure.brochure.onlineBrochureUrl}" >
        <img class="o-img" alt="${brochure.brochure.assetTitle || currentPage.title}" src="${brochure.brochure.cover}" />
    </sly>
        <h2 class="c-brochure__title">${brochure.brochure.assetTitle}</h2>
        <p class="c-brochure__description">${brochure.brochure.assetDescription}</p>
        <a data-sly-test="${brochure.brochure.onlineBrochureUrl}" href="${brochure.brochure.onlineBrochureUrl}" target="_blank" class="btn btn-dark effect">
            ${'view-online' @i18n} <i class="fa fa-lg fa-angle-right"></i>
        </a>
        <div data-sly-test="${ properties.lightboxReference }" data-sly-use.lightbox="${'com.silversea.aem.helper.PageHelper' @ path=properties.lightboxReference}">
            <a href="${properties.lightboxReference @ extension='html', selectors='modalcontent'}"
                class="btn btn-dark effect" type="button" data-sscclicktype="clic-RAC"
                data-toggle="modal" data-target=".bs-${lightbox.page.properties.modalSize || 'modal-lg'}">
                ${'request-a-call' @i18n} <i class="fa fa-lg fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>