    <div class="container">
        <div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    </div>
    <div class="container">
        <section class="o-section">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--9">
                
                    <div data-sly-test="${wcmmode.edit}" data-sly-unwrap>
       <em>[Editer le composant : voyage Journal DayComponent - SilverSea]</em>
    </div>
    <sly   data-sly-use.journalDay="com.silversea.aem.components.page.VoyageJournalDayUse"
            data-sly-unwrap> <sly data-sly-test.compnt="${journalDay.voyageJournalDay}" />
        <div class="o-section">
            ${pageProperties.dayNumber @ i18n}
        </div>
        <div class="o-section">
            ${compnt.publicationDate @ i18n}
        </div>
        <div class="o-section">
            ${compnt.author @ i18n}
        </div>
        <div>
        <div class="o-section">
            ${compnt.coordinates @ i18n}
        </div>
        <div class="o-section">
            ${compnt.weather @ i18n}
        </div>
        <div class="o-section">
            ${compnt.temperature @ i18n}
        </div>
        <div class="o-section">
            ${compnt.pressure @ i18n}
        </div>
        <div class="o-section">
            ${compnt.wind @ i18n}
        </div>
        </div>
    </sly>
                
                
                    <div data-sly-resource="${'par1' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
                </div>
                        <div class="o-section">
           Bloc pagination day
        </div>
                <div class="aem-GridColumn aem-GridColumn--default--3">
                    <div data-sly-resource="${'par2' @ resourceType='wcm/foundation/components/iparsys'}"></div>
                </div>
            </div>
        </section>
    </div>
