<div class="c-call">
    <span class="c-call__inner">
        <span class="c-call__title">
            Click to call
        </span>
        <span class="c-call__number">
            <span class="fa-stack c-call__number_icon">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
            </span>
            <span>01 70 70 96 22</span>
        </span>
        <span class="c-call__msg">or contact your travel agent</span>
    </span>
</div>