
<!-- row header -->
<div class="c-header">
    <!--  header top  -->
    <div class="c-header_header">
        <div class="container">
            <div class="aem-Grid aem-Grid--12">
                
                <!--  header top logo -->
                <div class="aem-GridColumn aem-GridColumn--default--3 c-header_header_logo">
                    <a href="http://www.silversea.com/fr" class="bound"><img class="spritesilversea-logo" src="/images/logo.png" alt="Silversea" width="404"></a>
                </div>
                <!--  header top logo end -->
                
                <!--  header top navigation -->
                <div class="aem-GridColumn aem-GridColumn--default--9 c-header_header_navigation">

                    <!--  c- NAVBURGER -->
                    <div class="c-nav-burger">
                        <button type="button" class="c-btn">
                            <span class="c-nav-burger-title">MENU</span>
                            <i class="fa fa-bars"></i>
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                    <!--  c- NAVBURGER end -->

                    <div class="navigation">
                        <ul class="top">
                            <li>
                                <a href="#">
                                    <span>aaa</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>bbb</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="bottom">
                            <div class="container">
                                <li>
                                    <a href="#">
                                        <span>ccc</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>ddd</span>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <!--  c- QUOTE REQUEST -->
                    <div class="c-quote-request">
                        <a href="#" class="c-quote-request-link">Request a quote</a>
                    </div>
                    <!--  c- QUOTE REQUEST end -->

                    <!--  c- CALL -->
                    <div class="c-call">
                        <span class="c-call_inner">
                            <span class="c-call_title">
                                Cliquez & appelez
                            </span>
                            <span class="c-call_number">
                                <span class="fa-stack c-call_number_icon">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-phone fa-stack-1x"></i>
                                </span>
                                <span>01 70 70 96 22</span>
                            </span>
                            <span class="c-call_msg">ou contactez votre agent de voyage</span>
                        </span>
                    </div>
                    <!--  c- CALL end -->
                </div>
            
            </div>
        </div>
    </div>
    <!-- end header top -->

</div>