<div class="aem-Grid aem-Grid--12">
    aa
    <div class="aem-GridColumn aem-GridColumn--default--4" style="background: black;">
        bb
        <div class="logo">
            cc
            <a href="http://www.silversea.com/fr" class="bound"><img class="spritesilversea-logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZQAAAAsAQMAAAB45dxPAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABlJREFUeNpjYBgFo2AUjIJRMApGwSgY3gAACPAAAVC8WDIAAAAASUVORK5CYII=" alt="Silversea" width="404"></a>
        </div>
    </div>
    <!-- Top menu right block -->
<!--    <div class="aem-GridColumn aem-GridColumn-default--3 aem-GridColumn-phone--">-->
        <div class="header-secondary">
            <ul class="rowtop-header-secondary-menu">
                <li class="search-icon">
                                <span class="search-expanded-wrap" style="width: 58px;">
                                    <span class="search-expanded">
                                        <span class="glyphicon glyphicon-search"></span>
                                        <form class="mini-search" role="search" method="get" action="http://www.silversea.com/fr">
                                            <input type="text" class="form-control input-lg" placeholder="Entrez votre recherche ici" value="" name="s">
                                            <button class="btn" type="submit">ENVOYER</button>
                                        </form>
                                    </span>
                                </span>
                </li>
                <li class="li-border"></li>
                <li class="menu-lang">
                    <div class="ss-language-selector">
                        <a rel="nofollow" class="current-lang bound"><span class="lang-desktop-label">Fra</span><span class="lang-mobile-label">Français </span><i class="fa fa-angle-down"></i>
                        </a>
                        <div class="languages-list" style=""><div class="single-lang current-lan-mobile"><span class="cell"><span class="lang-desktop-label">Fra</span><span class="lang-mobile-label">Français </span></span></div>
                            <div class="single-lang"><a class="cell bound" href="http://www.silversea.com/pt-br/">
                                <span class="lang-desktop-label">Por</span><span class="lang-mobile-label">Portugais</span>
                            </a></div>
                            <div class="single-lang"><a class="cell bound" href="http://www.silversea.com/es/">
                                <span class="lang-desktop-label">ESP</span><span class="lang-mobile-label">Espagnol</span>
                            </a></div>
                            <div class="single-lang"><a class="cell bound" href="http://www.silversea.com/">
                                <span class="lang-desktop-label">Eng</span><span class="lang-mobile-label">Anglais</span>
                            </a></div>
                            <div class="single-lang"><a class="cell bound" href="http://www.silversea.com/de/">
                                <span class="lang-desktop-label">Deu</span><span class="lang-mobile-label">Allemand</span>
                            </a></div><i class="fa fa-angle-up"></i></div></div></li>
                <div class="menu-header_top_fr0-container"><ul id="menu-header_top_fr0" class="menu"><li id="menu-item-782380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-782380"><a target="_blank" href="https://my.silversea.com" class="bound">My Silversea</a></li>
                    <li id="menu-item-1135792" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1135792"><a href="http://www.silversea.com/fr/brochures/" class="bound">Brochures</a></li>
                    <li id="menu-item-798987" class="highlight-li menu-item menu-item-type-post_type menu-item-object-page menu-item-798987"><a href="http://www.silversea.com/fr/demander-un-devis/" class="bound">Demander un devis</a></li>
                </ul></div>
                <li class="call">

                                <span class="call-inner">
                                    <span class="call-number"> <span class="baec5a81-e4d6-4674-97f3-e9220f0136c1 google-forwarding-number contact-phone-number" style="white-space: nowrap;">01 70 70 96 22</span>
                                    <span class="glyphicon glyphicon-earphone"></span>
                                </span>
								                                <span class="or-travel-agent visible_desktop">ou contactez votre agent de voyage</span>
								                            </span></li>
            </ul>
        </div>
    </div>
    <!-- end of Top menu right block -->
    <!-- Mobile menu btn -->
<!--    <div class="mob-header-right-wrap clearfix">-->
        <button type="button" class="navbar-toggle collapsed clearfix" data-toggle="collapse" data-target="#main-menu">
            <a class="navbar-brand bound" href="#"><span class="navbar-brand-text">Menu</span></a>
            <div class="icon-bar-wrap">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div class="close-menu">×</div>
        </button>
        <div class="req-text"><a href="http://www.silversea.com/fr/demander-un-devis/" class="bound">Demandez un devis</a></div>
        <div class="call tablet-call-us">
            <span class="icon-wrap cell"><span class="glyphicon glyphicon-earphone"></span></span>
            <div class="call-text cell">
                <span class="click-text">Cliquez &amp; Appelez</span>
                <span onclick="if(isMobile()){goog_report_conversion_custom('tel:01 70 70 96 22');}" class="call-number baec5a81-e4d6-4674-97f3-e9220f0136c1 google-forwarding-number contact-phone-number" style="white-space: nowrap;"><a class="google-track-phone google-forwarding-number bound" href="tel:01 70 70 96 22">01 70 70 96 22</a>
                                </span></div>

        </div>
    </div>
    <!-- end of Mobile menu btn -->
</div>