<div class="c-main-nav__top" data-sly-use.navTop="com.silversea.aem.components.page.HeaderModel">
    <ul class="c-main-nav__top__list clearfix">
        <li class="c-main-nav__top__item visible-xs-block" data-sly-test.page1="${navTop.link1Page}">
            <a href="${page1.path @ extension = 'html'}" class="c-main-nav__top__link">
                <span>${page1.navigationTitle || page1.title}</span>
            </a>
        </li>
        <li class="c-main-nav__top__item" data-sly-test.page2="${navTop.link2Page}">
            <a href="${page2.path @ extension = 'html'}" class="c-main-nav__top__link">
                <span>${page2.navigationTitle || page2.title}</span>
            </a>
        </li>
        <li class="c-main-nav__top__item hidden-lg hidden-md c-main-nav__top__item--right">
            <a href="#" class="c-main-nav__top__link">
                <span>Sign up for offers</span>
            </a>
        </li>
        <li class="c-main-nav__top__item c-main-nav__top__item--small-md hidden-xs hidden-sm" data-sly-test.page3="${navTop.link3Page}">
            <a href="${page3.path @ extension = 'html'}" class="c-main-nav__top__link">
                <span>${page3.navigationTitle || page3.title}</span>
            </a>
        </li>
        <li class="c-main-nav__top__item c-main-nav__top__item--small-md">
            <a href="#" class="c-main-nav__top__link">
                <span>ENG</span>
            </a>
<!--/*             <ul>
                <li><a>POR</a></li>
                <li><a>FRA</a></li>
                <li><a>ESP</a></li>
                <li><a>DEU</a></li>
            </ul> */-->
        </li>
        <li class="c-main-nav__top__item" data-sly-test.search="${navTop.searchPage}">
            <a href="${search.path @ extension ='html'}" class="c-main-nav__top__link">
                <span><i class="fa fa-lg fa-search"></i></span>
            </a>
        </li>
    </ul>
</div>