<div class="c-main-nav__top">
    <ul class="c-main-nav__top--list">
        <li class="c-main-nav__top--item c-main-nav--hide-md c-main-nav--hide-lg">
            <a href="#" class="c-main-nav__top--link">
                <span>Request a quote</span>
            </a>
        </li>
        <li class="c-main-nav__top--item">
            <a href="#" class="c-main-nav__top--link">
                <span>Brochures</span>
            </a>
        </li>
        <li class="c-main-nav__top--item c-main-nav--hide-lg">
            <a href="#" class="c-main-nav__top--link">
                <span>Sign up for offers</span>
            </a>
        </li>
        <li class="c-main-nav__top--item c-main-nav__top--item--small-md c-main-nav--hide-sm">
            <a href="#" class="c-main-nav__top--link">
                <span>My Silversea</span>
            </a>
        </li>
        <li class="c-main-nav__top--item c-main-nav__top--item--small-md">
            <a href="#" class="c-main-nav__top--link">
                <span>English</span>
            </a>
        </li>
        <li class="c-main-nav__top--item">
            <a href="#" class="c-main-nav__top--link">
                <span><i class="fa fa-lg fa-search"></i></span>
            </a>
        </li>
    </ul>
</div>