<div class="c-main-nav__bottom">
    <div class="c-main-nav__container">
        <ul class="c-main-nav__bottom--list">
            <li class="c-main-nav__bottom--item">
                <a href="#" class="c-main-nav__bottom--link">
                    <span>Find your cruise</span>
                </a>
            </li>
            <li class="c-main-nav__bottom--item c-main-nav--visibility-md">
                <a href="#" class="c-main-nav__bottom--link">
                    <span>Exclusive offers</span>
                </a>
            </li>
            <li class="c-main-nav__bottom--item">
                <a href="#" class="c-main-nav__bottom--link">
                    <span>Why silversea</span>
                </a>
            </li>
            <li class="c-main-nav__bottom--item">
                <a href="#" class="c-main-nav__bottom--link">
                    <span>Destinations</span>
                </a>
                <ul class="c-main-nav__subnav c-main-nav__subnav--col2">
                    <li class="c-main-nav__subnav--col">
                        <ul class="c-main-nav__subnav--list">
                            <li class="c-main-nav__subnav--item">
                                <a href="#" class="c-main-nav__subnav--link">Asia</a>
                            </li>
                            <li class="c-main-nav__subnav--item">
                                <a href="#" class="c-main-nav__subnav--link">South America</a>
                            </li>
                        </ul>
                    </li>
                    <li class="c-main-nav__subnav--col">
                        <ul class="c-main-nav__subnav--list">
                            <li class="c-main-nav__subnav--item">
                                <a href="#" class="c-main-nav__subnav--link">World cruise</a>
                            </li>
                            <li class="c-main-nav__subnav--item">
                                <a href="#" class="c-main-nav__subnav--link">Culinary and Wine Voyages</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="c-main-nav__bottom--item">
                <a href="#" class="c-main-nav__bottom--link">
                    <span>Ships</span>
                </a>
                <ul class="c-main-nav__subnav c-main-nav__subnav--col1">
                    <li class="c-main-nav__subnav--col">
                        <ul class="c-main-nav__subnav--list">
                            <li class="c-main-nav__subnav--item">
                                <a href="#" class="c-main-nav__subnav--link">Silver Cloud</a>
                            </li>
                            <li class="c-main-nav__subnav--item">
                                <a href="#" class="c-main-nav__subnav--link">Silver Wind</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="c-main-nav__bottom--item">
                <a href="#" class="c-main-nav__bottom--link">
                    <span>On Board</span>
                </a>
            </li>
            <li class="c-main-nav__bottom--item">
                <a href="#" class="c-main-nav__bottom--link">
                    <span>Ashore</span>
                </a>
            </li>
            <li class="c-main-nav__bottom--item">
                <a href="#" class="c-main-nav__bottom--link">
                    <span>Silversea Expedition</span>
                </a>
                <ul class="c-main-nav__subnav c-main-nav__subnav--col1 c-main-nav__subnav--right">
                    <li class="c-main-nav__subnav--col">
                        <ul class="c-main-nav__subnav--list">
                            <li class="c-main-nav__subnav--item">
                                <a href="#" class="c-main-nav__subnav--link">Silver Cloud</a>
                            </li>
                            <li class="c-main-nav__subnav--item">
                                <a href="#" class="c-main-nav__subnav--link">Silver Wind</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>