.c-fyc {
    &__header {
        border-bottom: 1px solid @grey--d;
        color: @grey--3;
        font-size: 11px;
        font-weight: @bold;
        height: 40px;
        text-transform: uppercase;

        &__inner {
            display: block;
            float: left;

            &:nth-child(1) {
                width: calc(~"85% - 130px");

                > span {
                    float: left;
                    display: block;
                    padding-right: 4px;
                }
            }

            &__departure {
                width: 14.5%;
            }

            &__ship {
                width: 18%;
            }

            &__feature {
                width: 11%;
            }

            &__port {
                width: 55%;
            }

            &:nth-child(2) {
                width: calc(~"15% + 130px");
            }
        }
    }
}
