// HACK CSS FOR IE11
_:-ms-lang(x),
.fyc-v2 .result__actions {
  top: 8px;
}

.fares {
  color: @grey--39;
  font-size: 12px;
  font-style: italic;

  @media screen and (min-width: @screen-md-min) {
    margin-top: 12px;
  }
}

.c-fyc-pagination {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;

  ul {
    display: table;
    margin: 0 auto;
    white-space: nowrap;

    @media screen and (max-width: @screen-sm) {
      font-size: 13px;
    }

    li {
      display: table-cell;

      a {
        border-bottom: 4px solid;
        display: block;
        padding: 10px 5px;

        &:hover,
        &.active {
          background-color: @black;
          border-color: @grey--d;
          color: @white;
        }
      }

      &:first-child a {
        border-radius: 4px 0 0 4px;
      }

      &:last-child a {
        border-radius: 0 4px 4px 0;
      }

      a.previous:before {
        content: "\2190"
      }

      a.next:after {
        content: "\2192"
      }
    }
  }
}

.feature-wrapper {
  text-align: center;
  clear: both;

  span {
    display: inline-block;
    margin: 0 0 10px 10px;

    i {
      font-size: 12px;
      margin-right: 6px;
    }
  }
}

.c-fyc-v2-pagination {
    margin-top:40px;
    color:black;
    .previous, .next {
        font-weight:800;
    }
  li {
    a.active {
        font-weight:800;
      border-bottom: 2px solid @red;
      padding-bottom: 5px;
      color: @black;

      &:before, &:after {
        padding-bottom: 5px;
        border-bottom: 2px solid @red;
        content: ' ';
        padding-left: 5px;
        white-space: pre;
      }

    }
    .fa {
      color: @black;
      margin: 4px;
    }
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: @suisse;
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
    color: black;
  }
  ul {
    text-align: center;
    margin-bottom: 40px;
  }

}
