<div data-sly-use.SignUpUse="com.silversea.aem.components.editorial.SignUpUse"
     data-sly-test.empty="${!properties.pageReference && wcmmode.edit}"
     class="cq-placeholder"
     data-emptytext="RAB Widget"></div>

<form class="c-subscribe__form form-inline c-formcookie c-formcookie--redirect c-form--rab"
      data-disable="false"
      action="${SignUpUse.pageReference || properties.pageReference @ extension='html'}" novalidate>
    <div class="row form-group">
        <div class="col-xs-12">
            <label class="c-subscribe__form--label">
                <span class="c-subscribe__form--label-text">${'request-or-download' @ i18n}</span>
                <span class="c-subscribe__form--label-important">${'free-brochure' @ i18n}</span>
            </label>
        </div>
        <div class="col-xs-9">
            <input class="o-input o-input--dark o-input--lg col-xs-12"
                   name="email"
                   placeholder="${'your-email-address' @ i18n}"
                   type="email"
                   pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"
                   data-required-error="${'required-email-address' @ i18n}"
                   data-error="${'incorrect-email-address' @ i18n}" required 
                   data-email-error="${'incorrect-email-address' @ i18n}"
            		data-email="" />
        </div>
        <div class="col-xs-3">
            <button class="btn btn-default pull-right c-btn--lg"
                    type="submit"
                    data-sscclicktype="clic-BRO">
                ${'submit' @ i18n}
                <i class="fa fa-lg fa-angle-right"></i>
            </button>
        </div>
        <div class="col-xs-12">
            <div class="help-block with-errors c-subscribe__form--error"></div>
        </div>
    </div>
</form>