& + .c-footer .c-footer-2018 {
  display: block;
  .c-footer-social-and-signup {
    display: none;
  }
  .c-footer-other-link {
    display: none;
  }
  @media screen and (max-width: @screen-sm) {

    .c-footer-call-and-raq::after {
      display: none;
    }

  }
}

& + .c-footer .footer-v2 {
  display: none;
}

.fixed-footer-cruise {
  display: none;
}

@media (max-width: @screen-sm) {
  .fixed-footer-cruise {
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    width: 100%;
    margin-left: -15px;
    background-color: @white;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 10px 8px;

    .fixed-footer-info {
      position: relative;
    }

    .fixed-footer-price {
      padding: 0px;
    }

    .fixed-footer-quote-price {
      transform: translateY(20%);
      top: 20%;
      position: absolute;
      --webkit-transform: translateY(20%);
    }

    .fixed-footer-container {
      position: absolute;
      top: 32px;
      left: 14%;
      --webkit-transform: translate(-32px, -25%);
      transform: translate(-32px, -25%);
      width: 91%;
    }

    .fixed-footer-quote-rqa {
      padding: 0;
    }

    .fixed-footer-quote-price-from {
      display: inline;
      color: @grey--3;
      font-family: @suisse;
      letter-spacing: 0.5px;
      font-size: 9px;
      line-height: 18px;

    }

    .fixed-footer-quote-price-waitlist-div {
      margin-top: 5px;
    }
    .fixed-footer-quote-price-number, .fixed-footer-quote-price-waitlist {
      display: inline;
      color: @grey--3;
      font-family: @suisse;
      font-size: 18px;
      letter-spacing: 0.43px;
      line-height: 25px;
    }

    .fixed-footer-quote-price-bonus {
      color: @grey--3;
      font-family: @suisse;
      letter-spacing: 0.5px;
      font-size: 9px;
      line-height: 18px;
      margin-top: -7px;
    }

    .fixed-footer-overview-quote-btn {
      float: right;
      border-radius: @nd-button-border-radius;
      display: inline-block;
      font-family: @suisse;
      font-size: @nd-button-font-size;
      font-weight: normal;
      letter-spacing: @nd-button-letter-spacing;
      line-height: @nd-button-line-height;
      margin-bottom: 3px;
      padding: 12px 12px 10px 13px !important;
      text-align: center ! important;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: normal;

      span {
        padding-right: 0 ! important;
      }

      &.btn-red {
        border-width: @nd-button-border-width;
        background-color: @nd-red;
        color: @white;
        &:hover, &:focus, &:active {
          background-color: @nd-red-darker ! important;
          color: @white ! important;
        }
      }
      &.btn-white {
        border: 1px solid @color-second !important;
        color: @color-second;
      }
    }
  }
}

@media (max-width: @screen-xxxxs) {
  .fixed-footer-cruise {
    .fixed-footer-container {
      left: 15%;
    }
    .fixed-footer-overview-quote-btn {
      font-size: 10px;
    }
    .fixed-footer-quote-price-number, .fixed-footer-quote-price-waitlist {
      font-size: 17px;
    }
    .fixed-footer-quote-price-from {
      font-size: 9px;
    }
    .fixed-footer-quote-price-bonus {
      font-size: 9px;
    }
  }
}