
.cruise-2018-suites-fares {

  letter-spacing: 0.5px;

  .cruise-2018-suites-fares-title {
    font-family: @freight;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }

  .cruise-2018-suites-fares-description {
    font-family: @suisse;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    width: 80%;
  }

  .cruise-2018-suites-fares-main {
    font-family: @suisse;
    text-align: center;
  }

  .cruise-2018-link-open-modal {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 950;
  }

  .cruise-2018-suites-fares-container {
    cursor: pointer;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px 0;
    height: 415px;
    padding-bottom: 15px;
    padding-right: 0;

    div.cruise-2018-suites-fares-image div,
    img {
      transform: scale(1.05);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 1s linear;
      -o-transition: all 1s linear;
      transition: all 0.5s linear;
    }
  }

  .cruise-2018-suites-fares-image {
    overflow: hidden;
    position: relative;
    height: 171px;
    margin-bottom: 15px;
  }

  .cruise-2018-suites-fares-description-title {
    font-family: @freight;
    font-size: 24px;
    line-height: 26px;
    height: 30px;
    margin-top: 8px;
    padding: 5px;
  }

  .cruise-2018-suites-fares-description-upto {
    height: 20px;
    font-size: 11px;
    line-height: 18px;
    margin-top: 8px;
  }

  .cruise-2018-offer-text {
    height: 58px;
  }

  .cruise-2018-suites-fares-waiting-list {
    padding-top: 10px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 18px;
  }

  .cruise-2018-suites-fares-price {
    height: 30px;
  }

  .cruise-2018-suites-fares-price-from {
    display: inline;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
  }

  .benefits-show-more, .benefits-show-less {
    display: none;
  }

  .cruise-2018-suites-fares-price-text {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 20px;
  }

  .cruise-2018-suites-fares-waiting-list {
    font-size: 18px !important;
    letter-spacing: 1.5px !important;
    line-height: 16px !important;
  }

  .cruise-2018-suites-fares-details {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: @color-second;
    letter-spacing: 1px;
    padding: 0 6px 0 0;
  }

  .cruise-2018-suites-fares-btn {
    border-radius: @nd-button-border-radius;
    border-width: @nd-button-border-width;
    display: inline-block;
    font-family: @suisse;
    font-size: @nd-button-font-size;
    font-weight: normal;
    letter-spacing: @nd-button-letter-spacing;
    line-height: @nd-button-line-height;
    margin-bottom: 15px;
    margin-top: 30px;
    padding: @nd-button-padding;
    text-align: center ! important;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: normal;
    position: relative;
    z-index: 1000;

    span {
      padding-right: 0 ! important;
    }

    &-red {
      background-color: @nd-red;
      color: @white;

      &:hover, &:focus, &:active {
        @media (min-width: @screen-md-max) {
          background-color: @nd-red-darker ! important;
          color: @white ! important;
        }
      }
    }
  }

  .cruise-2018-suites-fares-price-bonus {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 14px;
    text-align: center;
    display: block;
  }

  .cruise-2018-suites-fares-footnote {
    color: @grey--3;
    font-family: @suisse;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-top: 25px;
    text-align: left;
    font-style: italic;
  }

  .cruise-2018-suites-fares-included {
    display: block;
    width: 100%;
    clear: both;
    padding-top: 25px;
  }

  .cruise-2018-suites-fares-included ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
  }

  .cruise-2018-suites-fares-included li {
    margin-top: 10px;
    padding-left: 1em;
    text-indent: -1em;
    font-family: @suisse;
    color: @grey--3;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .cruise-2018-suites-fares-included-ul li:first-child {
    margin-top: 0px !important;
  }

  .cruise-2018-suites-fares-included li:before {
    content: "✓";
    padding-right: 5px;
  }

  .cruise-2018-suites-fares-included-title {
    color: @grey--3;
    font-family: @suisse;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
  }

  .cruise-2018-suites-fares-included-title-combo {
    font-family: @freight;
    font-size: 24px;
    letter-spacing: .5px;
    line-height: 32px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: capitalize;
  }

  .cruise-2018-suites-fares-included-description-combo {
    color: #333;
    font-family: @suisse;
    letter-spacing: .5px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: @screen-sm) {
  //0-->sm
  .cruise-2018-suites-fares {
    padding: 0;
    padding-top: 25px;
    background-color: @grey--f4;

    #cruise-2018-container0 {
      margin-top: 0px;
    }

    .cruise-2018-suites-fares-included-title {
      letter-spacing: .5px;
      line-height: 32px;
      margin-bottom: 25px;
      text-align: center;
      text-transform: capitalize;
      font-size: 25px;
      font-family: @freight;
    }

    .cruise-2018-suites-fares-included-title-combo {
      font-size: 25px;
    }


    .cruise-2018-suites-fares-container {
      height: auto;
    }

    .cruise-2018-suites-fares-image {
      height: 185px;
    }

    .cruise-2018-suites-fares-title {
      font-size: 25px;
      line-height: 24px;
    }

    .benefits-show-less {
      display: none;
    }

    .benefits-show-more {
      display: block;
    }

    .benefits-show-more, .benefits-show-less {
      text-align: center !important;
      font-size: 12px !important;
      margin-top: 25px !important;
      text-transform: capitalize !important;
      text-decoration: underline !important;

      &::before {
        content: '' !important;
      }
    }


    li.cruise-2018-suites-fares-included-footnotes {
      color: #333;
      padding-left: 0px;
      font-family: @suisse;
      margin-top: 25px;
      font-style: italic;
      font-size: 10px;
      line-height: 11px;
      letter-spacing: 1px;
      margin-bottom: 30px;
      text-align: left;
      text-indent: 0 !important;

      &::before {
        content: '' !important;
      }
    }

    .cruise-2018-suites-fares-container {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
      border: 0;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    .cruise-2018-suites-fares-container:not(first) {
      margin-top: 25px;
    }

    .cruise-2018-suites-fares-description-title {
      font-size: 23px;
      line-height: 20px;
    }

    .cruise-2018-suites-fares-description-upto {
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 1px;
    }

    .cruise-2018-suites-fares-included ul {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      margin: 0px 25px 40px;
    }

    .cruise-2018-suites-fares-included li:before {
      content: "✓";
      padding-right: 0px;
    }

    .cruise-2018-suites-fares-price-from {
      font-size: 10px;
      line-height: 11px;
    }

    .cruise-2018-suites-fares-price-text {
      font-size: 20px;
      letter-spacing: 0.43px;
      line-height: 25px;
    }

    .cruise-2018-suites-fares-price-bonus {
      font-size: 10px;
      line-height: 11px;
    }

    .cruise-2018-suites-fares-details {
      font-size: 12px;
    }

    .cruise-2018-suites-fares-footnote {
      text-align: left;
      margin-left: 5%;
      font-size: 10px;
      line-height: 11px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }

    .cruise-2018-suites-fares-main {
      background-color: @grey--f4;

    }
  }
}

@padding-fares: 7px;

@media screen and (min-width: @screen-sm) and (max-width: @screen-md-max) {

  //sm-->md
  .cruise-2018-suites-fares {
    margin-top: 50px;

    .cruise-2018-suites-fares-title {
      font-size: 30px;
      line-height: 32px;
    }

    .cruise-2018-suites-fares-col {
      padding-left: @padding-fares !important;
      padding-right: @padding-fares !important;
    }

    .cruise-2018-suites-fares-col:nth-child(even) {
      padding-right: 18px !important;
    }

    .cruise-2018-suites-fares-col:nth-child(odd) {
      padding-left: 18px !important;

    }

    .cruise-2018-suites-fares-container:not(first) {
      margin-top: @padding-fares*2 !important;
    }
  }
}

@media screen and (min-width: @screen-md-max) {
  //md-->
  .cruise-2018-suites-fares {
    margin-top: 50px;

    .cruise-2018-suites-fares-title {
      font-size: 30px;
      line-height: 32px;
    }

    .cruise-2018-suites-fares-col {
      padding-left: @padding-fares !important;
      padding-right: @padding-fares !important;
    }

    .cruise-2018-suites-fares-container:not(first) {
      margin-top: @padding-fares*2 !important;
    }
  }
}

@media screen and (min-width: @screen-sm) {
  .cruise-2018-suites-fares {
    .cruise-2018-suites-fares-container {
      @media (min-width: @screen-md-max) {
        &:hover {

          border-color: @grey--7 !important;
          background-color: @grey--o02;

          .cruise-2018-suites-fares-image div {
            transform: scale(1.0);
            -ms-transform: scale(1.0);
            -moz-transform: scale(1.0);
            -webkit-transform: scale(1.0);
            -o-transform: scale(1.0);
            opacity: 0.5;
          }

          img {
            transform: scale(1.0);
            -ms-transform: scale(1.0);
            -moz-transform: scale(1.0);
            -webkit-transform: scale(1.0);
            -o-transform: scale(1.0);
            opacity: 0.5;

          }

          .c-suitelist__button-card {
            background-color: @grey--o02;

          }

          .cruise-2018-suites-fares-image {
            background-color: @black;
          }

        }
      }
    }
  }
}

