<template data-sly-template.default="${ @ list, parent }">
    <div class="panel c-cruise-itinerary-2__list--nested__item" data-sly-repeat.excursion="${list}">
        <div class="collapsed panel--nested__heading" role="button" data-toggle="collapse" data-parent="#${parent}" data-target="#${parent}-${excursionList.count}" aria-expanded="false">
            <div class="panel--nested__heading__description">
                <ul class="visible-xs" data-sly-list.feature="${excursion.features}">
                    <li class="meta_feature_inner">
                        <span class="feature"> <i class="${feature.icon}"></i> <span class="tooltip"><i></i>${feature.title}</span></span>
                    </li>
                </ul>
                <h4 class="text-uppercase"><strong>${excursion.title}</strong></h4>
                <div class="hidden-xs">${excursion.description @ context='html'}</div>
            </div>

            <div class="panel--nested__heading__info hidden-xs">
                <ul class="feature feature-ecgc" data-sly-list="${excursion.features}">
                    <li class="meta_feature_inner">
                        <span class="feature"><i class="${item.icon}"></i> <span class="tooltip"><i></i>${item.title}</span></span>
                    </li>
                </ul>
                <ul>
                    <li data-sly-test="${excursion.duration.hours || excursion.duration.minutes}">
                        ${'duration' @ i18n}:
                        <span data-sly-test.durationHours="${excursion.duration.hours}">${durationHours} ${'hours' @ i18n}</span>
                        <span data-sly-test.durationMinutes="${excursion.duration.minutes}">${durationMinutes} ${'minutes' @ i18n} </span>
                    </li>
                    <li data-sly-test.codeExcursion="${excursion.codeExcursion}">${'excursion-code' @ i18n}: ${codeExcursion}</li>
                </ul>
            </div>

            <span class="btn-more">${'more-info' @ i18n} <i class='fa fa-angle-down'></i></span>
            <span class="btn-less">${'close' @ i18n} <i class='fa fa-angle-up'></i></span>
        </div>
        <div id="${parent}-${excursionList.count}" class="collapse panel--nested__body" role="tabpanel" aria-expanded="false">
            <div class="panel--nested__body__inner">
                <div class="panel--nested__body__content">
                    ${excursion.apiLongDescription @ context='html'}
                </div>
                <ul class="feature feature-ecgc" data-sly-list.feature="${excursion.features}">
                    <li class="meta_feature_inner">
                        <span class="feature"> <i class="${feature.icon}"></i> <span class="tooltip"><i></i>${feature.title}</span></span>
                    </li>
                </ul>
                <ul class="panel--nested__body__info list-inline">
                    <li data-sly-test="${durationHours || durationMinutes}">
                        <strong>
                            <span class="text-uppercase">${'duration' @ i18n}: </span>
                            <span data-sly-test="${durationHours}">${durationHours} ${'hours' @ i18n}</span>
                            <span data-sly-test="${durationMinutes}">${durationMinutes} ${'minutes' @ i18n}</span>
                        </strong>
                    </li>
                    <li data-sly-test.schedule="${excursion.schedule}"><strong>${'schedule' @ i18n}: ${schedule}</strong></li>
                    <li class="text-uppercase" data-sly-test.codeExcursion="${excursion.codeExcursion}"><strong>${'code' @ i18n}: ${codeExcursion}</strong></li>
                </ul>
            </div>
        </div>
    </div>
</template>