<template data-sly-template.default="${ @ cruise }">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="c-cruise__subtitle hidden-xs">${'excursions' @ i18n}</h3>
            <p class="c-cruise__descr">
                ${'cruise-excursion-description' @ i18n}
            </p>
            <div class="c-cruise__shorex-pdf" data-sly-test="${cruise.cruiseModel.tourBook}">
                <a href="${cruise.cruiseModel.tourBook}"><span>${'download-tour-book' @ i18n}</span> <i
                        class="fa fa-file-pdf-o"></i>
                </a>
            </div>
            <div id="excursion-collapse" class="c-cruise-itinerary-2__list" role="tablist"
                data-sly-list.itinerary="${cruise.cruiseModel.ItinerariesStable}"
                data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html">
                <sly data-sly-test.excursions="${itinerary.hasDedicatedShorex ? itinerary.Excursions : itinerary.port.excursions }" />
                 <sly data-sly-test.excursions="${excursions.isEmpty ?  itinerary.port.excursions : excursions }" />
                <div class="panel c-cruise-itinerary-2__list__item" data-sly-test="${excursions && excursions.size > 0}">
                    <div class="collapsed panel__heading" role="button" data-toggle="collapse" data-parent="#excursion-collapse" data-target="#ex-${itinerary.itineraryId}" aria-expanded="false"  aria-controls="ex-${itinerary.itineraryId}">
                        <div class="panel__heading__image">
                            <sly data-sly-call="${imageTemplate.lazy @ imagePath=itinerary.port.thumbnail, width=930}" />
                        </div>
                        <div class="panel__heading__description">
                            <h3><strong>${itinerary.port.apiTitle}</strong></h3>
                            <p>
                                <span>${itinerary.port.country}</span>
                                <span class="visible-xs-inline"><br />
                                <sly data-sly-test="${itinerary.departDate}">${'from' @ i18n} </sly>
                            <span data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='EEEE dd MMM', date=itinerary.date}">${date.value}</span>
                            <sly data-sly-test="${itinerary.departDate}"> ${'to' @ i18n} </sly>
                            <span data-sly-use.departDate="${'com.silversea.aem.helper.DateHelper' @ format='EEEE dd MMM', date=itinerary.departDate}">${departDate.value}</span>
                            </span>
                            </p>
                        </div>
                        <div class="panel__heading__date hidden-xs">
                            <p>
                                <span>
							<sly data-sly-test="${itinerary.departDate}">${'from' @ i18n} </sly>
                            <span data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='EEEE dd MMM', date=itinerary.date}">${date.value}</span>
                            <sly data-sly-test="${itinerary.departDate}"> ${'to' @ i18n} </sly>
                            <span data-sly-use.departDate="${'com.silversea.aem.helper.DateHelper' @ format='EEEE dd MMM', date=itinerary.departDate}">${departDate.value}</span>
							<br /></span>

                            </p>
                        </div>
                        <div class="panel__heading__info hidden-xs">
                            <span>${excursions.size} ${'excursions' @ i18n} ${'in' @ i18n} ${itinerary.port.apiTitle}</span>
                        </div>
                        <i class="btn-more fa fa-angle-down"></i>
                        <i class="btn-less fa fa-angle-up"></i>
                    </div>
                    <div id="ex-${itinerary.itineraryId}" class="collapse panel__body c-cruise-itinerary-2__list--nested" role="tabpanel" aria-expanded="false" data-sly-use.collapseNestedTemplate="silversea/silversea-com/components/pages/cruise/fragment/excursiontab/collapse-nested.html">
                        <sly data-sly-test.parentId="${'{0}{1}' @ format=['ex-', itinerary.itineraryId]}" />
                        <sly data-sly-call="${collapseNestedTemplate.default @ list = excursions, parent = parentId}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>