<section class="o-section">
    <div class="container">
        <div class="row">            
            <div class="col-sm-12 col-sm-12 c-pressrelease">
                <h2 data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format=' MMMMM dd, yyyy', date=pageProperties.publicationDate}"
                    class="c-pressrelease__date">
                    <strong>${'date' @ i18n} :</strong> ${date.value}
                </h2>
                <h1 class="c-pressrelease__title h-serif">${currentPage.title}</h1>

                <div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>

                <ul data-sly-use.pagination="com.silversea.aem.helper.PaginationHelper" class="c-pagination c-pagination--separated clearfix">
                    <li data-sly-test="${pagination.previousPage}">
                        <a href="${pagination.previousPage.path @ extension='html'}" class="c-pagination__link">
                            <i class="fa fa-angle-left fa-lg"></i> ${'previous' @ i18n}
                        </a>
                    </li>
                    <li data-sly-test="${pagination.nextPage}">
                        <a href="${pagination.nextPage.path @ extension='html'}" class="c-pagination__link">
                            ${'next' @ i18n} <i class="fa fa-angle-right fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>