.cruise__header {
    @media (max-width: @screen-sm) {
        .btn-dark:hover {
            color: #fff;
            background-color: #000 !important;
        }
    }
    .cruise__header__title {
        color: @color-typography;
    }
    .cruise_header__subtitle {
        color: @grey--9;
        &:after {
            background: @blue;
            .expedition & {
                background-color: @color-expedition-cruise;
            }
        }
    }
}
