<section class="cc-overview__benefitsandevents">
    <h3 class="cc-section-title">${'benefits-and-events' @ i18n}</h3>
    <div class="cc-section-description" data-sly-resource="${'section-description' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    <div class="row">
        <div class="col-sm-4">
            <div data-sly-resource="${'benefits' @ resourceType='silversea/silversea-com/components/editorial/verticalteasermanual'}"></div>
        </div>
        <div class="col-sm-4">
            <div data-sly-resource="${'events' @ resourceType='silversea/silversea-com/components/editorial/verticalteasermanual'}"></div>
        </div>
        <div class="col-sm-4">
            <div data-sly-resource="${'guest-lecturers' @ resourceType='silversea/silversea-com/components/editorial/verticalteasermanual'}"></div>
        </div>
    </div>
</section>
