<section class="cc-overview__map" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html">
    <div class="c-slider c-slider--style2 map__slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "dots": true}'>
        <div class="map__slider-item" data-sly-repeat="${currentPage.listChildren}">
            <sly data-sly-use.target="${'com.silversea.aem.helper.PageHelper' @ path=item.properties.cruiseReference}" />
            <h4 class="map__title"><span>${'from' @ i18n} <strong data-sly-use.startDate="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM', date=target.page.properties.startDate}">${startDate.value}</strong> ${'to' @ i18n} <strong data-sly-use.endDate="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM', date=target.page.properties.endDate}">${endDate.value}</strong></span>${item.properties.jcr:title}<span>${item.properties.subTitle}</span></h4>
            <sly data-sly-call="${imageTemplate.default @ imagePath=item.properties.mapReference}" />
            <div class="map__link">
                <a href="${properties.cruiseReference}" class="c-btn c-btn--dark">${'discover-more' @ i18n}<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>
