<template data-sly-template.default="${ @ comboCruise }">
    <h1 class="cc-tab_header_title">
        ${comboCruise.comboCruiseModel.title @ context='html'}
    </h1>
    <div class="cc-tab_header_desc row">
        <div class="cc-tab_header_desc_txt col-md-9">
            <p>${comboCruise.comboCruiseModel.description @ context='html'}</p>
        </div>
        <div class="cc-tab_header_desc_cta col-md-3">
            <a class="btn btn-thin btn-red effect" href="${comboCruise.requestQuotePagePath @ extension='html'}" data-sscclicktype="clic-RAQ"><span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i></a>
            <a class="btn btn-thin btn-dark effect coolanchorminusbig" href="#cruise_suite_list_C"><span>${'suites-and-fares' @ i18n}</span><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</template>