<sly data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse" />
<h3 class="cc-section-title text-center">${'combocruise-overview-title' @ i18n}</h3>
<p class="cc-section-description text-center">${'combocruise-overview-subtitle' @ i18n}</p>
<div class="c-suitelist c-overviewtab">
    <div class="c-suitelist__item" data-sly-repeat.suite="${comboCruise.prices}" data-tab-target="#suitenfare">
        <div class="clearfix c-suitelist__heading collapsed">
            <div class="c-suitelist__image" data-sly-use.target="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}">
                <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
                    data-sly-call="${imageTemplate.default @ imagePath=suite.suite.thumbnail}" />
            </div>
            <div class="c-suitelist__detail">
                <h3 class="c-suitelist__detail__title" data-sly-text="${suite.suite.title}"></h3>
            </div>
            <div class="c-suitelist__price">
                ${'fares-from' @ i18n}
                <span data-sly-test="${suite.isWaitList}" class="c-suitelist__price__text c-suitelist__price__text--important">${'waitlist' @ i18n}</span>
                <sly data-sly-test=${!suite.isWaitList}">
                    <span class="c-suitelist__price__text c-suitelist__price__text--important2">${suite.lowestPrice.currency @ i18n} ${suite.computedPriceFormated}</span>
                    ${'per-guest' @ i18n}
                </sly>
            </div>
            <div class="c-suitelist__button">
                <a class="btn btn-thin btn-red effect btn-thin request-quote" href="${comboCruise.requestQuotePagePath @ extension='html'}" data-sscclicktype="clic-RAQ">
                    <span>${'request-quote' @i18n}</span><i class="fa fa-angle-right"></i>
                </a>
                <button class="btn btn-thin btn-white btn-thin effect hidden-xs">
                    <span>${'discover-more' @ i18n}</span><i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
