@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.cardSlider::before {
  content: " ";
  height: 100%;
  width: 200vw;
  display: block;
  position: absolute;
  left: -50vw;
  z-index: -1;
}

.cardSlider {
  position: relative;

  &.hasProgressbar .slick-list {
    margin-bottom: 50px;
  }

  .lightbox-link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 950;
  }


  .slick-dots {
    bottom: -40px !important;
    width: 60%;
    margin-left: 20%;

  }

  .slick-dots li {
    height: 1px;
    margin: 0;
  }

  .slick-dots li button:before {
    border-radius: 0;
  }

  .slick-dots li button {
    height: 1px;
    width: 100%;
  }

  .slick-dots li button:before {
    background-color: @grey--9 !important;
    opacity: 0.5;

  }

  .slick-dots li.slick-active {
    border: 1px solid @grey--3;
    opacity: 1 !important;
  }

  .cardSlider-slider {
    visibility: hidden;
  }

  .cardSlider-content {

    .slick-track {
      margin: auto auto 10px;
    }

    .slick-cloned .o-img {
      display: block;
    }

    .slick-next:after {
      width: 25px;
      height: 25px;
      padding: 10px;
      border-left: 0 solid @transparent;
      border-right: 2px solid @color-second !important;
      border-bottom: 2px solid @color-second !important;
      border-top: 0 solid @transparent;
      content: " ";
      right: 53%;
      left: 0 !important;

    }

    .slick-prev {
      width: 40px;
      height: 40px;
      left: -30px !important;
      transform: rotateZ(135deg);
      top: 37% !important;
    }

    .slick-next {
      width: 40px;
      height: 40px;
      right: -30px !important;
      transform: rotateZ(-45deg);
      top: 37% !important;
    }

    .slick-prev:after {
      width: 20px;
      padding: 10px;
      height: 20px;
      border-left: 0 solid @transparent;
      border-right: 2px solid @color-second !important;
      border-bottom: 2px solid @color-second !important;
      border-top: 0 solid @transparent;
      content: " ";
      right: 0;
    }

  }

  .cardSlider-slide {
    position: relative;
    margin-right: 7px;
    margin-left: 7px;

    &:focus {
      outline: 0;
    }

  }

  .cardSlider-subTitle {
    text-align: center;
    font-family: @suisse;
    color: #333333;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
  }

  .cardSlider-title {
    text-transform: capitalize;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    color: #333333;
    font-family: @freight;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 24px;

  }

  .cardSlider-slide {
    text-transform: uppercase;
    text-align: center;
    color: @grey--3;
    font-family: @suisse;
    letter-spacing: 0.5px;
    line-height: 20px;
    min-height: 20px;
    margin-top: 8px;
  }

  .cardSlider-slide-title {

    color: @grey--3;
    font-family: @suisse;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;

  }

  .cardSlider-slide-days, .cardSlider-slide-collection {
    color: @grey--3;
    font-family: @suisse;
    font-size: 11px;
    font-style: italic;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: capitalize;
    text-align: center;
  }

  .cardSlider-slide-moredetails {
    text-transform: uppercase;
    color: @color-second;
    font-family: @suisse;
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 16px;
    text-align: center;
    padding-bottom: 19px;
    margin-top: 12px;

  }

  .cardSlider-slide:hover {
    background-color: @grey--f4;
  }

  .cardSlider-slide:not(:hover) .cardSlider-slide-moredetails {
    visibility: hidden;
  }

  .cardSlider-slide-thumbnail {

    margin-bottom: 15px;
  }

  .cardSlider-slide-thumbnail.circled img {
    border-radius: 50%;
    height: 200px;
    margin-top: 20px;
    object-fit: cover;
  }

  .cardSlider-slide-thumbnail.squared img {
    height: 224px;
    object-fit: cover;
  }

}

@media (min-width: @screen-md-max) {
  .cardSlider {
    &.grayBackgroundDesktop {
      .cardSlider-slide:hover {
        background-color: white;
      }
    }

    &.grayBackgroundDesktop::before {
      background-color: @grey--f4;
    }

    .cardSlider-title {
      font-size: 24px;
    }

    .cardSlider-subTitle {
      font-size: 14px;
    }

    .cardSlider-slide-title {
      font-size: 12px;
    }

    .cardSlider-slide {
      font-size: 13px;
    }

  }

  .centeredStyleDesktop .slick-slide:not(.slick-current) {
    transform: scale(0.95);
    opacity: 0.4;

  }

  .hideArrowsDesktop {
    .slick-prev, .slick-next {
      display: none !important;
    }
  }
}

@media (min-width: @screen-md-min) and(max-width: @screen-md-max) {
  .cardSlider {
    &.grayBackgroundTablet {
      .cardSlider-slide:hover {
        background-color: white;
      }
    }

    .cardSlider-content {
      .slick-prev {
        width: 40px;
        left: -18px !important;
      }

      .slick-next {
        width: 40px;
        right: -18px !important;
      }
    }

    &.grayBackgroundTablet::before {
      background-color: @grey--f4;
    }

    .cardSlider-title {
      font-size: 24px;
    }

    .cardSlider-subTitle {
      font-size: 14px;
    }

    .cardSlider-slide-title {
      font-size: 12px;
    }

    .cardSlider-slide {
      font-size: 13px;
    }

  }

  .centeredStyleTablet .slick-slide:not(.slick-current) {
    transform: scale(0.95);
    opacity: 0.4;

  }

  .hideArrowsTablet {
    .slick-prev, .slick-next {
      display: none !important;
    }
  }
}

@media (max-width: @screen-sm) {
  .cardSlider {
    &.grayBackgroundMobile {
      .cardSlider-slide:hover {
        background-color: white;
      }
    }

    &.grayBackgroundMobile::before {
      background-color: @grey--f4;
    }
  }

  .cardSlider {

    .cardSlider-content {
      .slick-prev {
        width: 40px;
        left: -18px !important;
      }

      .slick-next {
        width: 40px;
        right: -18px !important;
      }
    }

    .cardSlider-slide-text {
      font-size: 12px;
      line-height: 18px;
      max-height: 162px;
    }

    .cardSlider-title {
      font-size: 24px;
    }

    .cardSlider-subTitle {
      font-size: 12px;
    }

    .cardSlider-slide-title {
      font-size: 12px;
    }

    .cardSlider-slide {
      font-size: 13px;
    }
  }

  .centeredStyleMobile .slick-slide:not(.slick-current) {
    transform: scale(0.95);
    opacity: 0.4;

  }

  .hideArrowsMobile {
    .slick-prev, .slick-next {
      display: none !important;
    }
  }
}
