.c-footer-other-link {
  .other-link-accordion-title {
    color: @white;
    font-family: @suisse;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
  }


  //Custom Only Desktop and Tablet Style
  @media (min-width: @screen-md-min) {
    hr {
      border-color: fade(@white, 20%);
      margin-top: 0px;
    }
  }
  //End Custom Only Desktop and Tablet Style
}