.c-footer-other-link {
  .other-link-accordion-title, .other-link-accordion-search {
    color: @white;
    font-family: @suisse;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;

    i {
      color: @white;
    }
  }
  .other-link-accordion-search {
    text-transform: capitalize;

    i {
      vertical-align: -10%;
    }
  }
  .other-link-row-links, .other-link-row-search {
    display: none;
  }

  .other-link-row-search {
    min-height: 300px;
  }

  .other-link-accordion-list-item {
    color: @white;
    font-family: @suisse;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 24px;
    display: block;
    cursor: pointer;
  }

  .container-accordion-content {
    display: none;
  }

  .other-link-search-form-section {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  .other-link-search-form {
    border-bottom: 1px solid fade(@white, 50%);
    i{
      color: @white;
    }

    input:focus, textarea:focus, select:focus {
      outline: none !important;
    }


  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: @white;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: @white;
    opacity: 1; /* Firefox */
  }

  .other-link-search-form-input {
    background: 0;
    color: @white;
    font-family: @suisse;
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 16px;
    width: 410px;
    border: none;
  }
  .container-accordion {
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
    max-width: 100vw;
    left: 50%;
    background-color: @white;

    .container {
      background-color: fade(@nd-dark, 80%);
    }

    .row {
      width: auto;
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  //Custom Only Desktop and Tablet Style
  @media (min-width: @screen-md-min) {
    hr {
      border-color: fade(@white, 20%);
      margin-top: 0px;
    }
  }
  //End Custom Only Desktop and Tablet Style
}