<div class="c-cruise-highlights">
    <p class="c-cruise__introduction">${'voyage-highlights-introduction' @ i18n}</p>
    <h3 class="c-cruise__subtitle visible-lg">${'voyage-highlights' @ i18n}</h3>
    <div class="c-cruise__shorex-pdf" data-sly-test="${cruise.cruiseModel.tourBook}">
        <a href="${cruise.cruiseModel.tourBook}"><span>${'download-tour-book' @ i18n}</span> <i
                class="fa fa-file-pdf-o"></i>
        </a>
    </div>
    <div class="c-cruise-highlights__content" id="voyage-highlights-article">
        <div class="text">
            ${properties.voyageHighlights @ context = 'html'}
        </div>
        <div class="c-cruise-highlights__content--expand visible-xs visible-sm">
            <a href="#" data-toggle-text="show"><span>${'read-more' @ i18n}</span><i class="fa fa-angle-down"></i></a>
            <a href="#" data-toggle-text="close"><span>${'close' @ i18n}</span><i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</div>
