<div class="c-cruise-highlights">
    <h3 class="c-cruise__subtitle visible-lg">${'voyage-highlights' @ i18n}</h3>
    <div class="c-cruise-highlights__content" id="voyage-highlights-article">
        <div class="text">
            ${properties.voyageHighlights @ context = 'html'}
        </div>
        <div class="c-cruise-highlights__content--expand visible-xs visible-sm">
            <a href="#voyage-highlights-article"><span>${'read-more' @ i18n}</span><i class="fa fa-angle-down"></i></a>
            <a href="#voyage-highlights-article"><span>${'close' @ i18n}</span><i class="fa fa-angle-up"></i>
            </a>
        </div>
    </div>
</div>
