<div class="c-cruise-keypeople">
    <h3 class="c-cruise__subtitle">${'expedition-team' @ i18n}</h3>
    <p class="c-cruise__descr">${'expedition-team-descr' @ i18n}</p>
    <div class="keypeople__slider" data-sly-list.keyPeoplePath="${pageProperties.reference}">
        <sly data-sly-use.target="${'com.silversea.aem.helper.PageHelper' @ path=keyPeoplePath}" />
        <div class="keypeople__slider-item">
            <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
                 data-sly-call="${imageTemplate.default @ imagePath=target.thumbnail}" />
            <div>
                <h4 class="keypeople--identity">${target.page.properties.jcr:title}</h4>
                <p class="keypeople--profession">${target.page.properties.profession}</p>
                <a href="">${'discover-more' @ i18n}<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="keypeople__details" data-sly-list.keyPeoplePath="${pageProperties.reference}">
        <a class="btn-close" href="#"><i class="fa fa-times"></i><span>${'close' @ i18n}</span></a>
        <h5 class="keypeople__details--identity">${target.page.properties.jcr:title}</h5>
        <p class="keypeople__details--profession">${target.page.properties.profession}</p>
        <p class="keypeople__details--descr">${target.page.properties.jcr:description}</p>
    </div>
</div>
