.o-area-property-display {

    .o-slider {
    width: 100%;
    height: auto;
    padding-top: 35px;
    margin-bottom: 20px;
    }

    .o-title {
        font-size: 26px;
        line-height: 1.3846153846;
        margin: 0 0 20px;
    }

    .o-description p {
        font-size: 13px;
        margin-bottom: 24px;
    }

    .o-section--separator {

        /* phone breakpoint */
            @media screen and (min-width: @screen-sm) {
                border: none;
                padding: 0;
            }
    }
}