@font-face {
    font-family: 'Theano Didot Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Theano Didot Regular'), url('../fonts/Theano-Didot/TheanoDidot-Regular.woff') format('woff');
}