@font-face {
  font-family: 'Theano Didot Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Theano Didot Regular'), url('../fonts/Theano-Didot/TheanoDidot-Regular.woff') format('woff');

}

@font-face {
  font-family: 'Freight Display Medium';
  src: url('@{FreightPath}/FreightDispProMedium-Regular.otf');
  src: url('@{FreightPath}/FreightDispProMedium-Regular.eot?#iefix') format('embedded-opentype'),
  url('@{FreightPath}/FreightDispProMedium-Regular.woff2') format('woff2'),
  url('@{FreightPath}/FreightDispProMedium-Regular.ttf') format('truetype'),
  url('@{FreightPath}/FreightDispProMedium-Regular.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Freight Display Medium';
  src: url('@{FreightPath}/FreightDispPropMedium-Italic.otf');
  src: url('@{FreightPath}/FreightDispPropMedium-Italic.eot?#iefix') format('embedded-opentype'),
  url('@{FreightPath}/FreightDispPropMedium-Italic.woff2') format('woff2'),
  url('@{FreightPath}/FreightDispPropMedium-Italic.ttf') format('truetype'),
  url('@{FreightPath}/FreightDispPropMedium-Italic.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Freight Text Book';
  src: url('@{FreightTextPath}/FreightTextProBook-Regular.otf');
  src: url('@{FreightTextPath}/FreightTextProBook-Regular.eot?#iefix') format('embedded-opentype'),
  url('@{FreightTextPath}/FreightTextProBook-Regular.woff2') format('woff2'),
  url('@{FreightTextPath}/FreightTextProBook-Regular.ttf') format('truetype'),
  url('@{FreightTextPath}/FreightTextProBook-Regular.svg#OpenSansLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Freight Text Book';
  src: url('@{FreightTextPath}/FreightTextProBook-Italic.otf');
  src: url('@{FreightTextPath}/FreightTextProBook-Italic.eot?#iefix') format('embedded-opentype'),
  url('@{FreightTextPath}/FreightTextProBook-Italic.woff2') format('woff2'),
  url('@{FreightTextPath}/FreightTextProBook-Italic.ttf') format('truetype'),
  url('@{FreightTextPath}/FreightTextProBook-Italic.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Freight Text Bold';
  src: url('@{FreightTextPath}/FreightTextProBold-Regular.otf');
  src: url('@{FreightTextPath}/FreightTextProBold-Regular.eot?#iefix') format('embedded-opentype'),
  url('@{FreightTextPath}/FreightTextProBold-Regular.woff2') format('woff2'),
  url('@{FreightTextPath}/FreightTextProBold-Regular.ttf') format('truetype'),
  url('@{FreightTextPath}/FreightTextProBold-Regular.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Freight Text Bold';
  src: url('@{FreightTextPath}/FreightTextProBold-Italic.otf');
  src: url('@{FreightTextPath}/FreightTextProBold-Italic.eot?#iefix') format('embedded-opentype'),
  url('@{FreightTextPath}/FreightTextProBold-Italic.woff2') format('woff2'),
  url('@{FreightTextPath}/FreightTextProBold-Italic.ttf') format('truetype'),
  url('@{FreightTextPath}/FreightTextProBold-Italic.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Regular';
  src: url('@{SuisseIntlPath}/SuisseIntl-Regular.otf');
  src: url('@{SuisseIntlPath}/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
  url('@{SuisseIntlPath}/SuisseIntl-Regular.woff2') format('woff2'),
  url('@{SuisseIntlPath}/SuisseIntl-Regular.ttf') format('truetype'),
  url('@{SuisseIntlPath}/SuisseIntl-Regular.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Regular';
  src: url('@{SuisseIntlPath}/SuisseIntl-RegularItalic.otf');
  src: url('@{SuisseIntlPath}/SuisseIntl-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('@{SuisseIntlPath}/SuisseIntl-RegularItalic.woff2') format('woff2'),
  url('@{SuisseIntlPath}/SuisseIntl-RegularItalic.ttf') format('truetype'),
  url('@{SuisseIntlPath}/SuisseIntl-RegularItalic.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Semibold';
  src: url('@{SuisseIntlPath}/SuisseIntl-SemiBold.eot');
  src: url('@{SuisseIntlPath}/SuisseIntl-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('@{SuisseIntlPath}/SuisseIntl-SemiBold.woff2') format('woff2'),
  url('@{SuisseIntlPath}/SuisseIntl-SemiBold.ttf') format('truetype'),
  url('@{SuisseIntlPath}/SuisseIntl-SemiBold.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Semibold';
  src: url('@{SuisseIntlPath}/SuisseIntl-SemiBoldItalic.eot');
  src: url('@{SuisseIntlPath}/SuisseIntl-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('@{SuisseIntlPath}/SuisseIntl-SemiBoldItalic.woff2') format('woff2'),
  url('@{SuisseIntlPath}/SuisseIntl-SemiBoldItalic.ttf') format('truetype'),
  url('@{SuisseIntlPath}/SuisseIntl-SemiBoldItalic.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: italic;
}
