@font-face {
    font-family: 'theano_didot';
    src: url('../fonts/Theano-Didot/theanodidot-regular-webfont.woff2') format('woff2'),
         url('../fonts/Theano-Didot/theanodidot-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}