/*
* General style
*/
.container {
    font-family: @f-opensans;
    width: auto;
    max-width: 930px;
}

body {
    padding-top: 110px !important;
    
    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        padding-top: 60px;
    }
    /* tablet breakpoint */
    @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        padding-top: 60px;
    }
}

/*
* Reset Css
*/
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: inherit;
    &:hover, &:active, &:focus {
        text-decoration: none;
        color: inherit;
    }
}

/*
** Helpers Class
*  Used by the contributor to stylize the conten
*/
.h {
    /*
    ** Text color
    */
    &-text {
        &-white {
            color: white !important;
        }
        &-black {
            color: @black !important;
        }
        &-red {
            color: @red !important;
        }
        &-grey {
            color: @grey !important;
            &-l {
                color: @grey-l !important;
            }
        }
        
    }
	
    /*
    ** Background color
    */
	&-white {
		background-color: white !important;
	}
	&-black {
		background-color: @black !important;
	}
    &-red {
        background-color: @red !important;
    }
    
    
    /*
    ** Font
    **/
    &-bold {
        font-weight: 800;
    }
}

/*
** Button
**/
.c-btn {
    border: 0px;
    border-radius: @button-radius;
    display: inline-block;
    text-transform: uppercase;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-align: center;
    font-weight: @bold-l;
    white-space: nowrap;
    vertical-align: middle;
    
    &__inner {

        .c-btn {
            width: 100%;
        }
    }
    
    .fa-angle-right {
        margin-left: 5px;
    }
    &--dark {
        background: @black;
        color: @white;
        -webkit-transition: background 1s;
        -moz-transition: background 1s;
        -ms-transition: background 1s;
        -o-transition: background 1s;
        transition: background 1s;
        
        &:hover, &:focus, &:active {
            background: @grey--9;
        }
    }
    &--grey {
        background: @grey--c5;
        color: @black;
        -webkit-transition: background 1s;
        -moz-transition: background 1s;
        -ms-transition: background 1s;
        -o-transition: background 1s;
        transition: background 1s;
        
        &:hover, &:focus, &:active {
            background: @grey-d;
        }
    }
    &--red {
        background: @red;
        color: @white;
        -webkit-transition: background 1s;
        -moz-transition: background 1s;
        -ms-transition: background 1s;
        -o-transition: background 1s;
        transition: background 1s;
        
        &:hover, &:focus, &:active {
            background: @red-d;
            color: @white;
        }
    }
}

/*
* c- INPUT
*/
.o-input {
    border-radius: @button-radius;
    border: solid 1px @grey--8;
    padding: 10px 20px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    &--dark {
        border: 0;
        background-color: @grey--eb;
        color: @grey--2b;
    }
}

/*
* c- IMAGE
*/
.o-img {
    &--small {
        display: block;
        text-align: center;
        min-width: 35px;
    }
    &--center {
        text-align: center;
    }
}

/*
* o- SECTION
*/
.o-section {
    padding: 20px 0px;
        
    &--separator {
        border-top: solid 1px @grey--d;
    }
}

/*
* l- LAYOUT GRID AEM
*/
.l-grid {
        
    &--right {
        float: right
    }
}