.lightbox {
  .lightbox-close {
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    height: 59px;
    width: 130px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
      .icon-close, .text-close {
        opacity: 1;
      }
    }

    .icon-close {
      display: inline;
      position: absolute;
      top: 27%;
      left: 55%;
      opacity: 0.9;
    }
    .text-close {
      display: inline;
      color: #333333;
      font-family: @f-open_sans;
      font-size: 11px;
      letter-spacing: 0.85px;
      line-height: 18px;
      text-transform: uppercase;
      position: absolute;
      top: 34%;
      left: 25%;
      opacity: 0.9;
    }
  }
}

@media(min-width: @screen-md-min) {
  .lightbox {
    .modal-dialog {
        width: 100%;
        max-width: 1200px;
    }
  }
}
