@needed-properties: height, width, font-size, padding-top, padding-right, padding-bottom, padding-left, maring-top, margin-right, margin-bottom, margin-left;
@double-needed-properties: height, width;

.for ( @array ) when (default()) {
  .for-impl_(length(@array))
}

.for-impl_(@i) when (@i > 1) {
  .for-impl_((@i - 1))
}

.for-impl_(@i) when (@i > 0) {
  .-each(extract(@array, @i))
}

@ffw-media-tablet: ~"(min-width:@screen-md-min) and (max-width:@screen-md-max)";
@ffw-media-mobile: ~"(max-width:@screen-md-min)";

.generate-class(@property, @suffix) {
  .ssc-fw-@{property}@{suffix} {
      @{property}: ~"var(--ssc-fw-@{property}@{suffix}-desktop)";
    @media @ffw-media-tablet{
        @{property}: ~"var(--ssc-fw-@{property}@{suffix}-tablet)";
    }
    @media @ffw-media-mobile{
        @{property}: ~"var(--ssc-fw-@{property}@{suffix}-mobile)";
    }
  }
};

.for( @needed-properties );
.-each( @property ) {
  .generate-class( @property,  ~'');
}

.for( @double-needed-properties );
.-each( @property ) {
  .generate-class( @property,  ~'-2');
}
