/*
* Colors
*/

@black:              #000;

@white:              #fff;
@grey:               #666;
@grey-l:             #e6e7e8;
@grey-d:             #999;
@grey--ba:           #bababa;
@grey--c:            #ccc;
@grey--e:            #eee;
@grey--eb:           #ebebeb;
@grey--e6:           #e6e6e6;
@grey--e8:           #e8e8e8;
@grey--d:            #ddd;
@grey--d3:           #d3d3d3;
@grey--f9:           #f9f9f9;
@grey--2b:           #2b2b2b;
@grey--5:            #555;
@grey--8:            #888;
@grey--9:            #999;

@red:                #d60524;
@red-d:              darken(@red, 5%);

@blue:               #6ABDBC;


/*
* Design
*/
@button-radius:      5px;
@bold:               700;
@nav-top-height:     60px;


/*
* Fonts
*/
@f-loto:             'Lato', sans-serif;
@f-theano_didot:     'theano_didot', serif;
@f-opensans:         'Open Sans', sans-serif;


/*
* Responsive breakpoint
*/
@screen-sm:          767px;
@screen-md-min:      768px;
@screen-md-max:      991px;
@screen-lg-min:      992px;
@screen-lg-max:      1200px;