@freight:            'Freight Display Medium', serif;
@freight-text:       'Freight Text Book', serif;
@freight-bold:       'Freight Text Bold', serif;
@suisse:             'Suisse Regular', sans-serif;

@grey--f4:          #f4f4f4;
@FreightTextPath: "../fonts/Freight-Text-Book-Pro";
@FreightPath: "../fonts/Freight-Display-Pro";
@SuisseIntlPath:"../fonts/SuisseIntl";


/*
* Colors
*/
@color-second: #171D47;
@nd-dark: #263133;

@black:              #000;
@black--18:          #273333;
@transparent:        transparent;
@white:              #fff;
@white--03:          rgba(255,255,255,0.3);
@grey:               #666;
@darkgray:			 darkgray;
@gold:               gold;
@green--35:			 #3c763d;
@green--48:          #589c9d;
@grey--2b:           #2b2b2b;
@grey--3:            #333;
@grey--03:           rgba(0, 0, 0, 0.3);
@grey--4:            #444;
@grey--04:           rgba(0, 0, 0, 0.4);
@grey--5:            #555;
@grey--05:           rgba(0, 0, 0, 0.5);
@grey--6:            rgba(0, 0, 0, 0.6);
@grey--7:            #777;
@grey--8:            #888;
@grey--08:			 rgba(255, 255, 255, 0.8);
@grey--80:           #cdcdcd;
@grey--053:          rgba(255, 255, 255, 0.53);
@grey--003:          rgba(255, 255, 255, 0.3);
@grey--9:            #999;
@grey--015:          rgba(0,0,0,0.15);
@grey--a3:           #a3a3a3;
@grey--b2:           #b2b2b2;
@grey--ba:           #bababa;
@grey--c:            #ccc;
@grey--ca :          #cacaca;
@grey--c3:           #c3c3c3;
@grey--c5:           #c5c5c5;
@grey--d:            #ddd;
@grey--d356:         #D3D5D6;
@grey--d5:           #d5d5d5;
@grey--e:            #eee;
@grey--eb:           #ebebeb;
@grey--e0:           #e0e0e0;
@grey-l:             #e6e6e6;
@grey--e6:           #e6e6e6;
@grey--e8:           #e8e8e8;
@grey--e9:           #e9e9e9;
@grey--d3:           #d3d3d3;
@grey--d9:           #d9d9d9;
@grey--f2:           #f2f2f2;
@grey--f5:           #f5f5f5;
@grey--f9:           #f9f9f9;
@grey--fa:           #fafafa;
@grey--39:			 #646464;
@grey--50:           #808080;
@grey--50ab:         #808080ab; 
@grey--95:			 #f3f3f3;
@grey--14:			 #242424;
@grey--42:           rgba(51,51,51,.42);
@grey--67:           #aaa;	
@grey--60:			 #999999;
@grey--90:           #e5e5e5;
@grey--91:           #e8e8e8;
@grey--93:           #EEEEEE;
@grey--94:           #F0F0F0;
@red:                #d60524;
@red-expedition:     #D40728;
@red-d:              darken(@red, 5%);
@red--43:            #d00;
@blue:               #6ABDBC;
@grey--o02:          rgba(230, 230, 230, 0.2);
@grey-o04:           rgba(238, 238, 238, 0.4);


/*
* Design
*/
@button-radius:      5px;
@bold-l:             600;
@bold:               700;
@nav-top-height:     60px;


/*
* Fonts
*/
@f-theano_didot:     'Theano Didot Regular', serif;


@f-sans_serif:       arial, helvetica, sans-serif;
@f-open_sans:       'Open Sans', arial, helvetica, sans-serif;
@f-times-new-roman:  "Times New Roman", Times, serif;
@f-lato:            'Lato', sans-serif;
@f-serif:			serif;
@f-playfair-display: 'Playfair Display', serif;


/*
* Responsive breakpoint
*/
@screen-xxxxs: 325px;
@screen-xxxs: 375px;
@screen-xxs: 480px;
@screen-xs: 600px;
@screen-sm-min: 601px;
@screen-sm: 767px;
@screen-md-min: 768px;
@screen-md-max: 991px;
@screen-lg-min: 992px;
@screen-lg-max: 1200px;

/*
 * Website container width or related variable
 */
@default-container-width:960px;
@main-nav-max-width:930px;
@hero-banner-max-width:930px;
@quote-form-max-width:750px;
@search-hero-max-width:930px;


@color-typography-disabled: 	rgba(51, 51, 51, 0.6);
@nd-light-bg: #F4F4F4;
@nd-dark: #263133;

@color-second: #171D47;

@color-medium-bg: #98989B;


@suisse:             'Suisse Regular', sans-serif;
@color-typography: #333333;
@nd-red: #D60524;
@nd-red-darker: #BA001C;
@nd-button-border-radius: 0px;
@nd-button-border-width: 0px;
@nd-button-line-height: 16px;
@nd-button-padding: 12px 18px 10px 19px;   //10px 15px 9px;
@nd-button-padding-lightbox: 12px 38px 10px 39px;
@nd-button-font-size: 13px;
@nd-button-letter-spacing: 1.5px;
@nd-button-min-width: 220px;
@nd-button-small-min-width: 180px;

@height-arrow-slider-desktop: 45px;
@width-arrow-slider-desktop: 45px;

@height-arrow-slider-tablet: 30px;
@width-arrow-slider-tablet: 30px;



