/*
* Colors
*/

@black:              #000;

@white:              #fff;
@grey:               #666;
@grey-l:             #e6e6e6;
@grey--a3:           #a3a3a3;
@grey--ba:           #bababa;
@grey--ca :          #cacaca;
@grey--c:            #ccc;
@grey--e:            #eee;
@grey--eb:           #ebebeb;
@grey--e0:           #e0e0e0;
@grey--e6:           #e6e6e6;
@grey--e8:           #e8e8e8;
@grey--d:            #ddd;
@grey--c5:           #c5c5c5;
@grey--d3:           #d3d3d3;
@grey--d9:           #d9d9d9;
@grey--f9:           #f9f9f9;
@grey--2b:           #2b2b2b;
@grey--3:            #333;
@grey--5:            #555;
@grey--7:            #777;
@grey--8:            #888;
@grey--9:            #999;

@red:                #d60524;
@red-expedition:     #D40728;
@red-d:              darken(@red, 5%);

@blue:               #6ABDBC;


/*
* Design
*/
@button-radius:      5px;
@bold-l:             600;
@bold:               700;
@nav-top-height:     60px;


/*
* Fonts
*/
@f-theano_didot:     'Theano Didot Regular', serif;
@f-sans_serif:       arial, helvetica, sans-serif;

/*
* Responsive breakpoint
*/
@screen-xxs:          480px;
@screen-xs:          600px;
@screen-sm:          767px;
@screen-md-min:      768px;
@screen-md-max:      991px;
@screen-lg-min:      992px;
@screen-lg-max:      1200px;