<template
        data-sly-template.default="${ @ currentPath, countryCode, model,numPorts,numCountries,dayUntilDeparture,numRoutes, portsGallery, itinerary, externalizerHelper, itineraryMap, customDescription, hideVoyageCode }">
    <div class="cruise-2018-itineraries-container" id="menu-cruise2018itinerary">
        <sly data-sly-use.itinerarytemplate="/apps/silversea/silversea-com/components/pages/cruise/templates/itineraryexcursions/itinerary.html"
             data-sly-call="${itinerarytemplate.commonHeader @ currentPath=currentPath, countryCode=countryCode, model=model, numPorts=numPorts,numCountries=numCountries, numRoutes=numRoutes, dayUntilDeparture=dayUntilDeparture, portsGallery=portsGallery, externalizerHelper=externalizerHelper}"/>

        <sly data-sly-use.itineraryDetail="/apps/silversea/silversea-com/components/pages/cruise/templates/itineraryexcursions/itinerarydetail.html"
             data-sly-call="${itineraryDetail.default @ currentPath=currentPath, countryCode=countryCode, model=model, itinerary=itinerary,itineraryMap=itineraryMap}"/>

    </div>
</template>

<template
        data-sly-template.commonHeader="${@ currentPath, countryCode, model, dayUntilDeparture, portsGallery, numPorts,numRoutes, numCountries,customDescription, hideVoyageCode, externalizerHelper }">
    <div class="cruise-2018-itineraries-header">
        <sly data-sly-test="${model.cruiseType != 'silversea-expedition'}">
            <div class="cruise-2018-itineraries-title">${'itinerary-and-excursions' @ i18n}</div>
        </sly>
        <sly data-sly-test="${model.cruiseType == 'silversea-expedition'}">
            <div class="cruise-2018-itineraries-title">${'itinerary' @ i18n}</div>
        </sly>
        <div class="cruise-2018-itineraries-info">
            <span class="itineraries-info" data-sly-test="${model.duration}">
                <img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/duration.png"/> ${model.duration} ${'days' @ i18n}
            </span>
            <span class="itineraries-info" data-sly-test="${numPorts}">
                    <img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/port.png"/> ${numPorts} ${'ports' @ i18n}
            </span>
            <span class="itineraries-info" data-sly-test="${numRoutes}">
                <img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/voyage.png"/> ${numRoutes} ${ (numRoutes> 1 ? 'routes' : 'route') @ i18n}
            </span>
            <span class="itineraries-info itineraries-info-countries" data-sly-test="${numCountries}">
                <img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/country.png"/> ${numCountries} ${ (numCountries> 1 ? 'countries' : 'country') @ i18n}
            </span>
        </div>

        <div class="cruise-2018-itineraries-description">${customDescription || model.description @ context="html"}</div>
        <div class="cruise-2018-itineraries-description-view view-more" data-viewmore="${'view-more' @ context='html'}"
             data-viewless="${'view-less' @ context='html'}">${'view-more' @ context="html"}</div>
        <div class="cruise-2018-itineraries-voyage-code hidden-xs"
             data-sly-test="${!hideVoyageCode}">${'voyage-number' @ i18n}: ${model.cruiseCode}</div>
        <div class="cruise-2018-itineraries-120-label"
             data-sly-test="${ dayUntilDeparture >= 120 && model.cruiseType != 'silversea-expedition' }">${'cruise-itinerary-120-day' @ i18n}</div>

    </div>
    <div class="cruise-2018-itineraries-pdf hidden-xs">
        <sly data-sly-test="${model.cruiseType != 'silversea-expedition' && dayUntilDeparture < 120}">
            <a class="btn btn-thin btn-white cruise-2018-itineraries-btn"  data-sly-test="${model.tourBook}"
               href='${currentPath @ context="uri"}.rendition.download.${countryCode @ context="scriptString"}.t.excursion.pdf'
               target="_blank" rel="nofollow"><span>${'view-all-excursions' @ i18n}</span>
            </a>
        </sly>
        <sly data-sly-test="${model.cruiseType == 'silversea-expedition' && properties.voyageHighlights}">
            <div data-lightbox-highlights="${externalizerHelper.externalizedUrl  @ extension='html', selectors='lightboxes.lg-highlights'}">
                <a class="btn btn-thin btn-white cruise-2018-itineraries-btn open-lightbox-highlights"
                   data-target=".lightbox" href="#">
                    <span>${'view-voyage-highlights' @ i18n}</span>
                </a>
            </div>
        </sly>
    </div>
        <div class="cruise-2018-itinerary-slider-wrapper hidden-xs" data-sly-test="${portsGallery}">
            <div class="cruise-2018-itinerary-slider cruise-2018-itinerary-slider--main cruise-2018-slider activate-progressbar"
                 data-ssc-breakpoint-tablet="991" data-ssc-slides-to-scroll-tablet="1"
                 data-ssc-slides-to-show-tablet="3">
                <sly data-sly-list.portImage="${cruise.portsGallery}">
                    <a href="#lb-mainGallery" data-target=".lightbox"
                       class="cruise-2018-itinerary-slide cruise-2018-slide open-lightbox-gallery-assets"
                       data-go-to="${portImage.path}">
                        <div class="cruise-2018-itinerary-slide-thumbnail cruise-2018-slide-thumbnail">
                            <div class="ratio">
                                <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"
                                     data-sly-call="${imageTemplate.respLazyWidthChoose @ imagePath=portImage.path, Width='900'}"/>
                            </div>
                            <span class="cruise-2018-itinerary-slide-thumbnail__label" data-sly-test="${portImage.label}">${portImage.label}</span>
                            <i class="fa fa-play" data-sly-test="${portImage.type == 'video'}"></i>
                        </div>
                    </a>

            </sly>
        </div>
    </div>
</template>
