
@media (max-width: @screen-md-min) {

    .modal-header-modal-detail {
        background-color: @black !important;
        .close {

            &-label {
                color: @white;
            }
        }
    }
}

.c-modal-detail-modal {

    @media (max-width: @screen-md-min) {
        background-color: @white;
    }

    .tab-content-grey {
        background-color: rgba(238, 238, 238, 0.4)!important;
    }


    @media (min-width: 769px) {
        .c-modal-detail-loader {
            border: 7px solid @grey--95;
            border-top: 7px solid @grey--5;
        }
    }

    &-footnotes {
        color: @grey--39;
    }

    &-deck {

        a {
            color: @black;
            background-color: @white;
            border: 1px solid @darkgray;
        }

        a:hover {
            background-color: @darkgray;
            color: @white;
        }

        .activeDeck {
            background-color: @darkgray;
            color: @white;
        }
    }

    .tab-content {
        background-color: @white;
    }


    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: @white;
        background-color: @grey--3;
        border: 1px solid @grey--3;
    }

    .nav-tabs > li > a:hover {
        background-color: @white;
        border: 1px solid @grey--3;
    }
    .nav > li > a {
        border: 1px solid @white;
    }


    &-description__counter {
        color: @white;
    }

    &-navtabs {
        background-color: @white;
    }


    ::-webkit-scrollbar-track {
        background: @grey--d;
    }

    ::-webkit-scrollbar-thumb {
        background: @grey--50;
        border: 2px solid transparent;
    }


    .c-slider .slick-next,
    .port_v2__postcarousel .slick-next,
    .c-slider .slick-prev,
    .port_v2__postcarousel .slick-prev {
        background-color: @grey--3;
    }

    #modal-detail-features ::-webkit-scrollbar-track {
        background: @white;
    }
}
