<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Hero banner"></div>
<sly data-sly-use.heroBannerTemplate="silversea/silversea-com/components/editorial/herobanner/herobannertemplate.html" />
<sly data-sly-test="${!properties.type}" data-sly-call="${heroBannerTemplate.default}" />
<sly data-sly-test="${properties.type == 'home'}" data-sly-call="${heroBannerTemplate.home}" />
<sly data-sly-test="${properties.type == 'offer'}" data-sly-call="${heroBannerTemplate.offer}" />
