<template data-sly-template.default="${ @ banner}" xmlns="http://www.w3.org/1999/html">
    <div id="c-hero-banner-${properties.sscUUID}" class="c-hero-banner ${properties.enableInlineGallery && banner.inlineGalleryID ? 'inline-gallery-included' : ''}" 
         data-sly-use.pageHelper="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}">
        <div class="hidden-xs">
	        <div class="c-hero-banner__image ${properties.viewHeightDesktop} ${properties.viewHeightTablet} ${properties.maxHeightDesktop} ${properties.maxHeightTablet}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
	            <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPath}" />
	        </div>
	        <div data-sly-test="${!properties.disabledText}" class="row c-hero-banner__row">
	            <div class="col-sm-5 c-hero-banner__content ${properties.disabledTextBackground ? '' : 'c-hero-banner__content--white'}">
	                <h1 data-sly-test="${properties.titletag == 'h1' || !properties.titletag}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h1>
	                <h2 data-sly-test="${properties.titletag == 'h2'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h2>
	                <h3 data-sly-test="${properties.titletag == 'h3'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h3>
	                <span data-sly-test="${properties.titletag == 'span'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</span>
	                <p class="c-hero-banner__description">${banner.description || pageProperties.jcr:description @ context="html"}</p>
	                <sly data-sly-test.btn1="${banner.btn1}" />
	                <sly data-sly-test.btn2="${banner.btn2}" />
	                <p class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
	                    <a data-sly-test="${btn1.reference && btn1.analyticType != 'clic-RAQ'}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
	                        <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
	                        <span class="hidden-xs hidden-sm">${btn1.title} </span> <i class="fa fa-lg fa-angle-right"></i>
	                    </a>
	                    <a data-sly-test="${btn2.reference && btn2.analyticType != 'clic-RAQ'}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
	                        <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
	                        <span class="hidden-xs hidden-sm">${btn2.title}</span> <i class="fa fa-lg fa-angle-right"></i>
	                    </a>
	                    <a data-sly-test="${btn1.reference && btn1.analyticType == 'clic-RAQ'}" href="${btn1.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
	                        <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
	                        <span class="hidden-xs hidden-sm">${btn1.title}</span> <i class="fa fa-lg fa-angle-right"></i>
	                    </a>
	                    <a data-sly-test="${btn2.reference && btn2.analyticType == 'clic-RAQ'}" href="${btn2.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
	                        <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
	                        <span class="hidden-xs hidden-sm">${btn2.title}</span> <i class="fa fa-lg fa-angle-right"></i>
	                    </a>
	                    
	                </p>
	            </div>
	        </div>
	        <div class="c-hero-banner-scrolldown ${properties.showScrollActionDesktop ? 'c-hero-banner-scrolldown-desktop' : '' } c-hero-banner-scrolldown-desktop-${properties.colorScrollActionDesktop}" data-sly-test="${properties.showScrollActionDesktop}">
        		<span>${properties.textScrollActionDesktop || 'scroll-to-continue' @ i18n}</span>
        		<span><i class="fa fa-angle-down"></i></span>
        	</div>
	        <a data-sly-test="${properties.videoReference}" class="video-link " href="${currentNode.path @ selectors='video', extension='html'}"
	            data-target=".bs-modal-lg">
	            <i class="fa fa-play"></i>
	        </a>
	    </div>
	    <div class="hidden-sm hidden-md hidden-lg ${properties.enableInlineGallery && banner.inlineGalleryID ? 'c-hero-banner-mobile-version' : ''}">
	        <div class="c-hero-banner__image ${properties.viewHeightMobile} ${properties.maxHeightMobile}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
	        	 <a data-sly-test="${properties.videoReference}" class="video-link " href="${currentNode.path @ selectors='video', extension='html'}"
	            	data-target=".bs-modal-lg">
	            	<i class="fa fa-play"></i>
	        	</a>
                <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCover/imageCovertemplate.html" data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPathMobile}" />
            </div>
	        <div data-sly-test="${!properties.disabledText}" class="row c-hero-banner__row">
	            <div class="col-sm-5 c-hero-banner__content ${properties.disabledTextBackground ? '' : 'c-hero-banner__content--white'}">
	                <h1 data-sly-test="${properties.titletag == 'h1' || !properties.titletag}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h1>
	                <h2 data-sly-test="${properties.titletag == 'h2'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h2>
	                <h3 data-sly-test="${properties.titletag == 'h3'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h3>
	                <span data-sly-test="${properties.titletag == 'span'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</span>
	                <p class="c-hero-banner__description">${banner.description || pageProperties.jcr:description @ context="html"}</p>
	                <sly data-sly-test.btn1="${banner.btn1}" />
	                <sly data-sly-test.btn2="${banner.btn2}" />
	                <div class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
	                	<div class="c-hero-banner__buttons__item">
		                    <a data-sly-test="${btn1.reference && btn1.analyticType != 'clic-RAQ'}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
		                        <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
		                    </a>
		                    <a data-sly-test="${btn1.reference && btn1.analyticType == 'clic-RAQ'}" href="${btn1.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
		                        <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
		                    </a>
	                    </div>
	                    <div class="c-hero-banner__buttons__item">
		                    <a data-sly-test="${btn2.reference && btn2.analyticType != 'clic-RAQ'}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
		                        <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
		                    </a>
		                    <a data-sly-test="${btn2.reference && btn2.analyticType == 'clic-RAQ'}" href="${btn2.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
		                        <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
		                    </a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

    </div>
</template>

<template data-sly-template.home="${ @ banner}">
    <div id="c-hero-banner-${properties.sscUUID}" class="c-hero-banner c-hero-banner__search ${properties.enableInlineGallery && banner.inlineGalleryID ? 'inline-gallery-included' : ''}" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
         data-sly-use.pageHelper="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}">
		<sly data-sly-test="${!properties.enableInlineGallery || !banner.inlineGalleryID}">
	        <div class="c-hero-banner__image hidden-xs ${properties.viewHeightDesktop} ${properties.viewHeightTablet} ${properties.maxHeightDesktop} ${properties.maxHeightTablet}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
	            <sly data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPath}" />
	        </div>
	        <div class="c-hero-banner__image visible-xs ${properties.viewHeightMobile} ${properties.maxHeightMobile}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
	            <sly data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPathMobile}" />
	        </div>
         </sly>
		<sly data-sly-test="${properties.enableInlineGallery && banner.inlineGalleryID}">
			<div class="c-hero-banner-mobile-version">
			 	<div class="c-hero-banner__image hidden-xs ${properties.viewHeightDesktop} ${properties.viewHeightTablet} ${properties.maxHeightDesktop} ${properties.maxHeightTablet}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
		            <sly data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPath}" />
		        </div>
		        <div class="c-hero-banner__image visible-xs ${properties.viewHeightMobile} ${properties.maxHeightMobile}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
		            <sly data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPathMobile}" />
		        </div>
			</div>
		</sly>         
        <div data-sly-test="${!properties.disabledText}" class="row c-hero-banner__row hidden-xs">
            <div class="col-sm-5 c-hero-banner__content ${properties.disabledTextBackground ? '' : 'c-hero-banner__content--white'}">
                <h1 data-sly-test="${properties.titletag == 'h1' || !properties.titletag}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h1>
                <h2 data-sly-test="${properties.titletag == 'h2'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h2>
                <h3 data-sly-test="${properties.titletag == 'h3'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h3>
                <span data-sly-test="${properties.titletag == 'span'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</span>
                <p class="c-hero-banner__description">${banner.description || pageProperties.jcr:description @ context="html"}</p>
                <sly data-sly-test.btn1="${banner.btn1}" />
                <sly data-sly-test.btn2="${banner.btn2}" />
                <p class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
                    <a data-sly-test="${btn1.reference && btn1.analyticType != 'clic-RAQ'}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
                        <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
                        <span class="hidden-xs hidden-sm">${btn1.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                    </a>
                    <a data-sly-test="${btn2.reference && btn2.analyticType != 'clic-RAQ'}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
                        <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
                        <span class="hidden-xs hidden-sm">${btn2.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                    </a>
                    <a data-sly-test="${btn1.reference && btn1.analyticType == 'clic-RAQ'}" href="${btn1.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
                        <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
                        <span class="hidden-xs hidden-sm">${btn1.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                    </a>
                    <a data-sly-test="${btn2.reference && btn2.analyticType == 'clic-RAQ'}" href="${btn2.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
                        <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
                        <span class="hidden-xs hidden-sm">${btn2.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="c-hero-banner-scrolldown ${properties.showScrollActionDesktop ? 'c-hero-banner-scrolldown-desktop' : '' } c-hero-banner-scrolldown-desktop-${properties.colorScrollActionDesktop}" data-sly-test="${properties.showScrollActionDesktop}">
        	<span>${properties.textScrollActionDesktop || 'scroll-to-continue' @ i18n}</span>
        	<span><i class="fa fa-angle-down"></i></span>
        </div>
        <a data-sly-test="${properties.videoReference}" class="video-link hidden-xs " href="${currentNode.path @ selectors='video', extension='html'}"
            data-target=".bs-modal-lg">
            <i class="fa fa-play"></i>
        </a>
    </div>
</template>

<template data-sly-template.offer="${ @ banner}">
    <div id="c-hero-banner-${properties.sscUUID}" class="c-hero-banner c-hero-banner__search c-hero-banner__exclusiveoffers ${properties.enableInlineGallery && banner.inlineGalleryID ? 'inline-gallery-included' : ''}"
         data-sly-use.pageHelper="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}">
        <div class="hidden-xs">
            <div class="c-hero-banner__image ${properties.viewHeightDesktop} ${properties.viewHeightTablet} ${properties.maxHeightDesktop} ${properties.maxHeightTablet}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
                <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPath}" />
            </div>
            <div data-sly-test="${!properties.disabledText}" class="row c-hero-banner__row">
                <div class="col-sm-5 c-hero-banner__content ${properties.disabledTextBackground ? '' : 'c-hero-banner__content--white'}">
                    <h1 data-sly-test="${properties.titletag == 'h1' || !properties.titletag}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h1>
	                <h2 data-sly-test="${properties.titletag == 'h2'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h2>
	                <h3 data-sly-test="${properties.titletag == 'h3'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h3>
	                <span data-sly-test="${properties.titletag == 'span'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</span>
                    <p class="c-hero-banner__description">${banner.description || pageProperties.jcr:description @ context="html"}</p>
                    <sly data-sly-test.btn1="${banner.btn1}" />
                    <sly data-sly-test.btn2="${banner.btn2}" />
                    <p class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
                        <a data-sly-test="${btn1.reference && btn1.analyticType != 'clic-RAQ'}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
                            <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
                            <span class="hidden-xs hidden-sm">${btn1.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                        </a>
                        <a data-sly-test="${btn2.reference && btn2.analyticType != 'clic-RAQ'}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
                            <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
                            <span class="hidden-xs hidden-sm">${btn2.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                        </a>
                        <a data-sly-test="${btn1.reference && btn1.analyticType == 'clic-RAQ'}" href="${btn1.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
                            <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
                            <span class="hidden-xs hidden-sm">${btn1.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                        </a>
                        <a data-sly-test="${btn2.reference && btn2.analyticType == 'clic-RAQ'}" href="${btn2.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
                            <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
                            <span class="hidden-xs hidden-sm">${btn2.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="c-hero-banner-scrolldown ${properties.showScrollActionDesktop ? 'c-hero-banner-scrolldown-desktop' : '' } c-hero-banner-scrolldown-desktop-${properties.colorScrollActionDesktop}" data-sly-test="${properties.showScrollActionDesktop}">
        		<span>${properties.textScrollActionDesktop || 'scroll-to-continue' @ i18n}</span>
        		<span><i class="fa fa-angle-down"></i></span>
        	</div>
            <a data-sly-test="${properties.videoReference}" class="video-link " href="${currentNode.path @ selectors='video', extension='html'}"
            	data-target=".bs-modal-lg">
            	<i class="fa fa-play"></i>
       		</a>
        </div>
        <div class="hidden-sm hidden-md hidden-lg ${properties.enableInlineGallery && banner.inlineGalleryID ? 'c-hero-banner-mobile-version' : ''}">
        	<div class="c-hero-banner__image ${properties.viewHeightMobile} ${properties.maxHeightMobile}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
	        	<a data-sly-test="${properties.videoReference}" class="video-link " href="${currentNode.path @ selectors='video', extension='html'}"
	            	data-target=".bs-modal-lg">
	            	<i class="fa fa-play"></i>
	        	</a>
                <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCover/imageCovertemplate.html" data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPathMobile}" />
            </div>
            <div data-sly-test="${!properties.disabledText}" class="row c-hero-banner__row">
                <div class="col-sm-5 c-hero-banner__content ${properties.disabledTextBackground ? '' : 'c-hero-banner__content--white'}">
                    <h1 data-sly-test="${properties.titletag == 'h1' || !properties.titletag}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h1>
	                <h2 data-sly-test="${properties.titletag == 'h2'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h2>
	                <h3 data-sly-test="${properties.titletag == 'h3'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h3>
	                <span data-sly-test="${properties.titletag == 'span'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</span>
                    <p class="c-hero-banner__description">${banner.description || pageProperties.jcr:description @ context="html"}</p>
                    <sly data-sly-test.btn1="${banner.btn1}" />
                    <sly data-sly-test.btn2="${banner.btn2}" />
                    <div class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
                    	<div class="c-hero-banner__buttons__item">
	                        <a data-sly-test="${btn1.reference && btn1.analyticType != 'clic-RAQ'}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
	                            <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
	                        </a>
	                        <a data-sly-test="${btn1.reference && btn1.analyticType == 'clic-RAQ'}" href="${btn1.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
	                            <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
	                        </a>
                    	</div>
                    	<div class="c-hero-banner__buttons__item">
	                        <a data-sly-test="${btn2.reference && btn2.analyticType != 'clic-RAQ'}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
	                            <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
	                        </a>
	                        <a data-sly-test="${btn2.reference && btn2.analyticType == 'clic-RAQ'}" href="${btn2.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
	                            <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
	                        </a>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
	    </div>
</template>

<template data-sly-template.abTest="${ @ banner}">
	<div id="c-hero-banner-${properties.sscUUID}" class="c-hero-banner c-hero-banner-v2 ${properties.enableInlineGallery && banner.inlineGalleryID ? 'inline-gallery-included' : ''}"
		 data-sly-use.pageHelper="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}">
		<div class="hidden-xs">
			<div class="c-hero-banner__image ${properties.viewHeightDesktop} ${properties.viewHeightTablet} ${properties.maxHeightDesktop} ${properties.maxHeightTablet}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
				<sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPath}" />
			</div>
			<div data-sly-test="${!properties.disabledText}" class="row c-hero-banner__row">
				<div class="c-hero-banner__content col-sm-12">
					<div class="c-hero-banner__parent">
						<div class="c-hero-banner__content-col col-sm-9">
							<h1 data-sly-test="${properties.titletag == 'h1' || !properties.titletag}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h1>
							<h2 data-sly-test="${properties.titletag == 'h2'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h2>
							<h3 data-sly-test="${properties.titletag == 'h3'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h3>
							<span data-sly-test="${properties.titletag == 'span'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</span>
						</div>
						<div class="c-hero-banner__content-col-btn col-sm-3">
							<sly data-sly-test.btn1="${banner.btn1}" />
							<sly data-sly-test.btn2="${banner.btn2}" />
							<p class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
								<a data-sly-test="${btn1.reference && btn1.analyticType != 'clic-RAQ'}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
									<span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
									<span class="hidden-xs hidden-sm">${btn1.title} </span>
								</a>
								<a data-sly-test="${btn2.reference && btn2.analyticType != 'clic-RAQ'}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
									<span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
									<span class="hidden-xs hidden-sm">${btn2.title}</span>
								</a>
								<a data-sly-test="${btn1.reference && btn1.analyticType == 'clic-RAQ'}" href="${btn1.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
									<span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
									<span class="hidden-xs hidden-sm">${btn1.title}</span>
								</a>
								<a data-sly-test="${btn2.reference && btn2.analyticType == 'clic-RAQ'}" href="${btn2.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
									<span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
									<span class="hidden-xs hidden-sm">${btn2.title}</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="c-hero-banner-scrolldown ${properties.showScrollActionDesktop ? 'c-hero-banner-scrolldown-desktop' : '' } c-hero-banner-scrolldown-desktop-${properties.colorScrollActionDesktop}" data-sly-test="${properties.showScrollActionDesktop}">
				<span>${properties.textScrollActionDesktop || 'scroll-to-continue' @ i18n}</span>
				<span><i class="fa fa-angle-down"></i></span>
			</div>
			<a data-sly-test="${properties.videoReference}" class="video-link " href="${currentNode.path @ selectors='video', extension='html'}"
				   data-target=".bs-modal-lg">
				<i class="fa fa-play"></i>
			</a>
		</div>
		<div class="hidden-sm hidden-md hidden-lg ${properties.enableInlineGallery && banner.inlineGalleryID ? 'c-hero-banner-mobile-version' : ''}">
			<div class="c-hero-banner__image ${properties.viewHeightMobile} ${properties.maxHeightMobile}" data-sly-test.reference="${banner.background || pageHelper.thumbnail}">
				<a data-sly-test="${properties.videoReference}" class="video-link " href="${currentNode.path @ selectors='video', extension='html'}"
				   data-target=".bs-modal-lg">
					<i class="fa fa-play"></i>
				</a>
				<sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCover/imageCovertemplate.html" data-sly-call="${imageTemplate.default @ imagePath=banner.imageBackgroundPathMobile}" />
			</div>
			<div data-sly-test="${!properties.disabledText}" class="row c-hero-banner__row">
				<div class="col-sm-5 c-hero-banner__content ${properties.disabledTextBackground ? '' : 'c-hero-banner__content--white'}">
					<h1 data-sly-test="${properties.titletag == 'h1' || !properties.titletag}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h1>
					<h2 data-sly-test="${properties.titletag == 'h2'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h2>
					<h3 data-sly-test="${properties.titletag == 'h3'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</h3>
					<span data-sly-test="${properties.titletag == 'span'}" class="c-hero-banner__title">${banner.title || pageProperties.jcr:title @ context="html"}</span>
					<div class="c-hero-banner__description">${banner.description || pageProperties.jcr:description @ context="html"}</div>
					<sly data-sly-test.btn1="${banner.btn1}" />
					<sly data-sly-test.btn2="${banner.btn2}" />
					<div class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
						<div class="c-hero-banner__buttons__item">
							<a data-sly-test="${btn1.reference && btn1.analyticType != 'clic-RAQ'}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
								<span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
							</a>
							<a data-sly-test="${btn1.reference && btn1.analyticType == 'clic-RAQ'}" href="${btn1.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
								<span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
							</a>
						</div>
						<div class="c-hero-banner__buttons__item">
							<a data-sly-test="${btn2.reference && btn2.analyticType != 'clic-RAQ'}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
								<span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
							</a>
							<a data-sly-test="${btn2.reference && btn2.analyticType == 'clic-RAQ'}" href="${btn2.reference @ extension='html', selectors=banner.selectorUrl, suffix=banner.suffixUrl}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
								<span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-hero-banner-v2">
		<div class="c-hero-banner__description__desktop hidden-xs" data-sly-test="${banner.description}">
			<p> ${banner.description @ context='html'} </p>
		</div>
	</div>
</template>