<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Hero banner"></div>
<div class="c-hero-banner" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
    data-sly-use.banner="com.silversea.aem.components.editorial.HeroBannerUse">
    <sly data-sly-call="${imageTemplate.default @ imagePath=properties.assetReference}" />
    <div class="container">
        <h1>${properties.title @ context="html"}</h1>
        <p>${properties.jcr:description @ context="html"}</p>
        ${heroBanner.hasButton1 || 'empty'}
    </div>
</div>