<template data-sly-template.default>
    <div class="c-hero-banner" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
        data-sly-use.banner="com.silversea.aem.components.editorial.HeroBannerUse">
        <div class="c-hero-banner__image hidden-xs" data-sly-test.reference="${properties.assetReference}">
            <sly data-sly-call="${imageTemplate.default @ imagePath=reference}" />
        </div>
        <div class="row c-hero-banner__row">
            <div class="col-sm-5 c-hero-banner__content ${properties.disabledTextBackground ? '' : 'c-hero-banner__content--white'}">
                <h1 class="c-hero-banner__title">${properties.text || pageProperties.jcr:title @ context="html"}</h1>
                <p class="c-hero-banner__description">${properties.jcr:description || pageProperties.jcr:description @ context="html"}</p>
                <sly data-sly-test.btn1="${banner.btn1}" />
                <sly data-sly-test.btn2="${banner.btn2}" />
                <p class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
                    <a data-sly-test="${btn1.reference}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
                        <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
                        <span class="hidden-xs hidden-sm">${btn1.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                    </a>
                    <a data-sly-test="${btn2.reference}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
                        <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
                        <span class="hidden-xs hidden-sm">${btn2.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <a data-sly-test="${properties.videoReference}" class="c-hero-banner__video-link hidden-xs" href="#">
            <i class="fa fa-play"></i>
        </a>
    </div>
</template>

<template data-sly-template.home>
    <div class="c-hero-banner c-hero-banner__search" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
        data-sly-use.banner="com.silversea.aem.components.editorial.HeroBannerUse">
        <div class="c-hero-banner__image" data-sly-test.reference="${properties.assetReference}">
            <sly data-sly-call="${imageTemplate.default @ imagePath=reference}" />
        </div>
        <div class="row c-hero-banner__row hidden-xs">
            <div class="col-sm-5 c-hero-banner__content ${properties.disabledTextBackground ? '' : 'c-hero-banner__content--white'}">
                <h1 class="c-hero-banner__title">${properties.text || pageProperties.jcr:title @ context="html"}</h1>
                <p class="c-hero-banner__description">${properties.jcr:description || pageProperties.jcr:description @ context="html"}</p>
                <sly data-sly-test.btn1="${banner.btn1}" />
                <sly data-sly-test.btn2="${banner.btn2}" />
                <p class="c-hero-banner__buttons" data-sly-test="${btn1 || btn2}">
                    <a data-sly-test="${btn1.reference}" href="${btn1.reference @ extension='html'}" class="btn btn-${btn1.color} ${btn1.size}" data-sscclicktype="${btn1.analyticType}">
                        <span class="visible-xs-inline visible-sm-inline">${btn1.titleTablet || btn1.title}</span>
                        <span class="hidden-xs hidden-sm">${btn1.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                    </a>
                    <a data-sly-test="${btn2.reference}" href="${btn2.reference @ extension='html'}" class="btn btn-${btn2.color} ${btn2.size}" data-sscclicktype="${btn2.analyticType}">
                        <span class="visible-xs-inline visible-sm-inline">${btn2.titleTablet || btn2.title}</span>
                        <span class="hidden-xs hidden-sm">${btn2.title}</span> <i class="fa fa-lg fa-angle-right"></i>
                    </a>
                </p>
            </div>
        </div>
        <a data-sly-test="${properties.videoReference}" class="c-hero-banner__video-link" href="#">
            <i class="fa fa-play"></i>
        </a>
    </div>
</template>