<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Hero banner"></div>
<sly data-sly-use.banner="com.silversea.aem.components.editorial.HeroBannerUse">
	<sly data-sly-use.heroBannerTemplate="silversea/silversea-com/components/editorial/herobanner/herobannertemplate.html" />
	<sly data-sly-test="${!properties.type}" data-sly-call="${heroBannerTemplate.default @ banner=banner}" />
	<sly data-sly-test="${properties.type == 'home'}" data-sly-call="${heroBannerTemplate.home @ banner=banner}" />
	<sly data-sly-test="${properties.type == 'offer'}" data-sly-call="${heroBannerTemplate.offer @ banner=banner}" />
	<style>
		@media (min-width: 768px){
			#c-hero-banner-${properties.sscUUID @context="unsafe"} .c-hero-banner__image picture div {
		    	background-position: ${properties.desktopBackgoundPosition || "center" @ context="unsafe"} !important;
		    }
		}
		@media (max-width: 767px){
		    #c-hero-banner-${properties.sscUUID @context="unsafe"} .c-hero-banner__image picture div  {
		    	background-position: ${properties.mobileBackgoundPosition || "center" @ context="unsafe"} !important;
		    }
		    
		    #c-hero-banner-${properties.sscUUID @context="unsafe"}  .c-hero-banner__image   {
				height:${properties.mobileheight || 220 @ context="unsafe"}px !important;
			}
		}
	</style>
	<sly data-sly-test="${properties.enableInlineGallery && banner.inlineGalleryID}">
		<script>
			if($(window).width() < 768){
			    $(document).ready(function() {   
			    	$('#c-hero-banner-${properties.sscUUID @context="unsafe"} .c-hero-banner-mobile-version .c-hero-banner__image').replaceWith($('${banner.inlineGalleryID @ context="unsafe"}'));
			    	$('${banner.inlineGalleryID @ context="unsafe"}').addClass("inside-hero-banner");
			    	$('#c-hero-banner-${properties.sscUUID @context="unsafe"} .c-hero-banner-mobile-version.c-hero-banner-landing__image').css("display", "inline-block");
			    	$('#c-hero-banner-${properties.sscUUID @context="unsafe"} .c-hero-banner-mobile-version a.automatic-gallery-modal:not(.video-link)').removeClass("automatic-gallery-modal");
			    	$('#c-hero-banner-${properties.sscUUID @context="unsafe"} .c-hero-banner-mobile-version a.automatic-gallery-modal.video-link').css("left", "50%");
			    	
				});
			}
		</script>
		<style>
			@media screen and (max-width: 767px) {
				${banner.inlineGalleryID @ context="unsafe"}.c-inline-gallery.c-slider .slick-slide > div {
				    height:${properties.mobileheight || 220 @ context="unsafe"}px !important;
				}
				${banner.inlineGalleryID @ context="unsafe"}.inside-hero-banner .c-inline-gallery-slider__image-wrapper  .o-img {
					height: ${properties.mobileheight @ context="unsafe" || 250 }px !important;
				}
			}
			@media(max-width: 767px) {
				${banner.inlineGalleryID @ context="unsafe"}.inside-hero-banner {
			    	margin-top: 0px !important;
			    	margin-bottom: 0px !important;
				}
				#c-hero-banner-${properties.sscUUID @context="unsafe"} .c-hero-banner__image .video-link {
					display: none;  
				}
				.modal-content--gallery .c-gallery__counter{
					display: none;
				}
				.modal-content--gallery  .slick-arrow {
					display: none !important;
				}
			}
		</style>
	</sly>
</sly>
