<div class="c-cruise__cta" data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse">
    <a class="btn btn-thin btn-dark effect" href="#" data-scroll-target=".c-tab__accordion" data-tab-target="#suitenfare"><span>${'suites-and-fares' @ i18n}</span><i class="fa fa-angle-right"></i></a>
    <a class="btn btn-thin btn-red effect" data-sly-test.suffix="${'{0}{1}' @ format=[pageProperties.cruiseCode, '.html']}"
        href="${cruise.requestQuotePagePath @ extension='html', suffix=suffix}" data-sscclicktype="clic-RAQ"><span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i></a>
</div>
