<div class="c-cruise__enrichments">
    <h3 class="c-cruise__subtitle">${'enrichments' @ i18n}</h3>
    <p class="c-cruise__descr">${'cruise-enrichments-description' @ i18n}</p>
    <div class="enrichments__slider">
        <div class="enrichments__slider-item">
            <i class="icon-spade"></i>
            <p class="enrichments__slider__title">bridge sailings</p>
            <p class="enrichments__slider__subtitle">Bridge cruises with a competitive yet playful ambience</p>
        </div>
    </div>
</div>
