<div class="c-cruise__enrichments" data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse">
    <h3 class="c-cruise__subtitle">${'enrichments' @ i18n}</h3>
    <p class="c-cruise__descr">${'cruise-enrichments-description' @ i18n}</p>
    <div class="c-slider c-slider--default enrichments__slider c-slider--style2 c-slider--arrowoutside" data-sly-list="${cruise.cruiseModel.featuresForDisplay}" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
        <div class="enrichments__slider-item">
            <i class="${item.icon}"></i>
            <p class="enrichments__slider__title">${item.title}</p>
            <p class="enrichments__slider__subtitle hidden-xs">${item.description}</p>
        </div>
    </div>
</div>