<div class="c-cruise__fare" data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse">
    <h3 class="c-cruise__subtitle">${'included-cruise-fare' @ i18n}</h3>
    <ul class="c-list">
        <li data-sly-repeat="${cruise.exclusiveOffersCruiseFareAdditions}"><strong>${item}</strong></li>
        <li data-sly-repeat="${cruise.cruiseModel.cruiseFareAdditions}">${item}</li>
    </ul>
    <!--/*
    <div class="c-list__expand" data-sly-test="${cruise.cruiseModel.getTotalFareAddictions >= 8}">
        <a href="#" class="view_all">${'view-all' @ i18n} <i class="fa fa-angle-down"></i></a>
        <a href="#" class="view_less">${'view-less' @ i18n} <i class="fa fa-angle-up"></i></a>
    </div>
    */-->
</div>
