<div class="c-cruise__fare">
	<h3 class="c-cruise__subtitle">${'included-cruise-fare' @ i18n}</h3>
    <ul class="c-list">
        <li class="includedEO">Included flights between Ecuador and the Galápagos Islands</li>
        <li class="includedEO">Included Transfers</li>
        <li class="includedEO">Included pre and post Hotel*</li>
        <li class="includedEO">Included National Park fees</li>
        <li>Personalised service – the best crew-to-guest ratio in expedition cruising</li>
        <li>Butler service in every suite – all guests are pampered equally</li>
        <li>Open-seating dining options – dine when and with whomever you please</li>
        <li>Beverages in-suite and throughout the ship – select wines, premium spirits, specialty coffees and soft drinks, plus your own tailored mini-bar</li>
        <li>In-suite dining and room service – available 24 hours aboard Silver Explorer, and from 06:00 to 23:00 aboard Silver Galapagos and Silver Discoverer</li>
        <li>Enrichment lectures by a highly qualified Expeditions Team</li>
        <li>Guided Zodiac, land and sea tours, and shoreside activities led by the Expeditions Team</li>
        <li>Gratuities always included in your fare</li>
    </ul>
    <div class="c-list__expand">
        <a href="#" class="view_all">${'view-all' @ i18n} <i class="fa fa-angle-down"></i></a>
        <a href="#" class="view_less">${'view-less' @ i18n} <i class="fa fa-angle-up"></i></a>
    </div>
</div>