<template data-sly-template.default="${ @ cruise }">
<div data-sly-resource="${'parCruiseIncluded' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    <div class="c-cruise__fare">
        <h3 class="c-cruise__subtitle">${'included-cruise-fare' @ i18n}</h3>
        <sly data-sly-test.more="${cruise.cruiseFareAdditionsSize > 8}" />
        <div class="c-list--cruise-fare-additions__wrapper row ${more ? 'closed' : ''}">
            <ul class="c-list c-list--cruise-fare-additions col-sm-6">
                <li data-sly-repeat="${cruise.exclusiveOffersCruiseFareAdditions}"><strong>${item}</strong></li>
                <li data-sly-repeat="${cruise.cruiseModel.cruiseFareAdditions}">${item}</li>
           </ul>
        </div>
        <div class="c-list__expand" data-sly-test="${more}">
            <a href="#" class="view_all">${'view-all' @ i18n} <i class="fa fa-angle-down"></i></a>
            <a href="#" class="view_less">${'view-less' @ i18n} <i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</template>
<template data-sly-template.abTestV2="${ @ cruise }">
<div data-sly-resource="${'parCruiseIncluded' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    <div class="c-cruise__fare">
        <h3 class="c-cruise__subtitle">${'included-cruise-fare' @ i18n}</h3>
        <sly data-sly-test.more="${cruise.cruiseFareAdditionsSize > 8}" />
        <div class="c-list--cruise-fare-additions__wrapper row opened">
            <ul class="c-list c-list--cruise-fare-additions col-sm-6">
                <li data-sly-repeat="${cruise.exclusiveOffersCruiseFareAdditions}"><strong>${item}</strong></li>
                <li data-sly-repeat="${cruise.cruiseModel.cruiseFareAdditions}">${item}</li>
           </ul>
        </div>
        <div class="c-list__expand" data-sly-test="${more}">
            <a href="#" class="view_all">${'view-all' @ i18n} <i class="fa fa-angle-down"></i></a>
            <a href="#" class="view_less">${'view-less' @ i18n} <i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</template>