<template data-sly-template.default="${ @ cruise }">
<div data-sly-resource="${'parCruiseFootnotes' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    <div class="c-cruise__footnotes">
        <ul>
            <sly data-sly-list.eo="${cruise.exclusiveOffers}">
                <li data-sly-repeat.footnote="${eo.footNotes}">
                    <i>${footnote}</i>
                </li>
            </sly>
            <li data-sly-test="${cruise.cruiseModel.destination.footnote}"><i>${cruise.cruiseModel.destination.footnote}</i></li>
        </ul>
    </div>
</template>