<template data-sly-template.default="${ @ cruise }">
     <div class="row c-cruise__overview" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html">
        <div class="col-sm-6 hidden-xs voyageimg">
            <div class="voyageimg__info">	
                <p>${cruise.mapOverHead}</p>
            </div>
		    <sly data-sly-use.overviewImage="silversea/silversea-com/components/pages/cruise/fragment/overviewtab/galleryimage.html" 
    			data-sly-call="${overviewImage.listImage @ list = cruise.allAssetWithItinerary, imageTemplate = imageTemplate}" />
            <p class="voyageimg__label">${'fares-shown-are-per-guest' @ i18n}</p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12 voyagetable">
                    <div class="voyagetable__elem">
                        <a href="#" data-scroll-target=".c-cruise__itineraries">
                            <span class="lead__top">${'duration' @ i18n}</span>
                            <span class="lead">${cruise.cruiseModel.duration}</span>
                            <span class="lead__bottom">${'days' @ i18n}</span>
                        </a>
                    </div>
                    <div class="voyagetable__elem">
                        <a href="#" data-scroll-target=".c-cruise__itineraries">
                            <span class="lead__top">${'departure' @ i18n}</span>
                            <span class="lead" data-sly-use.dateDay="${'com.silversea.aem.helper.DateHelper' @ format='MMM dd', date=cruise.cruiseModel.startDate}">
                                ${dateDay.value}
                            </span>
                            <span class="lead__bottom" data-sly-use.dateYear="${'com.silversea.aem.helper.DateHelper' @ format='yyyy', date=cruise.cruiseModel.startDate}">
                                ${dateYear.value}
                            </span>
                        </a>
                    </div>
                    <div class="voyagetable__elem" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <a href="#" data-tab-target="#suitenfare-b-version">
                            <sly data-sly-test.early="${cruise.lowestPrice.earlyBookingBonus}" />
                            <span data-sly-test.prefix="${cruise.pricePrefix}" ><br />${prefix}</span>
                            <span class="lead__top" data-sly-test="${!prefix}" >
                                ${'fares-from' @ i18n}
                            </span>
                            <span class="lead" data-sly-test="${cruise.isWaitList}">
                                ${'waitlist' @ i18n}
                            </span>
                            <sly data-sly-test="${!cruise.isWaitList}">
                                <span class="lead">
                                	<span itemprop="priceCurrency" content="${cruise.lowestPrice.currency}"></span>
                                    ${cruise.lowestPrice.currency @ i18n} <span itemprop="price" style="display: inline-block;">${cruise.computedPriceFormated}</span>
                                </span>
                                <span  data-sly-test="${early}" class="price-suffixe">
                                    ${'with-early' @ i18n}${'booking-bonus' @ i18n}
                                </span>
                            </sly>
                        </a>
                        <span itemprop="itemCondition" content="new" style="display:none">new</span>
                    </div>
                </div>

                <div class="col-xs-12 visible-xs voyageimg">
                    <div class="voyageimg__info">
                        <p>${cruise.mapOverHead}</p>
                    </div>
					<sly data-sly-use.overviewImage="silversea/silversea-com/components/pages/cruise/fragment/overviewtab/galleryimage.html" 
    					data-sly-call="${overviewImage.listImage @ list = cruise.allAssetWithItinerary, imageTemplate = imageTemplate}" />                
                </div>
                <div class="col-xs-12">
                    <div class="voyagefeature" data-sly-use.lightbox="${'com.silversea.aem.helper.PageHelper' @ path=pageProperties.shipReference}">

                        <p><strong> ${'feature-exclusive-offers' @ i18n}:</strong></p>

                        <div class="voyagefeature__offer" data-sly-list.EO="${cruise.exclusiveOffers}"
                            data-sly-test.isEo="${cruise.exclusiveOffers.size > 0}">
                            <a data-sly-test="${EO.lightboxReference && !EO.newSystem}"
                               href="${EO.lightboxReference @ extension='html', selectors='modalcontent'}"
                               data-toggle="modal"
                               data-target=".bs-${lightbox.page.properties.modalSize || 'modal-lg'}">
                                <strong><i class="fa fa-star"></i> ${EO.title}:&nbsp;</strong>${EO.description @ context='html'}
                            </a>
                            <a data-sly-test="${EO.newSystem}"
                               href="${EO.exclusiveOfferPath @ extension='html', selectors='modalcontent'}" 
                               rel="nofollow"
                               data-toggle="modal"
                               data-target=".bs-modal-lg">
                                <strong><i class="fa fa-star"></i> ${EO.title @ context='html'}:&nbsp;</strong>${EO.description @ context='html'}
                            </a>
                            <p data-sly-test="${!EO.lightboxReference && !EO.newSystem}">
                                <strong><i class="fa fa-star"></i> ${EO.title}:&nbsp;</strong>${EO.description @ context='html'}
                            </p>
                            <p data-sly-test="${cruise.isVS && EOList.last}"><strong><i class="icon-shield-v"></i> ${'VS-EO-Title' @ i18n}:&nbsp;</strong>${'VS-EO-Message' @ i18n}</p>
                        </div>

                        <div class="voyagefeature__offer" data-sly-test="${!isEo}">
                            <p><strong>${'feature-no-exclusive-offers-title' @ i18n}&nbsp;</strong>${'feature-no-exclusive-offers-description' @ i18n}</p>
                            <p data-sly-test="${cruise.isVS}"><strong><i class="icon-shield-v"></i> ${'VS-EO-Title' @ i18n}:&nbsp;</strong>${'VS-EO-Message' @ i18n}</p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <p class="voyageimg__label visible-xs">${'fares-shown-are-per-guest' @ i18n}</p>
                    <div class="voyageshare_wrap">
                        <a href='${cruise.currentPath @ context="uri"}.rendition.download.${cruise.countryCode @ context="scriptString"}${cruise.ccptCode @ context="scriptString"}${cruise.taCode @ context="scriptString"}.t.pdf' target="_blank" class="share" id="pdf_share_download" rel="nofollow"><i class="fa fa-refresh fa-spin" style="display: none;"></i><i class="fa fa-file-pdf-o"></i></a>
                        <a href="#" class="share" id="pdf_print" rel="nofollow"><i class="fa fa-print"></i></a>
						<div id="social_shares_wrapper" style="display:inline-block;width:94px;overflow:hidden;margin:0 3px;vertical-align:middle;height:30px">
                            <div id="social_shares" style="width:70px;margin-top:-3px" class="jssocials">
                                
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-thin btn-dark effect pull-right hidden-xs" href="#" data-tab-target="#suitenfare-b-version">${'suites-and-fares' @ i18n} <span><i class="fa fa-angle-right"></i></span></a>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var pdfClicked = false;
                            var downloadWin = '';
                            var currentWindow = $(window);
                            

							var pdfPrintClicked = false;
							var printWin = '';
                            $('#pdf_print').on('click', function (e) {
                                e.preventDefault();
                                if(!pdfPrintClicked) {
                                    pdfPrintClicked = true;
                                    
                                    $.ajax({
                                        url: '${cruise.currentPath @ context="uri"}.rendition.print.${cruise.countryCode @ context="scriptString"}${cruise.ccptCode @ context="scriptString"}.pdf',
                                        beforeSend: function(){
                                    		$('.voyageshare_wrap .fa-refresh').show();
                                    		$('.voyageshare_wrap .fa-file-pdf-o').hide();
                                    		printWin = window.open('', '_blank'); 
                                        },
                                        success: function(r) {
	                                        $('.voyageshare_wrap .fa-refresh').hide();
	                                        $('.voyageshare_wrap .fa-file-pdf-o').show();
                                            printWin.location = '${cruise.currentPath @ context="uri"}.rendition.print.${cruise.countryCode @ context="scriptString"}${cruise.ccptCode @ context="scriptString"}.pdf';
                                            printWin.focus();
                                            pdfPrintClicked = false;
                                        }
                                    });
                                }
                            });
							var cruiseTypeText = '';
                            if(${(cruise.cruiseModel.cruiseType == 'silversea-expedition') @ context='scriptString'}){ cruiseTypeText='${'expedition-cruise' @ i18n,context='scriptString'}' } else{cruiseTypeText='${'cruise' @ i18n,context='scriptString'}'};
                            shareText  = ('${cruise.cruiseModel.departurePortName @ context='scriptString'} ${'to' @ i18n, context='scriptString' } ${cruise.cruiseModel.arrivalPortName @ context='scriptString'}, ${(cruise.cruiseModel.destination.navigationTitle ||cruise.cruiseModel.destination.title) @ context='scriptString'} ') + cruiseTypeText;
                            if( $("#social_shares").jsSocials != undefined){
                            	socialInit();                            
                            }
                            
                        });	
                        
                        function socialInit(){
                        	$("#social_shares").jsSocials({
  							  showLabel: false,
  							  showCount: false,
  							  shareIn: "popup",
  							  text: shareText ,
  							  shares: ["facebook"]
  							 });
                        }
						function ajax_download(url, data) {
								var $iframe,
									iframe_doc,
									iframe_html;

								if (($iframe = $('#download_iframe')).length === 0) {
									$iframe = $("<iframe id='download_iframe'" +
												" style='display: none' src='about:blank'></iframe>"
											   ).appendTo("body");
								}

								iframe_doc = $iframe[0].contentWindow || $iframe[0].contentDocument;
								if (iframe_doc.document) {
									iframe_doc = iframe_doc.document;
								}

								iframe_html = "<html><head></head><body><form method='GET' action='" +
											  url +"'></form>" +
											  "</body></html>";

								iframe_doc.open();
								iframe_doc.write(iframe_html);
								$(iframe_doc).find('form').submit();
							}
						

						function readCookie(c_name) {
								if (document.cookie.length > 0) {
									c_start = document.cookie.indexOf(c_name + "=");
									if (c_start != -1) {
										c_start = c_start + c_name.length + 1;
										c_end = document.cookie.indexOf(";", c_start);
										if (c_end == -1) {
											c_end = document.cookie.length;
										}
										return unescape(document.cookie.substring(c_start, c_end));
									}
								}
								return "";
							}
                    </script>
                </div>

            </div>
        </div>
    </div>
</template>
