<template data-sly-template.default="${ @ cruise }">
     <div class="row c-cruise__overview" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html">
        <div class="col-sm-6 hidden-xs voyageimg">
            <div class="voyageimg__info">	
                <p>${cruise.mapOverHead}</p>
            </div>
		    <sly data-sly-use.overviewImage="silversea/silversea-com/components/pages/cruise/fragment/overviewtab/galleryimage.html" 
    			data-sly-call="${overviewImage.listImage @ list = cruise.allAssetWithItinerary, imageTemplate = imageTemplate}" />
            <p class="voyageimg__label">${'fares-shown-are-per-guest' @ i18n}</p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12 voyagetable">
                    <div class="voyagetable__elem">
                        <a href="#" data-scroll-target=".c-cruise__itineraries">
                            <span class="lead__top">${'duration' @ i18n}</span>
                            <span class="lead">${cruise.cruiseModel.duration}</span>
                            <span class="lead__bottom">${'days' @ i18n}</span>
                        </a>
                    </div>
                    <div class="voyagetable__elem">
                        <a href="#" data-scroll-target=".c-cruise__itineraries">
                            <span class="lead__top">${'departure' @ i18n}</span>
                            <span class="lead" data-sly-use.dateDay="${'com.silversea.aem.helper.DateHelper' @ format='MMM dd', date=cruise.cruiseModel.startDate}">
                                ${dateDay.value}
                            </span>
                            <span class="lead__bottom" data-sly-use.dateYear="${'com.silversea.aem.helper.DateHelper' @ format='yyyy', date=cruise.cruiseModel.startDate}">
                                ${dateYear.value}
                            </span>
                        </a>
                    </div>
                    <div class="voyagetable__elem">
                        <a href="#" data-tab-target="#suitenfare">
                            <sly data-sly-test.early="${cruise.lowestPrice.earlyBookingBonus}" />
                            <span data-sly-test.prefix="${cruise.pricePrefix}" ><br />${prefix}</span>
                            <span data-sly-test="${!prefix}" >
                                <sly><br /><br /></sly>
                                ${'fares-from' @ i18n}
                            </span>
                            <span class="lead" data-sly-test="${cruise.isWaitList}">
                                ${'waitlist' @ i18n}
                            </span>
                            <sly data-sly-test="${!cruise.isWaitList}">
                                <span class="lead">
                                    ${cruise.lowestPrice.currency @ i18n} ${cruise.computedPriceFormated}
                                </span>
                                <span  data-sly-test="${early}" class="price-suffixe">
                                    ${'with-early' @ i18n}${'booking-bonus' @ i18n}
                                </span>
                            </sly>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 visible-xs voyageimg">
                    <div class="voyageimg__info">
                        <p>${cruise.mapOverHead}</p>
                    </div>
					<sly data-sly-use.overviewImage="silversea/silversea-com/components/pages/cruise/fragment/overviewtab/galleryimage.html" 
    					data-sly-call="${overviewImage.listImage @ list = cruise.allAssetWithItinerary, imageTemplate = imageTemplate}" />                
    					 <p class="voyageimg__label">${'fares-shown-are-per-guest' @ i18n}</p>
                </div>
                <div class="col-xs-12 visible-xs">
                    <div class="cruise__header_metainfo">
                        <span>${cruise.cruiseModel.cruiseType @ i18n}</span>
                        <span>${cruise.cruiseModel.ship.title}</span>
                        <span>${'voyage' @ i18n} ${cruise.cruiseModel.cruiseCode}</span>
                        <ul data-sly-test="${cruise.exclusiveOffers.size > 0 || cruise.cruiseModel.features.size > 0}">
                            <li class="meta_feature_inner" data-sly-test="${cruise.exclusiveOffers.size > 0}">
                                <span class="feature">
                                    <i class="icon-star"></i>
                                    <span class="tooltip"><i></i>${'Exclusive Offer' @ i18n}</span>
                                </span>
                            </li>
                            <li class="meta_feature_inner" data-sly-repeat="${cruise.cruiseModel.features}">
                                <span class="feature">
                                    <i class="${item.icon}"></i>
                                    <span class="tooltip"><i></i>${item.title}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="voyagefeature" data-sly-use.lightbox="${'com.silversea.aem.helper.PageHelper' @ path=pageProperties.shipReference}">

                        <p><strong><i class="fa fa-star"></i> ${'feature-exclusive-offers' @ i18n}:</strong></p>

                        <div class="voyagefeature__offer" data-sly-list="${cruise.exclusiveOffers}"
                            data-sly-test.isEo="${cruise.exclusiveOffers.size > 0}">
                            <a data-sly-test="${item.lightboxReference}"
                               href="${item.lightboxReference @ extension='html', selectors='modalcontent'}"
                               data-toggle="modal"
                               data-target=".bs-${lightbox.page.properties.modalSize || 'modal-lg'}">
                                <strong>${item.title}:&nbsp;</strong>${item.description @ context='html'}
                            </a>
                            <p data-sly-test="${!item.lightboxReference}">
                                <strong>${item.title}:&nbsp;</strong>${item.description @ context='html'}
                            </p>
                        </div>

                        <div class="voyagefeature__offer" data-sly-test="${!isEo}">
                            <p><strong>${'feature-no-exclusive-offers-title' @ i18n}&nbsp;</strong>${'feature-no-exclusive-offers-description' @ i18n}</p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="voyageshare_wrap">
                        <a href="#" class="share" id="pdf_share_download" rel="nofollow"><i class="fa fa-refresh fa-spin" style="display: none;"></i><i class="fa fa-file-pdf-o"></i></a>
                        <a href="#" class="share" id="pdf_print" rel="nofollow"><i class="fa fa-print"></i></a>
						<div id="social_shares_wrapper" style="display:inline-block;width:94px;overflow:hidden;margin:0 3px;vertical-align:middle;height:30px">
                            <div id="social_shares" style="width:70px;margin-top:-3px" class="jssocials">
                                
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-thin btn-dark effect pull-right hidden-xs ab-test ab-test-v2-hide" data-tab-target="#suitenfare">${'suites-and-fares' @ i18n} <span><i class="fa fa-angle-right"></i></span></a>
                    <a class="btn btn-thin btn-dark effect pull-right hidden-xs ab-test ab-test-v2-show" data-tab-target="#suitenfare-b-version">${'suites-and-fares' @ i18n} <span><i class="fa fa-angle-right"></i></span></a>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            var pdfClicked = false;
                            var downloadWin = '';
                            var currentWindow = $(window);
                            $('#pdf_share_download').on('click', function (e) {
                                e.preventDefault();
                                if(!pdfClicked) {
                                    pdfClicked = true;
									$('.voyageshare_wrap .fa-refresh').show();
                                    $('.voyageshare_wrap .fa-file-pdf-o').hide();

                                   /* ajax_download('${cruise.currentPath @ context="uri"}.rendition.download.${cruise.countryCode @ context="scriptString"}${cruise.ccptCode @ context="scriptString"}.${cruise.cruiseModel.cruiseCode @ context="scriptString"}.pdf');									console.log('share pdf download');


                                    // Check PDF Download
                                    createCookie('ss_pdf_download-${cruise.cruiseModel.cruiseCode @ context="scriptString"}', '0');
                                    clearInterval(listenPdfInterval);
                                    var listenPdfInterval = setInterval(function(){
                                        if(readCookie('ss_pdf_download-${cruise.cruiseModel.cruiseCode @ context="scriptString"}') === '0') {
                                            console.log('Loading PDF...');
                                        } else {
                                            console.log('PDF LOADED!');
                                            clearInterval(listenPdfInterval);
                                            $('.voyageshare_wrap .fa-refresh').hide();
                                            $('.voyageshare_wrap .fa-file-pdf-o').show();                         
                                            createCookie('ss_pdf_download-${cruise.cruiseModel.cruiseCode @ context="scriptString"}', 0, -1);
                                            pdfClicked = false;
                                        }
                                    }, 1000);*/
                                    
                                    setTimeout(function(){
                                        $.ajax({
                                            url: '${cruise.currentPath @ context="uri"}.rendition.download.${cruise.countryCode @ context="scriptString"}${cruise.ccptCode @ context="scriptString"}.pdf',
                                            beforeSend: function(){

                                        		downloadWin = window.open('', '_blank');
                                        		downloadWin.blur();
                                        		currentWindow.focus();    
                                            },
                                            success: function(r) {
    	                                        $('.voyageshare_wrap .fa-refresh').hide();
    	                                        $('.voyageshare_wrap .fa-file-pdf-o').show();
                                                downloadWin.location = '${cruise.currentPath @ context="uri"}.rendition.download.${cruise.countryCode @ context="scriptString"}${cruise.ccptCode @ context="scriptString"}.pdf';
                                                pdfClicked = false;
                                            }
                                        });
                                        }, 500);


                                }
                            });

							var pdfPrintClicked = false;
							var printWin = '';
                            $('#pdf_print').on('click', function (e) {
                                e.preventDefault();
                                if(!pdfPrintClicked) {
                                    pdfPrintClicked = true;
                                    
                                    $.ajax({
                                        url: '${cruise.currentPath @ context="uri"}.rendition.print.${cruise.countryCode @ context="scriptString"}${cruise.ccptCode @ context="scriptString"}.pdf',
                                        beforeSend: function(){
                                    		$('.voyageshare_wrap .fa-refresh').show();
                                    		$('.voyageshare_wrap .fa-file-pdf-o').hide();
                                    		printWin = window.open('', '_blank'); 
                                        },
                                        success: function(r) {
	                                        $('.voyageshare_wrap .fa-refresh').hide();
	                                        $('.voyageshare_wrap .fa-file-pdf-o').show();
                                            printWin.location = '${cruise.currentPath @ context="uri"}.rendition.print.${cruise.countryCode @ context="scriptString"}${cruise.ccptCode @ context="scriptString"}.pdf';
                                            printWin.focus();
                                            pdfPrintClicked = false;
                                        }
                                    });
                                }
                            });
							var cruiseTypeText = '';
                            if(${(cruise.cruiseModel.cruiseType == 'silversea-expedition') @ context='scriptString'}){ cruiseTypeText='${'expedition-cruise' @ i18n,context='scriptString'}' } else{cruiseTypeText='${'cruise' @ i18n,context='scriptString'}'};
                            var shareText  = ('${cruise.cruiseModel.departurePortName @ context='scriptString'} ${'to' @ i18n, context='scriptString' } ${cruise.cruiseModel.arrivalPortName @ context='scriptString'}, ${(cruise.cruiseModel.destination.navigationTitle ||cruise.cruiseModel.destination.title) @ context='scriptString'} ') + cruiseTypeText;
                            if( $("#social_shares").jsSocials != undefined){
                            $("#social_shares").jsSocials({
							  showLabel: false,
							  showCount: false,
							  shareIn: "popup",
							  text: shareText ,
							  shares: ["facebook", "twitter", "googleplus"]
							 });
                            }
                            
                        });	
						function ajax_download(url, data) {
								var $iframe,
									iframe_doc,
									iframe_html;

								if (($iframe = $('#download_iframe')).length === 0) {
									$iframe = $("<iframe id='download_iframe'" +
												" style='display: none' src='about:blank'></iframe>"
											   ).appendTo("body");
								}

								iframe_doc = $iframe[0].contentWindow || $iframe[0].contentDocument;
								if (iframe_doc.document) {
									iframe_doc = iframe_doc.document;
								}

								iframe_html = "<html><head></head><body><form method='GET' action='" +
											  url +"'></form>" +
											  "</body></html>";

								iframe_doc.open();
								iframe_doc.write(iframe_html);
								$(iframe_doc).find('form').submit();
							}
						
						
						function createCookie(name, value, days) {
								var expires;
								if (days) {
									var date = new Date();
									date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
									expires = "; expires=" + date.toGMTString();
								}
								else {
									expires = "";
								}
								document.cookie = name + "=" + value + expires + "; path=/";
							}

						function readCookie(c_name) {
								if (document.cookie.length > 0) {
									c_start = document.cookie.indexOf(c_name + "=");
									if (c_start != -1) {
										c_start = c_start + c_name.length + 1;
										c_end = document.cookie.indexOf(";", c_start);
										if (c_end == -1) {
											c_end = document.cookie.length;
										}
										return unescape(document.cookie.substring(c_start, c_end));
									}
								}
								return "";
							}
                    </script>
                </div>

            </div>
        </div>
    </div>
   	<!--/* Suite and fares tab */-->
   	<div id="suitenfare-b-version">
	 	<sly data-sly-use.suitelist="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist.html"
	       		data-sly-call="${suitelist.abTestV2 @ cruise=cruise}" />
   	</div>
</template>
