.c-cruise {
    .c-cruise__gallery {
        &__label {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
        }

        &__item {
            background-color: @grey--c3;

            &:after {
                background-color: @white;
            }

            &__caption {
                background: rgba(0, 0, 0, .6);
                color: @white;
            }
        }
    }
}
