.meta_feature {
    &_inner {
        .feature {
            .tooltip {
                background: @white;
                border: 1px solid @black;
            }
            &:hover .tooltip {
                i {
                    &:before {
                        color: @black;
                    }
                }
                &:after {
                    border-top-color: @white;
                }
                &:before {
                    border-top-color: @black;
                }
            }
        }
    }
}

.cruise__header__metainfo {
    &_mobile {
        color: @grey--60;
    }
}

.c-cruise__item-expander {
    @media screen and (min-width: @screen-sm) {
        &:before {
            background: @black;
        }
    }
}