.c-cruise-keypeople {
    .keypeople__slider {

        &-item {
            border: 1px solid @grey--d;

            &.active {
                background: @grey--e;
            }
        }
    }
}

.keypeople__details {

    &__inner-wrapper {
        background: @grey--e;
    }

    .btn-close {
        color: @grey--7;
    }
}
