.c-cruise {
    .c-tab__content {
        &--overview {
            .voyage {
                &table {
                    color: @grey--3;

                    &__elem {
                        border: solid 1px @grey--d;

                        &:first-child {
                            border-left: solid 1px @grey--d;
                        }

                        .lead {
                            color: @blue;
                        }

                        .price-suffixe {
                            color: @blue;
                        }

                    }
                }

                &img {

                    .slick-slide {

                        @media (max-width: @screen-md-min) {

                        }
                    }
                    a.lazy.video-link {

                        @media (max-width: @screen-md-min) {

                        }

                        picture {

                            img {

                            }
                        }
                    }
                    picture {

                        img {
                            border: solid 1px @blue;
                        }
                    }

                    &__info {
                        background-color: @blue;
                        color: @white;




                        p {

                        }
                    }

                    &__label {

                        color: @grey--5;


                    }

                    .slick-slide {

                    }
                }

                &feature {
                    background: @grey--e;




                    & > .btn {

                    }

                    &__offer {

                        p,
                        a {

                        }
                    }
                }

                &share_wrap {




                    .share {
                        color: @grey--39;




                    }
                }
            }

            .cruise__header_metainfo {



            }
        }
    }

    &.expedition {
        .c-tab__content--overview .voyageimg picture {
            border: solid 1px @red-expedition;
            border-top: solid 1px @grey--3;
        }

        .c-tab__content--overview .voyageimg__info {
            background: @grey--3;
            border-top: solid 1px @red-expedition;
        }

        .c-tab__content--overview .voyagetable__elem {
            .lead,
            .price-suffixe {
                color: @red-expedition;
            }
        }
    }
}
