.c-suitelist {
    .c-tab__content--description {
        &__info {
            background-color: @white;
            border: 1px solid @grey--e0;
        }

        &__price {
            small {
                color: @grey--9;
            }
        }
    }

    .c-tab__content--suite-location {
        .nav-tabs--vertical > li {
            & > a {
                background-color: @white;
                border: 1px solid @grey--d9;
                color: @grey--7;
            }

            &.active > a {
                color: @grey--3;
            }
        }
    }

    &__collapse {
        .collapse-close {
            color: @grey--7;
        }
    }

    @media screen and (min-width: @screen-md-min) {
        .c-tab__content--description {

            &__info {
                background-color: @white;
            }
        }
    }
}
