@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.modal-highlights-title {
  font-family: @freight;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
  font-size: 30px;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin-top: 0px;
}

.modal-highlights-content {
  padding: 30px 60px 60px;
  font-family: @suisse;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 18px;
}

.modal-highlights-content p {
  margin-bottom: 20px;
}
