@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.modal-highlights-content {
  padding: 40px;
  font-family: @suisse;
}

.modal-highlights-content p {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
}
