<div data-sly-use.SignUpUse="com.silversea.aem.components.editorial.SignUpUse"
     data-sly-test.refPath="${SignUpUse.pageReference ||  properties.pageReference}"
     data-sly-use.lightbox="${'com.silversea.aem.helper.PageHelper' @ path=refPath}"
     data-sly-test.empty="${!properties.pageReference && wcmmode.edit}"
     class="cq-placeholder"
     data-emptytext="Sign up for offers"></div>

<form class="c-formcookie c-formcookie--redirect c-signupforoffer"
      data-disable="false"
      action="${rabWidgetUse.pageReference || properties.pageReference @ extension='html'}"
      novalidate>
    <div class="row form-group">
        <div class="col-xs-12">
            <div class="form-group has-feedback">
                   <div>
                        <select class="chosen form-control"
                                    name="title"
                                    data-required-error="${'required-title' @ i18n}"
                                    required>
                            <option value="">Title*</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs." >Mrs.</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Dr.">Dr.</option>
                            <option value="Sir">Sir</option>
                            <option value="Lady">Lady</option>
                            <option value="Prof.">Prof.</option>
                            <option value="Lord">Lord</option>
                        </select>  
                    </div>              
                <span class="form-control-feedback" aria-hidden="true"></span>
                <div class="fa form-helper-error-text live help-block with-errors">
                    <!--Please select you title					-->
                </div>
            </div>

            <div class="form-group has-feedback">
                <div class="input-group">
                    <input type="text"
                           name="firstname"
                           class="form-control o-input--lg"
                           placeholder="First Name*"
                           data-required-error="${'required-firstname' @ i18n}"
                           required />
                    </div>
                <span class="form-control-feedback" aria-hidden="true"></span>
                <div class="fa form-helper-error-text live help-block with-errors">
                    <!--Please enter your first name-->
                </div>
            </div>

            <div class="form-group has-feedback">
                <input type="text"
                       name="lastname"
                       class="form-control o-input--lg"
                       placeholder="Last Name*"
                       data-required-error="${'required-lastname' @ i18n}"
                       required />
                <span class="form-control-feedback" aria-hidden="true"></span>
                <div class="fa form-helper-error-text live help-block with-errors">
                    <!--Please enter your last name-->
                </div>
            </div>

            <div class="form-group has-feedback">
                <input type="email"
                       name="email"
                       class="form-control o-input--lg"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                       data-required-error="${'required-email-address' @ i18n}"
                       data-error="${'incorrect-email-address' @ i18n}"
                       placeholder="Email Address*"
                       required />
                <span class="form-control-feedback" aria-hidden="true"></span>
                <div class="fa form-helper-error-text live help-block with-errors">
                   <!-- Please enter your email
                    Incorrect Email Address	-->					</div>
            </div>

            <p class="small text-muted">* Required Fields</p>

            <div class="form-group">
                <div class="checkbox">
                    <input class="isbooked"  type="checkbox" id="minimal-checkbox-1">
                    <label for="minimal-checkbox-1">I am currently booked on a Silversea cruise</label>
                </div>
            </div>

            <div class="col-xs-3 pull-right">
                <button class="btn btn-red btn-default pull-right c-btn--lg"
                        type="submit"
                        data-sscclicktype="rab">
                    ${'sign-up-for-offers' @ i18n}
                    <i class="fa fa-lg fa-caret-right"></i>
                </button>
            </div>
        </div>
    </div>
</form>