<template data-sly-template.mapView="${ @ assetMap, initialSuitesAssetsList}">
    <div class="c-cruise__gallery__featured clearfix" data-sly-list.asset="${initialSuitesAssetsList}" data-sly-use.imageTemplate="silversea/silversea-com/components/pages/singlesuite/singlesuitevariationimagetemplate.html">
       <div data-sly-test="${assetList.odd}" class="c-cruise__gallery__featured__left_suite">
            <sly data-sly-call="${imageTemplate.default @ asset=asset }" />
        </div>
        <div data-sly-test="${assetList.even}" class="c-cruise__gallery__featured__right_suite">
            <sly data-sly-call="${imageTemplate.default @ asset=asset}" />
        </div>
    </div>
    <div data-sly-use.listHelper="${'com.silversea.aem.helper.ListHelper' @ list = assetMap, size = 2}"
	 class="c-cruise__gallery__featured clearfix" data-sly-repeat="${listHelper.objectListGroup}" data-sly-use.imageTemplate="silversea/silversea-com/components/pages/singlesuite/singlesuitevariationimagetemplate.html">
       <div class="c-cruise__gallery__featured__left_suite">
            <sly data-sly-call="${imageTemplate.default @ asset=item[0]}" />
        </div>
        <div class="c-cruise__gallery__featured__right_suite">
            <sly data-sly-call="${imageTemplate.default @ asset=item[1]}" />
        </div>
    </div>
    <div data-sly-test="${assetMap}" class="c-cruise__item-expander" >
        <a class="btn btn-thin btn-dark expander-open" href="#"><span>${'view-all' @ i18n}</span><i class="fa fa-angle-down"></i></a>
        <a class="btn btn-thin btn-dark expander-close" href="#"><span>${'close' @ i18n}</span><i class="fa fa-angle-up"></i></a>
    </div>
</template>