<!DOCTYPE HTML>
<html
    data-sly-use.runModeHelper="com.silversea.aem.helper.RunModesHelper"
    data-sly-use.pageHelper="com.silversea.aem.helper.PageHelper"
    data-sly-use.countryHelper="${'com.silversea.aem.helper.CountryHelper' @ path = currentPage.path}"
    class="${countryHelper.hrefLangValid} aToBTmp"
    lang="${countryHelper.hrefLangValid}">
<head data-sly-include="head.html"></head>
<body class="${runModeHelper.authorRunModeClass} ${pageHelper.templateName} ${properties.abTestManual ? 'abTestManual' : ''}" data-sly-include="body.html">
</body>
</html>