<header class="c-header" data-sly-resource="${'header' @ resourceType='silversea/silversea-com/components/included/header'}"></header>
<sly data-sly-include="pagecontent.html"></sly>
<footer class="c-footer" data-sly-resource="${'footer' @ resourceType='silversea/silversea-com/components/included/footer'}"></footer>
<div data-sly-resource="${'cookie-disclamer' @ resourceType='silversea/silversea-com/components/included/cookiedisclamer'}" data-sly-unwrap></div>
<div class="c-floatingbar" data-sly-resource="${'floating-bar' @ resourceType='silversea/silversea-com/components/included/floatingbar'}"></div>
<div data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div>
<sly data-sly-include="modal.html"></sly>
<sly data-sly-include="datalayer.html"></sly>
<sly data-sly-include="footerlibs.html"></sly>