<header class="c-header" data-sly-resource="${'header' @ resourceType='silversea/silversea-com/components/included/header'}"></header>
<sly data-sly-include="pagecontent.html" />
<footer class="c-footer" data-sly-resource="${'footer' @ resourceType='silversea/silversea-com/components/included/footer'}"></footer>
<sly data-sly-use.cookieDisclaimerUse="com.silversea.aem.components.included.CookieDisclaimerUse" />
<div class="c-floating-bar ${wcmmode.edit ? 'editor' : ''}" data-sly-test="${inheritedPageProperties.showFloatingBar || cookieDisclaimerUse.showCookieMsg}">
    <div data-sly-resource="${'cookie-disclaimer' @ resourceType='silversea/silversea-com/components/included/cookiedisclaimer'}"></div>
    <div data-sly-resource="${'floating-bar' @ resourceType='silversea/silversea-com/components/included/floatingbar'}"></div>
</div>
<div data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div>
<sly data-sly-include="modal.html" />
<sly data-sly-include="footerlibs.html" />