<sly data-sly-use.datalayer="com.silversea.aem.components.included.DataLayerUse" />
<script type="text/javascript">
    window.dataLayer = [{
        
            env_work : '${datalayer.runMode @context='scriptString'}',
            env_channel : '',
            event : '${datalayer.event @context='scriptString'}',
            
            user_language : '${datalayer.userLanguage @context='scriptString'}',
            user_country : '${datalayer.userContry @context='scriptString'}', 
            user_geo_adwords : '${datalayer.media.user_geo_adwords @context='scriptString'}',
            user_recency : '',
            user_email_optin: '',
            user_status: '',
            user_email: '',
            user_last_visit: '',
            api_indiv_id: '',
            api_blocked_referer:'',
            api_temporary_id:'',
            page_cat1: '${datalayer.pageCategory1 @context='scriptString'}',
            page_cat2: '${datalayer.pageCategory2 @context='scriptString'}',
            page_cat3: '${datalayer.pageCategory3 @context='scriptString'}',
            track_page_type: '${datalayer.event @context='scriptString'}',
            track_current_page: '${datalayer.currentPageUrl @context='uri'}',
            
            search_filters: '',
            search_page_number: '',
            search_results_number: '',
            
            track_ship_id:'${datalayer.shipId @context='scriptString'}',
            track_destination_id:'${datalayer.destinationId @context='scriptString'}',
            track_destination_name: '${datalayer.destinationName @context='scriptString'}',
            track_voyage_id: '${datalayer.voyageId @context='scriptString'}',
            track_departure_date: '${datalayer.departureDay @context='scriptString'}',
            track_voyage_duration: '${datalayer.voyageDuration @context='scriptString'}',
            track_voyage_departure_harbor: '${datalayer.voyageDepartureHarbor @context='scriptString'}',
            track_voyage_arrival_harbor: '${datalayer.voyageArrivalHarbor @context='scriptString'}',
            track_voyage_type: '${datalayer.voyageType @context='scriptString'}',
            track_shipname: '${datalayer.shipName @context='scriptString'}',
            track_revenue: '${datalayer.revenue @context='scriptString'}',
            track_suite: '',
            
            track_brochurename: '',
            
            user_geo_adwords : '${datalayer.media.track_adwords_account @context='scriptString'}',
            track_adwords_account: '${datalayer.media.track_adwords_account @context='scriptString'}',
            track_77TrackingTransaction: '${datalayer.media.track_77TrackingTransaction @context='scriptString'}',
            Adwords_conversion_id: '${datalayer.media.Adwords_conversion_id @context='scriptString'}',
            Adwords_conversion_label: '${datalayer.media.Adwords_conversion_label @context='scriptString'}',
            Adwords_format: '${datalayer.media.Adwords_format @context='scriptString'}',
            Adwords_value: '${datalayer.media.Adwords_value @context='scriptString'}',
            Google_fw_num_Id: '${datalayer.media.Google_fw_num_Id @context='scriptString'}',
            Google_fw_num_label: '${datalayer.media.Google_fw_num_label @context='scriptString'}',
            Google_tr_num_id: '${datalayer.media.Google_tr_num_id @context='scriptString'}',
            Google_tr_num_label: '${datalayer.media.Google_tr_num_label @context='scriptString'}',
            Yahoo_project_id: '${datalayer.media.Yahoo_project_id @context='scriptString'}',
            Yahoo_pixel_id: '${datalayer.media.Yahoo_pixel_id @context='scriptString'}'
        
    }];
    
    //TEMP AB TEST FYC
    var pagecatAB = dataLayer[0].page_cat1;
    var pageurlAB = document.location.href;

    var shouldAB = "false";

    if(pagecatAB.indexOf('Find your cruise') > -1 || pagecatAB.indexOf('single ship') > -1 || pagecatAB.indexOf('single destination') > -1 || pagecatAB.indexOf('single port') > -1 || pagecatAB.indexOf('single exclusive offer') > -1){
     shouldAB = "true"; 
    }

    if(pageurlAB.indexOf('landing-dmp-dest') > -1 || pageurlAB.indexOf('landing-dmp-ship') > -1 || pageurlAB.indexOf('landing-dmp-offer') > -1 || pageurlAB.indexOf('landing-ship') > -1 || pageurlAB.indexOf('landing-dest') > -1 || pageurlAB.indexOf('landing-offer') > -1){
     shouldAB = "true";  
    }

    window.dataLayer[0].ABDiscoverMoreActivate = shouldAB;
    
    //TEMP AB TEST DEST SHIP
    shouldAB = false;
    
    f(pagecatAB.indexOf('single ship') > -1 || pagecatAB.indexOf('single destination') > -1){
     shouldAB = "true"; 
    }
    
    window.dataLayer[0].ABShipOrDest = shouldAB;
</script>