<sly data-sly-use.datalayer="com.silversea.aem.components.included.DataLayerUse" />
<script type="text/javascript">
    window._ssc_dl = {
        page : {
            env_work : '${datalayer.runMode @context='scriptString'}',
            env_channel : 'pony',
            event : '${datalayer.event @context='scriptString'}',
            
            user_language : '${datalayer.userLanguage @context='scriptString'}',
            user_country : '',
            user_geo_adwords : '',
            user_recency : '',
            user_email_optin: '',
            user_status: '',
            user_email: '${datalayer.userEmail @context='scriptString'}',',
            user_last_visit: '',
            user_geo_adwords: '',
            user_country: '',
            ip: '',
            api_indiv_id: '',
            time: '',
            
            page_cat1: '${datalayer.pageCategory1 @context='scriptString'}',
            page_cat2: '${datalayer.pageCategory2 @context='scriptString'}',
            page_cat3: '${datalayer.pageCategory3 @context='scriptString'}',
            track_page_type: '',
            track_current_page: '',
            Template: '',
            
            search_filters: '',
            search_page_number: '',
            search_results_number: '',
            
            track_destination_id: '',
            track_destination_name: '',
            track_voyage_id: '',
            track_departure_date: '',
            track_voyage_duration: '',
            track_voyage_departure_harbor: '',
            track_voyage_arrival_harbor: '',
            track_voyage_type: '',
            track_shipname: '',
            track_revenue: '',
            track_suite: '',
            
            track_brochurename: '',
            
            track_adwords_account: '',
            track_77TrackingTransaction: '',
            Adwords_conversion_id: '',
            Adwords_conversion_label: '',
            Adwords_format: '',
            Adwords_value: '',
            Google_fw_num_Id: '',
            Google_fw_num_label: '',
            Google_tr_num_id: '',
            Google_tr_num_label: '',
            Yahoo_project_id: '',
            Yahoo_pixel_id: '',
            '77_transaction_id': '',
            '77_pagehit_id': '',
            '77_user_id': ''
            
        }
    }
</script>