<sly data-sly-use.datalayer="com.silversea.aem.components.included.DataLayerUse" />
<script type="text/javascript">
    window.dataLayer = {
        page : {
            env_work : '${datalayer.runMode @context='scriptString'}',
            env_channel : '',
            event : '${datalayer.event @context='scriptString'}',
            
            user_language : '${datalayer.userLanguage @context='scriptString'}',
            user_country : '${datalayer.userContry @context='scriptString'}', 
            user_geo_adwords : '${datalayer.media.user_geo_adwords @context='scriptString'}',
            user_recency : '',
            user_email_optin: '',
            user_status: '',
            user_email: '',
            user_last_visit: '',
            api_indiv_id: '',
            
            page_cat1: '${datalayer.pageCategory1 @context='scriptString'}',
            page_cat2: '${datalayer.pageCategory2 @context='scriptString'}',
            page_cat3: '${datalayer.pageCategory3 @context='scriptString'}',
            track_page_type: '${datalayer.event @context='scriptString'}',
            track_current_page: '${datalayer.currentPageUrl @context='uri'}',
            
            search_filters: '',
            search_page_number: '',
            search_results_number: '',
            
            track_destination_id: '',
            track_destination_name: '',
            track_voyage_id: '',
            track_departure_date: '',
            track_voyage_duration: '',
            track_voyage_departure_harbor: '',
            track_voyage_arrival_harbor: '',
            track_voyage_type: '',
            track_shipname: '',
            track_revenue: '',
            track_suite: '',
            
            track_brochurename: '',
            
            track_adwords_account: '${datalayer.media.track_adwords_account @context='scriptString'}',
            track_77TrackingTransaction: '${datalayer.media.track_77TrackingTransaction @context='scriptString'}',
            Adwords_conversion_id: '${datalayer.media.Adwords_conversion_id @context='scriptString'}',
            Adwords_conversion_label: '${datalayer.media.Adwords_conversion_label @context='scriptString'}',
            Adwords_format: '${datalayer.media.Adwords_format @context='scriptString'}',
            Adwords_value: '${datalayer.media.Adwords_value @context='scriptString'}',
            Google_fw_num_Id: '${datalayer.media.Google_fw_num_Id @context='scriptString'}',
            Google_fw_num_label: '${datalayer.media.Google_fw_num_label @context='scriptString'}',
            Google_tr_num_id: '${datalayer.media.Google_tr_num_id @context='scriptString'}',
            Google_tr_num_label: '${datalayer.media.Google_tr_num_label @context='scriptString'}',
            Yahoo_project_id: '${datalayer.media.Yahoo_project_id @context='scriptString'}',
            Yahoo_pixel_id: '${datalayer.media.Yahoo_pixel_id @context='scriptString'}'
        }
    }
</script>