<sly data-sly-use.pageHelper="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}"
    data-sly-use.externalizerHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentPage.path, absolute=true}" />
<script src="/etc/designs/silversea-com/clientlib-base-b.12345.min.js"></script>
<link rel="stylesheet" href="/etc/designs/silversea-com/clientlib-base-b.xv435.min.css" type="text/css">
<meta http-equiv="content-type" content="text/html; charset=UTF-8"
      data-sly-use.head="head.js"
      data-sly-use.headlibRenderer="headlibs.html"
      data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
<meta data-sly-test.keywords="${head.keywords}" name="keywords" content="${keywords}"/>
<meta data-sly-test.description="${pageProperties.metaDescription || pageProperties.pagedescription || pageProperties.jcr:description || inheritedPageProperties.jcr:description}" name="description" content="${description}"/>
<meta name="robots" content="noindex" data-sly-test="${!pageHelper.isIndexable}"/>
<!--/* open graph tag */-->
<meta property="fb:app_id" data-sly-test.appID="${pageProperties.appId || inheritedPageProperties.appId}" content="${appID}" />
<meta property="og:title" content="${currentPage.pageTitle || currentPage.title} | Silversea" />
<meta property="og:type" content="article" />
<meta property="og:url" content="${externalizerHelper.externalizedUrl @ extension='html'}" />
<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = pageHelper.thumbnail || pageHelper.thumbnailInherited}"/>
<meta property="og:image" data-sly-test="${pageHelper.thumbnail || pageHelper.thumbnailInherited}" content="${assetHelper.imageUrl}?wid=1200&hei=1200&fit=constrain" />
<meta property="og:description" data-sly-test="${description}" content="${description}" />
<sly data-sly-list="${pageHelper.languagePages}">
<link rel="alternate" hreflang="${item}" href="${pageHelper.languagePages[item] @ extension='html'}" /></sly>
<!--/* /open graph tag */-->
<sly data-sly-include="datalayer.html" />
<sly data-sly-call="${headlibRenderer.headlibs @ designPath=head.designPath}" />
<sly data-sly-include="author.html" />
<sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" />
<sly data-sly-include="customheaderlibs.html" />

<sly data-sly-test.faviconpath="${head.faviconPath}">
<link rel="icon" type="image/vnd.microsoft.icon" href="${faviconpath}">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="${faviconpath}">
</sly>
<link rel="apple-touch-icon" sizes="180x180" href="${head.designPath}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="${head.designPath}/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="${head.designPath}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="${head.designPath}/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="${head.designPath}/android-chrome-192x192.png" sizes="192x192">
<link rel="manifest" href="${head.designPath}/manifest.json">
<link rel="mask-icon" href="${head.designPath}/safari-pinned-tab.svg" color="#5bbad5">
<link data-sly-test.canonicalURL="${pageProperties.canonicalURL}" rel="canonical" href="${canonicalURL}" />
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<title>${'{0} | Silversea' @ format=[pageProperties.metaTitle || pageProperties.pageTitle || pageProperties.jcr:title], i18n}</title>