<!--/* Modal */-->
<div class="modal fade bs-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade bs-modal-md" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade lightbox" id="modalLightbox" tabindex="-1" role="dialog" aria-hidden="true">
    <a class="lightbox-prev-link" data-target=".lightbox"
       href="#">
        <div class="lightbox-prev-container">
            <div class="lightbox-prev-wrapper-label">
                <span class="lightbox-prev-label">X</span>
            </div>
            <div class="lightbox-prev-wrapper-arrow">
                <div class="lightbox-prev">
                    <span class="ligthbox-prev-button">${'previous' @i18n}</span>
                </div>
            </div>
        </div>
    </a>
    <a class="lightbox-next-link" data-target=".lightbox"
       href="#">
        <div class="lightbox-next-container">
            <div class="lightbox-next-wrapper-label">
                <span class="lightbox-next-label">X</span>
            </div>
            <div class="lightbox-next-wrapper-arrow">
                <div class="lightbox-next">
                    <span class="ligthbox-next-button">${'next' @i18n}</span>
                </div>
            </div>
        </div>
    </a>
    <div class="modal-dialog" role="document">
        <div class="lightbox-close" data-dismiss="modal">
            <div class="lightbox-close-div">
                <div class="text-close">${'close' @ i18n}</div>
                <div class="icon-close"><i class="material-icons">close</i></div>
            </div>
        </div>
        <div class="modal-content"></div>
    </div>
</div>


<div class="modal fade" id="lightbox-simple" tabindex="-1" role="dialog"
     aria-labelledby="lightbox-simple" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <div class="lightbox-close" data-dismiss="modal">
                <div class="lightbox-close-div">
                    <div class="text-close">${'close' @ i18n}</div>
                    <div class="icon-close"><i class="material-icons">close</i></div>
                </div>
            </div>
        </div>
        <div class="modal-content do-not-autoclean" id="lightbox-simple-content">
        </div>
    </div>
    <a class="lightbox-simple-prev-link hidden-xs hidden-md hidden-sm" data-target="#lightbox-simple"
       href="#">
        <div class="lightbox-simple-prev-container">
            <div class="lightbox-simple-prev-wrapper-label">
                <span class="lightbox-simple-prev-label">X</span>
            </div>
            <div class="lightbox-simple-prev-wrapper-arrow">
                <div class="lightbox-simple-prev">
                    <span class="ligthbox-simple-prev-button">${'previous' @i18n}</span>
                </div>
            </div>
        </div>
    </a>
    <a class="lightbox-simple-next-link hidden-xs hidden-md hidden-sm" data-target="#lightbox-simple"
       href="#">
        <div class="lightbox-simple-next-container">
            <div class="lightbox-simple-next-wrapper-label">
                <span class="lightbox-simple-next-label">X</span>
            </div>
            <div class="lightbox-simple-next-wrapper-arrow">
                <div class="lightbox-simple-next">
                    <span class="ligthbox-simple-next-button">${'next' @i18n}</span>
                </div>
            </div>
        </div>
    </a>
</div>
        <!--/* /Modal */-->