.c-custom-teaser {
	&-title {
	    font-family: @freight;	    
	    font-size: 20px;	    
	}	
	&-description {
		font-size: 13px;    	
    	font-family: @suisse;
	}		
	&-image-label {
	    font-size: 14px;	   
	}
}