.c-destinationsMap {
	@media screen and (max-width: @screen-md-max) {
		display: none ! important;
	}
	
	&-hideDesktop {
		@media (min-width: @screen-lg-min) {
			display: none;
		}
	}
	

	#silversea-destinations-interactive-map {
		font-family: @f-open_sans ! important;
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;
		margin: auto;
		text-transform: uppercase;
		max-height: 787px;

		width: 100vw;
		left: ~"calc(-50vw + 50%)";
		@media (max-width: 1300px) {
			max-height: 709px ! important;
			
		}

		#map {
			background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/background3.png) center center;
			position: static;
			top: 0;
			height: 100%;
			left: 0;
			width: 100%;
			.map-container {
				max-width: 1260px;
				width: 100%;
				margin: 0 auto;
				position: relative;
				@media (max-width: 1300px) {
					max-width: 90%;
					height: auto;
					max-height:100%;
					width: auto;
				}

				img {
					max-height: 787px;
					margin: auto;
					width: 100%;
					@media (max-width: 1300px) {
						max-height: 709px ! important;
						
					}
				}

				.imap-marker {
					cursor: pointer;
				}

				.imap-marker , .imap-marker:before {
					position: absolute;
					width: 102px;
					height: 100px;
				}

				.imap-marker:before {
					content: '';
					-webkit-transform-origin: 50% 50%;
					-ms-transform-origin: 50% 50%;
					transform-origin: 50% 50%;
					-webkit-transition: -webkit-transform .4s cubic-bezier(0, 0, 0, 1.14);
					transition: transform .4s cubic-bezier(0, 0, 0, 1.14);
					-webkit-transform: scale(.8);
					-ms-transform: scale(.8);
					transform: scale(.8);
					display: block;
					left: 50%;
					top: 50%;
					margin-left: -47px;
					margin-top: -64px;
					border-radius: 50%;
					background: @white;
					display: none;
				}

				.imap-marker .number {
					position: relative;
					display: block;
					text-align: center;
					font-size: 13px;
					font-weight: 700;
					color:  @white;
					line-height: 36px;
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/background3.png) center center;
					margin-left: 2px;
					margin-top: -15px;
					border-radius: 50%;
					overflow: hidden;
					width: 100px;
					height: 100px;
					-webkit-transform-origin: 50% 50%;
					-ms-transform-origin: 50% 50%;
					transform-origin: 50% 50%;
					-webkit-transition: -webkit-transform .4s cubic-bezier(0, 0, 0, 1.14);
					transition: transform .4s cubic-bezier(0, 0, 0, 1.14);
					-webkit-transform: scale(.8);
					-ms-transform: scale(.8);
					transform: scale(.8);
					display: block;
				}

				.imap-marker:hover .number {
					-webkit-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
					z-index:999;
				}

				.imap-marker:hover .marker-text {
					margin-top: -4px;
					z-index:999;
				}

				.imap-marker .marker-text {
					position: absolute;
					top: 100%;
					left: 50%;
					line-height: 15px;
					font-size: 13px;
					min-width: 150px;
					white-space: nowrap;
					text-align: center;
					-webkit-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					transform: translateX(-50%);
					color: @white;
					font-weight: bolder;
					margin-top: -18px;
					text-transform: uppercase;
					-webkit-transition: margin-top .4s;
					@media (max-width: @screen-lg-max) {
						margin-top: -23px;
						line-height: 13px;
						font-size: 12px;
					}

					@media (max-width: 1023px) {
						display: none;
					}
				}

				.dest-1 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/med_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-2 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/northerneurope_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-3 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/africa_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-5 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/canada_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-6 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/caribbean_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-7 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/southamerica_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-8 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/transoceanic_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-9 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/alaska_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-10 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/antarctica_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-11 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/arctic_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-13 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/asia_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-21 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/russia_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-23 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/galapagos_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-25 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/australia_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-26 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/micronesia_dest.jpg) center center ! important;
					background-size: cover ! important;
				}

				.dest-28 {
					background: url(/etc/designs/silversea-ssc/clientlib-base/images/destinationsMap/westcoast_dest.jpg) center center ! important;
					background-size: cover ! important;
				}
			}
		}
	}
}

.c-destinationsMap-style2{
	@media (max-width: @screen-sm) {
		display: none ! important;
	}
	@media (min-width:@screen-sm){
		display:block !important;
	}
		
    #silversea-destinations-interactive-map {
    	overflow:visible;
    	#map{
    		background:none;
    		
    		.imap-marker .number{
    			-webkit-box-shadow: 0px 0px 14px 0px @grey--075;
			    -moz-box-shadow: 0px 0px 14px 0px @grey--075;
			    box-shadow: 0px 0px 14px 0px @grey--075;
			    border: 2px solid @white;
			    @media (max-width: @screen-md-max) {
				    width: 81px !important;
				    height: 81px !important;
				}
    		}
    		.imap-marker .marker-text {
    			    text-shadow: 1px 1px 1px black;
    			    font-size:12px !important;
			       

    		}
    		.fMapLoad{
    			opacity:0.6;
    		}
    		
    		.map-container {
    			max-width:1200px;
				@media (max-width: @screen-lg-max) {
					max-width: 96%;
					}
				}
			}
    	}
    }

