.c-exclusive-offer-boxes {    
    font-family: @f-open_sans;   
    font-size: 16px; 
    @media (min-width: @screen-md-min) {
        .title-tablet-large {
            font-size: 24px;
        }
        .title-tablet-default,
        .title-tablet-medium {
            font-size: 22px;
        }
        .title-tablet-small {
            font-size: 20px;
        }
        .title-tablet-extra-small {
            font-size: 18px;
        }

        .text-tablet-large {
            font-size: 18px;
        }
        .text-tablet-default,
        .title-tablet-medium {
            font-size: 16px;
        }
        .text-tablet-small {
            font-size: 14px;
        }
        .text-tablet-extra-small {
            font-size: 12px;
        }
    }
    @media (min-width: @screen-md-max) {
        .title-desktop-large {
            font-size: 24px;
        }
        .title-desktop-default,
        .title-desktop-medium {
            font-size: 22px;
        }
        .title-desktop-small {
            font-size: 20px;
        }
        .title-desktop-extra-small {
            font-size: 18px;
        }

        .text-desktop-large {
            font-size: 18px;
        }
        .text-desktop-default,
        .title-desktop-medium {
            font-size: 16px;
        }
        .text-desktop-small {
            font-size: 14px;
        }
        .text-desktop-extra-small {
            font-size: 12px;
        }
    }
    @media (max-width: @screen-sm) {
        .title-mobile-large {
            font-size: 24px;
        }
        .title-mobile-default,
        .title-mobile-medium {
            font-size: 22px;
        }
        .title-mobile-small {
            font-size: 20px;
        }
        .title-mobile-extra-small {
            font-size: 18px;
        }

        .text-mobile-large {
            font-size: 18px;
        }
        .text-mobile-default,
        .title-mobile-medium {
            font-size: 16px;
        }
        .text-mobile-small {
            font-size: 14px;
        }
        .text-mobile-extra-small {
            font-size: 12px;
        }
    }
}

/* EO Boxes inside lightbox - cruise */

.modal {
    @media (min-width: @screen-md-min) {
        .title-tablet-large {
            font-size: 22px;
        }
        .title-tablet-default,
        .title-tablet-medium {
            font-size: 20px;
        }
        .title-tablet-small {
            font-size: 18px;
        }
        .title-tablet-extra-small {
            font-size: 16px;
        }

        .text-tablet-large {
            font-size: 16px;
        }
        .text-tablet-default,
        .title-tablet-medium {
            font-size: 14px;
        }
        .text-tablet-small {
            font-size: 12px;
        }
        .text-tablet-extra-small {
            font-size: 10px;
        }
    }
    @media (min-width: @screen-md-max) {
        .title-desktop-large {
            font-size: 22px;
        }
        .title-desktop-default,
        .title-desktop-medium {
            font-size: 21px;
        }
        .title-desktop-small {
            font-size: 18px;
        }
        .title-desktop-extra-small {
            font-size: 16px;
        }

        .text-desktop-large {
            font-size: 16px;
        }
        .text-desktop-default,
        .title-desktop-medium {
            font-size: 14px;
        }
        .text-desktop-small {
            font-size: 12px;
        }
        .text-desktop-extra-small {
            font-size: 10px;
        }
    }
    @media (max-width: @screen-sm) {
        .title-mobile-large {
            font-size: 22px;
        }
        .title-mobile-default,
        .title-mobile-medium {
            font-size: 20px;
        }
        .title-mobile-small {
            font-size: 18px;
        }
        .title-mobile-extra-small {
            font-size: 16px;
        }

        .text-mobile-large {
            font-size: 16px;
        }
        .text-mobile-default,
        .title-mobile-medium {
            font-size: 14px;
        }
        .text-mobile-small {
            font-size: 12px;
        }
        .text-mobile-extra-small {
            font-size: 10px;
        }
    }
}
