@media screen and (max-width: @screen-sm){
	.c-hero-banner-landing .c-hero-banner-landing__title,
	.c-hero-banner-landing.c-hero-banner-landing-dmp .c-hero-banner-landing__content .c-hero-banner-landing__title, 
	.c-hero-banner-landing .lp17__herobanner_slide_desc .container .lp17__herobanner_slide_title {
			font-size: 26px !important;
	}	
	.c-hero-banner-landing .c-hero-banner-landing__description,
	.c-hero-banner-landing .lp17__herobanner_slide_desc .container .lp17__herobanner_slide_subtitle,
	.c-hero-banner-landing.c-hero-banner-landing-dmp .c-hero-banner-landing__description {
		font-size: 15px !important;
	}		
	.c-hero-banner-landing-dmp  {
		.c-hero-banner-landing__buttons {
			span {
				font-size:12px !important;
				font-family: @suisse;
			}
		}
	} 	
	.c-hero-banner-landing .lp17__herobanner_slide_cta .lp17__herobanner_slide_cta_item .btn.btn-lg,
	.c-hero-banner-landing__buttons .btn.btn-lg, 
	.c-hero-banner-landing-dmp .c-hero-banner-landing__buttons .btnlp17.btn{
	    span {
	    	font-size: 12px;
	    }
	} 
}
.c-hero-banner-landing {	
	@media screen and (min-width: @screen-md-min){
	.centerContent{
		.c-hero-banner-landing__content{
			.c-hero-banner-landing__title{
				font-size:70px;
			}
		}
	}
	}
	&__title {
		font-family: @f-theano_didot;
		font-size: 30px;		
	}

	@media screen and (min-width: @screen-md-min) {

		&__title {
			font-size: 37px;
		}
	}
	.whyss__content_intro{		
	    font-family: @suisse;	    
	    p{
	    	font-size: 24px;		  
		    @media (max-width: @screen-sm){
		    	font-size:18px;
		    }
	    }
	}

	.lp17__herobanner_slide_cta {	
		.lp17__herobanner_slide_cta_item {
			.btnlp17 {
				font-size: 17px;				
			}			
			.btn-lg{
			    span {
			    	font-size: 12px;
			    }
			}			
			.btn-lgr{
			    span {
			    	font-size: 20px;
			    }
			}			
			.forceRedVideoCTA{
			    span {
			    	font-size: 20px;
			    }
			}
		}
	}
	.lp17__herobanner_slide_desc {				
		.container {
			font-family: @f-theano_didot;
				
			.lp17__herobanner_slide_title {
				font-family: @f-theano_didot;
				font-size: 54px;
			}
			.lp17__herobanner_slide_subtitle {
				font-size: 24px;				
			}
		}
	}
}

.c-hero-banner-landing-dmp {		
	.c-hero-banner-landing__title {
		font: 400 22px @f-theano_didot;
		font-size: 23px;		
		b{		   
		    font-size: 48px;
		}
		.preOffer{
			font-size: 16px;
		}
		.postOffer{
			font-size: 20px;
		}
	}
	.c-hero-banner-landing__description {
		font: 400 24px @suisse;
		font-size: 24px;
	}
	.c-hero-banner-landing__buttons{
    	.btnlp17 {
		    font-size: 14px;		    
		    font-family:@f-lato;			
	}
	}
}

.c-hero-banner-landing-2017Landing, .c-hero-banner-landing-NSW4Landing {
	.c-hero-banner-landing {
		.lp17__herobanner_slide_cta {
			.lp17__herobanner_slide_cta_item {
				a.btn-lg {					
					span {
						font-size: 14px;
						@media (max-width:@screen-sm) {
							font-size: 12px;
						}	
					}
				}
			}
		}
	}  
}
 
