.c-landingPlanningCruiseContainer{		
	.planningCruise__section_header {
		.planningCruise__section_header_title, .planningCruise__section_header_subtitle {
		    font-family: @f-open_sans;
		    font-size: 30px;
		    @media (max-width: @screen-sm){
		    	font-size:22px;
		    }
		}
	}	
	.container {
		font-family: @f-open_sans;
	}	
	a.btn {
		span {
	    	font-size: 14px;
	    	@media (max-width: 700px){
		    	font-size: 12px;
		    }
		}
	}
}
