@media (min-width:@screen-md-min) {
   .c-mozaic.hiddenDesktop {
   		display:none !important; 
   }
}
.c-mozaic {
	@media (max-width: @screen-sm) {
	    &-hiddenMobile  {
	    	display: none;
	    }
    }
}


.c-mozaic-forceBackgroundWhite {
	.slick-initialized .c-mozaic__slider__slide:before, .slick-initialized .c-mozaic__slider__slide:after {
	    background-color: @white;
	 }
	
	&:before {
	    background-color:@white !important;
    }
}
