.presentationDMPLanding{
	.lp17__section_topheader {
	    .blocleft {
		    p {
		    	font: 400 @body-desktop-fontsize-14 @suisse;
			    font-size: @body-desktop-fontsize-14;			    
			}			
			.blocleft_p {
			    font-size: 17px !important;			    
			}
		}
	}
}