.presentationDMPLanding{
	.lp17__section_topheader {
	    .blocleft {
		    p {
		    	font: 400 13px @f-open_sans;
			    font-size: 14px;			    
			}			
			.blocleft_p {
			    font-size: 17px !important;			    
			}
		}
	}
}