.c-socialdisplay {
	&__socialIconsList {
		font-size:26px;
		color: @grey--25;
		text-align:center;
		.specificSize{
			font-size:26px;
		}
		.col-social{
				width:12%;
			    padding:0px !important;
			    cursor:pointer;
		}
		
		.fa-circle-thin{
			-webkit-text-stroke: 2px @white;
		}
	}
	h3 {
		font-family: @f-theano_didot;
		font-weight:400;
		text-align:center;
	}
}