.c-whySilverseaLanding {
	&-content {		
		h3 {
			font-family: @f-theano_didot;
		}
	}
}

.c-whySilverseaLanding-black {
	.c-whySilverseaLanding-content {
		font-size: 14px;
		h3 {
			font-size: 20px;
		}
	}
}

.c-whySilverseaLanding-white {
	.c-whySilverseaLanding-content {
		font-size: 21px;
		font-family: @suisse;
		   @media (max-width: @screen-sm) {
		   		font-size:16px;
		   	}
		   
		h3 {
			font-size: 34px;
			@media (max-width: @screen-sm) {
		   		font-size:20px;
		   	}
		}
	}
}


.c-whySilverseaLanding-landing2017, .c-whySilverseaLanding-landingNSW4 {
	.c-whySilverseaLanding-content {
		font-family: @suisse;
		font-size: 15px;
		   @media (max-width: @screen-sm) {
		   		font-size: 15px;
		   	}		   
		h3 {
			font-size: 34px;
			@media (max-width: @screen-sm) {
		   		font-size:23px;
		   	}
		}
	}
}
