
<section class=" c-localizedText" data-sly-use.LocalizedText="com.silversea.ssc.aem.components.editorial.LocalizedTextUse">
<div data-sly-test="${wcmmode.edit}">
Localized Text 
</div>
<div data-sly-test="${LocalizedText.IsFT}">
	${properties.ftText @ context='unsafe'}
</div>
<div data-sly-test="${LocalizedText.IsEU}">
	${properties.euText @ context='unsafe'}
</div>
<div data-sly-test="${LocalizedText.IsUK}">
	${properties.ukText @ context='unsafe'}
</div>
<div data-sly-test="${LocalizedText.IsAS}">
	${properties.asText @ context='unsafe'}
</div>
</section>