<template data-sly-template.default="${@ filter, type, class, singular, plural, label, name, autocomplete,placeholder }">
    <div class="fyc2018-filter">
        <div class="fyc2018-filter-content">
            <span id="${type}" data-singular="${singular @ i18n}" data-plural="${plural @ i18n}">
                ${singular @ i18n}
            </span>
        </div>
        <div class="${type} fyc2018-filter-value" data-filter="${type}" data-name="${name}">
            <div class="fyc2018-filter-label col-xs-12">
                <span class="fyc2018-filter-label-mobile visible-xs">${singular @ i18n}</span>
                <span class="fyc2018-filter-clear"><i class="material-icons">close</i></span>
                <input data-sly-test="${autocomplete}" id="filter-autocomplete" class="form-control fyc2018-filter-autocomplete" placeholder="${placeholder}" />
            </div>
            <sly data-sly-test="${autocomplete}">
                <div class="${class || 'col-sm-6'} filter-show-selected" data-label="${'selected ports' @ i18n}">
                    <span>${'selected ports' @ i18n}</span>
                </div>
                <div class="fyc2018-filter-selected-content">

                </div>
            </sly>
            <div data-sly-list="${filter}" class="${autocomplete ?  'fyc2018-filter-autocomplete-content' : ''} fyc2018-filter-value-container">
                <sly data-sly-test="${(autocomplete && itemList.index < 100) || !autocomplete}">
                    <div class="${class || 'col-sm-6'} filter-value filter-no-selected" data-sly-test="${item.isEnabled}" data-key="${item.key}" data-state="${item.state.toString}" data-label="${item.label}">
                        <span>${item.label} ${label @ i18n}</span>
                    </div>
                    <div  class="${class || 'col-sm-6'} filter-value filter-selected" data-sly-test="${item.isChosen}" data-key="${item.key}" data-state="${item.isChosen.toString}" data-label="${item.label}">
                        <span>${item.label} ${label @ i18n}</span>
                    </div>
                    <div class="${class || 'col-sm-6'} filter-value filter-disabled" data-sly-test="${item.isDisabled}" data-key="${item.key}" data-state="${item.isDisabled.toString}" data-label="${item.label}">
                        <span>${item.label} ${label @ i18n}</span>
                    </div>
                </sly>
                <sly data-sly-test="${(autocomplete && itemList.last)}">
                    <div class="${class || 'col-sm-6'} filter-view-all filter-view-all-original">
                        <span>${'load-more' @ i18n}</span>
                    </div>
                    <div class="${class || 'col-sm-6'} filter-view-all filter-view-all-filtered">
                        <span>${'load-more' @ i18n}</span>
                    </div>
                    <div class="${class || 'col-sm-6'} filter-no-ports">
                        <span>${'no ports found' @ i18n}</span>
                    </div>
                </sly>
            </div>
            <div class="col-xs-12 visible-xs fyc2018-view-results">
                <span data-show="${'show' @ i18n}" data-singular="${'cruise' @ i18n}" data-plural="${'cruises' @ i18n}></span>
            </div>
        </div>
    </div>
</template>