<template data-sly-template.select="${@ name, filter}">
    <label>${name @ i18n}
        <select multiple="multiple" class="fyc2018-filter ${name}-filter" name="${name}" autocomplete="off">
            <option value="all" onselect="">${name @ i18n}</option>
            <sly data-sly-repeat="${filter.rows}">
                <option data-sly-test="${item.isEnabled}" value="${item.key}">${item.label}</option>
                <option data-sly-test="${item.isChosen}" selected value="${item.key}">${item.label}</option>
                <option data-sly-test="${item.isDisabled}" disabled value="${item.key}">${item.label}</option>
            </sly>
        </select>
    </label>
</template>

<template data-sly-template.default="${@ fyc}">
    <div class="findyourcruise2018-header">
        <div class="fyc2018-header-container container">
            <div class="fyc2018-header-text">${properties.jcr:title || 'your-search-results' @ i18n} </div>
            <div class="fyc2018-header-text fyc2018-header-total-num">${fyc.totalResults} </div>
            <div class="fyc2018-header-text">
                <sly data-sly-test="${fyc.totalResults == 1}">${'cruise' @ i18n}</sly>
                <sly data-sly-test="${fyc.totalResults > 1}">${'cruises' @ i18n}</sly>
            </div>
            <script>
                window.portsList = '${fyc.filterBar.PORT.toString @ context="scriptString" }';
            </script>
        </div>
        <div class="fyc2018-filters-container">
            <sly data-sly-use.externalizerHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentNode.path}" />
            <div class="fyc2018-filters-wrapper" data-url="${ externalizerHelper.externalizedUrl @ selectors='templates.filter'}" id="filter-url-request">
                <sly data-sly-use.filterDetailTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filterdetail.html"
                     data-sly-call="${filterDetailTemplate.default @ filter=fyc.filterBar.DESTINATION.rows, type='filter-destination', singular='destination', plural='destinations', name='destination'}"/>
                <sly data-sly-use.filterDetailTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filterdetail.html"
                     data-sly-call="${filterDetailTemplate.default @ filter=fyc.filterBar.DEPARTURE.rows, type='filter-departure', class='col-md-4', singular='departure', plural='departures', name='departure'}"/>
                <sly data-sly-use.filterDetailTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filterdetail.html"
                     data-sly-call="${filterDetailTemplate.default @ filter=fyc.filterBar.DURATION.rows, type='filter-duration', singular='duration', plural='durations', label='days', name='duration'}"/>
                <sly data-sly-use.filterDetailTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filterdetail.html"
                     data-sly-call="${filterDetailTemplate.default @ filter=fyc.filterBar.SHIP.rows, type='filter-ship', singular='ship', plural='ships', name='ship'}"/>
                <sly data-sly-use.filterDetailTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filterdetail.html"
                     data-sly-call="${filterDetailTemplate.default @ filter=fyc.filterBar.TYPE.rows, type='filter-cruise-type', class='col-sm-12', singular='cruise-type', plural='cruise-types', name='type'}"/>
                <sly data-sly-use.filterDetailTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filterdetail.html"
                     data-sly-call="${filterDetailTemplate.default @ filter=fyc.filterBar.PORT.rows, type='filter-port', class='col-sm-12', singular='port', plural='ports', name='port', autocomplete=true, placeholder='Search port'}"/>
                <sly data-sly-use.filterDetailTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filterdetail.html"
                     data-sly-call="${filterDetailTemplate.default @ filter=fyc.filterBar.FEATURES.rows, type='filter-features', class='col-sm-12', singular='features', plural='features', name='features'}"/>
                </div>
            </div>
        </div>
    </div>
</template>

<sly data-sly-use.resultsTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filter.html"
     data-sly-use.fyc="${'com.silversea.aem.components.editorial.findyourcruise2018.FindYourCruise2018Use' @ psize='9'}"
     data-sly-call="${resultsTemplate.default @ fyc=fyc}"/>