<template data-sly-template.default="${@ filter, type, class, singular, plural, label, name, autocomplete,placeholder,fyc, open}">
    <div class="fyc2018-filter" data-open="${open ? 'tre' : 'd'}">
        <div class="fyc2018-filter-content ${open ? 'fyc2018-filter-content-clicked' : ''}">
            <span id="${type}" data-singular="${singular @ i18n}" data-plural="${plural @ i18n}">
                ${singular @ i18n}
            </span>
        </div>
        <div class="${type} fyc2018-filter-value ${open ? 'fyc2018-filter-value-clicked': ''}" data-filter="${type}" data-name="${name}">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw fyc2018-spinner"></i>
            <div class="fyc2018-filter-label col-xs-12">
                <span class="fyc2018-filter-label-mobile visible-xs">${singular @ i18n}</span>
                <span class="fyc2018-filter-clear"><i class="material-icons">close</i></span>
                <input data-sly-test="${autocomplete}" id="filter-autocomplete" class="form-control fyc2018-filter-autocomplete" placeholder="${placeholder}" />
            </div>
            <sly data-sly-test="${autocomplete}">
                <div class="${class || 'col-sm-6'} filter-show-selected" data-labelplural="${'selected ports' @ i18n}" data-labelsingular="${'selected port' @ i18n}">
                    <span>${'selected ports' @ i18n}</span>
                </div>
                <div class="fyc2018-filter-selected-content">

                </div>
            </sly>
            <div data-sly-list="${filter}" class="${autocomplete ?  'fyc2018-filter-autocomplete-content' : ''} fyc2018-filter-value-container">
                <sly data-sly-test="${(autocomplete && itemList.index < 100) || !autocomplete}">
                    <div class="${class || 'col-sm-6'} filter-value filter-no-selected" data-sly-test="${item.isEnabled}" data-key="${item.key}" data-state="${item.state.toString}" data-label="${item.label}">
                        <span>
                            <i data-sly-test="${item.icon}" class="${item.icon}"></i>
                            ${item.month || item.label @ i18n}
                        </span>
                    </div>
                    <div  class="${class || 'col-sm-6'} filter-value filter-selected" data-sly-test="${item.isChosen}" data-key="${item.key}" data-state="${item.isChosen.toString}" data-label="${item.label}">
                        <span>
                            <i data-sly-test="${item.icon}" class="${item.icon}"></i>
                            ${item.month || item.label @ i18n}
                        </span>
                    </div>
                    <div class="${class || 'col-sm-6'} filter-value filter-disabled" data-sly-test="${item.isDisabled}" data-key="${item.key}" data-state="${item.isDisabled.toString}" data-label="${item.label}">
                        <span>
                            <i data-sly-test="${item.icon}" class="${item.icon}"></i>
                            ${item.month || item.label @ i18n}
                        </span>
                    </div>
                </sly>
                <sly data-sly-test="${(autocomplete && itemList.last)}">
                    <div class="${class || 'col-sm-6'} filter-view-all filter-view-all-original">
                        <span>${'load more' @ i18n}</span>
                    </div>
                    <div class="${class || 'col-sm-6'} filter-view-all filter-view-all-filtered">
                        <span>${'load more' @ i18n}</span>
                    </div>
                    <div class="${class || 'col-sm-6'} filter-no-ports">
                        <span>${'no ports found' @ i18n}</span>
                    </div>
                </sly>
            </div>
            <div class="col-xs-12 filter-combo-cruises-row" data-sly-test="${fyc.grandVoyagePath && fyc.worldCruisePath}">
                <a class="col-xs-6 filter-combo-cruises" data-sly-test="${name == 'destination' && fyc.worldCruisePath}" href="${fyc.worldCruisePath @ extension='html'}">
                    <span>${'world-cruises' @ i18n}</span>
                </a>
                <a class="col-xs-6 filter-combo-cruises" data-sly-test="${name == 'destination' && fyc.grandVoyagePath}" href="${fyc.grandVoyagePath @ extension='html'}">
                    <span>${'grand-voyages' @ i18n}</span>
                </a>
            </div>
            <div class="col-xs-12 visible-xs fyc2018-view-results" data-show="${'show' @ i18n}" data-singular="${'cruise' @ i18n}" data-plural="${'cruises' @ i18n}">
                <span></span>
            </div>
        </div>
    </div>
</template>