/*
 * Annoucement fixes
 */
 .c-annoucement__content__title{
 	a{
 		text-decoration:underline;
 	}
 	p{
 		font-family: @f-sans_serif;
    	text-transform: none;
 	}
 }
 .c-annoucement__content__cta{
 	.btn {
    	font-weight: normal;
 	}
 }
 
  /*
  * Annoucement fix
  */
 .c-annoucement img{
 	width:100%;
 }
 
 /*
 * Annoucement tablet fix
 */

@media only screen and (min-device-width: @screen-md-min) and (max-device-width: 1023px)  {
	.c-annoucement__content {
	    width: 42%;
	}
}