/*
  * Fix Button arrow (sticked to right)
  */
  
  .button .btn:not(.pull-right):not(.btn-thin), .lightboxButton .btn:not(.pull-right):not(.btn-thin), .c-hero-banner__buttons .btn:not(.pull-right):not(.btn-thin), .c-hero-banner-landing__buttons .btn:not(.pull-right):not(.btn-thin), .c-subscribe__form .btn, .o-section-call .btn{
  	position:relative !important;
  	i {
  		position:absolute !important;
	    right:10px !important;
	    top: 50% !important;  
	    transform: translateY(-50%) !important;
	    -webkit-transform: translateY(-50%) !important;
	    vertical-align: 0 !important; 
	    line-height:1 !important;
  	}
  	span {
  		 padding-right: 15px;
  	}
  }
  
 .c-search-hero__form .btn {
 	font-size:13px;
    i{
	    position: absolute !important;
	    right: 18px !important;
	    top: 50% !important;
	    font-size: 18px !important;
	    font-weight: 400 !important;
	    margin-top: -9px !important;
	    transform: none;
	    -webkit-transform: none;	    
    }
}

.c-brochure__thankyou .btn .fa-angle-right {
    position: absolute !important;
    right: 10px !important;
    top: 8px !important;
}

.c-search-cruise__form .btn i {
    position: absolute;
    right: 18px;
}