/*
  * FIX FYC
  */
  .c-fyc__result__content__price .price-suffixe {
    display: inline;
}

.c-fyc__result__content {
    width: 100%;
    display: table;
}

.c-fyc__result__content__itinerary dd {
    display: inline-flex;
}

.c-fyc__header__inner__feature{
	text-overflow: ellipsis;
    overflow: hidden;
}

/*
 * FYC
 */
 .feature-wrapper {
    text-align: center;
    clear: both;
    text-transform: uppercase;
    font-size:12px;
}

/*
 * Fix FYC Header alignment
 */
.c-fyc__header__inner span{
    margin-left:1px;
}
.c-fyc__header__inner:nth-child(2) {
    margin-left: -35px;
}
@media (min-width:@screen-md-min){
    .c-fyc__header {
        height: 30px;
    }
}

/*
 * FYC Margin top
 */
 @media screen and (max-width: @screen-sm) {
        .c-fyc-pagination {
                margin-top: 15px;
        }   
}