/*
 * Fix FYC Hero SPanish
 */
 @media screen and (min-width: @screen-md-min) and (max-width: 899px){
    .es{
        .c-search-hero__form .btn {
            font-size: 11px;
        }
        .searchhero .btn .fa-angle-right {
        margin-right: -13px;
        }
    }
}

/*
 * Search hero lang fix
 */
 @media only screen and (min-device-width: @screen-md-min) and (max-device-width: 1023px)  {
 	.fr,.pt-br, .de {
	    .searchhero .c-search-hero__form .btn {
	        font-size: 12px;
	        padding-left:6px;
	        letter-spacing: -0.3px;
	    }
	
	    .searchhero .c-search-hero__form .btn i {
	        right: 5px !important;     
	    }
    
    }
}

/*
 * Fix search hero on tablet
 */

@media (width: @screen-md-min)  {
    .c-search-hero__form .btn {
        height: 33px !important;
    }
}