.c-annoucement {
    &__content {
        &__title {
            font-family: @freight-bold;
          
            h2 {
                font-size: @h2-desktop-fontsize-40;
               
                @media screen and (max-width: @screen-sm) {
                    font-size: @h2-mobile-fontsize-28;
                }

                sup {
                    font-size: 17px;
                    @media screen and (max-width: @screen-sm) {
                        font-size: 11px;
                    }
                }
            }

            a {
                font-size: 31px;
               
                @media screen and (max-width: @screen-sm) {
                    font-size: 15px;
                }

                sup {
                    font-family: @freight-bold;
                    font-size: 11px;
                   
                    @media screen and (max-width: @screen-sm) {
                        font-size: 9px;                       
                    }
                }
            }

            h3 {
                font-size: @h3-desktop-fontsize-32;
                
                @media screen and (max-width: @screen-sm) {
                    font-size: @h3-mobile-fontsize-22;
                }
            }
        }
    }
}
