.c-archives {
    font-size: 14px;
    &__trigger {
        a {
            font-size: 14px;
            
        }
    }

    > ul {
        > li {
           
            ul {
               
                li {
                    font-size: 12px;
                }
            }
        }
    }
}