.c-blogpostteaser {
    &__title {
        font-size: 20px;
    }

    &__date {
        span {
            font-size: 16px;            
        }
    }
}

@media screen and (max-width: @screen-sm) {
    .c-blogpostteaser {
        &--first {
            .c-blogpostteaser__title {
                font-size: 22px;
                font-weight: 600;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (min-width: @screen-md-min) {
    .c-blogpostteaser {
        &--first {
            .c-blogpostteaser__title {
                font-size: 30px;
            }
        }

        .blog__sidebar & {           
            &__title {
                font-size: 15px;              
            }
        }
    }
}
