.c-single-dining {
    .c-single-dining-slider-property-display {
      

        .o-single-dining-slider-title {           
            font-size: 24px;
            font-family: @freight;         
        }

        .o-single-dining-slider-description {
            font: 400 14px;
            font-family: @suisse;    
        }
    }

    .c-single-dining-slider {
    

        

        &__title {
            @media screen and (max-width: @screen-sm) {               
                &__mobile {
                    font-size: 26px;                   
                    font-family: @freight;
                }
            }
            
            font-family: @freight;
            font-size: 18px;    
        }    
        &__label {
            font-size: 11px;
        }
    }

    .c-single-dining-slider-button { 
        .btn {            
            font-size: 11px;     
        }
    }

}
