.c-single-dining {
    .c-single-dining-slider-property-display {
      

        .o-single-dining-slider-title {           
            font-size: @h4-desktop-fontsize-24;
            font-family: @freight;         
        }

        .o-single-dining-slider-description {
            font: 400 @body-desktop-fontsize-14;
            font-family: @suisse;    
        }
    }

    .c-single-dining-slider {
    

        

        &__title {
            @media screen and (max-width: @screen-sm) {               
                &__mobile {
                    font-size: @h3-mobile-fontsize-24;                   
                    font-family: @freight;
                }
            }
            
            font-family: @freight;
            font-size: @kicker-desktop-fontsize-18;    
        }    
        &__label {
            font-size: @label-desktop-fontsize-12;
        }
    }

    .c-single-dining-slider-button { 
        .btn {            
            font-size: @button-desktop-fontsize-11;     
        }
    }

}
