.c-form {
    font-size: 12px;   
    .form-group-lg {
        input:not([type="checkbox"]) {
            font-size: 14px;          
        }      
    }

    .chosen-container-single .chosen-search input[type="text"] {  
    .with-errors {
        font-size: 13px;      
    }
   }
}

.form-control {

    &::-webkit-input-placeholder {
        font-size: 13px;
    }

    &::-moz-placeholder {
        font-size: 13px;
    }

    &:-ms-input-placeholder {
        font-size: 13px;
    }

    &:-moz-placeholder {
        font-size: 13px;
    }
}

.form-group-lg select.form-control {
    font-size: 14px;
}

.mobile {
    .c-find-your-cruise-filter {
        .single-filter {           
            select {             
                font-size: 13px;    
            }
        }
    }
}
