.c-form {
    font-size: @body-desktop-fontsize-14;   
    .form-group-lg {
        input:not([type="checkbox"]) {
            font-size: @body-desktop-fontsize-14;          
        }      
    }

    .chosen-container-single .chosen-search input[type="text"] {  
    .with-errors {
        font-size: @label-desktop-fontsize-12;      
    }
   }
}

.form-control {

    &::-webkit-input-placeholder {
        font-size: @label-desktop-fontsize-12;
    }

    &::-moz-placeholder {
        font-size: @label-desktop-fontsize-12;
    }

    &:-ms-input-placeholder {
        font-size: @label-desktop-fontsize-12;
    }

    &:-moz-placeholder {
        font-size: @label-desktop-fontsize-12;
    }
}

.form-group-lg select.form-control {
    font-size: @body-desktop-fontsize-14;
}

.mobile {
    .c-find-your-cruise-filter {
        .single-filter {           
            select {             
                font-size: @body-mobile-fontsize-13;    
            }
        }
    }
}
