.c-footer {
    & .btn {
        font-size: @button-desktop-fontsize-11;       
    }

    .c-list--legal {
        &__group {
            font-size: @footnote-desktop-fontsize-11;           
        }
        strong {
            font-size: @footnote-desktop-fontsize-11;
        }
    }
}
