.c-footer {
    & .btn {
        font-size: 11px;       
    }

    .c-list--legal {
        &__group {
            font-size: 11px;           
        }
        strong {
            font-size: 10px;
        }
    }
}
