.c-gallery {
   
    &__caption {
        font-size: 22px;       
    }

    &__counter {       
        font-size: 18px;      
    }

    &__label {      
        font-size: 20px;       
        @media (max-width: @screen-sm) {
            font-size: 13px;           
        }
    }

    &__tab {            
        &__link {           
            font-size: 13px;          
        }
    }
}

.c-gallery--cc {   
    &__tab {
        &__link {         
            font-size: 12px;           
        }
    }

    &__caption {      
        font-size: 13px;        
    }
}
