.c-gallery {
   
    &__caption {
        font-size: @subheader-desktop-fontsize-20;       
    }

    &__counter {       
        font-size: @kicker-desktop-fontsize-18;      
    }

    &__label {      
        font-size: @subheader-desktop-fontsize-20;       
        @media (max-width: @screen-sm) {
            font-size: @body-mobile-fontsize-13;           
        }
    }

    &__tab {            
        &__link {           
            font-size: @body-desktop-fontsize-14;          
        }
    }
}

.c-gallery--cc {   
    &__tab {
        &__link {         
            font-size: @body-desktop-fontsize-14;           
        }
    }

    &__caption {      
        font-size: @footnote-desktop-fontsize-11;        
    }
}
