.c-pageheader {
    font-size: 13px;
   
    &__title {       
        font-size: 30px;
    }
    &__subtitle {       
        font-size: 24px;   
        &--small {
            font-size: 12px;        
        }
    }

    &__date {
        font-size: 14px;
    }
}
