.c-pageheader {
    font-size: @body-desktop-fontsize-14;
   
    &__title {       
        font-size: 30px;
    }
    &__subtitle {       
        font-size: @subheader-desktop-fontsize-24;   
        &--small {
            font-size: @label-desktop-fontsize-12;        
        }
    }

    &__date {
        font-size: @body-desktop-fontsize-14;
    }
}
