.c-poi {
    &__content {      
        font-size: @body-desktop-fontsize-16;     
        h4,
        p {         
            font-size: @body-desktop-fontsize-14;
            font-family: @suisse;
        }
    }
}
