
.c-pressreleases__description {
    font-size: 13px;
}

.c-pressreleaseslist {
    &__date {
        font-size: 14px;       
        strong {
            font-size: 10px;           
        }
    }
    &__title {
        font-size: 13px;       
    }
}

.c-pressrelease {
    &__date {
        font-size: 14px;       
        strong {
            font-size: 12px;           
        }
    }
    &__title {
        font-size: 26px;       
    }
}
