
.c-pressreleases__description {
    font-size: @body-desktop-fontsize-14;
}

.c-pressreleaseslist {
    &__date {
        font-size: @body-desktop-fontsize-14;       
        strong {
            font-size: @footnote-desktop-fontsize-11;           
        }
    }
    &__title {
        font-size: @body-desktop-fontsize-14;       
    }
}

.c-pressrelease {
    &__date {
        font-size: @body-desktop-fontsize-14;       
        strong {
            font-size: @label-desktop-fontsize-12;           
        }
    }
    &__title {
        font-size: @h3-desktop-fontsize-32;       
    }
}
