.c-search-result {
      font-size: 13px;
    &__form-wrapper {    
        &__title {
            font-size: 30px;
        }
    }

    &__results {
        &__title {
            font-size: 22px;
        }
        &__item {
            &__title {
                font-size: 16px;
            }
        }
    }
}
