.c-single-dining {   
    .c-dining-display {	
        .o-title {
                font-size: @h1-desktop-fontsize-48;
                font-family: @freight;                         
            }

        .o-description {               
            	font-family: @suisse;               
            	font-size: @body-desktop-fontsize-14;            	
            }   
    }

    .c-dining-gallery {          
            .c-dining__gallery {
                &__label {                	
                    font-size: @label-desktop-fontsize-12;                
            	}
        	}            	
    }

    .c-dining__item-expander {                   
            .btn {               
                font-size: @button-desktop-fontsize-11;               
            }
    }

    .c-single-dining-availability {     
        &__title {
            font-size: 17px;         
            @media screen and (min-width: @screen-sm) {
            	font-family: @freight;
            }
        }
    
        .c-list__item {          
            .c-availability__link {                          
                font: 600 15px @suisse;             
            }
        }
    }
}


