.o-ss-area-property-display {    
    .o-ss-title {    
        font-size: 30px;
        font-family: @freight;     
    }
    .o-description p {
        font: 400 13px @f-sans_serif;      
    }
}

.c-ss-availability { 
    &__title {
        font-size: 18px;      
    }

    .c-list__item {
        .c-availability__link {           
            font: 600 15px @f-sans_serif;                    
        }
    }
}

.o-ss-slider-property-display {  
    .o-ss-slider-title {        
        font-size: 24px;
        font-family: @freight;      
    }
    .o-slider-description {
        font: 400 14px @f-sans_serif;      
    }
}
