.c-single-dining {   
    .c-dining-display {	
        .o-title {
                font-size: 36px;
                font-family: @freight;                         
            }

        .o-description {               
            	font-family: @suisse;               
            	font-size: 14px;            	
            }   
    }

    .c-dining-gallery {          
            .c-dining__gallery {
                &__label {                	
                    font-size: 12px;                
            	}
        	}            	
    }

    .c-dining__item-expander {                   
            .btn {               
                font-size: 11px;               
            }
    }

    .c-single-dining-availability {     
        &__title {
            font-size: 17px;         
            @media screen and (min-width: @screen-sm) {
            	font-family: @freight;
            }
        }
    
        .c-list__item {          
            .c-availability__link {                          
                font: 600 15px @f-sans_serif;             
            }
        }
    }
}


