.c-single-suite {   
    .c-suite-display {      
        .o-title {         
            font-size: 36px;
            font-family: @f-theano_didot;          
        }

        .o-description {
            font: 400 13px;
            font-family: @suisse;
        }
    }
    .c-suite-gallery {    
        .c-suite__gallery {
            &__label {              
                font-size: 12px;
            }
        }
    }

    .c-suite__item-expander {      
        .btn {          
            font-size: 11px;        
        }
    }

    .c-single-suite-availability {            
        &__title {
            font-size: 17px;          
            @media screen and (min-width: @screen-sm) {
                font-family: @f-theano_didot;
            }
        }            
    }
}
