.c-steveandsilversea {   
    .content {      
        &__title {          
            font-size: 27px;          
            font-family: @freight-bold;         
            @media screen and (max-width: @screen-sm) {
                font-size: 26px;             
            }
        }

        &__descr {          
            font-size: @body-desktop-fontsize-14;          
            font-family: @suisse;            
        }

        &__cta {          
            font-size: @body-desktop-fontsize-14;           
            font-family: @suisse;
        }

        &__watermark {         
            font-size: @label-desktop-fontsize-12;         
            font-family: @suisse;
        }

        &__tag {         
            font-size: @label-desktop-fontsize-12;           
            font-family:@suisse;
        }     
    }
}
