.c-steveandsilversea {   
    .content {      
        &__title {          
            font-size: 27px;          
            font-family: @f-theano_didot;         
            @media screen and (max-width: @screen-sm) {
                font-size: 26px;             
            }
        }

        &__descr {          
            font-size: 14px;          
            font-family: @suisse;            
        }

        &__cta {          
            font-size: 14px;           
            font-family: @f-sans_serif;
        }

        &__watermark {         
            font-size: 12px;         
            font-family: @suisse;
        }

        &__tag {         
            font-size: 12px;           
            font-family:@suisse;
        }     
    }
}
