.c-vertical-teaser {
    box-shadow: none !important;
    border: none !important;
    &__caption{
        padding-left: 7% !important;
        padding-right: 7% !important;
        border: 1px solid rgb(211, 211, 211);
        text-align: center;
    }
    &__title {
        font-family: @freight;
        font-size: @subheader-desktop-fontsize-24; 
        padding-bottom:12px !important;
        text-transform:capitalize;
    }
    &__description {
        font-size: @body-desktop-fontsize-13;
        letter-spacing:0.5px;
        line-height:19px;
        @media (max-width:@screen-sm){
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 18px;
        }
    }
    &__link {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    &__label {
        font-size: @button-desktop-fontsize-13;   
        color:@color-second;    
        font-weight: normal;
        &_nodefault {
            font-size: @button-desktop-fontsize-13;   
        	color:@color-second;       
        	font-weight: normal;     
        }
    }

    &--style1 & {
        @media screen and (max-width: @screen-sm) {
            &__title {
                font-size: @subheader-mobile-fontsize-20;     
                          
            }
        }
    }

    &--style2 & {      
        &__title {           
        	padding-bottom:12px !important;
            font-size: @subheader-desktop-fontsize-24;           
            text-transform:capitalize;
            @media screen and (max-width: @screen-sm) {
                font-size: @subheader-mobile-fontsize-20;
            }
        }
    }

    &--manual {       
        .c-vertical-teaser__caption {            
            .c-vertical-teaser {
                &__link__label {
                    font-size: @button-desktop-fontsize-13;   
        			color:@color-second;    
        			font-weight: normal;
                }
            }
        }
    }

    &-finedine {      
        &__title {            
            font-size: @subheader-desktop-fontsize-24;            
            font-family: @freight;
            padding-bottom:12px !important;
            text-transform:capitalize;
            @media screen and (max-width: @screen-sm) {
                font-size: @subheader-mobile-fontsize-20;           
            }
            &__allInclusive {              
                font-size: @subheader-desktop-fontsize-24;               
                font-family: @f-lato;       
                padding-bottom:12px !important;       
                text-transform:none;
                @media screen and (max-width: @screen-sm) {
                    font-size: @subheader-mobile-fontsize-20;
                }
            }
        }
    }

    &-oba {
        &__title_sm {           
            @media screen and (max-width: @screen-sm) {              
                font: 400 20px @freight;               
            }
        }
        &__title {
            @media screen and (max-width: @screen-sm) {
                font-size:18px;
            }
            font: 400 30px @freight;  
            padding-bottom:12px !important;         
        }
    }
}
