.port_v2_page .container {
    font-family: @suisse !important;
    font-size: @body-desktop-fontsize-14 !important;
}
.port_v2__section_title {
    font-family: @freight;    
    font-size: @subheader-desktop-fontsize-28;
}
.port_v2__desc_text, port_v2__imagetext_text{
    font-size:@body-desktop-fontsize-14
}
.port_v2__section_desc {
    font-size: @body-desktop-fontsize-14;
}
.port_v2__header_title {
    font-family: @freight;   
    font-size: @h1-desktop-fontsize-48;   
}
.port_v2__stats_num {
    font-size: 45px;
}
.port_v2__stats_title {
    font-size: @kicker-desktop-fontsize-18;
}
.port_v2__imagetext_title {
    font-size: @subheader-desktop-fontsize-24;
}
.port_v2__expander_col {
    font-size: @button-desktop-fontsize-12;    
}
.footer-v2 .footer-v2-contact {
    font-size: 12px;
}
.sv_v3__footer-forms .sv_v3__desc {
    font-size: @body-desktop-fontsize-14;
}
.sv_v3__subtitle {   
    font-size: 30px !important;
    font-family: @freight !important;
}
@media (max-width: @screen-md-max) {
    .port_v2__stats_num {
        font-size: 35px;
    }
    .port_v2__stats_title {
        font-size: 14px;
    }
}
@media (max-width: @screen-sm) {    
    .footer-v2 .phone_number_top {
        font-size: 14px;
    }
    .footer-v2 #gfn_href_footer {      
        font-size: 24px;     
    }
}

@media (max-width: @screen-xxs) {
    .port_v2__header_title {
        font-size: @h1-mobile-fontsize-34;
    }
    .port_v2__section_title {
        font-size: @h3-mobile-fontsize-24;
    }
    .port_v2__stats .port_v2__stats_title {
        font-size: 20px;
    }
    .sv_v3__subtitle {
        font-size: 20px !important;
    }
}
#counter {
    font-size: 17px;   
}
.port_v2__post_title {
    font-size: 18px;
}
.port_v2__post_cta .btn_base {
    font-size: 12px;   
}
.port_v2__postcarousel .slick-dots li button:before {
    font-size: 12px !important;
}
#counter {
    font-size: 17px;  
}
