.port_v2_page .container {
    font-family: @suisse !important;
    font-size: 13px !important;
}
.port_v2__section_title {
    font-family: @f-theano_didot;    
    font-size: 28px;
}
.port_v2__section_desc {
    font-size: 13px;
}
.port_v2__header_title {
    font-family: @f-theano_didot;   
    font-size: 38px;   
}
.port_v2__stats_num {
    font-size: 45px;
}
.port_v2__stats_title {
    font-size: 18px;
}
.port_v2__imagetext_title {
    font-size: 24px;
}
.port_v2__expander_col {
    font-size: 12px;    
}
.footer-v2 .footer-v2-contact {
    font-size: 12px;
}
.sv_v3__footer-forms .sv_v3__desc {
    font-size: 13px;
}
.sv_v3__subtitle {   
    font-size: 30px !important;
    font-family: @f-theano_didot !important;
}
@media (max-width: @screen-md-max) {
    .port_v2__stats_num {
        font-size: 35px;
    }
    .port_v2__stats_title {
        font-size: 14px;
    }
}
@media (max-width: @screen-sm) {    
    .footer-v2 .phone_number_top {
        font-size: 14px;
    }
    .footer-v2 #gfn_href_footer {      
        font-size: 24px;     
    }
}

@media (max-width: @screen-xxs) {
    .port_v2__header_title {
        font-size: 28px;
    }
    .port_v2__section_title {
        font-size: 24px;
    }
    .port_v2__stats .port_v2__stats_title {
        font-size: 20px;
    }
    .sv_v3__subtitle {
        font-size: 20px !important;
    }
}
#counter {
    font-size: 17px;   
}
.port_v2__post_title {
    font-size: 18px;
}
.port_v2__post_cta .btn_base {
    font-size: 12px;   
}
.port_v2__postcarousel .slick-dots li button:before {
    font-size: 12px !important;
}
#counter {
    font-size: 17px;  
}
