.cruise-2018 {
  @import "/etc/designs/silversea-com/clientlib-base/less/variables.less";
  @import "cruise.less";
  @import "expeditions.less";
  @import "itineraryexcursions/excursions.less";
  @import "itineraryexcursions/itinerary.less";
  @import "footer.less";
  @import "header.less";
  @import "offers.less";
  @import "overview.less";
  @import "menu.less";
  @import "pre-post.less";
  @import "next-prev.less";
  @import "ship/ship-overview.less";
  @import "ship/dining.less";
  @import "ship/public-areas.less";
  @import "suites-fares.less";
}


.cruise-2018-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  letter-spacing: 1px;
}