& + .c-footer .c-footer-2018 {
  display: block;
  .c-footer-social-and-signup {
    display: none;
  }
  .c-footer-other-link {
    display: none;
  }
  @media screen and (max-width: @screen-sm) {
    .c-footer-call-and-raq .request-quote-section {
      display: none;
    }
    .c-footer-call-and-raq::after {
      display: none;
    }

  }
}

& + .c-footer .footer-v2 {
  display: none;
}

