.cruise-2018-overview {
  position: relative;
  min-height: 500px;

  .cruise-2018-overview-big-pic img {
    position: relative;
    width: 100%;
  }

  .cruise-2018-overview-map-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 95px;
    width: 95px;
    border-radius: 45px;
    vertical-align: middle;
    text-align: center;
    background-size: contain;
  }

  .cruise-2018-overview-map-btn-label {
    background-color: white;
    margin-right: auto;
    width: 55%;
    text-align: center;
    margin-left: auto;
    line-height: 35px;
    vertical-align: middle;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    color: @grey--3;
    font-family: @suisse;
    font-size: 13px;
    letter-spacing: 1px;

  }
  .cruise-2018-overview-photos-videos-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 14px 10px 14px;
    margin-left: 15px;
  }

  .cruise-2018-overview-description-cruise {
    text-transform: uppercase;
    text-align: center;
    color: @grey--3;
    font-family: @suisse;
    letter-spacing: 1px;
  }

  .cruise-2018-overview-description-from-to {
    color: @grey--3;
    font-family: @freight;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 2px;
  }
  .cruise-2018-overview-description-from-to-to {
    display: inline;
    text-transform: lowercase;
  }

  .cruise-2018-overview-description-from-to-destination {
    display: inline;
  }

  .cruise-2018-overview-description-date-boxes {
    margin-left: auto;
    margin-right: auto;
    width: 361px;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgba(244, 244, 244, 0.6);
  }
  .cruise-2018-overview-description-date-boxes-title {

    color: @nd-red;
    font-family: @suisse;
    letter-spacing: 1px;
  }

  .cruise-2018-overview-description-date-boxes-box-container {

    overflow: hidden;
    display: inline-block;
    width: 32.5%;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .cruise-2018-overview-description-date-boxes-box {
    position: relative;;

  }

  .cruise-2018-overview-description-date-boxes-title {
  }

  .cruise-2018-overview-description-date-boxes-content {
    color: @grey--3;
    font-family: @suisse;
    letter-spacing: 1.5px;

  }
  .cruise-2018-overview-description-date-boxes-subtitle {

    color: @grey--3;
    font-family: @suisse;
    letter-spacing: 1px;

  }

  .cruise-2018-overview-description-date-boxes-ship {
    color: @grey--3;
    font-family: @suisse;
    white-space: initial;
    letter-spacing: 1px;
  }

  .cruise-2018-overview-description-date-boxes-box.bordered::after {
    content: " ";
    border-right: 1px solid rgba(98, 98, 98, 0.2);
    height: 65px;
    position: absolute;
    top: 0;
    right: -20px;
  }

  .cruise-2018-overview-quote {
    text-align: center;
    text-transform: uppercase;
  }

  .cruise-2018-overview-quote-price-from {
    display: inline;
    color: @grey--3;
    font-family: @suisse;
    letter-spacing: 0.5px;

  }
  .cruise-2018-overview-quote-price-number {
    display: inline;
    color: @grey--3;
    font-family: @suisse;
    letter-spacing: 1px;
  }

  .cruise-2018-overview-quote-price-bonus {
    color: @grey--3;
    font-family: @suisse;
    letter-spacing: 0.5px;

  }

  .cruise-2018-overview-quote-price-bonus {
    color: @grey--3;
    font-family: @suisse;
    letter-spacing: 0.5px;
    line-height: 18px;

  }

  .cruise-2018-overview-quote-icons {
    bottom: 5px;
    font-size: 18px;
    left: 0;
    margin-left: auto;
    position: absolute;
    right: 7.5%;
    text-align: center;
    width: 260px;
    white-space: nowrap;
  }

  .cruise-2018-overview-quote-icons div, .cruise-2018-overview-quote-icons a {
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
  }

  .jssocials-share {
    margin: 0 !important;
    color: @black !important;
  }

  .jssocials-share-facebook .jssocials-share-link {
    color: @black !important;
  }
  .jssocials-share-logo {
    font-size: inherit !important;
    width: inherit !important;
    vertical-align: inherit !important;
  }

  .cruise-2018-overview-quote-btn {
    border-radius: @nd-button-border-radius;
    display: inline-block;
    font-family: @suisse;
    font-size: @nd-button-font-size;
    font-weight: normal;
    letter-spacing: @nd-button-letter-spacing;
    line-height: @nd-button-line-height;
    margin-bottom: 3px;
    padding: @nd-button-padding;
    text-align: center ! important;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: normal;
    span {
      padding-right: 0 ! important;
    }

    &-red {
      border-width: @nd-button-border-width;
      background-color: @nd-red;
      color: @white;
      &:hover, &:focus, &:active {
        background-color: @nd-red-darker ! important;
        color: @white ! important;
      }
    }
    &-white {
      border: 1px solid @color-second !important;
      color: @color-second;
    }
  }

}

@media screen and (max-width: @screen-sm) {
  .cruise-2018-overview {
    .cruise-2018-overview-big-pic {
      width: 100vw;
      padding: 0 !important;
      margin-left: -15px;
    }
    .cruise-2018-overview-description-cruise {
      margin-top: 15px;
      font-size: 9px;
      line-height: 11px;
    }
    .cruise-2018-overview-description-from-to {
      font-size: 22px;
      line-height: 24px;
    }
    .cruise-2018-overview-description-date-boxes {
      height: 75px;
      margin-top: 20px;
    }
    .cruise-2018-overview-description-date-boxes-title {
      font-size: 9px;
      line-height: 11px;
      margin-top: 10px;
      margin-bottom: 6px;

    }
    .cruise-2018-overview-description-date-boxes-content {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 3px;
    }
    .cruise-2018-overview-description-date-boxes-ship {
      line-height: 11px;
      font-size: 9px;
    }
    .cruise-2018-overview-description-date-boxes-subtitle {

      font-size: 9px;
      line-height: 11px;
    }
    .cruise-2018-overview-quote {
      margin-top: 20px;
    }
    .cruise-2018-overview-quote-btn {
      margin-top: 10px;
    }
    .cruise-2018-overview-quote-price-from {
      font-size: 9px;
      line-height: 11px;
    }
    .cruise-2018-overview-quote-price-number {
      font-size: 18px;
      line-height: 25px;
    }
    .cruise-2018-overview-quote-price-bonus {
      font-size: 9px;
      line-height: 11px;
    }
  }
}

@media screen and (min-width: @screen-sm) and (max-width: @screen-md-max) {
  .cruise-2018-overview {
    .cruise-2018-overview-description-cruise {
      margin-top: 10px;
      font-size: 11px;
      line-height: 16px;
    }

    .cruise-2018-overview-description-from-to {

      font-size: 30px;
      line-height: 32px;
    }
    .cruise-2018-overview-description-date-boxes {
      height: 113px;
      margin-top: 40px;

    }
    .cruise-2018-overview-description-date-boxes-title {
      font-size: 11px;
      line-height: 14px;
      margin-top: 20px;
      margin-bottom: 10px;

    }
    .cruise-2018-overview-description-date-boxes-content {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 8px;
    }
    .cruise-2018-overview-description-date-boxes-ship {
      line-height: 14px;
      font-size: 11px;

    }
    .cruise-2018-overview-description-date-boxes-subtitle {

      font-size: 11px;
      line-height: 14px;
    }
    .cruise-2018-overview-quote {
      margin-top: 42px;
    }
    .cruise-2018-overview-quote-btn {
      margin-top: 12px;
    }
    .cruise-2018-overview-quote-price-from {
      font-size: 11px;
      line-height: 18px;
    }
    .cruise-2018-overview-quote-price-number {
      font-size: 20px;
      line-height: 24px;
    }
    .cruise-2018-overview-quote-price-bonus {
      font-size: 11px;
      line-height: 18px;
    }
  }
}
