.cruise-2018-prepost::before {
  content: " ";
  height: 100%;
  width: 200vw;
  background-color: @grey--f4;
  display: block;
  position: absolute;
  left: -50vw;
  z-index: -1;
}

.cruise-2018-prepost {
  position: relative;
  .cruise-2018-prepost-content {

    padding-bottom: 25px;

    .slick-next:after {
      width: 25px;
      height: 25px;
      padding: 10px;
      border-left: 0 solid @transparent;
      border-right: 2px solid @color-second !important;
      border-bottom: 2px solid @color-second !important;
      border-top: 0 solid @transparent;
      opacity: 0.6;
      content: " ";
      right: 53%;
      left: initial !important;

    }

    .slick-prev {
      width: 40px;
      left: -30px !important;
      transform: rotateZ(135deg);
      top: 37% !important;
    }
    .slick-next {
      width: 40px;
      right: -30px !important;
      transform: rotateZ(-45deg);
      top: 37% !important;
    }
    .slick-prev:after {
      width: 20px;
      padding: 10px;
      height: 20px;
      border-left: 0 solid @transparent;
      border-right: 2px solid @color-second !important;
      border-bottom: 2px solid @color-second !important;
      border-top: 0 solid @transparent;
      opacity: 0.6;
      content: " ";
      right: 0;
    }

  }

  .cruise-2018-prepost-slide {

    margin-right: 7px;
    margin-left: 7px;
    &:focus {
      outline: 0;
    }

  }

  .cruise-2018-prepost-title {

    padding-top: 50px;
    text-align: center;
    width: 100%;
    color: #333333;
    font-family: @freight;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 24px;

  }

  .cruise-2018-prepost-slide-prepost {
    text-transform: uppercase;
    text-align: center;
    color: @grey--3;
    font-family: @suisse;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-top: 8px;
  }

  .cruise-2018-prepost-slide-title {

    color: @grey--3;
    font-family: @suisse;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;

  }

  .cruise-2018-prepost-slide-days, .cruise-2018-prepost-slide-collection {
    color: @grey--3;
    font-family: @suisse;
    font-size: 11px;
    font-style: italic;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-transform: capitalize;
    text-align: center;
  }

  .cruise-2018-prepost-slide-moredetails {
    text-transform: uppercase;
    color: @color-second;
    font-family: @suisse;
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 16px;
    text-align: center;
    padding-bottom: 19px;
    margin-top: 12px;

  }
  .cruise-2018-prepost-slide:hover {

    background-color: white;
  }
  .cruise-2018-prepost-slide:not(:hover) .cruise-2018-prepost-slide-moredetails {
    visibility: hidden;
  }

  .cruise-2018-prepost-slide-thumbnail {
    height: 224px;
  }

  .cruise-2018-prepost-slide-thumbnail img {
    height: 224px;
    object-fit: cover;
  }

}

@media (max-width: @screen-md-min) {
  .cruise-2018-prepost {
    .cruise-2018-prepost-content {
      .slick-prev {
        width: 40px;
        left: -18px !important;
      }
      .slick-next {
        width: 40px;
        right: -18px !important;
      }
    }
    .cruise-2018-prepost-slide-text {
      font-size: 12px;
      line-height: 18px;
      max-height: 162px;
    }
  }
}
