<template data-sly-template.default="${ @ suite}">
    <div class="lg-suite-deck" data-sly-test="${suite.locationImage || suite.plan}">
        <div class="lg-suite-deck-label">
            <span>${'suite-plan' @ i18n }</span>
        </div>

        <div class="lg-suite-deck-image">
            <sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=suite.plan}"/>
            <img id="image-deck-plan" src="${assetHelper.imageUrl}?hei=930&wid=930&fit=constrain&fmt=pjpeg&pscan=5&qlt=80&fit=constrain" alt="location" title="Location" class="o-img"/>
        </div>
    </div>
</template>
