<template data-sly-template.default="${@ model}">
    <div class="lg-suite-overview">
        <div class="row lg-row-title-price">
            <div class="col-sm-7">
                <div class="lg-suite-name">
                    <span>${model.suitePrice.suite.title @ context="html"}</span>
                </div>
            </div>
            <div class="col-sm-5 hidden-xs">
                <div class="lg-suite-prices">
                <span data-sly-test="${model.suitePrice.isWaitList}"
                      class="lg-suite-waiting-list">${'waitlist' @ i18n}</span>
                    <sly data-sly-test="${!model.suitePrice.isWaitList}">
                        <span class="lg-suite-prices-from">${'from' @ i18n}</span>
                        <span class="lg-suite-prices-text">
                        ${model.suitePrice.lowestPrice.currency @ i18n} ${model.suitePrice.computedPriceFormated}
                    </span>
                        <span class="lg-suite-prices-bonus"
                              data-sly-test="${model.suitePrice.lowestPrice.earlyBookingBonus}">
                        ${'with-early' @ i18n}&nbsp;${'booking-bonus' @ i18n}
                    </span>
                    </sly>
                </div>
            </div>
        </div>
        <div class="row lg-row-bed-cta">
            <div class="col-sm-7">
                <div class="lg-suite-bedrooms">
                    ${model.suitePrice.suite.bedroomsInformation @ context="html"}
                </div>
            </div>
            <div class="col-sm-5 hidden-xs">
                <div class="lg-suite-raq">
                    <a class="btn btn-thin btn-red effect"
                       href="${model.raqLink @ extension='html', appendSuffix=model.appendSuffixUrl, suffix=model.suffixUrl, selectors=model.selectorUrl}"
                       data-sscclicktype="clic-RAQ">
                        <span>${'request-quote' @i18n}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row lg-row-descr">
            <div class="col-xs-12">
                <div class="lg-suite-description lg-suite-description-truncate">
                    <span class="lg-suite-descr-label hidden-xs">${'description' @ i18n}</span>
                    ${model.suitePrice.suite.longDescription @ context="html"}
                </div>
            </div>
            <div class="col-xs-12 visible-xs">
                <span class="lg-suite-description-expand">${'read-more' @ i18n }</span>
            </div>
        </div>
    </div>
</template>