<template data-sly-template.default="${ @  smallItineraryMap, lastMinuteSavings, exclusiveOfferPostPrice,bigTitle, smallTitle, assetsGallery, bigThumbnailItineraryMap,bigThumbnail, bigItineraryMap, showCruiseBeforeName,cruiseType,endDate, countryCode,previous, next, navigationTitle,departurePortName,isWaitlist,requestQuotePagePath,earlyBookingBonus, currency,currentPath,taCode, ccptCode,cruiseCode, computedPriceFormatted,startDate,duration, ship,arrivalPortName, title,  itinerary, isCombo, externalizerHelper}">
    <div class="cruise-2018-overview row container ${isCombo ? 'cruise-2018-overview-single-column' : ''}"
         data-lightbox-gallery-path="${externalizerHelper.externalizedUrl @ extension='html', selectors=['lightboxes.lg-gallery-assets',cruiseType]}"
         data-lightbox-map-path="${externalizerHelper.externalizedUrl @ extension='html', selectors=['lightboxes.lg-map',cruiseType]}"
         id="cruise2018overview">
        <a href="#" data-sly-test="${bigItineraryMap && isCombo}"
           class="cruise-2018-overview-map-btn-combo open-lightbox-map hidden-xs" data-target=".lightbox"
           style="background-image:url('${bigItineraryMap  @ context='unsafe'}')">
            <div class="cruise-2018-overview-map-btn-label">${'map' @ i18n}</div>
        </a>
        <sly data-sly-test.cruiseDesktopImg="${bigThumbnailItineraryMap || bigThumbnail || itinerary}"/>
        <sly data-sly-test.cruiseMobileImg="${isCombo ? cruiseDesktopImg : bigItineraryMap || bigThumbnail || itinerary}"/>
        <div class="cruise-2018-overview-big-pic ${isCombo ? 'col-sm-12 cruise-2018-overview-full-width' : 'col-sm-6'} col-xs-12">
            <a href="#" data-sly-test="${bigItineraryMap && !isCombo && smallItineraryMap}"
               class="cruise-2018-overview-map-btn-cruise open-lightbox-map hidden-xs" data-target=".lightbox"
               style="background-image:url('${smallItineraryMap  @ context='unsafe'}')">
                <div class="cruise-2018-overview-map-btn-label">${'map' @ i18n}</div>
            </a>
            <sly data-sly-list.asset="${assetsGallery}">
                <sly data-sly-test="${asset.path && assetList.index < 1}"
                     data-sly-test.firstAssetGalleryImg="${asset.path}"/>
            </sly>
            <div class="open-lightbox-gallery-assets" data-target=".lightbox" id="lb-mainGallery">
                <picture data-sly-test="${cruiseDesktopImg || cruiseMobileImg}">
                    <sly data-sly-use.assetHelperDesktop="${'com.silversea.aem.helper.AssetHelper' @ assetPath = cruiseDesktopImg}"/>
                    <sly data-sly-use.assetHelperMobile="${'com.silversea.aem.helper.AssetHelper' @ assetPath = cruiseMobileImg}"/>
                    <!--[if IE 9]>
                    <video style="display: none;"><![endif]-->
                    <source srcset="${assetHelperMobile.imageUrl}?wid=800&fmt=pjpeg&pscan=5&qlt=80&fit=hfit,1"
                            media="(max-width: 767px)"/>
                    <source srcset="${assetHelperDesktop.imageUrl}?wid=1900&fmt=pjpeg&pscan=5&qlt=80&fit=hfit,1"
                            media="(min-width: 768px)"/>
                    <!--[if IE 9]></video><![endif]-->
                    <img style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
                         src="${assetHelperDesktop.imageUrl @ context='unsafe'}?wid=1900&fmt=pjpeg&pscan=5&qlt=80&fit=hfit"
                         alt="${assetHelperDesktop.metadataResource.valueMap['dc:title']  || currentPage.title}"/>
                </picture>
            </div>
            <a href="#" data-sly-test="${assetsGallery && !isCombo}"
               class="open-lightbox-gallery-assets hidden-xs" data-target=".lightbox">
                <div class="cruise-2018-overview-photos-videos-btn">${'photos-and-videos' @ i18n}</div>
            </a>
        </div>
        <div class="ow-slider ow-slider--main main-slider visible-xs">
            <div data-image="${cruiseMobileImg}" data-sly-test="${cruiseMobileImg && isCombo}">
                <div class="ratio">
                    <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"
                         data-sly-call="${imageTemplate.respLazyWidthChoose @ imagePath=cruiseMobileImg, Width=700}"/>
                </div>
            </div>
            <sly data-sly-repeat.asset="${assetsGallery}">
                <div data-image="${asset.path}" data-sly-test="${asset.path}">
                    <div class="ratio ${asset.type == 'virtual-tour' ? 'ow-virtual-tour' : ''}  ${asset.type == 'itinerary' ? 'ow-itinerary' : ''}"
                         id="ow-virtual-tour-${asset.type == 'virtual-tour' ? assetList.index : asset.path}"
                         data-image-virtual-tour="${asset.path}"
                         data-asset-label="${asset.label}" data-asset-credits="${asset.credits}">
                        <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"
                             data-sly-call="${imageTemplate.respLazyWidthChoose @ imagePath=asset.path, Width=700}"/>
                        <sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=asset.path}"
                             data-sly-test.isVideo="${assetHelper.assetType == 'VideoAVS'}"/>
                        <sly data-sly-test.isVideo="${isVideo}">
                            <a class="video-link open-video-slider" href="#" data-target=".lightbox"
                               data-current-id-node="${currentNode.identifier}-${assetList.count}"
                               data-src="${asset.path}" data-asset-path="${asset.path}"><i class="fa fa-play"></i></a>
                        </sly>
                    </div>
                    <div data-sly-test="${asset.type == 'virtual-tour'}"
                         id="ow-virtual-tour-${assetList.index}-container"></div>
                </div>
            </sly>
        </div>
        <div class="cruise-2018-overview-description ${isCombo ? 'col-sm-12' : 'col-sm-6'} col-xs-12">
            <a href="#" data-sly-test="${assetsGallery && isCombo}"
               class="open-lightbox-gallery-assets hidden-xs" data-target=".lightbox">
                <div class="cruise-2018-overview-photos-videos-btn-combo">${'photos-and-videos' @ i18n}</div>
            </a>
            <div class="cruise-2018-overview-description-cruise">
                <sly data-sly-test="${!isCombo}">
                    <sly data-sly-test="${showCruiseBeforeName}">${'cruise' @i18n}</sly>
                    ${navigationTitle || title}
                    <sly data-sly-test="${!showCruiseBeforeName}">${'cruise' @i18n}</sly>
                </sly>
                <sly data-sly-test="${isCombo}">
                    ${smallTitle} - ${departurePortName} ${'to' @ i18n} ${arrivalPortName}
                </sly>
            </div>
            <h1 class="cruise-2018-overview-description-from-to">
                <sly data-sly-test="${!isCombo}">
                    <span class="${isCombo ? 'cruise-2018-overview-description-origin' : ''}">${departurePortName} </span>
                    <span class="cruise-2018-overview-description-from-to-to">${'to' @ i18n}</span>
                    <span class="cruise-2018-overview-description-from-to-destination">${arrivalPortName}</span>
                </sly>
                <sly data-sly-test="${isCombo}">
                    ${bigTitle}
                </sly>
            </h1>
            <div class="cruise-2018-row-information-cruise hidden-xs">
                <span class="cruise-2018-row-information-cruise-date"
                      data-sly-use.dateDay="${'com.silversea.aem.helper.DateHelper' @ format='MMM dd, yyyy', date=startDate}">
                    ${dateDay.value}
                </span>
                <span class="cruise-2018-row-information-cruise-title">${'to' @ i18n}</span>
                <span class="cruise-2018-row-information-cruise-date"
                      data-sly-use.dateDay="${'com.silversea.aem.helper.DateHelper' @ format='MMM dd, yyyy', date=endDate}">
                    ${dateDay.value}
                </span>
                <span class="cruise-2018-row-information-cruise-duration">
                    <span class="cruise-2018-row-information-cruise-title duration-label">${'duration' @ i18n}</span>
                    <span class="duration-value">${duration} ${'days' @ i18n}</span>
                </span>
                <span class="cruise-2018-row-information-cruise-">${ship.title}</span>
            </div>
            <div class="cruise-2018-overview-description-date-boxes ${isCombo ? 'visible-xs' : ''} ">
                <div class="cruise-2018-overview-description-date-boxes-box-container">
                    <div class="cruise-2018-overview-description-date-boxes-box bordered">
                        <div class="cruise-2018-overview-description-date-boxes-title">${'departure' @ i18n}</div>
                        <div class="cruise-2018-overview-description-date-boxes-content"
                             data-sly-use.dateDay="${'com.silversea.aem.helper.DateHelper' @ format='MMM dd', date=startDate}">
                            ${dateDay.value}
                        </div>
                        <div class="cruise-2018-overview-description-date-boxes-subtitle"
                             data-sly-use.dateYear="${'com.silversea.aem.helper.DateHelper' @ format='yyyy', date=startDate}">
                            ${dateYear.value}
                        </div>
                    </div>
                </div>
                <div class="cruise-2018-overview-description-date-boxes-box-container">
                    <div class="cruise-2018-overview-description-date-boxes-box bordered">
                        <div class="cruise-2018-overview-description-date-boxes-title">${'duration' @ i18n}</div>
                        <div class="cruise-2018-overview-description-date-boxes-content">${duration}</div>
                        <div class="cruise-2018-overview-description-date-boxes-subtitle">${'days' @ i18n}</div>
                    </div>
                </div>
                <div class="cruise-2018-overview-description-date-boxes-box-container cruise-2018-overview-description-date-boxes-ship">
                    <div class="cruise-2018-overview-description-date-boxes-box">
                        <div class="cruise-2018-overview-description-date-boxes-title ship-title">${'ship' @ i18n}</div>
                        <div class="cruise-2018-overview-description-date-boxes-content ship-content">${ship.title}</div>
                        <div class="cruise-2018-overview-description-date-boxes-subtitle">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="cruise-2018-overview-quote ${earlyBookingBonus ? 'cruise-2018-overview-quote-with-bb' : ''}">
                <a class="coolanchorminussmall" href="#menu-cruise2018suites">
                <span data-sly-test="${isWaitlist}"
                      class="cruise-2018-overview-quote-price-number">${'waitlist' @ i18n}</span>
                    <div class="cruise-2018-overview-quote-price" data-sly-test="${!isWaitlist}">
                        <div class="cruise-2018-overview-quote-price-from">${'from' @ i18n}</div>
                        <div class="cruise-2018-overview-quote-price-number">
                            ${currency @ i18n} ${computedPriceFormatted}
                        </div>
                        <div class="cruise-2018-overview-quote-price-from per-guest" data-sly-test="${isCombo}">(${'per-guest' @ i18n})</div>
                        <div class="cruise-2018-overview-quote-price-bonus">
                            <sly data-sly-test="${earlyBookingBonus}"><i class="material-icons">access_alarm</i> ${'with' @ i18n} 10% ${'early-booking-bonus' @ i18n}</sly>
                            <sly data-sly-test="${lastMinuteSavings}"><i class="material-icons">timer</i> ${'with' @ i18n} ${'last-minute-savings' @ i18n}</sly>
                            <sly data-sly-test="${exclusiveOfferPostPrice}">
                                <br><sly data-sly-test="${earlyBookingBonus}">${'and' @ i18n}</sly>
                                ${exclusiveOfferPostPrice @ context='html'}
                            </sly>
                        </div>
                    </div>
                </a>
                <div class="cruise-2018-overview-quote-rqa">
                    <sly data-sly-test="${pageProperties.cruiseCode}">
                        <a class="cruise-2018-overview-quote-btn btn btn-thin btn-red effect btn-request-a-quote"
                           id="cruise-2018-rqa"
                           data-sly-test.suffix="${'{0}{1}' @ format=[pageProperties.cruiseCode, '.html']}"
                           href="${requestQuotePagePath @ extension='html', selectors='s', suffix=suffix}"
                           rel="nofollow"
                           data-sscclicktype="clic-RAQ">
                            <span>${'request-quote' @i18n}</span>
                        </a>
                    </sly>
                    <sly data-sly-test="${!pageProperties.cruiseCode}">
                        <a class="cruise-2018-overview-quote-btn btn btn-thin btn-red effect btn-request-a-quote "
                           id="cruise-2018-rqa"
                           href="${requestQuotePagePath @ extension='html', selectors='s'}" rel="nofollow"
                           data-sscclicktype="clic-RAQ">
                            <span>${'request-quote' @i18n}</span>
                        </a>
                    </sly>
                </div>
                <div class="cruise-2018-overview-quote-suites-fares">
                    <a class="cruise-2018-overview-quote-btn btn btn-thin btn-white effect btn-request-a-quote coolanchorminussmall"
                       href="#menu-cruise2018suites">
                        <span>${'suites-and-fares' @i18n}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-6 cruise-2018-overview-quote-icons hidden-xs" data-sly-test="${!isCombo}">
            <div class="col-md-12 cruise-2018-overview-voyage-code">${'voyage-number' @ i18n}
                : ${cruiseCode}</div>
            <div class="cruise-2018-overview-prev-next col-md-12">
                <a data-sly-test="${previous}" href="${previous @ extension='html'}"
                   class="previous-block">
                        <span class="previous-content">
                            <i class="fa fa-angle-left"></i>
                            <span class="previous-label">${'previous-voyage' @ i18n}</span>

                        </span>

                </a>
                <span data-sly-test="${next && previous}"
                      class="cruise-2018-overview-prev-next-separator"> | </span>
                <a data-sly-test="${next}" href="${next @ extension='html'}"
                   class="next-block">
                        <span class="next-content">
                            <span class="next-label">${'next-voyage' @ i18n}</span>
                            <i class="fa fa-angle-right"></i>
                        </span>
                </a>

            </div>
            <div class="col-md-12" data-sly-test="${!isCombo}">
                <a href='${currentPath @ context="uri"}.rendition.download.${countryCode @ context="scriptString"}${ccptCode @ context="scriptString"}${taCode @ context="scriptString"}.t.pdf'
                   target="_blank" id="cruise-2018-pdf-download" rel="nofollow">
                    <img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/download-pdf.png"/>
                </a>
                <div class="cruise-2018-overview-quote-icons-print" id="cruise-2018-pdf-print">
                    <i class="fa fa-refresh fa-spin cruise-2018-pdf-print-link" style="display: none;"></i>
                    <img class="cruise-2018-pdf-print-link"
                         src="/etc/designs/silversea-com/clientlib-icon-2018/18px/print.png"/>
                </div>
                <div class="cruise-2018-overview-quote-icons-facebook" id="cruise-2018-facebook"><i
                        class="fa fa-facebook"></i>
                </div>
            </div>
        </div>
        <div class="cruise-2018-overview-fares-footnote col-xs-12" data-sly-test="${!isCombo}">
            ${'fares-shown-are-per-guest' @i18n}
        </div>
    </div>

    <script lang="javascript">
        var uri = '${currentPath @ context="uri"}';
        var countryCode = '${countryCode @ context="scriptString"}';
        var ccpt = '${ccptCode @ context="scriptString"}';
        var cruiseTypeText = '';
        if ('${cruiseType  @ context='scriptString'}' === 'silversea-expedition') {
            cruiseTypeText = '${'expedition-cruise' @ i18n,context='scriptString'}'
        } else {
            cruiseTypeText = '${'cruise' @ i18n,context='scriptString'}'
        }
        var shareText = ('${departurePortName @ context='scriptString'} ${'to' @ i18n, context='scriptString' } ${arrivalPortName @ context='scriptString'}, ${(navigationTitle || title) @ context='scriptString'} ') + cruiseTypeText;
        $(document).ready(function () {
                pdfInit(uri, countryCode, ccpt);
                socialInit(shareText);
            }
        );
    </script>
</template>
