<h1>${currentPage.title}</h1>
<div class="text">
    Agency ID = ${currentPage.properties.agencyId} <br/>
    Address = ${currentPage.properties.address} <br/>
    City = ${currentPage.properties.city} <br/>
    Zip = ${currentPage.properties.zip} <br/>
    Zip4 = ${currentPage.properties.zip4} <br/>
    Country = ${currentPage.properties.countryIso3} <br/>
    State Code = ${currentPage.properties.stateCode} <br/>
    County = ${currentPage.properties.county} <br/>
    Phone = ${currentPage.properties.phone} <br/>
    Latitude = ${currentPage.properties.latitude} <br/>
    Longitude = ${currentPage.properties.longitude}
</div>