
<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>
    <em>[Editer le composant : blog post componenet- SilverSea]</em>
</div>
<div class="container">
    <section class="o-section">
        <div class="aem-Grid aem-Grid--12">
            <div class="aem-GridColumn aem-GridColumn--default--9">
                <div
                    data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}">
                </div>
                <sly
                        data-sly-use.cpt="com.silversea.aem.components.page.BlogPostUse"
                        data-sly-unwrap>
                    
                <div>${cpt.blog.title}</div>
                </sly>

                <div>
                    Bloc pagination day
                    <sly
                        data-sly-use.cpt="com.silversea.aem.components.page.BlogPostUse"
                        data-sly-unwrap>
                    <div data-sly-test="${cpt.blog.next}">
                        <a href="${cpt.blog.next.path}.html"> ${'next' @ i18n}
                            </a>
                    </div>
                    
                     <div data-sly-test="${cpt.blog.previous}">
                        <a href="${cpt.blog.previous.path}.html"> ${'previous' @ i18n}
                            </a>
                    </div>
                    

                    
                    </sly>
                </div>
            </div>
            <div class="aem-GridColumn aem-GridColumn--default--3">
                <div
                    data-sly-resource="${'parSide' @ resourceType='wcm/foundation/components/iparsys'}"></div>
            </div>
        </div>
    </section>
</div>
