<template data-sly-template.default data-sly-use.modal="com.silversea.aem.components.included.ModalDetailUse">
	 <div class="modal-body automatic-modal-body-modal-detail-desktop automatic-modal-body-modal-detail">     
        <button class="close c-btn--close" type="button" data-dismiss="modal" aria-label="Close"></button>
        <sly data-sly-use.extPath="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentPage.path, absolute=false}" />
 	    <span class="c-modaldetail-link" data-target=".bs-modal-lg" data-href="${extPath.externalizedTranslatedUrl @ extension='html', selectors=['modalcontentmobile',modal.suffixResizeUrl]}"></span>
         <div class="row clearfix c-modal-detail-modal">     
             <div class="col-xs-8 c-modal-detail-modal-left-side">     
                 <ul class="nav nav-tabs  c-modal-detail-modal-navtabs" role="tablist">     
                     <li data-sly-test="${modal.detail.assetSelectionReference}" id="overview-tab" role="presentation" class="c-navtab__link--button active"><a href="#modal-detail-overview" aria-controls="modal-detail-description" role="tab" data-toggle="tab" aria-expanded="true">${modal.type['overview'] @ i18n}</a></li>     
                     <li data-sly-test="${modal.detail.plan}" id="plan-tab" role="presentation" class="c-navtab__link--button"><a href="#modal-detail-plan" aria-controls="modal-detail-plan" role="tab" data-toggle="tab" aria-expanded="false">${modal.type['plan'] @ i18n}</a></li>     
                     <li data-sly-test="${modal.detail.features}" id="features-tab" role="presentation" class="c-navtab__link--button"><a href="#modal-detail-features" aria-controls="modal-detail-features" role="tab" data-toggle="tab" aria-expanded="false">${modal.type['features'] @ i18n}</a></li>     
                     <li data-sly-test="${modal.detail.locationImage}" id="location-tab" role="presentation" class="c-navtab__link--button"><a href="#modal-detail-location" aria-controls="modal-detail-location" role="tab" data-toggle="tab" aria-expanded="false">${modal.type['location'] @ i18n}</a></li>    
                     <li data-sly-test="${modal.detail.virtualTour}" id="virtualtour-tab" role="presentation" class="c-navtab__link--button c-modal-detail-virtual-tour-lightbox"><a href="#modal-detail-virtual-tour" aria-controls="modal-detail-virtual-tour" role="tab" data-toggle="tab" aria-expanded="false">${modal.type['virtual-tour'] @ i18n}</a></li>     
                 </ul>     
                 <div class="tab-content">     
                     <div role="tabpanel" class="tab-pane active" id="modal-detail-overview" data-sly-use.setImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=modal.detail.assetSelectionReference}">
 							<div class="c-slider c-slider--default c-slider--style1 c-slider--arrowoutside" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}' data-sly-list="${setImage.renditionList}">
								<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=item.path}" />
 								<div class="slider-item">
 									<div class="ratio lazy" style="display:block;background-size: cover;background-position: center;background-repeat: no-repeat;background-image:url(${assetHelper.imageUrl @ context='unsafe'}?wid=1200&fmt=pjpeg&pscan=5&qlt=80&fit=hfit,1)"></div>
 									<div data-sly-test="${itemList.first}" class="c-modal-detail-loader"></div>
 								</div>
 							</div> 
 							<div class="c-modal-detail-modal-description__counter"><span class="slide-item-current"></span> / <span class="slide-item-total"></span></div> 
					</div>     
                    <div role="tabpanel" class="tab-pane" id="modal-detail-plan"> 
						<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=modal.detail.plan}" />
 						<img src="${assetHelper.imageUrl}?hei=930&wid=930&fit=constrain&fmt=pjpeg&pscan=5&qlt=80" alt="plan" title="plan" class="o-img" />   
					</div>     
                    <div role="tabpanel" class="tab-pane" id="modal-detail-features">
                    	<div class="row">
                    		<div class="col-sm-12">
                    			<div class="features-ul">
                    				<ul data-sly-list=${modal.detail.features}>
                    					<li>${item}</li>
                    				</ul>
                   				</div>
                 			</div>
                		</div>
                	</div>    
                    <div role="tabpanel" class="tab-pane" id="modal-detail-location" data-sly-use.locationImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=modal.detail.locationImage,  metadata='deckNumber'}" >  
						<div class="c-modal-detail-modal-deck" data-sly-list="${locationImage.renditionList}">
							<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=item.path}" />
							<a id="${itemList.index}" class="btn btn-thin show-deck-image ${itemList.first ? 'activeDeck' : ''}" href="#"> 
								<span> ${'deck' @ i18n} ${assetHelper.metadataResource.valueMap['deckNumber']}</span>
							</a>
						</div>  
						<div data-sly-list="${locationImage.renditionList}">
							<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=item.path}" />
							<img id="deck-${itemList.index}" src="${assetHelper.imageUrl}?hei=930&wid=930&fit=constrain&fmt=pjpeg&pscan=5&qlt=80" alt="location" title="Location" class="o-img ${!itemList.first ? 'hidden' : ''}" />
						</div>
					</div>     
                    <div role="tabpanel" class="tab-pane" id="modal-detail-virtual-tour">
                    	<div id="c-modal-detail-modal-virtual-tour-containerDiv" class="c-modal-detail-modal-virtual-tour-container" data-image="${modal.detail.virtualTour}"></div>
                    </div>     
                 </div>     
             </div>     
             <div class="col-xs-4 c-modal-detail-modal-right-side">     
                 <h1 class="c-modal-detail-modal-title">${modal.detail.title @ context="html"}</h1>     
                 <div class="c-modal-detail-modal-info ${!modal.showRaq ? 'c-modal-detail-modal-info-long' : ''}">		
                 	<div class="c-modal-detail-modal-long-desc">${modal.detail.longDescription @ context="html"}</div>     
                 	<hr size="10px">     
                 	<div class="c-modal-detail-modal-bedrooms">${modal.detail.bedroomsInformation @ context="html"}</div>    
                 </div> 
                 <div class="c-modal-detail-modal-price text-uppercase" data-sly-test="${modal.showRaq}"> 
                 	<p>
						<span class="suite-early-booking">${'from' @ i18n}</span> 
						<span> 
							<strong>  
								<span class="c-modal-detail-modal-price-and-currency" data-sly-test="${modal.detail.isWaitList}">${'waitlist' @ i18n}</span>
								<span class="c-modal-detail-modal-price-and-currency" data-sly-test="${!modal.detail.isWaitList}">${modal.detail.currency @ i18n} ${modal.detail.computedPriceFormated}</span> 
							</strong> 
					    </span> 
		   				<span data-sly-test="${modal.detail.lowestPrice.earlyBookingBonus}" class="suite-early-booking">${'with-early' @ i18n}&nbsp;${'booking-bonus' @ i18n}</span> 
		    		</p>
                    <a class="btn btn-lg btn-red effect btn-thin request-quote c-modal-detail-modal-request-quote" href="${modal.raqLink @ extension='html', suffix=modal.suffix, selectors=modal.selector}" data-sscclicktype="clic-RAQ"> <span>${'request-quote' @i18n}</span> </a>     
                 </div>     
             </div>     
         </div>     
     </div>
     <script>
      window.linkEventToModalDetailDesktop();
    </script> 
</template>

