<template data-sly-template.default data-sly-use.modal="com.silversea.aem.components.included.ModalDetailUse">
	 <div class="modal-body automatic-modal-body-modal-detail-desktop">     
        <button class="close c-btn--close" type="button" data-dismiss="modal" aria-label="Close"></button>     
 	    <span class="c-modaldetail-link" data-target=".bs-modal-lg" data-href="${currentPage.path @ extension=html, selectors=modalcontentmobile}"></span>
         <div class="row clearfix c-modal-detail-modal">     
             <div class="col-xs-8 c-modal-detail-modal-left-side">     
                 <ul class="nav nav-tabs  c-modal-detail-modal-navtabs" role="tablist">     
                     <li data-sly-test="${modal.detail.assetSelectionReference}" id="overview-tab" role="presentation" class="c-navtab__link--button active"><a href="#modal-detail-overview" aria-controls="modal-detail-description" role="tab" data-toggle="tab" aria-expanded="true">${'overview' @i18n}</a></li>     
                     <li data-sly-test="${modal.detail.plan}" id="plan-tab" role="presentation" class="c-navtab__link--button"><a href="#modal-detail-plan" aria-controls="modal-detail-plan" role="tab" data-toggle="tab" aria-expanded="false">${'suite-plan' @i18n}</a></li>     
                     <li data-sly-test="${modal.detail.features}" id="features-tab" role="presentation" class="c-navtab__link--button"><a href="#modal-detail-features" aria-controls="modal-detail-features" role="tab" data-toggle="tab" aria-expanded="false">${'suite-features' @i18n}</a></li>     
                     <li data-sly-test="${modal.detail.locationImage}" id="location-tab" role="presentation" class="c-navtab__link--button"><a href="#modal-detail-location" aria-controls="modal-detail-location" role="tab" data-toggle="tab" aria-expanded="false">${'suite-location' @i18n}</a></li>    
                     <li data-sly-test="${modal.detail.virtualTour}" id="virtualtour-tab" role="presentation" class="c-navtab__link--button c-modal-detail-virtual-tour-lightbox"><a href="#modal-detail-virtual-tour" aria-controls="modal-detail-virtual-tour" role="tab" data-toggle="tab" aria-expanded="false">${'virtual-tour' @i18n}</a></li>     
                 </ul>     
                 <div class="tab-content">     
                     <div role="tabpanel" class="tab-pane active" id="modal-detail-overview" data-sly-use.setImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=modal.detail.assetSelectionReference}">
 							<div class="c-slider c-slider--default c-slider--style1 c-slider--arrowoutside" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}' data-sly-list="${setImage.renditionList}">
								<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=item.path}" />
 								<div class="slider-item">
 									<div class="ratio lazy" style="display:block;background-size: cover;background-position: center;background-repeat: no-repeat;background-image:url(${assetHelper.imageUrl @ context='unsafe'}?wid=1200&fit=hfit,1)"></div>
 									<div data-sly-test="${itemList.first}" class="c-modal-detail-loader"></div>
 								</div>
 							</div> 
 							<div class="c-modal-detail-modal-description__counter"><span class="slide-item-current"></span> / <span class="slide-item-total"></span></div> 
					</div>     
                    <div role="tabpanel" class="tab-pane" id="modal-detail-plan"> 
						<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=modal.detail.plan}" />
 						<img src="${assetHelper.imageUrl}?hei=930&wid=930&fit=constrain" alt="plan" title="plan" class="o-img" />   
					</div>     
                    <div role="tabpanel" class="tab-pane" id="modal-detail-features">
                    	<div class="row">
                    		<div class="col-sm-12">
                    			<div class="features-ul">
                    				<ul data-sly-list=${modal.detail.features}>
                    					<li>${item}</li>
                    				</ul>
                   				</div>
                 			</div>
                		</div>
                	</div>    
                    <div role="tabpanel" class="tab-pane" id="modal-detail-location" data-sly-use.locationImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=modal.detail.locationImage,  metadata='deckNumber'}" >  
						<div class="c-modal-detail-modal-deck" data-sly-list="${locationImage.renditionList}">
							<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=item.path}" />
							<a id="'${itemList.index}'" class="btn btn-thin show-deck-image ${itemList.first ? 'activeDeck' : ''}" href="#"> 
								<span> ${'deck' @ i18n} ${assetHelper.metadataResource.valueMap['deckNumber']}</span>
							</a>
						</div>  
						<div data-sly-list="${locationImage.renditionList}">
							<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=item.path}" />
							<img id="deck-${itemList.index}" src="${assetHelper.imageUrl}?hei=930&wid=930&fit=constrain" alt="location" title="Location" class="o-img ${!itemList.first ? 'hidden' : ''}" />
						</div>
					</div>     
                    <div role="tabpanel" class="tab-pane" id="modal-detail-virtual-tour">
                    	<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=modal.detail.virtualTour}" />
                    	<div id="c-modal-detail-modal-virtual-tour-containerDiv" class="c-modal-detail-modal-virtual-tour-container" data-image="${assetHelper.imageUrl}"></div>
                    </div>     
                 </div>     
             </div>     
             <div class="col-xs-4 c-modal-detail-modal-right-side">     
                 <h1 class="c-suitelist-card-title c-modal-detail-modal-title">${modal.detail.title @ context="html"}</h1>     
                 <div class="c-modal-detail-modal-info">		
                 	<div class="c-suitelist-card-long-desc c-modal-detail-modal-long-desc">${modal.detail.longDescription @ context="html"}</div>     
                 	<hr size="10px">     
                 	<div class="c-suitelist-card-bedrooms c-modal-detail-modal-bedrooms">${modal.detail.bedroomsInformation @ context="html"}</div>    
              </div> 
                 <div class="c-suitelist-card-price c-modal-detail-modal-price text-uppercase"> 
                     <a class="btn btn-lg btn-red effect btn-thin request-quote c-modal-detail-modal-request-quote" href="${modal.raqLink @ extension='html', suffix=modal.detail.shipId, selectors='ss'}" data-sscclicktype="clic-RAQ"> <span>${'request-quote' @i18n}</span> </a>     
                 </div>     
             </div>     
         </div>     
     </div> 
     <script>
	     $('.modal').on('shown.bs.modal', function(e) {
			 var $modal = $(this);
	         $modal.off('shown.bs.modal'); //fix bug with modal gallery
			    
	 		//create slider
			var $slideFor = $(this).find('.c-slider').slick({
	            slidesToShow : 1,
	            slidesToScroll : 1
	         });
				// Show / calc counter
	         var slideTotalItem = $slideFor.find('.slick-slide:not(.slick-cloned)').length;
	         	$('.modal').find('.c-modal-detail-modal-description__counter .slide-item-current').html(1);
	         	// Set total number of slide
	         	$('.modal').find('.c-modal-detail-modal-description__counter .slide-item-total').html(slideTotalItem);
				if (slideTotalItem == 1) {
					$(".c-modal-detail-modal-description__counter").css("display", "none");
				}
	         
	         $slideFor.on('beforeChange', function(event, slick, currentSlide, nextSlide) {
	             var $slider = $(this);
	             // Set counter according to the current slide
	             $('.modal').find('.c-modal-detail-modal-description__counter .slide-item-current').html(nextSlide + 1);
	          });
	         
	         //attached all jquery event inside the modal
	         
			//workaround for bug virtual tour full screen
			$(this).find("#descr-tab").on("click", function(e) {
				if ($slideFor != null) {
					$slideFor.slick('slickGoTo', 0);
				}
			});
				
			//action for view all view less features
			$(this).find(".modal-detail-features-expand a.view_all").on("click", function(e) {
				e.preventDefault();
				$('.expand-ul li:nth-of-type(1n+10)').stop().css('display','list-item').hide().slideDown();
				$(".modal-detail-features-expand a.view_less").show();
				$(this).hide();
			});
				
			$(this).find(".modal-detail-features-expand a.view_less").on("click", function(e) {
				e.preventDefault();
				$(".modal-detail-features-expand a.view_all").show();
				$('.expand-ul li:nth-of-type(1n+10)').stop().slideUp();
				$(this).hide();
			});
				
				
			$(this).find(".close").on("click", function(e) {
				e.preventDefault();
				 $('.modal').modal('hide');
			});
				
				
			//create virtual tour on desktop
			$(this).find(".c-modal-detail-virtual-tour-lightbox").on("click", function(e) {
		        e.preventDefault();
		        if (!window.hasOwnProperty('virtualTour') || window.virtualTour == null) {
		        	var imagePath = $("#c-modal-detail-modal-virtual-tour-containerDiv").data().image;
		     		var intervalDiv = setInterval(function(){
		    			if ($("#virtualtour-tab").hasClass("active")) {
		    				clearInterval(intervalDiv);
		    				if (imagePath != null) {
		    					window.virtualTour = PhotoSphereViewer({
				        			container: 'c-modal-detail-modal-virtual-tour-containerDiv',
		    						panorama: imagePath,
		    						anim_speed: '0.4rpm',
		    						move_speed: 1.0,
		    						time_anim: '1000',
		    						min_fov: 10,
		    						usexmpdata: false,
		    						default_fov: 179,
		    						navbar: [
		    							'autorotate', 
		    							'zoom',
		    							'spacer-1',
		    							'caption',
		    							'gyroscope',
		    							'fullscreen'
		    							]
		    					});
		    				}
		    			} 
		    		},500);
				}
		    });
		});
     </script>
</template>

