<div class="container">
	<center><h2>The sliders below are for each port type.</h2></center><br/><br/>
    <div data-sly-resource="${'portSectionSlider1' @ resourceType='silversea/silversea-ssc/components/editorial/portSectionSlider'}"></div>
    <div data-sly-resource="${'portSectionSlider2' @ resourceType='silversea/silversea-ssc/components/editorial/portSectionSlider'}"></div> 
    <div data-sly-resource="${'portSectionSlider3' @ resourceType='silversea/silversea-ssc/components/editorial/portSectionSlider'}"></div> 
</div>