<sly data-sly-use.setImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=properties.assetSelectionReference || pageProperties.assetSelectionReference}" />
    <div class="modal-content modal-content--transparent modal-content--gallery">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="c-gallery">
                <div class="c-gallery__wrappertop">
                    <div class="c-slider c-slider--for">
                    <sly data-sly-list.asset="${setImage.renditionList}">
                        <sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = asset.path}" data-sly-test.isVideo="${assetHelper.assetType == 'VideoAVS'}">
                        <div data-image="${asset.path}">
                            <div class="ratio"
                                style="background-image:url(${assetHelper.imageUrl @ context='uri'}?hei=970&wid=970&fmt=pjpeg&pscan=5&qlt=80&fit=constrain)">
                                <a data-sly-test.isVideo="${isVideo}" class="video-link" href="#"><i class="fa fa-play"></i></a>
                                <div data-sly-test="${isVideo}" class="c-video" id="${currentNode.identifier}-${assetList.count}" data-video-asset="${asset.path}" data-video-autoplay="1"></div>
                                 <sly data-sly-test="${!isVideo}">
                                	<span data-sly-test.label="${asset.metadata.dc:title}" class="c-gallery__label">${label}</span>
                                </sly>
                            </div>
                        </div>
                		</sly>
                	</sly>
                    </div>
                    <div class="c-gallery__counter"><span class="slide-item-current"></span> / <span class="slide-item-total"></span></div>
                </div>
                <div class="c-slider c-slider--nav hidden-xs">
				<sly data-sly-list.asset="${setImage.renditionList}">
                  	<div data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = asset.path}" data-sly-test.isVideo="${assetHelper.assetType == 'VideoAVS'}">
                        <div class="ratio"
                            style="background-image:url(${assetHelper.imageUrl @ context='uri'}?hei=970&wid=970&fmt=pjpeg&pscan=5&qlt=80&fit=constrain)">
                            <a data-sly-test="${isVideo}" class="video-link" href="#"><i class="fa fa-play"></i></a>
                        </div>
					</div>
                  </sly>
                </div>
            </div>
        </div>
    </div>
