<sly data-sly-use.button="com.silversea.aem.components.editorial.ButtonUse"></sly>
<div data-sly-test="${!button.calltoActionList && wcmmode.edit}" class="cq-placeholder" data-emptytext="Floating bar"></div>

<div data-sly-test.list="${button.calltoActionList}" class="hidden-xs c-floating-bar__buttons">
    <div class="container text-center" data-sly-list="${list}">
        <a href="${item.reference @ extension='html'}" class="btn btn-${item.color} ${item.size}" data-sscclicktype="${item.analyticType}">
           <span class="visible-xs-inline visible-sm-inline">${item.titleTablet || item.title}</span>
           <span class="hidden-xs hidden-sm">${item.title}</span> <i class="fa fa-lg fa-angle-right"></i>
        </a>
    </div>
</div>
