<div class="container text-center ">
    <a href="#" class="btn btn-red" type="button">
       <span class="visible-xs-inline">${'quote' @ i18n}</span>
       <span class="hidden-xs">${'request-a-quote' @ i18n}</span> <i class="fa fa-lg fa-angle-right"></i>
    </a>
    <a href="#" class="btn btn-gray" type="button">
        <span class="visible-xs-inline">${'brochures' @ i18n}</span>
        <span class="hidden-xs">${'request-or-download-a-brochures' @ i18n}</span> <i class="fa fa-lg fa-angle-right"></i>
    </a>
    <a href="#" class="btn btn-gray" type="button">
        <span class="visible-xs-inline">${'sign-up' @ i18n}</span>
        <span class="hidden-xs">${'sign-up-for-exclusive-offers' @ i18n}</span> <i class="fa fa-lg fa-angle-right"></i>
    </a>
</div>