<sly data-sly-use.floatingBar="${'com.silversea.aem.components.included.FloatingBarUse'}"></sly>
<div data-sly-test="${!floatingBar.calltoActionList && wcmmode.edit}" class="cq-placeholder" data-emptytext="Floating bar"></div>

<div data-sly-test.list="${floatingBar.calltoActionList}" class="c-floatingbar">
    <div class="container text-center" data-sly-list="${list}">
        <a href="${item.reference @ extension='html'}" class="btn btn-${item.color}" type="button">
           <span class="visible-xs-inline">${item.titleTablet || item.title}</span>
           <span class="hidden-xs">${item.title}</span> <i class="fa fa-lg fa-angle-right"></i>
        </a>
    </div>
</div>