<template data-sly-template.style1="${ @ footer }">
    <div class="o-brochure-section">
            <div class="title visible-xs">${'silversea-brochures' @ i18n}</div>
            <div class="c-brochure__content_image">
                    <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" data-sly-call="${imageTemplate.default @ imagePath=footer.brochureimage}"/>
            </div>
            <div class="c-brochure__content_text">
                <div class="title hidden-xs">${'get-our-free-brochures1' @ i18n}</div>
                <div class="description hidden-xs">${'brochure-text' @ i18n}</div>
                <a href="${footer.brochuresPagePath @ extension='html'}" class="btn btn-primary" data-sscclicktype="clic-BRO">
                        ${'view-our-brochures' @ i18n}
                        <i class="fa fa-lg fa-angle-right"></i>
                </a>
            </div>
    </div>
    
    <div class="col-sm-12 c-brand-logo hidden-xs">
             <div class="c-list">
               <a class="c-list__title" href="${pageHelper.homePage.path @ extension='html'}">
                 <img class="spritelogo-dark" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Silversea-Link">
               </a>
             </div>
    </div>
</template>