<section class="o-section o-section--separator">
    <div class="aem-Grid aem-Grid--12">
        <div class="aem-GridColumn aem-GridColumn--default--9 aem-GridColumn--phone--12">
            <!--/* c-CALL */-->
            <div class="c-callbox">
                <div class="c-callbox__inner">
                    <div class="c-callbox__msg">
                        <span class="fa-stack c-callbox__msg--icon">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-phone fa-stack-1x"></i>
                        </span>
                        <p class="c-callbox__msg--mobile">Click to call</p>
                        <p class="c-callbox__msg--desktop">Call our Reservations Team<br>
                            or your travel agent</p>
                    </div>
                    <span class="c-callbox__number">01 70 70 96 22</span>
                </div>
            </div>
            <!--/* /c-CALL */-->
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--phone--12">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2">
                    <div class="c-list">
                       <ul class="c-list__group">
                           <li class="c-list__item c-btn__inner">
                               <button class="c-btn c-btn--red" type="button">
                                Request a quote
                                   <i class="fa fa-lg fa-angle-right"></i>
                               </button>
                           </li>
                           <li class="c-list__item c-btn__inner">
                               <button class="c-btn c-btn--dark" type="button">
                                Exclusive offers
                                <i class="fa fa-lg fa-angle-right"></i>
                               </button>
                           </li>
                       </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>