<footer class="c-footer">
    <div class="container">
        <section class="o-section">
            <!-- C-subscribes form -->
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 c-subscribe">
                    <form class="c-subscribe__form form-inline">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="c-subscribe__form--label">
                                    <span class="c-subscribe__form--label-text">Request or download</span>
                                    <span class="c-subscribe__form--label-important">a free brochure</span>
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <input class="o-input o-input--dark col-xs-12 input-sm" name="email" placeholder="Your email address" type="email" />
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-default pull-right btn-sm" type="button">
                                    Submit
                                    <i class="fa fa-lg fa-angle-right"></i>
                                </button>
                            </div>
                            <div class="col-xs-12">
                                <div class="c-form-group__error"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 c-subscribe">
                    <form class="c-subscribe__form form-inline">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="c-subscribe__form--label">
                                    <span class="c-subscribe__form--label-important">Sign up</span>
                                    <span class="c-subscribe__form--label-text">for exclusive offers & news</span>
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <input class="o-input o-input--dark col-xs-12 input-sm" name="email" placeholder="Your email address" type="email" />
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-default pull-right btn-sm" type="button">
                                    <span class="in-text">Submit</span>
                                    <span class="in-arrow"><i class="fa fa-lg fa-angle-right"></i></span>
                                </button>
                            </div>
                            <div class="col-xs-12">
                                <div class="c-form-group__error"></div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- C-subscribes form end -->
        </section>
        
        <section class="o-section o-section--separator">
            <!-- C-footer link -->
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--phone--hide">
                    <div class="c-list">
                        <a class="c-list__title" href="#">
                          <img class="spritelogo-dark" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKMAAAASAQMAAAANNPwTAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFgwUAAAGMAAEcT27oAAAAAElFTkSuQmCC" alt="Silversea">
                       </a>
                        <ul class="c-list__group c-list__group--important">
                            <li class="c-list__item">
                                <a href="#">Exclusive offers</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Find Your Cruise</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Why Silversea</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Destinations</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Ships</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Onboard</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Going Ashore &amp; Flights</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Silversea Expeditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--9 aem-GridColumn--phone--12">
                    <div class="aem-Grid aem-Grid--12">
                        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--12">
                            <div class="c-list c-list__accordion">
                                <span class="c-list__title" href="#">
                                  About Silversea
                                </span>
                                <ul class="c-list__group c-list__group--phone-hide c-list__accordion--content">
                                    <li class="c-list__item">
                                        <a href="#">The Company</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Awards</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Partners</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Social Responsibility</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Venetian Society®</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Careers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--12">
                            <div class="c-list c-list__accordion">
                                <span class="c-list__title" href="#">
                                  Travel Information
                                </span>
                                <ul class="c-list__group c-list__group--phone-hide c-list__accordion--content">
                                    <li class="c-list__item">
                                        <a href="#">General Information</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Travel Requirements</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">GuestCare Travel Insurance</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Social Responsibility</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Rest Assured Programme</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Silversea’s Security Guide</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Passage Contract</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Bon Voyage Gift</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Wifi Packages</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--12">
                            <div class="c-list c-list__accordion c-list__accordion--full">
                                <span class="c-list__title" href="#">
                                  Other Resources
                                </span>
                                <ul class="c-list__group c-list__accordion--content">
                                    <li class="c-list__item">
                                        <a href="#">Brochures</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Contact us</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Benefits and fares</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Reservations Team</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Media Centre</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Corporate & Incentive Travel</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Find a Port</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Travel Agent Centre</a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="#">Find a Travel Age</a>
                                    </li>
                                    <li class="c-list__item c-list__item--special">
                                        <a href="#">
                                            <i class="fa fa-user"></i>
                                            My silversea
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- C-footer link end-->
        </section>
        
        <section class="o-section o-section--separator">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--9 aem-GridColumn--phone--12">
                    <!--  c- CALL -->
                    <div class="c-callbox">
                        <div class="c-callbox__inner">
                            <div class="c-callbox__msg">
                                <span class="fa-stack c-callbox__msg--icon">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-phone fa-stack-1x"></i>
                                </span>
                                <p class="c-callbox__msg--mobile">Click to call</p>
                                <p class="c-callbox__msg--desktop">Call our Reservations Team<br>
                                    or your travel agent</p>
                            </div>
                            <span class="c-callbox__number">01 70 70 96 22</span>
                        </div>
                    </div>
                    <!--  c- CALL end -->
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--phone--12">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2">
                            <div class="c-list">
                               <ul class="c-list__group">
                                   <li class="c-list__item c-btn__inner">
                                       <button class="c-btn c-btn--red" type="button">
                                        Request a quote
                                           <i class="fa fa-lg fa-angle-right"></i>
                                       </button>
                                   </li>
                                   <li class="c-list__item c-btn__inner">
                                       <button class="c-btn c-btn--dark" type="button">
                                        Exclusive offers
                                        <i class="fa fa-lg fa-angle-right"></i>
                                       </button>
                                   </li>
                               </ul>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="o-section">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12">
                    <!--  AWARD -->
                    <section class="o-section">
                        <div class="c-list-inline">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <p class="c-list-inline__title">
                                        Silversea is regularly lauded by leading consumer and trade publications
                                    </p>
                                </div>
                                <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-0">
                                    <ul class="c-list-inline__group">
                                        <li class="c-list-inline__item">
                                            <img src="" alt="image" class="o-img--small" />
                                        </li>
                                        <li class="c-list-inline__item">
                                            <img src="" alt="image" class="o-img--small" />
                                        </li>
                                        <li class="c-list-inline__item">
                                            <img src="" alt="image" class="o-img--small" />
                                        </li>
                                        <li class="c-list-inline__item">
                                            <img src="" alt="image" class="o-img--small" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--  AWARD end -->
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12">
                    <!--  c- SOCIAL -->
                    <section class="o-section">
                        <div class="c-list-inline">
                            <div class="row">
                                <div class="col-xs-12 col-xs-offset-0 col-sm-3 col-sm-offset-2">
                                    <p class="c-list-inline__title c-list-inline__title--important">
                                        Follow us    
                                    </p>
                                </div>
                                <div class="col-xs-6 col-xs-offset-3 col-sm-7 col-sm-offset-0">
                                    <ul class="c-list-inline__group">
                                        <li class="c-list-inline__item">
                                            <a href="#" class="o-img--small">
                                                <i class="fa fa-lg fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="c-list-inline__item">
                                            <a href="#" class="o-img--small">
                                                <i class="fa fa-lg fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="c-list-inline__item">
                                            <a href="#" class="o-img--small">
                                                <i class="fa fa-lg fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="c-list-inline__item">
                                            <a href="#" class="o-img--small">
                                                <i class="fa fa-lg fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="c-list-inline__item">
                                            <a href="#" class="o-img--small">
                                                <i class="fa fa-lg fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li class="c-list-inline__item">
                                            <a href="#" class="o-img--small">
                                                Our blog
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--  c- SOCIAL end 000000ssssss0 -->
                    </section>
                </div>
            </div>
        </section>
        <section class="o-section o-section--separator">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--12">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1">
                            <div class="c-list c-list--center c-list--tablet-inline">
                                <ul class="c-list__group c-list__group--important">
                                    <li class="c-list__item c-list__item--normal">
                                        © 2017 Silversea Cruises Ltd.
                                        
                                        
                                    </li>
                                    <li class="c-list__item c-list__item--important">
                                        <a href="#">Imprint</a>
                                    </li>
                                    <li class="c-list__item c-list__item--important">
                                        <a href="#">Terms and condition</a>
                                    </li>
                                    <li class="c-list__item c-list__item--important">
                                        <a href="#">Private Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="o-section">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--12">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <a href="#" class="visible-xs-block o-img--center">
                                <img src="" alt="logo"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>