<footer class="c-footer">
    <div class="container">
        <div class="c-footer__section">
            <!-- C-subscribes form -->
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 c-subscribe">
                    <form class="c-subscribe__form">
                        <label class="c-subscribe__form--label">
                            <span class="c-subscribe__form--label-text">Request or download</span>
                            <span class="c-subscribe__form--label-important">a free brochure</span>
                        </label>
                        <div class="c-subscribe__form--inputs">
                            <input class="c-input c-input--dark" name="email" placeholder="Your email address" type="email" />
                            <button class="c-btn c-btn--dark" type="button">
                                Submit
                                <i class="fa fa-lg fa-angle-right"></i>
                            </button>
                        </div>
                        <div class="c-form-group__error"></div>
                    </form>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 c-subscribe">
                    <form class="c-subscribe__form">
                        <div class="c-form-group c-form-group__inline">
                            <label class="c-subscribe__form--label">
                                <span class="c-subscribe__form--label-important">Sign up</span>
                                <span class="c-subscribe__form--label-text">for exclusive offers & news</span>
                            </label>
                            <div class="c-subscribe__form--inputs">
                            <input class="c-input c-input--dark" name="email" placeholder="Your email address" type="email" />
                            <button class="c-btn c-btn--dark" type="button">
                                <span class="in-text">Submit</span>
                                <span class="in-arrow"><i class="fa fa-lg fa-angle-right"></i></span>
                            </button>
                        </div>
                        <div class="c-form-group__error"></div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- C-subscribes form end -->
        </div>
        
        <div class="c-footer__section">
            <!-- C-footer link -->
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--phone--hide">
                    <div class="c-list">
                        <a class="c-list__title" href="#">
                          <img class="spritelogo-dark" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKMAAAASAQMAAAANNPwTAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA5JREFUeNpjYBgFgwUAAAGMAAEcT27oAAAAAElFTkSuQmCC" alt="Silversea">
                       </a>
                        <ul class="c-list__group c-list__group--important">
                            <li class="c-list__item">
                                <a href="#">Exclusive offers</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Find Your Cruise</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Why Silversea</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Destinations</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Ships</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Onboard</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Going Ashore &amp; Flights</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Silversea Expeditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--9 aem-GridColumn--phone--12">
                    <div class="c-list c-list__accordion">
                        <span class="c-list__title" href="#">
                          About Silversea
                        </span>
                        <ul class="c-list__group c-accordion__content">
                            <li class="c-list__item">
                                <a href="#">The Company</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Awards</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Partners</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Social Responsibility</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Venetian Society®</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Careers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="c-list c-list__accordion">
                        <span class="c-list__title" href="#">
                          Travel Information
                        </span>
                        <ul class="c-list__group">
                            <li class="c-list__item">
                                <a href="#">General Information</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Travel Requirements</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">GuestCare Travel Insurance</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Social Responsibility</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Rest Assured Programme</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Silversea’s Security Guide</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Passage Contract</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Bon Voyage Gift</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Wifi Packages</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="c-list c-list__accordion">
                        <span class="c-list__title" href="#">
                          Other Resources
                        </span>
                        <ul class="c-list__group">
                            <li class="c-list__item">
                                <a href="#">Brochures</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Contact us</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Benefits and fares</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Reservations Team</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Media Centre</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Corporate & Incentive Travel</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Find a Port</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Travel Agent Centre</a>
                            </li>
                            <li class="c-list__item">
                                <a href="#">Find a Travel Age</a>
                            </li>
                            <li class="c-list__item c-list__item--special">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    My silversea
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- C-footer link end-->
        </div>
        
        <div class="c-footer__section">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--9 aem-GridColumn--phone--12">
                    <!--  c- CALL -->
                    <div class="c-callbox">
                        <div class="c-callbox__inner">
                            <div class="c-callbox__msg">
                                <span class="fa-stack c-callbox__msg--icon">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-phone fa-stack-1x"></i>
                                </span>
                                <p class="c-callbox__msg--mobile">Click to call</p>
                                <p class="c-callbox__msg--desktop">Call our Reservations Team<br>
                                    or your travel agent</p>
                            </div>
                            <span class="c-callbox__number">01 70 70 96 22</span>
                        </div>
                    </div>
                    <!--  c- CALL end -->
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--phone--12">
                    <!--  c- Request Button -->
                    <div class="c-footer__request">
                        <div class="c-list">
                            <ul class="c-list__group">
                                <li class="c-list__item">
                                    <button class="c-btn c-btn--red" type="button">
                                        Request a quote
                                        <i class="fa fa-lg fa-angle-right"></i>
                                    </button>
                                </li>
                                <li class="c-list__item">
                                    <button class="c-btn c-btn--dark" type="button">
                                        Exclusive offers
                                        <i class="fa fa-lg fa-angle-right"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--  c- Request Button end -->
                </div>
            </div>
        </div>
        
        <div class="c-footer__section">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--9 aem-GridColumn--phone--12">
                    <!--  c- CALL -->
                    <div class="c-callbox">
                        <div class="c-callbox__inner">
                            <div class="c-callbox__msg">
                                <span class="fa-stack c-callbox__msg--icon">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-phone fa-stack-1x"></i>
                                </span>
                                <p class="c-callbox__msg--mobile">Click to call</p>
                                <p class="c-callbox__msg--desktop">Call our Reservations Team<br>
                                    or your travel agent</p>
                            </div>
                            <span class="c-callbox__number">01 70 70 96 22</span>
                        </div>
                    </div>
                    <!--  c- CALL end -->
                </div>
                <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--phone--12">
                    <!--  c- Request Button -->
                    <div class="c-footer__request">
                        <div class="c-list">
                            <ul class="c-list__group">
                                <li class="c-list__item">
                                    <button class="c-btn c-btn--red" type="button">
                                        Request a quote
                                        <i class="fa fa-lg fa-angle-right"></i>
                                    </button>
                                </li>
                                <li class="c-list__item">
                                    <button class="c-btn c-btn--dark" type="button">
                                        Exclusive offers
                                        <i class="fa fa-lg fa-angle-right"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--  c- Request Button end -->
                </div>
            </div>
        </div>
    </div>
</footer>