<section class="o-section">
    <div class="aem-Grid aem-Grid--12">
        <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 c-subscribe">
            <form class="c-subscribe__form form-inline">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="c-subscribe__form--label">
                            <span class="c-subscribe__form--label-text">Request or download</span>
                            <span class="c-subscribe__form--label-important">a free brochure</span>
                        </label>
                    </div>
                    <div class="col-xs-9">
                        <input class="o-input o-input--dark col-xs-12 input-sm" name="email" placeholder="Your email address" type="email" />
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default pull-right btn-sm" type="button">
                            Submit
                            <i class="fa fa-lg fa-angle-right"></i>
                        </button>
                    </div>
                    <div class="col-xs-12">
                        <div class="c-form-group__error"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 c-subscribe">
            <form class="c-subscribe__form form-inline">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="c-subscribe__form--label">
                            <span class="c-subscribe__form--label-important">Sign up</span>
                            <span class="c-subscribe__form--label-text">for exclusive offers & news</span>
                        </label>
                    </div>
                    <div class="col-xs-9">
                        <input class="o-input o-input--dark col-xs-12 input-sm" name="email" placeholder="Your email address" type="email" />
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-default pull-right btn-sm" type="button">
                            <span class="in-text">Submit</span>
                            <span class="in-arrow"><i class="fa fa-lg fa-angle-right"></i></span>
                        </button>
                    </div>
                    <div class="col-xs-12">
                        <div class="c-form-group__error"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>