<div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1">
        <div class="c-list c-list--center c-list--tablet-inline">
            <ul class="c-list__group c-list__group--important">
                <li class="c-list__item c-list__item--normal">
                    &#169; 2017 Silversea Cruises Ltd.
                </li>
                <li class="c-list__item c-list__item--important">
                    <a href="#">Imprint</a>
                </li>
                <li class="c-list__item c-list__item--important">
                    <a href="#">Terms and condition</a>
                </li>
                <li class="c-list__item c-list__item--important">
                    <a href="#">Private Policy</a>
                </li>
            </ul>
        </div>
    </div>
</div>