<div class="c-list-legal">
    <ul class="c-list-legal__group">
        <li class="c-list-legal__item">
            &#169; 2017 Silversea Cruises Ltd.
        </li>
        <li class="c-list-legal__item">
            <a href="#"><strong>Imprint</strong></a>
        </li>
        <li class="c-list-legal__item">
            <a href="#"><strong>Terms and Conditions</strong></a>
        </li>
        <li class="c-list-legal__item">
            <a href="#"><strong>Private Policy</strong></a>
        </li>
    </ul>
</div>