<template data-sly-template.default="${ @ footer }">
	<div class="o-section o-section--separator c-links">
	    <div class="row">
	        <div class="col-sm-3 hidden-xs">
	            <div class="c-list">
	                <a class="c-list__title" href="#">
	                    <img class="spritelogo-dark" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Silversea-Link">
	                </a>
	                <ul class="c-list__group text-uppercase" data-sly-list.child="${footer.pagesMainColIterator}">
	                    <li class="c-list__item">
	                        <a href="${child.path @ extension='html'}">${child.navigationTitle? child.navigationTitle : child.title}</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <div class="col-sm-3" data-sly-repeat="${[footer.pageSubCol1, footer.pageSubCol2, footer.pageSubCol3]}">
	            <div class="c-list c-list__accordion ${itemList.last ? 'c-list__accordion--full' : ''}">
	                <span class="c-list__title" data-toggle="collapse" data-target="#collapseFooter-${itemList.index}">
	                  ${item.title}
	                </span>
	                <ul class="c-list__group c-list__accordion--content" id="collapseFooter-${itemList.index}">
		                <sly data-sly-repeat.child="${item.listChildren}">
		                    <li class="c-list__item" data-sly-test="${!child.properties.hideInFooter}">
		                        <a href="${child.path @ extension='html'}">${child.navigationTitle? child.navigationTitle : child.title}</a>
		                    </li>
		                </sly>
	                    <li class="c-list__item c-list__item--special" data-sly-test="${itemList.last && footer.pageMySilversea.path}">
	                        <a href="${footer.pageMySilversea.path @ extension='html'}" target="_blank">
	                            <i class="fa fa-user"></i>
	                            ${footer.pageMySilversea.navigationTitle? footer.pageMySilversea.navigationTitle : footer.pageMySilversea.title}
	                        </a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
</template>
<template data-sly-template.style1="${ @ footer }">
	<div class="o-section c-links">
	    <div class="row row-section-links">
	        <div class="col-sm-3 hidden-xs">
	            <div class="c-list">
	                <ul class="c-list__group" data-sly-list.child="${footer.pagesCol1Iterator}">
	                    <li class="c-list__item">
	                        <a href="${child.path @ extension='html'}">${child.navigationTitle? child.navigationTitle : child.title}</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
			<div class="col-sm-3">
	            <div class="c-list c-list__accordion">
	                <span class="c-list__title visible-xs" data-toggle="collapse" data-target="#collapseFooter-11" data-sly-test=" ${footer.Col2title}">
	                  ${footer.Col2title}
	                </span>
	                <ul class="c-list__group c-list__accordion--content" id="collapseFooter-11" data-sly-list.child="${footer.pagesCol2Iterator}">
	                    <li class="c-list__item">
	                        <a href="${child.path @ extension='html'}">${child.navigationTitle? child.navigationTitle : child.title}</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
			<div class="col-sm-3">
	            <div class="c-list c-list__accordion">
	                <span class="c-list__title visible-xs" data-toggle="collapse" data-target="#collapseFooter-12" data-sly-test=" ${footer.Col3title}">
	                  ${footer.Col3title}
	                </span>
	                <ul class="c-list__group c-list__accordion--content" id="collapseFooter-12" data-sly-list.child="${footer.pagesCol3Iterator}" >
	                    <li class="c-list__item">
	                        <a href="${child.path @ extension='html'}">${child.navigationTitle? child.navigationTitle : child.title}</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
			<div class="col-sm-3">
	            <div class="c-list c-list__accordion c-list__accordion--full">
	                <span class="c-list__title visible-xs" data-toggle="collapse" data-target="#collapseFooter-13" data-sly-test=" ${footer.Col4title}">
	                  ${footer.Col4title}
	                </span>
	                <ul class="c-list__group c-list__accordion--content" id="collapseFooter-13" data-sly-list.child="${footer.pagesCol4Iterator}">
	                    <li class="c-list__item">
	                        <a href="${child.path @ extension='html'}">${child.navigationTitle? child.navigationTitle : child.title}</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
</template>