<template data-sly-template.default="${@ footer}">
    <div class="c-footer-request-brochure marginTopDesktop0 marginBottomDesktopDesktop0 marginTopTablet5 marginBottomDesktopTablet5 marginTopMobile5 marginBottomDesktopMobile5">
        <div class="container paddingTopDesktop20 paddingBottomDesktop20 paddingTopTablet35 paddingBottomTablet35 paddingTopMobile20 paddingBottomMobile20">
            <div class="col-sm-6 request-brochure-image paddingRightDesktop-10 paddingLeftDesktop40 paddingRightTablet25 paddingLeftTablet25 paddingRightMobile10 paddingLeftMobile10">
                <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageTransparent/imageTransparenttemplate.html"/>
                <a href="${footer.pageDownlaodBrochure.path @ extension='html'}" class="request-brochure-image-link">
                    <sly data-sly-call="${imageTemplate.default @ imagePath=properties.assetImageBrochure}"/>
                </a>
            </div>
            <div class="col-sm-6 request-brochure-info paddingTopDesktop50  paddingRightDesktop-10 paddingLeftDesktop40 paddingTopTablet15 paddingRightTablet25 paddingLeftTablet25 paddingRightMobile10 paddingLeftMobile10">
                <span class="request-brochure-title">${'request-free-brochure' @ i18n }</span>
                <span class="request-brochure-description paddingRightDesktop55">${'brochure-text' @ i18n }</span>
                <a href="${properties.linkCtaBrochure @ extension='html'}" data-sscclicktype="clic-BRO"
                   class="request-brochure-btn c-smartbtn btn">
                    <span>${'download-brochure' @ i18n }</span>
                </a>
            </div>
        </div>
    </div>
</template>

