<template data-sly-template.default="${ @ footer }">
	<div class="c-list--legal">
	    <ul class="c-list--legal__group">
	        <li class="c-list--legal__item">&#169; ${footer.year} ${'copyright' @ i18n}</li>
	        <li class="c-list--legal__item" data-sly-repeat.child="${footer.pagesBottomLineIterator}">
	            <a href="${child.path @ extension='html'}"><strong> ${child.navigationTitle? child.navigationTitle : child.title} </strong></a>
	        </li>
	        <li class="c-list--legal__item c-callbox__msg--mobile visible-xs-inline-block">
	            <img class="spritelogo-dark" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Silversea-Legal">
	        </li>
	    </ul>
	</div>
</template>