@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.modal .modal-content {
  .lightbox-keyperson {
    .csl-big-title {
      font-family: @freight;
      font-size: 30px;
      letter-spacing: 0.5px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 30px;
      text-transform: capitalize;
    }

    .csl-asset-slider--main .slick-slide .ratio {
      width: 200px;
      height: 200px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);

      img {
        border-radius: 50%;
      }
    }

    .csl-description {
      padding: 60px;
      padding-top: 30px;
      text-transform: none;
      font-size: 13px;
      letter-spacing: 0.5px;
      line-height: 20px;
    }

    .csl-title {
      font-family: @suisse;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.5px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 5px;
    }

    .csl-profession {
      font-family: @suisse;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 20px;
      text-align: center;
    }
  }

}

@media (max-width: @screen-sm) {
  .modal .modal-content .csl-title {
    font-size: 14px !important;
  }
}
