<div itemscope itemtype="http://schema.org/Product" class="cruise-2018 container"
     data-sly-use.cruise="com.silversea.aem.components.page.Cruise2018Use">
    <sly data-sly-use.externalizerHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentNode.path}"/>
    <sly data-sly-use.header="/apps/silversea/silversea-com/components/pages/cruise2018/templates/header.html"
         data-sly-call="${header.default @ cruise=cruise}"/>
    <sly data-sly-use.overview="/apps/silversea/silversea-com/components/pages/cruise2018/templates/overview.html"
        data-sly-call="${overview.default @ cruise=cruise, externalizerHelper=externalizerHelper}"/>
    <sly data-sly-use.menu="/apps/silversea/silversea-com/components/pages/cruise2018/templates/menu.html"
         data-sly-call="${menu.navigation @ cruise=cruise}"/>
    <sly data-sly-use.offers="/apps/silversea/silversea-com/components/pages/cruise2018/templates/offers.html"
         data-sly-call="${offers.default @ offers = cruise.exclusiveOffers, offersNumber = cruise.totalNumberOfOffers, isVenetian=cruise.isVenetianSociety}"/>
    <hr data-sly-test="${offers.size!=0 || isVenetian}"/>
    <sly data-sly-use.itineraryexcursions="/apps/silversea/silversea-com/components/pages/cruise2018/templates/itineraryexcursions/itineraryexcursions.html"
         data-sly-call="${itineraryexcursions.default @ cruise=cruise, externalizerHelper=externalizerHelper}"/>
    <hr/>
    <sly data-sly-use.expeditions="/apps/silversea/silversea-com/components/pages/cruise2018/templates/expeditions.html"
         data-sly-call="${expeditions.default @ cruise=cruise}"/>
    <sly data-sly-use.suitesfares="/apps/silversea/silversea-com/components/pages/cruise2018/templates/suites-fares.html"
         data-sly-call="${suitesfares.default @ cruise=cruise}"/>
    <hr/>
    <sly data-sly-use.ship="/apps/silversea/silversea-com/components/pages/cruise2018/templates/ship/ship.html"
         data-sly-call="${ship.default @ cruise=cruise, externalizerHelper=externalizerHelper}"/>
    <sly data-sly-use.prepost="/apps/silversea/silversea-com/components/pages/cruise2018/templates/pre-post.html"
         data-sly-call="${prepost.default @ cruise=cruise}"/>
    <sly data-sly-use.nextprev="/apps/silversea/silversea-com/components/pages/cruise2018/templates/next-prev.html"
         data-sly-call="${nextprev.default @ cruise=cruise}"/>
    <sly data-sly-use.footer="/apps/silversea/silversea-com/components/pages/cruise2018/templates/footer.html"
         data-sly-call="${footer.default @ cruise=cruise}"/>
</div>