<section class="o-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div data-sly-resource="${'parSide' @ resourceType='wcm/foundation/components/iparsys'}"></div>
            </div>
            <div class="col-sm-9 col-sm-8 c-pressreleases">
                <p class="c-pressreleases__description">${currentPage.description}</p>
                <div data-sly-resource="${'parPressereleaseslist' @ resourceType='silversea/silversea-com/components/included/pressreleaseslist'}"></div>
            </div>
        </div>
    </div>
</section>