<section class="o-section c-socialdisplay">
	<div class="row">
		<div class="col-sm-12">
			<h3>${'FOLLOW-SILVERSEA-CRUISES-ON-THE-WEB' @i18n}</h3>
		</div>
	</div>
	<div class="row c-socialdisplay__socialIconsList">
		<span data-sly-test="${properties['twitterURL']}" class="col-social">
			<a href="${properties['twitterURL']}" target="_blank"> <span
				class="fa-stack fa-lg"> <i class="fa fa-circle-thin fa-stack-2x"></i>
					<i class="fa fa-twitter fa-stack-1x specificSize"></i>
			</span>
		</a>
		</span> 
		
		<span data-sly-test="${properties['facebookURL']}" class="col-social">
			<a href="${properties['facebookURL']}" target="_blank" class="">
				<span class="fa-stack fa-lg"> <i
					class="fa fa-circle-thin fa-stack-2x"></i> <i
					class="fa fa-facebook fa-stack-1x specificSize"></i>
			</span>
		</a>
		</span>
		
		<span data-sly-test="${properties['googlePlusURL']}" class="col-social">
			<a href="${properties['googlePlusURL']}" target="_blank" class="">
				<span class="fa-stack fa-lg"> <i
					class="fa fa-circle-thin fa-stack-2x"></i> <i
					class="fa fa-google-plus fa-stack-1x specificSize"></i>
			</span>
		</a>
		</span>
		
		<span data-sly-test="${properties['instagramURL']}" class="col-social">
			<a href="${properties['instagramURL']}" target="_blank" class="">
				<span class="fa-stack fa-lg"> <i
					class="fa fa-circle-thin fa-stack-2x"></i> <i
					class="fa fa-instagram fa-stack-1x specificSize"></i>
			</span>
		</a>
		</span>
		
		<span data-sly-test="${properties['youtubeURL']}" class="col-social">
			<a href="${properties['youtubeURL']}" target="_blank" class="">
				<span class="fa-stack fa-lg"> <i
					class="fa fa-circle-thin fa-stack-2x"></i> <i
					class="fa fa-youtube fa-stack-1x specificSize"></i>
			</span>
		</a>
		</span>
		
		<span data-sly-test="${properties['pinterestURL']}" class="col-social">
			<a href="${properties['pinterestURL']}" target="_blank" class="">
				<span class="fa-stack fa-lg"> <i
					class="fa fa-circle-thin fa-stack-2x"></i> <i
					class="fa fa-pinterest fa-stack-1x specificSize"></i>
			</span>
		</a>
		</span>


	</div>
</section>