<div data-sly-test.empty="${!properties.fileReference && wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="image"></div>
<sly data-sly-test="${!empty}">
    <a data-sly-unwrap="${!properties.linkUrl}" href="${properties.linkUrl}">
        <img src="${properties.fileReference}" alt="${properties.alt}" title="${properties.title}" width="${properties.width}" height="${properties.height}" data-emptytext="Image" />
    </a>
    <small data-sly-test="${properties.jcr:description}">${properties.jcr:description}</small>
</sly>