<div class="container" data-sly-use.externalPage="com.silversea.aem.components.external.ExternalPageHelper">
    <sly data-sly-test="${externalPage.TermsAndConditionsPage}"
         data-sly-include="/apps/silversea/silversea-com/components/external/termsandconditions/termsandconditions.html"/>
    <sly data-sly-test="${!externalPage.TermsAndConditionsPage}">
        <div data-sly-test="${properties.abTestManual}" class="manualBVersion"
             data-sly-resource="${'parVersionB' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
        <div class="${properties.abTestManual ? 'manualAVersion' : ''} "
             data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    </sly>
</div>