<div class="container" data-sly-use.externalPage="com.silversea.aem.components.external.ExternalPageHelper">
    <sly data-sly-test="${externalPage.ExternalPage}"
         data-sly-include="${externalPage.TemplatePath}"/>
    <sly data-sly-test="${externalPage.AemContentMode == 'Fallback'}">
        <script>
            window.showAemFallbackContent = function() { $("#aemFallbackContent").show(); };
        </script>
        <div id="aemFallbackContent" style="display:none;">
            <div data-sly-test="${properties.abTestManual}" class="manualBVersion"
                 data-sly-resource="${'parVersionB' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
            <div class="${properties.abTestManual ? 'manualAVersion' : ''} "
                 data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
        </div>
    </sly>
    <sly data-sly-test="${externalPage.AemContentMode == 'Show'}">
            <div data-sly-test="${properties.abTestManual}" class="manualBVersion"
                 data-sly-resource="${'parVersionB' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
            <div class="${properties.abTestManual ? 'manualAVersion' : ''} "
                 data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    </sly>

</div>