<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Search hero"></div>
<div class="c-search-hero">
    <form class="row c-search-hero__form" action="${properties.pageReference @ extension='html'}">
        <div class="col-sm-3" data-sly-use.destinations="${'com.silversea.aem.helper.PageHelper' @ path=properties.destinationsReference}">
            <select class="chosen form-control" name="destinations">
                <option value="">${'all-destinations' @ i18n}</option>
                <option data-sly-repeat.destination="${destinations.page.listChildren}" value="${destination.name}">${destination.title @ context='html'}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="chosen form-control" name="dates" data-sly-use.filter="com.silversea.aem.components.editorial.SearchCruiseUse">
                <option value="">${'all-departure-dates' @i18n}</option>
                <option data-sly-repeat="${filter.dates}" value="${item}" data-uuid="filters_a_date_${item}" data-sscclicktype="filters">${filter.dates[item]}</option>
            </select>
        </div>
        <div class="col-sm-3" data-sly-use.ships="${'com.silversea.aem.helper.PageHelper' @ path=properties.shipsReference}">
            <select class="chosen form-control" name="ships">
                <option value="">${'all-ships' @ i18n}</option>
                <option data-sly-repeat.ship="${ships.page.listChildren}" value="${ship.name}">${ship.title}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-red" type="submit">${'find-your-cruise' @ i18n} <i class="fa fa-angle-right"></i></button>
        </div>
    </form>
</div>
