<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Search hero"></div>
<div class="c-search-hero">
    <form class="row c-fyc-light__form c-search-hero__form" action="${properties.pageReference}"
          data-sly-use.filter="com.silversea.aem.components.editorial.SearchCruiseUse">
        <div class="col-sm-3">
            <select class="chosen form-control" data-placeholder="${'all-destinations' @ i18n}" name="destination">
                <option value="all">${'all-destinations' @ i18n}</option>
                <option data-sly-repeat="${filter.destinations}" value="${item.name}">${item.title @ context='html'}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="chosen form-control" data-placeholder="${'all-departure-dates' @ i18n}" name="date">
                <option value="all">${'all-departure-dates' @i18n}</option>
                <option data-sly-repeat="${filter.dates}" value="${item}" data-uuid="filters_a_date_${item}" data-sscclicktype="filters">${filter.dates[item]}</option>
            </select>
        </div>
        <div class="col-sm-3" data-sly-use.ships="${'com.silversea.aem.helper.PageHelper' @ path=properties.shipsReference}">
            <select class="chosen form-control" data-placeholder="${'all-ships' @ i18n}" name="ship">
                <option value="all">${'all-ships' @ i18n}</option>
                <option data-sly-repeat.ship="${ships.page.listChildren}" value="${ship.name}">${ship.title}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-red" type="submit">${'find-your-cruise' @ i18n} <i class="fa fa-angle-right"></i></button>
        </div>
    </form>
    <sly data-sly-include="/apps/silversea/silversea-com/components/editorial/findyourcruise/feedback.html" />
</div>
