<sly data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse" />
<h1 class="cc-tab_header_title">${'routes' @ i18n}</h1>
<div class="cc-tab_header_desc row">
    <div class="cc-tab_header_desc_txt col-sm-9" data-sly-resource="${'routes-description' @ resourceType='silversea/silversea-com/components/editorial/text'}"></div>
    <div class="cc-tab_header_desc_cta col-sm-3">
        <a class="btn btn-thin btn-red effect" href="${comboCruise.requestQuotePagePath @ extension='html'}" data-sscclicktype="clic-RAQ"><span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i></a>
        <div data-sly-resource="${'btn-routes' @ resourceType='silversea/silversea-com/components/editorial/button/buttonconfigureonly'}"></div>
        <a class="btn btn-thin btn-dark effect" data-tab-target="#suitenfare"><span>${'suites-and-fares' @ i18n}</span><i class="fa fa-angle-right"></i></a>
    </div>
</div>
<div class="select-segment">
    <h2>${'select-and-view-the-route' @ i18n}</h2>
    <dl class="nav nav-tabs">
        <dt>${'select-and-view-the-route' @ i18n}</dt>
        <dd data-sly-repeat.segment="${comboCruise.comboCruiseModel.segments}" class="${segmentlist.count == 1 ? 'active' : ''}">
            <a href="#segmentinfo-${segmentlist.count}" data-toggle="tab">
                <time data-sly-test="${segment.cruise.startDate}"
                    data-sly-use.startDate="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM', date=segment.cruise.startDate}"
                    data-sly-use.startDateTime="${'com.silversea.aem.helper.DateHelper' @ format='YYYY-MM-dd', date=segment.cruise.startDat}"
                    datetime="${startDateTime.value}">
                    ${startDate.value}
                </time>
                <time data-sly-test="${segment.cruise.endDate}"
                    data-sly-use.endDate="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM', date=segment.cruise.endDate}"
                    data-sly-use.endDateTime="${'com.silversea.aem.helper.DateHelper' @ format='YYYY-MM-dd', date=segment.cruise.endDate}"
                    datetime="${endDateTime.value}">
                    ${endDate.value}
                </time>
                <strong>${segment.cruise.apiTitle}</strong>
            </a>
        </dd>
    </dl>
</div>
