<h1 class="cc-tab_header_title">${'routes' @ i18n}</h1>
<div class="cc-tab_header_desc row">
    <div class="cc-tab_header_desc_txt col-sm-9" data-sly-resource="${'routes-description' @ resourceType='silversea/silversea-com/components/editorial/text'}"></div>
    <div class="cc-tab_header_desc_cta col-sm-3">
        <a class="btn btn-thin btn-red effect" href=""><span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i></a>
        <div data-sly-resource="${'btn-routes' @ resourceType='silversea/silversea-com/components/editorial/button/buttonconfigureonly'}"></div>
        <a class="btn btn-thin btn-dark effect" data-tab-target="#suitenfare"><span>${'suites-and-fares' @ i18n}</span><i class="fa fa-angle-right"></i></a>
    </div>
</div>
<div class="select-segment" data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse">
    <h2>${'select-and-view-the-route' @ i18n}</h2>
    <dl class="nav nav-tabs">
        <dt>${'select-and-view-the-route' @ i18n}</dt>
        <dd data-sly-repeat.segment="${comboCruise.comboCruiseModel.segments}" role="tab" class="${segmentlist.count == 1 ? 'active' : ''}">
            <sly data-sly-test.cruiseModel="${segment.cruise}" />
            <a href="#segmentinfo-${segmentlist.count}" data-toggle="tab">
                <time data-sly-use.startDate="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM', date=cruiseModel.startDate}">${startDate.value}</time>
                <time data-sly-use.endDate="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM', date=cruiseModel.endDate}">${endDate.value}</time>
                <strong>${segment.page.title}</strong>
            </a>
        </dd>
    </dl>
</div>
