<sly data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse" />
<div class="tab-content">
    <section data-sly-repeat.segment="${comboCruise.comboCruiseModel.segments}" id="segmentinfo-${segmentList.count}" class="segment-section tab-pane ${segmentList.count == 1 ? 'active' : ''}">
        <sly data-sly-test.cruiseModel="${segment.cruise}" />
        <div class="segment-intro">
            <time>${'from' @ i18n}
                <strong data-sly-use.startDate="${'com.silversea.aem.helper.DateHelper' @ format='dd MMMMM', date=cruiseModel.startDate}">
                    ${startDate.value}
                </strong>
                ${'to' @ i18n}
                <strong data-sly-use.endDate="${'com.silversea.aem.helper.DateHelper' @ format='dd MMMMM', date=cruiseModel.endDate}">
                    ${endDate.value}
                </strong>
            </time>
            <h3>${segment.page.title}</h3>
            <p>${segment.subTitle}</p>
        </div>

        <sly data-sly-test.poiname="${'poi-slider{0}' @ format=[segmentList.count]}" />

        <div data-sly-resource="${poiname @ resourceType='silversea/silversea-com/components/editorial/slider'}"></div>

        <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
        data-sly-call="${imageTemplate.default @ imagePath=segment.focusedMapReference}" />

        <div class="c-accordion c-accordion--expander c-cruise-itineraries"
         data-multiview="false"
         data-more="<span>${'more' @ i18n}</span> <i class='fa fa-angle-down'></i>"
         data-close="<span>${'close' @ i18n}</span> <i class='fa fa-angle-up'></i>"
         data-sly-test="${cruiseModel.itineraries}"
         data-sly-list="${cruiseModel.itineraries}">
            <div class="c-accordion__elem">
                <div class="c-accordion__header">
                    <div class="c-accordion__title c-accordion__title--img">
                        <div class="c-accordion__title--img_block">
                            <sly data-sly-test.imagePrefix="${'/is/image/'}" />
                            <div data-sly-test="${item.thumbnail}" style="background-image: url(${item.thumbnail @ prependPath=imagePrefix, context='uri'})"></div>
                        </div>
                    </div>

                    <div class="c-accordion__title c-accordion__title--header">
                        <div class="c-accordion__title">
                            <div class="c-accordion__title">
                                <ul class="c-accordion__subtitle list">
                                    <li class="c-accordion__subtitle veryimportant">${item.title}</li>
                                    <li class="c-accordion__subtitle city">${item.country}</li>
                                </ul>
                                <ul class="c-accordion__subtitle list">
                                    <li class="c-accordion__subtitle" data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM yyyy', date=item.date}">
                                        ${date.value}
                                    </li>
                                    <li class="c-accordion__subtitle arrivals">
                                        <span data-sly-test="${item.arriveTime}">${'arrive' @ i18n}: ${item.arriveTime},</span> <span data-sly-test="${item.departTime}">${'depart' @ i18n} ${item.departTime}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="c-accordion__action">
                                <span>${'more' @ i18n}</span> <i class='fa fa-angle-down'></i>
                            </div>
                        </div>
                        <div class="c-accordion__title--body c-accordion__header--unclickable">
                                ${item.description @ context='html'}

                            <a data-sly-test="${item.excursions.size > 0}"
                               href="#"
                               class="c-btn c-btn--white"
                               type="button"
                               title="${'view' @ i18n} X ${'excursion-s' @ i18n}">
                                ${'view' @ i18n} ${item.excursions.size} ${'excursion-s' @ i18n} ${'in' @ i18n} ${item.country} <i class="fa fa-lg fa-angle-right"></i>
                            </a>

                            <a data-sly-test="${item.landprograms.size > 0}"
                               href="#"
                               class="c-btn c-btn--white"
                               type="button"
                               title="${'view' @ i18n} X ${'land-programme-s' @ i18n}">
                                ${'view' @ i18n} ${item.landprograms.size} ${'land-programme-s' @ i18n} ${'in' @ i18n} ${item.country} <i class="fa fa-lg fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="c-accordion__body">
                    <div class="c-accordion__body--panel">
                        ${item.description @ context='html'}

                        <a data-sly-test="${item.excursions.size > 0}"
                           href="#"
                           class="c-btn c-btn--white"
                           type="button"
                           title="${'view' @ i18n} X ${'excursion-s' @ i18n}">
                            ${'view' @ i18n} ${item.excursions.size} ${'excursion-s' @ i18n} ${'in' @ i18n} ${item.country} <i class="fa fa-lg fa-angle-right"></i>
                        </a>

                        <a data-sly-test="${item.landprograms.size > 0}"
                           href="#"
                           class="c-btn c-btn--white"
                           type="button"
                           title="${'view' @ i18n} X ${'land-programme-s' @ i18n}">
                            ${'view' @ i18n} ${item.landprograms.size} ${'land-programme-s' @ i18n} ${'in' @ i18n} ${item.country} <i class="fa fa-lg fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>