<div data-sly-test="${wcmmode.edit && (!properties.pageReference || !properties.jcr:title)}"
     class="cq-placeholder cq-dd-image" data-emptytext="Card slider with lightbox"></div>
<div class="cardSliderLightbox" data-sly-use.use="com.silversea.aem.components.editorial.cardSliderLightbox.SliderUse">
    <sly data-sly-use.template="./template.html"
         data-sly-call="${template.default @ title=use.title,
                                             slidesDesktop=use.slidePerPageDesktop,
                                             slidesTablet=use.slidePerPageTablet,
                                             slidesMobile=use.slidePerPageMobile,
                                             style=use.style,
                                             backgroundColour=use.backgroundColour,
                                             cards=use.cards,
                                             showArrows=use.showArrows.toString,
                                             lightboxPath=currentNode.path,
                                             selector='lightbox'}"/>
</div>
