<div data-sly-test="${wcmmode.edit && (!properties.pageReference || !properties.jcr:title)}"
     class="cq-placeholder cq-dd-image" data-emptytext="Card slider with lightbox"></div>
<sly data-sly-use.use="com.silversea.aem.components.editorial.cardSliderLightbox.SliderUse">
    <div class="cardSliderLightbox ${use.hideArrowsPerDevice}">
        <sly data-sly-use.template="./template.html"
             data-sly-call="${template.default @ title=use.title,
                                             subtitle=use.subtitle,
                                             slides=use.slidesPerPage,
                                             centeredStyle=use.centeredStyle,
                                             showProgressBar=use.showProgressBar,
                                             style=use.style,
                                             backgroundColour=use.backgroundColour,
                                             cards=use.cards,
                                             showLightboxArrows=use.showLightboxArrows,
                                             centeredStyleClass=use.centeredClassPerDevice,
                                             invertTitle = use.invertTitle,
                                             lightboxPath=currentNode.path,
                                             titleTag=use.titleTag,
                                             titleFontSize=use.titleFontSize,
                                             subtitleFontSize=use.subtitleFontSize,
                                             lightboxTitleTag=use.lightboxTitleTag,
                                             selector='lightboxes'}"/>
    </div>
</sly>
