.combocruise-2018 {
  @import "/etc/designs/silversea-com/clientlib-base/less/variables.less";
  @import "routes.less";

  .cruise-2018-suites-fares, .cruise-2018 .cruise-2018-suites-fares {
    margin-top: 0px !important;
  }

  .combocruise-2018-hr-itinerary-suite {
    margin-bottom: 50px;
  }

  hr.hr-keypeople {
    margin-top: 1px;
  }

  .cc-section-title {
    font-family: @freight;
    font-size: 30px;
    letter-spacing: .5px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
  }

  .cruise-2018-overview {
    margin-top: 0px !important;
  }


  @media (max-width: @screen-sm) {
    #menu-cruise2018suites {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 18px;
      padding-right: 18px;
      letter-spacing: 1px;
      background-color: @grey--f4;
    }

    #menu-cruise2018suites {
      padding-top: 0px;
    }

    .cruise-2018-itineraries-info {
      .itineraries-info-countries {
        display: block;
        margin-top: 8px;
      }
    }

    .cruise2018-keypeople {
      .cardSlider-slider {
        padding: 0px 60px;
      }
    }

    .cruise-2018-suites-fares-footnote {
      line-height: 0px;
      margin-bottom: -25px;
    }


    .cruise-2018-itineraries-description {
      overflow: hidden;
      height: 125px;
      margin-bottom: 5px !important;
    }
  }

}

.es, .pt-BR {

  .cruise-2018-overview-quote-btn {
    min-width: 255px !important;;
  }

  #menu-overview-raq, #fixed-footer-2018-raq {
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 10.5px !important;
    white-space: nowrap;
  }
}

.fr {
  #menu-overview-raq, #fixed-footer-2018-raq {
    font-size: 11px !important;
  }
}
.de {
  #menu-overview-raq, #fixed-footer-2018-raq {
    font-size: 10px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
}



