<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Accordion"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="c-accordion c-accordion--darkbox" data-multiview="false">
            <div class="c-accordion__elem">
                <div data-sly-use.stringHelper="${'com.silversea.aem.helper.StringHelper' @ text = properties.jcr:title}"
                id="${stringHelper.textValidName}" class="c-accordion__header" data-state="${wcmmode.edit || properties.expanded ? 'true' : 'false'}">
                    <div 
                    class="c-accordion__title">
                        <p class="c-accordion__title--veryimportant">${properties.jcr:title}</p>
                    </div>
                    <div class="c-accordion__action c-accordion__action--light">
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>
                <div class="c-accordion__body" data-collapsed="${wcmmode.edit || properties.expanded ? 'true' : 'false'}">
                    <div class="c-accordion__body--panel">
                        <div data-sly-resource="${'parAccordion' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>