.c-destinationsMap {
    #silversea-destinations-interactive-map {
        #map {
            .map-container {
                .imap-marker:before {
                    background: @white;
                }
                .imap-marker .number {
                    color: @white;
                }
                .imap-marker .marker-text {
                    color: @white;
                }
            }
        }
    }
}
