.c-findTravelAgent {
    .agent-info .agent-title,
    .agent-info label {}
    .action {
        color: @green;
    }
    .travel-agent-location {
        a {
            &:active,
            &:focus,
            &:hover {
                color: inherit;
            }
        }
        .list-group-item-text {}
        .list-group > .list-group-item:first-child {
            border-top: 0;
        }
        .list-group > .list-group-item:first-child,
        .list-group > .list-group-item:last-child {
            border-radius: 0;
        }
        .list-group {
            border: 0;
            border-radius: 0;
            .list-group-item {
                border: 0;
                border-radius: 0;
                border-top: 1px solid @grey--d9;
                background-color: @white;
            }
            a {
                color: @black;
            }
            .list-group-item-heading {
                color: @black;
            }
        }
        ::-webkit-scrollbar {}
        ::-webkit-scrollbar-track {
            background: @grey--f2;
            border-right: 1px solid @black;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 7px;
            background: @grey--3;
            border: 4px solid @transparent;
            background-clip: content-box;
        }
        p {}
        .form-control {
            border-color: @grey;
            border-radius: 0;
        }
        .form-group {}
        .scroll-box {
            border: 1px solid @black;
        }
        .easy-autocomplete {
            .form-control {
                border-color: @grey;
                border-radius: 0;
            }
        }
        .btn-refine-search {
            &:after {}
        }
        .list-group-item:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .btn-refine-search.collapsed.form-control {
            border: 1px solid @grey--d9;
        }
        .btn-refine-search.collapsed:after {}
    }
    .easy-autocomplete {}
    .easy-autocomplete input {
        border-color: @grey--c;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        color: #555;
    }
    .easy-autocomplete input:hover,
    .easy-autocomplete input:focus {}
    .easy-autocomplete a {}
    .easy-autocomplete.eac-blue-light input:hover,
    .easy-autocomplete.eac-blue-light input:focus {
        border-color: @blue--66;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .easy-autocomplete.eac-blue-light ul {
        border-color: @blue--66;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .easy-autocomplete.eac-blue-light ul li,
    .easy-autocomplete.eac-blue-light ul .eac-category {
        border-color: #66afe9;
    }
    .easy-autocomplete.eac-blue-light ul li.selected,
    .easy-autocomplete.eac-blue-light ul .eac-category.selected {
        background-color: #ecf5fc;
    }
    .easy-autocomplete.eac-green-light input:hover,
    .easy-autocomplete.eac-green-light input:focus {
        border-color: #41DB00;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(146, 237, 107, 0.6);
    }
    .easy-autocomplete.eac-green-light ul {
        border-color: #41DB00;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(146, 237, 107, 0.6);
    }
    .easy-autocomplete.eac-green-light ul li,
    .easy-autocomplete.eac-green-light ul .eac-category {
        border-color: #41DB00;
    }
    .easy-autocomplete.eac-green-light ul li.selected,
    .easy-autocomplete.eac-green-light ul .eac-category.selected {
        background-color: #9eff75;
    }
    .easy-autocomplete.eac-red-light input:hover,
    .easy-autocomplete.eac-red-light input:focus {
        border-color: #ff5b5b;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 90, 90, 0.6);
    }
    .easy-autocomplete.eac-red-light ul {
        border-color: #ff5b5b;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 90, 90, 0.6);
    }
    .easy-autocomplete.eac-red-light ul li,
    .easy-autocomplete.eac-red-light ul .eac-category {
        border-color: #ff5b5b;
    }
    .easy-autocomplete.eac-red-light ul li.selected,
    .easy-autocomplete.eac-red-light ul .eac-category.selected {
        background-color: #ff8e8e;
    }
    .easy-autocomplete.eac-yellow-light input:hover,
    .easy-autocomplete.eac-yellow-light input:focus {
        border-color: #ffdb00;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 231, 84, 0.6);
    }
    .easy-autocomplete.eac-yellow-light ul {
        border-color: #ffdb00;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 231, 84, 0.6);
    }
    .easy-autocomplete.eac-yellow-light ul li,
    .easy-autocomplete.eac-yellow-light ul .eac-category {
        border-color: #ffdb00;
    }
    .easy-autocomplete.eac-yellow-light ul li.selected,
    .easy-autocomplete.eac-yellow-light ul .eac-category.selected {
        background-color: #ffe233;
    }
    .easy-autocomplete.eac-dark-light input:hover,
    .easy-autocomplete.eac-dark-light input:focus {
        border-color: #333;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(55, 55, 55, 0.6);
    }
    .easy-autocomplete.eac-dark-light ul {
        border-color: #333;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(55, 55, 55, 0.6);
    }
    .easy-autocomplete.eac-dark-light ul li,
    .easy-autocomplete.eac-dark-light ul .eac-category {
        border-color: #333;
    }
    .easy-autocomplete.eac-dark-light ul li.selected,
    .easy-autocomplete.eac-dark-light ul .eac-category.selected {
        background-color: #4d4d4d;
        color: #fff;
    }
    .easy-autocomplete.eac-dark {
        color: #fff;
    }
    .easy-autocomplete.eac-dark input {
        background-color: #404040;
        border-radius: 4px;
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-dark input:hover,
    .easy-autocomplete.eac-dark input:focus {
        border-color: #333;
    }
    .easy-autocomplete.eac-dark ul {
        border-color: #333;
    }
    .easy-autocomplete.eac-dark ul li,
    .easy-autocomplete.eac-dark ul .eac-category {
        background-color: #404040;
        border-color: #333;
    }
    .easy-autocomplete.eac-dark ul li.selected,
    .easy-autocomplete.eac-dark ul .eac-category.selected {
        background-color: #737373;
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-dark-glass {
        color: #fff;
    }
    .easy-autocomplete.eac-dark-glass input {
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-dark-glass input:hover,
    .easy-autocomplete.eac-dark-glass input:focus {
        border-color: rgba(0, 0, 0, 0.8);
    }
    .easy-autocomplete.eac-dark-glass ul {
        border-color: rgba(0, 0, 0, 0.8);
    }
    .easy-autocomplete.eac-dark-glass ul li,
    .easy-autocomplete.eac-dark-glass ul .eac-category {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.8);
    }
    .easy-autocomplete.eac-dark-glass ul li.selected,
    .easy-autocomplete.eac-dark-glass ul .eac-category.selected {
        background-color: rgba(64, 64, 64, 0.8);
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-dark-glass ul li:last-child,
    .easy-autocomplete.eac-dark-glass ul .eac-category:last-child {
        border-radius: 0 0 4px 4px;
    }
    .easy-autocomplete.eac-blue {
        color: #fff;
    }
    .easy-autocomplete.eac-blue input {
        background-color: #6d9ed1;
        border-radius: 4px;
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-blue input::-webkit-input-placeholder {
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-blue input:-moz-placeholder {
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-blue input::-moz-placeholder {
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-blue input:-ms-input-placeholder {
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-blue input:hover,
    .easy-autocomplete.eac-blue input:focus {
        border-color: #5A91CB;
    }
    .easy-autocomplete.eac-blue ul {
        border-color: #5A91CB;
    }
    .easy-autocomplete.eac-blue ul li,
    .easy-autocomplete.eac-blue ul .eac-category {
        background-color: #6d9ed1;
        border-color: #5A91CB;
    }
    .easy-autocomplete.eac-blue ul li.selected,
    .easy-autocomplete.eac-blue ul .eac-category.selected {
        background-color: #94b8dd;
        color: #f6f6f6;
    }
    .easy-autocomplete.eac-yellow {
        color: #333;
    }
    .easy-autocomplete.eac-yellow input {
        background-color: #ffdb7e;
        border-color: #333;
        border-radius: 4px;
        color: #333;
    }
    .easy-autocomplete.eac-yellow input:hover,
    .easy-autocomplete.eac-yellow input:focus {
        border-color: #333;
    }
    .easy-autocomplete.eac-yellow ul {
        border-color: #333;
    }
    .easy-autocomplete.eac-yellow ul li,
    .easy-autocomplete.eac-yellow ul .eac-category {
        background-color: #ffdb7e;
        border-color: #333;
    }
    .easy-autocomplete.eac-yellow ul li.selected,
    .easy-autocomplete.eac-yellow ul .eac-category.selected {
        background-color: #ffe9b1;
        color: #333;
    }
    .easy-autocomplete.eac-purple {
        color: #333;
    }
    .easy-autocomplete.eac-purple input {
        background-color: #d6d1e7;
        border-color: #b8afd5;
        color: #333;
    }
    .easy-autocomplete.eac-purple input:hover,
    .easy-autocomplete.eac-purple input:focus {
        border-color: #333;
    }
    .easy-autocomplete.eac-purple ul {
        border-color: #333;
    }
    .easy-autocomplete.eac-purple ul li,
    .easy-autocomplete.eac-purple ul .eac-category {
        background-color: #d6d1e7;
        border-color: #333;
    }
    .easy-autocomplete.eac-purple ul li.selected,
    .easy-autocomplete.eac-purple ul .eac-category.selected {
        background-color: #ebe8f3;
        color: #333;
    }
    .easy-autocomplete.eac-bootstrap input {
        border-color: #ccc;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        color: #555;
    }
    .easy-autocomplete-container {}
    .easy-autocomplete-container ul {
        background: none repeat scroll 0 0 #ffffff;
        border-top: 1px dotted #ccc;
    }
    .easy-autocomplete-container ul li,
    .easy-autocomplete-container ul .eac-category {
        background: inherit;
        border-color: #ccc;
        border-image: none;
        border-style: solid;
        border-width: 0 1px;
    }
    .easy-autocomplete-container ul li:last-child {
        border-radius: 0 0 2px 2px;
        border-width: 0 1px 1px;
    }
    .easy-autocomplete-container ul li.selected {
        background: none repeat scroll 0 0 #ebebeb;
    }
    .easy-autocomplete-container ul li.selected div {}
    .easy-autocomplete-container ul li div {}
    .easy-autocomplete-container ul li b {}
    .easy-autocomplete-container ul .eac-category {
        font-color: #aaa;
    }
    .eac-description .eac-item span {
        color: #aaa;
    }
    .eac-icon-left .eac-item img {}
    .eac-icon-right .eac-item {}
    .eac-icon-right .eac-item img {}
}