.c-landingPlanningCruiseContainer {
    .planningCruise__section-cruises {
        @media (max-width: 700px) {
            background: @white !important;
        }
    }
    .bg_black {
        background: @black-8 !important;
        .planningCruise__section_header_title,
        .planningCruise__section_header_subtitle {
            color: @white !important;
        }
    }
    .planningCruise__section_header_title.whitecolor,
    .planningCruise__section_header_subtitle.whitecolor {
        color: @white !important;
    }
    .planningCruise__section_header_title.backcolor,
    .planningCruise__section_header_subtitle.backcolor {
        color: @grey--3 !important;
    }
    .bg_white {
        background: @white !important;
        .planningCruise__section_header_title,
        .planningCruise__section_header_subtitle {
            color: @grey--3 !important;
        }
    }
    .planningCruise__section_header {
        .planningCruise__section_header_title,
        .planningCruise__section_header_subtitle {
            color: @color-typography;
        }
        .planningCruise__section_header_subtitle {}
    }
}