.c-singleVoyageCards {
    .c-svg__result__wrapper {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    }
    .c-svg__result__image:before {
        background-color: #000;
    }
    .c-svg__result__content__price {}
    .c-svg__result__content__price .price-suffixe {
        color: #a3a3a3;
    }
    .c-svg__result__content__summary {
        border-left: transparent;
        border-right-color: transparent;
        border-top: 1px solid rgb(204, 204, 204);
        border-bottom: 1px solid rgb(204, 204, 204);
    }
    .c-svg__result__wrapper {
        border: 1px solid #d3d3d3;
        transition: background-color 0.3s ease-in-out;
    }
    @media (min-width: @screen-md-min) {
        .c-svg__result__wrapper:hover .c-svg__result__image:before {
            background-color: black !important;
        }
        .c-svg__result__wrapper:hover {
            background-color: #efefef;
        }
    }
d
    .c-svg__result__content__description {
        border-top: 2px solid #6ABDBC;
    }
    .c-svg__result__content__summary {
        border: 1px solid #ccc;
    }
    .c-svg__result__content__summary__item {}
    .c-svg__result__content__summary__item:not(:last-child) {
        border-right: 1px solid #ccc;
    }
    .c-svg__result__content__summary__item dl dt,
    .c-svg__result__content__summary__item dl dd {}
    .c-svg__result__content__summary__item dl dt {
        color: #a3a3a3;
    }
    .c-svg__result__content__summary__item dl strong {}
    .c-svg__result__content__price {}
    .c-svg__result:nth-child(odd),
    .c-svg__result:nth-child(even) {}
    .c-svg__results__wrapper {}
    .c-svg__result__content__price .price-prefixe {
        color: #a3a3a3;
    }
    .c-svg__result__content__price strong {
        color: #000;
    }
    .c-singleVoyageCards .c-svg__result__content {}
    .c-svg__result__content__button {}
    .c-svg__result__content__title {}
    .c-svg__result {
        border-bottom: 1px solid #d9d9d9;
    }
    .sub_value {
        color: rgb(163, 163, 163);
    }
    .c-svg__result__content__button .btn {
        color: #d60524;
    }
    .c-svg__result__content__summary {
        border-left: transparent;
        border-right-color: transparent;
        border-top: 1px solid rgb(204, 204, 204);
        border-bottom: 1px solid rgb(204, 204, 204);
    }
    .c-svg__result__content__itinerary dd:not(:last-of-type):after {}
    .c-svg__result__content__itinerary dd {}
    .fares {
        color: #a3a3a3;
    }
    .c-svg__result__content__inner {}
    @media (max-width: @screen-md-min) {
        .c-slider .slick-prev:before,
        .c-slider .slick-next:after {
            border-color: rgb(51, 51, 51) !important;
        }
    }
}