.c-slider-black-arrow:before {
    @media (min-width: 1050px) {
        border-color: @black !important;
    }
}


.grey-dots .slick-dots li button:before {
    background-color: @grey--ba;
}

.grey-dots .slick-dots li.slick-active button:before {
    background-color: @black;
}

