.c-whySilverseaLanding {
    &-content {
        h3 {
            border-bottom: 1px solid #3b3b3b;
        }
    }
    &-inline-gallery {
        .fa-expand {
            color: white;
        }
    }
}

.c-whySilverseaLanding-black {
    background: #141414;
    .c-whySilverseaLanding-content {
        color: #fff;
        h3 {
            color: #b59b4a;
        }
    }
}
