@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.open-lightbox-map {
  z-index: 2;
}

@media (min-width: @screen-md-min) {
  .modal.lightbox .modal-content.lightbox-gallery-assets-content {
    top: 60px;
  }
}

.lightbox-map {
  .ratio-big-itinerary {
    height: 445px;
  }

  .ratio-small-itinerary img {
    height: 80px !important;
    width: 130px !important;
    z-index: 100;
    top: 15px !important;
    left: 15px !important;
  }
}

@media (max-width: @screen-sm) {

  .modal.lightbox div.lightbox-close.close-full-width {
    width: 100vw !important;

    .text-close {
      right: 60px !important;
    }

    .icon-close {
      right: 20px !important;
    }
  }

  .lightbox-map {
    position: relative;

    .ratio-big-itinerary {
      height: 244px;
    }

    i {
      position: absolute;
      top: 50%;
      font-size: 100px;
      left: 50%;
      display: none;
    }

    .fa-portrait {
      transform: translate(-50%, -50%);
      --webkit-transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (orientation: portrait) {
  .lightbox-map {
    i {
      display: block;
    }

    .ratio-big-itinerary {
      opacity: 0.8;
    }
  }
}


@media (min-width: @screen-lg-min) {
  .modal-larger {
    max-width: 930px !important;

    .lightbox-close {
      width: 930px !important;
    }
  }
}

@media (max-width: 736px) {
  .lightbox-map {
    .ratio-big-itinerary {
      height: 350px !important;
    }
  }
}
