<div data-sly-test.empty="${wcmmode.edit}"
     class="cq-placeholder cq-dd-image" data-emptytext="Find your cruise 2018"></div>
<div class="findyourcruise2018 v2 ">

    <div
            data-sly-use.fyc="${'com.silversea.aem.components.editorial.findyourcruise2018.FindYourCruise2018Use' @ psize='15'}"
            id="findyourcruise2018-wrapper" class="findyourcruise2018-wrapper">
        <sly data-sly-use.filterTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/filter.html"
             data-sly-call="${filterTemplate.default @ fyc=fyc}"/>
        <div class="c-fyc-v2__result-wrapper fyc2018-results-div c-fyc-v2">
            <sly data-sly-use.resultsTemplate="silversea/silversea-com/components/editorial/findyourcruise2018/templates/results.html"
                 data-sly-call="${resultsTemplate.default @ fyc=fyc}"/>
        </div>
    </div>
    <div class="fyc2018-tmp-div">
    </div>
</div>