<div class="c-header__container" data-sly-use.pageHelper="com.silversea.aem.helper.PageHelper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-5">
                <a href="${pageHelper.homePage.path @ extension='html'}" class="c-header__inner">
                    <img class="c-header__logo" src="${currentDesign.path}/clientlib-base/images/logo.png" alt="${pageHelper.homePage.title  || currentPage.title}" />
                </a>
            </div>
            <div class="col-sm-9 col-xs-7 c-main-nav-wrapper">
                <sly data-sly-include="./../header/call.html"></sly>
            </div>
        </div>
    </div>
</div>