<template data-sly-template.default="${ @ list }">
    <div class="row c-cruise-ship-info__item" data-sly-repeat="${list}">
        <div class="col-sm-6 variationimg ${itemList.even ? ' col-sm-push-6' : ''}">
            
                <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" data-sly-call="${imageTemplate.lazy @ imagePath=firstAsset.path, width=930}" />
            
        </div>
        <div class="col-sm-6 variationcontent ${itemList.even ? ' col-sm-pull-6' : ''}">
            <div class="ship-mobilewrapper">
                <h4 class="variationcontent__title">${item.title}</h4>
                <div class="variationcontent__descr">${item.longDescription @ context='html'}</div>
                <div class="variationcontent__descr__expand">
                    <a href="#" class="read_more">${'read-more' @ i18n} <i class="fa fa-angle-down"></i></a>
                    <a href="#" class="read_less">${'read-less' @ i18n} <i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</template>