<div class="c-cruise__ship-overview" data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse"
    data-sly-test.ship="${comboCruise.cruiseModel.ship}">
    <h3 class="c-cruise__subtitle">${ship.title}</h3>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 c-cruise__ship-overview__image">
            <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
                data-sly-call="${imageTemplate.default @ imagePath=ship.thumbnail}" />
            <a data-sly-test.deckPlan="${ship.deckPlan}" href="${deckPlan}" target="_blank" class="hidden-xs">
                <strong>${'view-deck-plan' @ i18n}</strong>
            </a>
        </div>
        <div class="col-sm-6 col-sm-pull-6 c-cruise__ship-overview__content">
            <div class="c-cruise__ship-overview__content__inner" data-sly-use.description="${'com.silversea.aem.helper.StringHelper' @ text=ship.longDescription, limit=250}">
                <div class="c-cruise__ship-overview__content__text">
                    ${ship.longDescription @ context='html'}
                </div>
                <p class="text-center visible-xs-block">
                    <a data-toggle="collapse" href="#c-cruise__ship-overview__content__info" aria-expanded="false">${'view-all-ship-descr' @ i18n} <i class="fa fa-angle-down"></i></a>
                </p>
                <div id="c-cruise__ship-overview__content__info" class="collapse">
                    <ul class="row c-cruise__ship-overview__content__info">
                        <li class="col-xs-6"><strong class="text-uppercase">${'guests' @ i18n}:</strong> ${ship.guestsCapacity}</li>
                        <li class="col-xs-6"><strong class="text-uppercase">${'crew' @ i18n}:</strong> ${ship.crewCapacity}</li>
                        <li class="col-xs-6"><strong class="text-uppercase">${'length' @ i18n}:</strong> ${ship.lengthFt} ${'feet' @ i18n} / ${ship.lengthM} ${'meters' @ i18n}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>