<div class="c-cruise-ship-info" data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse">
    <sly data-sly-test.publicAreas="${comboCruise.comboCruiseModel.ship.publicAreas}">
        <h3 class="c-cruise__subtitle">${'public-areas' @ i18n}</h3>
        <p class="c-cruise__descr">${'cruise-ship-publicarea-description' @ i18n}</p>
    </sly>
    <div class="c-cruise__gallery">
        <sly data-sly-use.itemVariationTemplate="silversea/silversea-com/components/pages/cruise/fragment/shiptab/itemvariationtemplate.html" data-sly-call="${itemVariationTemplate.default @ list=publicAreas}" />
        <div class="c-cruise__item-expander" data-sly-test="${publicAreas && publicAreas.size > 2}">
            <a class="btn btn-thin btn-dark expander-open" href=""><span>${'view-all-public-areas' @ i18n}</span><i class="fa fa-angle-down"></i></a>
            <a class="btn btn-thin btn-dark expander-close" href=""><span>${'close' @ i18n}</span><i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</div>