<div class="container">
    <div class="aem-Grid aem-Grid--12">
        <div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--phone--12">
           <div data-sly-resource="${'menu' @ resourceType='silversea/silversea-com/components/editorial/menu'}"></div>
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--9 aem-GridColumn--phone--12">
           <div data-sly-resource="${'propertyDisplay' @ resourceType='silversea/silversea-com/components/displaycomponent/diningareapropertydisplay'}"></div>
        </div>
        <div class="aem-Grid aem-Grid--12">
           <div data-sly-resource="${'assetsList' @ resourceType='silversea/silversea-com/components/editorial/assetsList'}"></div>
        </div>
    </div>
</div>