    <div data-sly-test="${wcmmode.edit}" data-sly-unwrap>
       <em>[Editer le composant : dining area variation component- SilverSea]</em>
    </div>
    
    <div>
       <div data-sly-resource="${'menu' @ resourceType='silversea/silversea-com/components/editorial/menu'}"></div>
    </div>
    <div>
       <div data-sly-resource="${'propertyDisplay' @ resourceType='silversea/silversea-com/components/displayComponent/diningAreaPropertyDisplay'}"></div>
    </div>
    <div>
       <div data-sly-resource="${'assetsList' @ resourceType='silversea/silversea-com/components/editorial/assetsList'}"></div>
    </div>
