.c-eo_boxes {
	
	margin-bottom: 15px;
	text-align:center;
	
	&-box {
		background-color: @grey--98;
		border: 1.0px solid @grey--90;
		min-height: 140.0px;
		margin: 5px;
		text-align: center;
		float:none;
		display:inline-block;
		vertical-align:center;
		padding: 0px 10.0px;
		
		@media (max-width: @screen-sm) {
			margin-left: 0px;
			margin-bottom: 5px!important;
			padding-top: 16px;
    		padding-bottom: 16px;
    		display:table;
    		.c-eo_boxes-info{
				float:none;
				display:table-cell;
				vertical-align:middle;
    		}
    		
		}
		
		@media(min-width: @screen-md-min) {
			.c-eo_boxes-info{
				top: 50%;
    			transform: translateY(-50%);
    			padding:0px;
    		}
			&-block2 {
				
				.c-eo_boxes-text-section {
					padding: 0px 0px;
				}
				
				.c-eo_boxes-text-section-v1 {
					padding: 0px !important;
				}
				
				.c-eo_boxes-text_1 {
					//float: left;
					width:40%;
				}
				
				.c-eo_boxes-text_2-v1 {
					//float: right;
					width:40%;
				}
				
				.c-eo_boxes-text_3 {
					//float: right;
					width:40%;
				}
				
				.c-eo_boxes-separator_1-v1 {
					margin-left: 3px;
					width:12%;
				}
			}
			
			&-block3 {
				.c-eo_boxes-text-section {
					padding: 0px 0px;
				}
				
				.c-eo_boxes-text_1 {
					float: left;
					width:25%;
				}
				
				.c-eo_boxes-text_2 {
					//float: left;
					width:25%;
				}
				
				.c-eo_boxes-separator_1, .c-eo_boxes-separator_2 {
					position: absolute;
	    			left: 30%;
	    			width:6%;
				}
				
				.c-eo_boxes-separator_2 {
					position: absolute;
	    			left: 66%;
				}
				
				.c-eo_boxes-text_3 {
					float: right;
					width:25%;
				}
			}
		}		
	}
	
	&-text-section {
		font-size: 17px;
		font-family: @f-open_sans;
		
		    
	}
	
	&-text {
		vertical-align: top;

		@media (min-width: @screen-md-min) {
			display: inline-block;
		}
		
		@media (max-width: @screen-sm) {
			display: block;
		}
		
	}
	
	&-separator {
		vertical-align: -webkit-baseline-middle;
		
		@media (min-width: @screen-md-min) {
			display: inline-block;
			.c-eo_boxes-info{
				top: 50%;
    			transform: translateY(-50%);
    		}
		}
			
		@media (max-width: @screen-sm) {
			display: block;
			font-size: 15px;
			margin: 13px 0px;
		}	
	}
	
	&-image {
		margin-bottom: 18px;
	}
	
	@media (min-width: @screen-md-min) {
		.eo-col-md-1 {
		    width: 14.3%;
		}
		.eo-col-md-1_5 {
		    width: 16.5%;
		}
		.eo-col-md-2 {
		    width: 22%;
		}
		.eo-col-md-3 {
		    width: 25%;
		}
		.eo-col-md-4 {
		    width: 32.2%;
		}
		.eo-col-md-5 {
		    width: 40%;
		}
		.eo-col-md-6 {
			 width: 48.9%
		}
		.eo-col-md-7 {
			 width: 55%
		}
		.eo-col-md-8 {
		    width: 65.5%;
		}
		.eo-col-md-12 {
		    width: 99%;
		}
	}
	
	
	&-separatorBox {
		margin-bottom: 0;
	    text-align: center;
	    font-family: @f-theano_didot;
	    font-size: 32.0px;
	    font-style: italic;
	    color: @grey--40;
	    background-color: @white;
		border: none;
		float:none;
		display:inline-block;
		vertical-align:center;
		padding: 0px 10.0px;
	    
	    @media(min-width: @screen-md-min) {
		    min-height: 140px;
		    .c-eo_boxes-info{
				top: 50%;
    			transform: translateY(-50%);
    		}
	    }
	    @media(max-width: @screen-md-min) {
		   padding: 10px;
	    }
	}
	
}

.modal{
	.c-eo_boxes-info {
	    padding-right:0px !important;
	    padding-left:0px !important;
	}
	.c-eo_boxes{
		 @media(min-width: @screen-md-min) {
			
				.eo-col-md-1 {
			    	width: 13.3%;
				}
				.eo-col-md-1_5 {
				    width: 15.5%;
				}
				.eo-col-md-2 {
				    width: 21%;
				}
				.eo-col-md-3 {
				    width: 24%;
				}
				.eo-col-md-4 {
				    width: 31.2%;
				}
				.eo-col-md-5 {
				    width: 39%;
				}
				.eo-col-md-6 {
					 width: 47.9%
				}
				.eo-col-md-7 {
					 width: 54%
				}
				.eo-col-md-8 {
				    width: 64.5%;
				}
				.eo-col-md-12 {
				    width: 98%;
				}
			
		}
	}
}