/*
 * LocalizedPhoneDisplay component
 */
.c-localizedPhonedisplay-large{
	font-size:30px;
	@media (max-width:@screen-md-min){
		font-size:26px;
	}
	@media (max-width:425px){
		font-size:20px;
	}
}

.c-localizedPhonedisplay-center{
	text-align:center;
	display:block;
}