.presentationDMPLanding{
	.lp17__section_topheader {
	    display: table-cell;
	    .blocleft {
		    width: 62%;		   
		    float: left;
		    margin-bottom: 30px;
		    @media (max-width: @screen-sm) {
			    width: 100% !important;
			    margin-bottom: 10px !important;
			}
		    p {
		    	font: 400 13px @f-open_sans;
			    font-size: 14px;
			    line-height: 26px;
			    padding: 5px 0;
			    text-align: center;
			   // margin-bottom: 30px;
			    
			}
			
			.blocleft_p {
			    font-size: 17px !important;
			    @media (min-width:@screen-md-min){ 
				    margin-bottom: 0;
				    padding-bottom: 0;
				}

			    
			}
		}
		.blocright {
		    width: 36%;		    
		    float: right;
		    height: 196px;
		    @media (max-width: @screen-sm) {
			    width: 100% !important;
			    margin-bottom: 30px !important;
			    text-align: center !important;
			}
		    img {
			    max-width: 100%;
			    width:100%;
			    @media (max-width: @screen-sm) {
			    	max-width:400px;
			    }
			}
		}
	}
}