.c-singleVoyageCards {

  .c-slider {
    margin-top: 10px;
  }
  .c-svg .meta_feature_inner .feature {
    float: none;
    margin-right: 5px;
  }

  .c-svg__result__link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .c-svg__result__content__price_isWaitList {
    margin-top: 24px !important;
    margin-bottom: 0px !important;
  }
  .c-svg__result__content__price_isNotWaitList {
    margin-bottom: 12px !important;
  }
  .c-svg__result__wrapper {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    margin-bottom: 5px !important;
    min-height: 367px;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .c-svg__result__image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    @media (min-width: 768px) {
      transform: scale(1.05);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 1s linear;
      -o-transition: all 1s linear;
      transition: all 0.5s linear;
    }
  }
  @media (min-width: 768px) {
    .c-svg__result__wrapper:hover .c-svg__result__image {
      transform: scale(1.0);
      -ms-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -o-transform: scale(1.0);
      opacity: 1;
    }
  }
  .c-svg__result__image:before {
    background-color: #000;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .c-svg__result__content__title {
    font-weight: bold;
    line-height: 1;
    margin: 0 0 3px;
    text-transform: uppercase;
  }
  .c-svg__result__content__button {
    position: relative;
    z-index: 1;
  }
  .c-svg__result__content__button .c-svg-btn-discover-more.btn {
    border: none;
    text-decoration: underline;
    display: block;
    text-align: center;
    padding-top: 6px;
  }
  .c-svg__result__content__price {
    font-size: 10px;
    text-transform: uppercase;
  }
  .c-svg__result__content__price .price-suffixe {
    display: block;
    font-size: 9px;
    color: #a3a3a3;
  }
  .c-svg__result__content__summary {
    border-left: transparent;
    border-right-color: transparent;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
  }
  .c-svg__result__content dl {
    margin-bottom: 0;
  }
  .c-svg__result:nth-child(odd) {
    clear: both;
    padding-right: 8px;
  }
  .c-svg__result:nth-child(even) {
    padding-left: 8px;
  }
  .c-svg__result__wrapper {
    border: 1px solid #d3d3d3;
    transition: background-color 0.3s ease-in-out;
  }
  .c-svg__result__image:before {
    transition: 0.5s;
  }
  @media (min-width: @screen-md-min) {
    .c-svg__result__wrapper:hover .c-svg__result__image:before {
      background-color: black !important;
      opacity: 0.3 !important;
      z-index: 24 !important;
    }

    .c-svg__result__wrapper:hover {
      background-color: #efefef;
    }

    .c-svg__result__wrapper:hover .c-svg__result__image {
      z-index: 25 !important;
    }
  }
  .c-svg__result__image {
    padding-top: 65%;
  }
  .c-svg__result__content {
    padding: 16px 16px 5px;
    position: relative;
  }
  .c-svg__result__content__description {
    border-top: 2px solid #6ABDBC;
    font-weight: 700;
    line-height: 18px;
    padding-top: 10px;
  }
  .c-svg__result__content__summary {
    border: 1px solid #ccc;
    display: flex;
    letter-spacing: -0.3px;
    margin-top: 7px;
    text-align: center;
  }
  .c-svg__result__content__summary__item {
    padding: 13px 5px 9px;
    width: 33.33333333%;
  }
  .c-svg__result__content__summary__item:not(:last-child) {
    border-right: 1px solid #ccc;
  }

  .c-svg__result__content__summary__item dl dt,
  .c-svg__result__content__summary__item dl dd {
    line-height: 1;
  }

  .c-svg__result__content__summary__item dl dt {
    color: #a3a3a3;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 6px;
  }
  .c-svg__result__content__summary__item dl strong {
    display: block;
    font-size: 12px;
    margin: 0;
  }
  .c-svg__result__content__price {
    font-size: 11px;
    line-height: 1;
    margin: 12px 0 0;
    text-align: center;
    min-height: 48px;
    display: block;
  }
  .c-svg__result:nth-child(odd),
  .c-svg__result:nth-child(even) {
    padding: 0;
  }

  .c-svg__results__wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .c-svg__result__content__price .price-prefixe {
    font-size: 11px;
    color: #a3a3a3;
  }
  .c-svg__result__content__price strong {
    color: #000;
    font-size: 16px;
    line-height: 1.3;
  }
  .c-singleVoyageCards .c-svg__result__content {
    padding-bottom: 70px;
    position: static;
  }

  .c-svg__result__content__button {
    width: 100%;
  }

  .c-svg__result__content__title {
    min-height: 32px;
    font-size: 16px;
    display: block;
  }
  .c-svg__result {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
    float: left;
    margin-bottom: 16px;
    width: 50%;
    position: relative;

  }
  .text_uppercase {
    text-transform: uppercase;
  }
  .text_lowercase {
    text-transform: lowercase;
  }
  .slick-prev {
    left: -55px;
  }
  .slick-next {
    right: -55px;
  }
  .c-slider--default .slick-dots {
    bottom: -20px
  }
  .c-svg__result__content {
    padding-bottom: 0px !important;
  }
  .sub_value {
    color: rgb(163, 163, 163);
    font-size: 11px;
  }
  .c-svg__result__content__button .btn {
    padding: 7px 8px 6px;
    color: #d60524;
    font-size: 11px;
    font-weight: 600;
  }
  .c-svg__result__content__summary {
    border-left: transparent;
    border-right-color: transparent;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
  }

  .c-svg__result__content__itinerary dd:not(:last-of-type):after {
    display: inline;
    content: "\00a0\f105\00a0";
    font-family: 'FontAwesome';
    font-size: 11px;
    font-weight: 400;
    margin-left: 3px;
  }

  .c-svg__result__content__itinerary dd {
    display: inline;
  }

  .fares {
    color: #a3a3a3;
    font-size: 11px;
    font-style: italic;
  }

  .c-svg__result__content__inner {
    min-height: 98px;
    display: block;
  }

  @media (max-width: @screen-md-min) {
    .slick-prev {
      left: -48px;
    }

    .slick-next {
      right: -48px;
    }

    .c-slider .slick-prev:before,
    .c-slider .slick-next:after {
      height: 20px;
      width: 20px;
      border-color: rgb(51, 51, 51) !important;
      opacity: 0.5;
      border-width: 0px 3px 3px 0px
    }

    .c-slider .slick-next:before, .c-slider .slick-prev:after {
      border: none;
    }

  }
  @media (max-width: @screen-sm) {
    .slick-prev {
      left: -45px;
    }

    .slick-next {
      right: -45px;
    }

    .div-fares {
      text-align: center;
    }

    .c-svg__result__content__summary__item dl strong {
      font-size: 12px;
    }
  }
}

.singleVoyageCardsNewDesign2018 {
  .singleVoyageCards {
    padding: 0px !important;
  }

  .c-svg__result__content__title {
    font-family: @freight !important;
    font-size: 19px !important;
    letter-spacing: .5px !important;
    font-weight: normal !important;
    min-height: 60px !important;
  }

  .c-slider {
    margin-bottom: 5px !important;
  }

  .div-fares {
    margin-left: 5px !important;
    margin-top: 26px;
  }

  .sub_value {
    text-transform: uppercase;
    color: black !important;
    opacity: 0.6 !important;
  }

  .c-svg__result__wrapper {
    background-color: white !important;
  }

  .c-svg__result__content {
    padding: 16px 9px 5px;
  }

  .c-svg__result__content__summary {
    border: none !important;
    margin-top: 20px !important;
    background-color: rgba(244, 244, 244, 0.6) !important;
    font-weight: normal !important;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    margin-top: 5px !important;

  }

  .c-svg__result__content__summary__item dl dd {
    font-family: @suisse !important;
  }

  .c-svg__result__content__summary__item dl strong {
    font-family: @suisse !important;
    letter-spacing: .5px !important;
    margin: 4px 0 !important;
    font-weight: normal !important;
  }

  .c-svg__result__content__price {
    margin-top: 20px !important;
    font-family: @suisse !important;
    font-size: 9px !important;
    letter-spacing: 1px !important;
    line-height: 11px !important;
    font-weight: normal !important;
  }

  .c-svg__result__content__price .price-prefixe, .c-svg__result__content__price .price-suffixe {
    color: #333 !important;
    text-transform: uppercase !important;
    br {
      display: none !important;
    }
  }

  .slick-prev:after,
  .slick-next:after {
    width: 30px !important;
    height: 30px !important;
    border-left: 0 solid transparent !important;
    border-right: 2px solid #171d47 !important;
    border-bottom: 2px solid #171d47 !important;
    border-top: 0 solid transparent !important;
    opacity: .8 !important;
  }

  .slick-prev:before,
  .slick-next:before {
    border: none !important;
  }

  .slick-dots li.slick-active button::before {
    background-color: rgb(15, 26, 110);
    border-radius: 0px !important;
  }

  .slick-dots li button::before {
    border-radius: 0px !important;
  }

  .slick-dots {
    position: absolute;
    white-space: nowrap;
    width: 98% !important;
    bottom: -20px !important;
    border-bottom: 1px solid rgb(153, 153, 153);
    overflow: hidden;
  }

  .slick-dots li.slick-active {
    vertical-align: bottom;
    height: 2px !important;
    margin: 0px !important;

  }

  .slick-dots li {
    vertical-align: bottom;
    height: 1px !important;
    margin: 0px !important;

  }
  .number-4 {
    .singleVoyageShipName {
      font-size: 10px !important;
      letter-spacing: 0.4px !important;
    }
  }
  @media (min-width: 992px) {
    .number-3 {
      .c-svg__result__content__summary__item dl strong {
        font-size: 18px !important;
      }
      .c-svg__result__content__summary__item .singleVoyageShipName {
        font-size: 13px !important;
      }
    }
  }
  @media (max-width: 991px) {
    .number-3 {
      .singleVoyageShipName {
        font-size: 9px !important;
        letter-spacing: 0.4px !important;
        padding-left: 2px !important;
      }
    }

    .slick-prev:after,
    .slick-next:after {
      width: 15px !important;
      height: 15px !important;
    }
  }

  @media (max-width: 767px) {
    .number-3, .number-4 {
      .c-svg__result__content__title {
        min-height: 35px !important;
      }
      .c-svg__result__content__summary__item dl strong.singleVoyageShipName {
        font-size: 12px !important;
      }
      .c-svg__result__content__summary__item dd strong {
        font-size: 17px !important;
      }
      .c-svg__result__content__summary {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 15px !important;
      }

      .slick-slide:not(.slick-current) {
        transform: scale(0.95);
        opacity: 0.4;
      }

      .slick-list {
        padding: 0px 25px;
      }
      .slick-slide {
        transition-duration: 1s;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: -5px !important;
        margin-right: -5px !important;
      }
      .slick-dots {
        width: 60% !important;
        bottom: -15px !important;
      }
      .c-svg__result__content__price  {
        strong {
          font-size: 18px !important;
        }
        .price-prefixe, .price-suffixe {
          font-size: 11px !important;
        }
      }

      .c-svg__result__content__button .btn {
        font-size: 12px !important;
      }
      .slick-dots {
        bottom: -10px !important;
      }
    }
  }

  .number-3 {
    c-svg__result__content__summary__item {
      padding: 15px !important;
      padding-left: 12px !important;
    }
    .c-svg__result__content__title {
      font-size: 21px !important;
    }
  }

}

