.c-smartbtn {
    span {
        font-family: @f-open_sans;
        i {
            float: right;
            line-height: initial;
        }
    }
}

@media(max-width: @screen-sm) {
    .c-smartbtn.btn-default:hover {
	    background-color: @black;
	}
	.c-smartbtn.btn-gray:hover {
	    background-color: @grey--c5;
	}
	.c-smartbtn.btn-red:hover {
	    background-color: @red;
	}
	.c-smartbtn.btn-white:hover {
	    background-color: @white;
	}
	
	.smartButton .textMobileCenter .c-smartbtn {
	    margin-left: auto !important; 
       margin-right: auto !important; 
	}
}


.smartButton{
	.innerSmart {
		@media (max-width:@screen-sm){
			max-width:280px;
			&.textMobileCenter {
				margin-left:auto;
				margin-right:auto;
			}
		}

	}
}