.c-testimonial {
	    max-width: 780px;
	    margin: 0 auto !important;
	    padding: 0 30px;
	    margin-top:10px;
	&-item {
		width: 100%;
		max-width: 650px;
		margin: 0 auto;
		&-content {
			&-text {
				margin-bottom: 30px;
				font-size: 17px;
				line-height: 1.6;
				font-style: italic;
				font-weight: 400;
				color: @grey--3;
				font-family:@f-sans_serif;
			}

			&-author {
			}
		}
	}
}

