//Desktop 
@media (min-width: @screen-lg-min){
	.maxHeightDesktop1005 {
	    max-height: 1005px !important;
	}
	
	.maxHeightDesktop1010 {
	    max-height: 1010px !important;
	}
	
	.maxHeightDesktop1015 {
	    max-height: 1015px !important;
	}
	
	.maxHeightDesktop1020 {
	    max-height: 1020px !important;
	}
	
	.maxHeightDesktop1025 {
	    max-height: 1025px !important;
	}
	
	.maxHeightDesktop1030 {
	    max-height: 1030px !important;
	}
	
	.maxHeightDesktop1035 {
	    max-height: 1035px !important;
	}
	
	.maxHeightDesktop1040 {
	    max-height: 1040px !important;
	}
	
	.maxHeightDesktop1045 {
	    max-height: 1045px !important;
	}
	
	.maxHeightDesktop1050 {
	    max-height: 1050px !important;
	}
	
	.maxHeightDesktop1055 {
	    max-height: 1055px !important;
	}
	
	.maxHeightDesktop1060 {
	    max-height: 1060px !important;
	}
	
	.maxHeightDesktop1065 {
	    max-height: 1065px !important;
	}
	
	.maxHeightDesktop1070 {
	    max-height: 1070px !important;
	}
	
	.maxHeightDesktop1075 {
	    max-height: 1075px !important;
	}
	
	.maxHeightDesktop1080 {
	    max-height: 1080px !important;
	}
	
	.maxHeightDesktop1085 {
	    max-height: 1085px !important;
	}
	
	.maxHeightDesktop1090 {
	    max-height: 1090px !important;
	}
	
	.maxHeightDesktop1095 {
	    max-height: 1095px !important;
	}
	
	.maxHeightDesktop1100 {
	    max-height: 1100px !important;
	}
	
	.maxHeightDesktop1105 {
	    max-height: 1105px !important;
	}
	
	.maxHeightDesktop1110 {
	    max-height: 1110px !important;
	}
	
	.maxHeightDesktop1115 {
	    max-height: 1115px !important;
	}
	
	.maxHeightDesktop1120 {
	    max-height: 1120px !important;
	}
	
	.maxHeightDesktop1125 {
	    max-height: 1125px !important;
	}
	
	.maxHeightDesktop1130 {
	    max-height: 1130px !important;
	}
	
	.maxHeightDesktop1135 {
	    max-height: 1135px !important;
	}
	
	.maxHeightDesktop1140 {
	    max-height: 1140px !important;
	}
	
	.maxHeightDesktop1145 {
	    max-height: 1145px !important;
	}
	
	.maxHeightDesktop1150 {
	    max-height: 1150px !important;
	}
	
	.maxHeightDesktop1155 {
	    max-height: 1155px !important;
	}
	
	.maxHeightDesktop1160 {
	    max-height: 1160px !important;
	}
	
	.maxHeightDesktop1165 {
	    max-height: 1165px !important;
	}
	
	.maxHeightDesktop1170 {
	    max-height: 1170px !important;
	}
	
	.maxHeightDesktop1175 {
	    max-height: 1175px !important;
	}
	
	.maxHeightDesktop1180 {
	    max-height: 1180px !important;
	}
	
	.maxHeightDesktop1185 {
	    max-height: 1185px !important;
	}
	
	.maxHeightDesktop1190 {
	    max-height: 1190px !important;
	}
	
	.maxHeightDesktop1195 {
	    max-height: 1195px !important;
	}
	
	.maxHeightDesktop1200 {
	    max-height: 1200px !important;
	}
	
	.maxHeightDesktop1205 {
	    max-height: 1205px !important;
	}
	
	.maxHeightDesktop1210 {
	    max-height: 1210px !important;
	}
	
	.maxHeightDesktop1215 {
	    max-height: 1215px !important;
	}
	
	.maxHeightDesktop1220 {
	    max-height: 1220px !important;
	}
	
	.maxHeightDesktop1225 {
	    max-height: 1225px !important;
	}
	
	.maxHeightDesktop1230 {
	    max-height: 1230px !important;
	}
	
	.maxHeightDesktop1235 {
	    max-height: 1235px !important;
	}
	
	.maxHeightDesktop1240 {
	    max-height: 1240px !important;
	}
	
	.maxHeightDesktop1245 {
	    max-height: 1245px !important;
	}
	
	.maxHeightDesktop1250 {
	    max-height: 1250px !important;
	}
}