//Desktop 
@media (min-width: @screen-lg-min){
	.viewHeightDesktop20 {
	    height: calc(~"20vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop20,
	.simplepage .viewHeightDesktop20 {
	    height: calc(~"20vh - 60px") !important;
	}
	
	.viewHeightDesktop25 {
	    height: calc(~"25vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop25,
	.simplepage .viewHeightDesktop25 {
	    height: calc(~"25vh - 60px") !important;
	}
	
	.viewHeightDesktop30 {
	    height: calc(~"30vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop30,
	.simplepage .viewHeightDesktop30 {
	    height: calc(~"30vh - 60px") !important;
	}
	
	.viewHeightDesktop35 {
	    height: calc(~"35vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop35,
	.simplepage .viewHeightDesktop35 {
	    height: calc(~"35vh - 60px") !important;
	}
	
	.viewHeightDesktop40 {
	    height: calc(~"40vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop40,
	.simplepage .viewHeightDesktop40 {
	    height: calc(~"40vh - 60px") !important;
	}
	
	.viewHeightDesktop45 {
	    height: calc(~"45vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop45,
	.simplepage .viewHeightDesktop45 {
	    height: calc(~"45vh - 60px") !important;
	}
	
	.viewHeightDesktop50 {
	    height: calc(~"50vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop50,
	.simplepage .viewHeightDesktop50 {
	    height: calc(~"50vh - 60px") !important;
	}
	
	.viewHeightDesktop55 {
	    height: calc(~"55vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop55,
	.simplepage .viewHeightDesktop55 {
	    height: calc(~"55vh - 60px") !important;
	}
	
	.viewHeightDesktop60 {
	    height: calc(~"60vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop60,
	.simplepage .viewHeightDesktop60 {
	    height: calc(~"60vh - 60px") !important;
	}
	
	.viewHeightDesktop65 {
	    height: calc(~"65vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop65,
	.simplepage .viewHeightDesktop65 {
	    height: calc(~"65vh - 60px") !important;
	}
	
	.viewHeightDesktop70 {
	    height: calc(~"70vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop70,
	.simplepage .viewHeightDesktop70 {
	    height: calc(~"70vh - 60px") !important;
	}
	
	.viewHeightDesktop75 {
	    height: calc(~"75vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop75,
	.simplepage .viewHeightDesktop75 {
	    height: calc(~"75vh - 60px") !important;
	}
	
	.viewHeightDesktop80 {
	    height: calc(~"80vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop80,
	.simplepage .viewHeightDesktop80 {
	    height: calc(~"80vh - 60px") !important;
	}
	
	.viewHeightDesktop85 {
	    height: calc(~"85vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop85,
	.simplepage .viewHeightDesktop85 {
	    height: calc(~"85vh - 60px") !important;
	}
	
	.viewHeightDesktop90 {
	    height: calc(~"90vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop90,
	.simplepage .viewHeightDesktop90 {
	    height: calc(~"90vh - 60px") !important;
	}
	
	.viewHeightDesktop95 {
	    height: calc(~"95vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop95,
	.simplepage .viewHeightDesktop95 {
	    height: calc(~"95vh - 60px") !important;
	}
	
	.viewHeightDesktop100 {
	    height: calc(~"100vh - 110px") !important;
	}
	
	.landingpage .viewHeightDesktop100,
	.simplepage .viewHeightDesktop100 {
	    height: calc(~"100vh - 60px") !important;
	}
}