<div class="c-cruise-ship-info" data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse">
    <h3 class="c-cruise__subtitle">${'restaurants' @ i18n}</h3>
    <p class="c-cruise__descr">Renowned for culinary excellence and innovative spirit, Silversea’s luxury cruises offer a choice of open-seating dining options throughout the fleet, as well as several specialty venues aboard all non-expedition ships.</p>

    <sly data-sly-use.itemVariationTemplate="itemvariationtemplate.html" data-sly-call="${itemVariationTemplate.default @ list=cruise.cruiseModel.ship.dinings}" />

    <div class="c-cruise-ship-info__item-expander">
        <a class="btn btn-dark expander-open" href=""><span>${'view-all-restaurants' @ i18n}</span><i class="fa fa-angle-down"></i></a>
        <!--/* <a class="btn btn-dark expander-close" href=""><span>${'close' @ i18n}</span><i class="fa fa-angle-up"></i></a> */-->
    </div>
</div>
