<div class="c-cruise-ship-info" data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse">
    <h3 class="c-cruise__subtitle">${'suites' @ i18n}</h3>
    <p class="c-cruise__descr">${'cruise-ship-suite-description' @ i18n}</p>

    <sly data-sly-use.itemVariationTemplate="itemvariationtemplate.html" data-sly-call="${itemVariationTemplate.default @ list=cruise.cruiseModel.suites}" />

    <div class="c-cruise__item-expander" data-sly-test="${cruise.cruiseModel.suites.size > 2}">
        <a class="btn btn-dark expander-open" href=""><span>${'view-all-suites' @ i18n}</span><i class="fa fa-angle-down"></i></a>
        <!--/* <a class="btn btn-dark expander-close" href=""><span>${'close' @ i18n}</span><i class="fa fa-angle-up"></i></a> */-->
    </div>
</div>
