<div class="feature-wrapper hidden-xs">
    <span><i class="icon-star"></i>Exclusive Offer</span>
    <span><i class="icon-shield-v"></i>Venetian Society</span>
    <span><i class="icon-chief-hat"></i>Wine And Gourmet</span>
    <span><i class="icon-food"></i>Culinary Expeditions</span>
    <span><i class="icon-lys"></i>Culinary Arts Voyage</span>
    <span><i class="icon-grappe"></i>Wine Series Voyage</span>
    <span><i class="icon-spade"></i>Bridge Sailings</span>
    <span><i class="icon-camera"></i>Photography Cruises</span>
    <span><i class="icon-meditation"></i>Wellness Cruises</span>
    <span><i class="icon-diving"></i>Diving Cruises</span>
    <span><i class="icon-parrot"></i>Birding</span>
    <span><i class="icon-bow-tie"></i>Gentlement Hosts</span>
</div>