<div id="additionalFilters" data-sly-use.fyc="com.silversea.aem.components.editorial.FindYourCruiseUse">
    <span class="filter-action">
        <i class="fa fa-mail-reply"></i> ${'perform-a-new-search' @ i18n}
    </span>
    <div class="header-h3">
        <span class="matching-title">${'your-search-results' @ i18n} :</span>
        <span class="matching-wrapper">
            <span class="matching-cruises-number">
                <span id="total_cruises">[total cruise number]</span>
            </span>
            <span class="matching-text">
                <span class="hide-on-desctop">${'matching' @ i18n}</span> ${'results' @ i18n}
            </span>
        </span>
    </div>
    <div class="filter-flex-title hidden-xs">
        ${'adjust-your-search-filters' @ i18n}
        <span id="clearButton" class="no-selection">
            <i class="fa fa-undo"></i>
            <a class="filter-action clear-selection">${'clear-all-filters' @ i18n}</a>
        </span>
    </div>

    <form class="c-find-your-cruise-filter" action="/">
        <div class="filter-flex-wrapper">
            <div class="filter-flex">
                <div class="single-filter">
                    <select class="chosen destinations-filter" name="destinationId">
                        <option>${'destination' @ i18n}</option>
                    </select>
                </div>
               <div class="single-filter">
                    <select class="chosen dates-filter" name="departureDate">
                        <option>${'departure-date' @ i18n}</option>
                    </select>
                </div>
                <div class="single-filter">
                    <select class="chosen durations-filter" name="duration">
                        <option>${'duration' @ i18n}</option>
                    </select>
                </div>
                <div class="single-filter">
                    <select class="chosen ships-filter" name="shipId">
                        <option>${'ship' @ i18n}</option>
                    </select>
                </div>
                <div class="single-filter">
                    <select class="chosen types-filter" name="cruiseType">
                        <option>${'cruise-type' @ i18n}</option>
                    </select>
                </div>
                <div class="single-filter">
                    <select class="chosen cities-filter" name="cityId">
                        <option>${'port' @ i18n}</option>
                    </select>
                </div>
                <div class="single-filter">
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="text-selected">${'more-features' @ i18n}</span><i class="fa fa-angle-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            <ul class="features-filter">
                                <li data-sly-repeat.tagModel="${fyc.featureTags}">
                                    <sly data-sly-test.tagID="${tagModel.tag.tagID}" />
                                    <sly data-sly-use.tagHelper="${'com.silversea.aem.helper.TagHelperUse' @ tagID=tagID}" />
                                    <label class="feature-name" for="${tagID}"><i class="${tagModel.resource.icon}"></i>${tagHelper.languageTitle}</label>
                                    <input id="${tagID}" type="checkbox" name="features[]" value="${tagID}" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-header-under">
            <button class="btn btn-dark btn-block effect">${'CLOSE' @ i18n}<span><i class="fa fa-angle-up slider-fa"></i></span></button>
            <button class="btn btn-dark btn-block effect">${'Refine Your Search' @ i18n}<span><i class="fa fa-angle-down slider-fa"></i></span></button>
        </div>
    </form>
</div>