<div class="fares">${'fares-shown-are-per-guest' @ i18n}</div>
<nav class="c-fyc-pagination"  data-sly-use.fyc="com.silversea.aem.components.editorial.FindYourCruiseUse" data-sly-test="${fyc.pagesNumber != 1}">
    <ul data-sly-list.page="${fyc.pagination}">
        <li data-sly-test.currentPage="${page}">
            <a href="#" data-page="${currentPage}" title="${currentPage}"
            class="${pageList.count == 2 ? 'previous': ''} ${pageList.count == 8 ? 'next': ''} ${page == fyc.activePage && pageList.count > 2 && pageList.count < 8 ? 'active' : ''}">
                <span data-sly-test="${pageList.count == 1}">${'first' @ i18n}</span>
                <span data-sly-test="${pageList.count == 2}">${'previous' @ i18n}</span>
                <span data-sly-test="${pageList.count == 8}">${'next' @ i18n}</span>
                <span data-sly-test="${pageList.count == 9}">${'last' @ i18n}</span>
                <span data-sly-test="${pageList.count > 2 && pageList.count < 8}">${page @ i18n}</span>
            </a>
        </li>
    </ul>
</nav>