<sly data-sly-use.use="com.silversea.aem.components.editorial.QuoteRequest" />
<form id="request-quote-form" action="" method="post" data-toggle="validator" class="c-form">
    <div class="form-group form-group-lg">
        <select name="title" class="form-control chosen">
            <option value="">${'title*' @ i18n}</option>
            <option value="Mr.">${'Mr.' @i18n}</option>
            <option value="Mrs.">${'Mrs.' @ i18n}</option>
            <option value="Miss">${'Miss' @ i18n}</option>
            <option value="Ms.">${'Ms.' @ i18n}</option>
            <option value="Dr.">${'Dr.' @ i18n}</option>
            <option value="Sir">${'Sir' @ i18n}</option>
            <option value="Lady">${'Lady' @ i18n}</option>
            <option value="Prof.">${'Prof.' @ i18n}</option>
            <option value="Lord">${'Lord' @ i18n}</option>
        </select>
        <div class="form-helper-error-text live">${'Please enter your title' @ i18n}</div>
    </div>
    <div class="form-group form-group-lg">
        <input type="text" name="firstName" class="form-control" placeholder="${'First Name*' @ i18n}">
        <div class="form-helper-error-text live">${'Please enter your first name' @ i18n}</div>
    </div>
    <div class="form-group form-group-lg">
        <input type="text" id="InputLastName" name="lastName" class="form-control" value="" placeholder="${'Last Name*' @ i18n}">
        <div class="form-helper-error-text live">${'Please enter your last name' @ i18n}</div>
    </div>
    <div class="form-group form-group-lg">
        <input type="email" id="InputEmail" name="email" class="form-control" value="" placeholder="${'Email Address*' @ i18n}">
        <div class="form-helper-error-text live empty">${'Please enter your email' @ i18n}</div>
        <div class="form-helper-error-text live incorrect">${'Incorrect Email Address' @ i18n}</div>
    </div>

    <div class="form-group form-group-lg" data-sly-include="selectcountry.html"></div>

    <div class="form-group form-group-lg textarea_autogrow">
        <textarea class="form-control textarea_autogrow__field" name="requestDetails" placeholder="${'Details About Your Request' @ i18n}"></textarea>
        <div class="textarea_autogrow__size"></div>
    </div>

    <p class="small text-muted">${'* Required Fields' @ i18n}</p>
    <div class="form-group form-group-lg">
        <div class="checkbox">
            <label><input type="checkbox" name="subscribe" checked> ${'Yes! I would like to receive emails with news and special offers from Silversea.' @ i18n}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-5">
            <button class="btn btn-red effect btn-block btn-lg" data-sscclicktype="RAQ"><span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i></button>
        </div>
    </div>
</form>