<template data-sly-template.vertical="${@ imagePath}">
    <div class="teaser-dco vertical cq-dd-image" style="
            --desktop-margin: ${properties.desktopMarginTop @ context='styleToken'}px 0 ${properties.desktopMarginBottom @ context='styleToken'}px 0;
            --desktop-padding: ${properties.desktopPaddingTop @ context='styleToken'}px 0 ${properties.desktopPaddingBottom @ context='styleToken'}px 0;
            --tablet-margin: ${properties.tabletMarginTop @ context='styleToken'}px 0 ${properties.tabletMarginBottom @ context='styleToken'}px 0;
            --tablet-padding: ${properties.tabletPaddingTop @ context='styleToken'}px 0 ${properties.tabletPaddingBottom @ context='styleToken'}px 0;
            --mobile-padding: ${properties.mobilePaddingTop @ context='styleToken'}px 0 ${properties.mobilePaddingBottom @ context='styleToken'}px 0;
            --mobile-margin: ${properties.mobileMarginTop @ context='styleToken'}px 0 ${properties.mobileMarginBottom @ context='styleToken'}px 0;
            "  data-ie-style="
            --desktop-margin: ${properties.desktopMarginTop @ context='styleToken'}px 0 ${properties.desktopMarginBottom @ context='styleToken'}px 0;
            --desktop-padding: ${properties.desktopPaddingTop @ context='styleToken'}px 0 ${properties.desktopPaddingBottom @ context='styleToken'}px 0;
            --tablet-margin: ${properties.tabletMarginTop @ context='styleToken'}px 0 ${properties.tabletMarginBottom @ context='styleToken'}px 0;
            --tablet-padding: ${properties.tabletPaddingTop @ context='styleToken'}px 0 ${properties.tabletPaddingBottom @ context='styleToken'}px 0;
            --mobile-padding: ${properties.mobilePaddingTop @ context='styleToken'}px 0 ${properties.mobilePaddingBottom @ context='styleToken'}px 0;
            --mobile-margin: ${properties.mobileMarginTop @ context='styleToken'}px 0 ${properties.mobileMarginBottom @ context='styleToken'}px 0;
            ">
        <div class="container-fluid">
            <div class="row">
                <div class="image" style="
                        --desktop-image-height: ${properties.desktopImageHeight @context='styleToken'}px;
                        --tablet-image-height: ${properties.tabletImageHeight @context='styleToken'}px;
                        --mobile-image-height: ${properties.mobileImageHeight @context='styleToken'}px;
                        " data-ie-style="
                        --desktop-image-height: ${properties.desktopImageHeight @context='styleToken'}px;
                        --tablet-image-height: ${properties.tabletImageHeight @context='styleToken'}px;
                        --mobile-image-height: ${properties.mobileImageHeight @context='styleToken'}px;
                        ">
                    <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"  data-sly-call="${imageTemplate.image @ imagePath=properties.imageFileReference}" />
                </div>
                <div class="title">${properties.title @ context='html'}</div>
                <div class="description" style="
                        --desktop-description-height: ${properties.desktopDescriptionHeight@context='styleToken'}px;
                        --tablet-description-height: ${properties.tabletDescriptionHeight@context='styleToken'}px;
                        --mobile-description-height: ${properties.mobileDescriptionHeight@context='styleToken'}px
                        " data-ie-style="
                        --desktop-description-height: ${properties.desktopDescriptionHeight@context='styleToken'}px;
                        --tablet-description-height: ${properties.tabletDescriptionHeight@context='styleToken'}px;
                        --mobile-description-height: ${properties.mobileDescriptionHeight@context='styleToken'}px
                        ">
                    ${properties.text @ context='html'}
                    <div data-sly-resource="${'parDCOTeaserVer' @ resourceType='wcm/foundation/components/responsivegrid'}" class="cta"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<template data-sly-template.horizontal="${@ imagePath}">
    <div class="teaser-dco horizontal cq-dd-image" style="
            --desktop-margin: ${properties.desktopMarginTop @ context='styleToken'}px 0 ${properties.desktopMarginBottom @ context='styleToken'}px 0;
            --desktop-padding: ${properties.desktopPaddingTop @ context='styleToken'}px 0 ${properties.desktopPaddingBottom @ context='styleToken'}px 0;
            --tablet-margin: ${properties.tabletMarginTop @ context='styleToken'}px 0 ${properties.tabletMarginBottom @ context='styleToken'}px 0;
            --tablet-padding: ${properties.tabletPaddingTop @ context='styleToken'}px 0 ${properties.tabletPaddingBottom @ context='styleToken'}px 0;
            --mobile-padding: ${properties.mobilePaddingTop @ context='styleToken'}px 0 ${properties.mobilePaddingBottom @ context='styleToken'}px 0;
            --mobile-margin: ${properties.mobileMarginTop @ context='styleToken'}px 0 ${properties.mobileMarginBottom @ context='styleToken'}px 0;
            " data-ie-style="
            --desktop-margin: ${properties.desktopMarginTop @ context='styleToken'}px 0 ${properties.desktopMarginBottom @ context='styleToken'}px 0;
            --desktop-padding: ${properties.desktopPaddingTop @ context='styleToken'}px 0 ${properties.desktopPaddingBottom @ context='styleToken'}px 0;
            --tablet-margin: ${properties.tabletMarginTop @ context='styleToken'}px 0 ${properties.tabletMarginBottom @ context='styleToken'}px 0;
            --tablet-padding: ${properties.tabletPaddingTop @ context='styleToken'}px 0 ${properties.tabletPaddingBottom @ context='styleToken'}px 0;
            --mobile-padding: ${properties.mobilePaddingTop @ context='styleToken'}px 0 ${properties.mobilePaddingBottom @ context='styleToken'}px 0;
            --mobile-margin: ${properties.mobileMarginTop @ context='styleToken'}px 0 ${properties.mobileMarginBottom @ context='styleToken'}px 0;
            ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 image" style="
                        --desktop-image-height: ${properties.desktopImageHeight @context='styleToken'}px;
                        --tablet-image-height: ${properties.tabletImageHeight @context='styleToken'}px;
                        --mobile-image-height: ${properties.mobileImageHeight @context='styleToken'}px;
                        " data-ie-style="
                            --desktop-image-height: ${properties.desktopImageHeight @context='styleToken'}px;
                            --tablet-image-height: ${properties.tabletImageHeight @context='styleToken'}px;
                            --mobile-image-height: ${properties.mobileImageHeight @context='styleToken'}px;
                            ">
                    <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"  data-sly-call="${imageTemplate.image @ imagePath=properties.imageFileReference}" />
                </div>
                <div class="col-xs-12 col-sm-6 text-container">
                    <div class="container-fluid">
                        <div class="row">
                            <small class="col-xs-8 col-xs-offset-2 slogan hidden-xs ${properties.subheaderFontColor @context='styleToken'}">${properties.subheader @ context='html'}</small>
                            <sly data-sly-use.iconAssetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = properties.iconFileReference}"></sly>
                            <div class="col-xs-6 hidden-xs col-xs-offset-3" data-sly-test="${properties.iconFileReference}">
                                <img class="teaser-dco-icon" 
                                     src="${iconAssetHelper.imageUrl}?fmt=png-alpha"
                                />
                            </div>
                            <div class="col-xs-12 title">${properties.title @ context='html'}</div>
                            <div class="col-xs-12 description">
                                ${properties.text @ context='html'}
                                <div data-sly-resource="${'parDCOTeaserHor' @ resourceType='wcm/foundation/components/responsivegrid'}" class="cta"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
