<template data-sly-template.default="${@ model}">
    <div class="lg-port-excursion">
        <sly data-sly-test.excursions="${model.excursions }"/>
        <sly data-sly-test.mid="${model.mid }"/>

        <sly data-sly-test.hasExcursions="${excursions.size > 0}"></sly>
        <sly data-sly-test.hasMid="${mid.size > 0}"></sly>

        <sly data-sly-test="${hasExcursions || hasMid}">
            <div class="lg-port-excursion-title">
                <sly data-sly-test="${hasExcursions}">
                    ${excursions.size} ${(excursions.size>1 ? 'excursions' : 'excursion') @i18n}
                </sly>
                <sly data-sly-test="${hasMid && hasExcursions}">
                    &
                </sly>
                <sly data-sly-test="${hasMid}"> ${mid.size} ${'land-programmes'  @i18n}
                </sly>
            </div>
            <div class="lg-port-excursion-list">
                <div class="lg-port-excursion-list--item" data-sly-repeat.excursion="${model.shorex}">
                    <div class="lg-port-excursion-list--item-inner">
                        <div class="icon-part">
                            <i class="material-icons icon">
                                stop
                            </i>
                        </div>
                        <div class="content-part">
                            ${excursion}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr data-sly-test="${!excursionList.last}"/>
                </div>
            </div>
        </sly>
    </div>
</template>