<div data-sly-test="${wcmmode.edit}" class="cq-placeholder " data-emptytext="Video Custom Thumbnail- (#video-custom-thumbnail-${properties.sscUUID})">
</div>
<div id="video-custom-thumbnail-${properties.sscUUID}" class="video-custom-thumbnail cq-dd-image ${properties.fullWidthMobile ? 'fullWidthVideoMobile': ''}" data-video-asset="${properties.videoReference}" data-video-thumbnail="${properties.
videoThumbnail || properties.videoReference}" data-video-autoplay="${properties.autoplay || '0'}"></div>
