<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Find your cruise"></div>
<div id="destination-fyc-switchable-block" class="c-fyc destination-switchable-block">
    <sly data-sly-include="/apps/silversea/silversea-com/components/editorial/findyourcruise/filter.html" />

    <div class="voyage-overview fyc-v2">
        <div class="th-style hidden-xs">
            <span>${'departure' @ i18n}</span>
            <span>${'ship' @ i18n} / ${'voyage' @ i18n}</span>
            <span>${'features' @ i18n}</span>
            <span>${'ports' @ i18n}</span>
            <span>${'fares-form'} <span>(${'per-guest' @ i18n})</span></span>
        </div>
        <div class="result__wrapper">
            <sly data-sly-include="/apps/silversea/silversea-com/components/editorial/findyourcruise/resutlitem2.html" />
        </div>
    </div>
    <sly data-sly-include="/apps/silversea/silversea-com/components/editorial/findyourcruise/pagination.html" />
    <sly data-sly-include="/apps/silversea/silversea-com/components/editorial/findyourcruise/featuresnote.html" />
</div>
