<template data-sly-template.navigation="${ @ cruise }">
    <div class="cruise-2018-menu-container-wrapper">
        <div class="cruise-2018-menu-container">
            <div class="cruise-2018-menu ssc-table-full-width">
                <div class="row-menu-overview">
                    <sly data-sly-use.menu="/apps/silversea/silversea-com/components/pages/cruise2018/templates/menu.html"
                         data-sly-call="${menu.overview @ cruise=cruise}"/>
                </div>
                <div class="row-menu-navigation">
                    <a href="#cruise2018offers" data-sly-test="${cruise.exclusiveOffers.size>0}"
                       class="cruise-2018-menu-tab ssc-cell-full-width cruise-2018-menu-tab-first">
                        <span class="cruise-2018-menu-tab-text">${'offers' @i18n}</span>
                    </a>
                    <a href="#cruise2018itinerary"
                       class="cruise-2018-menu-tab ssc-cell-full-width cruise-2018-menu-tab-second">
                        <span class="cruise-2018-menu-tab-text-big">${'itinerary-and-excursions' @ i18n}</span>
                        <span class="cruise-2018-menu-tab-text-small">${'itinerary' @ i18n}</span>
                    </a>
                    <a href="#cruise2018suites"
                       class="cruise-2018-menu-tab ssc-cell-full-width cruise-2018-menu-tab-third">
                        <span class="cruise-2018-menu-tab-text-small">${'suites' @i18n}</span>
                        <span class="cruise-2018-menu-tab-text-big">${'suites-and-fares' @i18n}</span>
                    </a>
                    <a href="#cruise2018ship"
                       class="cruise-2018-menu-tab ssc-cell-full-width cruise-2018-menu-tab-fourth">
                        <span class="cruise-2018-menu-tab-text-big">${'ship' @i18n}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<template data-sly-template.overview="${ @ cruise }">
    <div class="menu-overview-fixed">
        <div class="menu-container">
            <div class="menu-overview-destination col-sm-6 col-md-4">
                <span class="departurePort">${cruise.cruiseModel.departurePortName}</span>
                <span class="to">${'to' @ i18n}</span> ${cruise.cruiseModel.arrivalPortName}
            </div>
            <div class="menu-date-days col-sm-3 hidden-xs hidden-sm">
                <div
                        data-sly-use.dateStartDay="${'com.silversea.aem.helper.DateHelper' @ format='MMM dd', date=cruise.cruiseModel.startDate}"
                        data-sly-use.dateEndDay="${'com.silversea.aem.helper.DateHelper' @ format='MMM dd', date=cruise.cruiseModel.endDate}"
                        data-sly-use.dateYear="${'com.silversea.aem.helper.DateHelper' @ format='yyyy', date=cruise.cruiseModel.startDate}">
                    ${dateStartDay.value} ${'to' @ i18n} ${dateEndDay.value} ,${dateYear.value}
                </div>
                ${cruise.cruiseModel.duration}
                ${'days' @ i18n}
            </div>
            <div class="menu-price-raq col-sm-6 col-md-5 hidden-xs">
                <div class="menu-quote-price col-sm-5 col-md-6">
                    <sly data-sly-test="${cruise.isWaitlist}">
                        <div class="waitlist">${'waitlist' @ i18n}</div>
                    </sly>
                    <sly data-sly-test="${!cruise.isWaitlist}">
                        <div class="from ${cruise.lowestPrice.earlyBookingBonus ? 'display-inline' : ''}">${'from' @ i18n}</div>
                        <div class="price ${cruise.lowestPrice.earlyBookingBonus ? 'display-inline' : ''}">
                            ${cruise.lowestPrice.currency @ i18n} ${cruise.computedPriceFormatted}
                        </div>
                        <div class="early-booking" data-sly-test="${cruise.lowestPrice.earlyBookingBonus}">
                            ${'with-early' @ i18n} ${'booking-bonus' @ i18n}
                        </div>
                    </sly>
                </div>
                <div class="menu-raq col-sm-7 col-md-6">
                    <a class="raq-quote-btn btn btn-thin btn-red effect"
                       id="menu-overview-raq"
                       data-sly-test.appendSuffix="${'{0}{1}' @ format=[cruise.suite.name, '.html']}"
                       href="${cruise.requestQuotePagePath @ extension='html', selectors='s', suffix=pageProperties.cruiseCode, appendSuffix=appendSuffix}"
                       data-sscclicktype="clic-RAQ">
                        <span>${'request-quote' @i18n}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>