<template data-sly-template.default="${ @ cruise }">
    <div class="cruise-2018-next-prev-block">
        <a data-sly-test="${cruise.previous}" href="${cruise.previous @ extension='html'}" class="previous-block">
            <div class="previous-arrow">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="previous-content">
                <div class="previous-label">${'previous-voyage' @ i18n}</div>
                <div class="previous-title">
                    <span>${cruise.previousDeparture} <span>${'to' @ i18n}</span> ${cruise.previousArrival}</span></div>
            </div>
        </a>
        <a data-sly-test="${cruise.next}" href="${cruise.next @ extension='html'}" class="next-block">
            <div class="next-arrow">
                <i class="fa fa-angle-right"></i>
            </div>
            <div class="next-content">
                <div class="next-label">${'next-voyage' @ i18n}</div>
                <div class="next-title"><span>${cruise.nextDeparture} <span>${'to' @ i18n}</span> ${cruise.nextArrival}</span>
                </div>
            </div>

        </a>
        <div class="clearfix"></div>
    </div>
</template>
