<template data-sly-template.default="${ @ offers, offersNumber, isVenetian, odd, VSLBPath }">
    <div class="offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer" id="menu-cruise2018offers"
         data-sly-test="${offersNumber!=0}">
        <div class="offers-title">
            <sly data-sly-test="${offersNumber == 1}">${ 'offer-for-this-cruise' @ i18n}</sly>
            <sly data-sly-test="${offersNumber > 1}">${ 'offers-for-this-cruise' @ i18n}</sly>
        </div>
        <div class="row offer-slider ${offersNumber > 1  ? 'offer-slider-padding' : ''}">
            <sly data-sly-list.offer="${offers}">
                <div class="col-sm-6 offer-item ">
                    <div data-sly-element="${offer.exclusiveOfferPath ? 'a' : 'div'}"
                         href="${offer.exclusiveOfferPath @ extension='html', selectors=['modalcontent' , '2018']}"
                         rel="nofollow"
                         id="lb-offer-${offerList.index}"
                         data-toggle="modal" class="offer-slider-container open-lightbox-offer"
                         data-target=".lightbox">
                        <div class="offer-slider-icon-container">
                            <sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = offer.voyageIcon}" />
                            <div class="offer-slider-icon"><img
                                    src="${assetHelper.imageUrl @ context='uri'}?fmt=png-alpha&wid=60"/>
                            </div>
                        </div>
                        <div class="offer-slider-text">
                            <div class="offer-slider-title">${offer.title}</div>
                            <div class="offer-slider-description"> ${offer.description @ context='html'}
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
            <div class="col-sm-6 offer-item"
                 data-sly-test="${isVenetian}">
                <div data-sly-element="${VSLBPath ? 'a' : 'div'}"
                     href="${VSLBPath  @ extension='html', selectors=['modalcontent']}"
                     rel="nofollow"
                     data-toggle="${VSLBPath ? 'modal' : ''}" class="offer-slider-container  ${VSLBPath ? 'open-lightbox-offer' : ''}"
                     data-target="${VSLBPath ? '.lightbox' : ''}">
                    <div class="offer-slider-icon-container">
                        <div class="offer-slider-icon"><i class="icon-shield-v"></i></div>
                    </div>
                    <div class="offer-slider-text">
                        <div class="offer-slider-title"> ${'VS-EO-Title' @ i18n}</div>
                        <div class="offer-slider-description">${'VS-EO-Message' @ i18n} </div>
                    </div>
                </div>
            </div>
        </div>
       <!--/* <div class="offers-btns hidden-xs" data-sly-test="${(offersNumber > 2)}">
            <a data-ssc-accordion="show" class="btn btn-thin btn-white offers-show-btn" href="#">
                <span class="offers-accordion-button">${'view-all-offers' @ i18n}</span>
                <span class="offers-accordion-button" style="display:none">${'view-less' @ i18n}</span>
            </a>
        </div>*/-->
    </div>
</template>
