.c-pageheader {
    &__subtitle {
        &--small {
            border-bottom: 1px solid @grey--d;
            @media screen and (max-width: @screen-sm) {
                background-color: @grey--3;
                color: @white;
            }
        }
    }
}