.c-pagination-number {
    a {
        &:hover {
            background-color: @grey--eb;
        }
        &.active {
            background-color: @black;
            color: @white;
        }
    }
}