.exclusiveOfferList {
	.c-teaser__wrapper__title {
	    font-size: 30px;
	  	@media screen and (min-width:@screen-md-min) and (max-width: @screen-md-max) {
	  		font-size: 21px;
	  	}	  	
	  	@media screen and (max-width: @screen-sm) {
	  		font-size: 25px;	  		
	  		}
	}
}

