.c-inline-gallery-landing {
    .c-inline-gallery {
		&__title {		
            font-family: theanodidot;          
            font-size: 35px;          
			 @media (max-width:@screen-sm) { 
                font-size: 25px;
            }
        }
        &__description {           
		    font-family:@suisse;
		    font-size: 15px;		                
             @media (max-width:@screen-sm) {
                font-size: 14px;
            }
        }
    }
    .c-inline-gallery__item-expander {
            .btn {
                font-size: 11px;            
            }
    }
}
