.c-landingBackgroundContainer{		
	.lp17__section_header {
	    .lp17__section_header_subtitle {
		    font-size: 20px;
		    @media (max-width: 700px){
		    	font-size:14px;
		    }
		}		
		.lp17__section_header_title {
		    font-family: @freight;
		    font-size: 50px;
		    @media (max-width: 700px){
		    	font-size:28px;
		    }
		}			    
	    .dmpTitleStyle{
	    	.lp17__section_header_title {
	    		 font-family: @suisse !important;	    		
			    font-size: 18px;			    			   
	    	}	    	
	    	.lp17__section_header_subtitle {
    		    font-size: 36px;
    		    font-family: @freight !important;			   
	    		@media (max-width: 700px){
		    		font-size:28px;
		    	}
	    	}
	    }
	}		
	.container {
		font-family: @f-lato;    	
	}
}

.landingBackgroundContainer{	
	.goldText{
		.lp17__section_header_subtitle {
			    font-size: 36px;
		}
		.lp17__section_header_title {
			font-size: 35px;
			font-family:@suisse;
		}
	}
	
	.lp17__section_header_h1 {
	 	font-size: 36px;
	    font-family: @freight !important;
		@media (min-width: 	@screen-md-min) and (max-width:1023px) {
				font-size: 30px;
			}			
			@media (max-width: @screen-sm) {
				font-size: 26px;
			}
	}
}

.landingBackgroundContainer  .c-landingBackgroundContainer-2017Landing, .landingBackgroundContainer  .c-landingBackgroundContainer-NSW4Landing {
		.lp17__section_header_subtitle {
			@media (max-width: @screen-sm) {
				font-size: 27px;
				font-family: @suisse;
			}
		}
		
		a.btn-lg {			
			span {
				font-size: 14px;    			
    			@media (max-width: @screen-sm) {
    				font-size: 12px;
    			}
    			
			}
		}
}
