<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Destination display properties"></div>
<div class="o-area-property-display">
    <div class="text ab-test-global-v1">
        ${pageProperties.longDescription || pageProperties.jcr:description @ context='html'}
    </div>

    
    <div data-sly-resource="${'parBVersion' @ resourceType='wcm/foundation/components/responsivegrid'}"  class="ab-test-global-v2"></div>
    <div id="destination-fyc-switcher" class="switcher-text-link hidden hidden_mobile">${'destination-view-cruise' @ i18n}</div>
    <div id="destination-html-switchable-block" class="destination-switchable-block hidden">
        <div class="o-section o-description"></div>
    </div>
    <div data-sly-resource="${'findyourcruise' @ resourceType='silversea/silversea-com/components/editorial/findyourcruise'}"></div>
</div>