.c-cruise-ship-info {
    .c-cruise-ship-info__item {
        .variationcontent {
            &__title {
                font-size: @h3-desktop-fontsize-30;               
                font-family: @freight;
                @media screen and (max-width: @screen-sm) {
                    font-size: @h3-mobile-fontsize-24;                  
                }
            }
            &__descr {             
                font-size: @body-desktop-fontsize-14;              
                &__expand {                  
                    font-size: @button-desktop-fontsize-12;
                 
                }
            }
        }
    }
}