.c-cruise-keypeople {   
    .keypeople__slider {
        &-item {           
            .wrapper {               
                .keypeople--identity {
                    font-size: 13px;
                   
                }

                .keypeople--profession {
                    font-size: 13px;
                }

                strong {
                    font-size: 12px;      
                }
            }
        }
    }
}

.keypeople__details {

    &--identity {
        font-family: @freight;
        font-size: 24px;       
        @media screen and (max-width: @screen-xs) {
            font-size: 20px;
        }
    }

    &--profession {
        font-size: 13px;       
    }

    &--descr {
        font-size: 13px;        
    }   
}
