.c-cruise-highlights {
    &__content {       
        /* /!\ This following style override the style inline */
        h1,
        h2,
        h3 {
            font-family: @freight-bold;          
            font-size: @h4-desktop-fontsize-26;                   
        }
       
        &--expand {
            a {
                font-size: @body-mobile-fontsize-12;
            }
        }
    }
}
