.c-cruise {
    .c-tab__content {
        &--overview {    
            .voyage {
                &table {                  
                    font-size: 13px;           
                    &__elem {               
                        .lead {                           
                            font-size: 25px;                          
                            @media screen and (max-width: @screen-xs) {
                                font-size: 20px;
                            }
                        }    
                    }
                }

                &img {

                    &__info {                        
                        font-size: 14px;                     
                    }

                    &__label {
                        font-size: 12px;                       
                    }
                }

                &feature {                   
                    font-size: 13px;    
                }

                &share_wrap {                   
                    .share {                       
                        font-size: 18px;                      
                    }
                }
            }
        }
    }
}
