.c-cruise-ship-info {
    .c-cruise-ship-info__item {
        .variationcontent {
            &__title {
                font-size: 30px;               
                font-family: @freight;
                @media screen and (max-width: @screen-sm) {
                    font-size: 25px;                  
                }
            }
            &__descr {             
                font-size: 13px;              
                &__expand {                  
                    font-size: 12px;
                 
                }
            }
        }
    }
}