.c-cruise-keypeople {   
    .keypeople__slider {
        &-item {           
            .wrapper {               
                .keypeople--identity {
                    font-size: @body-desktop-fontsize-14;
                   
                }

                .keypeople--profession {
                    font-size: @body-desktop-fontsize-14;
                }

                strong {
                    font-size: @footnote-desktop-fontsize-11;      
                }
            }
        }
    }
}

.keypeople__details {

    &--identity {
        font-family: @freight-bold;
        font-size: @subheader-desktop-fontsize-24;       
        @media screen and (max-width: @screen-xs) {
            font-size: @subheader-mobile-fontsize-20;
        }
    }

    &--profession {
        font-size: @body-desktop-fontsize-14;       
    }

    &--descr {
        font-size: @body-desktop-fontsize-14;        
    }   
}
