.c-cruise {
    .c-cruise__gallery {
        &__label {          
            font-size: @label-desktop-fontsize-12;
            padding-top: 7px;
    		padding-bottom: 4px;
        }

        &__item {        
            &__caption {                
                font-size: @label-desktop-fontsize-12;                
            }
        }
    }
}
