.cruise__header {   
    .cruise__header__title {       
        font-size: @h1-desktop-fontsize-48;       
        font-family: @freight-bold;       
        @media screen and (max-width: @screen-sm) {
            font-size: @h1-mobile-fontsize-34;
        }     
    }

    .cruise_header__subtitle {       
        font-size: @body-desktop-fontsize-16;        
        font-family: @suisse;

        &_ship {
            font: italic 16px @f-playfair-display;          
            font-size: @kicker-desktop-fontsize-18;         
        }
    }

    .cruise__header__desc {
      
        .cruise__header__txt {           
            font-size: @body-desktop-fontsize-14;          
            p {
                font-size: @body-desktop-fontsize-14;
            }
        }
    }

    .cruise__header__meta {     
        font-size: @body-mobile-fontsize-12;
        .cruise__header__nextprev {
            a:nth-child(2):before {                
                font-size: 11px;
            }
        }
    }
}
