@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.bodyLightboxSimple {
  overflow: hidden !important;
  @media (max-width: @screen-sm) {
    height: 0;
  }
}
#lightbox-simple-content{
  min-height: 60vh;
}
