.benefitsandevents.c-vertical-teaser {

    .c-vertical-teaser__caption {
        padding: 20px 20px 50px;
        height: auto;

        .c-vertical-teaser__title {
            margin-bottom: 15px;
        }

        .c-vertical-teaser__link {

            .c-vertical-teaser__label {
                font-size: 12px;
                font-weight: 700;
            }
        }
    }

    &:hover {
        .o-img {
            opacity: 1;
        }
    }
}
