<sly data-sly-use.pressReleaseListUse="com.silversea.aem.components.included.PressReleaseListUse"
    data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html" />

<div class="row c-pressreleaseslist" data-sly-list.pressRelease="${pressReleaseListUse.pressReleasesCurrent}">
    <div class="col-sm-6">
        <div class="c-pressreleaseslist__teaser">
            <div class="c-pressreleaseslist__image">
	        	<sly data-sly-call="${imageTemplate.default @ imagePath=pressRelease.thumbnail}" />
            </div>
            <div class="c-pressreleaseslist__description">
                <h4 class="c-pressreleaseslist__date" data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='MMMMM dd, yyyy', date=pressRelease.publicationDate}">
                    <strong>${'date' @ i18n}:</strong> ${date.value}
                </h4>
                <h3 class="c-pressreleaseslist__title">${pressRelease.title}</h3>
                <a class="c-pressreleaseslist__link" href="${pressRelease.path @ extension='html'}"><span>${'more' @ i18n}</span><i class="fa fa-angle-right"></i></a>
            </div>
            <a href="${pressRelease.path @ extension='html'}" class="c-pressreleaseslist__link-overlay"></a>
        </div>
    </div>
</div>
<div class="c-pagination-number">
    <ul data-sly-test.pagination="${pressReleaseListUse.pagination}" class="clearfix">
        <li data-sly-test.previousPageIndex="${pressReleaseListUse.previousPageIndex}">
            <a href="${currentPage.path @ extension='html', suffix=firstItem}" title="1" data-sly-test.firstItem="1.html"> ${'first' @ i18n}</a>
        </li>
        <li data-sly-test="${previousPageIndex}">
           <a href="${currentPage.path @ extension='html', suffix=previousPageIndexSuffix}" data-sly-test.previousPageIndexSuffix="${'{0}{1}' @ format=[pressReleaseListUse.previousPageIndex, '.html']}"   title="${previousPageIndexSuffix}">&#8592; ${'previous' @ i18n}</a>
        </li>
        <li data-sly-repeat.page="${pagination}" >
            <a href="${currentPage.path @ extension='html', suffix=pageSuffix}" data-sly-test.pageSuffix="${'{0}{1}' @ format=[page, '.html']}"
                class="${pressReleaseListUse.currentPageIndex == page ? 'active' : ''}">
                ${page}
            </a>
        </li>
        <li data-sly-test.nextPageIndex="${pressReleaseListUse.nextPageIndex}">
            <a href="${currentPage.path @ extension='html', suffix=nextPageIndexSuffix}" title="${nextPageIndex}" data-sly-test.nextPageIndexSuffix="${'{0}{1}' @ format=[pressReleaseListUse.nextPageIndex, '.html']}">${'next' @ i18n} &#8594;</a>
        </li>
        <li data-sly-test="${pressReleaseListUse.nextPageIndex}" >
            <a href="${currentPage.path @ extension='html', suffix=lastItem}" title="${pressReleaseListUse.pressReleasePartition.size}" data-sly-test.lastItem="${'{0}{1}' @ format=[pressReleaseListUse.pressReleasePartition.size, '.html']}">${'last' @ i18n}</a>
        </li>
    </ul>
</div>

