<template data-sly-template.default="${ @ cruise }">
    <div class="c-suitelist" role="tablist">
        <h3 class="c-cruise__subtitle">${'select-your-suite-and-request-a-quote' @i18n}</h3>
        <p class="c-cruise__descr hidden-xs">${'cruise-suites-and-fares-descr' @i18n}</p>

        <div data-sly-repeat="${cruise.prices}" class="panel c-suitelist__item ${itemList.count == 1 ? 'c-suitelist__item--first' : ''}">
            <div role="tab" class="clearfix c-suitelist__heading collapsed" data-target="#suitelist-collapse-${itemList.index}"
                 data-toggle="collapse" data-parent=".c-suitelist" aria-expanded="false" aria-controls="suitelist-collapse-${itemList.index}">
                <div class="c-suitelist__image" data-sly-use.target="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}">
                    <sly data-sly-test="${item.suite.thumbnail}"
                        data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
                        data-sly-call="${imageTemplate.lazy @ imagePath=item.suite.thumbnail, width=930}" />
                </div>
                <div class="c-suitelist__detail">
                    <span class="c-suitelist__detail__title alternative-h" data-sly-text="${item.suite.title}"></span>
                    <p class="c-suitelist__detail__description">${item.suite.suiteSubTitle @ context='html'}</p>
                </div>
                <div class="c-suitelist__price">
                    <span>${'fares-from' @ i18n}</span>
                    <span data-sly-test="${item.isWaitList}" class="c-suitelist__price__text c-suitelist__price__text--important"><br />${'waitlist' @ i18n}</span>
                    <sly data-sly-test="${!item.isWaitList}">
                        <span data-sly-test="${!item.isWaitList}" class="c-suitelist__price__text">
                            <span data-sly-test.early="${item.lowestPrice.earlyBookingBonus}"
                                data-sly-use.priceHelper="${'com.silversea.aem.helper.PriceHelper' @ value = item.lowestPrice.price}">
                                <small>${item.lowestPrice.currency @ i18n} ${priceHelper.valueFormatted}</small><br />
                            </span>
                            <strong class="c-suitelist__price__text--important2">
                                ${item.lowestPrice.currency @ i18n} ${item.computedPriceFormated}
                            </strong>
                        </span>
                        <span data-sly-test="${early}" class="price-suffixe">
                            ${'with-early' @ i18n} <br />${'booking-bonus' @ i18n}
                        </span>
                    </sly>
                </div>
                <div class="c-suitelist__button">
                    <a class="btn btn-thin btn-red effect btn-thin request-quote" data-sly-test.appendSuffix="${'{0}{1}' @ format=[item.suite.name, '.html']}"
                        href="${cruise.requestQuotePagePath @ extension='html', selectors='s', suffix=pageProperties.cruiseCode, appendSuffix=appendSuffix}" data-sscclicktype="clic-RAQ">
                        <span>${'request-quote' @i18n}</span><i class="fa fa-angle-right"></i>
                    </a>
                    <button class="btn btn-thin btn-white btn-thin effect hidden-xs">
                        <span>${'discover-more' @ i18n}</span><i class="fa fa-angle-right"></i>
                    </button>
                </div>
            </div>
            <div id="suitelist-collapse-${itemList.index}" class="c-suitelist__collapse collapse clearfix" role="tabpanel" aria-labelledby="suitelist-collapse-${itemList.index}">
                <div class="c-tab c-tab__accordion">
                    <a href="#suitelist-collapse-${itemList.index}" class="collapse-close text-uppercase suitelist-collapse-close" data-toggle="collapse"
                       data-parent=".c-suitelist" aria-expanded="false" aria-controls="suitelist-collapse-${itemList.index}">
                        <i class="fa fa-times"></i> ${'close' @ i18n}
                    </a>
                    <ul class="c-tab__nav dropdown-menu" data-toggle="dropdown" aria-expanded="false">
                        <li class="c-tab__link c-tab__link--button" data-state="active">
                            <a href="#description-${itemList.index}"><span>${'description' @i18n}</span></a>
                        </li><li class="c-tab__link c-tab__link--button" data-sly-test="${item.suite.plan}">
                            <a href="#suite-plan-${itemList.index}"><span>${'suite-plan' @i18n}</span></a>
                        </li><li class="c-tab__link c-tab__link--button">
                            <a href="#feature-${itemList.index}"><span>${'features' @i18n}</span></a>
                        </li><li class="c-tab__link c-tab__link--button" data-sly-test="${item.suite.locationImage}">
                            <a href="#suite-location-${itemList.index}"><span>${'suite-location' @i18n}</span></a>
                        </li><li class="c-tab__link c-tab__link--button" data-sly-test="${item.suite.virtualTour}">
                            <a href="#virtual-tour-${itemList.index}" class="cruise-suite-virtual-tour"><span>${'virtual-tour' @i18n}</span></a>
                        </li>
                    </ul>
                    <div class="c-tab__body">
                        <div class="c-tab__content c-tab__content--description" id="description-${itemList.index}" data-state="active">
                            <!--/* Description tab */-->
                            <sly data-sly-use.descriptionTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/description.html"
                                 data-sly-call="${descriptionTemplate.default @ suitePrice=item, requestQuotePath=cruise.requestQuotePagePath}"/>
                        </div>
                        <div class="c-tab__content c-tab--suite-plan" id="suite-plan-${itemList.index}" data-sly-test="${item.suite.plan}">
                            <!--/* Suite plan tab */-->
                            <sly data-sly-use.suitePlanTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/suiteplan.html"
                                 data-sly-call="${suitePlanTemplate.default @ suite=item.suite}"/>
                        </div>
                        <div class="c-tab__content c-tab__content--feature" id="feature-${itemList.index}">
                            <!--/* Features tab */-->
                            <sly data-sly-use.featureTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/feature.html"
                                 data-sly-call="${featureTemplate.default @ suite=item.suite}"/>
                        </div>
                        <div class="c-tab__content c-tab__content--suite-location" id="suite-location-${itemList.index}" data-sly-test="${item.suite.locationImage}">
                            <!--/* Suite location tab */-->
                            <sly data-sly-use.suiteLocationTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/suitelocation.html"
                                 data-sly-call="${suiteLocationTemplate.default @ suite=item.suite, index=itemList.index}"/>
                        </div>
                        <div class="c-tab__content c-tab__content--virtual-tour" id="virtual-tour-${itemList.index}" data-sly-test="${item.suite.virtualTour}">
                            <!--/* Virtual tour tab */-->
                            <sly data-sly-use.virtualTourTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/virtualtour.html"
                                 data-sly-call="${virtualTourTemplate.virtualTour @ suite=item.suite, index=itemList.index}"/>
                        </div>
                    </div>
                    <sly data-sly-use.fareTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/fare.html"
                         data-sly-call="${fareTemplate.default @ variations=item.pricesVariations, requestQuotePath=cruise.requestQuotePagePath}"/>
                </div>
            </div>
        </div>
        <div class="c-cruise__footnotes">
            <i>${'fares-shown-are-per-guest' @i18n}</i>
        </div>
    </div>
</template>
<template data-sly-template.abTestV2="${ @ cruise }">
    <div class="c-suitelist ab-test-v2-show" role="tablist">
        <h3 class="c-cruise__subtitle">${'select-your-suite-and-request-a-quote' @i18n}</h3>
        <p class="c-cruise__descr hidden-xs ab-test-v2-hide">${'cruise-suites-and-fares-descr' @i18n}</p>
		<p class="c-cruise__descr hidden-xs ab-test-v2-show">${'cruise-suites-and-fares-descr-v2' @i18n}</p>
        <div data-sly-repeat="${cruise.prices}" class="panel c-suitelist__item ${itemList.count == 1 ? 'c-suitelist__item--first' : ''}">
            <div role="tab" class="clearfix c-suitelist__heading collapsed" data-target="#suitelist-collapse-${itemList.index}-v2-version"
                 data-toggle="collapse" data-parent=".c-suitelist" aria-expanded="false" aria-controls="suitelist-collapse-${itemList.index}-v2-version">
                <div class="c-suitelist__image" data-sly-use.target="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}">
                    <sly data-sly-test="${item.suite.thumbnail}"
                        data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
                        data-sly-call="${imageTemplate.lazy @ imagePath=item.suite.thumbnail, width=930}" />
                </div>
                <div class="c-suitelist__detail">
                    <span class="c-suitelist__detail__title" data-sly-text="${item.suite.title}"></span>
                    <p class="c-suitelist__detail__description">${item.suite.suiteSubTitle @ context='html'}</p>
                </div>
                <div class="c-suitelist__price">
                    <span>${'fares-from' @ i18n}</span>
                    <span data-sly-test="${item.isWaitList}" class="c-suitelist__price__text c-suitelist__price__text--important"><br />${'waitlist' @ i18n}</span>
                    <sly data-sly-test="${!item.isWaitList}">
                        <span data-sly-test="${!item.isWaitList}" class="c-suitelist__price__text">
                            <span data-sly-test.early="${item.lowestPrice.earlyBookingBonus}"
                                data-sly-use.priceHelper="${'com.silversea.aem.helper.PriceHelper' @ value = item.lowestPrice.price}">
                                <small>${item.lowestPrice.currency @ i18n} ${priceHelper.valueFormatted}</small><br />
                            </span>
                            <strong class="c-suitelist__price__text--important2">
                                ${item.lowestPrice.currency @ i18n} ${item.computedPriceFormated}
                            </strong>
                        </span>
                        <span data-sly-test="${early}" class="price-suffixe">
                            ${'with-early' @ i18n} <br />${'booking-bonus' @ i18n}
                        </span>
                    </sly>
                </div>
                <div class="c-suitelist__button">
                    <a class="btn btn-thin btn-red effect btn-thin request-quote" data-sly-test.appendSuffix="${'{0}{1}' @ format=[item.suite.name, '.html']}"
                        href="${cruise.requestQuotePagePath @ extension='html', selectors='s', suffix=pageProperties.cruiseCode, appendSuffix=appendSuffix}" data-sscclicktype="clic-RAQ">
                        <span>${'request-quote' @i18n}</span><i class="fa fa-angle-right"></i>
                    </a>
                    <button class="btn btn-thin btn-white btn-thin effect hidden-xs">
                        <span>${'discover-more' @ i18n}</span><i class="fa fa-angle-right"></i>
                    </button>
                </div>
            </div>
            <div id="suitelist-collapse-${itemList.index}-v2-version" class="c-suitelist__collapse collapse clearfix" role="tabpanel" aria-labelledby="suitelist-collapse-${itemList.index}-v2-version">
                <div class="c-tab c-tab__accordion">
                    <a href="#suitelist-collapse-${itemList.index}-v2-version" class="collapse-close text-uppercase suitelist-collapse-close" data-toggle="collapse"
                       data-parent=".c-suitelist" aria-expanded="false" aria-controls="suitelist-collapse-${itemList.index}-v2-version">
                        <i class="fa fa-times"></i> ${'close' @ i18n}
                    </a>
                    <ul class="c-tab__nav dropdown-menu" data-toggle="dropdown" aria-expanded="false">
                        <li class="c-tab__link c-tab__link--button" data-state="active">
                            <a href="#description-${itemList.index}-v2-version"><span>${'description' @i18n}</span></a>
                        </li><li class="c-tab__link c-tab__link--button" data-sly-test="${item.suite.plan}">
                            <a href="#suite-plan-${itemList.index}-v2-version"><span>${'suite-plan' @i18n}</span></a>
                        </li><li class="c-tab__link c-tab__link--button">
                            <a href="#feature-${itemList.index}-v2-version"><span>${'features' @i18n}</span></a>
                        </li><li class="c-tab__link c-tab__link--button" data-sly-test="${item.suite.locationImage}">
                            <a href="#suite-location-${itemList.index}-v2-version"><span>${'suite-location' @i18n}</span></a>
                        </li><li class="c-tab__link c-tab__link--button" data-sly-test="${item.suite.virtualTour}">
                            <a href="#virtual-tour-${itemList.index}-v2-version" class="cruise-suite-virtual-tour"><span>${'virtual-tour' @i18n}</span></a>
                        </li>
                    </ul>
                    <div class="c-tab__body">
                        <div class="c-tab__content c-tab__content--description" id="description-${itemList.index}-v2-version" data-state="active">
                            <!--/* Description tab */-->
                            <sly data-sly-use.descriptionTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/description.html"
                                 data-sly-call="${descriptionTemplate.default @ suitePrice=item, requestQuotePath=cruise.requestQuotePagePath}"/>
                        </div>
                        <div class="c-tab__content c-tab--suite-plan" id="suite-plan-${itemList.index}-v2-version" data-sly-test="${item.suite.plan}">
                            <!--/* Suite plan tab */-->
                            <sly data-sly-use.suitePlanTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/suiteplan.html"
                                 data-sly-call="${suitePlanTemplate.default @ suite=item.suite}"/>
                        </div>
                        <div class="c-tab__content c-tab__content--feature" id="feature-${itemList.index}-v2-version">
                            <!--/* Features tab */-->
                            <sly data-sly-use.featureTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/feature.html"
                                 data-sly-call="${featureTemplate.default @ suite=item.suite}"/>
                        </div>
                        <div class="c-tab__content c-tab__content--suite-location" id="suite-location-${itemList.index}-v2-version" data-sly-test="${item.suite.locationImage}">
                            <!--/* Suite location tab */-->
                            <sly data-sly-use.suiteLocationTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/suitelocation.html"
                                 data-sly-call="${suiteLocationTemplate.default @ suite=item.suite, index=itemList.index}"/>
                        </div>
                        <div class="c-tab__content c-tab__content--virtual-tour" id="virtual-tour-${itemList.index}-v2-version" data-sly-test="${item.suite.virtualTour}">
                            <!--/* Virtual tour tab */-->
                            <sly data-sly-use.virtualTourTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/virtualtour.html"
                                 data-sly-call="${virtualTourTemplate.virtualTourV2 @ suite=item.suite, index=itemList.index}"/>
                        </div>
                    </div>
                    <sly data-sly-use.fareTemplate="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/fare.html"
                         data-sly-call="${fareTemplate.default @ variations=item.pricesVariations, requestQuotePath=cruise.requestQuotePagePath}"/>
                </div>
            </div>
        </div>
        <div class="c-cruise__footnotes" style="margin-bottom: 30px">
            <i>${'fares-shown-are-per-guest' @i18n}</i>
        </div>
    </div>
</template>
<template data-sly-template.abTestVersion2="${ @ cruise }">
	<script>
	window.cruiseItem = [];
	</script>
    <div class="c-suitelist c-suitelist-card ab-test-v2-show" role="tablist">
        <h3 class="c-cruise__subtitle c-cruise__subtitle-card">${'select-your-suite-and-request-a-quote' @i18n}</h3>
		<p class="c-cruise__descr hidden-xs">${'cruise-suites-and-fares-descr-v2' @i18n}</p>
		<div class="row c-suitelist__row-card" 
											data-from="${'from' @ i18n}"
											data-nav-description="${'overview' @i18n}" 
											data-nav-plan="${'suite-plan' @i18n}" 
											data-nav-features="${'suite-features' @i18n}"
											data-nav-location="${'suite-location' @i18n}" 
											data-nav-virtual-tour="${'virtual-tour' @i18n}" 
											data-request-quote="${'request-quote' @i18n}" 
											data-early-bonus="${'with-early' @ i18n}&nbsp;${'booking-bonus' @ i18n}" 
											data-deck="${'deck' @ i18n}"
											data-waitlist="${'waitlist' @ i18n}"
											data-view-all="${'view-more-features' @ i18n}"
											data-close="${'close' @ i18n}"
											data-per-guest="${'fares-shown-are-per-guest' @ i18n}"
											data-view-less="${'view-less-features' @ i18n}">
			<div data-sly-repeat="${cruise.prices}" class="panel col-xs-12 col-sm-6 col-md-4 col-lg-4 automatic-modal-suite-detail" data-target=".bs-modal-lg" id="c-suite-card-${itemList.index}" data-currency="${item.lowestPrice.currency @ i18n}">
						 <script data-sly-use.setImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=item.suite.locationImage,  metadata='deckNumber'}"  data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = item.suite.plan}">
							var value = {};
							var key = "c-suite-card-${itemList.index  @ context='scriptString' }";
							value.title = "${item.suite.title @ context='scriptString'}";
							value.longDescription = "${item.suite.longDescription @ context='scriptString'}";
							value.bedroomsInformation = "${item.suite.bedroomsInformation @ context='scriptString'}";
							value.assetSelectionReference = "${item.suite.assetSelectionReference @ context='scriptString'}";
							value.plan = "${item.suite.plan @ context='scriptString'}";
							value.locationImage = "${item.suite.locationImage @ context='scriptString'}";
							value.virtualTour = "${item.suite.virtualTour @ context='scriptString'}";
							value.fileReference = "${item.suite.fileReference @ context='scriptString'}";
							value.features = "${item.suite.featuresString @ context='scriptString'}";
							value.suiteSubTitle = "${item.suite.suiteSubTitle @ context='scriptString'}";
							value.plan = "${assetHelper.imageUrl @ context='scriptString'}";
							value.locationImage = "${setImage.renditionListString @ context='scriptString'}";
							value.deck = "${setImage.metadataResourceListString @ context='scriptString'}";
							window.cruiseItem[key] = value;	
						</script>
						<script data-sly-use.setImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=item.suite.assetSelectionReference}">
							var key = "c-suite-card-${itemList.index  @ context='scriptString' }";
							window.cruiseItem[key].assetSelectionReference =  "${setImage.renditionListString @ context='scriptString'}";
						</script>
		                <div class="c-suitelist__content" id="suite-card-v2-${itemList.index}">
			                <div class="c-suitelist__image c-suitelist__image-card" data-sly-use.target="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}">
		        	           <sly data-sly-test="${item.suite.thumbnail}" data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"
		        	           	    data-sly-call="${imageTemplate.image @ imagePath=item.suite.thumbnail}" />
			                </div>
			                <div class="c-suitelist__detail c-suitelist__detail-card">
			                    <h3 class="c-suitelist__detail__title c-suitelist__detail__title-card" data-sly-text="${item.suite.title}"></h3>
			                    <p class="c-suitelist__detail__description c-suitelist__detail__description-card">${item.suite.suitesubtitleUpTo @ context='html'}</p>
			                </div>
			                <div class="c-suitelist__price c-suitelist__price-card ${item.isWaitList ? 'c-suitelist__price-card-whitelist' : ''}">
			                    <span data-sly-test="${item.isWaitList}" class="c-suitelist__price__text c-suitelist__price__text--important">${'waitlist' @ i18n}</span>
			                    <sly data-sly-test="${!item.isWaitList}">
			                        <span data-sly-test="${!item.isWaitList}" class="c-suitelist__price__text">
					                    <span class="c-suitelist__price-from">${'from' @ i18n}</span>
			                            <span data-sly-test.early="${item.lowestPrice.earlyBookingBonus}"
			                                data-sly-use.priceHelper="${'com.silversea.aem.helper.PriceHelper' @ value = item.lowestPrice.price}">
			                                <small>${item.lowestPrice.currency @ i18n} ${priceHelper.valueFormatted}</small><br />
			                                <script> 
			                                	var key = "c-suite-card-${itemList.index  @ context='scriptString' }";
			                                	window.cruiseItem[key].priceBookingBonus = "${item.computedPriceFormated @ context='scriptString'}"; 
			                                </script>
			                            </span>
			                            <strong class="c-suitelist__price__text--important2">
			                                 ${item.lowestPrice.currency @ i18n} ${item.computedPriceFormated}
			                                 <script>
			                                	var key = "c-suite-card-${itemList.index  @ context='scriptString' }";
			                                 	window.cruiseItem[key].price = "${item.computedPriceFormated @ context='scriptString'}"; 
		                                 	</script>
			                            </strong>
				                        <span class="price-suffixe">
				                            <span data-sly-test="${early}">
				                            	${'with-early' @ i18n}&nbsp;${'booking-bonus' @ i18n}
					                            <script>
					                               	var key = "c-suite-card-${itemList.index  @ context='scriptString' }";
					                            	window.cruiseItem[key].early = true;
				                            	</script>
				                            </span>
				                        </span>
			                        </span>
			                    </sly>
			                </div>
		                	<div class="c-suitelist__button c-suitelist__button-card">
			                    <a class="btn btn-thin btn-red effect btn-request-a-quote link-request-quote-card" id="suite-card-v2-raq-${itemList.index}" data-sly-test.appendSuffix="${'{0}{1}' @ format=[item.suite.name, '.html']}"
			                        href="${cruise.requestQuotePagePath @ extension='html', selectors='s', suffix=pageProperties.cruiseCode, appendSuffix=appendSuffix}" data-sscclicktype="clic-RAQ">
			                        <span>${'request-quote' @i18n}</span>
									<i class="fa fa-angle-right"></i>			                        
			                    </a>
			                    <a class="btn-view-more-detail" id="suite-card-v2-more-detail-${itemList.index}">
			                        <span>${'view-more-details' @ i18n}</span>
			                    </a>
			                </div>
		                </div>
	                </div>
	            </div>
		
        <div class="c-cruise__footnotes" style="margin-bottom: 30px">
            <i>${'fares-shown-are-per-guest' @i18n}</i>
        </div>
    </div>
    <sly data-sly-use.suiteDetailDesktop="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/suitedetail-v2.html"
                         data-sly-call="${suiteDetailDesktop.desktop}"/>
    <sly data-sly-use.suiteDetailMobile="silversea/silversea-com/components/pages/cruise/fragment/suitetab/suitelist/suitedetail-v2.html"
                         data-sly-call="${suiteDetailMobile.mobile}"/>
</template>