@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

@media (max-width: 767px) {

  .no-height-body {
    min-height: 0;
    height: 0;
  }

  .no-visible-element {
    background-color: #f4f4f4;
    opacity: 0;
    color: #f4f4f4;
  }

  /*FILTERS*/
  .parbase.findyourcruise2018 {
    .findyourcruise2018 {
      .fyc2018-results-div {
        display: block;
        margin-top: 15px;
      }

      .findyourcruise2018-header {
        height: 100%;
        background-color: transparent;
        .fyc2018-header-text.fyc2018-header-title {
          display: none;
        }

        .fyc2018-header-reset-all {
          margin-top: 50px;
          margin-bottom: 13px;
          float: right;
          margin-right: 15px;
          span {
            color: black;
          }
        }

        .fyc2018-header-text {
          display: inline-block;
          vertical-align: middle;
          font-family: @suisse;
          font-weight: normal;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 15px;
          margin-bottom: 5px;
        }
        .fyc2018-header-container.container {
          position: relative;
          left: 50%;
          margin-left: -50vw;
          margin-right: -50vw;
          margin-bottom: 10px;
          right: 50%;
          width: 100vw;
          height: 60px;
          background-color: @nd-dark;
          border-bottom: solid @white 5px;
          color: @white;
        }
        .fyc2018-header-mobile-filter {
          display: block;
          float: right;
          cursor: pointer;
        }
        .fyc-close-i {
          display: none;
        }

        .fyc2018-header-mobile-filter-text {
          display: none;
        }

        .fyc2018-header-mobile-filter.fyc2018-filter-mobile-open {
          .fyc-close-i {
            display: inline-block;
          }
          .fyc-tune-i {
            display: none;
          }
          .fyc2018-header-mobile-filter-text {
            display: inline-block;
            font-family: @suisse;
            text-transform: uppercase;
            font-size: 12px;
            vertical-align: middle;
            font-weight: normal;
            letter-spacing: 1px;
            margin-bottom: 8px;
            line-height: 15px;
          }
        }
      }
      .fyc2018-filters-container {
        padding-top: 0px;
        display: none;
        .fyc2018-filters-wrapper .fyc2018-filter {
          display: block;
          margin: 0px 0px 10px;
        }
        .fyc2018-filters-wrapper {
          display: block;
          table-layout: unset;
        }
      }
    }
  }

  /* MODAL FILTERS */
  .parbase.findyourcruise2018 {
    .findyourcruise2018 {

      .fyc2018-filters-container {
        padding-top: 0px;

        .fyc2018-filter-value-container {
          padding-top: 60px;
        }

        .fyc2018-filter-year {
          text-align: center;
          margin-top: 0px;
          margin-bottom: 10px;
          padding-top: 35px;
        }

        .fyc2018-filter-year:first-child {
          padding-top: 18px;
        }

        .filter-departure {
          .fyc2018-filter-value-container {
            padding-top: 50px;
          }
        }

        .fyc2018-filter {
          display: none;

          .fyc2018-view-results {
            position: fixed;
            bottom: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            background: #f4f4f4;
            border-top: 1px solid #dbdbdb;

            span {
              white-space: normal;
              display: inline-block;
              text-transform: uppercase;
              text-align: center;
              vertical-align: middle;
              border-width: 0;
              border-radius: 0 !important;
              padding: 18px 5px 15px 5px;
              line-height: 16px;
              font-size: 13px;
              font-family: @suisse;
              font-weight: normal;
              letter-spacing: 0;
              background-color: @nd-red;
              color: #171d47;
              width: 100%;
              color: @white;
            }
          }

          .fyc2018-filter-value.fyc2018-filter-value-clicked {
            width: 100vw !important;
            max-height: 100vh !important;
            top: 0;
            left: 0;
            position: absolute !important;
            position: absolute !important;
            z-index: 55555;
            top: 0;
            opacity: 1;
            width: 100px;
            height: 100vh;
            max-width: 100vw !important;
            position: fixed !important;
            margin: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            overflow-y: scroll !important;
            min-width: 100vw !important;
            min-height: 100vh !important;
            padding-bottom: 195px;
            transform: none;
            -webkit-transform: none;
            /*-webkit-transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;*/
          }

          .filter-value {
            padding-right: 15px;
            padding-left: 15px;
            span {
              width: 88%;
              padding: 18px 5px 15px 5px;
            }
          }

          .fyc2018-filter-autocomplete-content {
            width: 100% !important;
            max-height: 100vh !important;
            padding-top: 110px;
          }

          .fyc2018-filter-label {
            height: 48px;
            background-color: #263133;
            color: white;
            margin-bottom: 20px;
            text-align: left;
            position: fixed;
            z-index: 10000;

            .easy-autocomplete {
              padding-top: 47px;

              .fyc2018-filter-autocomplete {
                height: 52px;
                background-color: #f4f4f4;
              }
            }
          }
          .filter-port {
            .fyc2018-filter-autocomplete-content-open {
              margin-top: 50px;
            }
            .filter-no-ports {
              font-size: 14px;
              width: 100%;
            }
            .filter-show-selected {
              display: block;
              position: absolute;
              top: 20%;
              transform: translate(-50%, -20%);
              -webkit-transform: translate(-50%, -20%);
              left: 50%;
            }

            .fyc2018-filter-selected-content {
              padding-top: 157px;
              width: 100% !important;
              max-height: 100vh !important;
            }
          }
          .fyc2018-filter-label-mobile {
            top: 50%;
            position: absolute;
            font-size: 15px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
          }
          .fyc2018-filter-clear {
            float: right;
            i {
              margin-top: 9px;
            }
          }
        }
      }
    }
  }
}
