<!--/* Simple gallery */-->
<template data-sly-template.default="${ @ list}">
    <div class="gallery hide">
        <div class="modal-content modal-content--transparent modal-content--gallery">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="c-gallery">
                    <div class="c-slider c-slider--for" data-sly-list="${list}">
                        <div>
                            <div class="ratio" style="background-image:url(/is/image${item.path @ context='uri'}?wid=970&fit=hfit,1)"></div>
                        </div>
                    </div>
                    <div class="c-slider c-slider--nav" data-sly-list="${list}">
                        <div>
                            <div class="ratio" style="background-image:url(/is/image${item.path @ context='uri'}?wid=145&fit=hfit,1)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!--/* Gallery with Tab*/-->
<template data-sly-template.galleryTab="${ @ map}">
    <div class="hide gallery">
        <div class="modal-content modal-content--transparent modal-content--gallery">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html">
                <div class="c-gallery">
                    <ul class="c-gallery__tab" data-sly-list="${map}">
                        <li class="c-gallery__tab__item"><a class="c-gallery__tab__link" href="#" data-category="${item}">${item}</a></li>
                    </ul>
                    <div class="c-gallery__wrappertop">
                        <div class="c-slider c-slider--for" data-sly-list="${map}">
                            <sly data-sly-test.category="${item}" />
                            <div data-category-target="${category}" data-image="/is/image${item.path}" data-sly-repeat="${map[item]}">
                                <div class="ratio" style="background-image:url(/is/image${item.path @ context='uri'}?wid=970&fit=hfit,1)"></div>
                            </div>
                        </div>
                        <div class="c-gallery__counter"><span class="slide-item-current"></span> / <span class="slide-item-total"></span></div>
                    </div>
                    <div class="c-slider c-slider--nav" data-sly-list="${map}">
                        <div data-sly-repeat="${map[item]}">
                            <div class="ratio" style="background-image:url(/is/image${item.path @ context='uri'}?wid=145&fit=hfit,1)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>