<!--/* Simple gallery */-->
<template data-sly-template.default="${ @ list}">
    <div class="modal-content modal-content--transparent modal-content--gallery">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="c-gallery">
                <div class="c-slider c-slider--for" data-sly-list.asset="${list}">
                    <div>
                        <div class="ratio"
                            data-sly-test.assetPathFull="${'{0}{1}{2}' @ format=['/is/image', asset.path, '?wid=970&amp;fit=hfit,1']}"
                            style="background-image:url(${assetPathFull @ context='uri'})">
                            <a data-sly-test.isVideo="${asset.metadata.dc:format == 'video/mp4'}" class="video-link" href="#"><i class="fa fa-play"></i></a>
                            <div data-sly-test="${isVideo}" class="c-video" id="videoDM-${assetList.count}" data-video-asset="${asset.path}" data-video-autoplay="1"></div>
                        </div>
                    </div>
                </div>
                <div class="c-slider c-slider--nav" data-sly-list.asset="${list}">
                    <div>
                        <div class="ratio"
                            data-sly-test.assetPathFullThumbnail="${'{0}{1}{2}' @ format=['/is/image', asset.path, '?wid=145&amp;fit=hfit,1']}"
                            style="background-image:url(${assetPathFullThumbnail @ context='uri'})">
                            <a data-sly-test="${asset.metadata.dc:format == 'video/mp4'}" class="video-link" href="#"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!--/* Gallery with Tab*/-->
<template data-sly-template.galleryTab="${ @ map}">
    <div class="modal-content modal-content--transparent modal-content--gallery">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="c-gallery">
                <ul class="c-gallery__tab hidden-xs" data-sly-list="${map}">
                    <li class="c-gallery__tab__item"><a class="c-gallery__tab__link" href="#" data-category="${item}">${item}</a></li>
                </ul>
                <div class="c-gallery__wrappertop">
                    <div class="c-slider c-slider--for" data-sly-list="${map}">
                        <div data-category-target="${item}" data-sly-repeat.asset="${map[item]}" data-image="/is/image${asset.path}">
                            <div class="ratio"
                                data-sly-test.assetPathFull="${'{0}{1}{2}' @ format=['/is/image', asset.path, '?wid=970&amp;fit=hfit,1']}"
                                style="background-image:url(${assetPathFull @ context='uri'})">
                                <a data-sly-test.isVideo="${asset.metadata.dc:format == 'video/mp4'}" class="video-link" href="#"><i class="fa fa-play"></i></a>
                                <div data-sly-test="${isVideo}" class="c-video" id="videoDM-${assetList.count}" data-video-asset="${asset.path}" data-video-autoplay="1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="c-gallery__counter"><span class="slide-item-current"></span> / <span class="slide-item-total"></span></div>
                </div>
                <div class="c-slider c-slider--nav hidden-xs" data-sly-list="${map}">
                    <div data-sly-repeat.asset="${map[item]}">
                        <div class="ratio"
                            data-sly-test.assetPathFullThumbnail="${'{0}{1}{2}' @ format=['/is/image', asset.path, '?wid=145&amp;fit=hfit,1']}"
                            style="background-image:url(${assetPathFullThumbnail @ context='uri'})">
                            <a data-sly-test="${asset.metadata.dc:format == 'video/mp4'}" class="video-link" href="#"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>