<div data-sly-use.brochureTeaserListUse="com.silversea.aem.components.editorial.BrochureTeaserListUse"
     data-sly-test="${(wcmmode.edit || wcmmode.design) && !brochureTeaserListUse.brochures}"
     class="cq-placeholder" data-emptytext="Brochure teaser list - (#o-section-${properties.sscUUID})"></div>
<sly data-sly-use.externalizerHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentPage.path, absolute=false}" />
<section class="o-section"  data-sly-test="${brochureTeaserListUse.brochures}">
    <div class="row">
        <div class="col-sm-12">
            <div class="brochureteaserlist__header">
                <div class="brochureteaserlist__header__label">
                    ${'select-the-brochure-language' @ i18n}
                </div>
                <div class="brochureteaserlist__header__select" data-sly-test.language="${brochureTeaserListUse.languages}">
                    <select id="selectBrochureListLangId" class="chosen" data-sly-list.child="${language}">
                        <option
                            data-sly-use.languageHelper="${'com.silversea.aem.helper.LanguageHelper' @ language=child}"
                            selected="${brochureTeaserListUse.currentLanguage.toUpperCase == child.toUpperCase ? 'selected' : ''}"
                            value="${externalizerHelper.externalizedUrl @ selectors=[languageHelper.selector, brochureTeaserListUse.currentBrochureGroupSelector], extension='html'}">
                            ${language[child]}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-sly-test="${brochureTeaserListUse.brochures}" data-sly-list.brochure="${brochureTeaserListUse.brochures}">
    <sly data-sly-use.brochureTemplate="../brochureteaser/brochure.html" data-sly-call="${brochureTemplate.default @ brochure = brochure, currentStyle = currentStyle, fontSizeTitleDesktop = properties.fontSizeTitleDesktop, fontSizeTitleTablet = properties.fontSizeTitleTablet, fontSizeTitleMobile = properties.fontSizeTitleMobile,fontSizeTextDesktop = properties.fontSizeTextDesktop, fontSizeTextTablet = properties.fontSizeTextTablet, fontSizeTextMobile = properties.fontSizeTextMobile }" />
    <hr data-sly-test="${!brochureList.last}" />
</section>