<div class="c-header__container" data-sly-use.pageHelper="com.silversea.aem.helper.PageHelper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-5 c-header__logoholder">
                <a href="${pageHelper.homePage.path @ extension='html'}" class="c-header__inner">
                    <img class="c-header__logo" src="${currentDesign.path}/clientlib-base/images/logo.png" alt="${pageHelper.homePage.title || currentPage.title}" />
                </a>
            </div>
            <div class="col-sm-9 col-xs-7 c-main-nav-wrapper">
                <div class="c-nav-burger hidden-md hidden-lg">
                    <button type="button" class="c-nav-burger__btn">
                        <span class="c-nav-burger__title hidden-xs">${'menu' @ i18n}</span>
                        <i class="fa fa-bars"></i>
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <nav class="c-main-nav">
                    <sly data-sly-include="mainnavbottom.html" />
                    <sly data-sly-include="mainnavtop.html" />
                </nav>
                <div class="c-main-nav__backdrop"></div>
                <div class="c-quote-request" data-sly-use.navTop="com.silversea.aem.components.included.HeaderUse" data-sly-test.page1="${navTop.link1Page}">
                    <a href="${page1.path @ extension = 'html'}" class="c-quote-request-link">${page1.navigationTitle || page1.title}</a>
                </div>
                <sly data-sly-include="call.html" />
            </div>
        </div>
    </div>
</div>