<template data-sly-template.NODE_OPEN="${ @ item }"><ul class="c-main-nav__subnav ${item.page.name == 'destinations' && item.page.depth == 4 ? 'c-main-nav__subnav--col2' : 'c-main-nav__subnav--col1'} ${item.isLast ? 'c-main-nav__subnav--right' : ''}"><li class="c-main-nav__subnav--col"><ul class="c-main-nav__subnav__list"></template>

<template data-sly-template.ITEM_BEGIN="${ @ item }"><li class="${item.page.depth > 4 ? 'c-main-nav__subnav__item' : 'c-main-nav__bottom__item'} ${item.page.name =='exclusive-offers' && item.page.depth == 4 ? 'hidden-md hidden-lg' : ''} ${item.isOnTrail && item.page.depth == 4 ? 'c-main-nav__bottom__item--ontrail' : ''}"><a href="${item.path @ extension='html'}" role="menuitem" itemprop="url" class="${item.page.depth > 4 ? 'c-main-nav__subnav__link' : 'c-main-nav__bottom__link'}" data-sscclicktype="clic-NAV" data-sscuuid="${item.page.name}"><span itemprop="name">${item.title @ context='html'}</span></a></template>

<template data-sly-template.ITEM_END></li></template>

<template data-sly-template.NODE_CLOSE></ul></li></ul></template>