<template data-sly-template.default="${ @ suite, requestQuotePath }">
    <div class="row c-tab__content--description__row">
        <div class="col-sm-6">
            <sly data-sly-use.sliderTemplate="silversea/silversea-com/components/editorial/slider/slidertemplate.html"
                data-sly-call="${sliderTemplate.populatefromSetStyle2 @ setImagePath=suite.page.properties.assetSelectionReference}" />
        </div>
        <div class="col-sm-6">
            <div class="c-tab__content--description__info">
                <p>
                    <strong class="text-uppercase">${'dimension:' @ i18n}</strong>
                    ${suite.bedroomsInformation @ context='html'}
                </p>
                ${suite.longDescription @ context='html'}
            </div>
            <div class="c-tab__content--description__price">
                <p>
                    <span><strong>${'fares-from' @ i18n}</strong></span><br />
                    <span data-sly-test.isisWaitList="${suite.lowestPrice.isWaitList}">
                        <strong class="c-suitelist__price__text--important5 text-uppercase">${'waitlist' @ i18n}</strong>
                    </span>
                    <span data-sly-test="${!isisWaitList}">
                        <strong class="c-suitelist__price__text--important5 text-uppercase">${suite.lowestPrice.currency} ${suite.lowestPrice.value}</strong>
                        (${'per-guest' @ i18n})
                    </span>
                    
                </p>
                <a class="btn btn-thin btn-red effect btn-thin request-quote" href="${requestQuotePath @ extension='html', suffix=pageProperties.cruiseCode, appendSuffix=suite.page.path}" data-sscclicktype="clic-RAQ">
                    <span>${'request-quote' @i18n}</span><i class="fa fa-angle-right"></i>
                </a>
            </div>
         </div>
    </div>
</template>