<h3>SELECT YOUR SUITE AND REQUEST A QUOTE</h3>
<table class="table c-suitelist__suite-table">
    <caption>
        <strong>NOTE:</strong> The difference between each single Suite is available in the deck plan of the ship.
    </caption>
    <thead>
        <tr>
            <th>SUITE</th>
            <th>LOCATION</th>
            <th>FARES (PER GUEST)</th>
            <th>SELECT YOUR SUITE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Owner's 1</td>
            <td>
                <a href="#">VIEW DECK</a>
            </td>
            <td>
                <strong>WAITLIST</strong>
            </td>
            <td>
                <a class="btn btn-red effect btn-thin request-quote" href="#">
                    <span>${'request-quote' @i18n}</span><i class="fa fa-angle-right"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td><strong class="uppercase">Owner's 2</strong></td>
            <td><a class="btn-switch-deck bound" href="#suite-34956-deck-">VIEW DECK</a></td>
            <td>
                <span>FARES FROM:</span>
                <span>&euro; 21,650 (per guest)</span>
                <span>WITH EARLY BOOKING BONUS</span>
                <span><strong>&euro; 19,485</strong> (per guest)</span>
            </td>
            <td>
                <a class="btn btn-red effect btn-thin request-quote" href="#">
                    <span>${'request-quote' @i18n}</span><i class="fa fa-angle-right"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>