<h3 class="c-suitelist__collapse__title">SELECT YOUR SUITE AND REQUEST A QUOTE</h3>
<table class="table c-suitelist__suite-table">
    <caption>
        <strong>NOTE:</strong> The difference between each single Suite is available in the deck plan of the ship.
    </caption>
    <thead>
        <tr>
            <th>SUITE</th>
            <th>LOCATION</th>
            <th>FARES (PER GUEST)</th>
            <th>SELECT YOUR SUITE</th>
        </tr>
    </thead>
    <tbody>
        <tr data-sly-repeat="${[1,2,3]}">
            <td><strong class="text-uppercase">Owner's 2</strong></td>
            <td><a href="#" class="h-underline">VIEW DECK</a></td>
            <td>
                <strong class="c-suitelist__price__text--important3">WAITLIST</strong>
                <span>FARES FROM:</span>
                <span><strong class="c-suitelist__price__text--important4">&euro; 21,650</strong> (per guest)</span>
            </td>
            <td>
                <a class="btn btn-red effect btn-thin request-quote" href="#">
                    <span>${'request-quote' @i18n}</span><i class="fa fa-angle-right"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>