<template data-sly-template.default="${ @ suite, index}">
    <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" />
    <sly data-sly-use.setImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=suite.locationImage}" />
    <div class="row">
        <div class="col-sm-10">
            <div class="tab-content" data-sly-list="${setImage.renditionList}">
                <div class="tab-pane ${itemList.first ? 'active' : ''}" id="tab-location-${index}-${itemList.index}">
                    <sly data-sly-call="${imageTemplate.default @ imagePath=item}" />
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <ul data-sly-list="${setImage.renditionList}" class="nav nav-tabs nav-tabs--vertical">
                <li class="${itemList.first ? 'active' : ''}">
                    <a role="tab" href="#tab-location-${index}-${itemList.index}" data-toggle="tab">${item.title || 'metadata'}</a>
                </li>
            </ul>
        </div>
    </div>
</template>