<template data-sly-template.desktop>
	<script>
		    window.templateSuiteDetail = '<div class="modal-content modal-content--transparent-suite modal-content--single">  '  + 
		    '       <div class="modal-body automatic-modal-body">  '  + 
		    '           <button class="close c-btn--close" type="button" data-dismiss="modal" aria-label="Close"></button>  '  + 
		    '           <div class="row  clearfix c-suite-detail-modal">  '  + 
		    '               <div class="col-xs-8 c-suite-detail-modal-left-side">  '  + 
		    '                   <ul class="nav nav-tabs  c-suite-detail-modal-navtabs" role="tablist">  '  + 
		    '                       <li id="descr-tab" role="presentation" class="c-navtab__link--button hidden"><a href="#suite-description" aria-controls="suite-description" role="tab" data-toggle="tab" aria-expanded="true">c-suitelist-nav-description-placeholder</a></li>  '  + 
		    '                       <li id="suite-tab" role="presentation" class="c-navtab__link--button hidden"><a href="#suite-suite-plan" aria-controls="suite-suite-plan" role="tab" data-toggle="tab" aria-expanded="false">c-suitelist-nav-plan-placeholder</a></li>  '  + 
		    '                       <li id="features-tab" role="presentation" class="c-navtab__link--button hidden"><a href="#suite-features" aria-controls="suite-features" role="tab" data-toggle="tab" aria-expanded="false">c-suitelist-nav-features-placeholder</a></li>  '  + 
		    '                       <li id="location-tab" role="presentation" class="c-navtab__link--button hidden"><a href="#suite-location" aria-controls="suite-location" role="tab" data-toggle="tab" aria-expanded="false">c-suitelist-nav-location-placeholder</a></li>  '  +
		    '                       <li id="virtualtour-tab" role="presentation" class="c-navtab__link--button hidden c-suite-detail-virtual-tour-lightbox"><a href="#suite-virtual-tour" aria-controls="suite-virtual-tour" role="tab" data-toggle="tab" aria-expanded="false">c-suitelist-nav-virtual-tour-placeholder</a></li>  '  + 
		    '                   </ul>  '  + 
		    '                   <div class="tab-content">  '  + 
		    '                       <div role="tabpanel" class="tab-pane" id="suite-description">'+
	        '							<div class="c-slider c-slider--default c-slider--style1 c-slider--arrowoutside" data-slick="{\'slidesToShow\': 1, \'slidesToScroll\': 1}">'+
	        '								c-suitelist-description-placeholder'+
	        '							</div> '+
	        '							<div class="c-suite-detail-modal-description__counter"><span class="slide-item-current"></span> / <span class="slide-item-total"></span></div>' +
		    '						</div>  '  + 
		    '                       <div role="tabpanel" class="tab-pane" id="suite-suite-plan"> ' +
		    '   				    c-suitelist-plan-placeholder ' +
			'						</div>  '  + 
		    '                       <div role="tabpanel" class="tab-pane" id="suite-features"> <div class="row"> <div class="col-sm-12"><div class="features-ul"><ul>c-suitelist-features-placeholder</ul></div></div></div></div> '  + 
		    '                       <div role="tabpanel" class="tab-pane" id="suite-location">' + 
			'								<div class="c-suite-detail-modal-deck">c-suitelist-deck-placeholder</div> ' +
		    '								c-suitelist-location-placeholder' +
		    '						</div>  '  + 
		    '                       <div role="tabpanel" class="tab-pane" id="suite-virtual-tour">c-suitelist-virtual-tour-placeholder</div>  '  + 
		    '                   </div>  '  + 
		    '               </div>  '  + 
		    '               <div class="col-xs-4 c-suite-detail-modal-right-side">  '  + 
		    '                   <h1 class="c-suitelist-card-title c-suite-detail-modal-title">c-suitelist-title-placeholder</h1>  '  + 
		    '                   <div class="c-suite-detail-modal-info">'+		
		    '                   	<div class="c-suitelist-card-long-desc c-suite-detail-modal-long-desc">c-suitelist-longDescription-placeholder</div>  '  + 
		    '                   	<hr size="10px">  '  + 
		    '                   	<div class="c-suitelist-card-bedrooms c-suite-detail-modal-bedrooms">c-suitelist-bedroomsInformation-placeholder</div>  '  +
		    '   	                <div class="c-suitelist-card-note c-suite-detail-modal-note">c-suitelist-note-placeholder</div>  '  + 
			'                   </div>' +
		    '                   <div class="c-suitelist-card-price c-suite-detail-modal-price text-uppercase">'+ 
		    '						<p> '+
		    '							<span class="suite-early-booking">c-suitelist-from-placeholder c-suitelist-price-booking-bonus-placeholder</span> ' +
		    '							<span> <strong class="c-suitelist__price__text--important5">c-suitelist-price-placeholder</strong>  </span> '+
		    '							<span class="suite-early-booking">c-suitelist-early-bonus-placeholder</span> ' +
		    '						</p>  '  + 
		    '                       <a class="btn btn-lg btn-red effect btn-thin request-quote c-suite-detail-modal-request-quote" href="c-suitelist-raq-link-placeholder" data-sscclicktype="clic-RAQ"> <span>c-suitelist-raq-placeholder</span> </a>  '  + 
		    '                   </div>  '  + 
		    '               </div>  '  + 
		    '           </div>  '  + 
		    '       </div>  '  + 
		    '  </div>  ' ; 
	</script>
</template>
<template data-sly-template.mobile>
	<script>
	    window.templateSuiteDetailMobile = '<div class="modal-content modal-content--transparent-suite modal-content--single">  '  + 
	    '		<div class="modal-header">'+
	    '			<button class="close" type="button" aria-label="Close"><span class="close-label">c-suitelist-close-placeholder</span></button>' +
	    '		</div>' +
	    '       <div class="modal-body automatic-modal-body">  '  + 
	    '           <div class="row clearfix c-suite-detail-modal">  '  + 
	    '           	<div class="col-xs-12 hidden" id="suite-description">'+
        '					<div class="c-slider c-slider--default c-slider--style1 c-slider--arrowoutside" data-slick="{\'slidesToShow\': 1, \'slidesToScroll\': 1}">'+
        '						c-suitelist-description-placeholder'+
        '					</div> '+
        '					<div class="c-suite-detail-modal-description__counter"><span class="slide-item-current"></span> / <span class="slide-item-total"></span></div>' +
  		'				</div>  '  + 
  		 '           	<div class="col-xs-12">'+
  		'                   <h1 class="c-suitelist-card-title c-suite-detail-modal-title">c-suitelist-title-placeholder</h1>  '  + 
	    '                   <div class="c-suite-detail-modal-info">'+		
	    '                   	<div class="c-suitelist-card-long-desc c-suite-detail-modal-long-desc">c-suitelist-longDescription-placeholder</div>  '  + 
	    '                   	<div class="c-suitelist-card-bedrooms c-suite-detail-modal-bedrooms">c-suitelist-bedroomsInformation-placeholder</div>  '  +
		'                   </div>' +
	    '                   <div class="c-suitelist-card-note c-suite-detail-modal-note">c-suitelist-note-placeholder</div>  '  + 
	    '                   <div class="c-suitelist-card-price c-suite-detail-modal-price  text-uppercase">'+ 
	    '						<p> '+
	    '							<span>c-suitelist-from-placeholder c-suitelist-price-booking-bonus-placeholder</span> ' +
	    '							<span> <strong class="c-suitelist__price__text--important5 text-uppercase">c-suitelist-price-placeholder</strong>  </span> '+
	    '							<span>c-suitelist-early-bonus-placeholder</span> ' +
	    '						</p>  '  + 
	    '                       <a class="btn btn-lg btn-red effect btn-thin request-quote c-suite-detail-modal-request-quote" href="c-suitelist-raq-link-placeholder" data-sscclicktype="clic-RAQ"> <span>c-suitelist-raq-placeholder</span> </a>  '  + 
	    '                   </div>  '  + 
		'					<hr>'+
   		'				</div>  '  + 
	    '               <div class="col-xs-12 hidden" id="suite-suite-plan"> ' +
	   // '					<hr>'+
	    '					<h1 class="c-suite-detail-modal-title c-suite-detail-modal-title-section">c-suitelist-nav-plan-placeholder</h1>' +
	    '   				c-suitelist-plan-placeholder ' +
		'				</div>  '  + 
	    '               <div class="col-xs-12 hidden" id="suite-features"> ' +
	   // '					<hr>'+
	    '					<h1 class="c-suite-detail-modal-title c-suite-detail-modal-title-section suite-features-title">c-suitelist-nav-features-placeholder</h1>' +
	    '   				<div class="row"> '+
	    '						<ul class="col-sm-12 expand-ul">c-suitelist-features-placeholder</ul>' +
	    '						<div class="col-xs-12"> ' +
	    '							<div class="suite-features-expand"> ' +
	    '								<a href="#" class="view_all">c-suitelist-view-all-placeholder &nbsp;<i class="fa fa-angle-down"></i></a>'+
	    '								<a href="#" class="view_less">c-suitelist-view-less-placeholder &nbsp;<i class="fa fa-angle-up"></i></a>'+
	    '							</div>'+
	    '						</div>'+		
	    '					</div>' +
		'				</div>  '  + 
	    '               <div class="col-xs-12 hidden" id="suite-location"> ' +
	   // '					<hr>'+
	    '					<h1 class="c-suite-detail-modal-title c-suite-detail-modal-title-section">c-suitelist-nav-location-placeholder</h1>' +
		'						<div class="c-suite-detail-modal-deck">c-suitelist-deck-placeholder</div> ' +
	    '						c-suitelist-location-placeholder' +
		'				</div>  '  +
	    '               <div class="col-xs-12 c-suitelist-card-price c-suite-detail-modal-price c-suite-detail-modal-price-mobile text-uppercase">'+ 
	    '					<hr>'+
	    '					<p> '+
	    '						<span>c-suitelist-from-placeholder-mobile c-suitelist-price-booking-bonus-placeholder-mobile</span> ' +
	    '						<span> <strong class="c-suitelist__price__text--important5">c-suitelist-price-placeholder-mobile</strong>  </span> '+
	    '						<span>c-suitelist-early-bonus-placeholder-mobile</span> ' +
    	'					</p>  '  + 
	    '                   <a class="btn btn-lg btn-red effect btn-thin request-quote c-suite-detail-modal-request-quote" href="c-suitelist-raq-link-placeholder-mobile" data-sscclicktype="clic-RAQ"> <span>c-suitelist-raq-placeholder-mobile</span> </a>  '  + 
	    '               </div>  '  + 
	    '           </div>  '  + 
	    '       </div>  '  + 
	    '  </div>  ' ; 
    </script>
</template>