<template data-sly-template.default="${ @ suite }">
    <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
        data-sly-call="${imageTemplate.default @ imagePath=suite.virtualTour}"></sly>
</template>

<template data-sly-template.virtualTour="${ @ suite, index }">
	<div id="virtual-tour-${index}-container" class="c-suitelist-virtual-tour-container" data-image="${suite.virtualTour}"></div>
</template>


<template data-sly-template.virtualTourV2="${ @ suite, index }">
	<div id="virtual-tour-${index}-v2-version-container" class="c-suitelist-virtual-tour-container" data-image="${suite.virtualTour}"></div>
</template>