<div class="cruise__header">
    <h1 class="cruise__header_title">
        ${currentPage.title}
        <span class="cruise_header_subtitle">${currentPage.subtitle}</span>
    </h1>
    <div class="cruise__header_desc">
        <div class="cruise__header_txt">
            <p>${currentPage.description}</p>
        </div>
        <div class="cruise__header_cta">
            <a class="btn btn-dark effect hidden-lg hidden-md" href="#"><span>${'suites-and-fares' @ i18n}</span><i class="fa fa-angle-right"></i></a>
            <a class="btn btn-red effect" href="#"><span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="cruise__header_meta hidden-xs">
        <div class="cruise__header_nextprev">
            <a href="#"><i class="fa fa-angle-left"></i> <span>${'previous-voyage' @ i18n}</span></a>
            <a href="#"><span>${'next-voyage' @ i18n}</span> <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="cruise__header_metainfo">
            <span>Silversea Cruises</span>
            <span>Silver Muse</span>
            <span>Voyage 6724</span>
            <span>
                <ul>
                    <li class="meta_feature_inner">
                        <span class="feature feature-eo">
                            <i class="icon-star"></i>
                            <span class="tooltip"><i></i></span>
                        </span>
                    </li>
                    <li class="meta_feature_inner">
                        <span class="feature feature-vs">
                            <i class="icon-shield-v"></i>
                            <span class="tooltip"><i></i></span>
                        </span>
                    </li>
                    <li class="meta_feature_inner">
                        <span class="feature feature-ecgc">
                            <i class="icon-lys"></i>
                            <span class="tooltip"><i></i></span>
                        </span>
                    </li>
                    <li class="meta_feature_inner">
                        <span class="feature feature-wsv">
                            <i class="icon-grappe"></i>
                            <span class="tooltip"><i></i></span>
                        </span>
                    </li>
                    <li class="meta_feature_inner">
                        <span class="feature feature-bs">
                            <i class="icon-spade"></i>
                            <span class="tooltip"><i></i></span>
                        </span>
                    </li>
                    <li class="meta_feature_inner">
                        <span class="feature feature-gh">
                            <i class="icon-bow-tie"></i>
                            <span class="tooltip"><i></i></span>
                        </span>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>
