<template data-sly-template.default="${ @ cruise }">
    <div class="cruise__header">
        <h1 class="cruise__header__title">
           <span itemprop="name">${cruise.cruiseModel.departurePortName} <span class="cruise__header__title__to">${'to' @ i18n}</span> ${cruise.cruiseModel.arrivalPortName}</span>

        </h1>
        <h2 class="cruise_header__subtitle">
            ${cruise.cruiseModel.destination.navigationTitle || cruise.cruiseModel.destination.title}
            <sly data-sly-test.silverseaExpedition="${cruise.cruiseModel.cruiseType == 'silversea-expedition'}">${'expedition-cruise' @ i18n}</sly>
            <sly data-sly-test="${!silverseaExpedition}">${'cruise' @ i18n}</sly>
              <span class="cruise_header__subtitle_ship">
         	${cruise.cruiseModel.ship.title}
           </span>
        </h2>
      
        <div class="cruise__header__desc">
            <div class="cruise__header__txt">
                ${cruise.cruiseModel.description @context='html'}
            </div>
            <div class="cruise__header__metainfo cruise__header__metainfo_mobile visible-xs">
                <span>${'voyage' @ i18n} ${cruise.cruiseModel.cruiseCode}</span>
            </div>
            <div class="cruise__header__cta">
            	<span class="ab-test-v2-hide">
	                <a class="btn btn-thin btn-dark effect visible-xs" data-tab-target="#suitenfare" id="cruise-itinerary-suite-and-fares-mobile-btn-v1"><span>${'suites-and-fares' @ i18n}</span><i class="fa fa-angle-right"></i></a>
            	</span>
            	<span class="ab-test-v2-show">
	                <a class="btn btn-thin btn-dark effect visible-xs" id="cruise-itinerary-suite-and-fares-mobile-btn-v2"><span>${'suites-and-fares' @ i18n}</span><i class="fa fa-angle-right"></i></a>
            	</span>
                <a class="btn btn-thin btn-red effect" data-sly-test.suffix="${'{0}{1}' @ format=[pageProperties.cruiseCode, '.html']}"
                    href="${cruise.requestQuotePagePath @ extension='html', selectors='s', suffix=suffix}" data-sscclicktype="clic-RAQ">
                    <span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="cruise__header__meta hidden-xs">
            <div class="cruise__header__nextprev">
                <a data-sly-test="${cruise.previous}" href="${cruise.previous @ extension='html'}"><i class="fa fa-angle-left"></i> <span>${'previous-voyage' @ i18n}</span></a>
                <a data-sly-test="${cruise.next}" href="${cruise.next @ extension='html'}"><span>${'next-voyage' @ i18n}</span> <i class="fa fa-angle-right"></i></a>
            </div>
            <div class="cruise__header__metainfo hidden-xs">
                <span>${'voyage' @ i18n} ${cruise.cruiseModel.cruiseCode}</span>
                <ul data-sly-test="${cruise.exclusiveOffers.size > 0 || cruise.cruiseModel.features.size > 0}">
                    <li class="meta_feature_inner" data-sly-test="${cruise.exclusiveOffers.size > 0}">
                        <span class="feature">
                            <i class="icon-star"></i>
                            <span class="tooltip"><i></i>${'Exclusive Offer' @ i18n}</span>
                        </span>
                    </li>
                    <li class="meta_feature_inner" data-sly-repeat="${cruise.cruiseModel.features}">
                        <span class="feature">
                            <i class="${item.icon}"></i>
                            <span class="tooltip"><i></i>${item.title}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>