//Tablet
@media(min-width:@screen-md-min) and (max-width:@screen-md-max){
	.maxHeightTablet1005 {
	    max-height: 1005px !important;
	}
	
	.maxHeightTablet1010 {
	    max-height: 1010px !important;
	}
	
	.maxHeightTablet1015 {
	    max-height: 1015px !important;
	}
	
	.maxHeightTablet1020 {
	    max-height: 1020px !important;
	}
	
	.maxHeightTablet1025 {
	    max-height: 1025px !important;
	}
	
	.maxHeightTablet1030 {
	    max-height: 1030px !important;
	}
	
	.maxHeightTablet1035 {
	    max-height: 1035px !important;
	}
	
	.maxHeightTablet1040 {
	    max-height: 1040px !important;
	}
	
	.maxHeightTablet1045 {
	    max-height: 1045px !important;
	}
	
	.maxHeightTablet1050 {
	    max-height: 1050px !important;
	}
	
	.maxHeightTablet1055 {
	    max-height: 1055px !important;
	}
	
	.maxHeightTablet1060 {
	    max-height: 1060px !important;
	}
	
	.maxHeightTablet1065 {
	    max-height: 1065px !important;
	}
	
	.maxHeightTablet1070 {
	    max-height: 1070px !important;
	}
	
	.maxHeightTablet1075 {
	    max-height: 1075px !important;
	}
	
	.maxHeightTablet1080 {
	    max-height: 1080px !important;
	}
	
	.maxHeightTablet1085 {
	    max-height: 1085px !important;
	}
	
	.maxHeightTablet1090 {
	    max-height: 1090px !important;
	}
	
	.maxHeightTablet1095 {
	    max-height: 1095px !important;
	}
	
	.maxHeightTablet1100 {
	    max-height: 1100px !important;
	}
	
	.maxHeightTablet1105 {
	    max-height: 1105px !important;
	}
	
	.maxHeightTablet1110 {
	    max-height: 1110px !important;
	}
	
	.maxHeightTablet1115 {
	    max-height: 1115px !important;
	}
	
	.maxHeightTablet1120 {
	    max-height: 1120px !important;
	}
	
	.maxHeightTablet1125 {
	    max-height: 1125px !important;
	}
	
	.maxHeightTablet1130 {
	    max-height: 1130px !important;
	}
	
	.maxHeightTablet1135 {
	    max-height: 1135px !important;
	}
	
	.maxHeightTablet1140 {
	    max-height: 1140px !important;
	}
	
	.maxHeightTablet1145 {
	    max-height: 1145px !important;
	}
	
	.maxHeightTablet1150 {
	    max-height: 1150px !important;
	}
	
	.maxHeightTablet1155 {
	    max-height: 1155px !important;
	}
	
	.maxHeightTablet1160 {
	    max-height: 1160px !important;
	}
	
	.maxHeightTablet1165 {
	    max-height: 1165px !important;
	}
	
	.maxHeightTablet1170 {
	    max-height: 1170px !important;
	}
	
	.maxHeightTablet1175 {
	    max-height: 1175px !important;
	}
	
	.maxHeightTablet1180 {
	    max-height: 1180px !important;
	}
	
	.maxHeightTablet1185 {
	    max-height: 1185px !important;
	}
	
	.maxHeightTablet1190 {
	    max-height: 1190px !important;
	}
	
	.maxHeightTablet1195 {
	    max-height: 1195px !important;
	}
	
	.maxHeightTablet1200 {
	    max-height: 1200px !important;
	}
	
	.maxHeightTablet1200 {
	   max-height: 1200px !important;
	}
	
	.maxHeightTablet1205 {
	    max-height: 1205px !important;
	}
	
	.maxHeightTablet1210 {
	    max-height: 1210px !important;
	}
	
	.maxHeightTablet1215 {
	    max-height: 1215px !important;
	}
	
	.maxHeightTablet1220 {
	    max-height: 1220px !important;
	}
	
	.maxHeightTablet1225 {
	    max-height: 1225px !important;
	}
	
	.maxHeightTablet1230 {
	    max-height: 1230px !important;
	}
	
	.maxHeightTablet1235 {
	    max-height: 1235px !important;
	}
	
	.maxHeightTablet1240 {
	    max-height: 1240px !important;
	}
	
	.maxHeightTablet1245 {
	    max-height: 1245px !important;
	}
	
	.maxHeightTablet1250 {
	    max-height: 1250px !important;
	}
}