//Tablet
@media(min-width:@screen-md-min) and (max-width:@screen-md-max){
	.viewHeightTablet20 {
	    height: calc(~"20vh - 60px") !important;
	}
	
	.viewHeightTablet25 {
	    height: calc(~"25vh - 60px") !important;
	}
	
	.viewHeightTablet30 {
	    height: calc(~"30vh - 60px") !important;
	}
	
	.viewHeightTablet35 {
	    height: calc(~"35vh - 60px") !important;
	}
	
	.viewHeightTablet40 {
	    height: calc(~"40vh - 60px") !important;
	}
	
	.viewHeightTablet45 {
	    height: calc(~"45vh - 60px") !important;
	}
	
	.viewHeightTablet50 {
	    height: calc(~"50vh - 60px") !important;
	}
	
	.viewHeightTablet55 {
	    height: calc(~"55vh - 60px") !important;
	}
	
	.viewHeightTablet60 {
	    height: calc(~"60vh - 60px") !important;
	}
	
	.viewHeightTablet65 {
	    height: calc(~"65vh - 60px") !important;
	}
	
	.viewHeightTablet70 {
	    height: calc(~"70vh - 60px") !important;
	}
	
	.viewHeightTablet75 {
	    height: calc(~"75vh - 60px") !important;
	}
	
	.viewHeightTablet80 {
	    height: calc(~"80vh - 60px") !important;
	}
	
	.viewHeightTablet85 {
	    height: calc(~"85vh - 60px") !important;
	}
	
	.viewHeightTablet90 {
	    height: calc(~"90vh - 60px") !important;
	}
	
	.viewHeightTablet95 {
	    height: calc(~"95vh - 60px") !important;
	}
	
	.viewHeightTablet100 {
	    height: calc(~"100vh - 60px") !important;
	}
}