<div data-sly-use.searchResultsUse="com.silversea.aem.components.editorial.SearchResultsUse" data-sly-test="${(wcmmode.edit || wcmmode.design)}" class="cq-placeholder"
    data-emptytext="Search results"></div>
<div class="c-search-result">
    <div class="c-search-result__form-wrapper">
        <h2 class="c-search-result__form-wrapper__title" data-toggle="collapse" data-target="#c-search-result-panel" aria-expanded="false">
            ${'search' @ i18n}
            <i class="fa fa-angle-down"></i>
            <i class="fa fa-angle-up"></i>
        </h2>
        <div id="c-search-result-panel" class="collapse">
            <p>${'the-search-box-allows' @ i18n}</p>
            <p>${'you-can-utilize-this-page' @ i18n}</p>
            <form action="${properties.searchPageReference ? properties.searchPageReference : currentPage.path @ extension ='html'}" class="row">
                <div class="form-group form-group-lg col-sm-7"> 
                    <input class="form-control" type="search" value="${searchResultsUse.searchText}" placeholder="${'type-here-to-search' @ i18n}" name="q">
                    <button type="submit"><i class="fa fa-lg fa-search" aria-hidden="true"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="c-search-result__results" data-sly-test="${searchResultsUse.searchResult}">
        <h3 class="c-search-result__results__title">${'results' @ i18n}:</h3>
        <div data-sly-test.isNotEmpty="${searchResultsUse.searchResult.totalMatches > 0}" class="c-search-result__results__list">
            <div data-sly-repeat.hit="${searchResultsUse.hitsListFiletered}" class="c-search-result__results__item" tabindex="0">
                <h4 class="c-search-result__results__item__title">${hit.title @ context='html'}</h4>
                <p class="c-search-result__results__item__description">${hit.excerpt @ context='html'}</p>
                <a class="c-search-result__results__link" href="${hit.path @ extension='html'}" tabindex="-1">
                    <span class="hidden">${hit.title @ context='html'}</span>
                </a>
            </div>
        </div>

        <nav data-sly-test="${isNotEmpty && !searchResultsUse.noResult}"class="c-search-result__pagination">
            <ul class="c-search-result__pagination__list">
                <li class="c-search-result__pagination__list__item" data-sly-test="${searchResultsUse.showPreviousLink}">
                    <a class="c-search-result__pagination__list__item--prev"
                    href="${currentPage.path @ extension='html'}?q=${searchResultsUse.searchText}&page=${searchResultsUse.previousPage}">&larr; ${'previous' @ i18n}</a></li>
                <li class="c-search-result__pagination__list__item" data-sly-test="${searchResultsUse.showFirstPage}">
                    <a href="${currentPage.path @ extension='html'}?q=${searchResultsUse.searchText}&page=1">1</a>
                </li>
                <li class="c-search-result__pagination__list__item" data-sly-test="${searchResultsUse.showPrev}">...</li>
                <li class="c-search-result__pagination__list__item" data-sly-repeat="${searchResultsUse.pageTrio}">
                    <div class="c-search-result__pagination__list__item--active" data-sly-test="${item == searchResultsUse.pageRequested}">
                        <b>${item}</b>
                    </div>
                    <a data-sly-test="${item != searchResultsUse.pageRequested}" href="${currentPage.path @ extension='html'}?q=${searchResultsUse.searchText}&page=${item}">${item}</a>
                </li>
                <li class="c-search-result__pagination__list__item" data-sly-test="${searchResultsUse.showNext}">...</li>
                <li class="c-search-result__pagination__list__item" data-sly-test="${searchResultsUse.showLastPage}">
                    <a href="${currentPage.path @ extension='html'}?q=${searchResultsUse.searchText}&page=${searchResultsUse.numberOfPages}">${searchResultsUse.numberOfPages}</a>
                </li>
                <li class="c-search-result__pagination__list__item" data-sly-test="${searchResultsUse.showNextLink}">
                    <a class="c-search-result__pagination__list__item--next" href="${currentPage.path @ extension='html'}?q=${searchResultsUse.searchText}&page=${searchResultsUse.nextPage}">${'next' @ i18n} &rarr;</a>
                </li>
            </ul>
        </nav>

        <div class="c-search-result__no-result" data-sly-test="${searchResultsUse.noResult}">
            <h3>${'no-results-search' @ i18n}</h3>
        </div>
    </div>
</div>