<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Request Brochure"></div>
<div class="c-quote-request-form">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 c-call-request-form__form" data-sly-test="${properties.typeForm == 'online-form'}" data-sly-include="./form.html"></div>
        <div class="col-sm-8 col-sm-offset-2 c-call-request-form__form" data-sly-test="${properties.typeForm == 'printed-form'}" data-sly-include="./form-printed.html"></div>
    </div>
</div>