<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Request Brochure"></div>
<div class="c-quote-request-form ${quoteRequest.isGPDR ? 'gpdr' : ''}" data-sly-use.quoteRequest="com.silversea.aem.components.editorial.QuoteRequestUse">

    ${quoteRequest.prepareBrochureParameters}

    <div class="row">
    	<div data-sly-test="${quoteRequest.showSideHtmlBrochure}" class="c-quote-request-form__side col-sm-5">
	   		<sly data-sly-use.side="side.html" data-sly-call="${side.default @ item=quoteRequest }" />
    	</div>
   		<div data-sly-test="${properties.typeForm == 'online-form'}" class="${quoteRequest.showSideHtmlBrochure ? 'col-sm-7' : 'col-sm-8 col-sm-offset-2'} c-call-request-form__form">
	   		<sly data-sly-use.form="form.html" data-sly-call="${form.default @ item=quoteRequest }" />
   		</div>
		<div data-sly-test="${properties.typeForm == 'printed-form'}" class="${quoteRequest.showSideHtmlBrochure ? 'col-sm-7' : 'col-sm-8 col-sm-offset-2'} c-call-request-form__form">
	   		<sly data-sly-use.formPrinted="form-printed.html" data-sly-call="${formprinted.default @ item=quoteRequest }" />
   		</div>
    </div>
</div>
<script>
//Refresh Global Mbox function - A/B Test 
function TargetOffer(){
	try {
		  adobe.target.getOffer({  
			  "mbox": "target-global-mbox",  
			  "success": function(offers) {          
			        adobe.target.applyOffer( { 
			           "mbox": "target-global-mbox",
			           "offer": offers 
			        } );
			  },  
			  "error": function(status, error) {          
			    
			  },
			"timeout": 5000
			});
		}
		catch(error) {
		  console.error(error);
		}
} TargetOffer()

</script>