<sly data-sly-use.brochureTeaserUse="com.silversea.aem.components.editorial.BrochureTeaserUse"/>
<div class="row">
    <div class="col-md-7 visible-lg">
        <img class="visible-lg c-brochure__img" alt="" src="${brochureTeaserUse.assetThumbnailsList[0]}">
    </div>
    <div class="col-md-5">
        <div class="c-brochure__title">${brochureTeaserUse.assetTitle}</div>
        <img class="hidden-lg c-brochure__img" alt="" src="${brochureTeaserUse.assetThumbnailsList[0]}">
        <p>${brochureTeaserUse.assetDescription}</p>
        <div class="c-brochure__btndiv">
            <a href="${currentStyle.onlineRequestForm}">
                <button class="c-btn c-btn--dark c-brochure__btn" type="button">
                    <i class="fa fa-search"></i>
                    &nbsp; Voir en ligne
                </button>
            </a>
            <br>
            <a href="${currentStyle.printedRequestForm}">
                <button class="c-btn c-btn--dark c-brochure__btn" type="button">
                    <i class="fa fa-envelope"></i>
                    &nbsp; M'envoyer cette <br> &nbsp; &nbsp; &nbsp; &nbsp; brochures
                </button>
            </a>
        </div>
    </div>
</div>
<hr>