<template data-sly-template.default="${ @ brochure, currentStyle, fontSizeTitleDesktop, fontSizeTitleTablet, fontSizeTitleMobile, fontSizeTextDesktop, fontSizeTextTablet, fontSizeTextMobile}">
<sly data-sly-use.externalizedOnlinePath="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentStyle.onlineRequestFormReference, absolute=false}" />
<sly data-sly-use.externalizedPrintedPath="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentStyle.printedRequestFormReference, absolute=false}" />
    <div class="row">
        <div class="col-md-12 visible-sm visible-xs">
            <h3 class="c-brochure__title  ${fontSizeTitleDesktop} ${fontSizeTitleTablet} ${fontSizeTitleMobile}">${brochure.assetTitle}</h3>
        </div>
        <div class="col-md-7">
            <img class="c-brochure__img" alt="${brochure.assetTitle || currentPage.title}" src="${brochure.cover}" />
        </div>
        <div class="col-md-5">
            <span class="c-brochure__title visible-lg visible-md alternative-h ${fontSizeTitleDesktop} ${fontSizeTitleTablet} ${fontSizeTitleMobile}">${brochure.assetTitle}</span>
            <p class="c-brochure__description ${fontSizeTextDesktop} ${fontSizeTextTablet} ${fontSizeTextMobile}">${brochure.assetDescription}</p>
            <p class="c-brochure__btnwrapper"
               data-sly-use.lightbox="${'com.silversea.aem.helper.PageHelper' @ path=currentStyle.onlineRequestFormReference}">
                <a data-sly-test="${currentStyle.onlineRequestFormReference}"
                   href="${externalizedOnlinePath.externalizedTranslatedUrl @ selectors=['modalcontent'] , extension='html'}${brochure.brochurePath}.html"
                   class="btn btn-dark c-brochure__btn effect trackviewonlinebro" data-toggle="modal"
                   data-target=".bs-${lightbox.page.properties.modalSize || 'modal-lg'}">
                    <i class="fa fa-search" data-sly-test="${!brochure.preOrder}"></i>
                    <strong>${brochure.preOrder ? 'pre-order' : 'view-online' @i18n}</strong>
                </a>
            </p>
            <p class="c-brochure__btnwrapper"
               data-sly-use.lightbox="${'com.silversea.aem.helper.PageHelper' @ path=currentStyle.printedRequestFormReference}">
                <a data-sly-test="${currentStyle.printedRequestFormReference && !brochure.isBrochureDigitalOnly}"
                   href="${externalizedPrintedPath.externalizedTranslatedUrl @ selectors=['modalcontent'], extension='html'}${brochure.brochurePath}.html"
                   class="btn btn-dark c-brochure__btn effect trackmailmebro" data-toggle="modal"
                   data-target=".bs-${lightbox.page.properties.modalSize || 'modal-lg'}">
                    <i class="fa envelope"></i>
                    <strong>${'mail-me-brochure' @ i18n}</strong>
                </a>
            </p>
        </div>
    </div>
</template>