<sly data-sly-use.brochureTeaserUse="com.silversea.aem.components.editorial.BrochureTeaserUse"/>

<div class="c-subscribe__form--label-important">${brochureTeaserUse.assetTitle}</div>

<div>Brochure Path : ${properties.brochurePath}</div>
<div>Brochure Description : ${brochureTeaserUse.assetDescription}</div>
<div>Brochure title : ${brochureTeaserUse.assetTitle}</div>
<div>Brochure Image path : ${brochureTeaserUse.assetImage}</div>

<img alt="" src="${brochureTeaserUse.assetImage}">


<img alt="" src="${brochureTeaserUse.assetThumbnailsList[1]}">

<dl data-sly-list.child="${brochureTeaserUse.assetThumbnailsList}">
    <dt>key: ${child[0]}</dt>
    <dd>value: ${brochureTeaserUse.assetThumbnailsList[child]}</dd>
</dl>

