<template data-sly-template.default="${ @ itinerary, excursions, mid, size, cruise,itineraryLast }">
    <div style="display:none;"
         class="cruise-2018-itineraries-port-excursions cruise-2018-itineraries-excursions-accordion  ${itineraryLast ? 'cruise-2018-itineraries-port-excursions-last' : ''}"
         id="cruise2018itineraryexcursion">
        <sly data-sly-list.midEx="${mid}">
            <sly data-sly-use.subExcursion="/apps/silversea/silversea-com/components/pages/cruise2018/templates/itineraryexcursions/excursion.html"
                 data-sly-call="${subExcursion.sub @ itinerary=itinerary, index = midExList.index, id = midEx.landId,
                 description = midEx.description, lightbox= 'lg-midShorex', title = midEx.title, isMid=true, features =null, isLast=midExList.last}">
            </sly>
        </sly>
        <sly data-sly-list.excursion="${excursions}"
             data-sly-test.lightbox="${itinerary.hasDedicatedShorex ? 'lg-itShorex' : 'lg-shorex'}">
            <sly data-sly-test.description="${excursion.longDescription || excursion.apiLongDescription || excursion.description }"/>
            <sly data-sly-use.subExcursion="/apps/silversea/silversea-com/components/pages/cruise2018/templates/itineraryexcursions/excursion.html"
                 data-sly-call="${subExcursion.sub @ itinerary=itinerary, index = excursionList.index, id = excursion.shorexId,
                 description = description, lightbox= lightbox, title = excursion.title, isMid=false,features= excursion.features, isLast=excursionList.last}">
            </sly>
        </sly>

        <div data-ssc-accordion="show" data-sly-test="${size>8}"
             class="cruise-2018-itineraries-port-excursions-btn">
            <a class="btn btn-thin btn-white" href="#">
                <span class="cruise-2018-excursions-accordion-button">${'view-all-excursions' @ i18n}</span>
                <span class="cruise-2018-excursions-accordion-button" style="display:none">${'view-less' @ i18n}</span>
            </a>
        </div>
    </div>
</template>
<template data-sly-template.sub="${ @ itinerary, index, id,description,  lightbox, title, isMid, features, isLast}">
    <div class="${index<8 ? '' : 'cruise-2018-excursions-accordion'} cruise-2018-itineraries-port-excursions-excursion ${description  ? '' : 'cruise-2018-itineraries-port-excursions-excursion-no-content'} ${isLast == true ? 'cruise-2018-itineraries-port-excursions-excursion-last' : ''}">
        <a
                class="open-lightbox-land-shorex-hotel" data-target=".lightbox"
                data-itinerary-id="${itinerary.itineraryId}" data-excursion-id="${id}"
                href="${request.requestURI @ extension='', selectors=['lightboxes.lg-land-shorex-hotel',lightbox]}">
            <div class="cruise-2018-itineraries-port-excursions-moredetails">
                    <span>
                        ${'view-more-details' @ i18n}
                    </span></div>
        </a>
        ${title}
        <div class="cruise-2018-itineraries-port-excursions-excursion-features" data-sly-list.feature="${features}"
             data-sly-test="${features}">
            <span class="feature"> <i class="${feature.icon}"></i> <span class="tooltip"><i></i>${feature.title}</span></span>
        </div>
        <div class="cruise-2018-itineraries-port-excursions-excursion-features" data-sly-test="${isMid}">
            <span class="midland">MIDLAND</span>
        </div>
    </div>
</template>
