<template data-sly-template.default="${ @ cruise,externalizerHelper }">
    <sly data-sly-use.itinerary="/apps/silversea/silversea-com/components/pages/cruise2018/templates/itineraryexcursions/itinerary.html"
         data-sly-call="${itinerary.default @ cruise=cruise, externalizerHelper=externalizerHelper}"/>
    <sly data-sly-use.excursions="/apps/silversea/silversea-com/components/pages/cruise2018/templates/itineraryexcursions/excursions.html"
         data-sly-call="${excursions.default @ cruise=cruise}"/>
</template>
