<template data-sly-template.default="${ @ cruise }">
    <div class="cruise-2018-itineraries-container">
        <sly data-sly-test.list="${cruise.itinerary}"/>
        <div data-sly-list.itinerary="${list}">
            <sly data-sly-test.thumbnail="${itinerary.thumbnail}"/>
            <sly data-sly-test.name="${itinerary.name}"/>
            <sly data-sly-test.country="${itinerary.countryIso3}"/>
            <sly data-sly-test.excursions="${itinerary.excursions}"/>
            <sly data-sly-test.iDate="${itinerary.date}"/>
            <sly data-sly-test.arriveTime="${itinerary.arriveTime}"/>
            <sly data-sly-test.departTime="${itinerary.departTime}"/>
            <sly data-sly-test.hasExcursions="${itinerary.hasExcursions}"/>
            <sly data-sly-test.excursionDescription="${itinerary.excursionDescription}"/>
            <sly data-sly-test.overnight="${itinerary.overnight}"/>
            <!--/content/dam/silversea-com/ports/s/san-cristobal/new-itinerary-san-cristobal-silversea-galapagos-cruise-san-cristobal1.jpg-->
            <div class="cruise-2018-itineraries-itinerary" id="itinerary-${itinerary.itineraryId}">
                <div class="cruise-2018-itineraries-itinerary-row">
                    <a class="open-lightbox-port cruise-2018-link-open-modal" data-target=".lightbox"
                       href="${cruise.cruiseModel.page.path @ extension='html', selectors=['lightboxes.lg-port', itinerary.itineraryId]}"></a>
                    <div class="cruise-2018-itineraries-itinerary-row-day">
                        <div class="cruise-2018-itineraries-itinerary-row-day-wrapper">
                            <span class="cruise-2018-itineraries-itinerary-row-day-content"> ${itineraryList.count}</span>
                        </div>
                    </div>
                    <div class="cruise-2018-itineraries-itinerary-row-container ${itineraryList.last ?  'cruise-2018-itineraries-no-border' : ''}">
                        <div class="cruise-2018-itineraries-itinerary-row-thumbnail">
                            <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"
                                 data-sly-call="${imageTemplate.default @ imagePath=thumbnail}"/>
                        </div>
                        <div class="cruise-2018-itineraries-itinerary-row-text">
                            <div class="cruise-2018-itineraries-itinerary-row-text-name">
                                ${name}
                            </div>
                            <div class="cruise-2018-itineraries-itinerary-row-text-country">
                                ${country @ i18n}
                            </div>
                            <div data-sly-test=${hasExcursions} class="cruise-2018-itineraries-itinerary-row-text-excursions">
                                ${excursions.size} ${'excursions' @i18n}
                            </div>
                            <div class="cruise-2018-itineraries-itinerary-row-text-mobile-date">
                                <span data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='EEE dd MMM', date=iDate}">
                                     ${date.value}
                                </span>
                            </div>
                        </div>
                        <div class="cruise-2018-itineraries-itinerary-row-date">
                            <div class="cruise-2018-itineraries-itinerary-row-date-day">
                                <span class="c-pressreleaseslist__date"
                                      data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='EEEE dd MMM', date=iDate}">
                                     ${date.value}
                                </span>
                            </div>
                            <div class="cruise-2018-itineraries-itinerary-row-date-time">
                                <sly data-sly-test="${arriveTime && !departTime}">${'arrive' @i18n}</sly>
                                ${arriveTime}
                                <sly data-sly-test="${arriveTime && (departTime || overnight)}">-</sly>
                                <sly data-sly-test="${!arriveTime && departTime}">${'departure' @i18n}</sly>
                                ${departTime}
                                <i data-sly-test="${overnight}" class="fa fa-moon-o"></i>
                            </div>
                        </div>
                        <div class="cruise-2018-itineraries-itinerary-row-date-lightbox">
                            <i class="btn-more fa fa-angle-down"></i>
                        </div>
                        <div
                                class="cruise-2018-itineraries-itinerary-row-date-arrow" data-ssc-accordion="show">
                            <i data-sly-test="${hasExcursions}"
                               class="btn-more fa fa-angle-down"></i>
                            <i data-sly-test="${hasExcursions}" style="display:none;"
                               class="btn-more fa fa-angle-up"></i>
                        </div>
                    </div>
                    <div class="cruise-2018-itineraries-excursions-accordion cruise-2018-itineraries-show-more-wrapper"
                         style="display:none;" data-sly-test="${hasExcursions}">
                        <div class="cruise-2018-itineraries-excursions-accordion cruise-2018-itineraries-show-more cruise-2018-itineraries-port-excursions-description">${excursionDescription} </div>
                        <div class="cruise-2018-itineraries-excursions-accordion cruise-2018-itineraries-show-more cruise-2018-itineraries-port-excursions-number">${excursions.size} ${'excursions' @ i18n}</div>
                    </div>
                    <sly data-sly-test="${hasExcursions}"
                         data-sly-use.excursion="/apps/silversea/silversea-com/components/pages/cruise2018/templates/itineraryexcursions/excursion.html"
                         data-sly-call="${excursion.default @ port=itinerary.port, excursions=excursions}"/>

                </div>
            </div>
        </div>
    </div>
</template>
