<div class="o-area-property-display">
    <div class="o-section">
        <!-- Image -->
        <img class="o-slider" src="${pageProperties.assetSelectionReference}" alt=""/>
        
        <!-- Title -->
        <h1 class="o-title">${currentPage.navigationTitle || currentPage.title}</h1>
       
        <!-- Description -->
        <div class="o-section o-section--separator o-description">
            ${pageProperties.longDescription || currentPage.description}
        </div>
    </div>
</div>