<div class="container">
    <div data-sly-resource="${'parBVersion' @ resourceType='wcm/foundation/components/responsivegrid'}" class="ab-test-global-v2"></div>

    <div class="c-pagecontent">
        <div class="row">
            <div class="col-md-12">
                <div class="c-tab c-tab-ship">
                    <ul class="c-tab__nav c-tab__nav--fixed" aria-expanded="false">
                        <li class="c-tab__link" data-state="active">
                            <a href="#voyages"><img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/voyage.png" height="28px"><span>${'voyages' @i18n}</span></a>
                        </li>
                        <li class="c-tab__link">
                            <a href="#suites"><img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/suite.png" height="28px"><span>${'suites' @i18n}</span></a>
                        </li>
                        <li class="c-tab__link">
                            <a href="#dining"><img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/dining.png" height="28px" width="24px"><span>${'dining' @i18n}</span></a>
                        </li>
                        <li class="c-tab__link">
                            <a href="#publicareas"><img src="/etc/designs/silversea-com/clientlib-icon-2018/18px/public-area.png" height="28px"><span>${'public-areas' @i18n}</span></a>
                        </li>
                    </ul>
                    <div class="c-tab__body">
                        <div class="c-tab__content" data-state="active" id="voyages">
                            <div data-sly-resource="${'findyourcruise' @ resourceType='silversea/silversea-ssc/components/editorial/findyourcruise_landing'}"></div>
                        </div>
                        <div class="c-tab__content" id="suites">
                            <div data-sly-resource="${'parSuite' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
                            
                        </div>
                        <div class="c-tab__content" id="dining">
                            <div data-sly-resource="${'parDinings' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
                            
                        </div>
                        <div class="c-tab__content" id="publicareas">
                            <div data-sly-resource="${'parPublicAreas' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-sly-resource="${'par2' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
</div>
