.c-blogpostteaser {
 	&:before {
        border-bottom: 1px solid @grey--c;
    }
    &__read-more {

        span {
            border-bottom: 1px solid @grey--e6;
        }
    }
}


@media screen and (min-width: @screen-md-min) {
    .c-blogpostteaser {

        &__read-more {

            span {
                border-color: @black;
            }
        }
    }
}
