





.c-call {
    color: @white;
}







.c-callbox {
    color: @grey--2b;


    &__inner {
        border: solid 1px @grey--d;
    }
}







.simplepage {
    .o-section--callbox {
        border-top: 1px solid @grey--d;
    }
}
