/*
** c- Call
** Callbox for header
** 3 differents states
**/

.c-call {
    color: @white;
}

/*
** c- Callbox
** Callbox like baner
** 2 differents states
**/

.c-callbox {
    color: @grey--2b;


    &__inner {
        border: solid 1px @grey--d;
    }
}


/*
** c- Callbox
** Callbox for simple page
**/

.simplepage {
    .o-section--callbox {
        border-top: 1px solid @grey--d;
    }
}
