.chosen-container {
    &.chosen-with-drop {
        .chosen-single {
            border-color: @black;
            color: @black;
            &.chosen-default {
                color: @black;
            }
        }
    }
    .chosen-single {
        background: @white;
        color: @black;
        &.chosen-default {
            color: @grey;
        }
        div b {
            &:before {
                color: @grey;
            }
        }
    }
    .chosen-drop {
        border-color: @black;
        .chosen-results {
            li {
                &.highlighted,
                &.result-selected {
                    background: @black;
                    color: @white;
                }
            }
        }
    }
}