/*
** C- ECLUSIVE OFFERS
*/

.exclusiveoffer {
    .o-title {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .o-description {
        font-size: 13px;
        margin-bottom: 24px;
    }
    .o-area-property-display {
        padding-top: 0;

        &.separator {
            padding-bottom: 20px;
            margin-bottom: 27px;
            border-bottom: solid 1px @grey--d;
        }
    }
    .o-section {
        padding: 0;
    }
    .o-description {
        margin-bottom: 0;
    }
    .parbase:not(.teaser):not(.accordion):not(.tab) {
        margin-bottom: 0;
    }

}
