.c-footer {
    .ab-footer-b-version {
        .o-separator-hr {
            border-color: @grey--d;
        }
        .o-brochure-section {
            background-color: @black;
            .title {
                font-color: @white;
                color: @white;
            }
        }
        .c-brochure {
            &__content_text {
                .btn-primary {
                    color: @white;
                    background-color: @black;
                }
                .title {
                    font-color: @white;
                    color: @white;
                }
                .description {
                    color: @white;
                }
            }
        }
    }
}