.c-form {


    .checkbox > label {


        .icheckbox_minimal {

        }
    }

    .chosen-single {
        color: @grey--7;
    }

    .chosen-drop {
        border-color: @grey--8;
    }

    .form-group-lg {
        input:not([type="checkbox"]) {


        }

        .chosen-search input {

        }
    }

    .chosen-container-single .chosen-search input[type="text"] {
        border: 0;
    }

    .form-group {
        .feedback-error {





        }

        .feedback-success {





        }
    }

    .intl-tel-input {

    }

    .countrycode {


        .flag-container {

        }

        .form-group {

        }

        .chosen-container {




            &.chosen-with-drop {

            }
        }

        .chosen-single {

        }

        .chosen-drop {

        }

        .intl-tel-input .selected-flag {


            &:after {
                color: @grey--8;







            }
        }

        #InputTelephoneNumber {

        }
    }

    .with-errors {


    }

    .has-feedback {
        input[type='text'].form-control {

        }

        select.form-control {

        }
    }

    .has-error ~ .chosen-container {
        .chosen-drop {
            border-color: @red;
        }
    }

    .has-success ~ .chosen-container {
        .chosen-drop {
            border-color: @green--35;
        }
    }

    .has-error {
        .chosen-container {
            .chosen-single,
            .chosen-drop {
                border-color: @red;
            }

            .chosen-single span {
                color: @red;
            }
        }

        .form-control {
            &::-webkit-input-placeholder {
                color: @red;
            }

            &::-moz-placeholder {
                color: @red;
            }

            &:-ms-input-placeholder {
                color: @red;
            }

            &:-moz-placeholder {
                color: @red;
            }
        }
    }

    .has-success {
        .chosen-container {
            .chosen-single,
            .chosen-drop {
                border-color: @green--35;
            }
        }
    }

    @media screen and (min-width: @screen-md-min) {
        .with-errors {



        }

        .input--title .with-errors {

        }

        .input--subject .with-errors {

        }

        .input--inquiry .with-errors {

        }

        .countrycode .with-errors {


        }
    }

    .countrycode {
        .with-errors {


            .list-unstyled {

            }
        }
    }

    .postalcode {

        .with-errors {

            @media (min-width: @screen-md-min) {



            }
        }

        .feedback-error {

        }

        .feedback-success {

        }
    }

    .city {
        .with-errors {

        }

        .feedback-error {

        }

        .feedback-success {

        }
    }

    .select-country {
    	@media (min-width: 768px) {

    	}
    	.feedback-success {

    	}
    }

    .input--title {
        .chosen-single {

        }
    }

    .input--subject {
        .chosen-single {

        }
    }

    .input--inquiry {
        .chosen-single {

        }
    }

    select {
        &[name='title'],
        &[name='country'],
        &[name='subject'],
        &[name='inquiry'] {
            + .chosen-container .chosen-single {

            }
        }
    }
}

.form-control {
    border-color: @grey--8;

    &::-webkit-input-placeholder {
        color: @grey--7;

    }

    &::-moz-placeholder {
        color: @grey--7;

    }

    &:-ms-input-placeholder {
        color: @grey--7;

    }

    &:-moz-placeholder {
        color: @grey--7;

    }
}

input::-ms-clear {



}

input,
textarea,
select {



}

.form-group-lg select.form-control {



}

.mobile {
    .active select {
        color: @grey--5;
    }

    select {
        background-color: @white;

        color: @grey--9;

        & + .fa-angle-down {




        }
    }

    .c-find-your-cruise-filter {
        .single-filter {


            &.active {
                select {
                    background-color: @black;
                    color: @white;

                    & + .fa-angle-down {
                        color: @white;
                    }
                }
            }

            select {
                background-color: @grey--eb;
                border: 0;
                color: @black;






                & + .fa-angle-down {



                }
            }
        }
    }

    .c-search-hero select {
        color: @grey--9;
        border-color: @grey--d9;

        & + .fa-angle-down {

        }
    }

    .c-search-cruise__form select {
        color: @grey--9;
        border-color: @grey--d9;

        & + .fa-angle-down {

        }
    }

    .c-form select + .fa-angle-down {


    }

    #countryCode {







    }
}

.icheckbox_minimal,
.iradio_minimal {

}
