.c-form {


    .checkbox > label {


        .icheckbox_minimal {

        }
    }

    .chosen-single {
        color: @grey--7;
    }

    .chosen-drop {
        border-color: @grey--8;
    }

    .form-group-lg {
        input:not([type="checkbox"]) {


        }

        .chosen-search input {

        }
    }

    .chosen-container-single .chosen-search input[type="text"] {
        border: 0;
    }

    .form-group {
        .feedback-error {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAllBMVEX////64OT52+D63uL++fr99ff99Pb++/z++vv53OH63+PpfY3umKXncILbJUDfPlbztr/peovXEC7WCCffPVbxqbTul6TgQ1vbKEPxqrTgQlr0u8TXDCreNlDmZnnfPFXzucLxrrjbKUTXDSvXES/xrLbfO1TXDizeOlPlYXXkX3PeN1HmZ3rcKkXxq7XfP1fzuMHpfI3jUAoRAAAAC3RSTlMAAAAAAAAAAAAAAJEYpv8AAACaSURBVAjXXY/JcoJQAATbJXGFJ7QgRIyJ4pKoqP//cx6wPDi3qamZroHOZEqr6aQD3SgOMwBmIY66JKnOMyCba5qQL9Si7JWF+pXDMlS6+l5ptf4B+r8b3dZbLXZ9gI9yf1APx+yz5Qz+arX+H7b2LX/vL0Olp/PpuZ8v1EvTay4tP0k1NEATNE0YRfH1BsDtGkcjGN9f/+5jHot9Dxi6P6RYAAAAAElFTkSuQmCC');




        }

        .feedback-success {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAA/FBMVEX///91oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj4dGXx7AAAAU3RSTlMADz0Bdtc6AjTb928GDcK4IJn97Udqbu+kGcv8/tMTBPQ7Yi75oQ7FzheD8EU+839BIwrUuSnrHQnS51dt+kxgRIIssurlEPbjN2vRoBa1kTJ4jwCFDCIAAADmSURBVCjPddJZO4JRFMXxpZAU6ZjiPQm9Zpl6FakMmcn0//7fxZ3nqN2+XL9n7aslGTeWkn1pjU9MmpLRVJbpXN7qzMwCFOaGRUVwzC8YDxfBwZIhqWUclAxZWSXylNeGpVLEedY3jNImeMgZUo3xsGXI9g4edvcM2gc4ODSkdgRwHEYnp5KkszpAEsp5XK9JUgmg0Qzk4hJaV1K7A9ANpJlAROf6JgueWyn9R3e9GCLuH8CRPAYiqf0EEeB4fvkvUrcFHo9/HRSp+gYe3q099D+Act7cSuWTxteIhen7Z5Qo0x9MfgHXXCy02lvH1QAAAABJRU5ErkJggg==');




        }
    }

    .intl-tel-input {

    }

    .countrycode {


        .flag-container {

        }

        .form-group {

        }

        .chosen-container {




            &.chosen-with-drop {

            }
        }

        .chosen-single {

        }

        .chosen-drop {

        }

        .intl-tel-input .selected-flag {


            &:after {
                color: @grey--8;







            }
        }

        #InputTelephoneNumber {

        }
    }

    .with-errors {


    }

    .has-feedback {
        input[type='text'].form-control {

        }

        select.form-control {

        }
    }

    .has-error ~ .chosen-container {
        .chosen-drop {
            border-color: @red;
        }
    }

    .has-success ~ .chosen-container {
        .chosen-drop {
            border-color: @green--35;
        }
    }

    .has-error {
        .chosen-container {
            .chosen-single,
            .chosen-drop {
                border-color: @red;
            }

            .chosen-single span {
                color: @red;
            }
        }

        .form-control {
            &::-webkit-input-placeholder {
                color: @red;
            }

            &::-moz-placeholder {
                color: @red;
            }

            &:-ms-input-placeholder {
                color: @red;
            }

            &:-moz-placeholder {
                color: @red;
            }
        }
    }

    .has-success {
        .chosen-container {
            .chosen-single,
            .chosen-drop {
                border-color: @green--35;
            }
        }
    }

    @media screen and (min-width: @screen-md-min) {
        .with-errors {



        }

        .input--title .with-errors {

        }

        .input--subject .with-errors {

        }

        .input--inquiry .with-errors {

        }

        .countrycode .with-errors {


        }
    }

    .countrycode {
        .with-errors {


            .list-unstyled {

            }
        }
    }

    .postalcode {

        .with-errors {

            @media (min-width: @screen-md-min) {



            }
        }

        .feedback-error {

        }

        .feedback-success {

        }
    }

    .city {
        .with-errors {

        }

        .feedback-error {

        }

        .feedback-success {

        }
    }

    .select-country {
    	@media (min-width: 768px) {

    	}
    	.feedback-success {

    	}
    }

    .input--title {
        .chosen-single {

        }
    }

    .input--subject {
        .chosen-single {

        }
    }

    .input--inquiry {
        .chosen-single {

        }
    }

    select {
        &[name='title'],
        &[name='country'],
        &[name='subject'],
        &[name='inquiry'] {
            + .chosen-container .chosen-single {

            }
        }
    }
}

.form-control {
    border-color: @grey--8;

    &::-webkit-input-placeholder {
        color: @grey--7;

    }

    &::-moz-placeholder {
        color: @grey--7;

    }

    &:-ms-input-placeholder {
        color: @grey--7;

    }

    &:-moz-placeholder {
        color: @grey--7;

    }
}

input::-ms-clear {



}

input,
textarea,
select {



}

.form-group-lg select.form-control {



}

.mobile {
    .active select {
        color: @grey--5;
    }

    select {
        background-color: @white;
        border-radius: 5px;
        color: @grey--9;

        & + .fa-angle-down {




        }
    }

    .c-find-your-cruise-filter {
        .single-filter {


            &.active {
                select {
                    background-color: @black;
                    color: @white;

                    & + .fa-angle-down {
                        color: @white;
                    }
                }
            }

            select {
                background-color: @grey--eb;
                border: 0;
                color: @black;






                & + .fa-angle-down {



                }
            }
        }
    }

    .c-search-hero select {
        color: @grey--9;
        border-color: @grey--d9;

        & + .fa-angle-down {

        }
    }

    .c-search-cruise__form select {
        color: @grey--9;
        border-color: @grey--d9;

        & + .fa-angle-down {

        }
    }

    .c-form select + .fa-angle-down {


    }

    #countryCode {







    }
}

.icheckbox_minimal,
.iradio_minimal {

}
