.c-footer {


    & .btn {



        & .fa-lg {

        }
    }

    .c-list--legal {
        &__group {


        }

        &__item {


            @media screen and (min-width: @screen-sm) {


            }
        }

        strong {


        }
    }

    @media screen and (min-width: @screen-md-min) {
        .c-links {

            .c-list__accordion--content {


            }
        }
    }

    .spritelogo-dark {





    }

    .c-list-inline__item--award {
        img {



        }

        &:nth-child(1) img {

        }

        &:nth-child(2) img {

        }

        &:nth-child(3) img {

        }

        &:nth-child(4) img {

        }
    }

    .ab-footer-b-version {


        .c-list--legal__group {
            @media (min-width: @screen-md-min) {

            }

        }

        .o-section {

        }

        .o-separator-hr {










            border-color: @grey--d;
        }
        .c-links {



            @media (max-width: @screen-sm) {

            }
        }

        .row-section-links {

        }

        .c-brand-logo {

        }

        .o-section--social {

        }

        .o-brochure-section {






            background-color: @black;


















            .c-brochure__content_text {




            }

            .c-brochure__content_image {


                img {

                }
            }

            .title {


                font-color: @white;
                color: @white;


            }

        }

        .c-list__title {
            @media (max-width: @screen-sm) {


            }

        }

        .c-brochure {

            &__content_image {



                img {


                }

            }

            &__content_text {
                .btn {


                }

                .btn-primary {
                    color: @white;
                    background-color: @black;
                    @media (min-width: @screen-md-min) {

                    }
                }

                .title {


                    font-color: @white;
                    color: @white;


                }

                .description {
                    color: @white;


                }
            }
        }

        .c-callbox {
            &__msg {


                &--icon {

                    i {

                    }
                }

                &--desktop {
                    @media (max-width: @screen-sm) {

                    }
                }
            }

            &__number {


            }

            &__inner {

            }
        }

        .c-button-list {


        }

        @media (max-width : @screen-sm) {
            .o-section--separator {

            }

            .o-section--footersocial {


                .c-list--legal__item {


                }

                .row-footer-social {

                }

                .row {










                    .copyright {





                    }

                    .bottom-legal {






                    }

                    .social-icon {





                    }

                    .o-section--social {
                        .c-list-inline__item--social {


                            .fa {

                            }
                        }
                    }
                }
            }
        }
    }
}
