.video-link {
    color: @white;






    .fa-play {





        &:after {
            border: 3px solid @white;
            border-radius: 50%;






            -webkit-transform: translate(-55%, -50%);
            -ms-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);

        }
    }

    &:hover,
    &:focus,
    &:active {
        color: @white;

    }
}

.c-slider .c-hero-banner {


    @media screen and (max-width: @screen-sm) {


    }
}

.c-hero-banner {




    &-mobile-version {

        @media screen and (max-width: @screen-sm) {
            .slick-prev, .slick-next {


            }
        }
    }

    &-scrolldown {





        color: @white;









        span {

        }

        i {



        }

        i:hover {



        }

        @media (min-width: @screen-md-min) {
            &-desktop-black {
                color: @grey--3;
            }
            &-desktop {

            }
        }
    }

    span.c-hero-banner__title,
    h2.c-hero-banner__title,
    h3.c-hero-banner__title {




        color: inherit;


    }

    &:not(.c-hero-banner__search) {

    }

    .video-link {









    }

    &__content--white {
        background-color: @grey--08;
    }

    &__title {






    }

    &__buttons {

    }

    &__image {

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;





		@media (min-width: @screen-lg-min){

        }

		@media(min-width:@screen-md-min) and (max-width:@screen-md-max){

        }
        @media (max-width: @screen-sm){

        }

        .o-img {





            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    @media screen and (min-width: @screen-md-min) {
        &:not(.c-hero-banner__search) {

        }

        &__content:not(.c-hero-banner__content--white) {
            color: @white;
        }

        &__title {


        }

        &__image + .row &__content {






        }

        &__buttons {


            .btn {



            }
        }
    }

    @media screen and (max-width: @screen-sm) {


        .c-hero-banner__title {






            color: @black;
        }

        .video-link {


            .wistia_click_to_play {






            }
        }

        .c-hero-banner__description {












            color: @black;


        }

        .c-hero-banner__buttons {
            a {


                border: 0;












                span {



                }
            }
        }
    }
}
