.c-inline-gallery.c-slider {



    &.slick-initialized {

    }

    @media screen and (max-width: @screen-sm) {

    }

    @media screen and (min-width: @screen-lg-min) {
        .slick-prev,
        .slick-next {

        }

        .slick-prev {


            &:before,
            &:after {

            }
        }

        .slick-next {


            &:before,
            &:after {

            }
        }
    }

    .slick-slide {



        > div {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;





            @media screen and (min-width: @screen-md-min) {


            }
        }

        .automatic-gallery-modal {







            .fa {
                @media screen and (min-width: @screen-lg-min) {
                    -webkit-transform: translate(-45%, -50%) scale(0.85);
                    -ms-transform: translate(-45%, -50%) scale(0.85);
                    transform: translate(-45%, -50%) scale(0.85);
                }
            }
        }

        picture {







            .o-img {





            }
        }
    }
}
