.c-list {
    &__title {
        color: @grey--2b;
    }
    @media screen and (max-width: @screen-sm) {
        &__accordion {
            border: 1px solid @grey--d;
            &--full {
                border: 1px solid @grey--d;
            }
        }
    }
}