



.c-list-group {

    color: @grey--5;

    &.dayslist {

    }

    &--center {

    }

    &--striped {

        .c-list-group__item:nth-child(odd) {
            background-color: @grey--e8;

            &:hover,
            &:focus,
            &:active {
                border: 0;
                background-color: @grey--3;
                color: @white;
            }
        }
        .c-list-group__item--active:nth-child(odd) {
            border: 0;
            background-color: @grey--3;
            color: @white;
        }
    }
    &__item {




        &:hover,
        &:focus,
        &:active,
        &--active {
            border: 0;
            background-color: @grey--3;
            color: @white;
        }

        span {


            &:nth-child(1) {

            }
        }
    }
    &__title {

    }
}
