.c-list {


    &__title {

        color: @grey--2b;



    }

    &__item {



        &:last-child {

        }

        &--special {

        }
    }

    @media screen and (max-width: @screen-sm) {
        &__accordion {
            border: 1px solid @grey--d;


            &--content {


            }

            &--full {
                border: 1px solid @grey--d;
            }

            .c-list__title {





                &:before {










                }
            }
        }
    }
}
