.c-list-inline {


    .c-list-inline__followus {



    }

    p {

    }

    &--center {

    }

    &__title {
        color: @grey--2b;





        &--important {



        }

        @media screen and (max-width: @screen-sm) {


        }
    }

    &__group {




        @media screen and (max-width: @screen-sm) {


        }

        &--important {

        }

        &--social {
            @media screen and (min-width: @screen-sm) {

            }
        }

        &--award {

        }

        &--divider-dark-tablet {
            .c-list-inline__item {




                &:before {






                    background: @grey--5;
                }

                &:nth-last-child(1):before {

                }
            }
        }

        &--justify-tablet {
            @media screen and (max-width: @screen-sm) {
                .c-list-inline__item {



                    &:before {

                    }
                }
            }
        }
    }

    &__item {




        &--special {

        }

        &--normal {

        }

        &--bigger {

        }

        &--important {

        }

        &--supper {


        }

        &--no-separated {
            &:before {

            }
        }

        &--separated {


            &:before {
                background: @grey--d3;






            }
        }

        &--social {




            @media (max-width: @screen-sm) {




            }

            .fa {

            }

            &.c-list-inline__title {


            }
        }
    }
}
