body.modal-open {
    .c-header,
    .c-header__container {

    }
}

.modal {


}

@media (min-width: @screen-sm-min) {
	.modal-dialog {

	}
}

@media (max-height: 920px) and (min-width: 768px) {
	.modal-dialog {

	}
}

.modal-backdrop {

}

.modal {
    .modal-header {
        &__virtual-tour {

        }
    }

    &__virtual-tour {
        &-container {

            @media screen and (max-width: @screen-sm) {

            }
        }
    }

    &-virtual-tour {
        &:before {










            color: @grey--91;

            transform: translate(0%, 100%);
            -webkit-transform: translate(0%, 100%);
            @media screen and (max-width: @screen-sm) {


                transform: translate(0, 50%);
                -webkit-transform: translate(0, 50%);
            }

            @media screen and (max-width: @screen-xxxs) {

            }
        }

        &:after {




            background-color: @grey--04;


            transform: translate(0%, 8%);
            -webkit-transform: translate(0%, 8%);
        }
    }

    &-content__virtual-tour {

    }
}


@media screen and (max-width: 880px) {
    .modal-virtual-tour:after {



    }
}

@media screen and (max-width: @screen-md-min) {
    .modal-virtual-tour:after {



    }
}

@media (max-width: @screen-sm) {
    .modal-virtual-tour::after {

        transform: translate(-50%, 8%) !important;
        -webkit-transform: translateX(-50%, 8%) !important;

    }
}


@media (max-width:320px) {
    .modal-virtual-tour::after {

    }
}
