.c-pageheader {




    &--nomrg {

    }

    &__title {




        &--inline {


        }
    }

    &__subtitle {





        &--inline {


        }

        &--small {





            border-bottom: 1px solid @grey--d;


            @media screen and (max-width: @screen-sm) {
                background-color: @grey--3;
                color: @white;





                border-bottom: 0;

            }
        }
    }

    &__deckplan {


    }

    &__links {



        .c-list-inline__item {

        }
    }

    &__date {



    }

    &__properties {

    }

    &__portheader {



        .fa {

        }
    }

}
