.c-pagination-number {
    li {

    }

    a {





        &:hover {
            background-color: @grey--eb;
        }

        &.active {
            background-color: @black;
            color: @white;

        }
    }

    @media screen and (max-width: @screen-sm) {

    }
}
