.c-pagination {
    &__link {



        i {

        }
    }

    @media screen and (max-width: @screen-sm) {


        li {




            &:first-child {

            }

            &:last-child {

            }
        }

        &__link {
            background-image: linear-gradient(@white, @grey--f2);
            border: 1px solid @grey--e6;



        }
    }

    @media screen and (min-width: @screen-md-min) {


        &--separated {
            border: 1px solid @grey--d9;
            border-width: 1px 0;
        }

        li {


            &:last-child {

            }
        }

        &__link {

        }
    }
}
