.c-pagination {
    @media screen and (max-width: @screen-sm) {
        &__link {
            background-image: linear-gradient(@white, @grey--f2);
            border: 1px solid @grey--e6;
        }
    }
    @media screen and (min-width: @screen-md-min) {
        &--separated {
            border: 1px solid @grey--d9;
        }
    }
}