.c-poi {



    &__image {


        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        @media screen and (max-width: @screen-sm) {



        }
    }

    &__content {






        @media screen and (max-width: @screen-sm) {



        }

        h4 {


        }

        h4,
        p {




        }
    }
}
