.c-quote-request {





    border-left: 0px;



    &:before {






        background: @grey;

        @media screen and (max-width: @screen-sm) {

        }

        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {

        }
    }

    &-link {

        color: @white;



        &:hover,
        &:focus,
        &:active {
            color: @grey-l;
        }
    }

    @media screen and (max-width: @screen-sm) {

        border-left: solid 1px @grey;
    }

    @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        border-left: solid 1px @grey;
    }

    @media screen and (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
        border-left: 0px;
    }
}

.brochurerequest {

    .col-sm-7.c-call-request-form__form {
        @media (width: @screen-md-min) {

        }
        @media screen and (min-width: 769px) and (max-width: 898px) {


        }

    }
}
