.c-hero-banner__search {
    @media screen and (min-width: @screen-sm) {
        .c-hero-banner__content:not(.c-hero-banner__content--white) {
            color: @black;
        }
    }
}

.c-search-hero {
    &:before {
        background-color: @grey--d;
    }
    .chosen-container {
        .chosen-single {
            background: @white;
            border: 1px solid @white;
        }
        &.chosen-with-drop {
            .chosen-single {
                border: 1px solid @black;
            }
        }
    }
    &__form {
        .col-sm-3 {}
    }
}
