
.c-ss-availability {
    .c-list__item {
        .c-availability__link {
            background: @grey--3;
            color: @white;
            &:hover {
                background: @black;
                color: @white;
            }
        }
    }
}

