.c-single-dining {
    .c-dining-display {
        .o-title {
            &:after {
                background: @black;
            }
        }
    }
    &__brouchure {
        .btn-default:hover {
            @media screen and (min-width: @screen-sm) {
                background: @grey--9;
            }
        }
    }
    .c-dining-gallery {
        .c-dining__gallery {
            &__item {
                background-color: @grey--c3;
                &:after {
                    background-color: @white;
                }
            }
            &__item__right {
                background-color: @grey--c3;
                &:after {
                    background-color: @white;
                }
            }
            &__label {
                color: @white;
                background-color: @grey--05;
            }
        }
    }
    .c-dining__item-expander {
        @media screen and (min-width: @screen-sm) {
            &:before {
                background: @black;
            }
        }
    }
    .c-single-dining-availability {
        .c-list__item {
            .c-availability__link {
                background: @grey--3;
                color: @white;
                &:hover {
                    background: @black;
                    color: @white;
                }
            }
        }
    }
}