.o-sidemenu {
    color: @grey--3;

    @media screen and (min-width: @screen-md-min) {

    }

    &__title {




        a:hover,
        a:focus {

        }
    }

    &__list {
        border-top: 1px solid @black;

    }

    &__item {
        border-bottom: 1px solid @grey--c5;

        @media screen and (max-width: @screen-sm) {

        }
    }

    &__link {



        &--current,
        &:hover,
        &:focus {
            color: @white;
            background-color: @grey--3;
        }

        .fa-angle-down {

        }

        &--current {
            .fa-angle-right {

            }

            .fa-angle-down {

            }
        }
    }

    &__icon,
    &__text {

    }

    &__text {




        @media screen and (min-width: @screen-sm) {

        }
    }
}
