.o-ss-area-property-display {


    @media screen and (min-width: @screen-md-min) {

    }

    .o-ss-title {







    }

    .o-description p {



    }

    .o-description img {

    }

    .o-section--separator {
        @media screen and (min-width: @screen-sm) {
            border: none;

        }
    }
}

.c-ss-availability {



    @media screen and (min-width: @screen-sm) {

    }

    &__title {





    }

    .c-list__item {



        &:first-child,
        &:nth-child(4n+1) {

        }

        &:nth-child(4n) {

        }

        @media screen and (max-width: @screen-md-max) {

        }

        .c-availability__link {

            background: @grey--3;
            color: @white;






            &:hover {
                background: @black;
                color: @white;
            }

            i {




            }
        }
    }
}


@media (min-width: 1050px) {
    .o-ss-slider .slick-prev {


    }

    .o-ss-slider .slick-next {


    }
}

.o-ss-slider-property-display {


    @media screen and (min-width: @screen-md-min) {

    }

    .o-ss-slider-title {







    }

    .o-slider-description {



    }
}

.o-ss-slider {
    .slick-dots {

    }

    .c-slider {
        @media screen and (min-width: @screen-sm) {


        }

        @media screen and (max-width: @screen-sm) {


        }
    }
}
