/*.c-slider,
.port_v2__postcarousel,
.c-mozaic-nine .c-mozaic__slider {
    .slick-prev,
    .slick-next {
        &:before,
        &:before {
            border: 1px solid @grey--9;
        }
        &:after {
            border: 1px solid @white;
        }
    }
    &--nav {
        .slick-current img {
            border: 1px solid @white;
        }
        .slick-slide {
            &.slick-current {
                .ratio {
                    border: 1px solid @white;
                }
            }
        }
    }
    &--style2 {
        .slick-prev,
        .slick-next {
            background-color: @black;
            color: @white;
        }
    }
    &--style2.c-slider--arrowoutside {
        .slick-next,
        .slick-prev {
            background-color: @grey--5;
        }
    }
    &--style3 {
        .slick-prev,
        .slick-next {
            border: 0;
            color: @color-typography;
        }
    }
}

.segment-section {
    .c-slider.slick-dotted {
        .slick-list {
            border: 1px solid @grey--d;
        }
        .slick-dots {
            @media screen and (max-width: @screen-sm) {
                li button:before {
                    background-color: @grey--ca;
                }
                li.slick-active button:before {
                    background-color: @black;
                }
            }
        }
    }
}

@media screen and (max-width: @screen-md-min) {
    .slider .c-slider--style1:not(.c-slider--full-width):not(.inside-hero-banner) .slick-prev,
    .port_v2__postcarousel--style1 .slick-prev,
    .c-mozaic-nine .c-mozaic__slider--style1 .slick-prev,
    .slider .c-slider--style1:not(.c-slider--full-width):not(.inside-hero-banner) .slick-next,
    .port_v2__postcarousel--style1 .slick-next,
    .slider .c-slider:not(.c-slider--full-width):not(.inside-hero-banner) .slick-prev:before,
    .port_v2__postcarousel .slick-prev:before,
    .c-mozaic-nine .c-mozaic__slider .slick-prev:before,
    .slider .c-slider:not(.c-slider--full-width):not(.inside-hero-banner) .slick-next:before,
    .port_v2__postcarousel .slick-next:before,
    .c-mozaic-nine .c-mozaic__slider .slick-next:before,
    .slider .c-slider:not(.c-slider--full-width):not(.inside-hero-banner) .slick-prev:after,
    .port_v2__postcarousel .slick-prev:after,
    .c-mozaic-nine .c-mozaic__slider .slick-prev:after,
    .slider .c-slider:not(.c-slider--full-width):not(.inside-hero-banner) .slick-next:after,
    .port_v2__postcarousel .slick-next:after,
    .slider .c-slider:not(.c-slider--full-width):not(.inside-hero-banner) .slick-prev:after,
    .port_v2__postcarousel .slick-prev:after,
    .c-mozaic-nine .c-mozaic__slider .slick-prev:after,
    .slider .c-slider:not(.c-slider--full-width):not(.inside-hero-banner) .slick-next:after,
    .port_v2__postcarousel .slick-next:after,
    .c-mozaic-nine .c-mozaic__slider .slick-next:after {
        border-color: #333 !important;
    }
    .c-tabbedmozaic {
        .c-tabbedmozaic__description {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
        }
    }
}*/