.c-steveandsilversea__gallery .c-slider--for .slick-slide .ratio {

}


.c-steveandsilversea__gallery .slick-track {
    background: @black !important;
}


.c-steveandsilversea {

    @media screen and (min-width: @screen-lg-min) {



    }
    background-color: @black--18;
    color: @white;
    @media screen and (min-width: @screen-sm-min) {

    }

    .automatic-gallery-modal {
        &:before {











        }

        &:hover:before {

        }
    }

    .inactiveLink {


    }

    .image {




        @media (max-width: @screen-md-min) {



        }
        img {


        }
    }

    .video-link {

    }

    .col-sm-6-image-mobile {





    }

    .col-sm-6-content-mobile {





    }

    .col-sm-6-content {


    }

    .content {



        @media screen and (max-width: @screen-sm) {

        }

        &__title {








            @media screen and (max-width: @screen-sm) {




            }

            &:after {






                background-color: @gold;

                @media screen and (max-width: @screen-sm) {

                }
            }
        }

        &__descr {






            @media screen and (max-width: @screen-sm) {



            }
        }

        &__cta {







            @media screen and (max-width: @screen-sm) {

            }
        }

        &__watermark {





        }

        &__tag {





        }

        &__nowatermark {

        }
    }

    &__gallery {
        .c-gallery__label {

        }

    }

    &__gallery {
        &__item {
            background-color: transparent;










            &:after {
                background-color: @white;







            }

            img {





            }
        }
    }
}

.c-steveandsilversea-mobile {






}

.c-steveandsilversea__gallery {

}


@media (min-width: @screen-md-max) {
    .row.c-steveandsilversea {

    }
}

@media(max-width: 990px) and (min-width: @screen-md-min) {
    .row.c-steveandsilversea {

    }
}

@media (max-width: @screen-sm) {
    .row.c-steveandsilversea {

    }
}