.c-steveandsilversea__gallery .slick-track {
    background: @black !important;
}

.c-steveandsilversea {
    background-color: @black--18;
    color: @white;
    .content {
        &__title {
            &:after {
                background-color: @gold;
            }
        }
    }
    &__gallery {
        &__item {
            background-color: transparent;
            &:after {
                background-color: @white;
            }
        }
    }
}