.c-single-suite {
    .c-single-suite-slider {
        .thumbnail {
            background-color: @white;
            border: 1px solid @grey--d;
        }
        &__title {
            background-color: @grey--08;
        }
    }
    .c-single-suite-slider-button {
        @media screen and (min-width: @screen-sm) {
            &:before {
                background: @black;
            }
        }
    }
}