.c-single-suite {
    .c-single-suite-slider-property-display {


        @media screen and (min-width: @screen-md-min) {

        }

        .o-single-suite-slider-title {







        }

        .o-single-suite-slider-description {






            @media screen and (max-width: @screen-md-max) and (min-width: @screen-md-min) {


            }
        }
    }

    .c-single-suite-slider {



        @media screen and (max-width: @screen-md-max) and (min-width: @screen-md-min) {


        }

        .thumbnail {


            background-color: @white;
            border: 1px solid @grey--d;
        }

        &__title {

            @media screen and (max-width: @screen-sm) {


                &__mobile {





                }
            }

            background-color: @grey--08;









            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);



            span {






            }

        }

        &__description {

        }

        &__link--block {





        }

        &__link {


        }

        &__view-link {


            .fa-angle-right {

            }
        }

        &__label {




        }

        &__caption {



            @media screen and (max-width: @screen-sm) {




            }
        }

        .c-slider {
            .slick-prev {

            }

            .slick-next {

            }

            .slick-dots {

                @media screen and (max-width: @screen-sm) {

                }

            }
        }

    }

    .c-single-suite-slider-button {






        @media screen and (min-width: @screen-sm) {
            &:before {




                background: @black;






            }
        }

        .btn {













            i {




            }
        }
    }

}
