.c-subscribe {
    @media screen and (max-width: @screen-sm) {
        border: 0;
    }

    &__form {

        border: solid 1px @grey--d;

        &:first-child {

            @media screen and (max-width: @screen-sm) {

            }
        }

        &--label {



            color: @black;



            @media screen and (max-width: @screen-md-max) {

            }

            &-text {




            }

            &-important {





                @media screen and (max-width: @screen-md-max) {


                }
            }
        }

        .btn {









            @media screen and (max-width: @screen-md-max) {


            }
        }

        .btn i {



            @media screen and (max-width: @screen-md-max) {

            }
        }

        .o-input--lg,
        .c-btn--lg {
            @media screen and (max-width: @screen-md-max) {

            }
        }

        .c-btn--lg {
            @media screen and (max-width: @screen-md-max) {

            }
        }

        &--error {





            @media screen and (max-width: @screen-sm) {

            }
        }

        & .has-error.has-danger .o-input {
            color: @red;
            border: solid 1px @red;

            &::-webkit-input-placeholder {

                color: @red;
            }

            &::-moz-placeholder {

                color: @red;
            }

            &:-ms-input-placeholder {

                color: @red;
            }

            &:-moz-placeholder {

                color: @red;
            }
        }

        &.c-formcookie {
            .btn.disabled {


            }
        }
    }
}
