.tabbedmozaic.parbase:not(.teaser):not(.accordion) {

}

.c-tabbedmozaic {



    picture {





    }

    &:hover {
        picture {
            background-color: @black;

            .o-img {






            }
        }
    }

    &__image-wrapper {
        .o-img {












        }
    }

    &__title {
        background-color: @grey--08;









        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);



        span {







        }
    }

    &__link--block {





    }
}
