.c-teaser {
    background: @black;
    @media screen and (max-width: @screen-sm) {
        background: transparent;
    }
    &__wrapper {
        &__title {
            color: @white;
            @media screen and (max-width: @screen-sm) {
                color: @black;
            }
        }
        &__descr {
            color: @white;
        }
    }
    &__shader {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0+100 */
        background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000', GradientType=1);
    }
    &__mobile-border {
        @media screen and (max-width: @screen-sm) {
            border: 1px solid @grey--d;
        }
    }
    &__link {
        color: @white;
        @media screen and (max-width: @screen-sm) {
            color: @black;
        }
    }
}