.c-teaser {

    background: @black;




    @media screen and (max-width: @screen-sm) {
        background: transparent;




    }

    &:hover .o-img {



        @media screen and (max-width: @screen-sm) {

        }
    }

    &__wrapperhover {







    }

    &__wrapper {






        @media screen and (max-width: @screen-sm) {




        }

        &__title {





            color: @white;



            @media screen and (max-width: @screen-sm) {
                color: @black;











            }
        }

        &__descr {







            color: @white;
        }
    }

    &__shader {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0+100 */
        background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

        background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000', GradientType=1);





    }

    .o-img {













        @media screen and (max-width: @screen-sm) {



        }
    }

    &__descr-mobile {

        @media screen and (max-width: @screen-sm) {





        }
    }

    &__mobile-border {
        @media screen and (max-width: @screen-sm) {
            border: 1px solid @grey--d;
            border-top: none;


        }
    }

    &__link {





        color: @white;

        border-bottom: 0;



        @media screen and (min-width: @screen-md-min) {

        }

        @media screen and (max-width: @screen-sm) {
            color: @black;





        }

        .fa {

            @media screen and (max-width: @screen-sm) {

            }
        }
    }
    &.no-image {
        .c-teaser__wrapper {

        }
    }
}
