.c-vertical-teaser {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    &__image-wrapper-new {
        background-color: black;
    }
    picture {
        background-color: @black;
    }
    &--style2 & {
        &__title {
            background-color: @grey--08;
        }
    }

    &-finedine {
        &__image-wrapper {
            background-color: black;
        }
    }
    &-oba {
        &__image-wrapper {
            background-color: @black;
        }
    }
}