.c-vertical-teaser {


    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

	@media (min-width: 768px) {
		&:hover picture img {






		}
	}


    @media screen and (max-width: @screen-sm) {

    }

    @media(min-width: 769px) {
        .hideModalMobile {

        }
    }

    @media(max-width: @screen-md-min) {
        .hideModalDekstop {

        }
    }


    &__image-wrapper {


    }

    &__image-wrapper-new {
        background-color: black;
        img {

        }
    }

    picture {
        background-color: @black;
        @media (min-width: 768px) {
	         img {





			}
        }
    }

    .o-img {

    }


    .thumbnail &__caption {



        @media screen and (max-width: @screen-sm) {

        }
    }

    &__title {




    }

    &__description {


    }

    &__link {



        &--block {





        }

        &_nodefault {

        }
    }

    &__label {





        &_nodefault {






        }
    }

    &--style1 & {
        @media screen and (max-width: @screen-sm) {
            &__title {



            }
        }
    }

    &--style2 & {
        &__caption {

        }

        &__title {
            background-color: @grey--08;






            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);


            @media screen and (max-width: @screen-sm) {

            }

            span {








            }
        }
    }

    &--manual {


        .c-vertical-teaser__caption {



            @media screen and (max-width: @screen-sm) {

            }

            .c-vertical-teaser {
                &__title {

                }

                &__link__label {


                }
            }
        }

        &:hover {
            .o-img {

            }
        }
    }



    &-finedine {
        &__image-wrapper {


            background-color: black;


            img {

            }

        }
        &__caption {




            @media screen and (max-width: @screen-sm) {


            }
        }

        &__title {






            @media screen and (max-width: @screen-sm) {





            }

            &__allInclusive {








                @media screen and (max-width: @screen-sm) {

                }
            }
        }
    }


    &-oba {
        &__image-wrapper {




            @media screen and (max-width: @screen-sm) {





            }
            background-color: @black;
            img {

            }
        }

        &__title_sm {

            @media screen and (max-width: @screen-sm) {





            }

        }

        &__title {
            @media screen and (max-width: @screen-sm) {

            }


        }

        &__caption {




            @media screen and (max-width: @screen-sm) {


            }
        }

        &__content {







            @media screen and (max-width: @screen-sm) {




            }
            p {

            }


        }
    }

}
