.c-video {


    #s7video_div.s7videoviewer {


    }

    &.s7videoviewer.s7mouseinput .s7videoplayer .s7iconeffect[state="play"] {


        &:before {
            color: @white;







            transform: translate(-50%, -50%);
        }

        &:after {
            border: 3px solid @white;









            transform: translate(-55%, -50%);

        }

        .loading& {







            &:before {

            }

            &:after {

            }
        }
    }
}

.video {
    .c-video {
        .s7container {
            video {

            }
            .s7controlbar {

            }
        }
    }
}
