.c-video {


    #s7video_div.s7videoviewer {


    }

    &.s7videoviewer.s7mouseinput .s7videoplayer .s7iconeffect[state="play"] {
        background: none;

        &:before {
            color: @white;





            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &:after {
            border: 3px solid @white;
            border-radius: 50%;






            -webkit-transform: translate(-55%, -50%);
            -ms-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);

        }

        .loading& {
            background-image: url('./../../images/loader.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;



            &:before {

            }

            &:after {

            }
        }
    }
}

.video {
    .c-video {
        .s7container {
            video {

            }
            .s7controlbar {

            }
        }
    }
}
