.c-voyagejournals {
    &__content {
        img {



        }

        .row {


            div[class^="col-"],
            div[class*=" col-"] {


                &:nth-child(odd) {

                }
            }
        }
    }

    &__link {
        &:before {
            background-color: @black;









        }

        &:hover:before {

        }
    }

    &__title-wrapper {
        color: @white;




    }

    &__ship,
    &__title {


    }

    &__title {

    }

    &__date,
    &__id {


    }

    &__date {

    }

    &__id {

    }

    .c-pageheader__properties {
        border-top: 1px solid;
    }

    @media screen and (max-width: @screen-sm) {
        .voyagejournals &,
        .voyagejournal & {

        }

        &-sidebar {

        }

        &__list {

        }

        &__link {


        }

        .c-pagination-number {

        }
    }

    @media screen and (min-width: @screen-md-min) {
        div[class^="col-"] {

        }

        &__title-wrapper {

        }

        &__date,
        &__id {
            color: @black;

        }
    }
}
