.port_v2 {


}

.port_v2_page .container {





}

.port_v2_page .banner-image {

}

.port_v2_page .banner-image img {



}



.port_v2__section {



}

.port_v2__section_header {

    @media (max-width: @screen-sm) {

    }
}

.port_v2__section_title {



    color: #000;




}

.port_v2__section_title:before {




    background: @grey--80;






}

.port_v2__section_title span {


    background: @white;



}

.port_v2__section_desc {


}




.port_v2__header {

}

.port_v2__header_desktop {

}

.port_v2__header_mobile {

}

.port_v2__header_title {



    color: @black;



}



.port_v2__desc {



}



.port_v2__desc_text p {

}

.port_v2__desc_cta .button {

}

.port_v2__desc_cta .btn {


    @media (max-width: @screen-sm) {

    }
}

.port_v2__desc .port_v2__desc_text {





}

.port_v2__desc .port_v2__desc_cta {




}

.port_v2__desc .port_v2__desc_text .port_v2__stats {

}

.port_v2__desc_cta .port_v2__stats_item {

    border: none;


}

.port_v2__desc.port_v2__desc_noseo {





}

.port_v2__desc.port_v2__desc_noseo .port_v2__desc_cta {


}

#ss_read_more {



}



.port_v2__stats {





    @media (max-width: @screen-sm) {

    }
}

.port_v2__stats_item {



    border-right: 1px solid @grey--80;


}

.port_v2__stats_item:last-child {
    border-right: none;
}

.port_v2__stats_num {



}

.port_v2__stats_title {



}



.port_v2__imagetext {}

.port_v2__imagetext .row {


}

.port_v2__imagetext .row > div[class*="col-"] {


}

.port_v2__imagetext_image.port_v2__imagetext_image-small,
.port_v2__gallery_img.port_v2__imagetext_image-small {

}

.port_v2__imagetext_image,
.port_v2__gallery_img {



    background-color: @grey--67;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.port_v2__imagetext_text {


}

.port_v2__fyc .matching-title {

}

.port_v2__imagetext_title {




}



.port_v2__expander {
    border: 1px solid @grey--80;
    border-bottom: none;
}

.port_v2__expander_item {
    border-bottom: 1px solid @grey--80;
}

.port_v2__expander_item:nth-child(even) .port_v2__expander_header {
    background: @grey--94;
}

.port_v2__expander_header {
    background: @white;
    color: @grey--3;















}

.port_v2__expander_header.no_description {

}

.port_v2__expander_header:hover {
    background: @grey--3 !important;
    color: @white !important;
}

.port_v2__expander_header.no_description:hover {
    background: inherit !important;
    color: inherit !important;
}

.port_v2__expander_col {




}

.port_v2__expander_col_title {



}

.port_v2__expander_col_toggle {


}

.port_v2__expander_open {

}

.port_v2__expander_close {

}

.port_v2__expander_content {


}

.port_v2__expander_item.active {}

.port_v2__expander_item.active .port_v2__expander_header {
    background: @grey--3 !important;
    color: @white !important;
}

.port_v2__expander_item.active .port_v2__expander_open {

}

.port_v2__expander_item.active .port_v2__expander_close {

}

.port_v2__expander_slice {


}

.port_v2__expander_slice > a {}



.footer-v2 .c-subscribe__form {
    background: @white;
    border: none;
}

.footer-v2 {



}

.footer-v2 .footer-v2-contact {






}

footer_v2 .footer-v2-contact .footer-v2-callbox-desktop {
    border: none;

}

footer_v2 .footer-forms {
    border: none;

}

footer_v2 .footer-v2-contact .footer-v2-logo {


}

.sv_v3__footer-forms .sv_v3__desc {




}

.sv_v3__footer-forms .sv_v3__subtitle {

}

.sv_v3__footer-forms {
    background: @grey--eb;

}

.sv_v3__footer-forms .footer-form {
    background: @transparent !important;
}

.sv_v3__footer-forms .footer-form form {
    background: @white;
}

.sv_v3__subtitle {






}

.sv_v3__desc {



}



.port_v2__discover {

}

.port_v2__discover_link {




}

.port_v2__discover_link_open {

}

.port_v2__discover_link_close {

}

.port_v2__discover_text {


}

.port_v2__discover_open .port_v2__discover_link_open {

}

.port_v2__discover_open .port_v2__discover_link_close {

}

.port_v2__discover_open .port_v2__discover_text {

}

.ss_read_more_class {



}

.port_v2__expander_content ul {

}

.port_v2__stats_item:hover .port_v2__stats_num {
    color: @black !important;

}

.port_v2__stats_item:hover .port_v2__stats_title {
    color: @black !important;


}

.port_v2__stats_item:hover .port_v2__stats_num,
a.scrolltoanchor.bound:hover .port_v2__stats_title {

}

.port_v2__stats_item {
    color: @grey--7;
}

@media (max-width: @screen-md-max) {
    .port_v2__stats_num {

    }
    .port_v2__stats_title {

    }
}

@media (max-width: @screen-sm) {
    .port_v2__desc {

    }
    .port_v2__desc .port_v2__desc_text {


    }
    .port_v2__desc .port_v2__desc_cta {




    }
    .port_v2__desc_cta .btn_base {

    }
    .port_v2__section_title:before {

    }

    .footer-sv_v3.footer-v2 .footer-v2-service ul {

    }
    .footer-sv_v3.footer-v2 .footer-v2-service ul li {


    }
    .footer-sv_v3.footer-v2 .footer-v2-contact .footer-v2-callbox p {


    }
    .footer-sv_v3.footer-small.footer-v2 .footer-v2-contact .footer-v2-callbox .mobile {

    }
    .footer-sv_v3.footer-small.footer-v2 .footer-v2-contact .footer-v2-callbox-mobile {
        border: none;

    }
    .footer-sv_v3 .footer-v2-contact .footer-v2-logo {

    }
    .footer-v2 .phone_number_top {

    }
    .footer-v2 #gfn_href_footer {



    }
    .footer-v2 .footer-v2-logo {



    }
}

@media (max-width: @screen-xxs) {
    .port_v2__header_title {

    }
    .port_v2__section_title {

    }
    .port_v2__stats_item {

        border-right: none;
        border-bottom: 1px solid @grey--80;


    }
    .port_v2__stats_item:last-child {
        border-bottom: none;
    }
    .port_v2__expander_header {

    }
    .port_v2__expander_col {

    }
    .port_v2__expander_col_toggle {



        span {

        }
    }

    .port_v2__stats {
        background: @grey--93;






    }
    .port_v2__stats .port_v2__stats_item {






    }
    .port_v2__stats .port_v2__stats_num {




    }
    .port_v2__stats .port_v2__stats_title {





    }

    .footer-sv_v3 .sv_v3__desc {

    }
    .footer-sv_v3 {




    }
    .sv_v3__footer-forms {

    }
    .footer-sv_v3.footer-v2 .footer-v2-service ul li {

    }
    .sv_v3__subtitle {

    }
    .footer-v2-callbox-desktop {

    }
    .footer-v2-callbox-mobile {

    }
    .c-list--legal__item:first-child {

    }
}



.port_v2__stats_title:hover {

}

.port_v2__imagetext_text {


}

.port_v2__imagetext_text_cta {





}

.port_v2__imagetext_text_cta .button {

}

#port_v2__gallery_carousel .port_v2__gallery_img {

}

#port_v2__fyc .cq-placeholder.cq-dd-image {

}

#port_v2__fyc .c-fyc-filter__title {

}

#port_v2__fyc .port_v2__section_header {

}

.btn-wrapper {


}

.port-dest-search {

}

#counter {

    color: @white;

    border-radius: 7px;


    background-color: @red;
    border: none;



    &:after {








    }
}



.port_v2__post {




    border: 1px solid @grey--80;

}

.port_v2__post.single {

}

.port_v2__post_img {


    background-color: @grey--67;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.port_v2__post_img a {








    background: @black;





}

.port_v2__post:hover .port_v2__post_img a {
    @media (min-width: @screen-md-min) {
        background: @grey--03;
    }
}

.port_v2__post_content {

}

.port_v2__post_title {



}

.port_v2__post_meta {

    color: @grey--9;

}

.port_v2__post_cta {

}

.port_v2__post_cta .btn_base {








    border-radius: 5px;
}

#port_v2__related .port_v2__post_title {


}

#port_v2__related .port_v2__post_title span {


}



.port_v2__postcarousel {


}

.port_v2__postcarousel .slick-slide {

}

.port_v2__postcarousel .slick-dots {

}

.port_v2__postcarousel .slick-dots li {



}

.port_v2__postcarousel .slick-dots li button {



}

.port_v2__postcarousel .slick-dots li button:before {




}

.port_v2__postcarousel .slick-dots li button:hover:before {

}

.port_v2__postcarousel .slick-dots li.slick-active button:hover:before {

}

.port_v2__postcarousel .port_v2__post {


}

.port_v2_page .modal-body .c-gallery__tab {

}

.port_v2_page .c-floating-bar:not(.editor) {

}

.btn-wrapper {


}

.port-dest-search {

}

.port_v2__postcarousel:not(.c-slider--full-width) .slick-slide > * {

}

#counter {

    color: @white;

    border-radius: 7px;


    background-color: @red;
    border: none;



    &:after {








    }
}

#port_v2__fyc .c-fyc-filter {

}

.port_v2__section_header_separator {


    background: @green--48;

}

.port_v2__section_header_separator_expedition {
    background: @red-expedition;
}

.port_v2__section_header_separator_mixed {
    background: @black;
}
