@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.smartbutton {
  .smartbtn {
    font-family: @suisse;
    letter-spacing: 1.5px;
    line-height: 16px;
    background-image: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
