/*
 * Brochure lang selector mobile fix
 */
 @media (max-width:@screen-md-min){
 	.brochureteaserlist__header__select{
 		position:relative;
		 #selectBrochureListLangId{
		 	max-width: 240px;
		    width: 100% !important;
		    font-family: @f-open_sans;
		    padding-left: 12px;
		    padding-top: 7px;
		    font-weight: 600;
		    padding-bottom: 7px;
		 }
		 i {
		 	left:224px;
		 	top:10px;
		 }
	 }
 }
 
 .mobile{
 	 	.brochureteaserlist__header__select{
 		position:relative;
		 #selectBrochureListLangId{
		 	max-width: 240px;
		    width: 100% !important;
		    font-family: @f-open_sans;
		    padding-left: 12px;
		    padding-top: 7px;
		    font-weight: 600;
		    padding-bottom: 7px;
		 }
		 i {
		 	left:224px;
		 	top:10px;
		 }
	 }
	 .brochureteaserlist .c-brochure__title{
	 	text-align:center;
	 }
 }
 
 @media (max-width:@screen-sm){
 	.brochureteaserlist {
 		.c-brochure__img{
 			max-width:90%;
 		}
 	}
 }
 
 
 .brochureteaserlist{
	@media only screen and (max-width: @screen-md-min) {
    .c-brochure__title {
        text-align:center
    }
}
}
