  .mozaicItem {
  	min-height:205px;
  }
  
   /*
   * Mozaic Slider Fix
   */
@media screen and (min-width: @screen-lg-min) and (max-width: 1132px){
	.c-mozaic__slider__slide--text .c-tabbedmozaic {
		padding-top:6%;
		padding-bottom:6%;
	}
	.c-mozaic__slider__slide--text .c-mozaicslider__action {
		bottom:6%;
	}
}

@media screen and (max-width: @screen-xxs){
	.c-mozaic{
		.visible-xs-block.visible-sm-block.btn-wrapper{
			margin-bottom: -15px; 
		}
	}
}
  