.c-teaser__link{
	@media (width: @screen-md-min){
		bottom: 15px;
	}
}

.c-teaser__wrapper__descr{
	@media (width: @screen-md-min){
		margin-top: 7px;
	}
}

/*
 * Global teaser fix
 */

@media only screen and (width: @screen-md-min) {
.c-teaser__wrapper__title {
        font-size: 21px;
}

.c-teaser__wrapper__descr {
    line-height: 15px;
    margin-top: 7px;
}

.c-teaser__link {
    bottom: 15px;
}

}