 /*
   * Fix other lang teaser length issue
   */
  
  .thumbnail .c-vertical-teaser__caption {
    min-height: 230px;
    height: auto;
}

.c-vertical-teaser--style2 .c-vertical-teaser__caption {
    height: 100px;
}

/*
 * Global Teaser Fixes
 */
 .c-vertical-teaser__title {
 	margin-bottom:6px;
 	line-height: 0.94;
 }
 
 /*
 * FIX Vertical teaser hover effect only Desktop and Tablet
 */
.c-vertical-teaser:hover img {
	@media (min-width: @screen-md-min) {
		opacity:0.5
	}
}

/*
 * Specific tablet fix
 */
@media (width:@screen-md-min){
 	.c-vertical-teaser:not(c-teaser-eo) {
	 	.c-vertical-teaser__caption {
	 		min-height:240px !important;
	 	}
 	}
 }