<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder"
     data-emptytext="SSC - Splitted Dynamic Teaser - (#splitteddynamicteaser-${properties.sscUUID}) (Open and save the properties to show the component with default values)' }"></div>

<sly data-sly-use.use="${'com.silversea.aem.components.editorial.SplittedDynamicTeaserUse'}"/>
<sly data-sly-use.fw="${'com.silversea.aem.helper.FrameworkVarHelper' @ properties=use.componentProp, property='sscFwHeight'}"/>
<sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"></sly>
<div id="splitteddynamicteaser-${properties.sscUUID}" class="splitteddynamicteaser">
    <div class="splitteddynamicteaser-image ssc-fw-height" style="${fw.allDevices @ context='unsafe'}"
         data-ie-style="${fw.allDevices @ context='unsafe'}">
        <div class="splitteddynamicteaser">
            <div class="splitteddynamicteaser-full-image">
                <sly data-sly-call="${imageTemplate.image @ imagePath=use.componentProp.pathImageDesktop}"></sly>
                <div class="splitteddynamicteaser-left"></div>
                <div class="splitteddynamicteaser-right"></div>
            </div>
            <div class="splitteddynamicteaser-overlay-right-image">
                <sly data-sly-call="${imageTemplate.image @ imagePath=use.componentProp.pathOverlayRightImageDesktop}"></sly>
            </div>
            <div class="splitteddynamicteaser-overlay-left-image">
                <sly data-sly-call="${imageTemplate.image @ imagePath=use.componentProp.pathOverlayLeftImageDesktop}"></sly>
            </div>
    </div>
</div>

<style data-sly-test="${use.componentProp.cssDesktop}">
    @media (min-width: 991px) {
    ${use.componentProp.cssDesktop @ context='html'}
    }
</style>
<style data-sly-test="${use.componentProp.cssTablet}">
    @media (max-width: 990px) and (min-width: 768px) {
    ${use.componentProp.cssTablet @ context='html'}
    }
</style>


