<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder"
     data-emptytext="SSC - Splitted Dynamic Teaser - (#splitteddynamicteaser-${properties.sscUUID}) (Open and save the properties to show the component with default values)' }"></div>
<sly data-sly-use.use="${'com.silversea.aem.components.editorial.SplittedDynamicTeaserUse'}"/>
<sly data-sly-use.fw="${'com.silversea.aem.helper.FrameworkVarHelper' @ properties=use.componentProp, property='sscFwHeight'}"/>
<sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"></sly>
<div id="splitteddynamicteaser-${properties.sscUUID}" class="splitteddynamicteaser">
    <div class="splitteddynamicteaser-text">
        <div class="splitteddynamicteaser-text-top">${use.componentProp.textTopDesktop @ context='html'}</div>
        <div class="splitteddynamicteaser-text-center">${use.componentProp.textCenterDesktop @ context='html'}</div>
        <div class="splitteddynamicteaser-text-bottom">${use.componentProp.textBottomDesktop @ context='html'}</div>
    </div>
    <div class="splitteddynamicteaser-image ssc-fw-height" style="${fw.allDevices @ context='unsafe'}"
         data-ie-style="${fw.allDevices @ context='unsafe'}">
        <div class="splitteddynamicteaser">
            <div class="splitteddynamicteaser-full-image">
                <sly data-sly-call="${imageTemplate.imageTrasparent @ imagePath=use.componentProp.pathImageDesktop }"></sly>
                <div class="splitteddynamicteaser-left">
                    <sly data-sly-call="${imageTemplate.imageTrasparent @ imagePath=use.componentProp.pathOverlayLeftImageDesktop , width = '0'}"></sly>
                    <div class="splitteddynamicteaser-text-overlay-left">
                        <div class="splitteddynamicteaser-text-top">${use.componentProp.textTopLeftDesktop @ context='html'}</div>
                        <div class="splitteddynamicteaser-text-bottom">${use.componentProp.textBottomLeftDesktop @ context='html'}</div>
                    </div>
                </div>
                <div class="splitteddynamicteaser-right">
                    <sly data-sly-call="${imageTemplate.imageTrasparent @ imagePath=use.componentProp.pathOverlayRightImageDesktop , width = '0'}"></sly>
                    <div class="splitteddynamicteaser-text-overlay-right">
                        <div class="splitteddynamicteaser-text-top">${use.componentProp.textTopRightDesktop @ context='html'}</div>
                        <div class="splitteddynamicteaser-text-bottom">${use.componentProp.textBottomRightDesktop @ context='html'}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style data-sly-test="${use.componentProp.cssDesktop}">
    @media (min-width: 991px) {
    ${use.componentProp.cssDesktop @ context='html'}
    }
</style>
<style data-sly-test="${use.componentProp.cssTablet}">
    @media (max-width: 990px) and (min-width: 768px) {
    ${use.componentProp.cssTablet @ context='html'}
    }
</style>
