<section class="o-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 c-voyagejournals">

                <div class="c-pageheader--nomrg">
                    <p class="c-pageheader__subtitle--small">
                        ${'silversea-voyage-journal' @ i18n}
                    </p>
                </div>

                <div data-sly-resource="${'parVoyageJournals' @ resourceType='silversea/silversea-com/components/editorial/voyagejournals/voyagejournaldayslist'}"></div>
            </div>

            <div class="col-sm-4 c-voyagejournals-sidebar sidebar">
                <div data-sly-resource="${'parSide' @ resourceType='wcm/foundation/components/iparsys'}"></div>
            </div>
        </div>
    </div>
</section>