<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Suite properties display"></div>
<div class="o-area-property-display">
    <div class="o-section">
        <img class="o-slider" src="${pageProperties.assetSelectionReference}" alt=""/>
        <h1 class="o-title">${currentPage.navigationTitle || currentPage.title @ context='html'}</h1>
        <div class="o-section o-section--separator o-description">
            ${pageProperties.longDescription || currentPage.description @ context='html'}
        </div>
    </div>
</div>