<div class="c-pageheader">
    <h1 class="c-pageheader__title">${currentPage.title}</h1>
    <div class="c-pageheader__decription">
        ${pageProperties.longDescription @ context='html' }
    </div>
    <div class="c-pageheader__properties c-list-inline o-divider--top-dark">
        <ul class="c-list-inline__group c-list-inline__group--justify-tablet c-list-inline__group--divider-dark-tablet">
            <li class="c-list-inline__item c-list-inline__item--no-separated">
                <strong class="h-important">${'keyFact' @ i18n} :</strong>
            </li>
            <li class="c-list-inline__item" data-sly-test="${pageProperties.guestsCapacity}">
                <strong>${'guestsCapacity' @ i18n}:</strong> ${pageProperties.guestsCapacity}
            </li>
            <li class="c-list-inline__item" data-sly-test="${pageProperties.crewCapacity}">
                <strong>${'crewCapacity' @ i18n}:</strong> ${pageProperties.crewCapacity}
            </li>
            <li class="c-list-inline__item" data-sly-test="${pageProperties.builtDate}">
                <strong>${'builtDate' @ i18n}:</strong> ${pageProperties.builtDate}
            </li>
            <li class="c-list-inline__item" data-sly-test="${pageProperties.tonnage}">
                <strong>${'tonnage' @ i18n}:</strong> ${pageProperties.tonnage} ${'tonnage' @ i18n}
            </li>
        </ul>
    </div>
</div>