.c-suitelist__row-card .c-suitelist__detail__title-card {
  font-size: 22px !important;
}
.c-suitelist__row-card .c-suitelist__detail__description-card {
  padding-top: 6px !important;
}
.c-suitelist__row-card span.c-suitelist__price__text.c-suitelist__price__text--important2 {
  font-weight: 400 !important;
  padding-top: 10px !important;
  letter-spacing: 1px;
}
.c-suitelist__row-card .c-suitelist__button-card .btn-view-more-detail {
  letter-spacing: 1.1px;
  text-decoration: none !important;
  color: #171D47;
  font-weight:600 !important;
  font-size:12px !important;
}
.c-suitelist__button.c-suitelist__button-card a {
  margin-bottom: 15px !important;
}
.c-suitelist__row-card .c-suitelist__image-card {
  height: 175px !important;
}
.row.c-suitelist__row-card .c-suitelist__content .c-suitelist__button-card {
  max-width: 185px !important;
}
.row.c-suitelist__row-card .c-suitelist__content .c-suitelist__button-card a {
  font-size: 13px;
  letter-spacing: 1.5px;
  line-height: 16px;
}
.row.c-suitelist__row-card .c-suitelist__content .c-suitelist__price-from {
  display: inline-block !important;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: center;
}
.row.c-suitelist__row-card .c-suitelist__content .c-suitelist__price__text--important2 {
  display: inline-block !important;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight:normal !important
}
.c-suitelist__row-card span.c-suitelist__price__text .price-suffixe {
  display:block !important;
  font-weight: normal !important;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 14px;
  text-align: center;
}
