<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Exclusive offer display properties"></div>
<div class="o-area-property-display separator" data-sly-use.exclusiveOffer="com.silversea.aem.components.page.ExclusiveOfferUse">
    <div class="o-section">
        <sly data-sly-test.isAvailable="${exclusiveOffer.isAvailable}">
            <div data-sly-test.longDescription="${exclusiveOffer.exclusiveOfferItem.longDescription}">${longDescription @ context='html'}</div>
            <div data-sly-test="${!longDescription}">
                <h1 class="o-title" data-sly-test.title="${exclusiveOffer.exclusiveOfferItem.title}">${title}</h1>
                <p data-sly-test.description="${exclusiveOffer.exclusiveOfferItem.description}">${description @ context='html'}</p>
            </div>
        </sly>
        <div class="o-section o-description" data-sly-test="${!isAvailable}">
            <p class="text-center">${'exclusive-offer-not-available' @ i18n}</p>
        </div>
    </div>
</div>