<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Exclusive offer display properties"></div>
<div class="o-area-property-display separator" data-sly-use.exclusiveOffer="com.silversea.aem.components.page.ExclusiveOfferUse">
    <div class="o-section">
        <div data-sly-test.longDescription="${exclusiveOffer.exclusiveOfferItem.longDescription}">${longDescription @ context='html'}</div>
        <div data-sly-test="${!longDescription}">
            <h1 class="o-title" data-sly-test.title="${exclusiveOffer.exclusiveOfferItem.title}">${title}</h1>
            <p data-sly-test.description="${exclusiveOffer.exclusiveOfferItem.description}">${description @ context='html'}</p>
            <p data-sly-test="${!description}">${'exclusive-offer-not-available' @ i18n}</p>
        </div>
    </div>
</div>