.c-custom-teaser {
    &-image {
        background-color: black;
    }
    &-title {
        background-color: @white;
        color: @color-typography;
    }
    &-image-label {
        color: @white;
        background-color: @grey--05;
    }
}