.c-signature-teaser {
    background-color: @white;
    &__image-wrapper {
        background-color: @black;
    }
    @media screen and (max-width: @screen-sm) {
        .c-signature-teaser__link--block {
            border: 1px solid @grey--d;
        }
    }
}