@media(max-width: @screen-sm) {
    .c-smartbtn.btn-default:hover {
        background-color: @black;
    }
    .c-smartbtn.btn-gray:hover {
        background-color: @grey--c5;
    }
    .c-smartbtn.btn-red:hover {
        background-color: @red;
    }
    .c-smartbtn.btn-white:hover {
        background-color: @white;
    }
}