.modal-content {
    .modal-body {
        .LB-EO {
            .new-eo-modal-cta {
                .btn_base {
                    background: @black;
                    color: #fff;
                }
                .btn_base-red {
                    background: @red;
                    &:hover {
                        background: @red--39;
                    }
                }
            }
        }
    }
}