<template data-sly-template.landingNSW4="${ @ banner}">
	<div class="c-hero-banner-landing-NSW4Landing">
		<sly data-sly-use.heroBannerTemplate="silversea/silversea-ssc/components/editorial/herobannerLanding/herobannertemplate.html" />
		<sly data-sly-call="${heroBannerTemplate.style2 @ banner=banner}" />
	</div>
</template>

<template data-sly-template.landing2017="${ @ banner}">
	<div class="c-hero-banner-landing-2017Landing">
		<sly data-sly-use.heroBannerTemplate="silversea/silversea-ssc/components/editorial/herobannerLanding/herobannertemplate.html" />
		<sly data-sly-call="${heroBannerTemplate.style2 @ banner=banner}" />
	</div>
</template>

<template data-sly-template.landing2018="${ @ banner}">
	<div class="c-hero-banner-landing-2018Landing">
		<sly data-sly-use.heroBannerTemplate="silversea/silversea-ssc/components/editorial/herobannerLanding/herobannertemplate.html" />
		<sly data-sly-call="${heroBannerTemplate.landing2018 @ banner=banner}" />
	</div>
</template>