<div data-sly-test="${wcmmode.edit && !properties.jcr:title}" class="cq-placeholder" data-emptytext="Silversea Office"></div>
<div class="c-office">
    <h3 class="c-office__title" data-sly-text="${properties.jcr:title}"></h3>
    <address class="c-office__address" data-sly-text="${properties.jcr:description}"></address>
    <div class="c-office__contact">
        <p  data-sly-test="${properties.phone}" class="c-office__contact__phone">
            <b>${'phone' @ i18n}: </b>${properties.phone}
        </p>
        <p data-sly-test="${properties.fax}" class="c-office__contact__fax">
            <b>${'fax' @ i18n}: </b>${properties.fax}
        </p>
    </div>
</div>