<sly data-sly-use.portUse="com.silversea.aem.components.page.PortUse" />
<div class="c-tab__content" id="Excursions">
    <h2>${portUse.portModel.title},</h2>
    <div class="c-accordion"
         data-multiview="false"
         data-more="${'more-info' @ i18n} <i class='fa fa-angle-down'></i>"
         data-close="${'close' @ i18n} <i class='fa fa-angle-up'></i>"
         data-sly-list="${portUse.portModel.excursions}">
        <div class="c-accordion__elem">
            <div class="c-accordion__header">
                <div class="c-accordion__title">
                    <p class="c-accordion__title--veryimportant">${item.title}</p>
                    <p class="c-accordion__subtitle" data-sly-use.description="${'com.silversea.aem.helper.StringHelper' @ text=item.description, limit=240}">
                        ${description.textTruncate || item.description}<sly data-sly-test="${description.textTruncate && item.description != description.textTruncate}">&hellip;</sly>
                    </p>
                </div>
                <div class="c-accordion__action c-accordion__action--light">
                    ${'more-info' @ i18n} <i class='fa fa-angle-down'></i>
                </div>
            </div>
            <div class="c-accordion__body">
                <div class="c-accordion__body--panel">
                    ${item.longDescription || item.apiLongDescription || item.description @ context='html'}
                </div>
            </div>
        </div>
    </div>
</div>