<template data-sly-template.default="${ @ item, imageTemplate}">
    <sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=item}" data-sly-test.isVideo="${assetHelper.assetType == 'VideoAVS'}" />
    <a href="${item}" class="lazy automatic-gallery-modal ${isVideo ? 'video-link' : ''}"
       data-target=".bs-modal-lg">
        <sly data-sly-call="${imageTemplate.default @ imagePath=item}" />
        <i data-sly-test="${isVideo}" class="fa fa-play"></i>
    </a>
</template>

<template data-sly-template.listImage="${ @ list, imageTemplate}">
    <div class="c-slider c-slider-adaptive-height">
        <div data-sly-repeat.image="${list}">
            <sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath=image.path}" data-sly-test.isVideo="${assetHelper.assetType == 'VideoAVS'}" />
            <a href="${image.path}" class="lazy automatic-gallery-modal ${isVideo ? 'video-link' : ''} ${imageList.first ? 'cruise-itinerary-map-link': ''}"
               data-target=".bs-modal-lg">
                <sly data-sly-test="${imageList.first}"  data-sly-call="${imageTemplate.default @ imagePath=image.path, seo=true}" />
                <sly data-sly-test="${!imageList.first}"  data-sly-call="${imageTemplate.default @ imagePath=image.path}" />
                <i data-sly-test="${isVideo}" class="fa fa-play"></i>
            </a>
        </div>
    </div>
</template>