<sly data-sly-use.portUse="com.silversea.aem.components.page.PortUse" />
<div class="c-tab__content" id="Hotels">
    <h2>${portUse.portModel.title},</h2>
    <div class="c-accordion" data-more="${'more-info' @ i18n} <i class='fa fa-angle-down'></i>" data-close="${'close' @ i18n} <i class='fa fa-angle-up'></i>" data-sly-list="${portUse.portModel.hotels}">
        <div class="c-accordion__elem">
            <div class="c-accordion__header">
                <div class="c-accordion__title">
                    <p><strong>${item.name}</strong></p>
                    <div class="c-accordion__subtitle hidden-xs">
                        <p class="c-vertical-teaser__description" data-sly-use.description="${'com.silversea.aem.helper.StringHelper' @ text=item.description, limit=80}">
                            ${description.textTruncate || item.description}<sly data-sly-test="${description.textTruncate && item.description != description.textTruncate}">&hellip;</sly>
                        </p>
                    </div>
                </div>
                <div class="c-accordion__action">
                    ${'more-info' @ i18n} <i class='fa fa-angle-down'></i>
                </div>
            </div>
            <div class="c-accordion__body">
                <div class="c-accordion__body--panel">
                    ${item.description @ context='html'}
                </div>
            </div>
        </div>
    </div>
</div>