<sly data-sly-use.portUse="com.silversea.aem.components.page.PortUse" />
<div class="c-tab__content" id="LandProgrammes">
    <h2>${portUse.portModel.title},</h2>
    <div class="c-accordion"
         data-more="${'more-info' @ i18n} <i class='fa fa-angle-down'></i>"
         data-close="${'close' @ i18n} <i class='fa fa-angle-up'></i>"
         data-sly-list="${portUse.portModel.landprograms}">
        <div class="c-accordion__elem">
            <div class="c-accordion__header">
                <div class="c-accordion__title">
                    <p>
                        <strong>${item.title}</strong>
                    </p>
                    <p>${item.landId}</p>
                </div>
                <div class="c-accordion__action">
                    ${'more-info' @ i18n} <i class='fa fa-angle-down'></i>
                </div>
            </div>
            <div class="c-accordion__body">
                <div class="c-accordion__body--panel">
                    ${item.description @ context='html'}
                </div>
            </div>
        </div>
    </div>
</div>