<sly data-sly-use.portUse="com.silversea.aem.components.page.PortUse"/>
<div class="c-pagecontent">
    <div class="container">
        <h2 class="c-pagecontent__title">Find a Port</h2>
        <span class="c-pagecontent__link">
            <a href="http://www.silversea.com/find-port/" class="bound">search more<i class="fa fa-angle-down"></i></a>
        </span>
    </div>
</div>

<div class="container">
    <h1>Port : ${portUse.portModel.title}</h1>
    <div>
        <p>${portUse.portModel.apiDescription @ context='html'}</p>
    </div>
    <div>
        <h2>Excursions</h2>
        <ul data-sly-list="${portUse.portModel.excursions}">
            <li>${item.description @ context='html'}</li>
        </ul>
    </div>
    <div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
</div>
