<div class="c-pageheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="c-pageheader__title">${'Find a Port' @ i18n}</h1>
                <div class="c-pageheader__links">
                    <ul class="c-list-inline__group">
                        <li class="c-list-inline__item c-list-inline__item--supper c-list-inline__item--separated"><a href="#"> ${'search more' @ i18n} <i class="fa fa-angle-down"></i>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-pagecontent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="c-tab">
                    <ul class="c-tab__nav c-tab__nav--regular5">
                        <li class="c-tab__link" data-state="active"><a href="#Overview">Overview</a></li>
                        <li class="c-tab__link"><a href="#Voyages">Voyages</a></li>
                        <li class="c-tab__link"><a href="#Excursions">Excursions</a></li>
                        <li class="c-tab__link"><a href="#LandProgrammes">Land Programmes</a></li>
                        <li class="c-tab__link"><a href="#Hotels">Hotels</a></li>
                    </ul>
                    <div class="c-tab__body">
                        <sly data-sly-include="overviewtab.html" />
                        <sly data-sly-include="voyagestab.html" />
                        <sly data-sly-include="excursionstab.html" />
                        <sly data-sly-include="landprogrammestab.html" />
                        <sly data-sly-include="hotelstab.html" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>