<div data-sly-use.portUse="com.silversea.ssc.aem.models.PortUse" class="container">
	<!--googleoff: all-->
	<noindex>
		<!--noindex-->
		<div class="port_v2__section">
			<div class="port_v2__section_header">
				<h3 class="port_v2__section_title"><span>${'an-introduction-to-silversea-cruises' @i18n}</span></h3>
			</div>
			<div class="port_v2__section_content">
				<div class="port_v2__imagetext">
					<div class="row">
						<div class="col-sm-6 hidden-xs"></div>
						<div class="col-sm-6">
							<div class="port_v2__imagetext_text">
								<p>${portUse.portGenericBlockBean.description @ context="html"}</p>								
								<div class="port_v2__imagetext_text_cta">
									<div class="button parbase aem-GridColumn--tablet--12 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--tablet--newline aem-GridColumn--default--2">
										<div class="text-center">
											<a href="/content/silversea-com/en/brochures${portUse.brochureSelector}.html" class="btn btn-dark 12" data-sscclicktype="clic-RAB">
											<span class="visible-sm-inline visible-xs-inline">${'view-our-brochures' @i18n}</span>
											<span class="hidden-sm hidden-xs">${'view-our-brochures' @i18n}</span> <i class="fa fa-lg fa-angle-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/noindex-->
	</noindex>
	<!--googleon: all-->
</div>