<template data-sly-template.default="${ @ portUse }">
<div class="container">
	<div class="port_v2__header">
		<h1 data-sly-test="${portUse.portType != 'expedition'}" class="port_v2__header_title">Silversea ${'luxury-cruises' @i18n} ${'to' @i18n} ${portUse.portModel.title}</h1>
		<h1 data-sly-test="${portUse.portType == 'expedition'}" class="port_v2__header_title">Silversea ${'expedition-cruises' @i18n} ${'to' @i18n} ${portUse.portModel.title}</h1>
	    <div data-sly-test="${portUse.portType == 'expedition'}" class="port_v2__section_header_separator port_v2__section_header_separator_expedition "></div>
		<div data-sly-test="${portUse.portType == 'classic'}" class="port_v2__section_header_separator port_v2__section_header_separator_classic "></div>
		<div data-sly-test="${portUse.portType == 'mixed'}" class="port_v2__section_header_separator port_v2__section_header_separator_mixed"></div>
	</div>
</div>
<sly data-sly-test="${portUse.portModel.assetSelectionReference}">
<div class="container" data-sly-test.assetReference="${portUse.portModel.assetSelectionReference}">
<sly data-sly-use.sliderTemplate="silversea/silversea-com/components/editorial/slider/slidertemplate.html"
                data-sly-call="${sliderTemplate.populatefromSetStyle3 @ setImagePath=assetReference}" />
</div>
</sly>
<sly data-sly-test="${!portUse.portModel.assetSelectionReference}">
    <div class="container" data-sly-test.imageUrl="${portUse.portModel.thumbnail}">
    	<div class="banner-image">
    	<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = imageUrl}" />
    		<img src="${assetHelper.imageUrl}?hei=375&wid=1200&fit=crop" alt="${portUse.portModel.title || assetHelper.metadataResource.valueMap['dc:title']  || currentPage.title}" />
        </div>
    </div>
</sly>
</template>