<div div data-sly-use.portuse="com.silversea.ssc.aem.models.PortUse" class="container">
	<div class="port_v2__section text-center" id="port_v2__related">
		<div class="port_v2__section_header">
			<h3 class="port_v2__section_title">
			<span>${'related-destinations' @i18n}</span>
		</div>
		<div class="port_v2__section_content">
			<div data-sly-repeat.relatedPorts="${portUse.relatedPorts}" class="port_v2__post single">
				<sly data-sly-use.assetHelper="${'com.silversea.aem.helper.AssetHelper' @ assetPath = relatedPorts.thumbnail"} />
				<div class="port_v2__post_img" style="background-image: url('${assetHelper.imageUrl @ context='unsafe'}?hei=372&wid=672&fit=crop');">
					<a href="${relatedPorts.path @ extension='html'}" title="${relatedPorts.title}"></a>
				</div>
				<div class="port_v2__post_content">
					<h3 class="port_v2__post_title"><span>${relatedPorts.title}</span></h3>
					<div class="port_v2__post_meta">${relatedPorts.country}</div>
					<div class="port_v2__post_cta">
						<a class="btn btn-dark" href="${relatedPorts.path  @ extension='html'}" title="${relatedPorts.title}" alt="${relatedPorts.title}, ${relatedPorts.country}">${'view-destination' @i18n}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>