<sly data-sly-use.portUse="com.silversea.ssc.aem.models.PortUse" />
<div class="container">
	<div class="port_v2__header">
		<h1 data-sly-test="${portUse.portType != 'expedition'}" class="port_v2__header_title">Silversea ${'luxury-cruises' @i18n} ${'to' @i18n} ${portUse.portModel.title}</h1>
		<h1 data-sly-test="${portUse.portType == 'expedition'}" class="port_v2__header_title">Silversea ${'expedition-cruises' @i18n} ${'to' @i18n} ${portUse.portModel.title}</h1>
	</div>
</div>
<div class="container">
	<div class="container-fluid">
        <sly data-sly-resource="${'slider' @ resourceType='silversea/silversea-com/components/editorial/slider'}" />
    </div>
</div>