<div class="o-area-property-display">
    <div class="o-section">
        <!-- Image -->
        <img class="o-slider" src="${pageProperties.assetSelectionReference}" alt=""/>
        
        <!-- Title -->
        <h1 class="o-title">${currentPage.navigationTitle || currentPage.title @ context='html'}</h1>
       
        <!-- Description -->
        <div class="o-section o-section--separator o-description">
            
            <div class="row">
                <div class="col-sm-6">
<!--                    ${pageProperties.longDescription || currentPage.description @ context='html'}-->
                    <p>Step onto your terrace and bask in the calm feeling of the ocean breeze. Dissolve into the comfort of your king size bed. Prepare for the evening in the beautiful marble bathroom. The upper deck location gives the most spectacular of sea views, the spacious living area allows for comfortable relaxing where cosy nights in become veritable experiences in themselves. The two-bedroom configuration of this suite makes this it the ideal option for families.</p>
                </div>
                <div class="col-sm-6">
                    <ul class="suitevariation__bedroominfo">
                        <li><span>One-Bedroom:</span> 786 ft² / 73m² including veranda</li>
                        <li><span>Two-Bedroom:</span> 1119 ft² / 104m² including veranda</li>
                    </ul>
                </div>
            </div>
            
            <div class="suitevariation__features">
                <h4>Features</h4>
                <ul>
                    <li>Teak veranda with patio furniture and floor-to-ceiling glass doors</li>
                    <li>Living room (with convertible sofa to accommodate an additional guest)</li>
                    <li>Sitting area</li>
                    <li>Separate dining area</li>
                    <li>Twin beds or king-sized bed</li>
                    <li>Marbled bathroom with double vanity, full-sized bath and separate shower; bedroom two has additional marbled bathroom with full-sized bath</li>
                    <li>Walk-in wardrobe with personal safe</li>
                    <li>Vanity table with hair dryer</li>
                    <li>Writing desk(s) with personalised stationery</li>
                    <li>Two 42" / 106 cm flat-screen HD TVs in main suite, plus two 42" / 106 cm flat-screen HD TVs in bedroom two (if ajoined with second suite)</li>
                    <li>Interactive Media Library</li>
                    <li>Illy® Espresso Machine</li>
                    <li>Wall-mounted mobile device chargers</li>
                    <li>Free WiFi</li>
                    <li>Dedicated butler service</li>
                    <li>Refrigerator and bar setup, stocked with your preferences</li>
                    <li>Bvlgari® bath amenities, plus a choice of other European Brands</li>
                    <li>Pratesi® fine bed linens and down duvet covers</li>
                    <li>Premium mattresses</li>
                    <li>Pillow Menu</li>
                    <li>Plush Etro® bathrobes and slippers</li>  
                </ul>
            </div>
        </div>
    </div>
</div>