<div class="o-area-property-display">
    <div class="o-section">
        <!-- Image -->
        <div data-sly-resource="${'slider' @ resourceType='silversea/silversea-com/components/editorial/slider'}"></div>
        
        <!-- Title -->
        <h1 class="o-title">${currentPage.navigationTitle || currentPage.title @ context='html'}</h1>
       
        <!-- Description -->
        <div class="o-section o-section--separator o-description">
            <div class="row">
                <div class="col-sm-6">
                    ${pageProperties.longDescription || currentPage.description @ context='html'}
                </div>
                <div class="col-sm-6">
                    <div class="suitevariation__bedroominfo">
                        ${pageProperties.bedroomsInformation @ context='html'}
                    </div>
                </div>
            </div>
            
            <div class="suitevariation__features">
                <h4>Features</h4>
                <ul data-sly-list="${pageProperties.suiteFeature}">
                    <li>${item}</li>
                </ul>
            </div>
        </div>
    </div>
</div>