.c-subscribe__form .btn {
	font-size: ~"@{nd-button-font-size} !important";
	font-weight: normal ! important;
	padding: ~"@{nd-button-padding} !important";
	i {
		margin-right: 0px ! important;
		display: none;
	}
}

@media screen and (min-width: @screen-md-min) {
	.v2 .c-fyc__result__content__inner {
		width: 63% ! important;
	}

	.v2 .c-fyc__result__content__price {
		width: 17% ! important;
	}

	.c-fyc__header__inner:nth-child(1) {
		width: calc(~"77% - 130px") ! important;
	}
}

.c-fyc__result__content__button .btn {
	font-size: 11px ! important;
	font-weight: normal ! important;
	padding: 11px 11px 9px 11px ! important;
	line-height: 14px;
	min-width: auto;
	@media (max-width: @screen-md-min) {
		padding: @nd-button-padding;
	}

	.thin i.fa.fa-lg.fa-angle-right {
		font-size: 17px ! important;
		display: none;
	}
}

.c-fyc-filter__button {
	button {
		height: 100%;
		i {
			line-height: 10px ! important;
			display: none;
		}
	}
}

@media screen and (min-width: @screen-md-min) and (max-width: 840px) {
	.c-fyc__result__content__button .btn {
		letter-spacing: 1px;
		font-size: 10px ! important;
		line-height: 14px;
	}
}

.c-hero-banner__buttons .btn:not(.pull-right):not(.btn-thin) span {
	padding-right: 3px ! important;
}

.c-hero-banner .c-hero-banner__buttons a , .c-search-hero__form .btn {
	font-size: ~"@{nd-button-font-size} !important";
	font-weight: normal ! important;
	padding: ~"@{nd-button-padding} !important";
}

.c-hero-banner .c-hero-banner__buttons a span , .c-hero-banner-landing .btn span {
	font-weight: normal ! important;
}

.btn-thin {
	i.fa.fa-lg.fa-angle-right {
		font-size: @nd-button-font-size+5;
		float: right;
		display: none;
	}
}

.btn:not(.btn-thin) i.fa.fa-lg.fa-angle-right {
	font-size: @nd-button-font-size+5;
	float: right;
	line-height: 13.5px ! important;
	display: none;
	position: relative ! important;
	top: 0 ! important;
	transform: unset ! important;
	vertical-align: -15% ! important;
}

//SUITE CARD
.cruise__header .cruise__header__desc .cruise__header__cta .btn {
	padding: ~"@{nd-button-padding} !important";
	line-height: 17px;
}

@media screen and (min-width: @screen-md-max) {
	.cruise__header .cruise__header__desc .cruise__header__txt {
		width: 80%;
	}

	.cruise__header .cruise__header__desc .cruise__header__cta {
		padding: 0 ! important;
		float: right;
	}
}

@media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.cruise__header .cruise__header__desc .cruise__header__txt {
		width: 70%;
	}

	.cruise__header .cruise__header__desc .cruise__header__cta {
		padding: 0 ! important;
		float: right;
	}
}

.c-suitelist .btn-request-a-quote {
	padding: ~"@{nd-button-padding} !important";
	font-size: ~"@{nd-button-font-size} !important";
	font-weight: normal ! important;
	line-height: 17px;
	min-width: auto;
}

.c-suitelist__row-card .c-suitelist__button-card {
	max-width: 200px ! important;
	padding: 18px 0;
	clear: both;
	float: none;
	margin: 0 auto ! important;
	float: none ! important;
}

.cruise__header , .c-suitelist__button {
	.btn i.fa.fa-angle-right {
		position: relative ! important;
		font-size: @nd-button-font-size+4;
		float: right;
		right: 0px ! important;
		line-height: 13.5px ! important;
		position: relative ! important;
		top: 0 ! important;
		transform: unset ! important;
		vertical-align: -15% ! important;
		display: none;
	}
}

.cruise__header .cruise__header__cta .btn {
	width: 100% ! important;
	max-width: 200px ! important;
}

.c-footer .o-section div.col-sm-3 {
	text-align: justify;
	@media (min-width: @screen-md-min) and (max-width: 800px) {
		.btn {
			font-size: 11px ! important;
			line-height: 14px ! important;
		}
	}
}

@media screen and (min-width: @screen-md-min) {
	.c-hero-banner__title , .c-hero-banner-landing__title , .c-hero-banner span.c-hero-banner__title , .c-hero-banner h2.c-hero-banner__title , .c-hero-banner h3.c-hero-banner__title , .c-hero-banner-landing span.c-hero-banner__title , .c-hero-banner-landing h2.c-hero-banner__title , .c-hero-banner-landing h3.c-hero-banner__title {
		margin-bottom: 5px ! important;
	}
}

.c-quote-request-form .btn-lg , .signupforoffers .btn-lg , .request-quote-form .btn-lg {
	text-align: center ! important;
}

.cc-tab_header_desc_cta a i , .cc-tab_header_desc_cta .btn i , .cc-tab_header_desc_cta a .btn i.fa-lg , .cc-tab_header_desc_cta .btn .btn i.fa-lg {
	padding-bottom: 2px;
	display: none;
}

.form-control , .chosen-single , .chosen-results , .chosen-drop , .dropdown-toggle , .chosen , .o-input , .mobile-select-ready {
	border-radius: 0px ! important;
}

.c-brochure__btn {
	width: 260px;
}

.fr , .de {
	.c-brochure__btn {
		width: 300px;
	}
}

.pt-BR {
	.c-brochure__btn {
		width: 265px;
	}
}

.c-callbox__inner {
	padding-top: 28px ! important;
	padding-bottom: 28px ! important;
}

.c-mozaic .c-btn--slider--prev , .c-mozaic .c-btn--slider--next {
	padding: 10px 12px;
	border-radius: 0px ! important;
}

.c-brochureLanding .bloc-brochures .action .btn_base {
	border-radius: 0px ! important;
	font-family: @suisse ! important;
}

.landingpage-dmp-destination .c-hero-banner-landing-dmp .c-hero-banner-landing__buttons .btn , .c-main-nav__top__item--search__form {
	border-radius: 0px ! important;
}

.finyourport .port-dest-search .hidden-xs .fa.fa-angle-down:before {
	content: "" ! important;
}

.finyourport .port-dest-search button {
	border-radius: 0px ! important;
	text-align: center ! important;
}

.finyourport .port-dest-search button::after {
	display: none ! important;
}

.cruise__header .cruise__header__desc .cruise__header__cta {
	float: none;
}

.cruise__header .cruise__header__desc .cruise__header__cta a {
	text-align: center ! important;
	float: none ! important;
}

.cruise__header .cruise__header__desc .cruise__header__cta i {
	display: none ! important;
}

.c-suitelist__button.c-suitelist__button-card a {
	text-align: center ! important;
	margin: auto;
}

.c-suitelist__button.c-suitelist__button-card a i {
	display: none ! important;
}

.pt-BR .c-suitelist__row-card .c-suitelist__button-card , .es .c-suitelist__row-card .c-suitelist__button-card , .de .c-suitelist__row-card .c-suitelist__button-card , .fr .c-suitelist__row-card .c-suitelist__button-card {
	padding-left: 0%;
	padding-right: 0%;
}

@media (max-width: @screen-md-min) {
	.pt-BR .c-suitelist .btn-request-a-quote , .es .c-suitelist .btn-request-a-quote , .de .c-suitelist .btn-request-a-quote , .fr .c-suitelist .btn-request-a-quote {
		width: 200px ! important;
	}
}

.o-section-call .btn-block {
	width: auto;
}

@media screen and (max-width: @screen-md-max) {
	.c-subscribe__form .o-input--lg , .c-subscribe__form .c-btn--lg {
		height: 40px ! important;
	}

	.c-footer .o-section div.col-sm-3 .btn {
		min-width: 100%;
	}

	.c-callbox__inner {
		padding-top: 26px ! important;
		padding-bottom: 26px ! important;
	}
}

.port_v2__postcarousel .btn {
	min-width: auto;
}

.c-search-hero__form .btn , .c-search-hero__form .mobile-select-ready {
	height: 40px ! important;
}

@media (min-width: @screen-md-min) and (max-width: 930px) {
	.c-search-hero__form .btn {
		min-width: auto;
	}
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.c-combo-cruise-header__content__resume {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (width: @screen-md-min) {
	.thumbnail .c-vertical-teaser__caption {
		padding: 12px 16px 40px ! important;
	}

	.c-suitelist__row-card .c-suitelist__button .btn {
		min-width: 100%;
		margin: auto;
	}

	.c-cruise .c-tab__content--overview .voyageshare_wrap {
		max-width: 34%;
	}

	.slider {
		.c-vertical-teaser.thumbnail {
			margin: 0px 6px ! important;
		}
	}

	.c-vertical-teaser {
		padding-bottom: 14px;
	}
}

@media screen and (min-width: @screen-lg-min) {
	.c-mozaic__slider__slide--text .c-tabbedmozaic {
		padding: 8% 0px;
	}

	.c-mozaic__slider__slide--text .c-mozaicslider__action {
		bottom: 6%;
	}

	.c-mozaic__slider__slide--text .c-mozaicslider__descr {
		padding-top: 12px;
	}
}

.fr , .es , .de , .pt-BR {
	.c-search-hero__form .btn {
		padding: 14px 8px 11px 8px ! important;
		letter-spacing: 1px;
	}

	@media (min-width: @screen-md-max) and (max-width: @screen-lg-max) {
		.c-mozaic__slider__slide--text .c-mozaicslider__link {
			padding: 14px 8px 11px 8px ! important;
			letter-spacing: 1px ! important;
		}

		.c-mozaic__slider__slide--text .c-mozaicslider__action {
			bottom: 0%;
		}
	}
}

@media (min-width: @screen-md-min) {
	.pt-BR {
		.c-fyc__result__content__button .btn {
			letter-spacing: 0.95px;
		}
	}

	.es {
		.c-fyc__result__content__button .btn {
			letter-spacing: 0.55px;
		}
	}
}

@media (max-width: @screen-sm) {
	.c-fyc__result__content {
		position: relative;
	}

	.es , .pt-br {
		.c-hero-banner .c-hero-banner__buttons a , .c-hero-banner-landing .c-hero-banner-landing__buttons a {
			letter-spacing: 1px;
		}
	}
}

.c-modal-detail-modal-deck a {
	min-width: auto ! important;
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.c-fyc__header {
		font-size: 10px;
	}

	.pt-BR {
		.c-subscribe__form .btn {
			letter-spacing: 0.7px;
		}
	}

	.de .c-fyc__result__content__button .btn {
		padding: 11px 8px 9px 8px ! important;
	}

	.es .c-fyc__result__content__button .btn , .pt-BR .c-fyc__result__content__button .btn {
		padding: 11px 8px 9px 8px ! important;
		min-width: 165px;
		letter-spacing: 0.5px;
		font-size: 10px ! important;
	}

	.c-hero-banner-landing__title , c-hero-banner__title {
		margin-top: 10px;
	}

	.pt-BR , .es , .fr {
		.c-search-hero__form .btn {
			font-size: 11px ! important;
			letter-spacing: 0.5px;
		}
	}

	.es , .fr , .de {
		.c-subscribe__form .btn {
			font-size: 12px ! important;
			padding: 14px 14px 11px 14px ! important;
		}
	}

	.de {
		.c-footer .o-section div.col-sm-3 .btn {
			letter-spacing: 1px;
		}
	}
}

@media screen and (min-width: @screen-md-min) {
	.es , .pt-BR {
		.c-footer .o-section div.col-sm-3 .btn {
			letter-spacing: 0.1px;
			padding: 14px 14px 11px 14px;
			font-size: 12px;
		}
	}

	.pt-BR {
		.c-subscribe__form .btn {
			font-size: 11px ! important;
			padding: 14px 10px 11px 10px ! important;
		}
	}

	.c-hero-banner-landing__buttons .btn , .c-hero-banner__buttons .btn {
		letter-spacing: 1.2px;
		padding: 14px 18px 11px 18px;
	}

	.pt-BR , .es {
		.cruise__header .cruise__header__desc .cruise__header__cta .btn {
			padding: 14px 15px 11px 15px ! important;
			font-size: 13px;
			line-height: 17px;
			letter-spacing: 1px;
		}

		.c-suitelist .btn-request-a-quote {
			padding: 14px 10px 11px 10px ! important;
			letter-spacing: 0.5px;
		}
	}
}

.mobile .brochureteaserlist__header__select #selectBrochureListLangId {
	border-radius: 0px;
}

