/*
** Button
**/
.c-btn:not(.dropdown-toggle):not(.c-btn--slider--prev):not(.c-btn--slider--next), .btn:not(.dropdown-toggle), .c-combo-cruise-header__content__btn, .cruise .row.c-cruise__overview .btn {
  min-width: @nd-button-min-width;
  &-xs {
    min-width: @nd-button-small-min-width;
  }

  i {
    display: none;
  }
}

.c-fyc-v2__result .c-fyc-v2__result__content .c-fyc-v2__result__content__button .btn {
  min-width: auto;
}

.c-btn--slider--next, .c-btn--slider--prev, .brochureteaserlist .btn, .c-cruise-itinerary-list__description__button .c-btn {
  min-width: auto;
  i {
    display: inline-block ! important;
  }
}

.c-cruise__overview .btn {
  padding: @nd-button-padding ! important;
}

@media (max-width: 767px) {
  .c-hero-banner-landing__buttons .btn {
    padding: @nd-button-padding ! important;
  }
}

.c-btn:not(.dropdown-toggle):not(.c-btn--slider--prev):not(.c-btn--slider--next), .btn:not(.dropdown-toggle), .c-combo-cruise-header__content__btn, .c-cruise__overview .btn {
  white-space: normal;
  display: inline-block;
  text-transform: uppercase;
  text-align: center ! important;
  vertical-align: middle;
  border-width: @nd-button-border-width;
  border-radius: @nd-button-border-radius;
  padding: @nd-button-padding;
  line-height: @nd-button-line-height;
  font-size: @nd-button-font-size;
  font-family: @suisse;
  font-weight: normal;
  letter-spacing: @nd-button-letter-spacing;
  span {
    padding-right: 0px ! important;
  }

  &-default, &- -dark {
    background: @nd-dark;
    color: @white;
    border: 1px @nd-light;
    opacity: 0.9;
    &:hover, &:focus, &:active {
      opacity: 1 ! important;
      background: @nd-dark ! important;
      color: @white ! important;
    }
  }

  &- -grey {
    color: @nd-dark;
    background: @nd-light-bg;
    opacity: 0.9;
    &:hover, &:focus, &:active {
      opacity: 1 ! important;
      color: @nd-dark ! important;
      background: @nd-light-bg ! important;
    }
  }

  &-red, &- -red {
    background-color: @nd-red;
    color: @white;
    &:hover, &:focus, &:active {
      background-color: @nd-red-darker ! important;
      color: @white ! important;
    }
  }

  &- -white {
    border: 1px solid @nd-dark;
    color: @nd-dark;
    background-color: @white;
    opacity: 0.5;
    &:hover, &:focus, &:active {
      background-color: @white ! important;
      opacity: 1 ! important;
    }
  }
}

.c-subscribe {
  .btn {
    min-width: auto;
  }
}

.btn-white {
  i.fa.fa-lg.fa-angle-right {
    display: inline-block ! important;
    padding-left: 5px;
  }
}

//Adapt slider (editorial one)
.slider .c-slider button.slick-next:after {
  width: 30px;
  height: 30px;
  border-left: 0px solid transparent;
  border-right: 2px solid #171d47 !important;
  border-bottom: 2px solid #171d47 !important;
  border-top: 0px solid transparent;
  opacity: 0.9;
  content: " ";
  right: 53%;
  left: initial !important;
  transform: rotateZ(-45deg);

}

.slider .c-slider button.slick-prev:after {
  width: 30px;
  height: 30px;
  border-left: 0px solid transparent;
  border-right: 2px solid #171d47 !important;
  border-bottom: 2px solid #171d47 !important;
  border-top: 0px solid transparent;
  opacity: 0.9;
  content: " ";
  right: 0;
  transform: rotateZ(135deg);
}

.slider .c-slider button.slick-prev:before, .slider .c-slider button.slick-next:before {
  border: none;
}

.slider .c-slider button.slick-prev {
  left: -80px !important;
}

.slider .c-slider button.slick-next {
  right: -80px !important;
}

.slider:not(.nd){
  .c-slider{
    .slick-dots {
      width: 98% !important;
      position: absolute;
      border-bottom: 1px solid @grey--9;
      white-space: nowrap;
      overflow: hidden;
      bottom: -30px !important;

      li {
        height: 2px !important;
        margin: 0px !important;
        vertical-align: bottom;
        button::before {
          background-color: #0F1A6E;
          -webkit-border-radius: 0 !important;
          -moz-border-radius: 0 !important;
          border-radius: 0 !important;
        }
      }
      li:not(.slick-active) {
        button::before {
          background-color: @transparent !important;
        }
      }
    }
  }
}

@media(max-width:767px) {

  .slider:not(.nd) {
    .c-slider {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      .slick-list {
        overflow: visible !important;
      }

      .slick-slide {
        transition: 0.5s;
      }
      .slick-slide:not(.slick-current) {
        opacity: 0.5;
        transform: scale(0.85);
      }


    }
  }
}
