@media only screen and (max-width: @screen-sm) {
.combocruise {
        .c-tab__link {
            font-size:18px !important;
        }        
          h1.c-combo-cruise-header__content__title {
                    font-size: 35px !important;
        }
     }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.combocruise{
	   .c-combo-cruise-header__content__title {
	            font-size:44px;
	    }
	}
}

 