 .cruise {	
	.c-suitelist__price__text--important {
	    font-size: 21px;
	}
 }
@media screen and (max-width: @screen-sm) {
    .c-cruise__ship-overview h3.c-cruise__subtitle {
        font-size: 30px;
    }
    .c-cruise-ship-info h3.c-cruise__subtitle {
        font-size: 25px;
    }
    .c-cruise-ship-info__item .ship-mobilewrapper h4.variationcontent__title {
        font-size: 22px; 
    }

}

