.destination .destination-switchable-block .o-section.o-description {
	h2 { 
 		font-size:26px !important;
 	}
 } 
.destination  {
	.switcher-text-link {
	    font-family: @suisse;
	}
}
 .destination div.destination-switchable-block#destination-html-switchable-block .o-section.o-description h2 {
    font-size: 26px !important;
    font-family: @f-theano_didot;
}