/* 
 * FIX Modal
 */
 .modal-dialog.modal-md {
		max-width: 650px;
		margin:auto;
	}

 /*
  * Fix Gallery 
  */
  
@media (max-width:@screen-sm){
	.modal-content--gallery{
	    top:50%;
	    transform:translateY(-50%);
	    -webkit-transform:translateY(-50%);
	   
	}
	.modal-content--gallery .c-slider{
	    margin-bottom:0;
	}
	.modal-lg{
	    padding: 0;
	}
}

/*
 * Fix Forms mobile modal header size 
 */
 @media (max-width:@screen-sm){
 	.modal-dialog.modal-md {
 		.modal-body {
 			padding-top:0px;
 		}
 		.modal-header{
 			padding-bottom:0px;
 			padding-top:10px;
 		}
 	}
 }