 /*
  * Fix Ship page
  */
 .ship{
 	.c-pageheader__title{
	 	display:none;
	 }	
 	.h-lower{
 		text-transform: uppercase;
 	}
 }
 
 /*
 * Fix Key fact mobile ship page
 */
@media only screen and (max-device-width: @screen-sm)   {
	li.c-list-inline__item.c-list-inline__item--no-separated:not(:first-child) {
	    margin-left:12px;
	    margin-top:5px;
	}
}