.cq-Overlay--placeholder::before {
    height: auto;
    transform: translateY(-0.5rem);
}


.rte-ui .rte-toolbar.is-active  {
    visibility:visible !important;
}

.js-editor-PageInfo-closePopover.properties-activator.coral3-Button.coral3-Button--secondary {
    display:none !important;

}