<div class="container">
    <section class="o-section">
        <div class="row">
            <div class="col-sm-9">
                <div
                    data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}">
                </div>
            </div>
            <div class="col-sm-3 c-sidebar">
                <div
                    data-sly-resource="${'parSide' @ resourceType='wcm/foundation/components/iparsys'}"></div>
            </div>
        </div>
    </section>
</div>