<!DOCTYPE HTML>
<html>
<head>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='apps.silversea-com.bootstrap-3-3-7'}" />
</head>
<body>
    <div class="container-fluid">
        <sly data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse" data-sly-unwrap />
        <p>title: ${cruise.cruiseModel.title}</p>
        <p>subtitle (Destination title): ${cruise.cruiseModel.destinationTitle}</p>
        <p>Description : ${cruise.cruiseModel.description}</p>
        <p>Previous: ${cruise.previous}</p>
        <p>Next: ${cruise.next}</p>
        <p>cruise Type: ${cruise.cruiseModel.cruiseType}</p>
        <p>ship Name: ${cruise.cruiseModel.ship.title}</p>
        <p>Voyage code: ${cruise.cruiseModel.cruiseCode}</p>
        <!-- END BLOC 1 TODO: features and EOs icons -->
        <ul data-sly-test="${cruise.cruiseModel.features}" data-sly-list="${cruise.cruiseModel.features}">
            <li>
                <p>Title:${item.title}</p>
                <p>Icon:${item.icon}</p>
            </li>
        </ul>
        <p>duration: ${cruise.cruiseModel.duration}</p>
        <span data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM yyyy', date=cruise.cruiseModel.startDate}"> start date: ${date.value} </span>
        <p>lowest price: ${cruise.cruiseModel.lowestPrice.value}</p>
        <p>currency: ${cruise.cruiseModel.lowestPrice.currency}</p>
        <p>currency: ${cruise.cruiseModel.lowestPrice.isWaitList}</p>
        <img src="${cruise.cruiseModel.itinerary}" />
        <h3>OFFRES EXCLUSIVES / PROGRAMMES :</h3>
        <ul data-sly-test="${cruise.cruiseModel.exclusiveOffers}" data-sly-list="${cruise.cruiseModel.exclusiveOffers}">
            <li>
                <p>Map over head: ${item.mapOverHead}</p>
                <p>Title:${item.title}</p>
                <p>Description:${item.description @ context='html'}</p>
            </li>
        </ul>
        <h3>INCLUS DANS LE PRIX DE LA CROISIÈRE</h3>
        <h3>cruise fare additions</h3>
        <ul data-sly-test="${cruise.cruiseModel.cruiseFareAdditions}" data-sly-list="${cruise.cruiseModel.cruiseFareAdditions}">
            <li>
                <p>${item}</p>
            </li>
        </ul>
        <h3>exclusive offer cruise fare additions</h3>
        <ul data-sly-test="${cruise.cruiseModel.exclusiveFareAdditions}" data-sly-list="${cruise.cruiseModel.exclusiveFareAdditions}">
            <li>
                <p>Addition: ${item.addition}</p>
                <p>Note : ${item.notes}</p>
            </li>
        </ul>
        <p>Destination foot note : ${cruise.cruiseModel.destinationFootNote}</p>
        <h3>SUITES</h3>
        <!-- SUITES -->
        <ul data-sly-test="${cruise.cruiseModel.suites}" data-sly-list="${cruise.cruiseModel.suites}">
            <li>
                <p>Thumbnail: ${item.thumbnail}</p>
                <p>Title: ${item.title}</p>
                <p>Suite sub title:</p>
                <ul data-sly-test="${item.suiteSubTitle}" data-sly-list="${item.suiteSubTitle}">
                    <li>
                        <p>${item}</p>
                    </li>
                </ul>
                <p>Suite lowest, price + currency: ${item.lowestPrice.value} ${item.lowestPrice.currency}</p>
                <p>Suite lowest, is waitlist: ${item.lowestPrice.isWaitList}</p>
                <p>Bedroom informations: ${item.bedroomsInformation @ context='html'}</p>
                <p>Long description: ${item.longDescription @ context='html'}</p>
                <p>Features:</p>
                <ul data-sly-test="${item.features}" data-sly-list="${item.features}">
                    <li>
                        <p>${item}</p>
                    </li>
                </ul>
                <p>Plan:</p> <!-- Suite plan --> <img src="${item.plan}" />
                <p>Location:</p> <!-- Suite location --> <img src="${item.locationImage}" />
                <p>Visual tour:</p> <!-- suite visual tour --> <img src="${item.virtualTour}" /> <br /> <strong>Suite variation:</strong>
                <ul data-sly-test="${item.variations}" data-sly-list="${item.variations}">
                    <li>
                        <!-- Variation name is a key: must create a key/value i18n -->
                        <p>Title:${item.name}</p>
                        <p>Price:${item.price.value}</p>
                        <p>isWaitList:${item.price.isWaitList}</p>
                        <p>Currency:${item.price.currency}</p>
                    </li>
                </ul>
            </li>
            <hr />
        </ul>
        <section class="row">
            <div class="col-sm-12">
                <h1>CRUISE ITINERARY</h1>
                <ul data-sly-test="${cruise.cruiseModel.itineraries}" data-sly-list="${cruise.cruiseModel.itineraries}">
                    <li>
                        <p>Country : ${item.country}</p>
                        <p>Thumbnail: ${item.thumbnail}</p> <span data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM yyyy', date=item.date}"> Date: ${date.value} </span>
                        <p>Arrive time : ${item.arriveTime}</p>
                        <p>Depart time : ${item.departTime}</p>
                        <p>Description : ${item.description @ context='html'}</p>
                    </li>
                    <hr />
                </ul>
                <h1>Excursions / Hotels / Land programs</h1>
                <ul data-sly-test="${cruise.cruiseModel.itineraries}" data-sly-list="${cruise.cruiseModel.itineraries}">
                    <li>
                        <h2>Excursions <small>(${item.excursions.size})</small></h2>
                        <ul data-sly-list="${item.excursions}">
                            <li>
                                <dl>
                                    <dt>Title: ${item.title}</dt>
                                    <dd>Description: ${item.description @ context='html'}</dd>
                                    <dd>Code: ${item.codeExcursion}</dd>
                                    <dd>Api longdescription: ${item.apiLongDescription @ context='html'}</dd>
                                    <dd>Poi: ${item.pois}</dd>
                                    <dd>Duration: ${item.duration}</dd>
                                    <dd>Schedule: ${item.schedule}</dd>
                                    <dd>
                                        Features:
                                        <ul data-sly-test="${item.features}" data-sly-list="${item.features}">
                                            <li>Icon:${item.icon}</li>
                                            <li>Title:${item.title}</li>
                                        </ul>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2>Hotels <small>(${item.hotels.size})</small></h2>
                        <ul data-sly-list.hotel="${item.hotels}">
                            <li>
                                <dl>
                                    <dt>Title: ${hotel.name}</dt>
                                    <dd>Description: ${hotel.description @ context='html'}</dd>
                                </dl>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2>Land programs <small>(${item.landprograms.size})</small></h2>
                        <ul data-sly-list.landprograms="${item.landprograms}">
                            <li>
                                <dl>
                                    <dt>Title: ${landprograms.title}</dt>
                                    <dd>Description: ${landprograms.description @ context='html'}</dd>
                                </dl>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
        <h3>SHIP</h3>
        <p>ship Name: ${cruise.cruiseModel.ship.title}</p>
        <p>Description : ${cruise.cruiseModel.ship.longDescription @ context='html'}</p>
        <h3>Restaurants</h3>
        <ul data-sly-test="${cruise.cruiseModel.ship.dinings}" data-sly-list="${cruise.cruiseModel.ship.dinings}">
            <li>
                <!-- Don't use page's properties because we have properties fall back in the back end  -->
                <p>Title: ${item.title}</p>
                <p>Description: ${item.longDescription @ context='html'}</p>
                <p>Asset selection: ${item.assetSelectionReference}</p>
            </li>
        </ul>
        <h3>Public area</h3>
        <ul data-sly-test="${cruise.cruiseModel.ship.publicAreas}" data-sly-list="${cruise.cruiseModel.ship.publicAreas}">
            <li>
                <!-- Don't use page's properties because we have properties fall back in the back end  -->
                <p>Title: ${item.title}</p>
                <p>Description: ${item.longDescription @ context='html'}</p>
                <p>Asset selection: ${item.assetSelectionReference}</p>
            </li>
        </ul>
    </div>
</body>
</html>