<div itemscope itemtype="http://schema.org/Product" class="cruise-2018 container"
     data-sly-use.cruise="com.silversea.aem.components.page.Cruise2018Use">
    <sly data-sly-use.externalizerHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentNode.path}"/>
    <sly data-sly-use.overview="/apps/silversea/silversea-com/components/pages/cruise/templates/overview.html"
         data-sly-call="${overview.default @
         externalizerHelper=externalizerHelper,
         bigThumbnailItineraryMap=cruise.cruiseModel.bigThumbnailItineraryMap,
         assetsGallery=cruise.assetsGallery,
         bigThumbnail=cruise.cruiseModel.bigThumbnail,
         itinerary=cruise.cruiseModel.itinerary,
         bigThumbnail=cruise.cruiseModel.bigThumbnail,
         bigItineraryMap=cruise.cruiseModel.bigItineraryMap,
         showCruiseBeforeName=cruise.showCruiseBeforeName,
         navigationTitle=cruise.cruiseModel.destination.navigationTitle,
         title=cruise.cruiseModel.destination.title,
         departurePortName=cruise.cruiseModel.departurePortName,
         arrivalPortName=cruise.cruiseModel.arrivalPortName,
         startDate=cruise.cruiseModel.startDate,
         duration=cruise.cruiseModel.duration,
         ship=cruise.cruiseModel.ship,
         requestQuotePagePath=cruise.requestQuotePagePath,
         computedPriceFormatted=cruise.computedPriceFormatted,
         earlyBookingBonus=cruise.lowestPrice.earlyBookingBonus,
         lastMinuteSavings=cruise.lastMinuteSavings,
         currency=cruise.lowestPrice.currency,
         countryCode=cruise.countryCode,
         ccptCode=cruise.ccptCode,
         currentPath=cruise.currentPath,
         taCode=cruise.taCode,
         isWaitlist=cruise.isWaitlist,
         cruiseCode=cruise.cruiseModel.cruiseCode,
         previous=cruise.previous,
         next=cruise.next,
         exclusiveOfferPostPrice=cruise.exclusiveOfferPostPrice,
         cruiseType=cruise.cruiseModel.cruiseType}"/>
    <sly data-sly-use.menu="/apps/silversea/silversea-com/components/pages/cruise/templates/menu.html"
         data-sly-call="${menu.navigation @
         totalNumberOfOffers=cruise.totalNumberOfOffers,
         cruiseType=cruise.cruiseModel.cruiseType,
         startDate=cruise.cruiseModel.startDate,
         endDate=cruise.cruiseModel.endDate,
         departurePortName=cruise.cruiseModel.departurePortName,
         arrivalPortName=cruise.cruiseModel.arrivalPortName,
         duration=cruise.cruiseModel.duration,
         isWaitlist=cruise.isWaitlist,
         earlyBookingBonus=cruise.lowestPrice.earlyBookingBonus,
         currency=cruise.lowestPrice.currency,
         computedPriceFormatted=cruise.computedPriceFormatted,
         requestQuotePagePath=cruise.requestQuotePagePath}"/>
    <sly data-sly-use.offers="/apps/silversea/silversea-com/components/pages/cruise/templates/offers.html"
         data-sly-call="${offers.default @
         offers = cruise.exclusiveOffers,
         offersNumber = cruise.totalNumberOfOffers,
         isVenetian=cruise.isVenetianSociety,
         odd = cruise.areOffersOdd,
         VSLBPath = cruise.VSLBPath}"/>
    <hr data-sly-test="${cruise.totalNumberOfOffers != 0}" style="border-color: white;"/>
    <sly data-sly-use.itineraryexcursions="/apps/silversea/silversea-com/components/pages/cruise/templates/itineraryexcursions/itineraryexcursions.html"
         data-sly-call="${itineraryexcursions.default @
         cruise=cruise, model=cruise.cruiseModel,
         externalizerHelper=externalizerHelper}"/>
    <hr/>
    <sly data-sly-use.expeditions="/apps/silversea/silversea-com/components/pages/cruise/templates/expeditions.html"
         data-sly-call="${expeditions.default @
         cruise=cruise}"/>
    <sly data-sly-use.suitesfares="/apps/silversea/silversea-com/components/pages/cruise/templates/suites-fares.html"
         data-sly-call="${suitesfares.default @
         prices=cruise.prices,
         model=cruise.cruiseModel,
         isFeetSquare=cruise.isFeetSquare,
         requestQuotePagePath=cruise.requestQuotePagePath,
          exclusiveOffersCruiseFareAdditions=cruise.exclusiveOffersCruiseFareAdditions,
          showTitle=true,
          showDescription=true}"/>
    <hr/>
    <sly data-sly-use.ship="/apps/silversea/silversea-com/components/pages/cruise/templates/ship/ship.html"
         data-sly-call="${ship.default @
         ship=cruise.cruiseModel.ship,
         shipAssetGallery=cruise.shipAssetGallery,
         externalizerHelper=externalizerHelper}"/>
    <sly data-sly-use.prepost="/apps/silversea/silversea-com/components/pages/cruise/templates/pre-post.html"
         data-sly-call="${prepost.default @
         prePosts=cruise.prePost, activateProgressbar=false}"/>
    <sly data-sly-use.nextprev="/apps/silversea/silversea-com/components/pages/cruise/templates/next-prev.html"
         data-sly-call="${nextprev.default @
         previous=cruise.previous,
          previousDeparture=cruise.previousDeparture,
          previousArrival=cruise.previousArrival,
          next=cruise.next,
          nextDeparture=cruise.nextDeparture,
          nextArrival=cruise.nextArrival}"/>
    <sly data-sly-use.footer="/apps/silversea/silversea-com/components/pages/cruise/templates/footer.html"
         data-sly-call="${footer.default @
         isWaitlist=cruise.isWaitlist,
         earlyBookingBonus=cruise.lowestPrice.earlyBookingBonus,
         currency=cruise.lowestPrice.currency,
         computedPriceFormatted=cruise.computedPriceFormatted,
         requestQuotePagePath=cruise.requestQuotePagePath}"/>
</div>