<sly data-sly-use.portUse="com.silversea.aem.components.page.PortUse" />
<section class="o-section">
    <div class="c-pageheader">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="c-pageheader__title c-pageheader__title--inline">${'find-a-Port' @ i18n}</h2>
                    <div class="c-pageheader__links">
                        <ul class="c-list-inline__group">
                            <li class="c-list-inline__item c-list-inline__item--supper c-list-inline__item--separated"><a href="#"> ${'search-more' @ i18n} <i class="fa fa-angle-down"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-pagecontent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="c-tab c-tab__accordion">
                        <ul class="c-tab__nav c-tab__nav--regular5">
                            <li class="c-tab__link" data-state="active"><a href="#Overview">Overview</a></li>
                            <li class="c-tab__link"><a href="#Voyages">Voyages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>