<template data-sly-template.default="${ @ ship }">
    <div class="cruise-2018-ship-dining-area" id="cruise2018shipdining">
        <sly data-sly-test.dinings="${ship.dinings}">
            <div class="hidden-xs cruise-2018-ship-dining-area-title">${ship.title} ${'dining-options' @i18n}: ${dinings.size} ${'restaurants' @i18n}</div>
            <div class="hidden-xs cruise-2018-ship-dining-area-list" data-sly-list="${dinings}">
                <div class="row cruise-2018-ship-dining-area-row ${itemList.index<2 ? '' : 'cruise-2018-accordion'}">
                    <div class="col-xs-6">
                        <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
                             data-sly-call="${imageTemplate.lazy @ imagePath=item.thumbnail, width=550}"/>
                    </div>
                    <div class="col-xs-6 cruise-2018-ship-dining-area-text">
                        <div class="cruise-2018-ship-dining-area-text-wrapper">
                            <div class="cruise-2018-ship-dining-area-text-title">${item.navigationTitle || item.title}</div>
                            <div class="cruise-2018-ship-dining-area-text-description">${item.shortVoyageDescription @ context='html'}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cruise-2018-ship-dining-area-btns hidden-xs" data-sly-test="${dinings.size > 2}">
                <a data-ssc-accordion="show" class="btn btn-thin btn-white cruise-2018-dining-show-btn " href="#">
                    <span class="cruise-2018-accordion-button">${'view-all-dining-options' @ i18n}</span>
                    <span class="cruise-2018-accordion-button" style="display:none">${'view-less' @ i18n}</span>
                </a>
            </div>
            <sly data-sly-test.numberOfRestaurants="number${dinings.size}"/>
            <div class="cruise-2018-ship-dining-area-title-mobile"> ${numberOfRestaurants @i18n} ${'restaurants' @i18n}</div>
            <div class="cruise-2018-ship-dining-area-list-slider activate-progressbar"
                 data-sly-list="${dinings}">
                <div class="cruise-2018-ship-dining-area-slide">
                    <div class="cruise-2018-ship-dining-area-slide-thumbnail">
                        <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"
                             data-sly-call="${imageTemplate.respLazyWidthChoose @ imagePath=item.thumbnail, Width='550'}"/>
                    </div>
                    <div class="cruise-2018-ship-dining-area-slide-text">
                        <div class="cruise-2018-ship-dining-area-slide-title">
                            ${item.navigationTitle || item.title}
                        </div>
                        <div class="cruise-2018-ship-dining-area-slide-description">
                            ${item.shortVoyageDescription @ context='html'}
                        </div>
                    </div>
                </div>
            </div>
        </sly>
    </div>
</template>
