<template data-sly-template.default="${ @ ship }">
    <div class="cruise-2018-ship-public hidden-xs" id="cruise2018ShipPublic">
        <sly data-sly-test.publicAreas="${ship.publicAreas}">
            <h3 class="cruise-2018-ship-public-title">${'public-areas' @ i18n}</h3>
        </sly>
        <div class="cruise-2018-ship-public-content cruise-2018-slider activate-progressbar">
            <sly data-sly-list.publicArea="${publicAreas}">
                <div class="cruise-2018-ship-public-slide cruise-2018-slide">
                    <div class="cruise-2018-ship-public-slide-thumbnail cruise-2018-slide-thumbnail">
                        <div class="ratio">
                            <sly data-sly-use.imageTemplate="silversea/silversea-ssc/components/editorial/imageCoverSmall/imageCoverSmalltemplate.html"
                                 data-sly-call="${imageTemplate.respLazyWidthChoose @ imagePath=publicArea.thumbnail, Width='300'}"/>
                        </div>
                    </div>
                    <div class="cruise-2018-ship-public-slide-title">${publicArea.navigationTitle}</div>
                    <div class="cruise-2018-ship-public-slide-text">${publicArea.shortVoyageDescription @ context='html'}</div>
                </div>

            </sly>
        </div>
    </div>
</template>
