<section class="o-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-12 c-pressreleases">
             <div data-sly-resource="${'parPressereleaseslistheader' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
                <p class="c-pressreleases__description">${currentPage.description}</p>
                <div data-sly-resource="${'parPressereleaseslist' @ resourceType='silversea/silversea-com/components/included/pressreleaseslist'}"></div>
            </div>
        </div>
    </div>
</section>