<div itemscope itemtype="http://schema.org/Product" class="combocruise-2018 container"
     data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse">
    <sly data-sly-use.externalizerHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentNode.path}"/>
    <sly data-sly-use.overview="/apps/silversea/silversea-com/components/pages/cruise/templates/overview.html"
         data-sly-call="${overview.default @
         bigItineraryMap=comboCruise.comboCruiseModel.bigItineraryMap,
         cruiseType='silversea-combocruise',
         isCombo=true,
         cruiseCode=comboCruise.comboCruiseModel.page.name,
         externalizerHelper=externalizerHelper,
         assetsGallery=comboCruise.assetsGallery,
         bigThumbnail=comboCruise.comboCruiseModel.thumbnail,
         title=comboCruise.comboCruiseModel.title,
         arrivalPortName=comboCruise.comboCruiseModel.arrivalPortName,
         departurePortName=comboCruise.comboCruiseModel.departurePortName,
         startDate=comboCruise.comboCruiseModel.startDate,
         endDate=comboCruise.comboCruiseModel.endDate,
         duration=comboCruise.comboCruiseModel.duration,
         ship=comboCruise.comboCruiseModel.ship,
         requestQuotePagePath=comboCruise.requestQuotePagePath,
         computedPriceFormatted=comboCruise.computedPriceFormatted,
         earlyBookingBonus=comboCruise.lowestPrice.earlyBookingBonus,
    currency=comboCruise.lowestPrice.currency}"/>
    <sly data-sly-use.menu="/apps/silversea/silversea-com/components/pages/cruise/templates/menu.html"
         data-sly-call="${menu.navigation @
         cruiseType='silversea-combocruise',
         arrivalPortName=comboCruise.comboCruiseModel.arrivalPortName,
         departurePortName=comboCruise.comboCruiseModel.departurePortName,
         startDate=comboCruise.comboCruiseModel.startDate,
         endDate=comboCruise.comboCruiseModel.endDate,
         duration=comboCruise.duration,
         isWaitlist=comboCruise.isWaitlist,
         earlyBookingBonus=comboCruise.lowestPrice.earlyBookingBonus,
         currency=comboCruise.lowestPrice.currency,
         computedPriceFormatted=comboCruise.computedPriceFormatted,
         requestQuotePagePath=comboCruise.requestQuotePagePath}"/>
    <div data-sly-resource="${'par-combocruise-offer' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    <sly data-sly-use.itinerary="/apps/silversea/silversea-com/components/pages/combocruise/templates/itineraryexcursions/itinerary.html"
         data-sly-call="${itinerary.default @
         comboModel= comboCruise.comboCruiseModel,
         model=comboCruise.segmentModel.cruise,
         numPorts=comboCruise.comboCruiseModel.portsAmount,
         numCountries=comboCruise.comboCruiseModel.countriesAmount,
         numRoutes=comboCruise.comboCruiseModel.routesAmount,
         dayUntilDeparture=comboCruise.comboCruiseModel.duration,
         duration=comboCruise.comboCruiseModel.duration,
         itinerary=comboCruise.itinerary,
         externalizerHelper=externalizerHelper,
         itineraryMap=comboCruise.segmentModel.focusedMapReference,
         customDescription=comboCruise.comboCruiseModel.description,
         countryCode='',
         currentPath='',
         hideVoyageCode=true}"/>
    <div class="cardSliderLightbox cruise2018-keypeople" data-sly-test="${comboCruise.keyPeople}">
        <hr/>
        <sly data-sly-test.title="${comboCruise.keyPeopleTitle}"/>
        <sly data-sly-use.template="/apps/silversea/silversea-com/components/editorial/cardSliderLightbox/template.html"
             data-sly-call="${template.default @
             title=title,
             slidesDesktop=4,
             slidesTablet=3,
             slidesMobile=1,
             style='circled',
             backgroundColour='grayBackground',
             cards=comboCruise.keyPeople,
             lightboxPath=currentPage.path,
             selector='lightboxes.lg-keyperson'}"/>
    </div>
    <hr class="combocruise-2018-hr-itinerary-suite"/>
    <div id="menu-cruise2018suites"
         data-sly-resource="${'par-overview-middle' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    <sly data-sly-use.suitesfares="/apps/silversea/silversea-com/components/pages/cruise/templates/suites-fares.html"
         data-sly-call="${suitesfares.default @
         prices=comboCruise.prices,
         model=comboCruise.comboCruiseModel,
         isFeetSquare=comboCruise.isFeetSquare,
         isCombo=true,
         requestQuotePagePath=comboCruise.requestQuotePagePath,
         cruiseFareAdditionsDescription=comboCruise.comboCruiseModel.comboCruiseFareAdditionsDescription,
         exclusiveOffersCruiseFareAdditions=comboCruise.comboCruiseModel.comboCruiseFareAdditions}"/>
    <hr/>
    <sly data-sly-use.ship="/apps/silversea/silversea-com/components/pages/cruise/templates/ship/ship.html"
         data-sly-call="${ship.default @
         ship=comboCruise.comboCruiseModel.ship,
         shipAssetGallery=comboCruise.shipAssetGallery,
         externalizerHelper=externalizerHelper}"/>
    <sly data-sly-include="fragment/overviewtab/benefitsandeventsparsys.html"/>
    <div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    <sly data-sly-use.prepost="/apps/silversea/silversea-com/components/pages/cruise/templates/pre-post.html"
         data-sly-call="${prepost.default @ prePosts=comboCruise.globalPrePost, activateProgressbar=true}"/>
    <sly data-sly-use.footer="/apps/silversea/silversea-com/components/pages/cruise/templates/footer.html"
         data-sly-call="${footer.default @
         isWaitlist=comboCruise.isWaitlist,
         earlyBookingBonus=comboCruise.lowestPrice.earlyBookingBonus,
         currency=comboCruise.lowestPrice.currency,
         computedPriceFormatted=comboCruise.computedPriceFormatted,
         requestQuotePagePath=comboCruise.requestQuotePagePath}"/>
    <div data-sly-resource="${'par-events-slider' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
</div>
