<div data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse" class="container c-cruise c-combo-cruise">
    <div class="row">
        <div class="col-md-12">
            <div data-sly-resource="${'header-combocruise' @ resourceType='silversea/silversea-com/components/editorial/combocruiseheader', wcmmode='disabled'}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="c-tab c-tab__accordion">
                <ul class="c-tab__nav c-tab__nav--fixed dropdown-menu" data-toggle="dropdown" aria-expanded="false">
                    <!--/* Don't add space between </li> and next <li> */-->
                    <li class="c-tab__link c-tab__link--clear" data-state="active">
                        <a href="#overview"><span>${'overview' @i18n}</span></a>
                    </li>
                    <li class="c-tab__link c-tab__link--clear">
                        <a href="#suitenfare"><span>${'suites-and-fares' @i18n}</span></a>
                    </li>
                    <li class="c-tab__link c-tab__link--clear">
                        <a href="#route"><span>${'routes' @i18n}</span></a>
                    </li>
                    <li class="c-tab__link c-tab__link--clear" data-sly-test="${comboCruise.excursionsNumber > 0}">
                        <a href="#excursions"><span>${'excursions' @i18n}</span></a>
                    </li>
                    <li class="c-tab__link c-tab__link--clear" data-sly-test="${comboCruise.landProgramsNumber > 0}">
                        <a href="#landnhotel"><span>${'land-programs' @i18n}</span></a>
                    </li>
                    <li class="c-tab__link c-tab__link--clear">
                        <a href="#ship"><span>${'ship' @i18n}</span></a>
                    </li>
                    <li class="c-tab__link c-tab__link--clear">
                        <a href="#benefitsnevents"><span>${'benefits and events' @i18n}</span></a>
                    </li>
                </ul>
                <div class="c-tab__body">
                    <div class="c-tab__content c-tab__content--overview" id="overview" data-state="active">
                        <!--/* Overview tab */-->
                        <sly data-sly-include="fragment/overviewtab/overview.html"/>
                        <sly data-sly-include="fragment/overviewtab/map.html" />
                        <sly data-sly-include="fragment/overviewtab/gallery.html" />
                        <sly data-sly-include="fragment/overviewtab/suitelistlight.html" />
                        <sly data-sly-include="fragment/overviewtab/benefitsandeventsparsys.html" />
                        <div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
                    </div>
                    <div class="c-tab__content" id="suitenfare">
                        <!--/* Suites and fares tab */-->
                        <sly data-sly-include="fragment/suitetab/suitelist.html" />
                    </div>
                    <div class="c-tab__content" id="route">
                        <!--/* Routes tab */-->
                        <sly data-sly-include="fragment/routetab/overview.html" />
                        <sly data-sly-include="fragment/routetab/segmentinfo.html" />
                    </div>
                    <div class="c-tab__content" id="excursions" data-sly-test="${comboCruise.excursionsNumber > 0}">
                        <!--/* Excursions tab */-->
                        <sly data-sly-include="fragment/excursiontab/portexcursionslist.html" />
                    </div>
                    <div class="c-tab__content" id="landnhotel" data-sly-test="${comboCruise.landProgramsNumber > 0}">
                        <!--/* Land and hotel tab */-->
                        <sly data-sly-include="fragment/landprogramtab/portlandprogramlist.html" />
                    </div>
                    <div class="c-tab__content" id="ship">
                        <!--/* Ship tab */-->
                        <sly data-sly-include="fragment/shiptab/overview.html" />
                        <sly data-sly-include="fragment/shiptab/suitevariation.html" />
                        <sly data-sly-include="fragment/shiptab/diningvariation.html" />
                        <sly data-sly-include="fragment/shiptab/publicareavariation.html" />
                    </div>
                    <div class="c-tab__content" id="benefitsnevents">
                        <!--/* Benefits and events tab */-->
                        <sly data-sly-include="fragment/benefitstab/benefitsandevents.html" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
