<div data-sly-use.comboCruise="com.silversea.aem.components.page.ComboCruiseUse" class="container c-cruise c-combo-cruise">
    LOWEST PRICE : ${comboCruise.comboCruiseModel.lowestPrice.value}
    <ul data-sly-list="${cruise.comboCruiseModel.cruises}">
        <li data-sly-list=${item.itineraries}>
            <p>${item.country}</p>
        </li>
    </ul>
    <hr />
    SUITES
    <ul data-sly-list="${comboCruise.comboCruiseModel.suites}">
        <li data-sly-list=${item.variations}>
            <p>${item.name}</p>
            <p>${item.price.value}</p>
        </li>
    </ul>
</div>
