.c-accordion {
    border-right: solid 1px @grey--e8;
    border-left: solid 1px @grey--e8;

    &__elem {
        border-top: solid 1px @grey--e8;

        &:nth-last-child(1) {
            border-bottom: solid 1px @grey--e8;
        }
    }
    &__header {
        display: table;
        width: 100%;
        background-color: @grey--f9;
        padding: 10px;
        table-layout: fixed;

        &:hover, &:active, &:focus {
            cursor: pointer;
            background-color: @grey--e6;
        }
        &[data-state='active'] {
            background-color: @grey--e6;
        }
    }
    &__title,
    &__info,
    &__action {
        display: table-cell;
        vertical-align: middle;
    }
    &__title {
        p {
            margin: 0px;
        }
    }
    &__action {
        min-width: 90px;
        width: 10%;
        text-align: right;
    }
    &__body {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .3s ease-in-out;
        padding: 0 10px;

        &[data-collapsed='true'] {
            max-height: 1000px;
        }
    }
}