.port {
    .c-cruise-itinerary-2__list__item {
        border-top: 0;
    }

    .c-cruise-itinerary-2__list--nested__item .panel--nested__heading {
        padding-left: 15px;
    }
}

/*
** Editorial Component Accordion
*/

.accordion {
    .c-accordion {
        margin-bottom: 10px;
    }
}

/*
** Component Accordion
*/

.c-accordion {
    border-right: solid 1px @grey--e8;
    border-left: solid 1px @grey--e8;

    & & {
        border: 0;

        .c-accordion__header {
            padding-left: 25px;
            @media screen and (max-width: @screen-xs) {
                padding-left: 0;
            }
        }

        .c-accordion__body--panel {
            padding-left: 40px;
        }
    }

    &--darkbox {
        border-left: 0;
        border-right: 0;

        .c-accordion__header {
            background-color: @white;
            border: solid 1px @grey--e8;
            padding: 0;

            &:hover,
            &:active,
            &:focus {
                background-color: @white;
                cursor: pointer;
            }

            &[data-state='true'] {
                background-color: @grey--3;
                border: 0;
                color: @white;

                .fa.fa-angle-up {
                    color: @white;
                }
            }

        }

        .c-accordion__elem {
            border: 0;

            &:nth-last-child(1) {
                border-bottom: 0;
            }
        }
    }

    &__elem {
        border-top: solid 1px @grey--e8;

        &:nth-last-child(1) {
            border-bottom: solid 1px @grey--e8;
        }
    }

    &__header {
        display: table;
        width: 100%;
        background-color: @grey--f9;
        padding: 3px;
        table-layout: fixed;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            background-color: @grey--e6;
        }

        &[data-state='true'] {
            & + .c-accordion__body {
                max-height: 9000px;
                transition: max-height 2s ease-out;
            }
        }
    }

    &__title,
    &__action {
        display: table-cell;
        padding: 15px;
        vertical-align: middle;

        @media screen and (max-width: @screen-sm) {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
    }

    &__title {
        p {
            margin: 0;
        }

        &--veryimportant {
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__action {
        font-size: 12px;
        min-width: 90px;
        text-align: right;
        text-transform: uppercase;
        width: 13%;

        @media screen and (max-width: @screen-sm) {
            text-align: center;
            width: 100%;
        }

        &--light {
            color: @grey--8;
        }
    }

    &__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-out;

        &--panel {
            padding: 20px;
        }
    }
}
