/*
** Editorial Component Accordion
*/
.accordion {
    .c-accordion {
        margin-bottom: 10px;
    }
}

/*
** Port Component Accordion
*/
.port .c-accordion__body {
    font-size: 13px;
}

/*
** Archive Component Accordion
*/
.archives {
    .c-accordion__title {
        padding: 13px;
    }

    .c-accordion .c-accordion .c-accordion__header {
        padding-left: 0px;
    }
}
/*
** Overview && Execursion && landnhotel Accordin PORT
*/
#Overview,
#excursion,
#landnhotel{
    .c-accordion__header--parent{
        padding: 0;
        .c-accordion{
            &__title{
                @media screen and (max-width: @screen-sm) {
                    width: 41%;
                    text-align: left;
                }
                
                p{
                    @media screen and (max-width: @screen-xs) {
                        line-height: 14px;
                        font-size: 14px;
                    }
                }

                &--thumbnail img {
                    @media screen and (max-width: @screen-sm) {
                        width: 100%;
                    }
                }
            }
            &__action{
                @media screen and (max-width: @screen-sm) {
                    width: 10%;
                    min-width: 10%;
                    vertical-align: middle;
                }
            }
         }
    }
}

/*
** Component Accordion
*/
.c-accordion {
    border-right: solid 1px @grey--e8;
    border-left: solid 1px @grey--e8;

    & & {
        border: 0;

        .c-accordion__header {
            padding-left: 25px;
            @media screen and (max-width: @screen-xs) {
                 padding-left: 0;
            }
        }

        .c-accordion__body--panel {
            padding-left: 40px;
        }
    }

    &--darkbox {
        border-right: 0;
        border-left: 0;

        .c-accordion__header {
            background-color: @white;
            border: solid 1px @grey--e8;
            padding: 0;

            &:hover, &:active, &:focus {
                cursor: pointer;
                background-color: @white;
            }

            &[data-state='true'] {
                background-color: @grey--3;
                color: @white;
                border: 0;
                
                .fa.fa-angle-up{
                	color: @white;
                }
            }
            
        }

        .c-accordion__elem {
            border: 0;

            &:nth-last-child(1) {
                border-bottom: 0;
            }
        }
    }

    &--light {
        border-right: 0;
        border-left: 0;

        .c-accordion__header {
            background-color: @white;
            border-bottom: solid 1px @grey--e8;
            border-right: 0;
            border-left: 0;
            border-top: 0;

            &:hover, &:active, &:focus {
                cursor: pointer;
                background-color: @white;
            }

            &[data-state='true'] {
                background-color: @white;
                border-bottom: solid 1px @grey--e8;
                color: @grey--3;
            }
        }
    }

    &--expander {
        .c-accordion__elem {
            @media screen and (max-width: @screen-sm) {
                display: table;
                width: 100%;
            }
        }

        .c-accordion__header {
            background-color: @white;
            display: table;
            width: 100%;
            padding: 3px;
            position: relative;
            overflow: hidden;
            transition: background-color 0.3s ease;

            @media screen and (max-width: @screen-sm) {
                min-height: 80px;
                display: table;
                width: 100%;
            }

            &[data-state='true'] {
                background-color: @white;

                .c-accordion__title {
                    &--img {
                        width: 44%;

                        @media screen and (max-width: @screen-sm) {
                            width: 135px;
                            height: 80px;
                        }

                        &_block {
                            @media screen and (max-width: @screen-sm) {
                                height: 80px;
                            }

                            div {
                                width: 43.15%;

                                @media screen and (max-width: @screen-sm) {
                                    width: 135px;
                                    height: 80px;
                                    -ms-transition: inherit;
                                    -moz-transition: inherit;
                                    -o-transition: inherit;
                                    -webkit-transition: inherit;
                                    transition: inherit;
                                    -webkit-transform: inherit;
                                    -webkit-backface-visibility: hidden;
                                }
                            }
                        }
                    }

                    &--body {
                        display: table-row;

                        @media screen and (max-width: @screen-sm) {
                            display: none;
                        }
                    }
                }

                .c-accordion__subtitle {
                    &.list {
                        width: 100%;
                    }

                    &.city {
                        display: none;

                        @media screen and (max-width: @screen-sm) {
                            display: block;
                        }
                    }
                }

                & + .c-accordion__body {
                    @media screen and (max-width: @screen-sm) {
                        display: block;
                    }
                }
            }
        }

        .c-accordion__title {
            vertical-align: top;
            padding: 0;

            &--img {
                width: 135px;

                &_block {
                    width: 100%;
                    min-height: 80px;
                    height: 100%;

                    div {
                        width: 135px;
                        -ms-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                        -webkit-transform: translateZ(0) scale(1,1);
                        -webkit-backface-visibility: hidden;
                        position: absolute;
                        height: 100%;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: initial;
                        z-index: 50;

                        @media screen and (max-width: @screen-sm) {
                            -ms-transition: inherit;
                            -moz-transition: inherit;
                            -o-transition: inherit;
                            -webkit-transition: inherit;
                            transition: inherit;
                            -webkit-transform: inherit;
                        }
                    }
                }
            }

            &--body {
                display: none;
                font-size: 13px;

                @media screen and (max-width: @screen-sm) {
                    display: none;
                    position: relative;
                    left: -132px;
                    width: calc(100% + 132px);
                }

                p {
                    margin-top: 10px;
                }
            }

            &--header {
                display: table;
                width: 100%;
                padding: 15px;

                @media screen and (max-width: @screen-sm) {
                    position: inherit;
                    display: table-cell;
                }

                & > .c-accordion__title {
                    padding-bottom: 20px;

                    @media screen and (max-width: @screen-sm) {
                        width: calc(100% - 145px);
                        display: table-row;
                        vertical-align: middle;
                    }

                    .c-accordion__title {
                        width: 100%;
                    }
                }
            }
        }

        .c-accordion__subtitle {
            font-size: 14px;
            line-height: 16px;

            @media screen and (max-width: @screen-sm) {
                font-size: 12px;
                line-height: 14px;
            }

            &.list {
                float:left;
                width: 50%;

                @media screen and (max-width: @screen-sm) {
                    width: 100%;
                }
            }
        }

        .c-accordion__action {
            vertical-align: top;
        }

        .c-accordion__body {
            display: none;

            &--panel {
                padding: 10px;
                font-size: 12px;
            }
        }
    }

    &__elem {
        border-top: solid 1px @grey--e8;

        &:nth-last-child(1) {
            border-bottom: solid 1px @grey--e8;
        }
    }

    &__header {
        display: table;
        width: 100%;
        background-color: @grey--f9;
        padding: 3px;
        table-layout: fixed;

        &:hover, &:active, &:focus {
            cursor: pointer;
            background-color: @grey--e6;
        }

        &--center-xs {
            @media screen and (max-width: @screen-sm) {
                .c-accordion__title {
                    display: inline-block;
                    width: 100%;
                    text-align: center;

                    &.c-accordion__action {
                        padding-top: 0px;
                    }
                }
            }

        }

        &[data-state='true'] {
            & + .c-accordion__body {
                max-height: 999px;
                transition: max-height 2s ease-out;
            }
        }

        &--unclickable {
            -webkit-user-select: initial;
            -khtml-user-select: initial;
            -moz-user-select: -moz-text;
            -ms-user-select: initial;
            cursor: auto;
        }

        &--parent {
             background-color: @white;
             padding: 3px 15px 3px 3px;

             .c-accordion__action {
                vertical-align: top;
             }

             .c-accordion__title {

                 &--thumbnail {
                    padding: 0px;
                 }
              }
        }
    }

    &__title,
    &__info,
    &__action {
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
        @media screen and (max-width: @screen-sm) {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        &.valigntop {
            vertical-align: top;
        }
    }

    &__title {
        p {
            margin: 0;
        }

        &--large {
            padding: 5px;
        }

        &--veryimportant {
            text-transform: uppercase;
            font-weight: 700;
        }

        &--thumbnail {
            width: 120px;

            img {
                width: 120px;
            }
        }

        &.w-title {
            width: 39%;

            @media screen and (max-width: @screen-sm) {
                width: 100%;
            }
        }
        &.w-content {
            width: 25%;
        }
    }

    &__subtitle {
        font-size: 12px;

        &.arrivals {
            font-size: 12px;

            @media screen and (max-width: @screen-sm) {
                display: none;
            }
        }

        &.veryimportant {
            text-transform: uppercase;
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
        }
    }

    &__action {
        min-width: 90px;
        width: 13%;
        font-size: 12px;
        text-align: right;
        text-transform: uppercase;
        @media screen and (max-width: @screen-sm) {
            text-align: center;
            width: 100%;
        }

        &--light {
            color: #828282;
        }

        &.small {
            width: 40px;
            padding: 15px;
        }
    }

    &__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-out;

        &--full {
            padding: 0;
        }

        &--panel {
            padding: 20px;
        }
    }

    &__archivelink {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: right;
        line-height: 28px;
        vertical-align: baseline;
    }
}