/*
* c- BROCHURES
*/
.c-brochure {
    &__title {
        color: @black;
        font-weight: 700;
        margin-bottom: 15px;
        margin-top: 20px;
        padding-bottom: 0;
        font-size: 22px;

        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            text-align : center;
        }

        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            text-align : center;
        }
    }
    &__img {
        display: block;
        margin: 0 auto;
        max-height: 350px;
        max-width: 100%;
        width: auto;
    }
    &__description {
        font-size: 13px;
        @media screen and (max-width: @screen-md-max) {
            margin: 10px auto;
            max-width: 570px;
        }
    }
    &__btnwrapper {
        @media screen and (max-width: @screen-md-max) {
            text-align: center;
        }
    }
    &__btn {
        width: 250px;
        @media screen and (min-width: @screen-md-max) {
            text-align: left;
        }
    }
    
    
    
    &__thankyou{
        text-align: center;
        .table-responsive img {
	        width: 100%;
        }
        
        .btn{
            position: relative;
            min-width: 200px;
            
            @media screen and (max-width: @screen-xs) {
                width: 100%;
            }
            .fa-angle-right{
                position: absolute;
                right: 10px;
                top: 8px;
            }
        }
        
    }
    .table-responsive{
        border: 0px;
    }
}