.brochureteaserlist {
    &__header {
        width: 100%;
        padding: 0 0 30px 0;
        text-align: center;
        display: table;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            display: block;
        }
        &__label {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            font-weight: bold;
            padding: 0 15px 0 0;
            font-size: 14px;
            
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                text-align: center;
                padding-right: 15px;
                padding-bottom: 15px;
            }
        }
        &__select {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            padding-left: 0;
            
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                position: relative;
                display: block;
                text-align: center;
            }
            
            .chosen-container {
            max-width: 240px;
                
                .chosen-single {
                    border-radius: 0 !important;
                }
            }
        }    
    }
}