/*
** C- Button
*/

button:focus {outline:0;}

.c-btn {

    &--close {
        &:before {
            content: "\00D7";
            font-size: 32px;
            font-weight: 200;
            border: solid 1px #000;
            border-radius: 20px;
            width: 22px;
            display: block;
            line-height: 20px;
            height: 22px;
        }
    }
}