/*
** C- Button
*/

button:focus {
    outline:0;
}


.view_all_mobile{
    display: none;
    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        display: block;
    }
}