/*
** c- Call
** Callbox for header
** 3 differents states
**/
.c-call {
    display: table;
    height: @nav-top-height;
    min-width: 100px;
    padding-right: 15px;
    text-align: right;
    float: right;
    color: @white;
    
    &__inner {
        display: table-cell;
        vertical-align: middle;
        
        .c-call__title {
            text-transform: uppercase;
            display: none;
            font-size: 12px;
            
            @media screen and (max-width: @screen-sm) {
                display: block;
            }
            
        }
        .c-call__number {
            float: right;
            font-size: 15px;
            font-weight: @bold;
            display: block;
            
            .c-call__number_icon {
                font-size: 11px;
                
                @media screen and (max-width: @screen-sm) {
                    display: none;
                }
            }
        }
        .c-call__msg {
            clear: both;
            font-size: 9px;
            font-weight: 400;
            line-height: 8px;
            padding-top: 5px;
            display: block;
            
            @media screen and (max-width: @screen-sm) {
                display: none;
            }
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                display: none;
            }
        }
    }
}

/*
** c- Callbox
** Callbox like baner
** 2 differents states
**/
.c-callbox {
    min-width: 200px;
    width: 100%;
    text-align: center;
    color: @grey--2b;
    
    @media screen and (max-width: @screen-sm) {
        margin-bottom: 20px;
    }
    
    &__inner {
        border: solid 1px @grey--d;
        padding: 20px;   
    }
    &__msg {
        display: inline-block;
        max-width: 98%;
        
        &--icon {
            font-size: 20px;
        }
        &--mobile {
            display: none;
            text-transform: uppercase;
            font-weight: 700;
            
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                display: inline-block;
            }
        }
        &--desktop {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            margin: 0;
            font-size: 14px;
            line-height: 14px;
            font-weight: 700;
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                display: none;
            }
        }
    }
    &__number {
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        margin-left: 30px;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            display: block;
            margin: 0;
        }
    }
}

/*
** c- Callbox
** Callbox for simple-footer
** 2 differents states
**/

.c-callbox-footer {
    text-align: center;
    padding: 20px 0 0;
    margin-bottom: 20px;
    border-top: 1px solid @grey--d;
    
    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        padding-top: 0;
        margin-bottom: 10px;
        border-bottom: 1px solid @grey--d;
    }

    &__msg {
        &--mobile {
            display: none;
            
            
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                display: block;
                font-weight: @bold;
                margin-bottom: 0;
                
                a {
                    display: block;
                    padding: 20px 0;
                }
            }
        }
        &--desktop {
            display: block;
            font-weight: @bold;
            font-size: 16px;
            line-height: 30px;
            
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                display: none;
            }
        }
    }
}
