#c-cookie {
    color: @white;

    &[data-show='false'] {
        display: none;
    }
    
     
    	.container {
    		padding-top: 12px;
    		@media screen and (max-width: @screen-md-min) {
    			padding:12px;
    		}
    }

    p {
        display: inline-block;
        max-width: 89%;
        padding-right: 1%;
        vertical-align: middle;
        margin: 0 0 5px;

        @media screen and (max-width: @screen-md-min) {
            max-width: 89%;
        }
    }
    
    &__close {
        background: none;
        display: inline-block;
        border: 0;
        text-transform: uppercase;
    }
}