/*
** C- ECLUSIVE OFFERS
*/

.exclusiveoffer {
    .o-title {
        line-height: 30px;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .o-description {
        font-size: 13px;
        margin-bottom: 24px;
    }
}