.c-find-port{
    .filter-abc{
        td{
            padding: 0px;
            border: 0px;
        }
        a{
            background: #333;
            color: #fff;
            cursor: pointer;
            display: block;
            float: left;
            font: 700 14px 'Open Sans',arial,helvetica,sans-serif;
            margin-bottom: 2px;
            margin-right: 2px;
            padding: 7px 0;
            text-align: center;
            text-transform: uppercase;
            width: 33px;
            &:hover{
                background: @grey--9;
            }
        }
        .letter-active{
            background: @grey--9;
        }
    }
    .filter-port-results{
        .header-h6{
            border-bottom: 1px solid @black;
            margin-bottom: 20px;
            padding-bottom: 5px;
        }
        a{
            &:hover{
                background: @black;
            }
        }
    }
}



.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
div.table .tbody, div.table .thead {
    padding-left: 15px;
    padding-right: 15px;
}
.filter-port-results .thead {
    cursor: default;
}
.filter-port-results div.table .tbody .row {
    padding: 0;
}
div.table .row {
    padding-bottom: 10px;
    padding-top: 10px;
}
div.table .thead .row {
    border-bottom: 1px solid @grey--d9;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
div.table .tbody .row div:last-child {
    color: @grey--9;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
}

div.table .tbody .row a:hover div:first-child{
    color: @white;
}

div.table .tbody .row {
    border-bottom: 1px solid @grey--d9;
}


@media (min-width: @screen-md-min) {
    .summary-header {
        float:left
    }

    .filter-port-results .tbody a {
        display: block;
        min-height: 42px;
        vertical-align: top
    }

    .filter-port-results .tbody a div {
        font-size: 13px;
        line-height: 20px;
        padding: 10px 15px;
    }
}