// HEADER

#additionalFilters {
    position: relative;

    > .filter-action {
        border-bottom: 1px solid @black;
        color: black;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        text-transform: uppercase;
        top: 7px;
        cursor: pointer;

        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            margin: 28px auto 17px;
            max-width: 100%;
            width: 100%;
            border-bottom: 0;
            display: block;
            position: relative;
            top: 0;
            text-align: center;
            text-decoration: underline;
        }
    }

    .header-h3 {
        color: #252525;
        font-size: 22px;
        margin-bottom: 0;
        margin-top: 0;
        font: 20px Theanodidot;
        text-align: center;
        text-transform: uppercase;

        .matching-title {
            display: block;
            text-transform: uppercase;
            color: #252525;
            font-size: 22px;
        }

        .matching-wrapper {

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                display: block;
                padding: 12px 0 21px;
            }

            .matching-cruises-number {
                font-family: Arial;
                font-weight: 700;
                font-size: 100%;
                color: #333;
                display: inline-block;

                #total_cruises {
                     font-family: Theanodidot;
                    font-size: 22px;

                    /* tablet breakpoint */
                    @media screen and (max-width: @screen-md-max) {
                        font-size: 15px;
                    }

                    /* phone breakpoint */
                    @media screen and (max-width: @screen-sm) {
                        font-size: 20px;
                    }
                }
            }

            .hide-on-desctop {
                display: none;
            }

            .matching-text {
                color: #333;
                display: inline-block;
                font-size: 22px;
                font-weight: 300;
                text-transform: uppercase;

                /* tablet breakpoint */
                @media screen and (max-width: @screen-md-max) {
                    font-size: 15px;
                    font-weight: 700;
                }

                /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }

    .filter-flex-title {
        padding: 0 0 18px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
        color: @black;
        font-size: 14px;
        font-weight: 400;

        #clearButton {
            text-transform: initial;
            cursor: pointer;
            margin-top: -5px;
            margin-left: 10px;
            padding: 0 0 19px;

            &.no-selection, &.no-selection .clear-selection {
                color: #ccc;
                pointer-events: none;
                cursor: default;
                text-decoration: none;
            }

            .clear-selection {
                border: 0;
                color: @black;
                position: inherit;
                top: 45px;
                font-size: 13px;
                font-weight: 700;
                line-height: 30px;
                text-decoration: underline;
            }
        }
    }
}

// FILTER

.filter-flex-wrapper {
    height: 34px;

    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        height: auto;
    }

    .filter-flex {
        margin: 0 auto;
        max-width: 960px;
        width: 100%;

        .single-filter {
            width: 13.77%;
            float: left;
            font-family: Lato,sans-serif;
            margin-left: .6%;
            padding: 0;
            position: relative;

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                width: 100%;
                float: none;
                margin: 0 0 10px;
            }

            &:first-child {
                margin-left: 0!important;
            }

            .chosen-container {
                position: relative;
                display: block;
                vertical-align: middle;
                font-size: 13px;
                width: 100% !important;
                background: @white;
                border: none;
                border-radius: 5px;
                zoom: 1;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;

                .chosen-single {
                    height: 34px;
                    line-height: 19px;
                    padding: 3px 12px;
                    z-index: 2;
                    border-color: #ebebeb!important;
                    border-radius: 5px;
                    box-shadow: none;
                    background: #ebebeb!important;

                    span {
                        color: @black;
                        display: block;
                        line-height: 27px;
                        font-weight: 400;
                        vertical-align: middle;
                        text-transform: capitalize;

                        /* tablet breakpoint */
                        @media screen and (max-width: @screen-md-max) {
                            margin-right: 8px;
                        }
                    }

                    div b {
                        &:before {
                            content: "\f107";
                            font-family: FontAwesome;
                            font-size: 13px;
                            position: relative;
                            top: 5px;
                        }
                    }
                }

                .chosen-drop {
                    border-bottom: 1px #444 solid;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-left: 1px solid #444;
                    border-radius: 0;
                    border-right: 1px solid #444;
                    border-top: 0;
                    box-shadow: none;
                    background: #ebebeb;

                    .chosen-search {
                        display: none;

                        input[type="text"] {
                            background: @white;
                            border: 0;
                            border-radius: 5px;
                            padding-left: 25px;
                        }
                    }

                    .chosen-results {
                        border-top: 1px solid #d9d9d9;
                        font-weight: 400;
                        margin: 0 4px 4px 4px;
                        padding: 0;

                        li {
                            font-size: 12px;
                            line-height: 16px;

                            &.result-selected {
                                background: @black !important;
                                color: @white;
                                font-weight: bold;
                            }

                            &.highlighted {
                                background: none #eee;
                                background: @black !important;
                                color: @white;
                            }
                        }
                    }
                }
            }
            .chosen-with-drop.chosen-container-active .chosen-single,
            .filter-flex .open .dropdown-toggle {
                border-left: 1px solid #444!important;
                border-right: 1px solid #444!important;
                border-top: 1px solid #444!important;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .dropdown {
                position: relative;

                .dropdown-toggle {
                    border: 1px solid #ebebeb;
                    height: 34px;
                    background: #ebebeb;
                    border: 1px solid #ebebeb;
                    border-radius: 5px;
                    color: @black;
                    font-size: 13px;
                    text-transform: none;
                    text-align: left;
                    margin: 0;

                    .text-selected {
                        color: @black;
                        display: block;
                        margin: 0;
                        margin-right: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text-transform: capitalize;
                        font-weight: normal;
                    }

                    i {
                        position: absolute;
                        right: 12px;
                        top: 4px;
                        z-index: 100;
                        font-size: 13px;
                        line-height: 22px;
                        margin-left: 0;
                    }
                }

                .dropdown-menu {
                    background: #ebebeb;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-radius: 0;
                    border: 1px solid #d9d9d9;
                    border-top: 0;
                    box-shadow: none;
                    margin-top: -1px;
                    min-width: 1px;
                    padding: 0;
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    display: none;
                    float: left;
                    margin: 0;
                    font-size: 14px;
                    text-align: left;
                    list-style: none;

                    .limited-dropdown {
                        overflow-x: hidden;
                        overflow-y: auto;
                        -webkit-overflow-scrolling: touch;
                        margin-top: -2px;
                        max-height: 245px;
                        font-size: 13px;
                        list-style: inside;

                        li {
                            line-height: 14px;
                            -webkit-touch-callout: none;
                            position: relative;
                            display: table;
                            width: 100%;
                            cursor: default;
                            font-size: 11px;
                            margin-bottom: 0;
                            overflow: hidden;
                            padding: 5px 4px 5px 4px!important;
                            padding-left: 4px;
                            vertical-align: baseline;

                            [type="checkbox"]:not(:checked),
                            [type="checkbox"]:checked {
                                opacity: 0;
                                position: absolute;
                                right: 6px;
                                z-index: 3;
                            }

                            .feature-name {
                                width: 100%;
                                position: relative;
                                cursor: pointer;
                                padding-right: 19px;
                                padding-left: 20px;
                                display: inline-block;
                                font-weight: normal;

                                /* tablet breakpoint */
                                @media screen and (max-width: @screen-md-max) {
                                    padding-right: 13px;
                                }

                                &:before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    right: 0;
                                    width: 17px;
                                    height: 17px;
                                    background-color: @white;
                                    border: 1px solid #666;
                                    z-index: 1;

                                    /* tablet breakpoint */
                                    @media screen and (max-width: @screen-md-max) {
                                        width: 10px;
                                        height: 10px;
                                        border: none;
                                    }
                                }

                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 5px;
                                    right: 5px;
                                    width: 7px;
                                    height: 7px;
                                    background-color: #666;
                                    z-index: 2;

                                    /* tablet breakpoint */
                                    @media screen and (max-width: @screen-md-max) {
                                        width: 6px;
                                        height: 6px;
                                        top: 2px;
                                        right: 2px;
                                    }
                                }

                                i {
                                    width: 16px;
                                    background-position: center 0!important;
                                    background-repeat: no-repeat!important;
                                    background-size: 100%!important;
                                    height: 16px;
                                    margin: 0 4px 0 0;
                                    position: absolute;
                                    left: 0;
                                    top: 3px;
                                    font-size: 12px;
                                }
                            }

                            [type="checkbox"]:not(:checked) + label:after {
                                display: none;
                            }

                            [type="checkbox"]:checked + label:after {
                                display: block;
                            }

                            &:hover {
                                background: @black;

                                label {
                                    color: @white;
                                }
                            }
                        }
                    }
                }

                &.open {

                    .dropdown-toggle {
                        border-left: 1px solid #444;
                        border-right: 1px solid #444;
                        border-top: 1px solid #444;
                        background: none repeat scroll 0 0 #ebebeb;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;

                        i {
                            &:before {
                                content: "\f106";
                            }
                        }
                    }

                    .dropdown-menu {
                        display: block;
                        border-bottom: 1px solid #444;
                        border-left: 1px solid #444;
                        border-right: 1px solid #444;
                    }
                }
            }

            &.ports-filter .chosen-container .chosen-drop .chosen-search {
                display: block;

                &:before {
                    color: #666;
                    content: "\f002";
                    font-family: FontAwesome;
                    left: 10px;
                    position: absolute;
                    top: 7px;
                }
            }
        }
    }
}

.search-header-under {
    margin: 0 0 31px;
    position: relative;

    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        height: auto;
        text-align: center;
    }

    button {
        display: none;

        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            display: block;
            font-weight: 300;
            margin: 22px auto 30px;
            padding: 0 33px 0 18px;
            background-color: @black;
            border: 0;
            border-radius: 5px;
            color: @white;
            font-size: 12px;
            height: 32px;
            width: auto;
            line-height: 19px;
            text-transform: uppercase;
            text-align: left;
            position: relative;

            i {
                font-size: 18px;
                line-height: 24px;
                position: absolute;
                right: 0;
                text-align: center;
                top: 5px;
                width: 41px;
            }
        }

        &:hover {
            background: #999;
        }
    }
}

// RESULT

.voyage-overview {

    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        overflow: hidden;
    }

    .fyc2_result__wrapper {

        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            width: 50%;
           float: left;

            &:nth-child(odd) {
                    padding-right: 8px;
            }
            &:nth-child(even) {
                padding-left: 8px;
            }
        }

        /* phone breakpoint */
        @media screen and (max-width: @screen-xs) {
           width: 100%;

            &:nth-child(odd) {
                    padding-right: 0;
            }
            &:nth-child(even) {
                padding-left: 0;
            }
        }

        .fyc2_result {
            font-weight: 400;
            border-bottom: 1px solid #D3D3D3;
            background: @white;
            cursor: pointer;

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                border: 1px solid #D3D3D3;
                margin: 0 auto 16px auto;
                width: 100%;
                float: left;
                position: relative;
                padding-bottom: 60px;
            }

            &:hover {
                background: #EEE;

                /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    background: @white;
                }

                .fyc2_result__ports_ul {

                    .fyc2__ports_more {
                        background: -moz-linear-gradient(left,rgba(238,238,238,0) 0%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%);
                        background: -webkit-linear-gradient(left,rgba(238,238,238,0) 0%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%);
                        background: linear-gradient(to right,rgba(238,238,238,0) 0%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%);
                    }
                }

                .fyc2_result__inner {

                    .fyc2_result__image {

                        &_img a {
                            background: rgba(0,0,0,.5);
                        }
                    }
                }
            }

            &.fyc2_result-expedition .fyc2_result__inner .fyc2_result__content .fyc2_result__content_inner .fyc2_result__content_content .fyc2_result__meta {

                /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    border-bottom: 1px solid #d60524;
                }

                &_type {
                    color: #d60524;
                    &:after {
                        color: @black;
                    }
                }
            }

            &__inner {
                position: relative;
                display: table;
                width: 100%;
                padding: 10px 0;

                /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    width: 100%;
                    float: left;
                    display: block;
                    padding: 0;
                    position: static;
                }

                .fyc2_result__image {
                    max-width: 245px;
                    min-width: 245px;
                    width: 245px;
                    display: table-cell;
                    vertical-align: top;
                    overflow: hidden;
                    background-image: url(/wp-content/themes/silversea/images/loader-3.gif);
                    background-repeat: no-repeat;
                    background-position: center;

                    /* phone breakpoint */
                    @media screen and (max-width: @screen-sm) {
                        width: 100%;
                        min-width: 100%;
                        max-width: 100%;
                        display: block;
                        position: relative;
                    }

                    &_img {
                        max-width: 245px;
                        width: 100%;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 10px;
                        bottom: 10px;
                        left: 0;
                        z-index: 1;

                        /* phone breakpoint */
                        @media screen and (max-width: @screen-sm) {
                            position: static;
                            max-width: 100%;
                            padding-top: 50%;
                        }

                        a {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            background: rgba(0,0,0,0);
                            transition: all .3s ease-in-out;
                            -webkit-transition: all .3s ease-in-out;
                            -o-transition: all .3s ease-in-out;
                            -ms-transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;

                            /* phone breakpoint */
                            @media screen and (max-width: @screen-sm) {
                                background: rgba(0,0,0,0);
                            }
                        }
                    }
                }

                .fyc2_result__content {
                    display: table-cell;
                    vertical-align: top;
                    width: 100%;
                    padding: 5px 5px 5px 10px;

                    /* phone breakpoint */
                    @media screen and (max-width: @screen-sm) {
                        width: 100%;
                        float: left;
                        display: block;
                        padding: 10px;
                    }

                    &_inner {
                        display: table;
                        width: 100%;

                        /* phone breakpoint */
                        @media screen and (max-width: @screen-sm) {
                            display: block;
                            float: left;
                        }
                    }

                    &_content {
                        display: table-cell;
                        vertical-align: top;
                        width: 100%;
                        padding-right: 10px;

                        /* phone breakpoint */
                        @media screen and (max-width: @screen-sm) {
                            width: 100%;
                            float: left;
                            display: block;
                            padding: 0;
                        }

                        .fyc2_result__title {
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: uppercase;
                            margin: 0 0 5px;

                            /* phone breakpoint */
                            @media screen and (max-width: @screen-sm) {
                                min-height: 38px;
                            }

                            /* phone breakpoint */
                            @media screen and (max-width: @screen-xs) {
                                min-height: auto;
                            }

                            span {
                                font-weight: 400;
                                text-transform: lowercase;
                                font-style: italic;
                            }
                        }

                        .fyc2_result__meta {

                            /* phone breakpoint */
                            @media screen and (max-width: @screen-sm) {
                                border-bottom: 1px solid #72BEB4;

                                &_dest {
                                    display: block;
                                    &:after {
                                        display: none;
                                    }
                                }
                            }

                            > span {

                                /* phone breakpoint */
                                @media screen and (max-width: @screen-sm) {
                                    margin-bottom: 5px;
                                }

                                &.fyc2_result__meta_dest {

                                    /* phone breakpoint */
                                    @media screen and (max-width: @screen-sm) {
                                        display: block;
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }

                                &:after {
                                    content: '|';
                                    display: inline-block;
                                    margin: 0 3px;
                                }

                                &:last-child {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }

                        .fyc2_result__daysdate {
                            margin-bottom: 15px;
                            margin-top: 5px;

                            h3 {
                                font-size: 12px;
                                font-weight: 700;
                                text-transform: uppercase;
                                width: 40%;
                                padding: 3px;
                                border: 1px solid #e5e5e5;
                                background-color: #f9f9f9;
                            }
                        }

                        .fyc2_result__daysdateship {
                            display: none;
                            width: 100%;
                            float: left;
                            margin: 15px 0;

                            /* phone breakpoint */
                            @media screen and (max-width: @screen-sm) {
                                display: block;
                            }

                            &_inner {
                                display: block;
                                width: 100%;
                                float: left;
                                border: 1px solid #D3D3D3;

                                .fyc2_result__daysdateship_col {
                                    display: block;
                                    width: 33.3%;
                                    height: 69px;
                                    float: left;
                                    vertical-align: middle;
                                    padding: 10px 5px;
                                    text-align: center;
                                    line-height: 1;
                                    border-right: 1px solid #D3D3D3;

                                    &:last-child {
                                        border-right: none;
                                    }

                                    .fyc2_result__daysdateship_line1 {
                                        color: @grey;
                                        font-size: 11px;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        margin-bottom: 5px;

                                        /* phone breakpoint */
                                        @media screen and (max-width: @screen-sm) {
                                            min-height: 10px;
                                        }
                                    }

                                    .fyc2_result__daysdateship_line2 {
                                        font-size: 16px;
                                        font-weight: 700;
                                        text-transform: uppercase;

                                        /* phone breakpoint */
                                        @media screen and (max-width: @screen-sm) {
                                            font-size: 13px;
                                        }
                                    }

                                    .fyc2_result__daysdateship_line3 {
                                        text-transform: uppercase;
                                        font-size: 12px;
                                        margin-top: 5px;
                                    }
                                }
                            }
                        }

                        .fyc2_result__ports {

                            h4 {
                                font-size: 12px;
                                font-weight: 700;
                                text-transform: uppercase;
                                margin: 0 0 5px;
                            }

                            &_ul {
                                margin: 0 !important;
                                padding: 0 !important;
                                list-style: none;
                                line-height: 1.3;
                                position: relative;
                                width: 97%;

                                .fyc2__ports_more {
                                    display: none;
                                    position: absolute;
                                    bottom: -1px;
                                    right: 0;
                                    padding: 0 0 0 50px;
                                    background: @white;
                                    font-weight: 400;
                                    text-transform: none;
                                    background: -moz-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
                                    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
                                    background: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);

                                    span {
                                        &:first-child {
                                            margin-right: 5px;
                                        }
                                        &:last-child {
                                            text-decoration: underline;
                                            cursor: pointer;
                                        }
                                    }
                                }

                                li {
                                    font-size: 12px;
                                    display: inline;
                                    margin: 0 !important;

                                    &:after {
                                        display: inline;
                                        content: "\f105";
                                        font: normal 11px 'FontAwesome';
                                        margin-left: 4px;
                                        margin-right: 2px;
                                        line-height: inherit;
                                    }

                                    &:nth-last-child(2) {

                                        &:after {
                                            display: none;
                                        }
                                    }

                                    &:last-child {

                                        &:after {
                                            display: none;
                                        }
                                    }
                                }

                                &.closed {
                                    height: 35px;
                                    overflow: hidden;

                                    .fyc2__ports_more {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    .fyc2_result__content_actions {
                        display: table-cell;
                        vertical-align: middle;
                        min-width: 165px;
                        max-width: 165px;
                        width: 165px;
                        position: relative;
                        padding-bottom: 36px;
                        white-space: nowrap;

                        /* phone breakpoint */
                        @media screen and (max-width: @screen-sm) {
                            display: block;
                            min-width: 100%;
                            max-width: 100%;
                            width: 100%;
                            float: left;
                            position: inherit;
                            padding-bottom: 0;
                        }

                        .fyc2_result__actions {

                            &_price {
                                padding-top: 18px;
                                padding-bottom: 15px;
                                min-height: 82px;

                                .fyc2_result__price {
                                    text-transform: uppercase;
                                    text-align: center;

                                    &_line1 {
                                        font-size: 10px;
                                        font-weight: 400;
                                        line-height: 1;
                                    }

                                    &_line2 {
                                        font-size: 18px;
                                        font-weight: 700;

                                        span {
                                            font-size: 11px;
                                            font-weight: 400;
                                        }
                                    }

                                    &_line3 {
                                        font-size: 10px;
                                        font-weight: 400;
                                        line-height: 1.2;
                                    }
                                }
                            }

                            .fyc2_result__actions_cta {
                                position: absolute;
                                bottom: 8px;
                                left: 0;
                                right: 0;
                                width: 100%;
                                text-align: center;

                                /* phone breakpoint */
                                @media screen and (max-width: @screen-sm) {
                                    max-width: 180px;
                                    margin: 0 auto;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 15px;
                                }

                                .btn {
                                    font-size: 10px;
                                    padding: 6px 24px 4px 8px;
                                    min-height: 26px;
                                    margin-bottom: 10px;

                                    &.btn_base-white {
                                        border: 1px solid @black;
                                        background: @white;
                                        color: @black;

                                        &:hover {
                                            background: #eaeaea;
                                        }
                                    }

                                    &.voyage-details {
                                        display: none;
                                    }

                                    span {
                                        right: 0;
                                        top: -1px;
                                    }

                                    &:hover {
                                        background: #920016;
                                    }

                                    &:last-child {
                                        margin-bottom: 0;

                                        /* phone breakpoint */
                                        @media screen and (max-width: @screen-sm) {
                                            margin-bottom: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ICONS FEATURES

.meta_feature {
    position: relative;
    display: inline-block;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &_inner {
        vertical-align: middle;
        font-size: 12px;
        display: inline-block;
        margin: 0 3px 0 0;

        .feature {
            background-size: 100%;
            float: left;
            margin-right: 7px;
            width: 12px;
            height: 12px;
            position: relative;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            .tooltip {
                display: none;
                position: absolute;
                bottom: 20px;
                left: -20px;
                z-index: 5;
                background: @white;
                border-radius: 4px;
                border:1px solid @black;
                width: 160px;
                text-align: center;
                padding: 5px 20px;
            }

            &:hover .tooltip {
                display: block;

                i {
                    &:before {
                        content: "";
                        display: block;
                        color: @black;
                        font-family: inherit;
                        font-size: 13px;
                        line-height: 15px;
                        font-style: normal;
                    }
                }

                &:after, &:before {
                    top: 100%;
                    left: 24px;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-top-color: #ffffff;
                    border-width: 6px;
                    margin-left: -6px;
                }
                &:before {
                    border-color: rgba(0, 0, 0, 0);
                    border-top-color: #000000;
                    border-width: 7px;
                    margin-left: -7px;
                }
            }

            &:hover.feature-eo .tooltip i:before { content: "Exclusive Offer"; }
            &:hover.feature-gh .tooltip i:before { content: "Gentlemen Host"; }
            &:hover.feature-ecgc .tooltip i:before { content: "L'Ecole des Chefs / Gourmet Cruises"; }
            &:hover.feature-bs .tooltip i:before { content: "Bridge Sailings"; }
            &:hover.feature-wsv .tooltip i:before { content: "Wine series Voyage"; }
            &:hover.feature-vs .tooltip i:before { content: "Venetian Society"; }
        }
    }
}

// END RESULT

.fyc2_fares {
    font-size: 12px;
    font-style: italic;
    color: #646464;
    margin-top: 12px;

    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        margin-top: 0;
    }
}

// PAGINATION

#pagination {
    margin-bottom: 50px;

    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        line-height: 47px;
    }

    .pagination {
        margin: 35px 0 65px;
        font-size: 13px;
        text-align: center;
        width: 100%;

        /* tablet breakpoint */
        @media screen and (max-width: @screen-md-max) {
            margin: 35px 0 0;
        }

        li {
            display: inline;

            &:nth-child(2) a {

                /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }

            &.active a {
                z-index: 2;
                cursor: default;
                color: @white;
                background-color: @black;
                border-color: @black;
            }

            a {
                border-bottom: 4px solid @black;
                font-size: 16px;
                font-weight: 700;
                line-height: .8;
                margin: 0 0 0 -4px;
                padding: 10px 6px;

                &:hover {
                    color: @white;
                    background-color: @black;
                    border-bottom: 4px solid #ddd;
                }
            }
            &:first-child a, &:first-child a:hover {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-child a, &:last-child a:hover {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}

.feature-wrapper {
    text-align: center;
    clear: both;

    span {
        display: inline-block;
        margin: 0 0 10px 10px;

        i {
            margin-right: 6px;
        }
    }
}

