.c-find-port {
    &__title {
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 5px;
        text-transform: uppercase;

        .c-find-port__result & {
            border-bottom: 1px solid @black;
            margin-bottom: 20px;
        }
    }

    &__filter {
        a {
            background: @grey--3;
            color: @white;
            display: block;
            float: left;
            font-weight: 700;
            margin: 0 0 2px 2px;
            padding: 6px 0;
            text-align: center;
            text-transform: uppercase;
            width: 33px;

            &:hover,
            &.active {
                background: @grey--9;
            }
        }
    }

    &__result {
        margin-top: 20px;

        &__link {
            border-bottom: 1px solid @grey--d9;
            display: block;
            padding: 5px 0;

            &:hover {
                background: @grey--3;
                color: @white;
            }
        }

        &__city,
        &__destination {
            display: block;
        }

        &__destination,
        &__header {
            color: @grey--9;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    @media screen and (min-width: @screen-md-min) {
        &__result {
            &__link,
            &__header {
                border-bottom: 1px solid @grey--d9;
                display: block;
                padding: 10px 0;
            }

            &__header {
                color: @black;
            }

            &__city {
                font-size: 13px;
            }

            &__destination,
            &__header {
                font-size: 12px;
            }
        }
    }
}
