.c-fyc {
    &__result {
        cursor: pointer;
        float: left;
        margin-bottom: 16px;
        width: 50%;

        &:nth-child(odd) {
            clear: both;
            padding-right: 8px;
        }

        &:nth-child(even) {
            padding-left: 8px;
        }

        &__wrapper {
            border: 1px solid @grey--d3;
        }

        &__image {
            background-color: @black;

            img {
                transition: opacity .3s ease-in-out;
                width: 100%;
            }
        }

        &:hover {
            .c-fyc__result__image {
                img {
                    opacity: .5;
                }
            }
        }

        &__content {
            padding: 10px 10px 20px;

            &__title {
                font-size: 18px;
                font-weight: 700;
                margin: 0 0 5px;
                text-transform: uppercase;
            }
        }
    }
}