/*
* c- FLOATING BAR
*/
.c-floatingbar {
    background-color: rgba(0,0,0,.75);
    bottom: 0;
    padding: 9px 0 4px;
    position: fixed;
    width: 100%;
    z-index: 9;

    .runmode-author & {
        position: static;
    }
    .btn{
        padding:6px 25px 6px  25px;
    }
}