/*
* c- FLOATING BAR
*/
.c-floatingbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0,0,0,.75);

    .c-btn__inner {
        display: inline-block;
        margin: 10px 3px;
    
        .c-btn {
            padding: 6px 25px;
            
            &--desktop {
            display: inline;
            
            /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    display: none;
                }
            }
        }
    }
}