.c-form {
    font-size: 12px;

    .checkbox > label {
        padding-left: 0;

        .icheckbox_minimal {
            margin-right: 5px;
        }
    }

    .chosen-single {
        color: @grey--7;
    }

    .chosen-drop {
        border-color: @grey--8;
    }

    .form-group-lg {
         input:not([type="checkbox"]) {
            font-size: 14px;
            height: 42px;

            @media screen and (max-width: @screen-sm) {
                font-size: 16px;
            }
        }

        .chosen-search  input {
            height: inherit;
        }
    }

    .chosen-container-single .chosen-search input[type="text"] {
        border: 0;

        @media screen and (max-width: @screen-sm) {
            font-size: 16px;
        }
    }

    .form-group {
        .feedback-error {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAllBMVEX////64OT52+D63uL++fr99ff99Pb++/z++vv53OH63+PpfY3umKXncILbJUDfPlbztr/peovXEC7WCCffPVbxqbTul6TgQ1vbKEPxqrTgQlr0u8TXDCreNlDmZnnfPFXzucLxrrjbKUTXDSvXES/xrLbfO1TXDizeOlPlYXXkX3PeN1HmZ3rcKkXxq7XfP1fzuMHpfI3jUAoRAAAAC3RSTlMAAAAAAAAAAAAAAJEYpv8AAACaSURBVAjXXY/JcoJQAATbJXGFJ7QgRIyJ4pKoqP//cx6wPDi3qamZroHOZEqr6aQD3SgOMwBmIY66JKnOMyCba5qQL9Si7JWF+pXDMlS6+l5ptf4B+r8b3dZbLXZ9gI9yf1APx+yz5Qz+arX+H7b2LX/vL0Olp/PpuZ8v1EvTay4tP0k1NEATNE0YRfH1BsDtGkcjGN9f/+5jHot9Dxi6P6RYAAAAAElFTkSuQmCC');
            height: 15px;
            right: -25px;
            top: 15px;
            width: 15px;
        }

        .feedback-success {
            background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAA/FBMVEX///91oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj51oj4dGXx7AAAAU3RSTlMADz0Bdtc6AjTb928GDcK4IJn97Udqbu+kGcv8/tMTBPQ7Yi75oQ7FzheD8EU+839BIwrUuSnrHQnS51dt+kxgRIIssurlEPbjN2vRoBa1kTJ4jwCFDCIAAADmSURBVCjPddJZO4JRFMXxpZAU6ZjiPQm9Zpl6FakMmcn0//7fxZ3nqN2+XL9n7aslGTeWkn1pjU9MmpLRVJbpXN7qzMwCFOaGRUVwzC8YDxfBwZIhqWUclAxZWSXylNeGpVLEedY3jNImeMgZUo3xsGXI9g4edvcM2gc4ODSkdgRwHEYnp5KkszpAEsp5XK9JUgmg0Qzk4hJaV1K7A9ANpJlAROf6JgueWyn9R3e9GCLuH8CRPAYiqf0EEeB4fvkvUrcFHo9/HRSp+gYe3q099D+Act7cSuWTxteIhen7Z5Qo0x9MfgHXXCy02lvH1QAAAABJRU5ErkJggg==');
            height: 26px;
            right: -35px;
            top: 10px;
            width: 26px;
        }
    }

    .intl-tel-input {
        display: block;
    }

    .countrycode {
        position: relative;

        .flag-container {
            cursor: pointer;
        }

        .form-group {
            z-index: 2;
        }

        .chosen-container {
            display: none;
            position: static;
            z-index: 1;

            &.chosen-with-drop {
                display: inline-block;
            }
        }

        .chosen-single {
            display: none;
        }

        .chosen-drop {
            top: 39px;
        }

        .intl-tel-input .selected-flag {
            width: 100px;

            &:after {
                color: @grey--8;
                content: "\f0d7";
                font-family: FontAwesome;
                font-size: 18px;
                font-weight: 400;
                position: relative;
                right: 10px;
                top: 8px;
            }
        }

        #InputTelephoneNumber {
            padding-left: 110px;
        }
    }

    .with-errors {
        font-size: 13px;
        pointer-events: none;
    }

    .has-feedback {
        .form-control {
            padding: 10px 20px;
        }
    }

    .has-error ~ .chosen-container {
        .chosen-drop {
            border-color: @red;
        }
    }

    .has-success ~ .chosen-container {
        .chosen-drop {
            border-color: #3c763d;
        }
    }

    .has-error {
        .chosen-container {
            .chosen-single, .chosen-drop {
                border-color: @red;
            }

            .chosen-single span{
                color: @red;
            }
        }

        .form-control {
            &::-webkit-input-placeholder {
                color: @red;
            }

            &::-moz-placeholder {
                color: @red;
            }

            &:-ms-input-placeholder {
                color: @red;
            }

            &:-moz-placeholder {
                color: @red;
            }
        }
    }

    .has-success {
        .chosen-container {
            .chosen-single, .chosen-drop {
                border-color: #3c763d;
            }
        }
    }

    @media screen and (min-width: @screen-md-min) {
        .with-errors {
            position: absolute;
            top: 7px;
            right: 10px;
        }

        .input--title .with-errors {
            right: 30px;
        }

        .countrycode .with-errors {
            top: 0px;
            left: -10px;
        }
    }

    .countrycode {
        .with-errors {
            position: relative;

            .list-unstyled {
                padding-left: 120px;
            }
        }
    }

    .input--title {
        .chosen-single {
            padding: 10px 40px 10px 20px;
        }
    }
}

.form-control {
    border-color: @grey--8;

    &::-webkit-input-placeholder {
        color: @grey--7;
        font-size: 13px;
    }

    &::-moz-placeholder {
        color: @grey--7;
        font-size: 13px;
    }

    &:-ms-input-placeholder {
        color: @grey--7;
        font-size: 13px;
    }

    &:-moz-placeholder {
        color: @grey--7;
        font-size: 13px;
    }
}

input::-ms-clear {display: none; width:0; height:0;}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}