/*
* c- FOOTER
*/
.c-footer {
    margin-top: 220px;
    
    &__section {
        padding: 20px 0px;
        border-bottom: solid 1px @grey--d;
    }
    &__request {
        .c-list__group {
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                display: block;
            }
        }
        .c-btn {
            float: right;
            line-height: 16px;
            font-size: 11px;
            padding: 8px 20px;
            display: block;
            outline: 0;
            white-space: nowrap;
            vertical-align: middle;
            width: 90%;
            margin-bottom: 5px;
            
            .fa-angle-right {
                margin-left: 5px;
            }
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                float: none;
                margin: 0 auto 5px auto;
                width: 60%;
            }
        }
    }
}

/*
* c- SUBSCRIBE
*/
.c-subscribe {
    
    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        border: 0;
    }
    
    &__form {
        padding: 20px;
        border: solid 1px @grey--d;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            margin-top: 30px;
        }

        
        &--label {
            font-family: @f-playfair;
            text-transform: uppercase;
            display: block;
            
            &-text {
                display: block;
                width: 100%;
                font-weight: 500;
                font-size: 15px;
            }
            &-important {
                display: block;
                width: 100%;
                font-weight: 400;
                font-size: 26px;
            }
        }
        
        &--inputs {
            width: 100%;
            padding-right: 120px;
            position: relative;
            
            .c-input {
                width: 99%;
            }
            .c-btn {
                width: 112px;
                position: absolute;
                right: 0;
                top: 0;
                max-width: 130px;
                min-width: 100px;
                margin-left: 20px;
                padding: 2px;
                height: 100%;
            }
        }
    }
}

/*
* c- LIST
*/
.c-list {
    font-size: 12px;
    width: 100%;
    
    &__title {
        font-weight: 700;
        color: @grey--2b;
        text-transform: uppercase;
        margin-bottom: 30px;
        display: block;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            position: relative;
            padding: 20px 30px;
            cursor: pointer;
            margin-bottom: 0px;
            
            &:before {
                content: '\f107';
                font-size: 20px;
                font-family: 'FontAwesome';
                display: block;
                position: absolute;
                top: 47%;
                right: 30px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
    &__group {
        display: block;
        
        &--important {
            text-transform: uppercase;
        }
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            display: none;
            padding: 20px 30px;
        }
    }
    &__item {
        line-height: 20px;
        
        
        &--special {
            margin-top: 30px
        }
    }
    &__accordion {
        float: left;
        width: 33%;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            width: 100%;
            margin: 0px;
            border: 1px solid @grey--d;
            border-bottom: none;
            
            &:nth-last-child(1) {
                border-bottom: 1px solid @grey--d;
            }
        }
    }
}
/*
* c- LIST
*/
.c-list-inline {
    font-size: 12px;
    width: 100%;
    
    &__title {
        color: @grey--2b;
        display: inline-block;
        width: auto;
        vertical-align: middle;
        
        
        &--important {
            text-transform: uppercase;
            font-weight: 700;
        }
        &--limitsize {
            width: 50%;
        }
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            width: 100%;
            text-align: center;
        }
    }
    &__group {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            width: 100%;
            text-align: center;
        }
        
        &--important {
            text-transform: uppercase;
        }
        
        /* phone breakpoint */
//        @media screen and (max-width: @screen-sm) {
//            display: none;
//            padding: 20px 30px;
//        }
    }
    &__item {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        line-height: 20px;
        
        
        &--special {
            margin-top: 30px
        }
    }
}

/*
* c- AWARDS
*/
.c-awards {
    
}
/*
* c- ACCORDION
*/
/*.c-accordion {
    &__title {
        position: relative;
        padding: 20px 30px;
        cursor: pointer;
        margin-bottom: 0px;

        &:before {
            content: '\f107';
            font-size: 20px;
            font-family: 'FontAwesome';
            display: block;
            position: absolute;
            top: 47%;
            right: 30px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    &__content {
        
    }
}*/