/*
** c- Header
**/
.c-header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px rgba(255,255,255,.3);
    top: 0;
    z-index: 1000;

    &__container {
        background-color: @black;
        z-index: 1000;
    }
    &__inner {
        height: 60px;
        display: table-cell;
        vertical-align: middle;
    }
    &__logo {
        max-width: 202px;
        width: 100%;
    }
}