/*
** c- Header
**/
.c-header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px rgba(255,255,255,.3);
    top: 0;
    z-index: 1000;

    &__container {
        background-color: @black;
        z-index: 1000;
    }
    &_logo {
        height: 60px;
    }
    .container {
//        /* phone breakpoint */
//        @media screen and (max-width: @screen-sm) {
//            width: 100%;
//            margin: 0px;
//            padding: 0px;
//        }
//        /* tablet breakpoint */
//        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
//            width: 100%;
//            margin: 0px;
//            padding: 0px;
//        }
    }
}

/*
** c- Language selector
*/
/*.c-lang {
    position: relative;
    &_current {
        cursor: pointer;
        
        &:hover {
            & + .c-lang_list {
                max-height: 250px;
            }
        }
    }
    &_list {
        background-color: @black;
        line-height: 30px;
        margin-left: -10px;
        padding: 10px;
        position: absolute;
        
        max-height: 0px;
        overflow: hidden;
        -webkit-transition: max-height 1s;
        -moz-transition: max-height 1s;
        -ms-transition: max-height 1s;
        -o-transition: max-height 1s;
        transition: max-height 1s;
        
        .c-lang_item {
            text-align: center;
        }
    }
    &_label {
    }
}*/