

/*
* c- LIST
*/
.c-list {
    font-size: 12px;
    width: 100%;
    float: left;
    
    &--center {
        text-align: center;
    }
    &--tablet-inline {

        /* phone breakpoint */
        @media screen and (max-width: @screen-md-min) {

            .c-list__item--separated {
                padding: 0px;
            }
            .c-list__item--separated:before {
                display: none;
            }

        }
        /* phone breakpoint */
        @media screen and (min-width: @screen-md-min) {
            .c-list__group {
                display: table;
                width: 100%;
                margin-top: 10px;

            }
            .c-list__item {
                display: table-cell;
            }
        }
    }

    &__title {
        font-weight: 700;
        color: @grey--2b;
        text-transform: uppercase;
        margin-bottom: 30px;
        display: block;
    }
    &__group {

        &--hide-sm {
            display: block;
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                display: none;
                padding: 20px 30px;
            }
        }
        &--important {
            text-transform: uppercase;
        }
    }
    &__item {
        line-height: 14px;
        margin-bottom: 6px;

        &--right {
            float:right;
        }
        &--right {
            float: right;
        }
        &--special {
            margin-top: 30px
        }
        &--normal {
            text-transform: none;
            margin-top: 10px;
        }
        &--important {
            font-weight: 700;
        }

        &--separated {
            position: relative;
            padding: 0 10px;

            &:before {
                background: #e6e7e8;
                content: "";
                height: 90%;
                left: 0;
                position: absolute;
                top: 5%;
                width: 1px;
            }

            &-dark {
                &:before {
                    background: @black;
                }
            }
        }
    }
    &__accordion {
        float: left;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            width: 100%;
            margin: 0px;
            border: 1px solid @grey--d;
            border-bottom: none;
        }
        
        &--content {
            
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                padding: 0 30px;
                display: none;
            }
        }
        &--full {
            
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                border: 1px solid @grey--d;
                
            }
        }
        
        .c-list__title {
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                position: relative;
                padding: 20px 30px;
                cursor: pointer;
                margin-bottom: 0px;

                &:before {
                    content: '\f107';
                    font-size: 20px;
                    font-family: 'FontAwesome';
                    display: block;
                    position: absolute;
                    top: 47%;
                    right: 30px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }
}