/*
* c- LIST INLINE
*/
.c-list-inline {
    font-size: 12px;
    &--center {
        text-align: center;
    }
    &__title {
        color: @grey--2b;
        display: inline-block;
        vertical-align: middle;
        width: auto;

        &--important {
            font-weight: 700;
            text-transform: uppercase;
        }

        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            text-align: center;
            width: 100%;
        }
    }
    &__group {
        width: 100%;
        vertical-align: middle;

        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            text-align: center;
            width: 100%;
        }
        &--important {
            text-transform: uppercase;
        }
        &--social {
            @media screen and (min-width: @screen-sm) {
                text-align: right;
            }
        }
        &--award {
            width: auto;
        }
    }
    &__item {
        display: inline-block;
        line-height: 20px;

        &--special {
            margin-top: 30px
        }
        &--normal {
            text-transform: none;
        }
        &--bigger {
            text-transform: uppercase;
        }
        &--important {
            font-weight: 700;
        }
        &--supper {
            font-weight: 700;
            text-transform: uppercase;
        }
        &--separated {
            position: relative;

            &:before {
                background: #e6e7e8;
                content: "";
                height: 50%;
                left: 0;
                position: absolute;
                top: 25%;
                width: 1px;
            }
        }
        &--social {
            .fa {
                font-size: 20px;
                width: 40px;
            }
        }
    }
}
