.c-list {
    font-size: 12px;

    &__title {
        font-weight: 700;
        color: @grey--2b;
        text-transform: uppercase;
        margin-bottom: 30px;
        display: block;
    }

    &__item {
        line-height: 14px;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        &--special {
            margin-top: 30px
        }
    }

    @media screen and (max-width: @screen-sm) {
        &__accordion {
            border: 1px solid @grey--d;
            border-bottom: none;

            &--content {
                display: none;
                padding: 0 30px 10px;
            }

            &--full {
                border: 1px solid @grey--d;
            }

            .c-list__title {
                cursor: pointer;
                margin-bottom: 0;
                padding: 20px 30px;
                position: relative;

                &:before {
                    content: '\f107';
                    display: block;
                    font-size: 20px;
                    font-family: 'FontAwesome';
                    position: absolute;
                    right: 30px;
                    top: 47%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }
}
