.c-main-nav-wrapper {
    position: static;
}
.c-main-nav {
    float: right;
    overflow: hidden;

    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        float: inherit;
        position: absolute;
        top: 61px;
        left: 0px;
        width: 100%;
        max-height: 0px;
        transition: max-height .3s ease-in-out;

        &--open {
            max-height: 1000px;
        }
    }
    /* tablet breakpoint */
    @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        float: inherit;
        position: absolute;
        top: 61px;
        left: 0px;
        width: 100%;
        max-height: 0px;
        transition: max-height .3s ease-in-out;

        &--open {
            max-height: 600px;
        }
    }

    /*
    ** Element
    */
    &__container {
        width: 100%;
        max-width: 930px;
        margin: 0 auto;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            max-width: 100%;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            max-width: 100%;
        }
    }
    &__backdrop {
        display: none;
        position: fixed;
        background: @black;
        opacity: 0.5;
        height: 100%;
        max-height: 0px;
        width: 100%;
        z-index: 999;
        transition: max-height .3s ease-in-out;
        -webkit-transition: max-height .3s ease-in-out;
        
        &--is-active {
            max-height: 100%;
        }
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            display: block;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            display: block;
        }
    }
    &__top {
        position: relative;
        height: 60px;
        padding: 0;
        z-index: 1000;

        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            margin: 0;
            height: auto;
            width: 100%;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin: 0;
            /*padding: 0;*/
            height: auto;
            width: 100%;
        }
        &--list {
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                display: table;
                width: 100%
            }
        }
        &--item {
            float: left;
            cursor: pointer;
            list-style: none;
            position: relative;
            font-size: 11px;
            text-transform: uppercase;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 22px;
                height: 14px;
                width: 1px;
                background: @grey;
            }

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                float: none;
                background: @grey--d;
                border-bottom: solid 1px @white;

                &:before {
                    display: none;
                }
                &:hover, &:focus, &:active {
                    background: @grey--d3;
                }
            }
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                float: left;
                display: block;
                width: 50%;
                background: @grey--d;
                border-bottom: solid 1px @white;

                &:hover, &:focus, &:active {
                    background: @grey--d3;
                }
                &:before {
                    display: none;
                }
                border-right: solid 1px @white;
            }
            
            &--small-md {
                /* tablet breakpoint */
                @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    width: 25%;
                    border-right: solid 1px #fff;
                }
            }
        }
        &--link {
            display: table;
            height: 60px;
            color: @grey--ba;
            width: 100%;
            padding: 0 10px;
            text-decoration: none;

            &:hover, &:focus, &:active {
                color: @grey--c;
            }
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                color: @grey--8;
                font-size: 12px;
                font-weight: 600;
                &:hover, &:focus, &:active {
                    color: @grey--8;
                }
            }
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                color: @grey--8;
                font-size: 12px;
                font-weight: 600;
                &:hover, &:focus, &:active {
                    color: @grey--8;
                }
            }

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    &__bottom {
        position: absolute;
        width: 100%;
        left: 0;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
        background: @white;
        transform: translate(0px,60px);
        transition: transform .3s ease-in-out;
        -webkit-transition: transform .3s ease-in-out;
        z-index: -1000;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            position: relative;
            /*float: left;*/
            transform: translate(0px,0px);
            box-shadow: inherit;
            z-index: 1001;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            position: relative;
            /*float: left;*/
            transform: translate(0px,0px);
            box-shadow: inherit;
            z-index: 1000;
        }

        &--hide {
            transform: translate(0px,-120px);

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                transform: translate(0px,0px);
            }
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
               transform: translate(0px,0px);
            }
        }
        &--list {
            display: table;
            width: 100%;
        }
        &--item {
            display: table-cell;
            cursor: pointer;
            list-style: none;
            background: @white;
            position: relative;
            text-align: center;
            text-transform: uppercase;

            &:hover, &:focus, &:active {
                background: #e6e7e8;
                
                &:before {
                    display: none;
                }
                
                .c-main-nav__subnav {
                    display: block;
                }
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 18px;
                height: 10px;
                width: 1px;
                background: #e5e5e5;
            }
            &:nth-child(1):before {
                display: none;
            }

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                border-bottom: solid 1px @grey--d;
                float: none;
                display: block;
                font-size: 12px;
                text-align: left;
                
                &:hover, &:focus, &:active {
                    background: #eee;

                    .c-main-nav__subnav {
                        display: none;
                    }
                }
                
                &:before {
                    display: none;
                }
            }
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                background: @white;
                float: left;
                width: 50%;
                font-size: 12px;
                text-align: left;

                &:before {
                    display: none;
                }
                
                &:hover, &:focus, &:active {
                    background: #eee;

                    .c-main-nav__subnav {
                        display: none;
                    }
                }
            }
        }
        &--link {
            display: table;
            height: 46px;
            color: @black;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            width: 100%;
            padding: 0 10px;
            text-decoration: none;

            &:hover, &:focus, &:active {
                color: @black;
                text-decoration: none;
            }
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                color: @grey--8;
                
                &:hover, &:focus, &:active {
                    color: @grey--8;
                    text-decoration: none;
                }
            }
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                color: @grey--8;
                
                &:hover, &:focus, &:active {
                    color: @grey--8;
                    text-decoration: none;
                }
            }

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    &__subnav {
        background: #e6e7e8;
        background-image: -webkit-linear-gradient(90deg,#fff 0%,rgba(255,255,255,0) 100%);
        display: none;
        height: auto;
        overflow: hidden;
        padding: 25px 0 10px 0;
        position: absolute;
        z-index: -1;
        border: 1px solid #e5e5e5;
        box-shadow: 0 8px 43px 0 rgba(51,51,51,.42);
        
        &--col {
            float: left;
            padding: 0;
            margin: 0;
            width: 100%;
            list-style: none;
            width: 100%;
            
            &:nth-child(1) {
                border-right: 1px solid #e6e7e8;;
            }
            &1 {
                width: 225px;
            }
            &2 {
                width: 450px;
                .c-main-nav__subnav--col {
                    width: 50%;
                }
            }
        }
        &--list {
            width: 100%;
            list-style: none;
        }
        &--item {
            width: 100%;
            line-height: 10px;
        }
        &--link {
            padding: 8px 20px;
            font-size: 10px;
            line-height: 14px;
            color: @black;
            display: block;
            text-align: left;
            
            &:hover, &:focus, &:active {
                color: @white;
                text-decoration: none;
                background-color: @black;
            }
        }
        &--right {
            right: 0;
        }
    }
    /*
    ** State ajustement
    */
    &--body-fixed {
        position: fixed;
        width: 100%;
    }
    &--nav-expanded {
        top:0;
        height: 100%;
        overflow-y: auto;
    }
    &--hide-sm {
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
           display: none;
        }
    }
    &--hide-md {
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
           display: none;
        }
    }
    &--hide-lg {
        /* desktop breakpoint */
        @media screen and (min-width: @screen-md-max) {
           display: none;
        }
    }
}