@keyframes fadeInFromNone {
    0.001% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: .7;
    }
}

@keyframes fadeOutToNone {
    0.001% {
        display: block;
        opacity: 0.7;
    }

    99.999% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.c-main-nav-wrapper {
    position: static;
    padding: 0;
}

.c-main-nav {
    float: right;
    overflow: hidden;

    @media screen and (max-width: @screen-md-max) {
        display: none;
        float: none;
        left: 0;
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 2;
    }

    &__container {
        width: 100%;
        max-width: 930px;
        margin: 0 auto;

        @media screen and (max-width: @screen-md-max) {
            max-width: 100%;
        }
    }

    &__backdrop {
        animation: fadeOutToNone 0.5s;
        z-index: -1;

        &--is-active {
            animation: fadeInFromNone 0.5s forwards;
            background: @black;
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 60px;
            width: 100%;
            z-index: 1;
        }

        @media screen (max-width: @screen-md-max) {
            display: block;
        }
    }

    &__top {
        position: relative;
        height: 60px;
        padding: 0;
        z-index: 1000;

        @media screen and (max-width: @screen-md-max) {
            margin: 0;
            height: auto;
            width: 100%;
            background-color: @grey--d;
        }

        @media screen and (max-width: @screen-sm) {
            background-color: none;
        }

        &--list {
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                display: table;
                width: 100%
            }
        }

        &--item {
            float: left;
            cursor: pointer;
            list-style: none;
            position: relative;
            font-size: 11px;
            text-transform: uppercase;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 22px;
                height: 14px;
                width: 1px;
                background-color: @grey;
            }

            @media screen and (max-width: @screen-md-max) {
                float: left;
                display: block;
                width: 50%;
                background: @grey--d;
                border-bottom: solid 1px @white;
                border-right: solid 1px @white;

                &:hover, &:focus, &:active {
                    background: @grey--d3;
                }

                &:before {
                    display: none;
                }

                &--small-md {
                    width: 50%;
                    border-right: solid 1px @white;
                }
            }

            @media screen and (max-width: @screen-sm) {
                width: 100%;
                border-right: 0;

                &--small-md {
                    width: 100%;
                    border-right: 0;
                }
            }
        }

        &--link {
            display: table;
            height: 60px;
            color: @grey--ba;
            width: 100%;
            padding: 0 10px;
            text-decoration: none;

            &:hover, &:focus, &:active {
                color: @grey--c;
            }

            @media screen and (max-width: @screen-md-max) {
                color: @grey--8;
                font-size: 12px;
                font-weight: 600;

                &:hover, &:focus, &:active {
                    color: @grey--8;
                }
            }

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    &__bottom {
        position: absolute;
        width: 100%;
        left: 0;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
        background: @white;
        transform: translate(0,60px);
        transition: transform .3s ease-in-out;
        -webkit-transition: transform .3s ease-in-out;
        z-index: -1000;

        @media screen and (max-width: @screen-md-max) {
            position: relative;
            transform: translate(0,0);
            box-shadow: inherit;
            z-index: 1000;
        }

        &--list {
            display: table;
            width: 100%;
        }

        &--item {
            display: table-cell;
            cursor: pointer;
            list-style: none;
            background: @white;
            position: relative;
            text-align: center;
            text-transform: uppercase;

            &:hover, &:focus, &:active {
                background: @grey--e6;

                &:before {
                    display: none;
                }

                .c-main-nav__subnav {
                    display: block;
                }
            }

            @media screen and (min-width: @screen-md-min) {
                &--ontrail {
                    background: @grey--e6;
    
                    &:before {
                        display: none;
                    }
                }
            }

            &:before {
                background: #e5e5e5;
                content: "";
                height: 20px;
                left: -1px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
            }

            &:nth-child(1):before {
                display: none;
            }

            @media screen and (max-width: @screen-md-max) {
                border-right: 1px solid @grey--d;
                border-bottom: 1px solid @grey--d;
                background: @white;
                float: left;
                width: 50%;
                font-size: 12px;
                text-align: left;

                &:before {
                    display: none;
                }

                &:hover, &:focus, &:active {
                    background: @grey--e;

                    .c-main-nav__subnav {
                        display: none;
                    }
                }
            }

            @media screen and (max-width: @screen-sm) {
                border-right: 0;
                width: 100%;
            }
        }

        &--link {
            color: @black;
            display: table;
            height: 60px;
            font-size: 12px;
            font-weight: 600;
            padding: 0 10px;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;

            &:hover, &:focus, &:active {
                color: @black;
                text-decoration: none;
            }

            @media screen and (max-width: @screen-md-max) {
                color: @grey--8;

                &:hover, &:focus, &:active {
                    color: @grey--8;
                    text-decoration: none;
                }
            }

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    &__subnav {
        background-color: @grey--e6;
        background-image: -webkit-linear-gradient(90deg,@white 0%,rgba(255,255,255,0) 100%);
        display: none;
        height: auto;
        overflow: hidden;
        padding: 25px 0 10px 0;
        position: absolute;
        z-index: -1;
        border: 1px solid @grey--e6;
        box-shadow: 0 8px 43px 0 rgba(51,51,51,.42);

        &--col {
            float: left;
            padding: 0;
            margin: 0;
            width: 100%;
            list-style: none;
            width: 100%;

            &:nth-child(1) {
                border-right: 1px solid @grey--e6;
            }

            &1 {
                width: 225px;
            }

            &2 {
                width: 450px;
                .c-main-nav__subnav--col {
                    width: 50%;
                }
            }
        }

        &--list {
            width: 100%;
            list-style: none;
        }

        &--item {
            width: 100%;
            line-height: 10px;
        }

        &--link {
            padding: 8px 20px;
            font-size: 10px;
            line-height: 14px;
            color: @black;
            display: block;
            text-align: left;

            &:hover, &:focus, &:active {
                color: @white;
                text-decoration: none;
                background-color: @black;
            }
        }

        &--right {
            right: 0;
        }
    }

    /*
    ** State ajustement
    */
    &--body-fixed {
        position: fixed;
        width: 100%;
    }

    &--nav-expanded {
        top:0;
        height: 100%;
        overflow-y: auto;
    }
}