.modal {
	.modal-header {
		&__virtual-tour {
			padding: 0px ! important;
		}
	}

	&__virtual-tour {
		&-container {
			height: 750px;
			@media screen and (max-width: 767px) {
				height: 435px;
			}
		}
	}

	&-virtual-tour {
		&:before {
			bottom: 55%;
			content: "360\00b0";
			font-family: serif;
			display: block;
			height: 27px;
			position: absolute;
			right: 31%;
			transition: opacity .8s ease;
			width: 100px;
			z-index: 5;
			color: #e8e8e8;
			font-size: 48px;
			transform: translate(0%,100%);
			-webkit-transform: translate(0%,100%);
			@media screen and (max-width: 767px) {
				right: 40%;
				top: 38%;
				    transform: translate(0,50%);
				    -webkit-transform: translate(0,50%);
			}

			@media screen and (max-width: 375px) {
				right: 34%;
			}
		}

		&:after {
			position: absolute;
			width: 90.5%;
			height: 90%;
			content: " ";
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 2;
			top: 21px;
			//transform: translateX(0%);
			transform: translate(0%,8%);
			-webkit-transform: translate(0%,8%);
		}
	}

	&-content__virtual-tour {
		top: 6% ! important;
	}
}


@media screen and (max-width: 880px) {
  .modal-virtual-tour:after {
    width: 90% !important;
    margin-left: 0px !important;
    height: 91%;
  }
}

@media screen and (max-width: 768px) {
  .modal-virtual-tour:after {
    width: 89% !important;
    margin-left: 0px !important;
    height: 91%;
  }
}
@media screen and (max-width: 767px) {
  .modal-virtual-tour:after {
    top: 20px;
    width: 94% !important;
  }
}


@media screen and (max-width: 375px) {
  .modal-virtual-tour:after {
    width: 91.6% !important;
    margin-left: 0 !important;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .modal-virtual-tour:after {
    width: 92.5% !important;
    margin-left: 0px !important;
  }
}

	@media screen and (max-width: 766px) {
	  .modal-virtual-tour:after {
	    width: 96% !important;
	  }
	}
	
	
	
	@media screen and (max-width: 688px) {
	  .modal-virtual-tour:after {
	    width: 95% !important;
	  }
	}
	
	
	@media screen and (max-width: 500px) {
	  .modal-virtual-tour:after {
	    width: 94% !important;
	  }
	}
	
	@media screen and (max-width: 414px) {
	  .modal-virtual-tour:after {
	    width: 93% !important;
	  }
	}
	
	@media screen and (max-width: 390px) {
	  .modal-virtual-tour:after {
	    width: 92% !important;
	  }
	}
	
	@media screen and (max-width: 320px) {
	  .modal-virtual-tour:after {
	    width: 90% !important;
	  }
	}
	
	
	@media screen and (max-width: 321px) {
		.modal-virtual-tour::before {
	  	  right: 30%;
		}
	}


