.c-mozaic {
    padding: 40px 0;
    position: relative;

    &:before {
        .full-width();
        background-color: @grey--f5;
        bottom: 0;
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
    }

    .btn-wrapper {
        color: @white;
        font-size: 12px;
        margin-top: 40px;
        position: relative;
        text-align: center;
    }

    &__slider {
        &:not(.slick-initialized ) {
            display: none;
        }

        &__slide {
            &--text {
                padding: 0 5px;
                text-align: center;

                .c-mozaicslider {
                    &__title {
                        font-family: @f-theano_didot;
                    }

                    &__descr {
                        font-size: 13px;
                        margin-bottom: 20px;
                        padding: 0 15px;
                    }

                    &__link {
                        color: @white;
                        font-size: 12px;
                        padding-bottom: 7px;
                        padding-top: 6px;
                    }
                }
            }

            .c-tabbedmozaic__description {
                background-color: @white;
                padding: 25px 20px 20px;

                .discover-more {
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }

        .slick-dots {
            bottom: -25px;

            li:not(.slick-active) button:before {
                background-color: @grey--ba;
            }
        }
    }

    @media screen and (min-width: @screen-lg-min) {
        &__slider {
            &__slide {
                position: relative;

                &:before {
                    content: ' ';
                    display: block;
                    height: 0;
                    padding-bottom: 66.66%;
                    top: 0;
                    width: 100%;
                }

                .c-tabbedmozaic {
                    bottom: 5px;
                    left: 5px;
                    position: absolute;
                    right: 5px;
                    top: 0;

                    .c-tabbedmozaic__image-wrapper {
                        overflow: hidden;
                    }
                }

                &--text {
                    left: 50%;
                    position: absolute;
                    top: 40px;
                    transform: translateX(-50%);
                    z-index: 1;

                    .c-tabbedmozaic {
                        background-color: @white;
                        border: 1px solid @grey--c;
                        bottom: 0;
                    }

                    .c-mozaicslider {
                        &__descr {
                            margin-bottom: 27px;
                        }
                    }
                }
            }

            .slick-dots {
                bottom: -15px;
            }
        }
    }

    .c-btn--slider {
        &--prev, &--next {
            color: @white;
            padding: 5px 12px;

            i {
                margin: 0;
            }
        }

        &--prev {
            border-radius: 0 5px 5px 0;
            float: left;
        }

        &--next {
            border-radius: 5px 0 0 5px;
            float: right;
        }
    }
}