/*
** c- Pagination
*/
.c-pagination {
    text-align: right;

    &--separated {
        border-bottom: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9;
    }
    a {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        line-height: 50px;
        position: relative;
        text-transform: uppercase;
    }

    &--previous {

        i {
            margin-right: 5x;
        }
    }
    &--next {
        margin-left: 40px;

        i {
            margin-left: 5px;
        }
    }
}