/*
** c- Pagination
*/
.c-pagination-number {

    @media screen and (max-width: @screen-md-min) {
        text-align: center;
    }

    a {
        font-size: 14px;
        padding: 0 5px;
        display: inline-block;

        &:hover {
            background-color: @grey--eb;
        }

        &.active {
            background-color: @black;
            color: @white;
            font-weight: bold;
        }
        &.c-pagination-number__prev {
            color: #d6d5d5;
            &:hover {
                background-color: inherit;
            }
        }
        &.c-pagination-number__next {
        }
        @media screen and (max-width: @screen-md-min) {

            text-align: center;
            background-image: linear-gradient(#fff,#f2f2f2);
            border: 1px solid #e6e6e6;
            flex-grow: 1;
            line-height: 40px;
            padding: 0 20px;
            display: inline-block;
            width: 49%;

            &:first-child {
                margin-right: 1%;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}