.c-pageheader {
    display: table;
    width: 100%;
    margin: 30px 0px;

    &__title {
        display: table-cell;
        vertical-align: middle;
        padding-right: 15px;
    }

    &__links {
        display: table-cell;
        vertical-align: middle;

        .c-list-inline__item {
            padding: 0 10px;
            font-size: 12px;
        }
    }
}