.c-poi {
    overflow: hidden;
    margin: 0 !important;

    &__image {
        width: 33%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;

        @media screen and (max-width: @screen-sm) {
            float: none;
            width: auto;
            height: auto;
        }
    }

    &__content {
        width: 67%;
        padding: 20px 60px 20px 30px;
        font-size: 16px;
        white-space: normal;
        float: right;

        @media screen and (max-width: @screen-sm) {
            float: none;
            width: auto;
            padding: 20px;
        }

        h4 {
            font-weight: 700;
            text-transform: uppercase;
        }

        h4,
        p {
            margin: 0;
            text-align: left;
            font-size: 13px;
            font-family: @f-sans_serif;
        }
    }
}
