.c-quote-request-form {
    margin: 0 auto;
    max-width: 750px;

    &__side {
        
    }

    &__form {
        .intl-tel-input {
            display: block;
        }

        .countrycode {
            .chosen-single {
                display: none;
            }
        }
    }

    .textarea_autogrow {
        margin-bottom: 10px;
        position: relative;

        &__field {
            font-size: 14px;
            height: 100%!important;
            left: 0;
            position: absolute;
            resize: none;
            top: 0;
            white-space: normal;
        }

        &__size {
            box-sizing: border-box;
            min-height: 76px;
            overflow: hidden;
            padding: 10px 20px;
            width: 100%;
            visibility: hidden;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    }
}