.c-hero-banner__search {
    margin: 0 auto;

    .c-hero-banner__image {
        height: 450px;

        @media screen and (max-width: @screen-sm) {
            height: 195px;
            background-position: center 0;
        }
    }

    @media screen and (min-width: @screen-sm) {
        .c-hero-banner__content:not(.c-hero-banner__content--white) {
            color: @black;
        }
    }
}

.c-search-hero {
    margin: 0 auto;
    max-width: 930px;
    padding: 17px 0;
    position: relative;

    &:before {
        background-color: @grey--d;
        content: ' ';
        display: block;
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 100vw;
    }

    &__form {
        .col-sm-3 {
            @media screen and (max-width: @screen-sm) {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }

            @media screen and (min-width: @screen-md-min) {
                margin-bottom: 0;

                &:not(:first-child) {
                    padding-left: 5px;
                }

                &:not(:last-child) {
                    padding-right: 5px;
                }
            }
        }

        .chosen-container {
            width: 100% !important;

            &.chosen-with-drop {
                .chosen-single {
                    border-color: @black;
                }
            }

            .chosen-single {
                background: @white;
                border: 1px solid @white;
                box-shadow: none;
                color: @grey;
                height: 40px;
                padding: 12px 40px 12px 12px;
                width: 100%;

                @media screen and (max-width: @screen-sm) {
                    height: 34px;
                    padding: 8px 12px 0;
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: initial;
                    margin: 0;

                    @media screen and (max-width: @screen-sm) {
                        font-weight: 400;
                        font-size: 13px;
                    }
                }

                div b {
                    &:before {
                        color: @grey--3;
                        content: "\f107";
                        font-family: FontAwesome;
                        font-size: 18px;
                        font-weight: 400;
                        position: relative;
                        right: 10px;
                        top: 8px;

                        @media screen and (max-width: @screen-sm) {
                            top: 5px;
                        }
                    }
                }
            }

            .chosen-drop {
                border-radius: 0 0 5px 5px;
                border-color: @black;
                box-shadow: none;

                .chosen-results {
                    margin: 5px 4px 4px 0;
                    max-height: 270px;

                    li {
                        font-size: 13px;
                        line-height: 24px;
                        margin: 0 15px 0 4px;

                        &.highlighted, &.result-selected {
                            background: @black;
                            color: @white;
                        }

                        &.result-selected {
                            font-weight: @bold;
                        }
                    }
                }
            }
        }

        .btn {
            display: inline-block;
            height: 40px;
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            margin-bottom: 0;

            @media screen and (max-width: @screen-sm) {
                height: 34px;
                font-size: 12px;
            }

            i {
                position: absolute;
                right: 18px;
                top: 50%;
                font-size: 18px;
                font-weight: 400;
                margin-top: -9px;
            }
        }
    }
}

.chosen-container .chosen-single div b {
    background: 0;
}