/*
* c- BLOG POST TEASER
*/

/*RIGHT SIDEBAR - BLOGPOST TEMPLATE*****************/

.c-sidebar  {
    
    div {
        .parbase {
            margin: 20px 0;
            
            &:first-child {
                margin: 0 0 20px;
                
                .o-section, .o-section--small {
                    padding-top: 0;
                }
            }
        }
    }
    
    
    
    .c-blogpostteaser {
        &__img {
            width: 100%;
            a {
                img {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        &__descr {
            width: 100%;
            
            .info {
                bottom: 35px;
                margin-right: 15px;
                padding: 0 5px;
                background-image: -webkit-linear-gradient(rgba(0,0,0,0) 29%,rgba(0,0,0,.38) 55%,rgba(0,0,0,.65) 73%);
                background-image: linear-gradient(rgba(0,0,0,0) 29%,rgba(0,0,0,.38) 55%,rgba(0,0,0,.65) 73%);
                background-repeat: no-repeat;
                color: #fff;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
                max-width: 100%;
                position: absolute;
                font-size: 15px;
                
                /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    font-size: 20px;                    
                }
            
                .date {
                    margin: 0;
                }
                
                h4 {
                    font-size: 15px;
                    
                    /* phone breakpoint */
                    @media screen and (max-width: @screen-sm) {
                        font-size: 20px;                    
                    }

                }
            }
        }
        .read-more {
            border-bottom: 1px solid #e6e6e6;
            width: 100%;
        
            i {
                display: none;
            }
        }
    }
    
    
    .archives{
        .c-accordion__body{
            .c-accordion__title p strong{
                display: inline-table;
                text-align: right;
                width: 80%;
            }
        }
        
    }
}