.c-signupforoffer {
    .form-control-feedback {
        font: normal normal normal 14px/1 FontAwesome;

        &.success {
            &:before {
                content: "\f00c";
                line-height: 37px;
            }
        }
        &.error {
            &:before {
                content: "\f00d";
                line-height: 37px;
            }
        }
    }
}