.c-office {
    min-height: 260px;
    text-align: center;

    @media screen and (max-width: @screen-sm) {
        min-height: auto;
        text-align: left;
    }

    &__title {
        margin-bottom: 20px;
        padding: 0 20px;
    }

    &__address {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 20px;
        white-space: pre;
    }

    &__contact {
        margin-bottom: 40px;

        &__phone, &__fax {
            margin: 0;
        }

        &__phone span, &__fax span {
            font-weight: @bold;
            text-transform: uppercase;
        }
    }
}