/*
* c- SUBSCRIBE
*/
.c-subscribe {

    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        border: 0;
    }

    &__form {
        padding: 20px 20px 0 20px;
        border: solid 1px @grey--d;

        &:first-child {
            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                margin-bottom: 30px;
            }
        }

        &--label {
            font-family: @f-theano_didot;
            text-transform: uppercase;
            display: block;

            &-text {
                display: block;
                width: 100%;
                font-weight: 500;
                font-size: 15px;
            }
            &-important {
                display: block;
                width: 100%;
                font-weight: 400;
                font-size: 26px;
            }
        }

        &--inputs {
            width: 100%;
            position: relative;

            .c-btn {
                width: 112px;
                position: absolute;
                right: 0;
                top: 0;
                max-width: 130px;
                min-width: 100px;
                margin-left: 20px;
                padding: 2px;
                height: 100%;
            }
        }

        &--error {
            min-height: 30px;
            margin: 0;
            padding: 0;
            font-size: 11px;
        }

        & .has-error.has-danger .o-input {
            color: @red;
            border: solid 1px @red;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
               color: @red;
             }
             &::-moz-placeholder { /* Firefox 19+ */
               color: @red;
             }
             &:-ms-input-placeholder { /* IE 10+ */
               color: @red;
             }
             &:-moz-placeholder { /* Firefox 18- */
               color: @red;
             }

        }
    }
}