.c-tab {


    &__nav {
        display: table;
        width: 100%;
        margin-bottom: 30px;

        &--regular4 {

            .c-tab__link {
                width: 25%;
            }
        }
        &--regular5 {

            .c-tab__link {
                width: 20%;
                max-width: 190px;
            }
        }
    }
    &__link {
        display: inline-block;
        text-align: center;
        border-bottom: solid 1px @grey--9;
        padding-top: 15px;

        a {
            display: block;
            background-color: @grey--e6;
            padding: 15px;
            border-right: solid 1px @white;

            &:hover {
                background-color: @grey--e;
            }
        }

        &[data-state='active'] {
            background-color: @white;
            border: 1px solid @grey--9;
            border-bottom: 0;
            font-weight: 700;
            vertical-align: bottom;
            padding-top: 0;

            a {
                background-color: @white;
                padding: 22px 0;
            }
        }
    }
    &__body {
    }
    &__content {
        display: none;

        &[data-state='active'] {
            display: block;
        }
    }
}