.c-tab {


    &__nav {
        display: table;
        width: 100%;

        &--regular4 {

            .c-tab__link {
                width: 25%;
            }
        }
        &--regular5 {

            .c-tab__link {
                width: 20%;
                max-width: 190px;
            }
        }
    }
    &__link {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        background-color: @grey--e6;
        border-bottom: solid 1px @grey--9;

        a {
            display: block;
            padding: 10px;
            border-right: solid 1px @white;
        }

        &:hover {
            background-color: @grey--e;
        }

        &[data-state='active'] {
            background-color: @white;
            border: 1px solid @grey--9;
            border-bottom: 0;
            font-weight: 700;
        }
    }
    &__body {
    }
    &__content {
        display: none;

        &[data-state='active'] {
            display: block;
        }
    }
}