.c-variationassetdisplay {
    @media screen and (max-width: @screen-sm) {
        picture {
            text-align: center;
        }

        .o-img {
            width: auto;
        }
    }
    &--label_asset{
        text-transform: uppercase;
        font-size: 14px;
    }
}