.c-vertical-teaser {
    position: relative;

    @media screen and (max-width: @screen-sm) {
    	margin-bottom: 20px;
    }
    
    &__image-wrapper {
        position: relative;
    }

    picture {
        background-color: @black;
    }

    .o-img {
        -moz-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        width: 100%;
    }

    .thumbnail &__caption {
        height: 230px;
        padding: 20px 20px 40px;

        @media screen and (max-width: @screen-sm) {
            height: auto;
        }
    }

    &__title {
        font-family: @f-theano_didot;
        font-size: 20px;
        margin: 0 0 10px 0;
        text-transform: uppercase;
    }

    &__description {
        font-size: 13px;
        margin: 0;
    }

    &__link {
        bottom: 9px;
        position: absolute;

        &--block {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &__label {
        font-size: 11px;
        font-weight: 600;
        padding-right: 8px;
        text-transform: uppercase;
    }

    &--style1 & {
        @media screen and (max-width: @screen-sm) {
            &__title {
                font-size: 26px;
                line-height: 1;
                padding: 17px 0 10px;
            }
        }
    }

    &--style2 & {
        &__caption {
            height: 90px;
        }

        &__title {
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 20px;
            height: 76px;
            left: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 80%;

            @media screen and (max-width: @screen-sm) {
                font-size: 18px;
            }

            span {
                left: 0;
                padding: 5px 20px;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 100%;
            }
        }
    }

    &--manual {
        margin-bottom: 20px;

        .c-vertical-teaser__caption {
            padding: 20px 20px 40px;
            height: 290px;

            @media screen and (max-width: @screen-sm) {
                height: auto;
            }

            .c-vertical-teaser {
                &__title {
                    margin-bottom: 15px;
                }

                &__link__label {
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }

        &:hover {
            .o-img {
                opacity: 1;
            }
        }
    }

	/*obaccomodation*/
    &-oba {
        &__image-wrapper {
                float: left;
    			width: 50%;
            	@media screen and (max-width: @screen-sm) {
                width: 100%;
                height: auto;
    			vertical-align: middle;
            	}

    	}

        &__title_sm {
            	display: none;
             	@media screen and (max-width: @screen-sm) {
                    display: block;
                    text-align: center;
                	font: 400 20px arial,helvetica,sans-serif;
            		font-weight: bold;
                	text-transform: uppercase;
                    }

        }

        &__title {
            @media screen and (max-width: @screen-sm) {
                    display: none;
                    }
            font: 400 30px arial,helvetica,sans-serif;
            font-weight: bold;
            text-transform: uppercase;
        }

        &__caption{
			/*minimum height here is author driven via dialog and is handled using media query on the main component page.*/
			text-align:left;
            height:auto;
			padding: 0px 0px 40px;
            @media screen and (max-width: @screen-sm) {
            	text-align:justify;
                padding: 20px 10px 40px;
           }
        }

         &__content {
                    float: left;

                    width: 50%;
                    position: relative;
                    min-height: 1px;
                    padding-left: 15px;
                    padding-right: 15px;
                    @media screen and (max-width: @screen-sm) {
                    width: 100%;
                    text-align: justify;
        			}
                     p {
                        text-align: justify;
                       }


    	}
}
    /*obaccomodation*/
}
