.c-video {
    overflow: hidden;

    #s7video_div.s7videoviewer{
         width:100%; 
         height:auto;
    }

    .s7videoviewer.s7mouseinput .s7videoplayer .s7iconeffect[state="play"] {
        background: none;

        &:before {
            
        }

        &:after {
            
        }
    }
}