/*
** c- Header
**/
.c-header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px rgba(255,255,255,.3);

    &__container {
        background-color: @black;
        z-index: 100;
    }
    &_logo {

    }
    .container {
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
    }
}

.c-main-navigation {
    float: right;
    overflow: hidden;
    
    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        float: inherit;
        position: absolute;
        top: 61px;
        left: 0px;
        width: 100%;
        max-height: 0px;
        transition: max-height .3s ease-in-out;

        &--open {
            max-height: 600px;
        }
    }
    /* tablet breakpoint */
    @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        float: inherit;
        position: absolute;
        top: 61px;
        left: 0px;
        width: 100%;
        max-height: 0px;
        transition: max-height .3s ease-in-out;

        &--open {
            max-height: 600px;
        }
    }
    
    &__backdrop {
        display: none;
        position: fixed;
        background: @black;
        opacity: 0.5;
        height: 100%;
        max-height: 0px;
        width: 100%;
        z-index: -99;
        transition: max-height .3s ease-in-out;
        -webkit-transition: max-height .3s ease-in-out;
        
        &--is-active {
            max-height: 100%;
        }
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            display: block;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            display: block;
        }
    }
    &__top {
        position: relative;
        height: 60px;
        margin: 0 10px;
        padding: 0;

        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            margin: 0;
            height: auto;
            width: 100%;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin: 0;
            padding: 0;
            height: auto;
            display: block;
            float: left;
            width: 100%;
        }

        li {
            float: left;
            cursor: pointer;
            list-style: none;
            position: relative;
            font-size: 11px;
            text-transform: uppercase;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 25px;
                height: 10px;
                width: 1px;
                background: @grey;
            }

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                float: none;
                display: block;
                border-bottom: solid 1px @grey--d;
                background: @white;

                &:before {
                    display: none;
                }
                &:hover, &:focus, &:active {
                    background: @grey--e;
                }
            }
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                float: left;
                width: 50%;
                border-bottom: solid 1px @grey--d;
                background: @white;

                &:hover, &:focus, &:active {
                    background: @grey--e;
                }
                &:before {
                    display: none;
                }
                &:nth-child(odd) {
                    border-right: solid 1px @grey--d;
                }
            }

            a {
                display: table;
                height: 60px;
                color: @grey--ba;
                width: 100%;
                padding: 0 10px;
                text-decoration: none;

                &:hover, &:focus, &:active {
                    color: @grey--c;
                }
                /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    color: @grey--8;
                    font-size: 12px;
                    font-weight: 600;
                    &:hover, &:focus, &:active {
                        color: @grey--8;
                    }
                }
                /* tablet breakpoint */
                @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    color: @grey--8;
                    font-size: 12px;
                    font-weight: 600;
                    &:hover, &:focus, &:active {
                        color: @grey--8;
                    }
                }

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    &__bottom {
        position: absolute;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
        background: @white;
        transform: translate(0px,0px);
        transition: transform .3s ease-in-out;
        -webkit-transition: transform .3s ease-in-out;
        z-index: -500;
        
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            position: relative;
            float: left;
            top: auto;
            box-shadow: inherit;
            z-index: 100;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            position: relative;
            float: left;
            top: auto;
            box-shadow: inherit;
            z-index: 100;
        }


        &--hide {
            transform: translate(0px,-120px);

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                transform: translate(0px,0px);
            }
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
               transform: translate(0px,0px);
            }
        }
        li {
            float: left;
            cursor: pointer;
            list-style: none;
            background: @white;
            position: relative;

            &:hover {
                background: #d3d3d3;
            }
            &:before {
                content: "";
                position: absolute;
                right: 0;
                top: 25px;
                height: 10px;
                width: 1px;
                background: @grey;
            }

            /* phone breakpoint */
            @media screen and (max-width: @screen-sm) {
                background: @grey--d;
                float: none;
                display: block;
                border-bottom: solid 1px @white;
                text-transform: uppercase;
                font-size: 12px;

                &:before {
                    display: none;
                }
            }
            /* tablet breakpoint */
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                background: @grey--d;
                float: left;
                width: 50%;
                border-right: solid 1px @white;
                text-transform: uppercase;
                font-size: 12px;

                &:before {
                    display: none;
                }
            }
            a {
                display: table;
                height: 60px;
                color: @black;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                width: 100%;
                padding: 0 10px;
                text-decoration: none;

                /* phone breakpoint */
                @media screen and (max-width: @screen-sm) {
                    color: @grey--8;
                }
                /* tablet breakpoint */
                @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    color: @grey--8;
                }
                
                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}

.c-quote-request {
    text-transform: uppercase;
    display: table;
    float: right;
    padding: 10px;
    height: @nav-top-height;
    border-left: 0px;
    font-weight: @bold;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 25px;
        height: 10px;
        width: 1px;
        background: @grey-l;
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            display: none;
        }
        /* tablet breakpoint */
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            display: none;
        }
    }

    &-link {
        display: table-cell;
        color: @white;
        vertical-align: middle;

        &:hover, &:focus, &:active {
            color: @grey-l;
        }
    }
    /* phone breakpoint */
    @media screen and (max-width: @screen-sm) {
        display: none;
        border-left: solid 1px @grey;
    }
    /* phone breakpoint */
    @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        border-left: solid 1px @grey;
    }
    /* desktop breakpoint */
    @media screen and (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
        border-left: 0px;
    }
}

.c-nav-burger {
    background: @black;
    color: @white;
    height: @nav-top-height;
    display: inline-block;
    max-width: 120px;
    float: right;
    border-left: solid 1px @grey;
    display: none;

    &-title {
        /* phone breakpoint */
        @media screen and (max-width: @screen-sm) {
            display: none;
        }
    }

    .c-btn {
        padding-left: 5px;
        border-radius: 0;
        background-color: @black;
        color: @white;
        width: 100%;
        height: 100%;

        &:focus {
            outline: 0;
        }
    }

    &.is-active {
        .c-btn {
            background: @white;
            color: @grey-l;
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                color: @black;
            }
        }
        .fa-bars {
            display:none;
        }
        .fa-close {
            display:inherit;
        }
    }
    .fa-close {
        display: none;
    }

    @media screen and (max-width: @screen-sm) {
        display: block;
    }
    @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        display: block;
    }
}

/*.c-burger-menu {
    position: relative;
    width: 17px;
    height: 18px;
    cursor: pointer;

    .c-burger {
      position: absolute;
      background: @white;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0px;
      margin-top: -1px;
      opacity: 1;
        &::before {
          position: absolute;
          background: @white;
          width: 17px;
          height: 2px;
          top: 6px;
          content: "";
          display: block;
        }
        &::after {
          position: absolute;
          background: @white;
          width: 17px;
          height: 2px;
          bottom: 6px;
          content: "";
          display: block;
        }
        &::after, &::before, & {
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
        }
    }

    &.is-active {
        background: rgba(0,0,0,.0);

        .c-burger {
            background: rgba(0,0,0,.0);
            &::after{
               transform: rotate(-45deg);
               -webkit-transform: rotate(-45deg);
              bottom: 0px;
            }

            &::before{
               transform: rotate(45deg);
               -webkit-transform: rotate(45deg);
              top: 0px;
            }
        }
    }
}*/
/* useless css */
/*.burger-menu {
  margin-left:auto;
  margin-right: auto;
}*/

/*
** c- Call
**/
.c-call {
    display: table;
    height: @nav-top-height;
    min-width: 200px;
    padding-right: 15px;
    text-align: right;
    float: right;
    color: @white;
    
    &_inner {
        display: table-cell;
        vertical-align: middle;
        
        .c-call_title {
            text-transform: uppercase;
            display: none;
            font-size: 12px;
            
            @media screen and (max-width: @screen-sm) {
                display: block;
            }
            
        }
        .c-call_number {
            float: right;
            font-size: 15px;
            font-weight: @bold;
            display: block;
            
            .c-call_number_icon {
                font-size: 11px;
                
                @media screen and (max-width: @screen-sm) {
                    display: none;
                }
            }
        }
        .c-call_msg {
            clear: both;
            font-size: 9px;
            font-weight: 400;
            line-height: 8px;
            padding-top: 5px;
            display: block;
            
            @media screen and (max-width: @screen-sm) {
                display: none;
            }
            @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                display: none;
            }
        }
    }

    @media screen (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        
    }
    @media screen (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
        
    }
}

/*
** c- Language selector
*/
.c-lang {
    position: relative;
    &_current {
        cursor: pointer;
        
        &:hover {
            & + .c-lang_list {
                max-height: 250px;
            }
        }
    }
    &_list {
        background-color: @black;
        line-height: 30px;
        margin-left: -10px;
        padding: 10px;
        position: absolute;
        
        max-height: 0px;
        overflow: hidden;
        -webkit-transition: max-height 1s;
        -moz-transition: max-height 1s;
        -ms-transition: max-height 1s;
        -o-transition: max-height 1s;
        transition: max-height 1s;
        
        .c-lang_item {
            text-align: center;
        }
    }
    &_label {
    }
}