.select-segment {
    dl {
        dd {
            a {
                border: 1px solid @grey--d;
                &:hover {
                    background: @grey--e6;
                }
                time {
                    color: @white;
                    background: @black;
                }
            }
            &.active a {
                color: @white;
                background: @black;
                time {
                    color: @color-typography;
                    background: @grey--e6;
                }
            }
        }
    }
}
