.c-combo-cruise {

    @media screen and (min-width: @screen-sm) {
        .c-suitelist--overviewtab {
            border-top: 1px solid @grey--d;
        }
    }
}

.cc-tab {
    &_header {

        &_title,
        &_title > * {
            color: @black;
        }

        &_desc {
            &_cta {
                div {
                    .btn-default {

                        &:hover {
                            background: @grey--9;
                        }
                    }
                }
            }
        }
    }
}
