.cc-overview__map {
    .map__slider {
        border: 1px solid @grey--e6;
        background: @white;
        .map__slider-item {
            .map__title {
                color: @grey--14;
                background: @white;
            }
            .map__link {
                background-color: @grey--e;
            }
        }
    }
    .slick-dots {
        li button:before {
            background: @grey--ca;
        }
        li.slick-active button:before {
            background-color: @black;
        }
    }
}