/*
 * Global font override
 */
.c-header, .exclusiveoffer, .c-main-nav, .text, .c-subscribe__form, .c-hero-banner, .c-search-hero, .c-hero-banner-landing, .c-search-cruise, .c-annoucement, .c-subscribe, .c-footer, .c-teaser, c-vertical-teaser, .button .btn, .c-mozaic-slider, .destination-switchable-block .o-section.o-description, .quoterequest, .signupforoffers, .brochureteaserlist, .brochurerequest, .c-accordion, .sidemenu, .c-find-port, .c-cruise, .diningarea, .suitevariation, .publicareavariation, .suite, .publicarea, .exclusiveOfferList {
	font-family:Open Sans,arial,helvetica,sans-serif;
	// To add ?  Archive, Blog Post, Blog Post list, Voyage journal list, voyage journal,
}

.c-mozaicslider__link--block c-btn c-btn--dark, .c-localizedText, .c-annoucement__content__title p, .c-footer .container, .c-teaser__link, .c-mozaic, .c-annoucement .btn, .c-annoucement p, .tabcontainer  .container .c-tab__link, .c-tab__nav, .c-vertical-teaser__description, .lightboxButton {
    font-family: Open Sans,arial,helvetica,sans-serif;
}

.c-annoucement__content__title p {
	font-family: Open Sans,arial,helvetica,sans-serif !important;
}

.findyourcruise, .c-fyc__result-wrapper, .findyourcruise_landing{
	font-family:arial,helvetica,sans-serif;
}

.text{
	font-size:14px;
}

.c-subscribe__form .btn{
	font-size:12px;
	font-weight:600;
}

.o-sidemenu__text {
    font-weight: 600;
}

/*
 * Fix FYC Font 
 */
.c-fyc__header, .clearfix.c-fyc__results__wrapper, .c-fyc__result__wrapper{
    font-family: Open Sans,arial,helvetica,sans-serif;
}

@media (min-width:@screen-md-min){
.clearfix.c-fyc__results__wrapper .btn {
    font-size: 10px;
}
.v2 .c-fyc__result__content__description .cruise-ship.hidden-xs {
    font-size: 13px;
}
.v2 .c-fyc__result__content__description .cruise-code.hidden-xs{}
font-size: 11px;
}
