<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="find your port"></div>
<div data-sly-use.search="com.silversea.aem.components.editorial.SearchPortUse">
    <div class="c-find-port">
        <div class="table filter-abc">
            <div class="header-h6"> ${'port-search-alphabetically' @ i18n} </div>
            <div class="clearfix">
               <div class="lettre" data-sly-repeat="${['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']}">
                        <a class="${search.selectedLetter == item && 'letter-active'}"  href="${search.portRoot @ extension='html', appendPath=item}">
                            ${item}
                        </a>
                </div>
                
            </div>
        </div>
        
        
        
        <div class="filter-port-results">
            <div class="header-h6">${'port-results' @ i18n}</div>
            <div class="table" >
                <div class="thead">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">${'port-name' @ i18n}</div>
                        <div class="col-md-7 col-sm-7 col-xs-12 hidden-xs">${'port-country' @ i18n}</div>
                    </div>
                </div>
                <div class="tbody" data-sly-list.child="${search.resultsPortList}">
                    <div class="row">
                        <a href="${child.portPath @ extension='html'}">
                            <div class="col-md-5 col-sm-5 col-xs-12">${child.portName}</div>
                            <div class="col-md-7 col-sm-7 col-xs-12">${child.portCountry}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>