<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="find your port"></div>
<div data-sly-use.search="com.silversea.aem.components.editorial.SearchPortUse" class="c-find-port">
    <div class="c-find-port__filter">
        <div class="c-find-port__title">${'port-search-alphabetically' @ i18n}</div>
        <div class="clearfix">
            <a data-sly-repeat="${search.orderedAlphabetPages}" class="${search.portIndexPage.path == item.path ? 'active' : ''}"
                href="${search.portsRootPage.path @ extension='html', appendPath=item.name}">${item.name}</a>
        </div>
    </div>
    <div class="c-find-port__result">
        <div class="c-find-port__title">${'port-results' @ i18n}</div>
            <div class="container hidden-xs">
                <div class="row c-find-port__result__header">
                    <div class="col-sm-5">${'port-name' @ i18n}</div>
                    <div class="col-sm-7">${'destination' @ i18n}</div>
                </div>
            </div>
            <a data-sly-repeat.child="${search.ports}" href="${child.path @ extension='html'}"
                class="clearfix c-find-port__result__link">
                <span class="col-sm-5 c-find-port__result__city">${child.apiTitle}</span>
                <span class="col-sm-7 c-find-port__result__destination">${child.country}</span>
            </a>
    </div>
</div>