/*
 * FIX Global Footer
 */
 @media screen and (max-width: @screen-sm){
	.c-list-inline__group--award {
	    padding: 20px;
	}
}

.c-footer{
	margin-top:0px;
	
	.o-section div.col-sm-3 {
	    padding-left: 4px;
	    padding-left: 11px;
	}
	
	.o-section .c-subscribe .c-subscribe__form i.fa-angle-right {
	    margin-right: 0px;
	}
	@media screen and (max-width: @screen-sm){
		.o-section-call .btn {
		    margin-left: auto;
		    margin-right: auto;
		    max-width: 65%;
		}
	}
	
}

 
 /*
  * TRAVEL AGENT HEADER / FOOTER DISPLAY
  */
@media screen and (max-width: @screen-sm){
	.c-call__inner .c-call__title, .c-callbox__msg--icon, .c-callbox__msg--mobile.visible-xs-inline-block {
	    display: none !important;
	}
	.c-call__inner .c-call__msg {
    	font-size: 8px;
    }
}

@media screen and (min-width: @screen-md-min){
	.c-call__msg.hidden-xs{
		display:block !important;
	}
}

.c-callbox__msg--desktop.hidden-xs{
	display:inline-block !important;
}

/*
 * Fix CTA Footer Eo and RAQ all lang !
 */
 @media screen and (min-width: @screen-sm) and (max-width:@screen-md-max) {
    .o-section-call .col-sm-9 {
        width: 73% !important
    }
    .o-section-call .col-sm-3 {
        width: 27% !important
    }
    .c-callbox__inner {padding:20px 0px !important}
}

.o-section-call .btn-block {text-align:left !important}
