<template data-sly-template.default>
    <div class="${!wcmmode.edit ? 'c-slider' : ''} c-slider-${properties.style || 'style1'}"
        data-slick='{"autoplay": ${properties.autoPlay || "false"}, "autoplaySpeed": 5000 , "slidesToShow": ${properties.itemNumber || "1"}, "fade": ${properties.transition == "fade" ? "true" : "false"}, "dots": true}'
        data-sly-resource="${'parSlide' @ resourceType='wcm/foundation/components/parsys'}">
    </div>
</template>

<template data-sly-template.populatefromSet="${ @ setImagePath, query }">
    <sly data-sly-use.setImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=setImagePath}"
        data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"></sly>
    <div class="c-slider c-slider--default" data-sly-list="${setImage.renditionList}">
        <div>
            <sly data-sly-call="${imageTemplate.default @ imagePath=item, query=query}"></sly>
        </div>
    </div>
</template>