.select-segment {
    h2 {     
        @media screen and (max-width: @screen-sm) {
            font-size: @h2-mobile-fontsize-28;
            font-family: @freight-bold;
        }
    }

    dl {  
        dt {           
            font-size: @kicker-desktop-fontsize-22;
            font-family: @freight-bold;
        }

        dd {       
            font-size: @body-desktop-fontsize-16;          
            
            a {              
                time {
                    font-family: @suisse;                   
                    font-size: @button-desktop-fontsize-13;
                }

                strong {                   
                    font-size: @button-desktop-fontsize-16;                  
                    font-family: @freight-bold;                    
                }
            }
        }
    }
}

.segment-section {
    .segment-intro {     
        .time {
            font-size: @body-desktop-fontsize-14;
            font-family: @suisse;
        }

        h3 {
            font-size: @h4-desktop-fontsize-26;        
            font-family: @freight-bold;         
        }

        p {
            font-size: @body-desktop-fontsize-14;
        }
    }
}
