.cc-overview__map {
    .map__slider {       
        .map__slider-item {
            .map__title {               
                font-size: @kicker-desktop-fontsize-22;
                font-family: @freight-bold;              

                span {
                    font-size: @body-desktop-fontsize-14;
                    font-family: @suisse;                    
                }              
            }
         
            .map__link {               
                .c-btn {
                    font-size: @button-desktop-fontsize-11;                  
                }

                .btn {
                    font-size: @button-desktop-fontsize-11;                  
                }
            }
        }
    }
}
