.cc-tab {
    &_header {
        &_title,
        &_title > * {
            font-size: @h3-desktop-fontsize-32;
            font-family: @freight-bold;
        }

        &_desc {
            &_txt {             
                font-size: @body-desktop-fontsize-14;
                p {
                    font-size: @body-desktop-fontsize-14;
                }
            }

            &_cta {
                a,
                .btn {
                    font-size: @button-desktop-fontsize-11;

                    i,
                    .btn i.fa-lg {                        
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.cc-section-title {
    font-size: @h3-desktop-fontsize-30;
    font-family: @freight-bold;
}
