.select-segment {
    h2 {     
        @media screen and (max-width: @screen-sm) {
            font-size: 26px;
            font-family: @freight;
        }
    }

    dl {  
        dt {           
            font-size: 22px;
            font-family: @freight;
        }

        dd {       
            font-size: 16px;          
            
            a {              
                time {
                    font-family: @f-sans_serif;                   
                    font-size: 13px;
                }

                strong {                   
                    font-size: 17px;                  
                    font-family: @freight;                    
                }
            }
        }
    }
}

.segment-section {
    .segment-intro {     
        .time {
            font-size: 13px;
            font-family: @f-sans_serif;
        }

        h3 {
            font-size: 22px;        
            font-family: @freight;         
        }

        p {
            font-size: 15px;
        }
    }
}
