.cc-overview__map {
    .map__slider {       
        .map__slider-item {
            .map__title {               
                font-size: 22px;
                font-family: @freight;              

                span {
                    font-size: 13px;
                    font-family: @f-sans_serif;                    
                }              
            }
         
            .map__link {               
                .c-btn {
                    font-size: 11px;                  
                }

                .btn {
                    font-size: 10px;                  
                }
            }
        }
    }
}
