.cruise {
    .c-cruise__fare {
        border-bottom: 1px solid @grey--e9;
    }
    .slick-dots li button:before {
        background-color: @white;
    }
}

.c-cruise.expedition .c-tab__content--overview .voyageimg picture img {
    border: 1px solid @white;
}

.c-cruise.expedition .c-tab__content--overview .voyageimg picture {
    border: solid 1px @color-expedition-cruise;
}
