@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.splitteddynamicteaser.parbase {
  position: relative;
}

.splitteddynamicteaser {
  .splitteddynamicteaser-image {
    position: relative;
  }

  .splitteddynamicteaser-text {
    top: 50%;
    z-index: 100;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
    pointer-events: none;


    .splitteddynamicteaser-text-top {
      font-size: 25px;
    }
    .splitteddynamicteaser-text-center {
      font-size: 46px;
      text-transform: uppercase;
      &:after {
        content: " ";
        display: block;
        position: absolute;
        height: 2px;
        background: white;
        width: 40%;
        left: 50%;
        transform: translate(-50%,-65%);
        top: 65%;
      }
    }
    .splitteddynamicteaser-text-bottom {
      font-size: 28px;
      text-transform: uppercase;
    }
  }

  .splitteddynamicteaser-left, .splitteddynamicteaser-right {
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .splitteddynamicteaser-left {
    background-color: #37332d8f;
  }

  .splitteddynamicteaser-right {
    left: 50%;
    background-color: #ff00007d;
  }

  /*
All animation
 By Fabio because he didn't want to use jquery
  */

  .splitteddynamicteaser:hover  .splitteddynamicteaser-text,  .splitteddynamicteaser:hover  .splitteddynamicteaser-text-center::after {
    animation: animation-hide-text 2s ease forwards;
  }

  .splitteddynamicteaser-image:hover .splitteddynamicteaser-left {
    animation: animation-reduce-left 2s ease forwards;
  }

  .splitteddynamicteaser-image:hover .splitteddynamicteaser-right {
    animation: animation-reduce-right 2s ease forwards;
  }

  .splitteddynamicteaser-left:hover {
    animation: animation-increment-left 2s ease forwards !important;
  }

  .splitteddynamicteaser-right:hover {
    animation: animation-increment-right 2s ease forwards !important;
  }

  @keyframes animation-hide-text {
    0% {}
    100% {
      background: transparent;
      color:transparent;
    }
  }

  @keyframes animation-reduce-left {
    0% {
      z-index: 1;
      width: 50%;
    }
    100% {
      z-index: 1;
      width: 10%;
    }
  }

  @keyframes animation-increment-right {
    0% {
      z-index: 2;
      width: 50%;
    }
    100% {
      z-index: 2;
      width: 90%;
      left: 10%

    }
  }

  @keyframes animation-increment-left {
    0% {
      z-index: 2;
      left: 0%;

    }
    100% {
      z-index: 2;
      width: 90%;
      left: 0%;

    }
  }

  @keyframes animation-reduce-right {
    0% {
      z-index: 1;
      left: 50%;

    }
    100% {
      z-index: 1;
      width: 10%;
      left: 90%

    }
  }

}