<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Destination display properties"></div>
<div class="o-area-property-display">
    <div class="o-section">
        <!-- Image -->
        <!-- <img class="o-slider" src="${pageProperties.assetSelectionReference}" alt="" /> -->
 
        <div> ${pageProperties.longDescription @ context='html'} </div>
        
        <div data-sly-resource="${'inlinegallery' @ resourceType='silversea/silversea-com/components/editorial/inlinegallery'}"> </div>

        <div id="destination-html-switcher" class="switcher-text-link hidden_mobile single_destination_discover_more_link">${'destination-discover-more' @i18n} </div>
        <div id="destination-fyc-switcher" class="switcher-text-link hidden hidden_mobile">${'destination-view-cruise' @ i18n}</div>

        <!-- custom html -->
         <div id="destination-html-switchable-block" class="destination-switchable-block hidden">
            <div class="o-section o-section--separator o-description">
                ${pageProperties.customHtml @ context='unsafe'}
            </div>
        </div>
        
        <div data-sly-resource="${'findyourcruise' @ resourceType='silversea/silversea-com/components/editorial/findyourcruise'}"> </div>
        
    </div>
</div>