<template data-sly-template.default="${ @ list, parent }">
    <div class="panel c-cruise-itinerary-2__list--nested__item" data-sly-repeat="${list}">
        <div class="collapsed panel--nested__heading" role="button" data-toggle="collapse" data-parent="#${parent}" data-target="#${parent}-${item.landId ? 'land' : 'hotel'}-${itemList.count}" aria-expanded="false">
            <h4><strong>${item.title || item.name}</strong></h4>
            <div class="hidden-xs" data-sly-use.description="${'com.silversea.aem.helper.StringHelper' @ text=item.description, limit=240}">
                ${description.textTruncate @ context='html'}
            </div>
            <span class="btn-more">${'more-info' @ i18n} <i class='fa fa-angle-down'></i></span>
            <span class="btn-less">${'close' @ i18n} <i class='fa fa-angle-up'></i></span>
        </div>
        <div id="${parent}-${item.landId ? 'land' : 'hotel'}-${itemList.count}" class="collapse panel--nested__body" role="tabpanel" aria-expanded="false">
            <div class="panel--nested__body__inner">
                ${item.description @ context='html'}
            </div>
        </div>
    </div>
</template>