<template data-sly-template.default="${ @ cruise }">
    <div>
        <!--/* TODO replace with getter */-->
        <h3 class="c-cruise__subtitle">
             <span data-sly-test="${cruise.landProgramsNumber}">
                ${cruise.landProgramsNumber} ${cruise.landProgramsNumber == 1 ? 'land-programme' : 'land-programmes' @ i18n}
            </span>
             <span data-sly-test="${cruise.landProgramsNumber && cruise.hotelsNumber}"> ${'and' @ i18n}</span>
             <span data-sly-test="${cruise.hotelsNumber}">
                ${cruise.hotelsNumber} ${cruise.hotelsNumber == 1 ? 'hotel' : 'hotels' @ i18n}
            </span>
        </h3>
        <p class="c-cruise__descr">
            ${'land-programmes-description' @ i18n}
        </p>

        <div id="land-programs-collapse" class="c-cruise-itinerary-2__list" role="tablist"
            data-sly-list.itinerary="${cruise.cruiseModel.ItinerariesStable}"
            data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html">
            <sly data-sly-test.landPrograms="${itinerary.landPrograms}" />
            <sly data-sly-test.hotels="${itinerary.hotels}" />

            <sly data-sly-test="${itinerary.port}">
                <div class="panel c-cruise-itinerary-2__list__item"
                    data-sly-test="${hotels.size > 0 || landPrograms.size > 0}">
                    <div class="collapsed panel__heading" role="button" data-toggle="collapse" data-parent="#land-programs-collapse" data-target="#lp-${itinerary.itineraryId}" aria-expanded="false" aria-controls="lp-${itinerary.itineraryId}">
                        <div class="panel__heading__image">
                            <sly data-sly-call="${imageTemplate.lazy @ imagePath=itinerary.port.thumbnail, width=930}" />
                        </div>
                        <div class="panel__heading__description">
                            <h3><strong>${itinerary.port.apiTitle}</strong></h3>
                            <p data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='EEEE dd MMM', date=itinerary.date}">
                                <span>${itinerary.port.country}</span>
                                <span class="visible-xs-inline"><br />${date.value}</span>
                            </p>
                        </div>
                        <div class="panel__heading__date hidden-xs">
                            <span>${date.value}</span>
                        </div>
                        <div class="panel__heading__info hidden-xs">
                            <span>
                                <sly data-sly-test="${landPrograms.size > 0}">${landPrograms.size} ${landPrograms.size == 1 ? 'land-programme' : 'land-programmes' @ i18n} </sly>
                                <sly data-sly-test="${landPrograms.size > 0 && hotels.size > 0}">${'and' @ i18n} </sly>
                                <sly data-sly-test="${hotels.size > 0}">${hotels.size} ${hotels.size == 1 ? 'hotel' : 'hotels' @ i18n}</sly>
                            </span>
                        </div>
                        <i class="btn-more fa fa-angle-down"></i>
                        <i class="btn-less fa fa-angle-up"></i>
                    </div>
                    <div id="lp-${itinerary.itineraryId}" class="collapse panel__body c-cruise-itinerary-2__list--nested" role="tabpanel" aria-expanded="false" data-sly-use.collapseNestedTemplate="silversea/silversea-com/components/pages/cruise/fragment/landprogramtab/collapse-nested.html">
                        <sly data-sly-test.parentId="${'{0}{1}' @ format=['lp-', itinerary.itineraryId]}" />
                        <sly data-sly-call="${collapseNestedTemplate.default @ list = landPrograms, parent = parentId}" />
                        <sly data-sly-call="${collapseNestedTemplate.default @ list = hotels, parent = parentId}" />
                    </div>
                </div>
            </sly>
        </div>
    </div>
</template>