<sly data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse" />
<sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"></sly>
<div class="row">
    <div class="col-xs-12">

        <h3 class="c-cruise__subtitle">1 ${'land-programmes' @ i18n} ${'and' @ i18n} 4 ${'pre-post-hotels' @ i18n}</h3>
        <p class="c-cruise__descr">
            ${'land-programmes-description' @ i18n}
        </p>

        <div class="c-accordion"
             data-multiview="false"
             data-more="<i class='fa fa-angle-down'></i>"
             data-close="<i class='fa fa-angle-up'></i>"
             data-sly-test="${cruise.cruiseModel.itineraries}"
             data-sly-list="${cruise.cruiseModel.itineraries}">
            <div class="c-accordion__elem" data-sly-test="${item.hotels.size > 0 || item.landprograms.size > 0}">
                <div class="c-accordion__header c-accordion__header--parent">
                    <div class="c-accordion__title c-accordion__title--thumbnail">
                        <sly data-sly-call="${imageTemplate.default @ imagePath=item.thumbnail}"></sly>
                    </div>
                    <div class="c-accordion__title w-title valigntop">
                        <p class="c-accordion__subtitle veryimportant">${item.apiTitle || item.title || 'Title'}</p>
                        <p>${item.country}</p>
                        <p class="visible-xs" data-sly-use.date="${'com.silversea.aem.helper.DateHelper' @ format='dd MMM yyyy', date=item.date}">
                            ${date.value}
                        </p>
                    </div>
                    <div class="c-accordion__title w-content valigntop hidden-xs">
                        <p>${date.value}</p>
                    </div>
                    <div class="c-accordion__title w-content valigntop hidden-xs">
                        <u data-sly-test="${item.landprograms.size > 0}">${item.landprograms.size} ${'land-programmes' @ i18n} </u>
                        <u data-sly-test="${item.landprograms.size > 0 && item.hotels.size > 0}">${'and' @ i18n} </u>
                        <u data-sly-test="${item.hotels.size > 0}">${item.hotels.size} ${'hotels' @ i18n}</u>
                    </div>
                    <div class="c-accordion__action small">
                        <i class='fa fa-angle-down'></i>
                    </div>
                </div>
                <div class="c-accordion__body c-accordion__body--full">

                    <div class="c-accordion"
                         data-multiview="false"
                         data-more="${'more-info' @ i18n} <i class='fa fa-angle-down'></i>"
                         data-close="${'close' @ i18n} <i class='fa fa-angle-up'></i>">

                        <sly data-sly-use.accordionTemplate="accordion-body.html"
                             data-sly-call="${accordionTemplate.default @ list=item.landprograms}"></sly>
                        <sly data-sly-call="${accordionTemplate.default @ list=item.hotels}"></sly>

                    </div>
                </div>
            </div>
        </div>
        <div class="visible-xs">
            <a class="btn btn-red effect" href="#"><span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>