<sly data-sly-use.externalizerFontsHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path='/etc/designs/silversea-ssc/clientlib-pdf/css/fonts',absolute=true}" />
<link type="text/css" rel="stylesheet" href="${externalizerFontsHelper.externalizedUrl @ extension='css'}">
<sly data-sly-use.externalizerCSSHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path='/etc/designs/silversea-ssc/clientlib-pdf/css/svv3',absolute=true}" />
<link type="text/css" rel="stylesheet" href="${externalizerCSSHelper.externalizedUrl @ extension='css'}">

<div class="footer">
<sly data-sly-use.footer="com.silversea.ssc.aem.models.PDFCruiseUse" data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse" />
	<p>
	<span data-sly-test.silverExpedition="${cruise.cruiseModel.cruiseType == 'silversea-expedition'}" class="uppercase">${'View-more-about-this-expedition-cruise' @ i18n}:</span>
	<span data-sly-test="${!silverExpedition}" class="uppercase">${'View-more-about-this-cruise' @ i18n}:</span><br>
		<a href="${footer.footerPageUrl @ extension='html'}">${footer.footerPageUrl @ extension='html'}</a>
	</p>
	<p>${'View-all-terms-and-conditions' @ i18n}:
			<a data-sly-test="${footer.termsAndConditionsUrl}" href="${footer.termsAndConditionsUrl @ extension='html'}">${footer.termsAndConditionsUrl @ extension='html'}</a>
	</p>
</div>