<template data-sly-template.default="${@ model}">
    <div class="lg-port-call">
        <div class="lg-port-call-section">
            <p class="lg-port-call-section-text-1">
                ${'call-reservations-team-1' @ i18n} ${'call-reservations-team-2' @ i18n}

            </p>
            <span class="lg-port-call-section-number">
                    <i class="fa fa-phone fa-stack-1x"></i>
                    <sly data-sly-use.googleForwardingNumberTemplate="/apps/silversea/silversea-ssc/components/included/googleforwardingnumber/googleforwardingnumber.html" />
	            	<sly data-sly-call="${googleForwardingNumberTemplate.footer}" />
                 </span>
        </div>
    </div>
</template>