<section class="o-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 c-voyagejournals" data-sly-use.VoyageJournalDayUse="com.silversea.aem.components.page.VoyageJournalDayUse">
                <div class="c-pageheader" data-sly-test.voyageJournalDay="${VoyageJournalDayUse.voyageJournalDay}">
                    <p class="c-pageheader__date" data-sly-use.dateHelper="${'com.silversea.aem.helper.DateHelper' @ format='MMM dd, yyyy', date=voyageJournalDay.publicationDate}">
                        <strong>${'day' @ i18n} ${voyageJournalDay.dayNumber @ i18n} |</strong>
                        ${dateHelper.value}
                    </p>
                    <h1 class="c-pageheader__subtitle">${voyageJournalDay.title @ i18n}</h1>
                    <p>${'by' @ i18n} ${voyageJournalDay.author @ i18n}</p>
                    <ul class="c-pageheader__properties">
                        <li data-sly-test.coordinates="${voyageJournalDay.coordinates}">
                            <strong>${'coordinates' @ i18n}: ${coordinates}</strong>
                        </li>
                        <li data-sly-test.temperature="${voyageJournalDay.temperature}">
                            <strong>${'temperature' @ i18n}: ${temperature} ${'temperatureUnit' @ i18n}</strong>
                        </li>
                        <li data-sly-test.pressure="${voyageJournalDay.pressure}">
                            <strong>${'pressure' @ i18n}: ${pressure} ${'pressureUnit' @ i18n}</strong>
                        </li>
                        <li data-sly-test.weather="${voyageJournalDay.weather}">
                            <strong>${'weather' @ i18n}: ${weather}</strong>
                        </li>
                        <li data-sly-test.wind="${voyageJournalDay.wind}">
                            <strong>${'wind' @ i18n}: ${wind} ${'windUnit' @ i18n}</strong>
                        </li>
                    </ul>
                </div>

                <div class="c-voyagejournals__content" data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>

                <ul data-sly-use.pagination="com.silversea.aem.helper.PaginationHelper" class="c-pagination c-pagination--separated clearfix">
                    <li data-sly-test="${pagination.previousPage}">
                        <a href="${pagination.previousPage.path @ extension='html'}" class="c-pagination__link">
                            <i class="fa fa-angle-left fa-lg"></i> ${'day' @ i18n} ${pagination.previousPage.properties.dayNumber}
                        </a>
                    </li>
                    <li data-sly-test="${pagination.nextPage}">
                        <a href="${pagination.nextPage.path @ extension='html'}" class="c-pagination__link">
                            ${'day' @ i18n} ${pagination.nextPage.properties.dayNumber} <i class="fa fa-angle-right fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4 c-voyagejournals-sidebar sidebar">
                <div data-sly-resource="${'parSide' @ resourceType='wcm/foundation/components/iparsys'}"></div>
                <div data-sly-resource="${'dayslistdisplay' @ resourceType='silversea/silversea-com/components/editorial/voyagejournals/dayslist'}"></div>
            </div>
        </div>
    </div>
</section>