.c-form .chosen-single {
    color: @grey--5;
}

.intl-tel-input.separate-dial-code .selected-flag {
    background-color: @transparent;
}


.c-quote-request-form,
.signupforoffers,
.request-quote-form {
    .chosen-container-single .chosen-single {
        border: 1px solid @grey--8;
    }
}

