 /*
  * Alternate TTabs design
  */
 .page {
 	@media screen and (min-width: @screen-md-min){
	 	.c-tab__link[data-state='active'] a {
	    background-color: @white;
	       background: @color-dark-bg;
	    color: @white;
	}
	.c-tab__link[data-state='active'] {
	    background-color: @white;
	}
	
	
	        
	.c-tab__link a {
	    background-color: @grey--9;
	    color: @white;
	}
	
	.c-tab__link a:hover {
	    background-color: @color-dark-bg;
	    color: @white;
	}
}
 	
 }
 
