<template data-sly-template.default="${ @ assetList}">
    <sly data-sly-use.listHelper="${'com.silversea.aem.helper.ListHelper' @ list = assetList, size = 5}">
    <div class="c-cruise__gallery__featured clearfix" data-sly-repeat="${listHelper.assetListGroup}" data-sly-use.imageTemplate="suitevariationimagetemplate.html">
        <div class="c-cruise__gallery__featured__left">
            <sly data-sly-call="${imageTemplate.default @ asset=item[0]}" />
            <sly data-sly-call="${imageTemplate.default @ asset=item[3]}" />
        </div>
        <div class="c-cruise__gallery__featured__right">
            <sly data-sly-call="${imageTemplate.default @ asset=item[1]}" />
            <sly data-sly-call="${imageTemplate.default @ asset=item[2]}" />
            <sly data-sly-call="${imageTemplate.default @ asset=item[4]}" />
        </div>
    </div>
    <div class="c-cruise__item-expander">
        <a class="btn btn-thin btn-dark expander-open" href="#"><span>${'view-all' @ i18n}</span><i class="fa fa-angle-down"></i></a>
        <a class="btn btn-thin btn-dark expander-close" href="#"><span>${'close' @ i18n}</span><i class="fa fa-angle-up"></i></a>
    </div>
</template>