<div class="c-cruise-photovideo" data-sly-use.cruise="com.silversea.aem.components.page.CruiseUse" data-sly-test="${cruise.allAssetForItinerary}">
    <h3 class="c-cruise__subtitle">${'cruise-itinearay' @ i18n}</h3>
    <p class="c-cruise__descr">${'cruise-itinearay-descr' @ i18n}</p>

    <div class="c-cruise__gallery">
        <sly data-sly-use.galleryTemplate="gallerytemplate.html" data-sly-call="${galleryTemplate.default @ assetGroup = cruise.allAssetForItinerary}" />
    </div>
</div>