<template data-sly-template.default="${ @ cruise }">
    <div class="c-cruise-photovideo" data-sly-test="${cruise.allAssetForItinerary}">
        <h3 class="c-cruise__subtitle">${'cruise-itinerary' @ i18n}</h3>
        <p class="c-cruise__descr">${'cruise-itinerary-descr' @ i18n}</p>

        <div class="c-cruise__gallery">
            <sly data-sly-use.galleryTemplate="silversea/silversea-com/components/pages/cruise/fragment/phototab/gallerytemplate.html" data-sly-call="${galleryTemplate.default @ assetList = cruise.allAssetForItinerary}" />
        </div>
    </div>
</template>