body.landingpage {

     .c-header-landing-raq{
     	color:white;
     	font-weight:600;	
     }
     .c-quote-request-style2
     {
     	border-right: 1px solid @grey--40;
     }
     .c-main-nav{
     	.style2{
     		.c-main-nav__top__item_first:before{
     			background-color: @transparent;
     		}
     	}
     } 
     
     header{
     	//border-bottom: solid 1px @white;
     }

    .header-style3 {
       // border-bottom: solid 1px @white !important;
    	background: @black--07 !important;
    }
     
	
	.footer-v3 { 
		
		.gradient-line {
		    background: @grey--f5;
		}
		.o-section--legal {
		    background-color: @grey--f5;
		}
	}
		
	.o-section--callbox {
	    border-top: 0 solid @grey--d;
	    font-family: @f-lato;
	}
	
	.lp17__footer {
	    background: @black;
	    
	   .footer-v2 {
		    background: @black;
		    color: @white;
		    
		    .footer-v2-contact-raq {
				.footer-v2-raq {
				    .btnlp17-red {
					    background: @red !important;
					}
					
					.btnlp17-red:hover, .btnlp17-red:focus, .btnlp17-red:active {
					    background: @red--39 !important;
					    color: @white !important;
					}
					
					.btnlp17:hover, .btnlp17:focus, .btnlp17:active {
					    background: @grey--18;
					    color: @white;
					}
					
					.btnlp17 {
					    background: @black;
					    color: @white;
					}
				}
			}
		}
		
		.style3{
			.title{
				color: @white;
			}
			.btnlp17-red {
					    background: @red !important;
					}
					
					.btnlp17-red:hover, .btnlp17-red:focus, .btnlp17-red:active {
					    background: @red--39 !important;
					    color: @white !important;
					}
					
					.btnlp17:hover, .btnlp17:focus, .btnlp17:active {
					    background: @grey--18;
					    color: @white;
					}
					
					.btnlp17 {
					    background: @black;
					    color: @white;
					}
		}

		.style6 {
			.title{
				color: #fff;
			}
			.btnlp17-red {
					    background: @red !important;
					}
					
					.btnlp17-red:hover, .btnlp17-red:focus, .btnlp17-red:active {
					    background: @red--39 !important;
					    color: @white !important;
					}
					
					.btnlp17:hover, .btnlp17:focus, .btnlp17:active {
					    background: @grey--18;
					    color: @white;
					}
					
					.btnlp17 {
					    background: @black;
					    color: @white;
					}

		}

	    	
	}
			

    .c-hero-banner-landing-2018Landing {
			.c-hero-banner-landing__image {
            	.c-hero-dark-overlay {
                	background: @grey--53;

            	}

			}


			.c-hero-dark-overlay {
                	background: @grey--53;
            }
	}
}

/**
* Landing DMP Destination and Landing Destination All devices
*/
.landingpage-dmp-destination , .landingpage-destination {


	a.btn.btn-black.normal.btnlp17:hover {
		background: @grey--9;
	}


	.o-section--legal {
		background-color: @white;
	}
	
	 .c-landingBackgroundContainer .lp17__section_header .lp17__section_header_separator {
		background: @grey;
	 }
}
	


