<!--
<div data-sly-test="${wcmmode.edit}" data-sly-unwrap></div>

<sly data-sly-use.cpt="com.silversea.aem.components.editorial.BlogPostTeaserUse" data-sly-unwrap>
-->
<sly data-sly-use.blogPostTeaserListUse="${'com.silversea.aem.components.editorial.BlogPostTeaserListUse'}" />
    
<h1>${pageProperties['jcr:title']}</h1>

<div data-sly-test="${blogPostTeaserListUse.highLightFirst}" class="blogpostfirst">
    <img class="blogpostfirst__img" src="${blogPostTeaserListUse.firstBlogPostTeaser.assetSelectionReference}" />
    <p class="blogpostfirst__date">${blogPostTeaserListUse.firstBlogPostTeaser.formatPublicationDate}</p>
    <h2 class="blogpostfirst__title">${blogPostTeaserListUse.firstBlogPostTeaser.title @context = 'html'}</h2>

    <p class="blogpostfirst__descr">${blogPostTeaserListUse.firstBlogPostTeaser.longDescription}</p>

    <a class="read-more" href="#">Read More<i class="fa fa-angle-right"></i></a>
</div>

<div class="blogpostlist">
    <h3>other recent stories</h3>
    <dl data-sly-list="${brochureTeaserListUse.blogPostTeaserModelList}">
        <sly data-sly-use.blogPostTeaserUse="${'com.silversea.aem.components.editorial.BlogPostTeaserUse' @ blogPostPathParam= BlogPostTeaserListUse.blogPostTeaserModelList[itemList.index] }">
        <sly data-sly-resource="${itemList.index @ resourceType='/apps/silversea/silversea-com/components/editorial/blogpostteaser'}" />
    </dl>
</div>