<sly data-sly-use.portUse="com.silversea.aem.components.page.PortUse" />
<div class="c-tab__content" id="Excursions">
    <h2>${portUse.portModel.title},</h2>
    <div class="c-cruise-itinerary-2__list__item" id="excursion-accordion" role="tablist" aria-multiselectable="true">
        <div data-sly-repeat.excursion="${portUse.portModel.excursions}" class="panel c-cruise-itinerary-2__list--nested__item">
            <div class="collapsed panel--nested__heading" role="button" data-toggle="collapse" data-parent="#excursion-accordion" data-target="#ex-${excursionList.count}" aria-expanded="false">
                <h4 class="panel-title"><strong>${excursion.title}</strong></h4>
                <sly data-sly-test.description="${excursion.longDescription || excursion.apiLongDescription || excursion.description}"/>
                <div class="hidden-xs" data-sly-use.helper="${'com.silversea.aem.helper.StringHelper' @ text=description, limit=240}">
                    ${helper.textTruncate @ context='html'}
                </div>
                <span class="btn-more">${'more-info' @ i18n} <i class="fa fa-angle-down"></i></span>
                <span class="btn-less">${'close' @ i18n} <i class="fa fa-angle-up"></i></span>
            </div>
            <div id="ex-${excursionList.count}" class="collapse panel--nested__body" role="tabpanel">
                <div class="panel--nested__body__inner">
                    ${description @ context='html'}
                </div>
            </div>
        </div>
    </div>
</div>