<template data-sly-template.default="${ @ portUse }">
<sly data-sly-use.externalizerHelper="${'com.silversea.aem.helper.ExternalizerHelper' @ path=currentNode.path}"
	data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
	data-sly-use.galleryTemplate="silversea/silversea-com/components/pages/port/galleryimage.html"
	/>
<div class="container" data-gallery-path="${externalizerHelper.externalizedUrl @ extension='html', selectors='gallery'}">
	<!--googleoff: all-->
	<noindex>
		<!--noindex-->
		<div class="port_v2__section">
			<div class="port_v2__section_header">
				<h3 data-sly-test="${portUse.portType != 'expedition'}" class="port_v2__section_title"><span>${'an-introduction-to-silversea-cruises' @i18n}</span></h3>
				<h3 data-sly-test="${portUse.portType == 'expedition'}" class="port_v2__section_title"><span>${'an-introduction-to-silversea-expeditions' @i18n}</span></h3>
				<div data-sly-test="${portUse.portType == 'expedition'}" class="port_v2__section_header_separator port_v2__section_header_separator_expedition "></div>
				<div data-sly-test="${portUse.portType == 'classic'}" class="port_v2__section_header_separator port_v2__section_header_separator_classic "></div>
				<div data-sly-test="${portUse.portType == 'mixed'}" class="port_v2__section_header_separator port_v2__section_header_separator_mixed"></div>
			</div>
			<div class="port_v2__section_content">
				<div class="port_v2__imagetext">
					<div class="row">
						<div class="col-sm-6">
							<div class="c-cruise">
								<div class="c-tab__content--overview">
									<div class="voyageimg">
										<sly data-sly-call="${galleryTemplate.listImage @ list = portUse.portGenericBlockBean.sliderItems, imageTemplate = imageTemplate}" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="port_v2__imagetext_text">
								<p>${portUse.portGenericBlockBean.description @ context="html"}</p>
								<div class="port_v2__imagetext_text_cta">
									<div class="button parbase aem-GridColumn--tablet--12 aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--tablet--newline aem-GridColumn--default--2">
										<div class="text-center">
											<a href="/content/silversea-com/en/brochures${portUse.brochureSelector}.html" class="btn btn-dark 12" data-sscclicktype="clic-RAB">
											<span class="visible-sm-inline visible-xs-inline">${'view-our-brochures' @i18n}</span>
											<span class="hidden-sm hidden-xs">${'view-our-brochures' @i18n}</span> <i class="fa fa-lg fa-angle-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/noindex-->
	</noindex>
	<!--googleon: all-->
</div>
</template>