//Mobile
@media (max-width: @screen-sm){
	.viewHeightMobile20 {
	    height: calc(~"20vh - 60px") !important;
	}
	
	.viewHeightMobile25 {
	    height: calc(~"25vh - 60px") !important;
	}
	
	.viewHeightMobile30 {
	    height: calc(~"30vh - 60px") !important;
	}
	
	.viewHeightMobile35 {
	    height: calc(~"35vh - 60px") !important;
	}
	
	.viewHeightMobile40 {
	    height: calc(~"40vh - 60px") !important;
	}
	
	.viewHeightMobile45 {
	    height: calc(~"45vh - 60px") !important;
	}
	
	.viewHeightMobile50 {
	    height: calc(~"50vh - 60px") !important;
	}
	
	.viewHeightMobile55 {
	    height: calc(~"55vh - 60px") !important;
	}
	
	.viewHeightMobile60 {
	    height: calc(~"60vh - 60px") !important;
	}
	
	.viewHeightMobile65 {
	    height: calc(~"65vh - 60px") !important;
	}
	
	.viewHeightMobile70 {
	    height: calc(~"70vh - 60px") !important;
	}
	
	.viewHeightMobile75 {
	    height: calc(~"75vh - 60px") !important;
	}
	
	.viewHeightMobile80 {
	    height: calc(~"80vh - 60px") !important;
	}
	
	.viewHeightMobile85 {
	    height: calc(~"85vh - 60px") !important;
	}
	
	.viewHeightMobile90 {
	    height: calc(~"90vh - 60px") !important;
	}
	
	.viewHeightMobile95 {
	    height: calc(~"95vh - 60px") !important;
	}
	
	.viewHeightMobile100 {
	    height: calc(~"100vh - 60px") !important;
	}
}