.header-2019-mobile {
  .container {
    background: #000;
  }

  .header2019-logo {
    padding: 0px 15px 0px 10px;

    .header2019-logo-link {
      height: 60px;
      display: table-cell;
      vertical-align: middle;
      padding-left: 0px;


      img.header2019-logo-img {
        width: 165%;
      }
    }
  }

  .header2019-nav-wrapper {
    position: static;
    padding: 0;
  }

  .header2019-nav-burger {
    display: inline-block;
    float: right;
    height: 60px;
    max-width: 120px;
    background: #000;
    color: #fff;
  }

  button.header2019-nav-burgerbtn {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.42857;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 6px 12px;
    border-radius: 0px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    padding-top: 14px;

    .header2019-icon-close {
      display: none;
    }

    .header2019-icon-phone {
      margin-right: 18px;
    }
  }
}

