#header-2019-submenu-positioner {
  height: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 9999999;
  display: none;
  transition-delay: 1s;

  #header-2019-submenu-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: @grey--f4;
    height: 470px;
    padding: 15px 0 30px;
    display: block;
    font-family: @suisse;

    .header-2019-submenu {
      display: none;
      transition-delay: 1s;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: row;
      max-width: 1100px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;

      .header-2019-submenu-snd {
        flex-grow: 1;
        vertical-align: top;
        height: 100%;
        margin-right: 16px;

        .header-2019-submenu-snd-title {
          color: @grey--3;;
          font-family: @freight;
          font-size: 22px;
          padding-bottom: 15px;
          letter-spacing: 1px;

          line-height: 26px;
          border-bottom: 2px solid rgba(155, 155, 155, 0.5);
          width: 100%;
        }

        .header-2019-submenu-snd-category {
          display: flex;
          flex-flow: column wrap;
          align-items: stretch;
          height: 95%;

          .header-2019-submenu-entry {
            color: @grey--3;;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1.5px;
            margin-top: 14.5px;
            text-transform: uppercase;
            margin-bottom: 12px;
            margin-right: 20px;
          }

        }
      }

    }
  }
}
