    <template data-sly-template.default>
        <sly data-sly-use.use="com.silversea.aem.components.included.header.Header2019Use">
            <div class="header-2019-mobile visible-xs visible-sm">
                <div class="container header2019-container">
                    <div class="row">
                        <div class="col-sm-3 col-xs-5 header2019-logo">
                            <sly data-sly-use.pageHelper="com.silversea.aem.helper.PageHelper"/>
                            <a href="${pageHelper.homePage.path @ extension='html'}" class="header2019-logo-link">
                                <img class="header2019-logo-img" src="${currentDesign.path}/clientlib-base/images/logo.png"
                                     alt="${pageHelper.homePage.title || currentPage.title}"/>
                            </a>
                        </div>
                        <div class="col-sm-9 col-xs-7 header2019-nav-wrapper">
                            <div class="header2019-nav-burger">
                                <button type="button" class="header2019-nav-burgerbtn">
                                    <span class="header2019-nav-title hidden-xs">${'menu' @ i18n}</span>
                                    <i class="material-icons header2019-icon-phone">phone</i>
                                    <span class="header2019-open-menu"><i class="material-icons header2019-icon-menu">menu</i></span>
                                    <span class="header2019-close-menu"><i class="material-icons header2019-icon-close">close</i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container header2019-container-list">
                    <div class="row header2019-row-list">
                        <div class="col-xs-12"><span>Find your Cruise</span></div>
                        <div class="col-xs-12"><span>Destinations</span></div>
                        <div class="col-xs-12"><span>Ships</span></div>
                        <div class="col-xs-12"><span>Why silversea</span></div>
                        <div class="col-xs-12"><span>Expeditions</span></div>
                        <div class="col-xs-12"><span>Brochures</span></div>
                        <div class="header2019-container-fixed">
                            <div class="col-xs-6"><span>MySilversea</span></div>
                            <div class="col-xs-6 header-2019-lang">
                                <div>EN</div>
                                <div class="header-2019-arrow"><i class="material-icons">keyboard_arrow_down</i></div>
                            </div>
                            <div class="col-xs-12 header-2019-raq"><span>Request a quote</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </sly>
    </template>