html.ab-global-v2-activated, html.aToBTmp {
  @import "variables.less";
  @import "fontoverride/com/general.less";
  @import "fontoverride/com/components/c-chosen.less";
  @import "fontoverride/com/components/c-form.less";
  @import "fontoverride/com/components/c-area-property-display.less";
  @import "fontoverride/com/components/c-exclusive-offers.less";
  @import "fontoverride/com/components/c-find-your-cruise/c-fyc-pagination.less";
  @import "fontoverride/com/components/c-find-your-cruise/c-fyc-result-header.less";
  @import "fontoverride/com/components/c-find-your-cruise/c-fyc-result-item.less";
  @import "fontoverride/com/components/c-find-your-cruise/c-fyc-filter.less";
  @import "fontoverride/com/components/c-brochures-list.less";
  @import "fontoverride/com/components/c-suite-variation.less";
  @import "fontoverride/com/components/c-silversea-office.less";
  @import "fontoverride/com/components/c-footer.less";
  @import "fontoverride/com/components/c-teaser.less";
  @import "fontoverride/com/components/c-burger-nav.less";
  @import "fontoverride/com/components/c-main-nav.less";
  @import "fontoverride/com/components/c-quote-request.less";
  @import "fontoverride/com/components/c-call.less";
  @import "fontoverride/com/components/c-subscribe.less";
  @import "fontoverride/com/components/c-list.less";
  @import "fontoverride/com/components/c-list-inline.less";
  @import "fontoverride/com/components/c-list-group.less";
  @import "fontoverride/com/components/c-pageheader.less";
  @import "fontoverride/com/components/c-tab.less";
  @import "fontoverride/com/components/c-brochures.less";
  @import "fontoverride/com/components/c-voyagejournalday.less";
  @import "fontoverride/com/components/c-sidemenu.less";
  @import "fontoverride/com/components/c-pressreleaseslist.less";
  @import "fontoverride/com/components/c-pagination-number.less";
  @import "fontoverride/com/components/c-vertical-teaser.less";
  @import "fontoverride/com/components/c-hero-banner.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-general.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-header.less";
  @import "fontoverride/com/components/c-cruise/c-cruiseoverview.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-suitelist.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-suitelist-collapse-content.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-fare.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-enrichments.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-footnotes.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-ship-overview.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-ship-info.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-highlights.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-keypeople.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-photovideo.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-itineraries.less";
  @import "fontoverride/com/components/c-cruise/c-cruise-landnprograms.less";
  @import "fontoverride/com/components/c-annoucement.less";
  @import "fontoverride/com/components/c-search-cruise.less";
  @import "fontoverride/com/components/c-search-hero.less";
  @import "fontoverride/com/components/c-variationassetdisplay.less";
  @import "fontoverride/com/components/c-gallery.less";
  @import "fontoverride/com/components/c-combo-cruise/c-combo-cruise-header.less";
  @import "fontoverride/com/components/c-combo-cruise/c-combo-cruise-general.less";
  @import "fontoverride/com/components/c-combo-cruise/c-combo-cruise-overviewtab.less";
  @import "fontoverride/com/components/c-combo-cruise/c-combo-cruise-routestab.less";
  @import "fontoverride/com/components/c-quote-request-form.less";
  @import "fontoverride/com/components/c-find-port.less";
  @import "fontoverride/com/components/c-point-of-interest.less";
  @import "fontoverride/com/components/c-quote-request-side.less";
  @import "fontoverride/com/components/c-tabbed-mozaic.less";
  @import "fontoverride/com/components/c-mozaic-slider.less";
  @import "fontoverride/com/components/c-search-result.less";
  @import "fontoverride/com/components/c-search-navigation.less";
  @import "fontoverride/com/components/c-archives.less";
  @import "fontoverride/com/components/t-port.less";
  @import "fontoverride/com/components/c-single-dining.less";
  @import "fontoverride/com/components/c-dining-slider.less";
  @import "fontoverride/com/components/c-single-suite.less";
  @import "fontoverride/com/components/c-suite-slider.less";
  @import "fontoverride/com/included/c-modaldetail.less";
  @import "fontoverride/com/components/c-steveandsilversea.less";
  @import "fontoverride/ssc/modal-EO-adaptation.less";
  @import "fontoverride/ssc/components/c-socialdisplay.less";
  @import "fontoverride/ssc/components/c-signatureTeaser.less";
  @import "fontoverride/ssc/components/c-whySilverseaLanding.less";
  @import "fontoverride/ssc/components/c-testimonial.less";
  @import "fontoverride/ssc/components/c-USPBubbleDisplay.less";
  @import "fontoverride/ssc/components/c-landingBackgroundContainer.less";
  @import "fontoverride/ssc/components/c-herobannerLanding.less";
  @import "fontoverride/ssc/components/c-brochureLanding.less";
  @import "fontoverride/ssc/components/c-presentationDMPLanding.less";
  @import "fontoverride/ssc/components/c-landing-teaser.less";
  @import "fontoverride/ssc/components/c-landingPlanningCruise.less";
  @import "fontoverride/ssc/components/c-localizedPhoneDisplay.less";
  @import "fontoverride/ssc/components/c-destinationSwitchableBlock.less";
  @import "fontoverride/ssc/components/c-lightboxButton.less";
  @import "fontoverride/ssc/components/c-exclusiveOfferList.less";
  @import "fontoverride/ssc/components/c-teaserCustom.less";
  @import "fontoverride/ssc/components/c-findTravelAgent.less";
  @import "fontoverride/ssc/components/c-eoMainInformations.less";
  @import "fontoverride/ssc/components/c-eoBoxes.less";
  @import "fontoverride/ssc/components/c-customteaser.less";
  @import "fontoverride/ssc/override/components/c-button.less";
  @import "fontoverride/ssc/override/global/font.less";
  @import "fontoverride/ssc/override/components/c-announcement.less";
  @import "fontoverride/ssc/override/template/t-destination.less";
  @import "fontoverride/ssc/override/components/c-findyourcruise.less";
  @import "fontoverride/ssc/override/template/t-exclusiveOffer.less";
  @import "fontoverride/ssc/override/components/included/c-footer.less";
  @import "fontoverride/ssc/override/components/included/c-header.less";
  @import "fontoverride/ssc/override/template/t-simplePage.less";
  @import "fontoverride/ssc/override/components/c-tab.less";
  @import "fontoverride/ssc/override/components/c-form.less";
  @import "fontoverride/ssc/override/template/t-cruise.less";
  @import "fontoverride/ssc/override/components/c-teaser.less";
  @import "fontoverride/ssc/override/template/t-combocruise.less";
  @import "fontoverride/ssc/override/components/c-brochureTeaserList.less";
  @import "fontoverride/ssc/landing-pages.less";
  @import "fontoverride/ssc/override/global/modal-custom.less";
  @import "fontoverride/ssc/components/c-inlinegalleryLanding.less";
  @import "fontoverride/ssc/components/c-singleVoyageCards.less";
  @import "fontoverride/ssc/components/c-exclusiveOfferBoxes.less";
  @import "fontoverride/ssc/components/c-smartButton.less";
  @import "coloroverride/com/rte.less";
  @import "coloroverride/com/included/c-modaldetail.less";
  @import "coloroverride/com/general.less";
  @import "coloroverride/com/rte.less";
  @import "coloroverride/com/components/c-chosen.less";
  @import "coloroverride/com/components/c-form.less";
  @import "coloroverride/com/components/c-area-property-display.less";
  @import "coloroverride/com/components/c-exclusive-offers.less";
  @import "coloroverride/com/components/c-find-your-cruise/c-fyc-pagination.less";
  @import "coloroverride/com/components/c-find-your-cruise/c-fyc-result-header.less";
  @import "coloroverride/com/components/c-find-your-cruise/c-fyc-result-item.less";
  @import "coloroverride/com/components/c-find-your-cruise/c-fyc-filter.less";
  @import "coloroverride/com/components/c-brochures-list.less";
  @import "coloroverride/com/components/c-suite-variation.less";
  @import "coloroverride/com/components/c-header.less";
  @import "coloroverride/com/components/c-blogpostlist.less";
  @import "coloroverride/com/components/c-blogpostteaser.less";
  @import "coloroverride/com/components/c-teaser.less";
  @import "coloroverride/com/components/c-burger-nav.less";
  @import "coloroverride/com/components/c-main-nav.less";
  @import "coloroverride/com/components/c-quote-request.less";
  @import "coloroverride/com/components/c-call.less";
  @import "coloroverride/com/components/c-subscribe.less";
  @import "coloroverride/com/components/c-list.less";
  @import "coloroverride/com/components/c-list-inline.less";
  @import "coloroverride/com/components/c-list-group.less";
  @import "coloroverride/com/components/c-pageheader.less";
  @import "coloroverride/com/components/c-pagination.less";
  @import "coloroverride/com/components/c-tab.less";
  @import "coloroverride/com/components/c-accordion.less";
  @import "coloroverride/com/components/c-brochures.less";
  @import "coloroverride/com/components/c-voyagejournalday.less";
  @import "coloroverride/com/components/c-cookie.less";
  @import "coloroverride/com/components/c-slider.less";
  @import "coloroverride/com/components/c-sidemenu.less";
  @import "coloroverride/com/components/c-pressreleaseslist.less";
  @import "coloroverride/com/components/c-pagination-number.less";
  @import "coloroverride/com/components/c-vertical-teaser.less";
  @import "coloroverride/com/components/c-hero-banner.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-general.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-header.less";
  @import "coloroverride/com/components/c-cruise/c-cruiseoverview.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-tab.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-suitelist.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-suitelist-collapse-content.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-footnotes.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-ship-overview.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-ship-info.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-highlights.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-keypeople.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-photovideo.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-itineraries.less";
  @import "coloroverride/com/components/c-cruise/c-cruise-landnprograms.less";
  @import "coloroverride/com/components/c-annoucement.less";
  @import "coloroverride/com/components/c-search-cruise.less";
  @import "coloroverride/com/components/c-search-hero.less";
  @import "coloroverride/com/components/c-variationassetdisplay.less";
  @import "coloroverride/com/components/c-gallery.less";
  @import "coloroverride/com/components/c-combo-cruise/c-combo-cruise-tab.less";
  @import "coloroverride/com/components/c-combo-cruise/c-combo-cruise-header.less";
  @import "coloroverride/com/components/c-combo-cruise/c-combo-cruise-general.less";
  @import "coloroverride/com/components/c-combo-cruise/c-combo-cruise-overviewtab.less";
  @import "coloroverride/com/components/c-combo-cruise/c-combo-cruise-routestab.less";
  @import "coloroverride/com/components/c-find-port.less";
  @import "coloroverride/com/components/c-video.less";
  @import "coloroverride/com/components/c-quote-request-side.less";
  @import "coloroverride/com/components/c-tabbed-mozaic.less";
  @import "coloroverride/com/components/c-language-selector.less";
  @import "coloroverride/com/components/c-mozaic-slider.less";
  @import "coloroverride/com/components/c-inline-gallery";
  @import "coloroverride/com/components/c-search-result";
  @import "coloroverride/com/components/c-search-navigation";
  @import "coloroverride/com/components/c-archives.less";
  @import "coloroverride/com/components/t-port.less";
  @import "coloroverride/com/components/c-modal.less";
  @import "coloroverride/com/footer-v2.less";
  @import "coloroverride/com/components/c-single-dining.less";
  @import "coloroverride/com/components/c-dining-slider.less";
  @import "coloroverride/com/components/c-single-suite.less";
  @import "coloroverride/com/components/c-suite-slider.less";
  @import "coloroverride/com/included/c-modaldetail.less";
  @import "coloroverride/com/components/c-steveandsilversea.less";
  @import "coloroverride/ssc/modal-EO-adaptation.less";
  @import "coloroverride/ssc/general-override.less";
  @import "coloroverride/ssc/landing-pages.less";
  @import "coloroverride/ssc/globalFW.less";
  @import "coloroverride/ssc/deprecated.less";
  @import "coloroverride/ssc/components/c-whySilverseaLanding.less";
  @import "coloroverride/ssc/components/c-testimonial.less";
  @import "coloroverride/ssc/components/c-teaserCustom.less";
  @import "coloroverride/ssc/components/c-socialdisplay.less";
  @import "coloroverride/ssc/components/c-sliderOuterArrowAdaptation.less";
  @import "coloroverride/ssc/components/c-singleVoyageCards.less";
  @import "coloroverride/ssc/components/c-signatureTeaser.less";
  @import "coloroverride/ssc/components/c-searchheroCustom.less";
  @import "coloroverride/ssc/components/c-mozaicSlider.less";
  @import "coloroverride/ssc/components/c-landingPlanningCruise.less";
  @import "coloroverride/ssc/components/c-landingBackgroundContainer.less";
  @import "coloroverride/ssc/components/c-landing-teaser.less";
  @import "coloroverride/ssc/components/c-inlinegalleryLanding.less";
  @import "coloroverride/ssc/components/c-herobannerLanding.less";
  @import "coloroverride/ssc/components/c-findTravelAgent.less";
  @import "coloroverride/ssc/components/c-exclusiveOfferList.less";
  @import "coloroverride/ssc/components/c-exclusiveOfferBoxes.less";
  @import "coloroverride/ssc/components/c-eoMainInformations.less";
  @import "coloroverride/ssc/components/c-eoBoxes.less";
  @import "coloroverride/ssc/components/c-destinationsMap.less";
  @import "coloroverride/ssc/components/c-destinationSwitchableBlock.less";
  @import "coloroverride/ssc/components/c-customteaser.less";
  @import "coloroverride/ssc/components/c-brochureLanding.less";
  @import "coloroverride/ssc/components/c-USPBubbleDisplay.less";
  @import "coloroverride/ssc/override/components/c-form.less";
  @import "coloroverride/ssc/override/components/c-slider.less";
  @import "coloroverride/ssc/override/components/c-tab.less";
  @import "coloroverride/ssc/override/template/t-cruise.less";
  @import "coloroverride/ssc/override/template/t-combocruise.less";
  @import "new-design/general.less";
  @import "new-design/components.less";
  @import "new-design/suitecards.less";


}

html.aToBTmp {
  &:not(.aem-AuthorLayer-Edit) {
    body.abTestManual {
      .manualAVersion {
        display: none !important;
      }
      .manualBVersion {
        display: block !important;
      }
    }

    .destination .ab-test-global-v1, .ship .ab-test-global-v1, .destination .slider.parbase .c-slider, .ship .slider.parbase .c-slider {
      display: none !important;
    }

    .destination .ab-test-global-v2, .ship .ab-test-global-v2 {
      display: block !important;
    }
  }

  @media screen and (min-width: 991px){
    .ship .c-inlinegallery.c-slider, .destination .c-inlinegallery.c-slider {
      max-width:1152px !important;
    }
  }

  @media (min-width:991px){
    .destination .c-inlinegallery.c-slider.arrowProgressBarDesktopFullWidth .slick-dots, .ship .c-inlinegallery.c-slider.arrowProgressBarDesktopFullWidth .slick-dots {
      width:930px;
    }
}

  @media(max-width: 990px) and (min-width: 768px) {
    .slider .c-slider.slick-initialized.slick-slider.slick-dotted .slick-arrow {
      display: none !important;
    }
  }

  @media screen and (max-width: 2000px) and (min-width: 992px){
    .destination .c-inlinegallery.c-slider .slick-next, .ship .c-inlinegallery.c-slider .slick-next {
      right: -40px;
      left: auto;
      margin:auto;
    }
    .destination .c-inlinegallery.c-slider .slick-prev, .ship .c-inlinegallery.c-slider .slick-prev {
      left: -40px;
      right: auto;
      margin:auto;
    }
  }

  @media (max-width:767px){
    .c-fyc-filter button.btn.btn-dark.effect, .c-fyc-filter button.btn.btn-block.dropdown-toggle {
      border-radius:0px;
    }
    .containerDownArrow {
      display:none;
    }
    .c-fyc-filter .chosen-container.chosen-container-single a.chosen-single {
      border-radius:0px;
    }
    .destination .c-inlinegallery.c-slider .slick-slide>div, .ship .c-inlinegallery.c-slider .slick-slide>div {
      margin:0;
    }
    .destination .c-inlinegallery.c-slider, .ship .c-inlinegallery.c-slider  {
      margin-bottom:15px;
      width:100vw;
    }
    .destination .c-hero-banner-destination-image-container, .ship .c-hero-banner-destination-image-container {
      display:none;
    }
    .destination .c-fyc-filter, .ship .c-fyc-filter  {
      margin-top: 0px !important;
    }
    .destination .c-inlinegallery, .ship .c-inlinegallery {
      display:none !important;
    }
    .destination .forceVisibleIG, .ship .forceVisibleIG {
      display:block !important;
    }
  }

  @media (max-width: 767px) {

    .slider .c-slider.slick-initialized.slick-slider.slick-dotted .slick-arrow.slick-prev:after {
      width: 25px;
      height: 25px;
      border-left: 0 solid transparent;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      border-top: 0 solid transparent;
      opacity: .6;
      content: " ";
      right: 0;
      transform: rotateZ(135deg);
      border-color: #171D47 !important;
    }

    .slider.parbase.aem-GridColumn.aem-GridColumn--default--12 .c-slider.slick-initialized.slick-slider.slick-dotted .slick-arrow.slick-next:after {
      width: 25px;
      height: 25px;
      border-left: 0 solid transparent;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      border-top: 0 solid transparent;
      opacity: .6;
      content: " ";
      left: 0;
      transform: rotateZ(-45deg);
      border-color: #171D47 !important;
    }
    .slider .c-slider.slick-initialized.slick-slider.slick-dotted .slick-arrow.slick-prev {
      left: -100px !important;
    }
    .slider.parbase.aem-GridColumn.aem-GridColumn--default--12 .c-slider.slick-initialized.slick-slider.slick-dotted .slick-arrow.slick-next {
      right: -95px !important;
    }
  }


  .c-tab__body .port_v2 .port_v2__section_header_separator {
    display: none !important;
  }
  .c-tab__body .port_v2 .port_v2__desc .btn {
    display: none !important;
  }
  .c-tab__body .port_v2 #port_v2__stats {
    display: none !important;
  }
  .c-tab__body .port_v2 .port_v2__section_title:before {
    background: none !important;
  }
  .c-tab__body .port_v2 .btn.btn-dark {
    color: #171D47 !important;
    background-color: white !important;
    border: 1px solid rgba(23, 29, 71, 0.2) !important;
  }
  .c-tab__body .port_v2 .btn.btn-dark:hover {
    border: 1px solid #171d47 !important;
    color: #171D47 !important;
  }
  .c-tab__body .port_v2 .ab-test-intro-silversea-to-show {
    display: block !important;
  }
  .c-tab__body .port_v2 .ab-test-intro-silversea-to-hide {
    display: none !important;
  }


  @media (max-width:991px) {
    .port_v2__postcarousel .slick-dots {
      width: 95% !important;
    }
  }

  @media (max-width:991px) and (min-width:768px) {
    .c-fyc-v2__result__content__price .price-suffixe {
      font-size:9px;
      letter-spacing: -0.2px;
    }
  }


  //Other lang fixes
  &.es, &.fr, &.de, &.pt-BR {
    .c-search-hero__form .btn {
      font-size: 12px !important;
      font-weight: normal !important;
      padding: 14px 11px 11px 11px !important;
      @media (min-width:768px) and (max-width:991px){
        font-size: 11px !important;
        letter-spacing: -0.1px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
      }
    }

    @media (max-width: 991px) and (min-width: 768px){
      .c-fyc-v2__result .c-fyc-v2__result__content .c-fyc-v2__result__content__button .btn {
        font-size: 12px !important;
        letter-spacing: 0.5px !important;
        padding-left: 13px !important;
        padding-right: 13px !important;
      }

      .heroBannerDestinationND .c-hero-banner-destination__title {
        width:59% !important;
      }

      .c-footer-other-link .other-link-accordion-title {
        letter-spacing: 1px !important;
      }
    }

    .row.c-suitelist__row-card .c-suitelist__content .c-suitelist__button-card {
          max-width: 210px !important;
        }

    .row.c-suitelist__row-card .c-suitelist__content .c-suitelist__button-card a.btn, .cruise__header .cruise__header__desc .cruise__header__cta .btn {
      max-width: 210px !important;
      letter-spacing: 1px;
      padding-left: 8px!important;
      padding-right: 8px !important;
      font-size: 12px !important;
    }

  }
}
