/*
COLORS
*/

@nd-red: #D60524;
@nd-red-darker: #BA001C;
@nd-dark: #263133;
@nd-light: #FFFFFF;
@nd-light-bg: #F4F4F4;


@black: #000;

/*
FONTS
*/

@suisse: 'Suisse Regular', sans-serif;


/*
BUTTONS
*/

@nd-button-padding: 10px 17px 10px 17px;
@nd-button-border-radius: 0px;
@nd-button-border-width: 0px;
@nd-button-line-height: 16px;
@nd-button-font-size: 13px;
@nd-button-letter-spacing: 1.5px;




/**
OLD STUFF
*/

@bold-l: 600;
@screen-sm: 767px;
@white: #fff;
@grey--9: #999;
@grey--f4: #f4f4f4;
@grey--8: #888;
@grey--e6: #e6e6e6;
