<style>
    .floating-form {
        bottom: ${currentStyle.bottomPadding || "1000"  @ context="unsafe"}px;
    }
</style>
<div data-sly-test="${wcmmode.edit || wcmmode.design}" class="cq-placeholder" data-emptytext="Floating Brochure"></div>
	<sly data-sly-use.floatingbrochure="com.silversea.aem.components.included.FloatingBrochureUse" />
    <sly data-sly-test.isunDefined="${!pageProperties.showFloatingBrochure}"/>
    <sly data-sly-test.defaultValue="${pageProperties.showFloatingBrochure == 'blank'}"/>
    <sly data-sly-test.defaultShowValue="${pageProperties.showFloatingBrochure == 'show'}"/>
    <div class="floating-brochure-ab-no-display" id="floating-brochure">
        <sly data-sly-test="${defaultValue || isunDefined}">
            <sly data-sly-test="${currentStyle.showFloatingBrochure == 'true'}">
            <div class="floating-form" id="floating_form" data-scrolltop="${currentStyle.scrollTop}" data-flyout-tag-whitelist = "${floatingbrochure.whiteListArray}" data-flyout-tag-blacklist="${floatingbrochure.blackListArray}">
                <div class="floating-opener" id="floating-brochure-opener"><i class="fa fa-close"></i> ${'brochures' @ i18n}</div>
                <div class="sliding-form">
                    <div class="floating-form-heading">${'floating-brochure-ctatext' @ i18n}</div>
                    <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" data-sly-call="${imageTemplate.default @ imagePath=currentStyle.image}"/>
                    <sly data-sly-use.floatingbrochure="com.silversea.aem.components.included.FloatingBrochureUse" />
                    <button class="flyout_cta flyout_cta btn btn-dark btn-block effect" id="floating-brochure-cta"><a data-sly-test=${floatingbrochure.brochuresPagePath} class="flyout_link" href="${floatingbrochure.brochuresPagePath @ extension='html'}">${'view-our-brochures' @ i18n}</a></button>
                </div>
            </div>
            </sly>
        </sly>
    </div>
    <sly data-sly-test="${defaultShowValue}">
        <div class="floating-form" id="floating_form" data-flyout-tag-list="${pageProperties.cssSelector}">
            <div class="floating-opener"><i class="fa fa-close"></i> ${'brochures' @ i18n}</div>
            <div class="sliding-form">
                <div class="floating-form-heading">${'floating-brochure-ctatext' @ i18n}</div>
                <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" data-sly-call="${imageTemplate.default @ imagePath=currentStyle.image}"/>
				<button class="flyout_cta flyout_cta btn btn-dark btn-block effect" id="floating-brochure-cta"><a data-sly-test=${floatingbrochure.brochuresPagePath} class="flyout_link" href="${floatingbrochure.brochuresPagePath @ extension='html'}">${'view-our-brochures' @ i18n}</a></button>
            </div>
        </div>
    </sly>
