<footer class="c-footer">
    <div class="container">
        <section class="o-section">
            <div class="aem-Grid aem-Grid--12">
                <div class="aem-GridColumn aem-GridColumn--default--12">
                    <div class="row">
                        <div class="col-xs-12 c-callbox-footer">
                            <a href="#" class="visible-sm-block o-img--center">
                                <img src="" alt="logo"/>
                            </a>
                            <p class="c-callbox-footer__msg--desktop">
                                Call our Reservation Team: 01 70 70 96 22<br />
                                or your travel agent
                            </p>
                            <p class="c-callbox-footer__msg--mobile">
                                <a href="#" >Click to call: 01 70 70 96 22</a>
                            </p>
                        </div>
                        <div class="col-xs-6 col-xs-offset-3 col-sm-10 col-sm-offset-1">
                            <div class="c-list c-list--center c-list--tablet-inline">
                                <ul class="c-list__group c-list__group--important">
                                    <li class="c-list__item c-list__item--normal">
                                        © 2017 Silversea Cruises Ltd.
                                    </li>
                                    <li class="c-list__item c-list__item--important">
                                        <a href="#">Imprint</a>
                                    </li>
                                    <li class="c-list__item c-list__item--important">
                                        <a href="#">Terms and condition</a>
                                    </li>
                                    <li class="c-list__item c-list__item--important">
                                        <a href="#">Private Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>