<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Slider"></div>
<sly data-sly-use.sliderTemplate="slidertemplate.html" data-sly-call="${sliderTemplate.default}" />
<script data-sly-test="${properties.marginBottom}">
	$( document ).ready(function() {
		var marginBottomSlider = '${properties.marginBottom || 0 @ context="unsafe"}px';
		$('#c-slider-${properties.sscUUID  || properties.jcr:uuid  @ context="unsafe"}').parent().css("margin-bottom", marginBottomSlider);
	});
</script>
<script data-sly-test="${properties.mobileSliderGeolocalized}">
	if(window.dataLayer[0].user_country=="US") {
		$('div.c-slider').addClass('c-slider--first-slide-only');
	}
</script>
