<sly data-sly-use.suiteUse="com.silversea.aem.components.page.SuiteUse" data-sly-unwrap />
<div class="container">
    
    <div class="row">
        
        <div class="col-sm-3">
           <div data-sly-resource="${'menu' @ resourceType='/apps/silversea/silversea-com/components/editorial/menu'}"></div>
        </div>
        
        <div class="col-sm-9">
           <div data-sly-resource="${'propertyDisplay' @ resourceType='/apps/silversea/silversea-com/components/displayproperties/suiteareapropertydisplay'}"></div>
            
            <section class="o-section c-availability">
                <p class="c-availability__title">${'available-on' @ i18n}</p>
                <div class="container-fluid">
                    <ul class="row c-list">
                        <sly data-sly-list.child="${suiteUse.suiteReferenceList}" data-sly-unwrap>
                            <li class="col-md-4 c-list__item">
                                <a href="${diningUse.diningReferenceList[child]}" class="c-availability__link">${child}
                                    <i class="fa fa-lg fa-angle-right"></i>
                                </a>
                            </li>
                        </sly>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>