_:-ms-lang(x),
.fares {
    color: @grey--39;
}

.c-fyc-pagination {
    ul {
        li {
            a {
                &:hover,
                &.active {
                    background-color: @black;
                    border-color: @grey--d;
                    color: @white;
                }
            }
        }
    }
}