  <div class="top-banner">
    <div class="banner-holder">
      <div class="banner-simple banner-with-background standard-height clearfix" style="background-image: url(/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX5071.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h1 class="big-title text-white full-separator text-uppercase text-center text-sm-left">Antarctica Cruises</h1>
              <h2 class="big-subtitle text-white m-t-1 text-center text-sm-left">Expedition Voyages to the Ends of the Earth</h2>
            </div>
            <div class="col-xs-12 col-sm-5">
            </div>
          </div>
          <div class=" attach-bottom">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-7"> </div>
                <div class="col-xs-12 col-md-5 text-center text-md-right">
                  <button class="btn_base btn_base-md btn_base-tcenter btn_base-md_responsive upcase btn-borders" data-open-slideshow="true" data-event-category="Gallery" data-ga-track-event="click" data-event-action="click" data-event-label="view gallery">VIEW GALLERY</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="simple-band text-center container p-b-2x">
    <p class="text-big">It is the journey of a lifetime in the truest sense of these words. To revel in the awe-inspiring beauty and overwhelming power of nature, to admire the staggering profusion of wildlife, and to meet the personal challenge of reaching the Earth's last great wilderness frontier.</p>
    <div data-sly-resource="${'parAfar1' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
  </div>

  <div class="banner-simple banner-with-background vertical-bottom standard-height clearfix text-white" style="background-image: url(/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3958_UC1505.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <span class="big-subtitle text-center text-md-left"><i>Our expedition</i></span>
          <h2 class="big-title text-white small-separator text-center text-md-left">USHUAIA <br />to USHUAIA</h2>
        </div>
        <div class="col-xs-12 col-md-4">
          <p class="text-justify text-big text-center text-md-left m-t-2">Follow in the footsteps of Scott, Fiennes and Admunsen and set foot on the great white continent of Antarctica; home to heart-stopping landscape, fertile marine waters and huge rivers of ice.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container simple-band">
    <div class="row">
      <div class="col-xs-12 col-md-6 voyage-map-container">
        <img src="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/ECM_185920_1722_EN_1-468x360.jpg" />
      </div>
      <div class="col-xs-12 col-md-6 expedition-info-box-container">
        <h4>EXPEDITION INFORMATION</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-4 expedition-info-box">
            <span class="box-title">WHERE</span>
            <span class="box-value">Antarctica</span>
          </div>
          <div class="col-xs-12 col-sm-4 expedition-info-box">
            <span class="box-title">DEPARTURE</span>
            <span class="box-value"> 11 Dec 2017</span>
          </div>
          <div class="col-xs-12 col-sm-4 expedition-info-box">
            <span class="box-title">DURATION</span>
            <span class="box-value">10 days</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 expedition-info-box double-height">
            <span class="box-title">SHIP</span>
            <span class="box-value">Silver Cloud Expedition</span>
            <span class="box-extra-value">Voyage 1722</span>
          </div>
          <div class="col-xs-12 col-sm-8 expedition-info-box double-height" data-sly-use.use="com.silversea.aem.components.editorial.SignUpUse">
            <span class="box-title">FARES STARTING FROM</span>
            <span class="box-value price-value" data-sly-test="${use.siteCurrency == 'USD'}" >US$ ${properties.usdprice}</span>
            <span class="box-value price-value" data-sly-test="${use.siteCurrency == 'AUD'}" >AU$ ${properties.audprice}</span>
            <span class="box-value price-value" data-sly-test="${use.siteCurrency == 'GBP'}" >£ ${properties.gbpprice}</span>
            <span class="box-value price-value" data-sly-test="${use.siteCurrency == 'Euro'}" >€ ${properties.eurprice}</span> 	
            <div data-sly-resource="${'parAfar2' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
            </div>

        </div>
      </div>
    </div>
  </div>

<div class="container light-band">
    <div class="row box-card-container info-box-well-container">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="box-card">
            <div class="card-body">
              <div class="card-title right-arrow">A TASTE OF YOUR ITINERARY</div>
              <div class="card-content"><ul><li>Marvel at spectacular iceberg sculptures and calving glaciers</li><li>Set foot on the continent of Antarctica</li><li>Visit historic sites of the early explorers and the remains of whaling operations</li><li>Witness the stark raw beauty and staggering wildlife of Antarctica</li><li>Follow in the footsteps of the great Antarctic explorers:<br /> de Gerlache, Shackleton, Stromness and Weddell</li></ul></div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="box-card">
            <div class="card-body">
              <div class="card-title left-arrow">MEET YOUR WILDLIFE</div>
              <div class="card-content"><ul><li>Watch for humpback, minke, orca, pilot and beaked whales</li><li>Identify seabirds including albatross, shearwaters and petrels</li><li>Encounter Gentoo, Adelie and Chinstrap Penguins</li><li>Watch for seals and dolphins</li></ul></div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container simple-band">
    <div class="row box-card-container">
              <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="box-card">
            <div class="card-image">
              <img src="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3870.jpg" />
            </div>
            <div class="card-body">
              <div class="card-title">Zodiac Cruising:<br /> the best way to explore</div>
              <div class="card-content"><p>Cruise amidst colourful icebergs or step ashore to visit a variety of penguin rookeries and perhaps scientific research stations on complimentary excursions led by our team of natural history experts. Silver Cloud’s fleet of small, inflatable, rubber motorised crafts are swift, stable and manoeuvrable. Ideal for navigating hard to access places, Zodiacs offer the intrepid explorer a chance to get an in-depth feel of the Antarctic.</p></div>
            </div>
          </div>
        </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="box-card">
            <div class="card-image">
              <img src="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/ss7029.jpg" />
            </div>
            <div class="card-body">
              <div class="card-title">The only Relais et Châteaux restaurant in Antarctica</div>
              <div class="card-content"><p>The world’s southernmost Relais & Châteaux restaurant can only be found aboard Silver Cloud. After a day of trekking through tundra and whale watching, indulge in an evening of palette pampering, where fine wines are complemented by a set tasting menu of regionally-inspired dishes in an intimate, elegant setting. An extraordinary six-course experience celebrating the world’s most distinguished wine regions complete what is surely the finest dining at sea.</p></div>
            </div>
          </div>
        </div>
          </div>
  </div>

  <div class="container light-band">
    <div class="row box-testimonials-container">
              <div class="col-xs-12 col-md-6">
          <div class="box-testimonial">
            <blockquote class="quote">Seeing Orcas in the true Frozen Planet. Exceptional. Life-Changing. <br />We still have so much to learn from Nature.</blockquote>
            <div class="author">Stella Matthew</div>
          </div>
        </div>
              <div class="col-xs-12 col-md-6">
          <div class="box-testimonial">
            <blockquote class="quote">No words that I can write nor pictures that I can show will ever capture the magic, the feeling and the mood of Antarctica.</blockquote>
            <div class="author">Michael Hearne</div>
          </div>
        </div>
          </div>
  </div>

  <div class="container">
    <hr />
  </div>

  <div class="simple-band text-center container">
    <h3 class="sv_v3__subtitle text-center small-centered-separator">CRUISE ITINERARY</h3>
    <p class="text-big">Your expedition will lead to one discovery after another. A complimentary programme of unique, small-group shore experiences, led by our team of expert guides and lecturers, allows you to fully experience the lands you’ll visit.</p>
  </div>

  <div class="itinerary-full-width-slider" data-day-label="Day">
        <div data-day="1" data-is-day-step="1">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/500676996.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 1</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Ushuaia</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="1">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="1">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            At 55 degrees latitude south, Ushuaia (pronounced oo-swy-ah; the Argentines don't pronounce the "h") is closer to the South Pole than to Argentina's northern border with Bolivia. It is the capital and tourism base for Tierra del Fuego, the island at the southernmost tip of Argentina. Although its stark physical beauty is striking, Tierra del Fuego's historical allure is based more on its mythical past than on rugged reality. The island was inhabited for 6,000 years by Yámana, Haush and Selk'nam. But in 1902, Argentina, eager to populate Patagonia to bolster its territorial claims, moved to initiate an Ushuaian penal colony, establishing the permanent settlement of its most southern territories and, by implication, everything in between.          </p>
        </div>
      </div>
    </div>

      <div data-day="2" data-is-day-step="1">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3561.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 2</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Drake Passsage Crossing</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="2">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="2">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            The Drake Passage has a notorious reputation for its turbulent seas due to the westerly winds and the funnelling effect of the passage’s seafloor. While crossing the Drake Passage we will encounter the Antarctic Convergence, a natural boundary between cold polar water flowing northward and warmer equatorial water moving southward. The Antarctic Convergence is not a fixed line but moving depending on the season. Where these two currents meet, nutrients are pushed to the surface, often attracting a multitude of seabirds and whales. Spend some time on deck watching the horizon and Black-browed Albatross, Sooty Shearwaters and White-chinned Petrels gliding in the air currents of Silver Cloud’s wake. Have your camera ready to capture the magical colour of a late night sunsets.          </p>
        </div>
      </div>
    </div>

      <div data-day="3" data-is-day-step="1">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/Day3.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 3</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Drake Passage Crossing</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="3">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="3">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            Taking advantage of the day at sea, the Expedition Team will present talks that will prepare you for the exciting adventures ahead.  Birders out on deck want to keep an eye out for Black-browed Albatross, Southern Giant Petrels and Cape Petrels. <br />Tonight, you are invited to attend a special Welcome Aboard cocktail party hosted by the Captain, who will introduce his senior officers and various members of the Silver Cloud crew.          </p>
        </div>
      </div>
    </div>

      <div data-day="4-6" data-is-day-step="1">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3507.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 4-6</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Antarctic Sound</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="4">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="4">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            A flexible itinerary allows us to take advantage of favourable sea and weather conditions. In the true spirit of expedition cruising, each day the Expedition Leader and Captain will determine our best course depending on weather, ice conditions and wildlife we may encounter. <br />On Day 4, with conditions permitting, we might visit Aitcho Islands and the South Shetland Islands (just off the Antarctic Peninsula at the entrance to the English Strait).<br />Penguin species here include Gentoo and Chinstrap. Other annual seabirds include the Southern Giant Petrels. While heading back to the ship, you may have company as a leopard seal follows alongside your group’s Zodiac.          </p>
        </div>
      </div>
    </div>

      <div data-day="4-6" data-is-day-step="">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-antarctica-cruise-south-shetland-island-gentoo-penguins.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 4-6</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Brown Bluff, Tabarin Peninsula</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="5">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="5">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            Brown Bluff is an ice-capped, 745-metre-high, flat-topped mountain with a prominent cliff of reddish-brown volcanic rock. Located on the Tabarin Peninsula the bluff (a steep cliff)  spans 2,200-feet. Adelie and Gentoo Penguins, Kelp Gulls, and Cape Petrels use this as a breeding area and birds such as the all-white Snow Petrel and skuas may be seen from a distance.  As you explore the area, Weddell seals may be seen basking in the sunlight. Wait long enough and you will see the Adelie Penguins standing along the shore finally making their way into the surf.<br />If conditions permit, we might hike onto the nearby glacier.          </p>
        </div>
      </div>
    </div>

      <div data-day="4-6" data-is-day-step="">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX0750.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 4-6</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Paradise Bay (Antarctic Peninsula)</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="6">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="6">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            The bay is well named for its spectacular scenery of mountains, glaciers and icebergs. From the ship, observe Argentina’s “Base Brown”, and the Chilean station “Gonzalez Videla”, two of many Antarctic research stations manned periodically. Here, you can actually set foot on mainland Antarctica. View the wildlife from sea level while cruising in your Zodiac with one of our experienced Expedition Team members. There’s a good chance you will come across a crabeater seal relaxing on a nearby ice floe, or if you are very lucky, your Zodiac driver may locate a Minke whale.          </p>
        </div>
      </div>
    </div>

      <div data-day="7" data-is-day-step="1">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3943.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 7</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Petermann Island, Wilhelm Archipelago</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="7">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="7">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            The island is named for German geographer August Petermann and was first discovered by a German expedition in 1873-74. Our on-board geologist will take the opportunity to point out various geological features. Rock surfaces show glacial polish, some glacial grooving and nice samples of frost shattering. <br />During our landing, we will be able to observe rookeries of Adelie Penguins, Gentoo Penguins and Blue-eyed Shags. A hike to the top will give views of extensive iceberg areas towards the open waters.          </p>
        </div>
      </div>
    </div>

      <div data-day="8" data-is-day-step="1">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3955.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 8</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Deception Island</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="8">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="8">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            Deception Island is an excellent example of a caldera that can be reached from the sea. We plan to sail inside the caldera through a narrow entrance called Neptune’s Bellows.<br /><br />Our Geologist might take the opportunity to explain the unique volcanic features of the area, while our Historian will introduce you to Deception Island’s interesting history -from whaling to scientific studies. Still visible on the island are the boilers used to make whale oil in the early 1900s.          </p>
        </div>
      </div>
    </div>

      <div data-day="9" data-is-day-step="1">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX2517.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 9</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Drake Passage Return</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="9">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="9">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            Navigating our return through the Drake Passage, we will watch for seabirds and wildlife we may have missed on the first leg. Take the opportunity to attend additional presentations offered by the Expedition Team lecturers and to swap photos with new friends as we travel towards Ushuaia.          </p>
        </div>
      </div>
    </div>

      <div data-day="10" data-is-day-step="1">
      <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3956.jpg" />

      <div class="slide-content">
        <div class="slide-header">
          <div class="title">Day 10</div>
          <div class="location"><i class="fa fa-flag-o"></i> <span>Drake Passage Return</span></div>
          <div class="read-more-button-container">
            <button class="btn btn-primary btn-small read-more" data-slide-expand="true" data-slide-index="10">READ MORE</button>
            <button class="btn btn-primary btn-small close-read-more" data-slide-expand="true" data-slide-index="10">CLOSE</button>
          </div>
        </div>
        <div class="body">
          <p>
            Traversing Drake’s eponymous passage is a must for any explorer. By now you will have found your sea legs so have your binoculars and cameras ready on deck as you sail closer to home. Begin taking stock of what will have been a truly life changing experience.          </p>
        </div>
      </div>
    </div>

  </div>

<div class="container">
      <p class="text-center text-lightest m-t-1 m-b-0">A flexible itinerary allows us to take advantage of favourable sea and weather conditions. In the true spirit of expedition cruising, each day the Expedition Leader and Captain will determine our best course depending on weather, ice conditions and wildlife we encounter.</p>
    <hr />
</div>

<div class="light-band text-center container">
  <span class="sv_v3__subtitle sv_v3__subtitle_bigger text-center text-md-left">The Ship</span>
  <h3 class="sv_v3__subtitle text-center small-centered-separator text-uppercase">Silver Cloud</h3>
  <p class="text-big">Fully converted into an Ice Class ship, Silver Cloud is prepared to meet the challenge of Antarctica. With her ice-strengthened hull, she can navigate through ice floes and pack ice in complete safety. And distinctions such as five dining options and unrivalled service and space ratios ensure adventure travellers the exhilaration of exploring untrammelled destinations in unprecedented comfort and style.</p>
  <div class="ship-tech-details">
    <ul class="list-inline">
      <li>
        <label>GUESTS:</label>
        <span>200/260</span>
      </li>
      <li>
        <label>CREW:</label>
        <span>208</span>
      </li>
      <li>
        <label>LENGTH:</label>
        <span>514.14 Feet/156.7 Meters</span>
      </li>
     </ul>
  <br />
  <div data-sly-resource="${'parAfar5' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
  </div>
</div>

<div class="simple-band text-center container suites-slider">
  <h3 class="sv_v3__subtitle text-center small-centered-separator text-uppercase">Suites</h3>

  <div class="suites-secondary-slider" data-secondary-slider="1">
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-owner-suite-21-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-Grand-Suite-4-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-Royal-Suite-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-silver-suite-2-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-medallion-suite-2-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-veranda-suite-3-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-veranda-suite-2-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-Vista-suite-2-672x372.jpg" />
        </div>
          </div>
  <div class="suites-main-slider" data-primary-slider="1">
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-owner-suite-21-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Owner's Suite</div>
            <div class="content">
            <p>
            <strong>Dimension:</strong><br />
            <span class="dimension">One bedroom: 587 ft² / 55 m² incl. veranda (Veranda: 89 ft² / 8 m²) <br />Two bedroom: 827 ft² / 77 m² incl. veranda (Veranda: 89 ft² / 8 m²)</span>
            <strong>Up to 4 guests</strong>
            <br /><br />
            This stylish apartment offers the superlative in levels of space, comfort and service on board. A perfect mix of expedition experience with luxury lifestyle. Available as a one-bedroom configuration or as two bedroom by adjoining with a Vista Suite.</p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-Grand-Suite-4-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Grand Suite</div>
            <div class="content">
            <p>
            <strong>Dimension:</strong><br />
            <span class="dimension">One bedroom: 1,019 ft² / 95 m² including veranda (Veranda: 145 ft² / 14 m²) <br />Two bedroom: 1,314 ft² / 122 m² including veranda (Veranda: 194 ft² / 18.5 m²)</span>
            <strong>Up to 4 guests</strong>
            <br /><br />
            Expertly designed and exquisitely appointed. The ideal space for sharing stories with fellow explorers and new friends. With enough space to roam both in and outside, this suite is perfect relaxing and recounting the highlights of your day. Available as a one-bedroom configuration or as two-bedroom by adjoining with a Veranda Suite.</p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-Royal-Suite-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Royal Suite</div>
            <div class="content">
            <p>
            <strong>Dimension:</strong><br />
            <span class="dimension">One bedroom: 736 ft² / 69m² including veranda (Veranda 126 ft² / 12 m²) <br />Two bedroom: 1,031 ft² / 96m² including veranda (Veranda 175 ft² / 16,5 m²)</span>
            <strong>Up to 4 guests</strong>
            <br /><br />
            Stately. Commanding and majestic. Perfect for relaxing after a days’ exploring and looking through your photos. With lectures being streamed live to your room, this is the pinnacle of good living at sea. Available as a one-bedroom configuration or as two-bedroom by adjoining with a Veranda Suite.</p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-silver-suite-2-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Silver Suite</div>
            <div class="content">
            <p>
            <strong>Dimension:</strong><br />
            <span class="dimension">541 ft² / 50 m² Including veranda (Veranda: 92 ft² / 8 M²)</span>
            <strong>Up to 3 guests</strong>
            <br /><br />
            Stylish and sophisticated with larger verandas, excellent for taking pictures and bird-watching. Situated midship, this suite is perfection in design and comfortable living. A huge walk in wardrobe, two bathrooms and a spacious living area completes the picture. Silver Suites accommodate three guests.</p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-medallion-suite-2-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Medallion Suite</div>
            <div class="content">
            <p>
            <strong>Dimension:</strong><br />
            <span class="dimension">437 ft² / 40.6 m² Including veranda (Veranda: 81 ft² / 7.6 M²)</span>
            <strong>Up to 2 guests</strong>
            <br /><br />
            With a room configuration that favours watching the sun rise from the comfort of your bed and losing yourself in the mesmerising seascapes, this suite is the perfect answer to adventure cruising. A large walk-in wardrobe, and an expansive living make the Medallion Suite a your home away from home on the high seas. Medallion Suites accommodate three guests.</p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-veranda-suite-3-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Deluxe Veranda Suite</div>
            <div class="content">
            <p>
            <strong>Dimension:</strong><br />
            <span class="dimension">295 ft² / 27 m² including veranda (Veranda 49 ft²/ 4,5 m²)</span>
            <strong>Up to 3 guests</strong>
            <br /><br />
            A Silversea signature, with a preferred central location, the Veranda Suite is spacious and welcoming.Floor-to-ceiling glass doors open onto a furnished private teak veranda from where you can contemplate anything from the midnight sun to an antarctic sunrise. Some Veranda Suites accommodate three guests (Suites 505-510 and 605- 610). The Deluxe Veranda Suite offers preferred central location with identical accommodation to a Veranda Suite.</p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-veranda-suite-2-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Veranda Suite</div>
            <div class="content">
            <p>
            <strong>Dimension:</strong><br />
            <span class="dimension">295 ft² / 27 m² including veranda (Veranda 49 ft²/ 4,5 m²)</span>
            <strong>Up to 3 guests</strong>
            <br /><br />
            A Silversea signature, the Veranda Suite is spacious and welcoming. Floor-to-ceiling glass doors open onto a furnished private teak veranda from where you can contemplate anything from the midnight sun to an antarctic sunrise. Some Veranda Suites accommodate three guests (Suites 505-510 and 605- 610). The Deluxe Veranda Suite offers preferred central location with identical accommodation to a Veranda Suite.</p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silver-cloud-expedition-Vista-suite-2-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Vista Suite</div>
            <div class="content">
            <p>
            <strong>Dimension:</strong><br />
            <span class="dimension">240 ft² / 22m²</span>
            <strong>Up to 3 guests</strong>
            <br /><br />
            Your home away from home while you embrace the intrepid explorer within. The suite’s seating area has plenty of room to relax while you go over your notes, ready for the next adventure. Large picture windows frame panoramic ocean views, ideal for appraising the local wildlife.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
</div>

<div class="simple-band text-center container public-areas-slider">
  <h3 class="sv_v3__subtitle text-center small-centered-separator text-uppercase">Restaurants and Public Areas</h3>

  <div class="suites-secondary-slider" data-secondary-slider="1">
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-leChampagne-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/restaurant.RGB_color.0002_UC7073-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-laTerrazza-4-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-poolBarAndGrill-3-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-panoramaLounge-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/theatre_2.RGB_color.0003_UC7126-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-theBar-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-poolDeck-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-connoisseursCorner-2-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-spa-3-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-beautySalon-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-FitnessCentre-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-library-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-reception-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-internetCafe-1-672x372.jpg" />
        </div>
              <div>
          <img data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/Hi-Res_observation_UC.RGB_color.0006_UC71121-672x372.jpg" />
        </div>
          </div>
  <div class="suites-main-slider" data-primary-slider="1">
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-leChampagne-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Le Champagne</div>
            <div class="content">
              <p>
              The world’s southernmost Relais & Châteaux restaurant can only be found aboard the Silver Cloud. After a day of trekking through tundra and whale watching, indulge in an evening of palette pampering, where fine wines are complemented by a set tasting menu of regionally-inspired dishes in an intimate, elegant setting. An extraordinary six-course experience celebrating the world’s most distinguished wine regions complete what is surely the finest dining at sea.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/restaurant.RGB_color.0002_UC7073-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">The Restaurant</div>
            <div class="content">
              <p>
              Sparkling with tales of adventure, bonhomie and like-minded friends, The Restauant offers contemporary, international cuisine created by our most talented chefs. Menus feature regional specialities unique to the destinations guests visit on their cruise, so don’t be surpised to see a roasted Chilean Sea Bass while cruising the Chilean fjords. During days at sea, choose something from La Collection du Monde, a series of signature dishes created exclusively for Silversea cruises by the Grands Chefs Relais & Châteaux.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-laTerrazza-4-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">La Terrazza</div>
            <div class="content">
              <p>
              Offering the very best of Italian cuisine, La Terrazza’s freshly made authentic a la carte dishes are complimented by a wide range of complimentray wines, even in the most remote of destinations!               </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-poolBarAndGrill-3-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Pool Bar & Grill</div>
            <div class="content">
              <p>
              Casual and convenient. At the Pool Bar on board Silver Cloud, cocktails are served with soft ocean breezes. Poolside menu options feature light fare for lunch.               </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-panoramaLounge-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Panorama Lounge</div>
            <div class="content">
              <p>
              The Panorama Lounge is specially designed to provide an uninterrupted view of the day’s destination from the comfort of the luxury cruise ship’s interior. This is an ideal place to unwind on your cruise, enjoy afternoon tea, listen to the pianist and watch the setting sun. The drinks are complimentary, the music live and inviting. Enjoy dancing to a range of musical styles for every taste from standards to the latest club mixes.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/theatre_2.RGB_color.0003_UC7126-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Show Lounge</div>
            <div class="content">
              <p>
              Perfect for presentations, lectures and video screenings, this is where our team of dedicated experts share their knowledge on their specialised subject, not to mention their infectious passion and energy. Multi-tiered Venetian Lounge and banquette style seating ensure that you enjoy every minute of the talk and with lectures being streamed live to your suite if desired, this is one of the very few lecture theatres at sea theatre to combine such comfort with such technology.               </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-theBar-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">The Bar</div>
            <div class="content">
              <p>
              With complimentary cocktails and engaging conversation, live music and a dance floor, The Bar on board Silver Cloud  welcomes guests to mix and mingle. When living such unique experiences as these, there is never a dull moment!              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-poolDeck-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Pool Deck</div>
            <div class="content">
              <p>
              Chaise lounges arranged in the sun or shade. Bubbling whirlpools. The pool water refreshing in warmer climates, heated for cooler weather. The attentive staff at the ready with an oversized towel as you emerge from the pool, with your favourite beverage at just the right moment. This is expedition cruising as you have never experienced it before. What better way to watch the icebergs?              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-connoisseursCorner-2-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Connoisseur's Corner</div>
            <div class="content">
              <p>
              The Connoisseur’s Corner offers exceptional cognacs along with a premium selection of cigars for purchase.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-spa-3-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">The Spa at Silversea</div>
            <div class="content">
              <p>
              Relax your body and mind in this luxury cruise ship’s soothing spa sanctuary. Indulge in a wide range of invigorating therapies including facials, body wraps and massages. Appointments for spa services may be made on board the ship, or in advance via My Voyage. Men’s and women’s saunas and steam rooms are perfect for relaxing before your spa treatment or after your workout.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-beautySalon-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Beauty Salon</div>
            <div class="content">
              <p>
              A full range of Beauty Salon services is available for both men and women including hairstyling, manicures and pedicures.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-FitnessCentre-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Fitness Centre</div>
            <div class="content">
              <p>
              The Fitness Centre on board this luxury cruise ship is equipped with free weights, weight machines, state-of-the-art treadmills, elliptical trainers and recumbent and upright bicycles. Classes in aerobics, yoga, Pilates and circuit training are led by the onboard fitness trainer and are always complimentary. Personal training, body composition analysis and specialty classes are available at an additional charge on board all luxury cruises.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-library-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Library</div>
            <div class="content">
              <p>
              If attending lectures, talking to esteemed guests and picking the brains of the on board experts has still not satiated your thirst for knowledge, then you will be pleased to know that the improved Silver Cloud library will have the answer to any last questions you might have. This educational self-learning space is packed full of destination-driven interesting, informative and original publications, hard-backed reference books and original artefacts. Not forgetting the exclusive Royal Geographical Society exhibitions, making your expedition experience a full 360 degrees.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-reception-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Reception</div>
            <div class="content">
              <p>
              This central lobby area welcomes guests to speak with our receptionist should they have a question or require any service. Assistance is available 24 hours a day.
The Cruise Consultant can also prove indispensable when planning your next Silversea voyage, or should you wish to extend your current voyage for a day, a week, a month… Like having your own personal onboard Silversea professional, the Cruise Consultant will help you to select the perfect voyage, reserve your preferred suite and provide immediate confirmation.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-silverCloud-internetCafe-1-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Internet Cafe</div>
            <div class="content">
              <p>
              From on board this luxury cruise ship, email friends and family back home or surf the web for a nominal fee. CD burners, headphones, digital camera media readers, and complimentary black and white laser printing are also available.              </p>
            </div>
          </div>
        </div>
      </div>
          <div class="">
        <div class="slide-container">
          <div class="col-xs-12 col-md-8 slide-image">
            <img class="slide-background" data-lazy="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/Hi-Res_observation_UC.RGB_color.0006_UC71121-672x372.jpg" />
          </div>
          <div class="col-xs-12 col-md-4 slide-content">
            <div class="title">Observation Lounge</div>
            <div class="content">
              <p>
              The ideal place for scenic days at sea, this vantage point far forward and high atop this luxury cruise ship is perfect for that “king of the world” feeling.              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
</div>

<div class="container">
  <hr />
</div>

<div class="simple-band container promo-guide-container">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 text-center guide-cover">
      <img src="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/SailGuide_Antarctica.jpg" />
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 text-left cta-container">
      <span class="sub-title">Exclusive</span>
      <h2 class="sv_v3__subtitle small-separator">FREE EXPEDITION GUIDE</h2>
      <p class="double-line">Download our free Antarctica travel guide for the very latest information on this vast continent. <br />Our guide will answer all your questions that you might have on: <br />&bullet; When to go<br />&bullet; What to pack<br />&bullet; What to expect<br />&bullet; Trip Highlights<br />&bullet; Itineraries<br />&bullet; Different Regions<br />&bullet; Meet the Team Experts<br />&bullet; What wildlife to lookout for</p>
      
      <div class="text-center text-sm-left">
      <div data-sly-resource="${'parAfar3' @ resourceType='wcm/foundation/components/parsys'}"></div>
       <span class="cta-separator">or</span>
        <div data-sly-resource="${'parAfar4' @ resourceType='wcm/foundation/components/parsys'}"></div>
      </div>
      
    </div>
  </div>
</div>




<div id="lightgallery" data-image-gallery="true">
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX5071-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX5071.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX4862-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX4862.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3956-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3956.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3952-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3952.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/500676996-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/500676996.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3561-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3561.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/Day3-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/Day3.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3507-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3507.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-antarctica-cruise-south-shetland-island-gentoo-penguins-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/silversea-antarctica-cruise-south-shetland-island-gentoo-penguins.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX0750-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX0750.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3943-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3943.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3955-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX3955.jpg"></a>
    <a data-exthumbimage="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX2517-150x150.jpg" href="/etc/designs/silversea-ssc/clientlib-base/images/afar/1722/EX2517.jpg"></a>
  </div>



<section class="whyss__cta_banner" style="height:0"></section>