<div data-sly-test.empty="${(!properties.plan || !properties.locationImages || !properties.virtualTour) && wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Variation asset display"></div>
<div class="row" data-sly-test="${!empty}" data-sly-use.variationAssetDisplay="com.silversea.aem.components.included.VariationAssetDisplay">
    <div class="col-sm-4" data-sly-test="${properties.plan}">
        <a href="${properties.plan}" type="button" data-target=".bs-modal-lg" class="imagemodal">
        </a>
        <div data-sly-resource="${'imgPlan' @ resourceType='silversea/silversea-com/components/editorial/image', wcmmode='disabled'}"></div>
        <strong>${'Suite Plan' @ i18n}</strong>
    </div>
    <div class="col-sm-4" data-sly-test="${properties.locationImages}">
        <div data-sly-resource="${'imglocationImages' @ resourceType='silversea/silversea-com/components/editorial/image', wcmmode='disabled'}"></div>
        <strong>${'Suite Location' @ i18n}</strong>
    </div>
    <div class="col-sm-4" data-sly-test="${properties.virtualTour}">
        <div data-sly-resource="${'imgvirtualTour' @ resourceType='silversea/silversea-com/components/editorial/image', wcmmode='disabled'}"></div>
        <strong>${'Virtual Tour' @ i18n}</strong>
    </div>
</div>