<sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html" />
<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Variation asset display"></div>
<div class="o-section o-section--separator c-variationassetdisplay">
    <div class="row">
        <div class="col-sm-4" data-sly-test.planLightboxPath="${pageProperties.plan || properties.plan}">
            <strong class="visible-xs-block">${'suite-plan' @ i18n}</strong>
            <a href="${planLightboxPath @ prependPath='/is/image/'}?wid=930&fit=fit,1" data-target=".bs-modal-md" class="automatic-modal">
                <sly data-sly-call="${imageTemplate.default @ imagePath=planLightboxPath}"></sly>
            </a>
            <strong class="c-variationassetdisplay--label_asset hidden-xs">${'suite-plan' @ i18n}</strong>
        </div>
        <div class="col-sm-4" data-sly-test.locationimagePath="${pageProperties.locationImage || properties.locationImage}"
            data-sly-use.setImage="${'com.silversea.aem.helper.ImageSetHelper' @ path=locationimagePath}">
            <strong class="visible-xs-block">${'suite-location' @ i18n}</strong>
            <a href="#" data-target=".bs-modal-lg" data-gallery=".gallery" class="automatic-gallery-modal">
                <sly data-sly-call="${imageTemplate.default @ imagePath=setImage.renditionList[0].path}" />
            </a>
            <sly data-sly-use.galleryTemplate="silversea/silversea-com/components/editorial/gallery/gallerytemplate.html"
                data-sly-call="${galleryTemplate.default @ list=setImage.renditionList}" />
            <strong class="c-variationassetdisplay--label_asset hidden-xs">${'suite-location' @ i18n}</strong>
        </div>
        <div class="col-sm-4" data-sly-test.virualtourLightboxPath="${pageProperties.virtualTour || properties.virtualTour}">
            <strong class="visible-xs-block">${'virtual-tour' @ i18n}</strong>
            <a href="${virualtourLightboxPath @ prependPath='/is/image/'}?wid=930&fit=fit,1" data-target=".bs-modal-md" class="virtual-tour-modal">
                <sly data-sly-call="${imageTemplate.default @ imagePath=virualtourLightboxPath}" />
            </a>
            <strong class="c-variationassetdisplay--label_asset hidden-xs">${'virtual-tour' @ i18n}</strong>
        </div>
    </div>
    <hr />
</div>
