<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder" data-emptytext="cookie disclaimer"></div>
<sly data-sly-use.cookiedisclamer="${'com.silversea.aem.components.included.CookieDisclamerUse'}" />
<div class="c-floatingbar" data-sly-test="${cookiedisclamer.showCookieMsg}" id="c-cookie">
    <div class="container" data-sly-test="${cookiedisclamer.description}">
        <p>${cookiedisclamer.description}</p>
        <button id="c-cookie__close">
            <span class="hidden-xs">${'close' @ i18n}</span>
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>