<div class="c-quote-request-form">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 c-call-request-form__form" data-sly-include="./form.html"></div>
    </div>
</div>

<script>
//Refresh Global Mbox function - A/B Test 
function TargetOffer(){
	try {
		  adobe.target.getOffer({  
			  "mbox": "target-global-mbox",  
			  "success": function(offers) {          
			        adobe.target.applyOffer( { 
			           "mbox": "target-global-mbox",
			           "offer": offers 
			        } );
			  },  
			  "error": function(status, error) {          
			    
			  },
			"timeout": 5000
			});
		}
		catch(error) {
		  console.error(error);
		}
} TargetOffer()

</script>