@media screen and (min-width: @screen-md-min) {
    .c-tab__nav--fixed .c-tab__link--dark {
        padding-top: 6px;

        a {
            background-color: @grey;
            color: @white;
            height: 60px;
            line-height: 60px;
            text-transform: uppercase;
            transition: background 200ms ease-in-out;

            &:hover {
                background-color: @grey--8;
            }
        }

        &[data-state='active'] {
            border: 1px solid @black;
            border-bottom: 0;
            font-weight: 400;
            padding-top: 0;
            margin-left: -1px;

            a {
                background-color: @white;
                color: @black;
                height: 66px;
                line-height: 66px;

                &:before {
                    border-color: @black;
                    left: -1px;
                    top: -1px;
                }
            }
        }
    }
}
