.c-cruise__footnotes {
    width: 100%;
    border-bottom: 1px solid #E9E9E9;

    i {
        font-size: 12px;
        padding: 10px 0;
        color: #646464;
        display: block;
        font-family: @f-sans_serif;
    }
}
