.c-suitelist {
    &__heading {
        transition: background-color 300ms,  opacity 300ms;
    }

    &__image {
        height: 150px;
        overflow: hidden;
        position: relative;

        img {
            top: 50%;
            position: absolute;
            left: 0;
            transform: translateY(-50%);
        }
    }

    &__detail {
        &__title {
            font-family: @f-theano_didot;
            font-size: 22px;
            line-height: 20px;
            margin: 10px 0 8px;
            text-transform: uppercase;
        }

        &__description {
            line-height: 18.2px;
            margin: 0;
        }
    }

    &__price {
        font-size: 13px;
        text-transform: uppercase;

        &__text {
            display: block;

            &--important {
                font-size: 20px;
                font-weight: 700;
                line-height: 25px;
                text-transform: uppercase;
            }

            &--important2 {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }

    @media screen and (max-width: @screen-sm) {
        &__item {
            margin-bottom: 20px;
        }

        &__heading {
            border: 1px solid @grey--d;
            cursor: pointer;
            padding-bottom: 15px;
            text-align: center;
        }

        &__button {
            margin-top: 13px;
        }
    }

    @media screen and (min-width: @screen-md-min) {
        &__item {
            border-bottom: 1px solid @grey--d;

            &:first-child {
                border-top: 1px solid @grey--d;
            }
        }

        &__heading {
            padding: 15px 0;

            &.collapsed:not(.opacity):hover {
                background-color: @grey--e6;
            }
        }

        &__image, &__detail, &__price, &__button {
            float: left;
        }

        &__image {
            width: 28%;
        }

        &__detail {
            padding: 0 15px 0 10px;
            width: 30%;

            &__title {
                margin: 0 0 12px;
            }
        }

        &__price {
            border: 1px solid @grey--d;
            border-width: 0 1px;
            padding: 0 10px;
            text-align: center;
            width: 20%;
        }

        &__button {
            padding: 0 15px;
            width: 22%;

            .btn {
                display: block;
                padding-right: 21px;
                position: relative;
                width: 100%;

                i {
                    position: absolute;
                    right: 9px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}