.c-cruise__fare {
    border-top: 1px solid #E9E9E9;
    margin-bottom: 30px;

    @media screen and (max-width: @screen-sm) {
        border-top: none;
    }

    .c-list {
            margin-left: 15px;
            padding-right: 15px;

        @media screen and (min-width: @screen-md-min) {
            column-count: 2;
            column-gap: 45px;
            font-size: 13px;
            margin-left: 40px;
            padding-right: 55px;
            width: 100%;
        }

        li {
            list-style-type: square;
            margin-bottom: 2px;
            padding-right: 25px;
            width: 100%;
            -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
            page-break-inside: avoid; /* Firefox */
            break-inside: avoid; /* IE 10+ */
        }
    }

    .c-list__expand {
        font-size: 12px;
        padding: 20px 0 20px 0;
        text-align: center;
    }
}