.enrichments__slider {

    &-item {
        width: 100%;
        text-align: center;

        i {
            font-size: 32px;
        }

        .enrichments__slider__title {
            text-transform: uppercase;
            font-weight: @bold;
            font-size: 14px;
            line-height: 1.5;
            margin: 10px 0 5px;
        }

        .enrichments__slider__subtitle {
            font-size: 11px;
        }
    }
}
