.c-cruise-ship-info {
    .c-cruise-ship-info__item {
        margin: 10px 0;

        &:nth-of-type(1n+3) {
            display: none;
        }
        @media screen and (max-width: @screen-xs) {
            &:nth-of-type(1n+2) {
                display: none;
            }
        }

        .variationimg {
            padding: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        .variationcontent {
            padding: 10px 0 0 30px;

            @media screen and (max-width: @screen-sm) {
                padding: 0;
            }

            &__title {
                padding: 0;
                margin: 10px 0;
                font-size: 30px;
                line-height: 1.2;
                font-family: @f-theano_didot;

                @media screen and (max-width: @screen-sm) {
                    font-size: 25px;
                    text-align: center;
                }
            }

            &__descr {
                padding: 0;
                margin: 0 0 18px;
                font-size: 13px;
                line-height: 1.5;

                &_expand {
                    text-align: center;
                    font-size: 12px;
                    padding: 0 0 10px 0;
                }
            }
        }

        .col-sm-pull-6 {
            &.variationcontent {
                padding: 10px 30px 0 0;

                @media screen and (max-width: @screen-sm) {
                    padding: 0;
                }
            }
        }
    }
    
    .read_more, .read_less{
        text-align: center;
        margin-top: 30px;
    }
    .variationcontent__descr_expand{
        display: none;
    }
}

.ship-mobilewrapper {
    @media screen and (max-width: @screen-sm) {
        padding: 15px;
        border: 1px solid #e9e9e9;
    }
}

