<div class="c-floatingbar">
    <div class="container">
        <div class="aem-Grid aem-Grid--12">
            <div class="c-list c-list--center">
               <ul class="c-list__group">
                   <li class="c-btn__inner">
                       <a href="#" class="c-btn c-btn--red" type="button">
                           <span class="c-btn--desktop">Request a </span>quote <i class="fa fa-lg fa-angle-right"></i>
                       </a>
                   </li>
                   <li class="c-btn__inner">
                       <a href="#" class="c-btn c-btn--grey" type="button">
                           <span class="c-btn--desktop">Request or download a /span>brochures <i class="fa fa-lg fa-angle-right"></i>
                       </a>
                   </li>
                   <li class="c-btn__inner">
                       <a href="#" class="c-btn c-btn--grey" type="button">Sign up<span class="c-btn--desktop"> for exclusive offers</span> <i class="fa fa-lg fa-angle-right"></i>
                       </a>
                   </li>
                </ul>
            </div>
        </div>
    </div>
</div>