.route-slider {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 40px;

  .slick-dots {
    width: 100%;
  }

  .route-content {
    width: 98%;
    vertical-align: top;
    font-size: 16px;
    white-space: normal;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    min-height: 170px;
    text-align: center;
    border: 1px solid #ddd;

    &:hover {
      background: @grey--e6;
    }

    &.slick-slide {
      margin: 0px 4px;
    }

    .route-content-square {
      font-family: @freight;
      font-size: 16px;

      time {
        margin: 5px 0 15px;
        padding: 10px 15px;
        color: @white;
        background: @nd-dark;
        display: inline-block;
      }

      strong {
        line-height: 22px;
        font-weight: 400;
        display: block;
        text-transform: uppercase;
        font-family: @freight;
      }
    }

    &.route-active {
      color: @white;
      background: @nd-dark;
      border: none;

      time {
        color: @black;
        background: @grey--e6;
      }

      strong {
        color: @white;
      }
    }
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  .route-slider {
    .route-content {
      padding: 0px !important;
      padding-top: 35px !important;
    }
  }
}

@media (max-width: @screen-sm) {
  .route-slider {
    margin-bottom: 62px;
    .route-content {
      width: 100%;
      font-size: 22px;
      padding: 35px;
      min-height: 219px;

      .route-content-square {
        font-size: 17px;
      }
    }

    .slick-slide:not(.slick-current) {
      transform: scale(0.95);
      opacity: 0.6;
      background-color: #f4f4f4;
    }

    .slick-dots {
      width: 60%;
      bottom: -40px;
    }
  }
}

@media (max-width: @screen-sm) and (orientation: landscape) {
  .route-slider {
    .route-content {
      padding: 0px;
      padding-top: 35px;
    }
  }
}