/*
 * Afar specific component
 */
.c-afarStaticComponent, .afarStaticComponent{
	width: 100vw !important;
	left: ~"calc(-50vw + 50%)";
	position:relative;
}

/*
 * Teaser custom margin
 */
.teaser_custom {
	margin-bottom:0px !important;
}

/*Possible to hide some br in tablet and mobile */
.hide-br {
	@media (max-width: @screen-md-min) {
		display: none;
	}
}