<div data-sly-test.empty="${(wcmmode.edit || wcmmode.design) && !pageProperties.longDescription && !pageProperties.suiteFeature}" class="cq-placeholder" data-emptytext="Suite variation properties display"></div>
<div class="o-area-property-display" data-sly-use.cpt="com.silversea.aem.components.displayProperties.SuiteVariationDisplayPropertiesUse">
    <sly data-sly-use.sliderTemplate="silversea/silversea-com/components/editorial/slider/slidertemplate.html"
        data-sly-call="${sliderTemplate.populatefromSet @ setImagePath=pageProperties.assetSelectionReference || cpt.suitePage.properties.assetSelectionReference}"></sly>
    <h1 class="o-title">${currentPage.navigationTitle || currentPage.title || cpt.suitePage.navigationTitle || cpt.suitePage.title @ context='html'}</h1>
    <div class="o-section o-section--separator o-description">
        <div class="row">
            <div class="col-sm-6">
                <div class="text">
                    ${pageProperties.longDescription || currentPage.description || cpt.suitePage.properties['longDescription'] || cpt.suitePage.description @ context='html'}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="suitevariation__bedroominfo"> ${pageProperties.bedroomsInformation @ context='html'}</div>
            </div>
        </div>
        <div class="suitevariation__features" data-sly-test="${pageProperties.suiteFeature}">
            <h4>${'features' @ i18n}</h4>
            <ul data-sly-list="${pageProperties.suiteFeature}">
                <li>${item @ context='html'}</li>
            </ul>
        </div>
    </div>
</div>