<div class="o-area-property-display">
    <div data-sly-use.sliderTemplate="silversea/silversea-com/components/editorial/slider/slidertemplate.html">
        <sly data-sly-call="${sliderTemplate.populatefromSet @ setImagePath=pageProperties.assetSelectionReference, query='?wid=680'}"></sly>
        <!-- Title -->
        <h1 class="o-title">${currentPage.navigationTitle || currentPage.title @ context='html'}</h1>
        
        <!-- Description -->
        <div class="o-description">
            ${pageProperties.longDescription || currentPage.description @ context='html'}
        </div>
    </div>
</div>