<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder" data-emptytext="SSC - Smart Button - (#smartbtn-${properties.sscUUID}) ${properties.sscFwContentDesktop ? '' : '(Open and save the property to create the smartbutton witht default values)' }"></div>


<sly data-sly-use.sb="${'com.silversea.aem.components.editorial.SmartButtonUse'}"/>
<sly data-sly-use.fw="${'com.silversea.aem.helper.FrameworkVarHelper' @ properties=sb.sbProperties, property='sscFwContent,sscFwBackgroundColor,sscFwColor,sscFwDisplay,sscFwDisplaySnd,sscFwTextAlign,sscFwTextAlignSnd,sscFwFontSize,sscFwFontSizeSnd,sscFwWidth,sscFwWidthSnd,sscFwMarginTop,sscFwMarginBottom,sscFwMarginLeft,sscFwMarginRight,sscFwPaddingTop,sscFwPaddingBottom,sscFwPaddingLeft,sscFwPaddingRight'}"/>

<div class="ssc-fw-text-align">
    <a id="smartbtn-${properties.sscUUID}"
       href="${sb.sbProperties.linkUrlDesktop @ extension='html'}"
       class="smartbtn ssc-fw-text-align-snd ${sb.sbProperties.isTrasparentButtonDesktop ? 'trasparent-desktop' : ''}  ${sb.sbProperties.isTrasparentButtonTablet ? 'trasparent-tablet' : ''} ${sb.sbProperties.isTrasparentButtonMobile ? 'trasparent-mobile' : ''}  ssc-fw-background-color ssc-fw-display ssc-fw-font-size ssc-fw-width ssc-fw-margin-top ssc-fw-margin-bottom ssc-fw-margin-left ssc-fw-margin-right ssc-fw-padding-top ssc-fw-padding-bottom ssc-fw-padding-left ssc-fw-padding-right"
       style="${fw.allDevices @ context='unsafe'}" data-ie-style="${fw.allDevices @ context='unsafe'}"
       target="${sb.sbProperties.openNewTabDesktop ? '_blank' : ''}"
       data-sscclicktype="${sb.sbProperties.analyticTypeDesktop}"
       data-sscfwjs-properties="${sb.listProperties}"
       data-currentnode="${currentNode.identifier}"
       data-sscfwjs-desktop-data-toggle="${sb.sbProperties.dataToggleDesktop}" data-sscfwjs-tablet-data-toggle="${sb.sbProperties.dataToggleTablet}" data-sscfwjs-mobile-data-toggle="${sb.sbProperties.dataToggleMobile}"
       data-sscfwjs-desktop-data-video="${sb.sbProperties.dataVideoDesktop}" data-sscfwjs-tablet-data-video="${sb.sbProperties.dataVideoTablet}" data-sscfwjs-mobile-data-video="${sb.sbProperties.dataVideoMobile}"
       data-sscfwjs-desktop-data-target="${sb.sbProperties.dataTargetDesktop}" data-sscfwjs-tablet-data-target="${sb.sbProperties.dataTargetTablet}" data-sscfwjs-mobile-data-target="${sb.sbProperties.dataTargetMobile}"
       data-sscfwjs-desktop-data-sscclicktype="${sb.sbProperties.analyticTypeDesktop}" data-sscfwjs-tablet-data-sscclicktype="${sb.sbProperties.analyticTypeTablet}" data-sscfwjs-mobile-data-sscclicktype="${sb.sbProperties.analyticTypeMobile}"
       data-sscfwjs-desktop-href="${sb.sbProperties.linkUrlDesktop}" data-sscfwjs-tablet-href="${sb.sbProperties.linkUrlTablet}" data-sscfwjs-mobile-href="${sb.sbProperties.linkUrlMobile}"
       data-sscfwjs-desktop-target="${sb.sbProperties.openNewTabDesktop}" data-sscfwjs-tablet-target="${sb.sbProperties.openNewTabTablet}" data-sscfwjs-mobile-target="${sb.sbProperties.openNewTabMobile}"
       data-sscfwjs-desktop-data-scrollElement="${sb.sbProperties.enableToScrollElementDesktop}" data-sscfwjs-tablet-data-scrollElement="${sb.sbProperties.enableToScrollElementTablet}" data-sscfwjs-mobile-data-scrollElement="${sb.sbProperties.enableToScrollElementMobile}"
       data-sscfwjs-desktop-data-type="${sb.sbProperties.typeDesktop}" data-sscfwjs-tablet-data-type="${sb.sbProperties.typeTablet}" data-sscfwjs-mobile-data-type="${sb.sbProperties.typeMobile}">
        <span class="ssc-fw-color ssc-fw-content"></span>
        <span class="ssc-fw-display-snd ssc-fw-color ssc-fw-font-size-snd smartbtn-icon ssc-fw-width-snd">
            <i class="fa fa-lg fa-angle-right"></i>
        </span>
    </a>
</div>

<style data-sly-test="${sb.sbProperties.cssDesktop}">
    @media (min-width: 991px) {
    ${sb.sbProperties.cssDesktop @ context='html'}
    }
</style>
<style data-sly-test="${properties.cssTablet}">
    @media (max-width: 990px) and (min-width: 768px) {
    ${sb.sbProperties.cssTablet @ context='html'}
    }
</style>
<style data-sly-test="${properties.cssMobile}">
    @media (max-width: 767px) {
    ${sb.sbProperties.cssMobile @ context='html'}
    }
</style>



