<div data-sly-test.empty="${wcmmode.edit}" class="cq-placeholder cq-dd-image" data-emptytext="Combo Cruise header"></div>
<div class="c-combo-cruise-header" data-sly-use.target="${'com.silversea.aem.helper.PageHelper' @ path=currentPage.path}" data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html">
    <div class="c-combo-cruise__content">
        <h1 class="c-combo-cruise__content__title">${pageProperties.jcr:title @ context="html"}</h1>
        <div class="c-combo-cruise__content__details">
            <span class="c-list-inline__item--bigger">${'starting' @ i18n}</span> <strong>[CC START DATE] ${'in' @ i18n} [CC DEPARTURE PORT]<br />
            ${'aboard' @ i18n} [CC SHIP NAME]</strong><br />
            <span class="c-list-inline__item--bigger">${'from' @ i18n}</span> <strong>[CC PRICE]</strong> (${'per-guest' @ i18n})
        </div>
        <div class="c-combo-cruise__content__resume">
            <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>${pageProperties.duration}</td>
                        <td>${pageProperties.portsAmount}</td>
                        <td>${pageProperties.routesAmount}</td>
                        <td>${pageProperties.countriesAmount}</td>
                    </tr>
                    <tr>
                        <th>${'days' @ i18n}</th>
                        <th>${'ports' @ i18n}</th>
                        <th>${'routes' @ i18n}</th>
                        <th>${'countries' @ i18n}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-sly-test="${properties.pageReference}" class="hidden-xs">
            <a href="${properties.pageReference}" class="c-btn--dark c-combo-cruise__content__btn">${'discover-more' @ i18n} <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="c-combo-cruise__image">
        <sly data-sly-call="${imageTemplate.default @ imagePath=target.thumbnail}" />
    </div>
</div>
