<div data-sly-test.empty="${wcmmode.edit && (!properties.pageReference)}" class="cq-placeholder cq-dd-image" data-emptytext="Combo Cruise header"></div>
<sly data-sly-use.comboCruiseHeaderUse="com.silversea.aem.components.editorial.ComboCruiseHeaderUse"/>

<div class="c-combo-cruise-header ${!comboCruiseHeaderUse.comboCruiseModel.thumbnail ? 'no-image' : ''}">
    <div class="c-combo-cruise-header__content">
        <h1 class="c-combo-cruise-header__content__title">${comboCruiseHeaderUse.comboCruiseModel.title @ context="html"}</h1>
        <div class="c-combo-cruise-header__content__details">
            <sly data-sly-use.dateHelper="${'com.silversea.aem.helper.DateHelper' @ format='MMMMM d', date=comboCruiseHeaderUse.startDate}" />
            <span class="text-uppercase">${'starting' @ i18n}</span>
            <strong>${dateHelper.value} ${'in' @ i18n} ${comboCruiseHeaderUse.comboCruiseModel.departurePortName}<br />
            ${'aboard' @ i18n} ${comboCruiseHeaderUse.comboCruiseModel.ship.title}</strong><br />
            <span class="text-uppercase">${'from' @ i18n}</span>
            <span data-sly-test="${cruise.isWaitList}">${'waitlist' @ i18n}</span>
            <sly data-sly-test="${!cruise.isWaitList}">
                <strong>${comboCruiseHeaderUse.lowestPrice.currency @ i18n} ${comboCruiseHeaderUse.computedPriceFormatted}</strong> (${'per-guest' @ i18n})
            </sly>
        </div>
        <div class="c-combo-cruise-header__content__resume">
            <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>${comboCruiseHeaderUse.comboCruiseModel.duration}</td>
                        <td>${comboCruiseHeaderUse.comboCruiseModel.portsAmount}</td>
                        <td>${comboCruiseHeaderUse.comboCruiseModel.routesAmount}</td>
                        <td>${comboCruiseHeaderUse.comboCruiseModel.countriesAmount}</td>
                    </tr>
                    <tr>
                        <th>${'days' @ i18n}</th>
                        <th>${'ports' @ i18n}</th>
                        <th>${'routes' @ i18n}</th>
                        <th>${'countries' @ i18n}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-sly-test="${properties.pageReference}" class="hidden-xs">
            <a href="${properties.pageReference @ extension='html'}" class="c-btn--dark c-combo-cruise-header__content__btn">
                ${'discover-more' @ i18n} <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>

    <div class="c-combo-cruise-header__image" data-sly-test="${comboCruiseHeaderUse.comboCruiseModel.thumbnail}">
        <sly data-sly-use.imageTemplate="silversea/silversea-com/components/editorial/image/imagetemplate.html"
            data-sly-call="${imageTemplate.default @ imagePath=comboCruiseHeaderUse.comboCruiseModel.thumbnail}" />
    </div>
</div>
