<template data-sly-template.default="${ @ comboCruise }">
    <section class="cc-benefitsandeventstab">
        <div class="cc-tab_header_title" data-sly-resource="${'benefits-title' @ resourceType='silversea/silversea-com/components/editorial/text'}"></div>
        <div class="cc-tab_header_desc row">
            <div class="cc-tab_header_desc_txt col-sm-12" data-sly-resource="${'benefits-description' @ resourceType='silversea/silversea-com/components/editorial/text'}"></div>
        </div>
    </section>
</template>