<sly data-sly-use.comboCruiseUse="com.silversea.aem.components.page.ComboCruiseUse" />
<section class="cc-benefitsandeventstab">
    <div class="cc-tab_header_title" data-sly-resource="${'benefits-title' @ resourceType='silversea/silversea-com/components/editorial/text'}"></div>
    <div class="cc-tab_header_desc row">
        <div class="cc-tab_header_desc_txt col-sm-9" data-sly-resource="${'benefits-description' @ resourceType='silversea/silversea-com/components/editorial/text'}"></div>
        <div class="cc-tab_header_desc_cta col-sm-3">
            <a class="btn btn-thin btn-red effect" href="${comboCruiseUse.requestQuotePagePath @ extension='html'}"><span>${'request-quote' @ i18n}</span><i class="fa fa-angle-right"></i></a>
            <div data-sly-resource="${'./btn1' @ resourceType='silversea/silversea-com/components/editorial/button/buttonconfigureonly'}"></div>
            <a class="btn btn-thin btn-dark effect" data-tab-target="#suitenfare"><span>${'suites-and-fares' @ i18n}</span><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</section>
