@import "/etc/designs/silversea-com/clientlib-base/less/variables.less";

.open-lightbox-map {
  z-index: 2;
}

@media(min-width: @screen-md-min) {
  .modal.lightbox .modal-content.lightbox-gallery-assets-content {
    top: 60px;
  }
}

.lightbox-map {
  .ratio-big-itinerary {
    height: 577px;
  }
  .ratio-small-itinerary img {
    height: 80px !important;
    width: 130px !important;
    z-index: 100;
    top: 15px !important;
    left: 15px !important;
  }
}
