.c-footer-breadcrumb{
  margin-top:20px;
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  .c-breadcrumb {
    color:#888787;
  }
}

hr {
  border-color: fade(@white, 20%) !important;
}


}