.c-hero-banner {
    &-scrolldown {      
        font-size: 17px;
    }

    &__title {
        font-family: @freight;
        font-size: 30px;        
    }

    @media screen and (min-width: @screen-md-min) {       
        &__title {
            font-size: 37px;
            text-align: left;
        }
    }

    @media screen and (max-width: @screen-sm) {
        .c-hero-banner__title {           
            font-size: 26px;           
        }
       
        .c-hero-banner__description {          
            font-size: 15px;           
            font-family: @suisse;           
        }

        .c-hero-banner__buttons {
            a {                
                font-size: 15px;               
                span {
                    font-size: 12px;
                }
            }
        }
    }
}
