.c-teaser {
    &__wrapper {
        &__title {
            font: @subheader-desktop-fontsize-24 @freight;           
            padding-bottom:12px !important;
            text-transform:capitalize;
            @media screen and (max-width: @screen-sm) {              
                font-family: @freight;              
                font-size: @subheader-mobile-fontsize-20;                
            }
        }

        &__descr {        
            font-size: @body-desktop-fontsize-14;           
        }
    }   
    &__descr-mobile {
        @media screen and (max-width: @screen-sm) {
            font-size: @body-mobile-fontsize-13;           
        }
    }
    &__link {      
        font-size: @button-desktop-fontsize-13;   
        color:@color-second;         
        font-family: @suisse;             
        font-weight: normal;
        @media screen and (max-width: @screen-sm) {           
            font-size: @button-mobile-fontsize-12;           
        }     
    }
}
